{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translator().translate('Calendar') }}</h1>
    </div>

    <div class="row" id="calendar"></div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').calendar(
                {
                    url: '{{ url('calendar', {'action': 'month'}) }}',
                    month: {{ date.format('m') }},
                    year: {{ date.format('Y') }},
                    previousText: '{{ translator().translate('Previous') }}',
                    nextText: '{{ translator().translate('Next') }}',
                    viewText: '{{ translator().translate('View') }}',
                }
            );
        });
    </script>
{% endblock %}
