{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'syllabus/admin/subject/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}


    <div class="flashmessage success_message full_width prof_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The docent was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width prof_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the docent.</p>
        </div>
    </div>

    <div class="flashmessage success_message full_width study_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The study was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width study_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the study.</p>
        </div>
    </div>

    {% include 'syllabus/admin/subject/partials/years.twig' %}

    <div id="controller_action">
        <h1>Subject</h1>

        <p>Code: <b>{{ subject.getCode() }}</b></p>
        <p>Name: <b>{{ subject.getName() }}</b></p>
        <p>Semester: <b>{{ subject.getSemester() }}</b></p>
        <p>Credits: <b>{{ subject.getCredits() }}</b></p>
        <p>Students: <b>{{ subject.getNbEnrollment(currentAcademicYear) }}</b></p>
        <br />

        {% if hasAccess('syllabus_admin_subject', 'add') %}
            {% import 'admin/partials/form.twig' as forms %}
            {{ forms.renderForm(form) }}
            <br style="clear:both" />
        {% endif %}

        <div>
            <h1>Docents</h1>
            <table class="manage">
                <tr>
                    <th width="90px">Identification</th>
                    <th>Name</th>
                    <th width="70px">Actions</th>
                </tr>

                {% for mapping in profMappings %}
                    <tr class="item item-prof-{{ mapping.getId() }}">
                        <td>{{ mapping.getProf().getUniversityIdentification() }}</td>
                        <td>{{ mapping.getProf().getFullName() }}</td>
                        <td class="actions">
                            {% if hasAccess('syllabus_admin_prof', 'delete') %}
                                <a href="#" data-id="{{ mapping.getId() }}" data-docent="{{ mapping.getProf().getFullName() }}" data-subject="{{ subject.getName() }}" class="deleteProf delete">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <h1>Articles</h1>
            <table>
                <tr>
                    <th>Title</th>
                    <th width="100px">Author</th>
                    <th width="180px">Publisher</th>
                    <th width="50px">Year</th>
                    <th width="60px">Type</th>
                    <th width="70px">Action</th>
                </tr>

                {% for mapping in articleMappings %}
                    <tr class="item">
                        <td>{{ mapping.getArticle().getTitle() }}</td>
                        <td>{{ mapping.getArticle().getAuthors() }}</td>
                        <td>{{ mapping.getArticle().getPublishers() }}</td>
                        <td>{{ mapping.getArticle().getYearPublished() }}</td>
                        <td>{% if mapping.getArticle().isInternal() %}Internal{% else %}External{% endif %}</td>
                        <td class="actions">
                            {% if hasAccess('cudi_admin_article', 'edit') %}
                                <a href="{{ url('cudi_admin_article', {"action": "edit", "id": mapping.getArticle().getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <h1>Studies</h1>
            <table class="manage">
                <tr>
                    <th>Title</th>
                    <th width="100px">Mandatory</th>
                    <th width="70px">Action</th>
                </tr>

                {% for mapping in studyMappings %}
                    <tr class="item item-study-{{ mapping.getId() }}">
                        <td>{{ mapping.getStudy().getFullTitle() }}</td>
                        <td>{% if mapping.isMandatory() %}yes{% else %}no{% endif %}</td>
                        <td class="actions">
                            {% if hasAccess('syllabus_admin_subject_study', 'edit') %}
                                <a href="{{ url('syllabus_admin_subject_study', {"action": "edit", "id": mapping.getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('syllabus_admin_subject_study', 'delete') %}
                                <a href="#" data-title="{{ mapping.getStudy().getFullTitle() }}" data-id="{{ mapping.getId() }}" data-url="{{ url('syllabus_admin_subject_study', {'action': 'delete', 'id': mapping.getId()}) }}" class="deleteStudy delete">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <aside>
        {% if hasAccess('syllabus_admin_prof', 'add') %}
            <div class="sidebox">
                <div class="title">Add Docent</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to add a docent to this subject!</i>
                    </p>
                    <p>
                        <a href="{{ url("syllabus_admin_prof", {"action": "add", "id": subject.getId(), "academicyear": currentAcademicYear.getCode()}) }}">&rarr; Add Docent</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('syllabus_admin_subject_comment', 'subject') %}
            <div class="sidebox">
                <div class="title">View Comments</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to view the comments to this subject!</i>
                    </p>
                    <p>
                        <a href="{{ url("syllabus_admin_subject_comment", {"action": "subject", "id": subject.getId()}) }}">&rarr; View Comments</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('syllabus_admin_subject_study', 'add') %}
            <div class="sidebox">
                <div class="title">Add Study</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to add a study to this subject!</i>
                    </p>
                    <p>
                        <a href="{{ url("syllabus_admin_subject_study", {"action": "add", "id": subject.getId(), "academicyear": currentAcademicYear.getCode()}) }}">&rarr; Add Study</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>

    <div class="modal hide fade" id="removeProf">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Delete Docent
        </div>
        <div class="modal-body">
            <p>
                You are about to delete the following docent: <b class="docentName"></b>!
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <input type="button" class="delete" value="Yes">
                <input type="button" class="cancel" data-dismiss="modal" value="No">
            </div>
        </div>
    </div>

    <div class="modal hide fade" id="removeStudy">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Delete Study
        </div>
        <div class="modal-body">
            <p>
                You are about to delete the following study: <b class="studyName"></b>!
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <input type="button" class="delete" value="Yes">
                <input type="button" class="cancel" data-dismiss="modal" value="No">
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .deleteProf').click(openProfModal);
            $('.item .deleteStudy').click(openStudyModal);
        });

        function openProfModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeProf = $('#removeProf');
            removeProf.find('.docentName').html($(this).data('docent'));
            var id = $this.data('id');
            removeProf.find('.delete').unbind('click').click(function () {
                $.post('{{ url('syllabus_admin_prof', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.prof_removed_success').removeClass('hide');
                        $('.item-prof-' + id).remove();
                        removeProf.modal('hide');
                    } else {
                        errorProfRemove();
                    }
                }, 'json').error(errorProfRemove);
            });
            removeProf.modal();
        }

        function errorProfRemove() {
            $('.flashmessage').addClass('hide');
            $('.prof_removed_error').removeClass('hide');
            $('#removeMapping').modal('hide');
        }

        function openStudyModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeStudy = $('#removeStudy');
            removeStudy.find('.studyName').html($(this).data('title'));
            var id = $this.data('id');
            removeStudy.find('.delete').unbind('click').click(function () {
                $.post('{{ url('syllabus_admin_subject_study', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.study_removed_success').removeClass('hide');
                        $('.item-study-' + id).remove();
                        removeStudy.modal('hide');
                    } else {
                        errorStudyRemove();
                    }
                }, 'json').error(errorStudyRemove);
            });
            removeStudy.modal();
        }

        function errorStudyRemove() {
            $('.flashmessage').addClass('hide');
            $('.study_removed_error').removeClass('hide');
            $('#removeStudy').modal('hide');
        }
    </script>
{% endblock %}
