{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'syllabus/admin/subject/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    {% include 'syllabus/admin/subject/partials/years.twig' %}

    <div id="controller_action">
        <div id="subject_search" style="display:none;">
            <div style="padding:4px;text-align:right">
                Search:
                <select id="searchField">
                    <option value="name">Name</option>
                    <option value="code">Code</option>
                </select>
                is
                <input type="text" id="searchString" size="30" />
            </div>

            <table class="full_width manage">
                <tr>
                    <th width="80px">Code</th>
                    <th>Name</th>
                    <th width="70px">Semester</th>
                    <th width="60px">Credits</th>
                    <th width="70px">Actions</th>
                </tr>
            </table>
        </div>

        <div id="default_page">
            <table class="full_width manage">
                <tr>
                    <th width="80px">Code</th>
                    <th>Name</th>
                    <th width="70px">Semester</th>
                    <th width="60px">Credits</th>
                    <th width="70px">Actions</th>
                </tr>

                {% for subject in paginator %}
                    <tr class="item">
                        <td>{{ subject.getCode() }}</td>
                        <td>{{ subject.getName() }}</td>
                        <td>{{ subject.getSemester() }}</td>
                        <td>{{ subject.getCredits() }}</td>
                        <td class="actions">
                            {% if hasAccess('syllabus_admin_subject', 'edit') %}
                                <a href="{{ url('syllabus_admin_subject', {"action": "edit", "id": subject.getId(), "academicyear": currentAcademicYear.getCode()}) }}" class="view">View</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% include 'admin/partials/paginationControl.twig' %}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if hasAccess('syllabus_admin_subject', 'search') %}
            $.searchDatabase({
                defaultPage: $('#default_page'),
                searchDiv: $('#subject_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                searchPage: '{{ url('syllabus_admin_subject', {'action': 'manage', 'academicyear': currentAcademicYear.getCode()}) }}',
                url: '{{ url('syllabus_admin_subject', {'action': 'search', 'academicyear': currentAcademicYear.getCode()}) }}',
                display: function (data) {
                    $('#subject_search table').find('tr.item').remove();
                    $(data).each(function () {
                        $('#subject_search table').append(row = $('<tr>', {class: 'item'}));
                        row.append('<td>' + this.code + '</td>')
                            .append('<td>' + this.name + '</td>')
                            .append('<td>' + this.semester + '</td>')
                            .append('<td>' + this.credits + '</td>')
                            .append(actions = $('<td>', {'class': 'actions'}));
                        {% if hasAccess('syllabus_admin_subject', 'edit') %}
                            actions.append('<a href="{{ url('syllabus_admin_subject') }}edit/' + this.id + '/{{ currentAcademicYear.getCode() }}" class="view">View</a>')
                        {% endif %}
                    });
                    $('#subject_search table').change();
                },
                clear: function () {
                    $('#subject_search table').find('tr.item').remove();
                }
            });
            {% endif %}
        });
    </script>
{% endblock %}
