{% extends 'site/base.twig' %}

{% block content %}
	<div class="alert alert-info">
        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>

	<div class="row">
	    <div class="span3">
	    	<a href="{{ url('calendar') }}"><img class="headingIcon" src="/_site/img/glyphicons-calendar.png" /></a>
	    	<h2>{{ translate('Calendar') }}</h2>

		    {% for day in calendarItems %}
		        <div class="item">
		        	<span class="date left">{{ dateLocalized(day.date, 'd MMM') }}</span>

		        	<p>
		        	    {% for event in day.events %}
    		        		<i class="icon-time"></i> <a href="{{ url('calendar', {'action': 'view', 'id': event.getName()}) }}" rel="popover" data-original-title="{{ event.getTitle(language) }}" data-content="{% autoescape false %}{{ markdown(event.getContent(language)) }}{% endautoescape %}">{{ dateLocalized(event.getStartDate(), 'h:mm') }}&mdash;{{ event.getTitle(language) }}</a><br />
    		        	{% endfor %}
		        	</p>
		        </div>
		    {% else %}
		    	<div class="headingSpacer"></div>

		    	<div class="alert">
		    	    <strong>{{ translate('Warning') }}</strong> {{ translate('No events were created yet.') }}
		    	</div>
		    {% endfor %}
	    </div>

	   	<div class="span3">
	   		<img class="headingIcon" src="/_site/img/glyphicons-twitter.png" />
			<h2>{{ translate('Twitter') }}</h2>
	   	</div>

	   	<div class="span6">
	   		<a href="{{ url('news') }}"><img class="headingIcon" src="/_site/img/glyphicons-news.png" /></a>
	    	<h2>{{ translate('News') }}</h2>

	    	{% for item in newsItems %}
	    		<div class="item">
	    			<span class="date right">{{ dateLocalized(item.getCreationTime(), 'd MMM') }}</span>

	    			<h3>{{ item.getTitle(language) }}</h3>

    				<blockquote>
	    				{% autoescape false %}
	    					{{ markdown(item.getSummary(100, language)) }}
	    				{% endautoescape %}
	    				<small><a href="{{ url('news', {'action': 'view', 'name': item.getName(language)}) }}">{{ translate('View') }}</a></small>
    				</blockquote>
	    		</div>
	    	{% else %}
	    		<div class="headingSpacer"></div>

	    		<div class="alert">
	    		    <strong>{{ translate('Warning') }}</strong> {{ translate('No news items were posted yet.') }}
	    		</div>
	    	{% endfor %}
	    </div>
    </div>
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$('a[rel=popover]').popover({'trigger': 'hover'});
	</script>
{% endblock %}
