{% extends 'site/base.twig' %}

{% block content %}

	{% for notification in notifications %}
		<div class="alert alert-info notification">
	        {{ markdown(notification.getContent()) }}
	    </div>
	{% endfor %}

	<div class="row-fluid">
	    <div class="span6">
	    	<a href="{{ url('calendar') }}"><img class="heading-icon" src="/_site/img/glyphicons-calendar.png" /></a>
	    	<h2>{{ translate('Calendar') }}</h2>

		    {% for day in calendarItems %}
		        <div class="item">
		        	<span class="date left">{{ dateLocalized(day.date, 'd MMM') }}</span>

		        	<p>
		        	    {% for event in day.events %}
    		        		<i class="icon-time"></i> <a href="{{ url('calendar', {'action': 'view', 'id': event.getName()}) }}" rel="popover" data-original-title="{{ event.getTitle(language) }}" data-content="{% autoescape false %}{{ event.getSummary(200, language) }}{% endautoescape %}">{{ dateLocalized(event.getStartDate(), 'HH:mm') }}&mdash;{{ event.getTitle(language) }}</a><br />
    		        	{% endfor %}
		        	</p>
		        </div>
		    {% else %}
		    	<div class="heading-spacer"></div>

		    	<div class="alert">
		    	    {{ translate('No events were created yet.') }}
		    	</div>
		    {% endfor %}
	    </div>

	   	<div class="span6">
	   		<a href="{{ url('news') }}"><img class="heading-icon" src="/_site/img/glyphicons-news.png" /></a>
	    	<h2>{{ translate('News') }}</h2>

	    	{% for item in newsItems %}
	    		<div class="item">
	    			<span class="date right">{{ dateLocalized(item.getCreationTime(), 'd MMM') }}</span>

	    			<h3>{{ item.getTitle(language) }}</h3>

    				<blockquote>
	    				{% autoescape false %}
	    					{{ markdown(item.getSummary(200, language)) }}
	    				{% endautoescape %}
	    				<small><a href="{{ url('news', {'action': 'view', 'name': item.getName(language)}) }}">{{ translate('Read More') }}</a></small>
    				</blockquote>
	    		</div>
	    	{% else %}
	    		<div class="heading-spacer"></div>

	    		<div class="alert">
	    		    {{ translate('No news items were posted yet.') }}
	    		</div>
	    	{% endfor %}
	    </div>
    </div>
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$('a[rel=popover]').popover({'trigger': 'hover'});
	</script>
{% endblock %}
