{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'sport/admin/run/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <table class="full_width manage">
                <tr>
                    <th>Name</th>
                    <th width="400px">Runners</th>
                    <th width="100px">Happy Hours</th>
                    <th width="50px">Points</th>
                    <th width="50px">speedy?</th>
                    <th width="50px">Actions</th>
                </tr>

           
                {% for group in paginator %}
                    <tr class="item item-{{ group.getId() }}">
                        <td>{{ group.getName() }}</td>
                        <td>
                            {% for runner in group.getMembers() %}
								{{ runner.getFullName() }}{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for happyHour in group.getHappyHours() %}
                                {{ happyHour }}{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ group.getPoints(academicYear) }}</td>
                        <td>{% if group.getIsSpeedyGroup()%} &times;{% endif %}</td>
                        <td class="actions">
                            {% if hasAccess('sport_admin_run', 'editGroup') %}
                                <a href="{{ url('sport_admin_run', {'action': 'editGroup', 'id': group.getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('sport_admin_run', 'editSpeedyGroup') %}
                               <a href="{{ url('sport_admin_run', {'action': 'editSpeedyGroup', 'id': group.getId()}) }}" class="edit">Edit speedy</a>
                            {% endif %}

                            
                            
                        </td>
                    </tr>
                {% endfor %}
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>
{% endblock %}
