{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'sport/admin/run/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage error_message full_width hide" id="loading_queue_error">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while loading the queue.</p>
        </div>
    </div>
    <div class="flashmessage success_message full_width hide" id="lap_removed_success">
        <div class="title">Success</div>
        <div class="content">
            <p>The lap was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage warning_message full_width hide" id="socket_killed_success">
        <div class="title">Success</div>
        <div class="content">
            <p>The socket was successfully killed!</p>
        </div>
    </div>

    <div id="controller_action">
        <table class="manage">
            <thead>
                <tr>
                    <th>Runner</th>
                    <th width="150px">Registration Time</th>
                    <th width="150px">Duration</th>
                    <th width="75px">Points</th>
                    <th width="70px">Action</th>
                </tr>
            </thead>

            <tbody id="queue"></tbody>
        </table>
    </div>

    <aside>
        {% if hasAccess('sport_admin_run', 'next') %}
            <div class="sidebox">
                <div class="title">New Lap</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to start timing a new lap or to stop the current lap!</i>
                    </p>
                    <p>
                        <a href="#" id="nextLap" style="display: none">&rarr; Next Lap</a>
                        <a href="#" id="stopLap" style="display: none">&rarr; Stop</a>
                    </p>
                </div>
            </div>
        {% endif %}

        <div class="sidebox">
            <div class="title">Total Laps</div>
            <div class="content">
                <p>
                    According to our own counter, we have run <b id="nbOwnLaps">N/A</b> laps right now.
                </p>

                <p>
                    The official count is <b id="nbOfficialLaps">N/A</b>.
                </p>
            </div>
        </div>

        {% if hasAccess('sport_admin_run', 'update') %}
            <div class="sidebox">
                <div class="title">Update Manager</div>
                <div class="content">
                    <p>
                        Force the socket to push changes to the clients.
                    </p>

                    <p>
                        <a href="{{ url('sport_admin_run', {'action': 'update'}) }}">&rarr; Update Manager</a>
                    </p>
                </div>
            </div>
        {% endif %}

        {% if hasAccess('sport_admin_run', 'killSocket') %}
            <div class="sidebox">
                <div class="title">Restart Socket</div>
                <div class="content">
                    <p>
                        Force the socket to restart.
                    </p>

                    <p>
                        <a id="killSocket" href="#">&rarr; Restart Socket</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>

    <div class="modal hide fade" id="removeLap">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Delete Lap
        </div>
        <div class="modal-body">
            <p>
                You are about to delete the lap from the following runner: <b class="runner"></b>?
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <button class="delete">Yes</button>
                <button class="cancel" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#queue').runQueue({
                url: '{{ socketUrl }}',
                key: '{{ key }}',
                authSession: '{{ authSession.getId() }}',
                errorDialog: $('#loading_queue_error'),
                displayLaps: displayLaps
            });

            {% if hasAccess('sport_admin_run', 'killSocket') %}
            $('#killSocket').click(function(e) {
                e.preventDefault();
                $.post('{{ url('sport_admin_run', {"action": "killSocket"})}}', function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('#socket_killed_success').removeClass('hide');
                    }
                }, 'json');

                setTimeout(function() {
                    $('#socket_killed_success').addClass('hide');
                }, 2000);
            });
            {% endif %}

            {% if hasAccess('sport_admin_run', 'next') %}
                $(document).on('keypress.space', spacePressed);
            {% endif %}
        });

        {% if hasAccess('sport_admin_run', 'next') %}
        function spacePressed(e) {
            if (e.which == 32) {
                e.preventDefault();
                $(document).off('keypress.s');
                $(document).on('keypress.s', function (e) {
                    if (e.which == 115) {
                        $(document).off('keypress.s');
                        $('#queue').runQueue('startLap');
                    }
                });
            }
        }
        {% endif %}

        function displayLaps(data) {
            $('#queue').html('');

            $('#nbOwnLaps').html(data.number.own);

            if (data.officialResults)
                $('#nbOfficialLaps').html(data.officialResults.nbLaps);

            {% if hasAccess('sport_admin_run', 'next') %}
            $('#nextLap, #stopLap').unbind('click').click(function () {$('#queue').runQueue('startLap')});
            {% endif %}

            var hasCurrentRunner = false;
            var hasNextRunner = false;
            $(data.laps).each(function (num, lap) {
                if (lap == undefined)
                    return;

                var row = $('<tr>', {'class': 'item item-' + lap.id});
                row.append(
                    runnerName = $('<td>').html(lap.fullName),
                    $('<td>').html(lap.registrationTime),
                    lapTime = $('<td>'),
                    points = $('<td>'),
                    actions = $('<td>')
                );

                if (lap.state == 'previous') {
                    lapTime.html(lap.lapTime);
                    points.html(lap.points);
                } else if (lap.state == 'current') {
                    lapTime.html($('<i>').html('Running'));
                    runnerName.html('&rarr; ' + runnerName.html());
                    hasCurrentRunner = true;
                } else {
                    lapTime.html($('<i>').html('Queued'));
                    hasNextRunner = true;
                }

                if (lap.state != 'previous') {
                    {% if hasAccess('sport_admin_run', 'delete') %}
                    actions.append(
                        $('<a>', {'class': 'delete', 'href': '#'}).html('Delete').data({
                            id: lap.id,
                            runner: lap.fullName
                        })
                    );
                    {% endif %}
                }
                $('#queue').append(row);

                actions.find('.delete').click(removeLap);
            });

            if (hasNextRunner) {
                $('#stopLap').hide();
                $('#nextLap').show();
            } else if (hasCurrentRunner) {
                $('#nextLap').hide();
                $('#stopLap').show();
            } else {
                $('#stopLap, #nextLap').hide();
            }
        }

        function removeLap(e) {
            e.preventDefault();

            var removeLap = $('#removeLap');
            removeLap.find('.runner').html($(this).data('runner'));
            var id = $(this).data('id');
            removeLap.find('.delete').unbind('click').click(function () {
                $('#queue').runQueue('deleteLap', id)
                $('.flashmessage').addClass('hide');
                $('#lap_removed_success').removeClass('hide');
                $('.item-' + id).remove();
                removeLap.modal('hide');

                setTimeout(function() {
                    $('#lap_removed_success').addClass('hide');
                }, 2000);
            });
            removeLap.modal();
        }
    </script>
{% endblock %}
