{% extends 'prof/base.twig' %}

{% block content %}
    <div class="row">
    	<div class="span9 columns">
    	    {% autoescape false %}
    	        {{ form }}
    	    {% endautoescape %}
    	</div>
    	<div class="span3 columns">
    	    {% if hasAccess('prof_comment', 'manage') %}
        	    <h3>{{ translator().translate('Comments') }}</h3>
        	    <p>{{ translator().translate('View comments on this article and add one.') }}</p>
        	    <p><a href="{{ url("prof_comment", {"action": "manage", "id": article.getId(), "language": language.getAbbrev()}) }}" class="btn">{{ translator().translate('Comments') }}</a></p>
        	{% endif %}
    	    {% if hasAccess('prof_file', 'manage') and article.isInternal() %}
        	    <h3>{{ translator().translate('Files') }}</h3>
        	    <p>{{ translator().translate('Manage the files of this article.') }}</p>
        	    <p><a href="{{ url("prof_file", {"action": "manage", "id": article.getId(), "language": language.getAbbrev()}) }}" class="btn">{{ translator().translate('Files') }}</a></p>
        	{% endif %}
    	</div>
    </div>
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('#internal').click(toggleInternal)
				.parent().parent().hide();
			toggleInternal();
		});
		
		function toggleInternal() {
			if ($('#internal').is(':checked'))
				$('#internal_form').show();
			else
				$('#internal_form').hide();
		}
	</script>
{% endblock %}
