{% extends 'prof/base.twig' %}

{% block content %}
	<div class="page-header">
	    <h2>{{ translate('Articles') }}</h2>
	</div>
	<table class="table table-bordered table-striped">
	    <tr>
	        <th>{{ translate('Title') }}</th>
	        <th width="120px">{{ translate('Authors') }}</th>
	        <th width="220px">{{ translate('Publisher') }}</th>
	        <th width="90px">{{ translate('Publish Year') }}</th>
	        <th width="100px">{{ translate('ISBN') }}</th>
	        <th width="90px">{{ translate('Actions') }}</th>
	    </tr>

		{% for article in articles %}
		    <tr>
		        <td>{{ article.getTitle() }}</td>
		        <td>{{ article.getAuthors() }}</td>
		        <td>{{ article.getPublishers() }}</td>
		        <td>{{ article.getYearPublished() }}</td>
		        <td>{{ article.getISBN() }}</td>
		        <td class="actions">
		            {% if hasAccess('prof_article', 'edit') %}
		                <a href="{{ url("prof_article", {"action": "edit", "id": article.getId(), "language": language.getAbbrev()}) }}" class="btn btn-primary">{{ translate('Edit') }}</a>
		            {% endif %}
		        </td>
		    </tr>
		{% endfor %}
	</table>
	<div class="pull-right">
	    {% if hasAccess("prof_article", "add") %}
	        <a href="{{ url("prof_article", {"action": "add", "language": language.getAbbrev()}) }}" class="btn btn-success" data-toggle="modal">{{ translate('Create Article') }}</a>
	    {% endif %}
	</div>
	<br class="clear" />
{% endblock %}
