{% extends 'site/base.twig' %}

{% block content %}
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".subnav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand hidden-sm hidden-xs" href="#">{{ page.getTitle(language) }}</a>
            </div>
            <div class="collapse navbar-collapse subnav-collapse">
                <ul class="nav navbar-nav">
                    <li {% if 'br_career_company' == getParam('controller') %}class="active"{% endif %}>
                        <a href="{{ url('br_career_company') }}">{{ translate('Companies') }}</a>
                    </li>
                    <li {% if 'br_career_event' == getParam('controller') %}class="active"{% endif %}>
                        <a href="{{ url('br_career_event') }}">{{ translate('Events') }}</a>
                    </li>
                    <li {% if 'br_career_vacancy' == getParam('controller') %}class="active"{% endif %}>
                        <a href="{{ url('br_career_vacancy') }}">{{ translate('Vacancies') }}</a>
                    </li>
                    <li {% if 'br_career_internship' == getParam('controller') %}class="active"{% endif %}>
                        <a href="{{ url('br_career_internship') }}">{{ translate('Internships') }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% block page_content %} {% endblock %}
{% endblock %}