{% extends 'manage/base.twig' %}

{% block content %}
    {% if authenticatedPerson is not null %}
        <h2>{{ formSpecification.getTitle(language) }}</h2>

        <dl class='dl-horizontal'>
            <dt>{{ translate('ID') }}</dt>
            <dd>{{ formEntry.getId() }}</dd>
            <dt>{{ translate('Name') }}</dt>
            <dd>{{ formEntry.getPersonInfo().getFullName() }}</dd>
            <dt>{{ translate('Guest') }}</dt>
            <dd>{% if formEntry.isGuestEntry() %}{{ translate('Yes') }}{% else %}{{ translate('No') }}{% endif %}</dd>
            {% if not formEntry.isGuestEntry() %}
                <dt>{{ translate('Phone Number') }}</dt>
                <dd>{{ formEntry.getPersonInfo().getPhoneNumber() }}&nbsp;</dd>
                {% if formEntry.getPersonInfo().getAddress() %}
                <dt>{{ translate('Address') }}</dt>
                    <dd>
                        <address>
                          {{ formEntry.getPersonInfo().getAddress().getStreet() }} {{ formEntry.getPersonInfo().getAddress().getNumber() }}<br>
                          {{ formEntry.getPersonInfo().getAddress().getCountry() }}-{{ formEntry.getPersonInfo().getAddress().getPostal() }} {{ formEntry.getPersonInfo().getAddress().getCity() }}<br>
                        </address>
                    </dd>
                {% endif %}
            {% endif %}
            <dt>{{ translate('Submitted') }}</dt>
            <dd>{{ dateLocalized(formEntry.getCreationTime(), 'dd/MM/y HH:mm') }}</dd>
            {% if viewer.isMail() %}
                <dt>{{ translate('Email') }}</dt>
                <dd>{{ formEntry.getPersonInfo().getEmail() }}</dd>
            {% endif %}
        </dl>

        {% if doodleNotValid %}
            <div class="flashmessage alert alert-danger fade in">
                <a class="close">&times;</a>
                {{ translate('Your subscriptions couldn\'t be saved.') }}
            </div>
        {% endif %}
        {% do form.prepare() %}
        {% autoescape false %}{{ form().openTag(form) }}{% endautoescape %}
            <table class="table table-bordered table-striped" id="doodle">
                <thead>
                    <tr>
                        <th>{{ translate('Date') }}</th>
                        <th width="240px">{{ translate('Location') }}</th>
                        <th width="250px">{{ translate('Info') }}</th>
                        <th width="130px">{{ translate('Subscribe') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in formSpecification.getFields() %}
                        <tr {% if formElementErrors(form.get('field-' ~ field.getId())) %}class="error"{% endif %}>
                            <td>
                                {{ field.getLabel(language) }}
                            </td>
                            <td>
                                {{ field.getLocation(language) }}
                            </td>
                            <td>
                                {{ field.getExtraInformation(language)|slice(1, 30) }}
                                {% if field.getExtraInformation(language) %}
                                    <a href="#" class="extraInformation pull-right" data-content="{{ field.getExtraInformation(language) }}"><i class="glyphicon glyphicon-info-sign"></i></a>
                                {% endif %}
                            </td>
                            <td class="actions">
                                {% if occupiedSlots[field.getId()] %}
                                    {% if formSpecification.getNamesVisibleForOthers() %}
                                        <i>{{ occupiedSlots[field.getId()] }}</i>
                                    {% else %}
                                        <i>{{ translate('Occupied') }}</i>
                                    {% endif %}
                                {% else %}
                                    <label class="checkbox" style="margin: 2px 0">
                                        {{ formElement(form.get('field-' ~ field.getId())) }}
                                    </label>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div style="clear: both;text-align: center;">
                {{ formElement(form.get('submit')) }}
            </div>
        {% autoescape false %}{{ form().closeTag() }}{% endautoescape %}
    {% else %}
        <div style="text-align: center;">
            <img src="/img/litus.png" alt="Litus" />
            <h3>{{ translate('Please login to get access to these pages.') }}</h3>
        </div>
    {% endif %}
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.flashmessage .close').click(function () {
                $(this).closest('.flashmessage').removeClass('in');
            });

            $('.extraInformation').popover({'trigger': 'hover', 'placement': 'left'});

            $('table label.checkbox').each(function () {
                $(this).hide();
                $(this).parent().append(
                    $('<button>', {'class': 'btn btn-primary btn-sm doodleButton'}).html('{{ translate('Subscribe') }}').click(function (e) {
                        e.preventDefault();

                        if ($(this).is(':disabled'))
                            return false;

                        var checkbox = $(this).parent().find('input[type=checkbox]');

                        {% if not formSpecification.isMultiple() %}
                            if (!checkbox.prop('checked')) {
                                $('#doodle .doodleButton').each(function () {
                                    toggleButton($(this), $(this).parent().find('input[type=checkbox]'), false);
                                });
                            }
                        {% endif %}

                        toggleButton($(this), checkbox, !checkbox.is(':checked'));
                    })
                );

                toggleButton($(this).parent().find('button'), $(this).find('input[type=checkbox]'), $(this).find('input[type=checkbox]').is(':checked'));

                $(this).parent().find('button').prop('disabled', $(this).find('input[type=checkbox]').is(':disabled'));
            });
        });

        function toggleButton(button, checkbox, value) {
            if (!value) {
                checkbox.prop('checked', false);
                button.html('{{ translate('Subscribe') }}').removeClass('btn-danger');
            } else {
                checkbox.prop('checked', true);
                button.html('{{ translate('Unsubscribe') }}').addClass('btn-danger');
            }
        }
    </script>
{% endblock %}
