{% extends 'form/base.twig' %}

{% block content %}
    <div class="flashmessage alert alert-success fade" id="mail_send_success">
        <a class="close">&times;</a>
        {{ translate('The mail was succesfully sent.') }}
    </div>
    <div class="flashmessage alert alert-danger fade" id="mail_send_error">
        <a class="close">&times;</a>
        {{ translate('An error occurred while trying to send a mail.') }}
    </div>
    <div class="flashmessage alert alert-success fade" id="entry_removed_success">
        <a class="close">&times;</a>
        {{ translate('The entry was succesfully removed.') }}
    </div>
    <div class="flashmessage alert alert-danger fade" id="entry_removed_error">
        <a class="close">&times;</a>
        {{ translate('An error occurred while removing the entry.') }}
    </div>

    {% if authenticatedPerson is not null %}
        <div class="pull-right">
            {% if (hasAccess('form_manage', 'add') and viewer.isEdit()) or isFormEditor%}
                <a href="{{ url("form_manage", {"action" : "add", "id" : form.getId()}) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    {{ translate("Add") }}
                </a>
            {% endif %}
            {% if hasAccess('form_manage', 'download') %}
                <div class="btn-group">
                    <a class="btn btn-default" href="{{ url("form_manage", {"action" : "download", "id" : form.getId()}) }}">
                        <span class="glyphicon glyphicon-arrow-down"></span> {{ translate('Download') }}
                    </a>
                    {% set numberFiles = 0 %}
                    {% for field in fields %}
                        {% if field.getType() == 'file' %}
                            {% set numberFiles = numberFiles + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if numberFiles > 0 and hasAccess('form_manage', 'downloadFiles') %}
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ url("form_manage", {"action" : "download", "id" : form.getId()}) }}">{{ translate('CSV') }}</a></li>
                            <li class="divider"></li>
                            {% for field in fields %}
                                {% if field.getType() == 'file' %}
                                    <li><a href="{{ url('form_manage', {'action': 'downloadFiles', 'id': field.getId()}) }}">{{ field.getLabel(language) }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
            {% if (hasAccess('form_manage_mail', 'send') and viewer.isMail()) or isFormEditor %}
                <a class="btn btn-default" id="sendMail">
                    <span class="glyphicon glyphicon-envelope"></span>
                    {{ translate('Mail Participants') }}
                </a>
            {% endif %}
        </div>

        <h2>{{ form.getTitle(language) }} ({{ entries|length }} {{ translate("subscriptions") }})</h2>

        <div class="resultPlaceholder">
            <div class="resultScroll">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{ translate("Submitter") }}</th>
                            {% if form.getType != 'doodle' %}
                                {% for field in fields %}
                                    <th>{{ field.getLabel(language) }}</th>
                                {% else %}
                                    <th>&nbsp;</th>
                                {% endfor %}
                            {% else %}
                                <th>{{ translate('Subscriptions') }}</th>
                            {% endif %}
                            <th>{{ translate("Actions") }}</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for entry in entries %}
                        <tr class="item item-{{ entry.getId() }}" {% if entry.isDraft() %}style="background: #ccc"{% endif%}>
                            <td>
                                <a href="#" data-id="{{ entry.getId() }}" data-toggle="popover" title="" data-content="<dl class='dl-horizontal'>
                                    <dt>{{ translate('ID') }}</dt>
                                    <dd>{{ entry.getId() }}</dd>
                                    <dt>{{ translate('Name') }}</dt>
                                    <dd>{{ entry.getPersonInfo().getFullName() }}</dd>
                                    <dt>{{ translate('Guest') }}</dt>
                                    <dd>{% if entry.isGuestEntry() %}{{ translate('Yes') }}{% else %}{{ translate('No') }}{% endif %}</dd>
                                    {% if not entry.isGuestEntry() %}
                                        <dt>{{ translate('Phone Number') }}</dt>
                                        <dd>{{ entry.getPersonInfo().getPhoneNumber() }}&nbsp;</dd>
                                        {% if entry.getPersonInfo().getAddress() %}
                                        <dt>{{ translate('Address') }}</dt>
                                            <dd>
                                                <address>
                                                  {{ entry.getPersonInfo().getAddress().getStreet() }} {{ entry.getPersonInfo().getAddress().getNumber() }}<br>
                                                  {{ entry.getPersonInfo().getAddress().getCountry() }}-{{ entry.getPersonInfo().getAddress().getPostal() }} {{ entry.getPersonInfo().getAddress().getCity() }}<br>
                                                </address>
                                            </dd>
                                        {% endif %}
                                    {% endif %}
                                    <dt>{{ translate('Submitted') }}</dt>
                                    <dd>{{ dateLocalized(entry.getCreationTime(), 'dd/MM/y HH:mm') }}</dd>
                                    {% if viewer.isMail() or isFormEditor%}
                                        <dt>{{ translate('Email') }}</dt>
                                        <dd>{{ entry.getPersonInfo().getEmail() }}</dd>
                                    {% endif %}
                                    <dt>{{ translate('Draft') }}</dt>
                                    <dd>{% if entry.isDraft() %}{{ translate('Yes') }}{% else %}{{ translate('No') }}{% endif %}</dd>
                                </dl>">
                                    {{ entry.getPersonInfo().getFullName() }}
                                </a>
                            </td>

                            {% if form.getType != 'doodle' %}
                                {% for field in fields %}
                                    {% if field.getType() == 'file' %}
                                        <td>
                                            {% if form.getValueFor(entry, field, language) %}
                                                {% if hasAccess('form_manage', 'downloadFile') %}
                                                    <a class="btn btn-default btn-xs" href="{{ url('form_manage', {'action': 'downloadFile', 'id': form.getValueFor(entry, field, language)}) }}">{{ translate('Download') }}</a>
                                                {% endif %}
                                            {% else %}
                                                <i>{{ translate('(empty)') }}</i>
                                            {% endif %}
                                        </td>
                                    {% else %}
                                        <td class="column-{{ field.getId() }}">{{ form.getValueFor(entry, field, language)|nl2br }}&nbsp;</td>
                                    {% endif %}
                                {% else %}
                                    <td>&nbsp;</td>
                                {% endfor %}
                            {% else %}
                                <td>
									{% if entry.getFieldEntries %}
										{% for slot in entry.getFieldEntries() %}
											{{ slot.getField().getLabel(language) }}
											{% if slot.getField().getExtraInformation(language) %} ({{slot.getField().getExtraInformation(language)}}){% endif %}
											{% if not loop.last %},{% endif %}
										{% endfor %}
									{% else %}
										 <i>{{ translate('(empty)') }}</i>
									{% endif %}
                                </td>
                            {% endif %}

                            <td class="actions">
                                {% if viewer.isEdit() or isFormEditor%}
                                    <a href="{{ url("form_manage", {"action": "edit", "id" : entry.getId()}) }}" class="btn btn-primary btn-xs">{{ translate("Edit") }}</a>
                                    <a href="#" class="btn btn-xs btn-danger delete" data-id={{ entry.getId() }} data-name={{ entry.getPersonInfo().getFullName()}} >{{ translate("Delete") }}</a>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% else %}
        <div style="text-align: center;">
            <img src="/img/litus.png" alt="Litus" />
            <h3>{{ translate('Please login to get access to these pages.') }}</h3>
        </div>
    {% endif %}

    <div class="modal fade" id="removeEntry">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4>{{ translate('Delete Entry') }}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        {{ translate("You are about to delete the following user's entry") }}: <b class="user-name"></b>.
                        {{ translate("Please note that this operation cannot be undone!") }}
                    </p>
                    <p>
                        {{ translate("Are you sure you want to continue?") }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="confirm btn btn-danger">{{ translate('Yes') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ translate('No') }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sendMailModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h3>{{ translate('Send Mail') }}</h3>
                </div>
                <div class="modal-body">
                    <p>
                        {% import 'site/partials/form.twig' as forms %}
                        {{ forms.renderForm(mailForm) }}
                        <br style="clear: both;">
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success confirm">{{ translate('Send') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ translate('Cancel') }}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.flashmessage .close').click(function () {
                $(this).closest('.flashmessage').removeClass('in');
            });

            $('[data-toggle="popover"]').popover(
                {
                    html: true,
                    container: 'body',
                }
            ).click(function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                $('[data-toggle="popover"]').each(function() {
                    if ($(this).data('id') != id)
                        $(this).popover('hide');
                });
            });

            $('#sendMail').click(openSendMailModal);

            $('.item .delete').click(openRemoveModal);
        });

        function openRemoveModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeEntry = $('#removeEntry');
            removeEntry.find('.user-name').text($(this).data('name'));
            removeEntry.find('.confirm').unbind('click').click(function () {
                $.post('{{ url('form_manage', {"action": "delete", "language": language.getAbbrev()})}}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#entry_removed_success').addClass('in');
                        $this.parent().parent().remove();
                        removeEntry.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeEntry.modal();
        }

        function errorRemove() {
            $('.flashmessage').removeClass('in');
            $('#entry_removed_error').addClass('in');
            $('#removeEntry').modal('hide');
        }

        function openSendMailModal(e) {
            var $this = $(this);

            e.preventDefault();
            var sendMail = $('#sendMailModal');
            sendMail.find('.confirm').unbind('click').click(function () {
                sendMail.find('form').ajaxSubmit({
                    dataType: 'json',
                    success: function (data) {
                        if (data.errors) {
                            $('.flashmessage').addClass('hide');
                            sendMail.find('ul.errors').remove();
                            sendMail.find('.form-group').removeClass('has.error');
                            $('#sendMailModal form').displayFormErrors(data.errors);
                        } else {
                            $('.flashmessage').removeClass('in');
                            sendMail.find('ul.errors').remove();
                            sendMail.find('.form-group').removeClass('has-error');
                            $('#mail_send_success').addClass('in');
                            sendMail.modal('hide');
                        }
                    },
                    error: function () {
                        $('.flashmessage').removeClass('in');
                        $('#mail_send_error').addClass('in');
                        sendMail.modal('hide');
                    },
                });
            });
            sendMail.modal();
        }
    </script>
{% endblock %}
