{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'page/admin/page/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message page_removed_success hide">
    	<div class="title">Success</div>
    	<div class="content">
    		<p>The page was successfully removed!</p>
    	</div>
    </div>
    <div class="flashmessage error_message page_removed_error hide">
    	<div class="title">Error</div>
    	<div class="content">
    		<p>An error occurred while trying to delete the page.</p>
    	</div>
    </div>

	<div id="controller_action">
	    <table class="{% if not hasAccess('admin_page_category', 'manage') %} full_width {% endif %} manage">
	        <thead>
	            <tr>
	                <th>Title</th>
	                <th width="150px">Category</th>
	                <th width="200px">Parent</th>
	                <th width="160px">Author</th>
	                {% if page.canBeEditedBy(authenticatedPerson) %}
	                	<th width="70px">Actions</th>
	                {% endif %}
	            </tr>
	        </thead>

	        <tbody>
	            {% for page in paginator %}
	                <tr class="item item-{{ page.getId() }}">
	                    <td>{{ page.getTitle(language) }}</td>
	                    <td>{{ page.getCategory().getName(language) }}</td>
	                    <td>{{ page.getParent().getTitle(language) }}</td>
	                    <td>{{ page.getCreationPerson().getFullName() }}</td>
	                    {% if page.canBeEditedBy(authenticatedPerson) %}
		                    <td class="actions">
		                        {% if hasAccess('admin_page', 'edit') %}
		                            <a href="{{ url('admin_page', {"action": "edit", "id": page.getId()}) }}" class="edit">Edit</a>
		                        {% endif %}
		                        {% if hasAccess('admin_news', 'delete') %}
		                            <a href="#" data-id="{{ page.getId() }}" data-title="{{ page.getTitle(language) }}" class="delete">Delete</a>
		                        {% endif %}
		                    </td>
		                {% endif %}
	                </tr>
	            {% endfor %}
	        </tbody>
	    </table>

		{% include 'admin/partials/paginationControl.twig' %}
	</div>

	{% if hasAccess('admin_page_category', 'manage') %}
		<aside>
			<div class="sidebox">
			    <div class="title">Categories</div>
			    <div class="content">
			        <p>
			            <i>Please hit the link below to manage and create categories!</i>
			        </p>
			    	<p>
			    		<a href="{{ url('admin_page_category', {"action": "manage"}) }}">&rarr; Categories</a>
			    	</p>
			    </div>
			</div>
		</aside>
	{% endif %}

	<div class="modal hide fade" id="removePage">
		<div class="modal-header">
			<span>Litus Admin</span>
			/Delete Page
		</div>
		<div class="modal-body">
			<p>
				You are about to delete the following page: <b class="title"></b>?
				Please note that this operation cannot be undone!
			</p>
			<p>
				Are you sure you want to continue?
			</p>
			<div class="footer">
				<input type="button" class="delete" value="Yes">
				<input type="button" class="cancel" data-dismiss="modal" value="No">
			</div>
		</div>
	</div>
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('.item .delete').click(openModal);
		});

		function openModal(e) {
			var $this = $(this);
			e.preventDefault();
			var removePage = $('#removePage');
			removePage.find('.title').html($(this).data('title'));
			removePage.find('.cancel').one('click', function () {
				removePage.modal('hide');
			});
			var id = $this.data('id');
			removePage.find('.delete').unbind('click').click(function () {
				$.post('{{ url('admin_page', {"action": "delete"})}}/' + id, function (data) {
				    if (data && 'success' == data.status) {
						$('.flashmessage').addClass('hide');
						$('.page_removed_success').removeClass('hide');
						$('.item-' + id).remove();
						removePage.modal('hide');
					} else {
					    errorRemove();
					}
				}, 'json').error(errorRemove);
			});
			removePage.modal();
		}

		function errorRemove() {
		    $('.flashmessage').addClass('hide');
		    $('.page_removed_error').removeClass('hide');
		    $('#removePage').modal('hide');
		}
	</script>
{% endblock %}
