{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/stock/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width delivery_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The delivery was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width delivery_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete a delivery.</p>
        </div>
    </div>

    {% include 'cudi/admin/stock/delivery/partials/suppliers.twig' %}

    <div id="controller_action">
        <table class="manage">

            <tr>
                <th width="110px">Date</th>
                <th>Article</th>
                <th width="60px">Number</th>
                <th width="60px">Price</th>
                <th width="70px">Actions</th>
            </tr>

            {% for delivery in paginator %}
                <tr class="item item-{{ delivery.getId() }}">
                    <td>{{ delivery.getTimestamp().format('Y-m-d H:i') }}</td>
                    <td>{{ delivery.getArticle().getMainArticle().getTitle() }}</td>
                    <td>{{ delivery.getNumber() }}</td>
                    <td>&euro; {{ (delivery.getPrice()/100)|number_format(2) }}</td>
                    <td class="actions">
                        {% if hasAccess('cudi_admin_stock_delivery', 'delete') %}
                            <a href="#" class="delete" data-id="{{ delivery.getId() }}" data-title="{{ delivery.getArticle().getMainArticle().getTitle() }}" data-number="{{ delivery.getNumber() }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <aside>
        {% if hasAccess('cudi_admin_stock_delivery', 'add') %}
            <div class="sidebox">
                <div class="title">New Delivery</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to add a delivery!</i>
                    </p>
                    <p>
                        <a href="{{ url('cudi_admin_stock_delivery', {"action": "add"}) }}">&rarr; Add Delivery</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>

    <div class="modal fade" id="removeDelivery" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Delivery
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following delivery: <b class="articleTitle"></b>: (x <span class="deliveryNumber"></span>)!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeDelivery = $('#removeDelivery');
            removeDelivery.find('.articleTitle').html($(this).data('title'));
            removeDelivery.find('.deliveryNumber').html($(this).data('number'));
            var id = $this.data('id');
            removeDelivery.find('.delete').unbind('click').click(function () {
                $.post('{{ url('cudi_admin_stock_delivery', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.delivery_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeDelivery.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeDelivery.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.delivery_removed_error').removeClass('hide');
            $('#removeDelivery').modal('hide');
        }
    </script>
{% endblock %}
