{{ doctype() }}

<html lang="en">
<head>
    {{ headMeta() }}
    {{ headTitle('Litus Admin', 'PREPEND') }}

    {{ headLink() }}
</head>

<body>

<div id="layout">
    <div id="content">
        <header id="content_header">
            <a class="litus" href="{{ url('common_admin_index') }}"></a>
            <a class="logo" href="{{ url('common_index') }}"></a>

            <p><time datetime="{{ now.iso8601 }}">{{ now.display }}</time></p>
            <p id="tag">
                Welcome, {% if authenticatedPerson is null %} Guest {% else %} {{ authenticatedPerson.getFirstName() }} {% endif %} |
                <a href="{{ url('common_admin_auth', {"action": "logout"}) }}">Logout</a>
            </p>
        </header>

        <nav id="content_nav">
            <ul class="topmenu">
                <li>
                    <div class="title">General</div>

                    {% for submenu in menu.general %}
                        <ul>
                            {% for settings in submenu %}
                                <li{% if settings.help %} data-help="{{ settings.help }}"{% endif %}><a href="{{ url(settings.controller) }}">{{ settings.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endfor %}

                </li>
            </ul>

            <ul class="submenu">
                <li>
                    <div class="title">Divisions</div>

                    <ul class="subsubmenu">
                        {% for submenu_name, submenu in menu.submenus %}
                            <li>
                                <div class="subtitle">
                                    <b>{{ submenu_name }}</b><br />
                                    {{ submenu.subtitle }}
                                </div>
                                <ul{% if submenu.active %} style="display: block;"{% endif %}>
                                    {% for settings in submenu.items %}
                                        <li{% if settings.help %} data-help="{{ settings.help }}"{% endif %}><a href="{{ url(settings.controller) }}">{{ settings.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="content_controller">
            {% if createNewStockPeriod %}
                <div class="flashmessage warning_message full_width">
                    <div class="title">Warning</div>
                    <div class="content">
                        <p>Please create a new stock period! To do so, please click <a href="{{ url('cudi_admin_stock_period', {'action': 'new'}) }}">here</a>.</p>
                    </div>
                </div>
            {% endif %}
            {% block content %} {% endblock %}
        </div>
    </div>

    <div id="footer_push"></div>
</div>

<footer>
    Litus Admin | Code by <a href="http://litus.cc">Litus</a> | Design by <a href="http://www.serayo.com">Robin de Bruin</a>

    {% if servedBy is not null %}
        <span class="right">Served by {{ servedBy }}</span>
    {% endif %}
</footer>

{{ inlineScript() }}

<script type="text/javascript">
    $(document).ready(function () {
        $('.submenu').sidebarNavigation();
    });
</script>

{% block content_script %} {% endblock %}

</body>
</html>
