{{ doctype() }}

<html lang="en">
<head>
    {{ headMeta() }}
    {{ headTitle('Litus Admin', 'PREPEND') }}

    {{ headLink() }}
</head>

<body>

<div id="layout">
    <div id="content">
        <header id="content_header">
            <a href="{{ url('common_admin_index') }}"></a>

            <p><time datetime="{{ now.iso8601 }}">{{ now.display }}</time></p>
            <p id="tag">
                Welcome, {% if authenticatedPerson is null %} Guest {% else %} {{ authenticatedPerson.getFirstName() }} {% endif %} |
                <a href="{{ url('common_admin_auth', {"action": "logout"}) }}">Logout</a>
            </p>
        </header>

        <nav id="content_nav">
            <ul class="topmenu">
                <li>
                    <div class="title">General</div>

                    {% if hasAccess('common_admin_index', 'index') %}
                        <ul>
                            {% if hasAccess('common_admin_index', 'index') %}
                                <li><a href="{{ url('common_admin_index') }}">Dashboard</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}

                    {% if hasAccess('api_admin_key', 'manage') or hasAccess('common_admin_cache', 'manage') or hasAccess('common_admin_config', 'manage') %}
                        <ul>
                            {% if hasAccess('api_admin_key', 'manage') %}
                                <li><a href="{{ url('api_admin_key') }}">API Keys</a></li>
                            {% endif %}
                            {% if hasAccess('common_admin_cache', 'manage') %}
                                <li><a href="{{ url('common_admin_cache') }}">Cache</a></li>
                            {% endif %}
                            {% if hasAccess('common_admin_config', 'manage') %}
                                <li><a href="{{ url('common_admin_config') }}">Configuration</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}

                    {% if hasAccess('common_admin_academic', 'manage') or hasAccess('common_admin_role', 'manage') %}
                        <ul>
                            {% if hasAccess('common_admin_academic', 'manage') %}
                                <li><a href="{{ url('common_admin_academic') }}">Academics</a></li>
                            {% endif %}
                            {% if hasAccess('common_admin_role', 'manage') %}
                                <li><a href="{{ url('common_admin_role') }}">Roles</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}

                    {% if hasAccess('common_admin_location', 'manage') or hasAccess('common_admin_unit', 'manage') %}
                        <ul>
                            {% if hasAccess('common_admin_location', 'manage') %}
                                <li><a href="{{ url('common_admin_location') }}">Locations</a></li>
                            {% endif %}
                            {% if hasAccess('common_admin_unit', 'manage') %}
                                <li><a href="{{ url('common_admin_unit') }}">Units</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}

                    {% if hasAccess('on_admin_slug', 'manage') %}
                        <ul>
                            {% if hasAccess('on_admin_slug', 'manage') %}
                                <li><a href="{{ url('on_admin_slug') }}">Slugs</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </li>
            </ul>

            <ul class="submenu">
                <li>
                    <div class="title">Divisions</div>

                    <ul class="subsubmenu">
                        {% if hasAccess('door_admin_rule', 'manage') or hasAccess('quiz_admin_quiz', 'manage') or hasAccess('sport_admin_run', 'queue') or hasAccess('ticket_admin_event', 'manage') %}
                            <li>
                                <div class="subtitle">
                                        <b>Apps</b><br />
                                        24h Run, Door, Quiz &amp; Tickets
                                </div>

                                <ul
                                    {% if 'sport_admin_run' == getParam('controller') or 'door_admin_rule' == getParam('controller') or 'ticket_admin_event' == getParam('controller') or 'ticket_admin_ticket' == getParam('controller') or 'quiz_admin_quiz' == getParam('controller')  or 'quiz_admin_round' == getParam('controller') or 'quiz_admin_team' == getParam('controller') %}
                                        style="display: block;"
                                    {% endif %}
                                >
                                    {% if hasAccess('sport_admin_run', 'queue') %}
                                        <li><a href="{{ url('sport_admin_run') }}">24h Run</a></li>
                                    {% endif %}
                                    {% if hasAccess('door_admin_rule', 'manage') %}
                                        <li><a href="{{ url('door_admin_rule') }}">Door</a></li>
                                    {% endif %}
                                    {% if hasAccess('quiz_admin_quiz', 'manage') %}
                                        <li><a href="{{ url('quiz_admin_quiz') }}">Quiz</a></li>
                                    {% endif %}
                                    {% if hasAccess('ticket_admin_event', 'manage') %}
                                        <li><a href="{{ url('ticket_admin_event') }}">Tickets</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if hasAccess('br_admin_company', 'manage') or hasAccess('br_admin_cv_entry', 'manage') %}
                            <li>
                                <div class="subtitle">
                                    <b>Corporate Relations</b><br />
                                    Companies &amp; Contracts
                                </div>

                                <ul
                                    {% if 'br_admin_company' == getParam('controller') or 'br_admin_company_event' == getParam('controller') or 'br_admin_company_job' == getParam('controller') or 'br_admin_company_logo' == getParam('controller') or 'br_admin_cv_entry' == getParam('controller') %}
                                        style="display: block;"
                                    {% endif %}
                                >
                                    {% if hasAccess('br_admin_company', 'manage') %}
                                        <li><a href="{{ url('br_admin_company') }}">Companies</a></li>
                                    {% endif %}
                                    {% if hasAccess('br_admin_cv_entry', 'manage') %}
                                        <li><a href="{{ url('br_admin_cv_entry') }}">CVs</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if hasAccess('cudi_admin_article', 'manage') or hasAccess('cudi_admin_sales_article', 'manage') or hasAccess('cudi_admin_sales_booking', 'manage') or hasAccess('cudi_admin_sales_session', 'manage') or hasAccess('cudi_admin_sales_session_openinghour', 'sales') or hasAccess('cudi_admin_sales_financial', 'overview') or hasAccess('cudi_admin_stock', 'manage') or hasAccess('cudi_admin_supplier', 'manage') or hasAccess('cudi_admin_prof_action', 'manage') %}
                            <li>
                                <div class="subtitle">
                                    <b>CuDi</b><br />
                                    Articles, Financial &amp; Stock
                                </div>
                                <ul
                                    {% if 'cudi_admin_article' == getParam('controller') or 'cudi_admin_article_subject' == getParam('controller') or 'cudi_admin_article_comment' == getParam('controller') or 'cudi_admin_article_file' == getParam('controller') or 'cudi_admin_sales_article' == getParam('controller') or 'cudi_admin_sales_article_discount' == getParam('controller') or 'cudi_admin_sales_article_barcode' == getParam('controller') or 'cudi_admin_sales_article_restriction' == getParam('controller') or 'cudi_admin_sales_booking' == getParam('controller') or 'cudi_admin_sales_session' == getParam('controller') or 'cudi_admin_sales_financial' == getParam('controller') or 'cudi_admin_sales_financial_sold' == getParam('controller') or 'cudi_admin_sales_financial_delivered' == getParam('controller') or 'cudi_admin_sales_financial_ordered' == getParam('controller') or 'cudi_admin_sales_financial_split' == getParam('controller') or 'cudi_admin_supplier' == getParam('controller') or 'cudi_admin_supplier_user' == getParam('controller') or 'cudi_admin_stock' == getParam('controller') or 'cudi_admin_stock_period' == getParam('controller') or 'cudi_admin_stock_order' == getParam('controller') or 'cudi_admin_stock_delivery' == getParam('controller') or 'cudi_admin_stock_retour' == getParam('controller') or 'cudi_admin_prof_action' == getParam('controller') or 'cudi_admin_sales_session_openinghour' == getParam('controller') %}
                                        style="display: block;"
                                    {% endif %}
                                >
                                    {% if hasAccess('cudi_admin_article', 'manage') %}
                                        <li><a href="{{ url('cudi_admin_article') }}">Articles</a></li>
                                    {% endif %}
                                    {% if hasAccess('cudi_admin_sales_article', 'manage') %}
                                        <li><a href="{{ url('cudi_admin_sales_article') }}">Sale Articles</a></li>
                                    {% endif %}
                                    {% if hasAccess('cudi_admin_sales_article_discount_template', 'manage') %}
                                        <li><a href="{{ url('cudi_admin_sales_article_discount_template') }}">Discount Templates</a></li>
                                    {% endif %}
                                    {% if hasAccess('cudi_admin_sales_booking', 'manage') %}
                                        <li><a href="{{ url('cudi_admin_sales_booking') }}">Bookings</a></li>
                                    {% endif %}
                                    {% if hasAccess('cudi_admin_sales_session', 'manage') %}
                                        <li><a href="{{ url('cudi_admin_sales_session') }}">Sale Sessions</a></li>
                                    {% endif %}
                                    {% if hasAccess('cudi_admin_sales_session_openinghour', 'manage') %}
                                        <li><a href="{{ url('cudi_admin_sales_session_openinghour') }}">Opening Hours</a></li>
                                    {% endif %}
                                    {% if hasAccess('cudi_admin_sales_financial', 'overview') %}
                                        <li><a href="{{ url('cudi_admin_sales_financial') }}">Financial</a></li>
                                    {% endif %}
                                    {% if hasAccess('cudi_admin_stock', 'manage') %}
                                        <li><a href="{{ url('cudi_admin_stock') }}">Stock</a></li>
                                    {% endif %}
                                    {% if hasAccess('cudi_admin_supplier', 'manage') %}
                                        <li><a href="{{ url('cudi_admin_supplier') }}">Suppliers</a></li>
                                    {% endif %}
                                    {% if hasAccess('cudi_admin_prof_action', 'manage') %}
                                        <li><a href="{{ url('cudi_admin_prof_action') }}">Prof Actions</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if hasAccess('logistics_admin_driver', 'manage') or hasAccess('logistics_admin_lease', 'manage') or hasAccess('logistics_admin_piano_reservation', 'manage') or hasAccess('logistics_admin_van_reservation', 'manage') %}
                            <li>
                                <div class="subtitle">
                                    <b>Logistics</b><br />
                                    Drivers, Lease &amp; Reservations
                                </div>
                                <ul
                                    {% if 'logistics_admin_driver' == getParam('controller') or 'logistics_admin_lease' == getParam('controller') or 'logistics_admin_piano_reservation' == getParam('controller') or 'logistics_admin_van_reservation' == getParam('controller') %}
                                        style="display: block;"
                                    {% endif %}
                                >
                                    {% if hasAccess('logistics_admin_driver', 'manage') %}
                                        <li><a href="{{ url('logistics_admin_driver') }}">Drivers</a></li>
                                    {% endif %}
                                    {% if hasAccess('logistics_admin_lease', 'manage') %}
                                        <li><a href="{{ url('logistics_admin_lease') }}">Lease</a></li>
                                    {% endif %}
                                    {% if hasAccess('logistics_admin_piano_reservation', 'manage') %}
                                        <li><a href="{{ url('logistics_admin_piano_reservation') }}">Piano Reservations</a></li>
                                    {% endif %}
                                    {% if hasAccess('logistics_admin_van_reservation', 'manage') %}
                                        <li><a href="{{ url('logistics_admin_van_reservation') }}">Van Reservations</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if hasAccess('mail_admin_alias', 'manage') or hasAccess('mail_admin_bakske', 'send') or hasAccess('mail_admin_group', 'groups') or hasAccess('mail_admin_list', 'manage') or hasAccess('mail_admin_message', 'manage') or hasAccess('mail_admin_prof', 'cudi') or hasAccess('mail_admin_study', 'send') or hasAccess('mail_admin_volunteer', 'send') %}
                            <li>
                                <div class="subtitle">
                                    <b>Mail</b><br />
                                    Aliases, Lists &amp; Mass Mail
                                </div>
                                <ul
                                    {% if 'mail_admin_group' == getParam('controller') or 'mail_admin_bakske' == getParam('controller') or 'mail_admin_prof' == getParam('controller') or 'mail_admin_study' == getParam('controller') or 'mail_admin_list' == getParam('controller') or 'mail_admin_alias' == getParam('controller') or 'mail_admin_volunteer' == getParam('controller') or 'mail_admin_message' == getParam('controller') %}
                                        style="display: block;"
                                    {% endif %}
                                >
                                    {% if hasAccess('mail_admin_alias', 'manage') %}
                                        <li><a href="{{ url('mail_admin_alias') }}">Aliases</a></li>
                                    {% endif %}
                                    {% if hasAccess('mail_admin_bakske', 'send') %}
                                        <li><a href="{{ url('mail_admin_bakske') }}">Het Bakske</a></li>
                                    {% endif %}
                                    {% if hasAccess('mail_admin_group', 'groups') %}
                                        <li><a href="{{ url('mail_admin_group') }}">Groups</a></li>
                                    {% endif %}
                                    {% if hasAccess('mail_admin_list', 'manage') %}
                                        <li><a href="{{ url('mail_admin_list') }}">Lists</a></li>
                                    {% endif %}
                                    {% if hasAccess('mail_admin_prof', 'cudi') %}
                                        <li><a href="{{ url('mail_admin_prof', {'action': 'cudi'}) }}">Prof</a></li>
                                    {% endif %}
                                    {% if hasAccess('mail_admin_message', 'manage') %}
                                        <li><a href="{{ url('mail_admin_message') }}">Stored Messages</a></li>
                                    {% endif %}
                                    {% if hasAccess('mail_admin_study', 'send') %}
                                        <li><a href="{{ url('mail_admin_study') }}">Studies</a></li>
                                    {% endif %}
                                    {% if hasAccess('mail_admin_volunteer', 'send') %}
                                        <li><a href="{{ url('mail_admin_volunteer') }}">Volunteers</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if hasAccess('publication_admin_publication', 'manage') %}
                            <li>
                                <div class="subtitle">
                                    <b>Publications</b><br />
                                    Editions &amp; Publications
                                </div>
                                <ul
                                    {% if 'publication_admin_publication' == getParam('controller') or 'publication_admin_edition_html' == getParam('controller') or 'publication_admin_edition_pdf' == getParam('controller') %}
                                        style="display: block;"
                                    {% endif %}
                                >
                                    {% if hasAccess('publication_admin_publication', 'manage') %}
                                        <li><a href="{{ url('publication_admin_publication') }}">Publications</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if hasAccess('shift_admin_shift_counter', 'index') or hasAccess('shift_admin_shift_ranking', 'index') or hasAccess('shift_admin_shift', 'manage') %}
                            <li>
                                <div class="subtitle">
                                    <b>Shifts</b><br />
                                    Counter, Rankings &amp; Shifts
                                </div>
                                <ul
                                    {% if 'shift_admin_shift' == getParam('controller') or 'shift_admin_shift_counter' == getParam('controller') or 'shift_admin_shift_ranking' == getParam('controller') or 'shift_admin_unit' == getParam('controller') %}
                                        style="display: block;"
                                    {% endif %}
                                >
                                    {% if hasAccess('shift_admin_shift_counter', 'index') %}
                                        <li><a href="{{ url('shift_admin_shift_counter') }}">Counter</a></li>
                                    {% endif %}
                                    {% if hasAccess('shift_admin_shift_ranking', 'index') %}
                                        <li><a href="{{ url('shift_admin_shift_ranking') }}">Ranking</a></li>
                                    {% endif %}
                                    {% if hasAccess('shift_admin_shift', 'manage') %}
                                        <li><a href="{{ url('shift_admin_shift') }}">Shifts</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if hasAccess('banner_admin_banner', 'manage') or hasAccess('calendar_admin_calendar', 'manage') or hasAccess('news_admin_news', 'manage') or hasAccess('notification_admin_notification', 'manage') or hasAccess('page_admin_page', 'manage') or hasAccess('form_admin_form', 'manage') %}
                            <li>
                                <div class="subtitle">
                                    <b>Site</b><br />
                                    Calendar, News &amp; Pages
                                </div>
                                <ul
                                    {% if 'banner_admin_banner' == getParam('controller') or 'news_admin_news' == getParam('controller') or 'notification_admin_notification' == getParam('controller') or 'calendar_admin_calendar' == getParam('controller') or 'page_admin_page' == getParam('controller') or 'page_admin_category' == getParam('controller') or 'page_admin_link' == getParam('controller') or 'form_admin_form' == getParam('controller') or 'form_admin_form_field' == getParam('controller') or 'form_admin_viewer' == getParam('controller') or 'gallery_admin_gallery' == getParam('controller') %}
                                        style="display: block;"
                                    {% endif %}
                                >
                                    {% if hasAccess('banner_admin_banner', 'manage') %}
                                        <li><a href="{{ url('banner_admin_banner') }}">Banners</a></li>
                                    {% endif %}
                                    {% if hasAccess('calendar_admin_calendar', 'manage') %}
                                        <li><a href="{{ url('calendar_admin_calendar') }}">Calendar</a></li>
                                    {% endif %}
                                    {% if hasAccess('form_admin_form', 'manage') %}
                                        <li><a href="{{ url('form_admin_form') }}">Forms</a></li>
                                    {% endif %}
                                    {% if hasAccess('gallery_admin_gallery', 'manage') %}
                                        <li><a href="{{ url('gallery_admin_gallery') }}">Gallery</a></li>
                                    {% endif %}
                                    {% if hasAccess('news_admin_news', 'manage') %}
                                        <li><a href="{{ url('news_admin_news') }}">News</a></li>
                                    {% endif %}
                                    {% if hasAccess('notification_admin_notification', 'manage') %}
                                        <li><a href="{{ url('notification_admin_notification') }}">Notifications</a></li>
                                    {% endif %}
                                    {% if hasAccess('page_admin_page', 'manage') %}
                                        <li><a href="{{ url('page_admin_page') }}">Pages</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if hasAccess('secretary_admin_registration', 'manage') or hasAccess('secretary_admin_promotion', 'manage') %}
                            <li>
                                <div class="subtitle">
                                        <b>Secretary</b><br />
                                        Promotions, Registrations
                                </div>

                                <ul
                                    {% if 'secretary_admin_registration' == getParam('controller') or 'secretary_admin_promotion' == getParam('controller') %}
                                        style="display: block;"
                                    {% endif %}
                                >
                                    {% if hasAccess('secretary_admin_promotion', 'manage') %}
                                        <li><a href="{{ url('secretary_admin_promotion') }}">Promotions</a></li>
                                    {% endif %}
                                    {% if hasAccess('secretary_admin_registration', 'manage') %}
                                        <li><a href="{{ url('secretary_admin_registration') }}">Registrations</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if hasAccess('syllabus_admin_academic', 'manage') or hasAccess('syllabus_admin_group', 'manage') or hasAccess('syllabus_admin_study', 'manage') or hasAccess('syllabus_admin_update_syllabus', 'update') or hasAccess('syllabus_admin_subject', 'manage') %}
                            <li>
                                <div class="subtitle">
                                    <b>Syllabus</b><br />
                                    Groups &amp; Studies &amp; Subjects
                                </div>
                                <ul
                                    {% if 'syllabus_admin_academic' == getParam('controller') or 'syllabus_admin_group' == getParam('controller') or 'syllabus_admin_study' == getParam('controller') or 'syllabus_admin_subject' == getParam('controller') or 'syllabus_admin_subject_comment' == getParam('controller') or 'syllabus_admin_update' == getParam('controller') or 'syllabus_admin_prof' == getParam('controller') %}
                                        style="display: block;"
                                    {% endif %}
                                >
                                    {% if hasAccess('syllabus_admin_academic', 'manage') %}
                                        <li><a href="{{ url('syllabus_admin_academic') }}">Academics</a></li>
                                    {% endif %}
                                    {% if hasAccess('syllabus_admin_group', 'manage') %}
                                        <li><a href="{{ url('syllabus_admin_group') }}">Groups</a></li>
                                    {% endif %}
                                    {% if hasAccess('syllabus_admin_study', 'manage') %}
                                        <li><a href="{{ url('syllabus_admin_study') }}">Studies</a></li>
                                    {% endif %}
                                    {% if hasAccess('syllabus_admin_subject', 'manage') %}
                                        <li><a href="{{ url('syllabus_admin_subject') }}">Subjects</a></li>
                                    {% endif %}
                                    {% if hasAccess('syllabus_admin_update', 'index') %}
                                        <li><a href="{{ url('syllabus_admin_update') }}">Update</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="content_controller">
            {% block content %} {% endblock %}
        </div>
    </div>

    <div id="footer_push"></div>
</div>

<footer>
    Litus Admin | Code by <a href="http://litus.cc">Litus</a> | Design by <a href="http://www.serayo.com">Robin de Bruin</a>

    {% if servedBy is not null %}
        <span class="right">Served by {{ servedBy }}</span>
    {% endif %}
</footer>

{{ inlineScript() }}

<script type="text/javascript">
    $(document).ready(function () {
        $('.submenu').sidebarNavigation();
    });
</script>

{% block content_script %} {% endblock %}

</body>
</html>
