{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        {% if hasAccess('news', 'feed') %}
            <div class="pull-right" style="line-height: 50px">
                <a href="{{ url('news', {'action': 'feed'}) }}" class="btn btn-default"><span class="glyphicon glyphicon-inbox"></span> {{ translate('RSS') }}</a>
            </div>
        {% endif %}
        <h2>{{ translate('News') }}</h2>
    </div>

    {% for item in paginator %}
        <h4>{{ item.getTitle(language) }} <small>&mdash; {{ dateLocalized(item.getCreationTime(), 'd MMMM') }}</small></h4>

        <div style="margin-left: 5px;">
            {{ hideEmail(item.getSummary(400, language))|replace({'<p>': '', '</p>': '', '<br>': '', '<br />': ''})|raw }}
            &mdash; <a href="{{ url('news', {'action': 'view', 'name': item.getName(language)}) }}">{{ translate('Read More') }}</a>
        </div>
        <hr>
    {% endfor %}

    {% include 'site/partials/paginationControl.twig' %}
{% endblock %}
