{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'news/admin/news/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width news_item_removed_success hide">
    	<div class="title">Success</div>
    	<div class="content">
    		<p>The news item was successfully removed!</p>
    	</div>
    </div>
    <div class="flashmessage error_message full_width news_item_removed_error hide">
    	<div class="title">Error</div>
    	<div class="content">
    		<p>An error occurred while trying to delete the news item.</p>
    	</div>
    </div>

	<div id="controller_action">
	    <table class="full_width manage">
	        <thead>
	            <tr>
	                <th>Title</th>
	                <th width="150px">Time</th>
	                <th width="160px">Author</th>
	                <th width="70px">Actions</th>
	            </tr>
	        </thead>

	        <tbody>
	            {% for news_item in paginator %}
	                <tr class="item item-{{ news_item.getId() }}">
	                    <td>{{ news_item.getTitle(language) }}</td>
	                    <td>{{ dateLocalized(news_item.getCreationTime(), 'dd/MM/y HH:mm') }}</td>
	                    <td>{{ news_item.getCreationPerson().getFullName() }}</td>
	                    <td class="actions">
	                        {% if hasAccess('news_admin_news', 'edit') %}
	                            <a href="{{ url('news_admin_news', {"action": "edit", "id": news_item.getId()}) }}" class="edit">Edit</a>
	                        {% endif %}
	                        {% if hasAccess('news_admin_news', 'delete') %}
	                            <a href="#" data-id="{{ news_item.getId() }}" data-title="{{ news_item.getTitle(language) }}" class="delete">Delete</a>
	                        {% endif %}
	                    </td>
	                </tr>
	            {% endfor %}
	        </tbody>
	    </table>

		{% include 'admin/partials/paginationControl.twig' %}
	</div>

	<div class="modal hide fade" id="removeNewsItem">
		<div class="modal-header">
			<span>Litus Admin</span>
			/Delete News Item
		</div>
		<div class="modal-body">
			<p>
				You are about to delete the following news item: <b class="title"></b>?
				Please note that this operation cannot be undone!
			</p>
			<p>
				Are you sure you want to continue?
			</p>
			<div class="footer">
				<input type="button" class="delete" value="Yes">
				<input type="button" class="cancel" data-dismiss="modal" value="No">
			</div>
		</div>
	</div>
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('.item .delete').click(openModal);
		});

		function openModal(e) {
			var $this = $(this);
			e.preventDefault();
			var removeNews = $('#removeNewsItem');
			removeNews.find('.title').html($(this).data('title'));
			removeNews.find('.cancel').one('click', function () {
				removeNews.modal('hide');
			});
			var id = $this.data('id');
			removeNews.find('.delete').unbind('click').click(function () {
				$.post('{{ url('news_admin_news', {"action": "delete"})}}' + id, function (data) {
				    if (data && 'success' == data.status) {
						$('.flashmessage').addClass('hide');
						$('.news_item_removed_success').removeClass('hide');
						$('.item-' + id).remove();
						removeNews.modal('hide');
					} else {
					    errorRemove();
					}
				}, 'json').error(errorRemove);
			});
			removeNews.modal();
		}

		function errorRemove() {
		    $('.flashmessage').addClass('hide');
		    $('.news_item_removed_error').removeClass('hide');
		    $('#removeNews').modal('hide');
		}
	</script>
{% endblock %}
