{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_stock/partials/navigation.twig' %}
		
	{% include 'admin/partials/flashMessenger.twig' %}
	
	<div id="controller_action">
	    <h1>General</h1>
	    <p>Manager: <b>{% if period.getPerson() is not sameas(null) %}{{ period.getPerson().getUserName() }}{% else %}guest{% endif %}</b></p>
	    <p>Open: <b>{% if period.isOpen() %}Yes{% else %}No{% endif %}</b></p>
	    <p>Start: <b>{{ period.getStartDate().format('Y-m-d H:i') }}</b></p>
	    {% if not period.isOpen() %}<p>End: <b>{{ period.getEndDate().format('Y-m-d H:i') }}</b></p>{% endif %}
	    <br class="clear" />
	    <div id="stock_search" style="display:none;">
    		<div style="padding:4px;text-align:right">
    			Search: 
    			<select id="searchField">
    				<option value="title">Title</option>
    				<option value="barcode">Barcode</option>
    				<option value="supplier">Supplier</option>
    			</select>
    			is
    			<input type="text" id="searchString" size="30" />
    		</div>
    		
    		<table class="full_width">
    	    	<tr>
    	        	<th>Article</th>
    	        	<th width="120px">Supplier</th>
    	        	<th width="100px">Delivered</th>
    	        	<th width="100px">Ordered</th>
    	        	<th width="100px">Sold</th>
    			</tr>
    		</table>
    	</div>
    	
    	<div id="default_page">
        	<table class="full_width">
            	<tr>
                	<th>Article</th>
                	<th width="120px">Supplier</th>
                	<th width="100px">Delivered</th>
                	<th width="100px">Ordered</th>
                	<th width="100px">Sold</th>
    			</tr>
    
    	        {% for item in paginator %}
    	            <tr>
    	                <td>{{ item.getArticle().getTitle() }} {% if item.getArticle().getVersionNumber() != 1 %} (v{{ item.getArticle().getVersionNumber() }}) {% endif %}</td>
    	                <td>{{ item.getArticle().getSupplier().getName() }}</td>
    	                <td>{{ period.getNbDelivered(item.getArticle())}}</td>
    	                <td>{{ period.getNbOrdered(item.getArticle())}}</td>
    	                <td>{{ period.getNbSold(item.getArticle())}}</td>
    	            </tr>
    	        {% endfor %}
    	    </table>
    
    		{% include 'admin/partials/paginationControl.twig' %}
	</div>
{% endblock %}

{% block controller_script %}
	<script type="text/javascript">
		$(document).ready(function () {
		    {% if hasAccess('admin_period', 'search') %}
			$.searchDatabase({
				defaultPage: $('#default_page'),
				searchDiv: $('#stock_search'),
				searchString: $('#searchString'),
				searchField: $('#searchField'),
				url: '{{ url('admin_period_search', {"id": period.getId()}) }}',
				display: function (data) {
					$('#stock_search table').find('tr.item').remove();
					$(data).each(function () {
						$('#stock_search table').append(row = $('<tr>', {class: 'item'}));
						row.append('<td>' + this.title + (this.versionNumber != 1 ? ' (v' + this.versionNumber + ')' : '') + '</td>')
							.append('<td>' + this.supplier + '</td>')
							.append('<td>' + this.delivered + '</td>')
							.append('<td>' + this.ordered + '</td>')
							.append('<td>' + this.sold + '</td>');
					});
				}
				,
				clear: function () {
					$('#stock_search table').find('tr.item').remove();
				}
			});
			{% endif %}
		});
	</script>
{% endblock %}