{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/match/partials/navigation.twig' %}
    {% include 'br/admin/match/profile/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width profile_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The profile was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width profile_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete a profile.</p>
        </div>
    </div>

    <div id="controller_action">
        <table class="full_width manage">
            <tr>
                <th>Name</th>
                <th width="180px">Profile Type</th>
                <th width="180px">Action</th>
            </tr>

            {% for profile in paginator %}

                <tr class="item item-{{ profile.getId() }}">
                    <td>{{ profile.getUserName(em) }}</td>
                    <td>{{ profile.getProfileType() }}</td>
                    <td class="actions">
                        {% if hasAccess('br_admin_match_profile', 'edit') %}
                            <a href="{{ url('br_admin_match_profile', {"action": "edit", "id": profile.getId()}) }}" class="edit">Edit</a>
                        {% endif %}
                        {% if hasAccess('br_admin_match_profile', 'matches') %}
                            <a href="{{ url('br_admin_match_profile', {"action": "matches", "id": profile.getId()}) }}" class="view">View Matches</a>
                        {% endif %}
                        {% if hasAccess('br_admin_match_profile', 'delete') %}
                            <a href="#" class="delete" data-id="{{ profile.getId() }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}

        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal fade" id="removeProfile" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Profile
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following profile: <b class="profileTitle"></b>!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">

        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeProfile = $('#removeProfile');
            removeProfile.find('.profileTitle').html($(this).data('title'));
            var id = $this.data('id');
            removeProfile.find('.delete').unbind('click').click(function () {
                $.post('{{ url('br_admin_match_profile', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.profile_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeProfile.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeProfile.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.profile_removed_error').removeClass('hide');
            $('#removeProfile').modal('hide');
        }

    </script>
{% endblock %}
