{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/match/profile/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width match_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The match was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width match_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete a match.</p>
        </div>
    </div>

    <div id="controller_action">
        <table class="full_width manage">
            {% if student %}
                <h2>Name: {{ student.getFullName() }}</h2>
            {% elseif company %}
                <h2>Name: {{ company.getName() }}</h2>
            {% endif %}

            <tr>
                {% if student %}
                    <th>Company</th>
                {% elseif company %}
                    <th>Student</th>
                {% endif %}
                <th width="180px">Match Rating</th>
                <th width="180px">Action</th>
            </tr>

            {% for match in paginator %}

                <tr class="item item-{{ match.getId() }}">
                    {% if student %}
                        <td>{{ match.getCompanyMatchee().getCompany().getName() }}</td>
                    {% elseif company %}
                        <td>{{ match.getStudentMatchee().getStudent().getFullName() }}</td>
                    {% endif %}
                    <td>{{ match.getMatchPercentage() }} %</td>
                    <td class="actions">
                        {% if hasAccess('br_admin_match_match', 'edit') %}
                            <a href="{{ url('br_admin_match_match', {"action": "view", "id": match.getId()}) }}" class="view">View</a>
                        {% endif %}
                        {% if hasAccess('br_admin_match_match', 'delete') %}
                            <a href="#" class="delete" data-id="{{ match.getId() }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

{% endblock %}

{% block content_script %}
    <script type="text/javascript">

        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeMatch = $('#removeMatch');
            removeMatch.find('.matchTitle').html($(this).data('title'));
            var id = $this.data('id');
            removeMatch.find('.delete').unbind('click').click(function () {
                $.post('{{ url('br_admin_match_match', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.match_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeMatch.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeMatch.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.match_removed_error').removeClass('hide');
            $('#removeMatch').modal('hide');
        }

    </script>
{% endblock %}
