{% extends 'site/base.twig' %}

{% block content %}
    <h1>{{ translate('Pictures') }}</h1>

    <h2>{{ album.getTitle(language) }}</h2>

    <div id="images">
        {% for photo in album.getPhotos() %}
            {% if not photo.isCensored() %}
                <a href="{{ filePath }}/{{ photo.getAlbum().getId() }}/{{ photo.getFilePath() }}" class="imageGallery" data-id="{{ photo.getId() }}"><img src="{{ filePath }}/{{ photo.getAlbum().getId() }}/{{ photo.getThumbPath() }}"></a>
            {% elseif photo.isCensored() and allowCensor %}
                <a href="{{ filePath }}/{{ photo.getAlbum().getId() }}/{{ photo.getFilePath() }}" class="imageGallery censored" data-id="{{ photo.getId() }}"><img src="{{ filePath }}/{{ photo.getAlbum().getId() }}/{{ photo.getThumbPath() }}"></a>
            {% endif %}
        {% endfor %}
    </div>
    <br class="clear" />
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#images').imageGallery({
                closeText               : '{{ translate('Close') }}',
                previousText            : '{{ translate('Previous') }}',
                playText                : '',
                pauzeText               : '',
                nextText                : '{{ translate('Next') }}',
                censorText              : '{{ translate('Censor') }}',
                uncensorText            : '{{ translate('Uncensor') }}',
                censorUrl               : '{{ url('gallery', {'action': 'censor'}) }}',
                uncensorUrl             : '{{ url('gallery', {'action': 'uncensor'}) }}',
                zIndex                  : 20000,
                allowCensor             : {% if allowCensor %}1{% else %}0{% endif %},
            });
        });
    </script>
{% endblock %}
