{% extends 'site/base.twig' %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{{ translate('Pictures') }}</h1>
        </div>

        <h2>{{ currentYear }}</h2>
        {% for album in attribute(albums, currentYear).albums %}
            <div class="album">
                <div class="title">{{ album.getTitle(language) }}</div>
                <a href="{{ url('gallery', {'action': 'album', 'name': album.getName()}) }}">
                    <img src="{{ filePath }}/{{ album.getId() }}/{{ album.getPhoto().getThumbPath() }}" alt="{{ album.getTitle(language) }}" />
                </a>
            </div>
        {% endfor %}
        <br style="clear:both" />

        <h2>{{ translate('Archive') }}</h2>
        {% for year in albums %}
            {% if year.year != currentYear %}
                <div class="album">
                    <div class="title">{{ year.year }}</div>
                    <a href="{{ url('gallery', {'action': 'year', 'name': year.year}) }}">
                        {% set album = random(year.albums) %}
                        <img src="{{ filePath }}/{{ album.getId() }}/{{ album.getPhoto().getThumbPath() }}" alt="{{ year.year }}" />
                    </a>
                </div>
            {% endif %}
        {% endfor %}
        <br style="clear: both" />
    </div>
{% endblock %}
