{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('Account') }} <small>&mdash; {{ translate('Edit') }}</small></h1>
    </div>

    {% include 'common/account/partials/navigation.twig' %}

    <div class="row page">
        <div class="span12">
            {% import 'site/partials/form.twig' as forms %}
            {{ forms.renderForm(form) }}
        </div>
    </div>

    <div id="modalMemberWarning" class="modal fade hide">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{{ translate('Become A Member') }}</h3>
        </div>
        <div class="modal-body">
            <p>
                {{ translate('You haven\'t checked the option to become a member. Being a member has many advantages.') }}
            </p>
            <p>
                {{ translate('Are you sure you want to continue?') }}
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary confirm">{{ translate('Yes') }}</button>
            <button class="btn" data-dismiss="modal">{{ translate('No') }}</button>
        </div>
    </div>

    <div id="modalTermsAndCoditions" class="modal fade hide">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{{ translate('Terms And Conditions') }}</h3>
        </div>
        <div class="modal-body">
            <p>
                {{ markdown(termsAndConditions) }}
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">{{ translate('Close') }}</button>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#conditions').parent().append(
                conditionsLink = $('<a>', {'href': '#'}).html('&mdash;{{ translate('Read Them') }}')
            );
            conditionsLink.click(function (e) {
                e.preventDefault();
                $('#modalTermsAndCoditions').modal();
            });

            $('#register').click(function (e) {
                e.preventDefault();

                if (!$('#become_member').is(':checked')) {
                    $('#modalMemberWarning').modal();
                    $('#modalMemberWarning .confirm').one('click', function () {
                        $('#register_form').submit();
                    });
                } else {
                    $('#register_form').submit();
                }
            });

            $('#primary_address_address_city').change(cityChange);
            $('#become_member').change(toggleMember);
            toggleMember();
            cityChange();

            $('#university_email').wrap('<div class=\"input-append\" />');
            $('#university_email').after('<span class=\"add-on\">@student.kuleuven.be</span>');
        });

        function cityChange() {
            var city = $('#primary_address_address_city option:selected').val();
            $('.primary_address_address_street, #primary_address_address_number, #primary_address_address_mailbox, #primary_address_address_postal_other, #primary_address_address_city_other, #primary_address_address_street_other').closest('.control-group').hide();
            if (city != 0)
                $('#primary_address_address_street_' + city + ',#primary_address_address_postal_' + city + ',#primary_address_address_city_' + city + ', #primary_address_address_number, #primary_address_address_mailbox').closest('.control-group').show();
        }

        function toggleMember() {
            if ($('#become_member').is(':checked'))
                $('#organization_info .control-group').show();
            else
                $('#organization_info .control-group').hide();
            $('#become_member, #conditions, #bakske').closest('.control-group').show();
        }
    </script>
{% endblock %}