{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('Account') }}</h1>
    </div>

    {% include 'common/account/partials/navigation.twig' %}

    <div class="row page">
        <div class="span12">
            <h3>{{ translate('Personal') }}</h3>
            <div class="row">
                <div class="span9">
                    <dl class="dl-horizontal wide">
                        <dt>{{ translate('Name') }}</dt>
                        <dd>{{ authenticatedPerson.getFullName() }}&nbsp;</dd>
                        <dt>{{ translate('Birthday') }}</dt>
                        <dd>{{ dateLocalized(authenticatedPerson.getBirthday(), 'd MMMM y') }}&nbsp;</dd>
                        <dt>{{ translate('Sex') }}</dt>
                        <dd>{{ authenticatedPerson.getSex()|capitalize }}&nbsp;</dd>
                        <dt>{{ translate('Phone Number') }}</dt>
                        <dd>{{ authenticatedPerson.getPhoneNumber() }}&nbsp;</dd>
                        <dt>{{ translate('University Identification') }}</dt>
                        <dd>{{ authenticatedPerson.getUniversityIdentification() }}&nbsp;</dd>
                        <dt>{{ translate('University E-mail') }}</dt>
                        <dd>{{ authenticatedPerson.getUniversityEmail() }}&nbsp;</dd>
                        <dt>{{ translate('Personal E-mail') }}</dt>
                        <dd>{{ authenticatedPerson.getPersonalEmail() }}&nbsp;</dd>
                    </dl>
                </div>
                <div class="span3">
                    <div class="thumbnail" style="width: 180px; height: 135px; margin-top: 18px;">
                        {% if authenticatedPerson.getPhotoPath() %}
                            <img src="{{ url('common_account', {'action': 'photo', 'image': authenticatedPerson.getPhotoPath()}) }}" alt="">
                        {% else %}
                            <img data-src="holder.js/180x135/auto/text:Profile Image" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>

            <h3>{{ translate('Addresses') }}</h3>
            <div class="row">
                <div class="span6">
                    <address>
                        <strong>{{ translate('Primary Address&mdash;Student Room or Home') }}</strong><br />
                        {{ authenticatedPerson.getPrimaryAddress().getStreet() }} {{ authenticatedPerson.getPrimaryAddress().getNumber() }}{% if '' != authenticatedPerson.getPrimaryAddress().getMailbox() %}/{{ authenticatedPerson.getPrimaryAddress().getMailbox() }}{% endif %}<br />
                        {{ authenticatedPerson.getPrimaryAddress().getPostal() }} {{ authenticatedPerson.getPrimaryAddress().getCity() }}<br />
                        {{ authenticatedPerson.getPrimaryAddress().getCountry() }}
                    </address>
                </div>
                <div class="span6">
                    <address>
                        <strong>{{ translate('Secondary Address&mdash;Home') }}</strong><br />
                        {{ authenticatedPerson.getSecondaryAddress().getStreet() }} {{ authenticatedPerson.getSecondaryAddress().getNumber() }}{% if '' != authenticatedPerson.getSecondaryAddress().getMailbox() %}/{{ authenticatedPerson.getSecondaryAddress().getMailbox() }}{% endif %}<br />
                        {{ authenticatedPerson.getSecondaryAddress().getPostal() }} {{ authenticatedPerson.getSecondaryAddress().getCity() }}<br />
                        {{ authenticatedPerson.getSecondaryAddress().getCountry() }}
                    </address>
                </div>
            </div>

            <h3>{{ translate('Organization') }}</h3>
            <dl class="dl-horizontal wide">
                <dt>{{ translate('Organization') }}</dt>
                <dd>{{ authenticatedPerson.getOrganization(currentAcademicYear).getName() }}&nbsp;</dd>
                <dt>{{ translate('Membership') }}</dt>
                <dd>{% if metaData.becomeMember() %}Yes{% else %}No{% endif %}</dd>
                <dt>{{ translate('I want to receive my Ir.Reëel at CuDi') }}</dt>
                <dd>{% if metaData.receiveIrReeelAtCudi() %}Yes{% else %}No{% endif %}</dd>
                <dt>{{ translate('I want to receive \'t Bakske by e-mail') }}</dt>
                <dd>{% if metaData.bakskeByMail() %}Yes{% else %}No{% endif %}</dd>
                <dt>{{ translate('T-shirt Size') }}</dt>
                <dd>{{ metaData.getTshirtSize() }}</dd>
            </dl>

            <h3>{{ translate('Studies') }}</h3>
            {% for study in studies %}
                <h4>{{ study.enrollment.getStudy().getFullTitle() }}<small>&mdash;{{ translate('Phase') }} {{ study.enrollment.getStudy().getPhase() }}</small></h4>
                {% for subject in study.subjects %}
                    <ul>
                        {% if subject.getSubject().getId() in subjects %}
                            <li>{{ subject.getSubject().getName() }}</li>
                        {% endif %}
                    </ul>
                {% endfor %}
            {% endfor %}
            <div class="form-actions hidden-phone" style="text-align: center;">
                <a href="{{ url('common_account', {'action': 'edit'}) }}" class="btn btn-primary">{{ translate('Edit') }}</a>
            </div>
        </div>
    </div>
{% endblock %}