{% extends 'site/base.twig' %}

{% block content %}

    {# Script for collapsing shift items #}
    {{ inlineScript() }}

    <script type="text/javascript">
        $(document).ready(function() {
            var faqItems = document.getElementsByClassName('shiftHolder');
            for(var i = 0; i < faqItems.length; i++) {
                var currentFAQ = faqItems[i];
                var currentContent = currentFAQ.querySelector('.shiftDetails');
                currentContent.setAttribute("style", "height: 0px;");
                currentFAQ.addEventListener("click", func, false);
                function func() {
                    var currentContent = this.querySelector('.shiftDetails');
                    if (currentContent.style.height === "0px") {
                        currentContent.setAttribute("style", "height: auto");
                    } else {
                        currentContent.setAttribute("style", "height: 0px");
                    }
                }
            }
        })
    </script>

    {% import _self as self %}

    <div class="container">
        <div class="standardPageTitleHolder">
            {# TRANSLATIONS #}
            <h1>{{ translate('My VTK') }}</h1>
            <div class="pageTitleDeco"></div>
        </div>

        <div style="height:40px"></div>

        {% include 'common/account/partials/navigation.twig' %}

        <div style="height:40px"></div>

        <div class="contentBlock">
            <div class="headingHolder">
                <h3 style="margin-bottom: 0px">{{ translate("My")}} {{ shopName }}</h3>
            </div>
            
            <div style="height: 20px"></div>

            {% if reservations|length == 0 %}
                <p>{{ translate("You currently have no items assigned") }}</p>
            {% else %}

                <div>

                    <div class="itemHolder hideOnMobile">
                        <p class="fullDate1-column">{{ translate('Date of Reservation') }}</p>
                        {# {{ translate('Reservation time') }} TO DO korter maken #}
                        <p class="fullDate2-column">{{ translate('Sales session') }}</p>
                        <p class="article-column">{{ translate('Product') }}</p> 
                        <p class="amount-column">#</p>
                        <p class="price-column">€</p>   
                        <p class="action-column">{{ translate('Cancel') }}</p>               
                    </div>

                    {% for reservation in reservations %}
                        <div class="itemHolder hideOnMobile item-{{ booking.getId() }}">
                            <div class="fullDate1-column" >{#{{ translate(reservation.getTimestamp().format('l')) }}#} {{ reservation.getTimestamp().format('d/m/Y H:i') }}</div>
                            <div class="fullDate2-column" >{#{{ translate(reservation.getSalesSession().getStartDate().format('l')) }}#} {{ reservation.getSalesSession().getStartDate().format('d/m/Y H:i') }}
                                - {{ reservation.getSalesSession().getEndDate().format('H:i') }}</div>
                            <div class="article-column" >{{ reservation.getProduct().getName() }}</div>
                            <div class="amount-column" >{{ reservation.getAmount }}</div>
                            <div class="price-column" >€{{ reservation.getProduct().getSellPrice()|number_format(2, '.', ',') }}</div>
                            <div class="action-column" >
                                {% if reservation.canCancel() %}
                                    <a class="button blue unfilled"
                                       href="{{ url('shop', {action: 'deleteReservation', id: reservation.getId()}) }}">
                                        {# <i class="glyphicon glyphicon-remove"></i> #}
                                        {{ translate('Cancel') }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                        {# View on mobile #}
                        <div class="itemHolderMobile item-{{ booking.getId() }}">
                            <h5 style="margin-bottom: 5px">{{ reservation.getProduct().getName() }}</h5>
                            <div>{{ reservation.getSalesSession().getStartDate().format('d/m/Y H:i') }} - {{ reservation.getSalesSession().getEndDate().format('H:i') }} </div>
                            <div>{{ reservation.getAmount }} {{ translate('Pieces') }} | {{ translate('Total:') }} €{{ reservation.getProduct().getSellPrice() * reservation.getAmount|number_format(2, '.', ',') }}</div>
                            <div style="height: 10px"></div>
                            <div >
                                {% if reservation.canCancel() %}
                                    <a class="button blue unfilled" style="padding: 5px 11px"
                                       href="{{ url('shop', {action: 'deleteReservation', id: reservation.getId()}) }}">
                                        Annuleren
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %} 
                
                </div>
            {% endif %}
            <div style="height: 20px"></div>
            <div class="buttonHolder">
                <a class="myVtkButton" href="{{ url('shop', {"action": "reserve"}) }}">{{ translate('Order sandwiches') }}</a>
            </div>
        </div>

        <div style="height: 100px"></div>        

        <div class="contentBlock">
            <div class="headingHolder">
                <h3 style="margin-bottom: 0px">{{ translate('My') }} {{ translate('Cudi') }}</h3>
            </div>

            <div style="height: 20px"></div>

            {% if bookings|length == 0 and futureBookings|length == 0 %}
                <p>{{ translate("You currently have no items reserved") }}</p>
                <div style="height: 20px"></div>
            {% else %}
                {% if bookings|length > 0 %}
                <div>

                    <h5>{{ translate('Items ready for pickup') }}</h5> {# TO DO : Translate#}

                    <div class="itemHolder hideOnMobile">
                        <p class="article-column">{{ translate('Article') }}</p>
                        <p class="amount-column">#</p>
                        <p class="price-column">€</p> 
                        {# {{ translate('Price / Piece') }} vervangen door gewoon euroteken! #}
                        <p class="date-column">{{ translate('Expiration Date') }}</p>
                        <p class="action-column">{{ translate('Actions') }}</p>                
                    </div>

                    {% for booking in bookings %}
                        <div class="itemHolder hideOnMobile  item-{{ booking.getId() }}">
                            <div class="article-column" >{{ booking.getArticle().getMainArticle().getTitle() }}</div>
                            <div class="amount-column" >{{ booking.getNumber() }}</div>
                            <div class="price-column" >€{{ (booking.getNumber() * booking.getArticle().getSellPrice()/100)|number_format(2) }}</div>
                            <div class="date-column" >{{ dateLocalized(booking.getExpirationDate(), 'dd/MM/y') }}</div>
                            <div class="action-column" >
                            {% if booking.getArticle().isUnbookable() %}
                                <a href="#" class="button blue unfilled cancel" data-id="{{ booking.getId() }}" data-title="{{ booking.getArticle().getMainArticle().getTitle() }}">
                                    {{ translate('Cancel') }}
                                </a>
                            {% endif %}
                            </div>
                        </div>

                        {# View on mobile #}
                        <div class="itemHolderMobile item-{{ booking.getId() }}">
                            <h5 style="margin-bottom: 5px">{{ booking.getArticle().getMainArticle().getTitle() }}</h5>
                            {% if booking.getExpirationDate %}<div>{{ translate('Expiration Date') }}: {{ dateLocalized(booking.getExpirationDate(), 'dd/MM/y') }}</div>{% endif %}
                            <div>{{ booking.getNumber() }} {{ translate('Pieces') }} | {{ translate('Total') }}: €{{ (booking.getNumber() * booking.getArticle().getSellPrice()/100)|number_format(2) }}</div>
                            <div style="height: 10px"></div>
                            <div >
                                {% if booking.getArticle().isUnbookable() %}
                                    <a href="#" style="padding: 5px 11px" class="button blue unfilled cancel" data-id="{{ booking.getId() }}" data-title="{{ booking.getArticle().getMainArticle().getTitle() }}">
                                        {{ translate('Cancel') }}
                                    </a>
                                {% endif %}                            
                            </div>
                        </div>

                    {% endfor %} 
                
                </div>

                <div style="height: 20px"></div>
                {% endif %}

                {% if futureBookings|length > 0 %}
                <div>

                    <h5>{{ translate('Reserved items') }}</h5> {# TO DO : Translate#}

                    <div class="itemHolder">
                        <p class="article-column">{{ translate('Article') }}</p>
                        <p class="amount-column">#</p>
                        <p class="price-column">€</p> 
                        {# {{ translate('Price / Piece') }} vervangen door geowon euroteken! #}
                        <p class="date-column">{{ translate('Expiration Date') }}</p>
                        <p class="action-column">{{ translate('Actions') }}</p>                
                    </div>

                    {% for booking in futureBookings %}
                        <div class="itemHolder item-{{ booking.getId() }}">
                            <div class="article-column" >{{ booking.getArticle().getMainArticle().getTitle() }}</div>
                            <div class="amount-column" >{{ booking.getNumber() }}</div>
                            <div class="price-column" >€{{ (booking.getNumber() * booking.getArticle().getSellPrice()/100)|number_format(2) }}</div>
                            <div class="date-column" >{{ dateLocalized(booking.getExpirationDate(), 'dd/MM/y') }}</div>
                            <div class="action-column" >
                            {% if booking.getArticle().isUnbookable() %}
                                <a href="#" class="button blue unfilled cancel" data-id="{{ booking.getId() }}" data-title="{{ booking.getArticle().getMainArticle().getTitle() }}">
                                    {{ translate('Cancel') }}
                                </a>
                            {% endif %}
                            </div>
                        </div>
                    {% endfor %} 
                
                </div>

                <div style="height: 20px"></div>
                {% endif %}
            {% endif %}
            <div class="buttonHolder">
                <a class="myVtkButton" href="{{ url('cudi_booking', {"action": "book"}) }}">{{ translate("Order Books") }}</a>
            </div>
        </div>

        <div class="modal fade" id="cancelBooking">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>{{ translate("Cudi") }}</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            {{ translate('Are you sure you want to cancel the following article:') }} <b class="articleTitle"></b>?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger continue">{{ translate("Yes") }}</button>
                        <button class="btn btn-default cancel" data-dismiss="modal">{{ translate("No") }}</button>
                    </div>
                </div>
            </div>
        </div>        

        <div style="height: 100px"></div>

        <div class="contentBlock">

            <div class="headingHolder">
                <h3 style="margin-bottom: 0px">{{ translate('My Tickets') }}</h3>
            </div>

            <div style="height: 20px"></div>

            <div class="panel-group">
                {% for index, ticket in tickets %}
                    <div class="shiftHolder">
                        <div class="shiftHeader">
                            <div class="shiftFlexCenter">
                                <h5 style="margin-bottom: 0px">{{ ticket.getEvent().getActivity().getTitle() }}</h5>
                                <p style="font-size: 14px; margin-bottom: 0px">
                                    {{ dateLocalized(ticket.getEvent().getActivity().getStartDate(), 'd/M/y') }} |
                                    {{ dateLocalized(ticket.getEvent().getActivity().getStartDate(), 'HH:mm') }} - {{ dateLocalized(ticket.getEvent().getActivity().getEndDate(), 'HH:mm') }}
                                    {% if not ticket.getOption().getName() == "" %}
                                        | {{ ticket.getOption().getName() }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="flexStretch">
                                <div class="buttons" style="text-align: right;padding-top: 5px">
                                    {% if hasAccess('ticket', 'pay') and ticket.getStatus() != 'Sold' and isOnlinePayment %}
                                        <a href="{{ url("ticket", {"action": "pay", "id": ticket.getId(), "code": ticket.getNumber()}) }}" class="btn myVtkSuccessButton btn-sm payTicket" onclick="event.stopPropagation()" data-id="{{ ticket.getId() }}">{{ translate('Pay') }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        {% if ticket.getEvent().getQrEnabled() %}
                            <div class="shiftDetails">
                                <img style="max-width: 100%; max-height: 100%; display: block; margin: auto; float: left;" src="{{ticketUrls[index]}}" alt="QR code of this page generated by an api of google">
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="buttonHolder">
                <a class="myVtkButton" href="{{ url('calendar') }}">{{ translate('Find more events') }}</a>
            </div>

        </div>

        <div style="height: 100px"></div>

        <div class="contentBlock">
            <div class="headingHolder">
                <h3 style="margin-bottom: 0px">{{ translate('My Shifts') }}</h3>
            </div>

            <div style="height: 20px"></div>

            {{ self.displayShifts(entityManager, authenticatedPerson, shifts, 'myShifts') }}

            <div class="buttonHolder">
                <a class="myVtkButton" href="{{ url('shift', {"action": "index"}) }}">{{ translate("Search more Shifts") }}</a>
                <a class="myVtkButton" href="{{ url('shift', {"action": "history"}) }}">{{ translate("View history") }}</a>
            </div>
        </div>

        <div style="height: 100px"></div>

        <div class="contentBlock">
            <div class="headingHolder">
                <h3 style="margin-bottom: 0px">{{ translate('My Timeslots') }}</h3>
            </div>

            <div style="height: 20px"></div>

            {{ self.displayShifts(entityManager, authenticatedPerson, timeslots, 'myTimeSlots', true) }}

            <div class="buttonHolder">
                <a class="myVtkButton" href="{{ url('registration_shift', {"action": "index"}) }}">{{ translate('Reserve Timeslots') }}</a>
            </div>
        </div>

        <div style="height: 100px"></div>

        {% if consumptions > 0 %}
            <div class="contentBlock">
                <div class="headingHolder">
                    <h3 style="margin-bottom: 0px">{{ translate('My Consumptions') }}</h3>
                </div>

                <div style="height: 20px"></div>

                <h4>{{ translate('You have') }} {{ consumptions }} {{ translate('consumptions.') }}</h4>

{#                <div class="buttonHolder">#}
{#                    <a class="myVtkButton" href="{{ url('registration_shift', {"action": "index"}) }}">{{ translate('Reserve Timeslots') }}</a>#}
{#                </div>#}
            </div>
        {% endif %}

{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('a[rel=popover], span[rel=popover]').popover({'trigger': 'hover', 'html': true, 'container': 'body'});
            $('.cancel').click(openModal);

            $('.shiftSignOut').click(function () {
                var button = $(this);
                button.addClass('disabled');

                $.post(
                    '{{ url('shift', {"action": "signOut"}) }}',
                    {"id": $(this).data('id')},
                    function (data) {
                        if (data && 'success' == data.status) {
                            $('.flashmessage').removeClass('in');
                            $('#sign_out').addClass('in');

                            var panel = $(button.data('panel')).clone();
                            panel.find('.buttons').html('').css('display', 'none');

                            $('#shifts-myShifts ' + button.data('panel')).fadeOut(function () {$(this).remove()});
                        } else {
                            errorSave();
                        }
                    },
                    'json'
                ).error(errorSave);
            });

            $('.registrationShiftSignOut').click(function () {
                var button = $(this);
                button.addClass('disabled');

                $.post(
                    '{{ url('registration_shift', {"action": "signOut"}) }}',
                    {"id": $(this).data('id')},
                    function (data) {
                        if (data && 'success' === data.status) {
                            $('.flashmessage').removeClass('in');
                            $('#sign_out').addClass('in');

                            var panel = $(button.data('panel')).clone();
                            panel.find('.buttons').html('').css('display', 'none');

                            $('#shifts-myTimeslots ' + button.data('panel')).fadeOut(function () {$(this).remove()});
                        } else {
                            errorSave();
                        }
                    },
                    'json'
                ).error(errorSave);
            });
        });


        function errorSave() {
                $('.flashmessage').removeClass('in');
                $('#error').addClass('in');
            }


        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var cancelBooking = $('#cancelBooking');
            cancelBooking.find('.articleTitle').html($(this).data('title'));
            var id = $this.data('id');
            cancelBooking.find('.continue').unbind('click').click(function () {
                $.post('{{ url('cudi_booking', {"action": "cancel"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('#totalPrice').html(($('#totalPrice').html() - $('.item-' + id).data('price')/100).toFixed(2));
                        $('.item-' + id).remove();
                        $('#cancelBooking').modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            cancelBooking.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.booking_canceled_error').removeClass('hide');
            $('#cancelBooking').modal('hide');
        }

    </script>
{% endblock %}


{# DISPLAYING ACTUAL SHIFTS #}
{% macro displayShifts(entityManager, authenticatedPerson, shifts, accordionName, timeslots = false) %}
    {% import _self as self %}
    {% set previousShift = null %}
    <div class="panel-group" id="shifts-{{ accordionName }}">
        {% for shift in shifts %}
            {% if previousShift.getStartDate().format('Ymd') < shift.getStartDate().format('Ymd') %}
                <h4 style="margin-top: 15px">{{ translate(shift.getStartDate().format('l')) }}  {{ dateLocalized(shift.getStartDate(), 'd/M/y') }}</h4>
            {% endif %}

            {% set previousShift = shift %}

            <div class="shiftHolder">
                <div class="shiftHeader">
                    <div class="shiftFlexCenter">
                        <h5 style="margin-bottom: 0px">{{ shift.getName() }}</h5>
                        <p style="font-size: 14px; margin-bottom: 0px">{{dateLocalized(shift.getStartDate(), 'd/M/y')}} | {{ dateLocalized(shift.getStartDate(), 'HH:mm') }}-{{ dateLocalized(shift.getEndDate(), 'HH:mm') }}</p>
                    </div>
                    <div class="flexStretch">
                        <div class="buttons" style="text-align: right">
                            {% if shift.canSignOut(entityManager) %}
                                <div>
                                    <a class="button blue unfilled {% if timeslots == false %}shiftSignOut{% else %}registrationShiftSignOut{% endif %}" onclick="event.stopPropagation()" data-id="{{ shift.getId() }}">{{ translate('Sign Out') }}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="shiftDetails">
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <dl>
                                <dt>{{ translate('Name') }}</dt>
                                <dd>{{ shift.getName() }}</dd>
                                {% if shift.getReward() > 0 %}
                                    <dt>{{ translate('Reward') }}</dt>
                                    <dd>{{ shift.getReward() }} {{ translate('Coins') }}
                                        {% if shift.getHandledOnEvent() %}
                                            {{ translate('on the event')}}
                                        {% endif %}
                                    </dd>
                                {% endif %}
                                {% if shift.getPoints() > 0 %}
                                    <dt>{{ translate('Points') }}</dt>
                                    <dd>{{ shift.getPoints() }} {{ translate('Points') }}</dd>
                                {% endif %}
                                <dt>{{ translate('Start') }}</dt>
                                <dd>{{ dateLocalized(shift.getStartDate(), 'd/M/y HH:mm') }}</dd>
                                <dt>{{ translate('End') }}</dt>
                                <dd>{{ dateLocalized(shift.getEndDate(), 'd/M/y HH:mm') }}</dd>
                            </dl>
                        </div>
                        <div class="col-sm-4">
                            <dl>
                                <dt>{{ translate('Manager') }}</dt>
                                <dd>{{ shift.getManager().getFullName() }}</dd>

                                {% if shift.getEvent() is not null %}
                                    <dt>{{ translate('Event') }}</dt>
                                    <dd>{{ shift.getEvent().getTitle(language) }}</dd>
                                {% endif %}

                                <dt>{{ translate('Unit') }}</dt>
                                <dd>{{ shift.getUnit().getName() }}</dd>
                            </dl>
                        </div>
                        <div class="col-sm-4">
                            {% if 0 != shift.getNbResponsibles() %}
                                <dl>
                                    <dt>{{ translate('Responsibles') }}</dt>

                                    {% for responsible in shift.getResponsibles() %}
                                        <dd>{{ responsible.getPerson().getFullName() }}</dd>
                                    {% endfor %}
                                </dl>
                            {% endif %}

                            {% if 0 != shift.getNbVolunteers() %}
                                <dl>
                                    <dt>{{ translate('Volunteers') }}</dt>

                                    {% for volunteer in shift.getVolunteers() %}
                                        <dd>{{ volunteer.getPerson().getFullName() }}</dd>
                                    {% endfor %}
                                </dl>
                            {% endif %}
                        </div>
                    </div>
                    <dl>
                        <dt>{{ translate('Description') }}</dt>
                        <dd style="text-align: justify;">{{ shift.getDescription() }}</dd>

                        <dt>{{ translate('Location') }}</dt>
                        <dd>
                            {{ shift.getLocation().getName() }}
                        </dd>
                        <dd style="margin-top: 5px;">
                            <img class="img-rounded" src="{{ staticMap(shift.getLocation(), '367x125', '7a43b6') }}" />
                        </dd>
                    </dl>
                </div>
            </div>

        {% else %}
            {# Iets ander bedenken voor deze stuff anders alert alert-warning class #}
            <div>
                {% if 'search' == accordionName %}
                    {{ translate('No shifts were found that match the given query.') }}
                {% elseif timeslots == false %}
                    {{ translate('You have not yet signed up for any shifts. Click the button below to add yourself to a shift!') }}
                {% else %}
                    {{ translate('You have not yet signed up for any timeslots. Click the button below to add yourself to a timeslots!') }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endmacro %}
