{% extends 'site/base.twig' %}

{% block content %}
    
    <div class="container">
        <div class="spacer40"></div>
        <h1>Mijn VTK</h1>
        <div class="spacer40"></div>
        {% include 'common/account/partials/navigation.twig' %}

        <div class="spacer40"></div>

        <div class="columnGrid">
            <div class="contentBlock">
                <div class="headingHolder">
                    <h2 style="margin-bottom: 0px">{{ translate('Cudi') }}</h2>
                    <div class="lineDecoration"></div>
                </div>

                <h5>{{ translate('Deze boeken liggen voor je klaar: ') }}</h5> {# Todo: Translate#}
                {% for booking in bookings %}
                    <div class="itemHolder">
                        <p>{{ booking.getNumber() }}# :</p>
                        <p>{{ booking.getArticle().getMainArticle().getTitle() }}</p>
                        <div class="flexStretch"></div>
                        <p style="opacity: 50%">€{{ (booking.getNumber() * booking.getArticle().getSellPrice()/100)|number_format(2) }}</p>
                    </div>
                {% endfor %}

                <div style="height: 20px"></div>

                <h5>{{ translate('Deze boeken heb je gereserveerd: ') }}</h5>
                {% for booking in futureBookings %}
                <div class="itemHolder">
                    <p>{{ booking.getNumber() }}# :</p>
                    <p>{{ booking.getArticle().getMainArticle().getTitle() }}</p>
                    <div class="flexStretch"></div>
                    <p style="opacity: 50%">€{{ (booking.getNumber() * booking.getArticle().getSellPrice()/100)|number_format(2) }}</p>
                </div>
                {% endfor %}
                {{ total/100|number_format(2) }}

                <div style="margin-top: 25px">
                    <h5>MOGELIJKE ACTIES</h5>
                    <a class="button blue unfilled" href="{{ url('cudi_booking', {"action": "book"}) }}">Boeken bestellen</a>
                </div>

            </div>
            <div class="contentBlock">
                <div class="headingHolder">
                    <h2 style="margin-bottom: 0px">{{ shopName }}</h2>
                    <div class="lineDecoration"></div>
                </div>

                {% for reservation in reservations %}
                    <div class="itemHolder">
                        <p>{{ reservation.getAmount() }}# :</p>
                        <p>{{ reservation.getProduct().getName() }}</p>
                        <div class="flexStretch"></div>
                        <p style="opacity: 50%">€{{ (reservation.getAmount() * reservation.getProduct().getSellPrice()/100)|number_format(2) }}</p>
                    </div>
                {% endfor %}

                <div style="margin-top: 25px">
                    <h5>MOGELIJKE ACTIES</h5>
                    <a class="button blue unfilled" href="{{ url('shop', {"action": "reserve"}) }}">Broodjes bestellen</a>
                </div>

            </div>
        </div>

        <div class="spacer40"></div>

        <div class="contentBlock">
            <div class="headingHolder">
                <h2 style="margin-bottom: 0px">Mijn shiften</h2>
                <div class="lineDecoration"></div>
            </div>

            {% for shift in shifts %}
                <div class="itemHolder">
                    <p>{{ shift.getName() }}</p>
                    <div class="flexStretch"></div>
                    <p style="opacity: 50%">{{dateLocalized(shift.getStartDate(), 'd/M/y')}} | {{ dateLocalized(shift.getStartDate(), 'HH:mm') }}-{{ dateLocalized(shift.getEndDate(), 'HH:mm') }}</p>
                </div>
            {% endfor %}

            <div style="margin-top: 25px">
                <h5>MOGELIJKE ACTIES</h5>
                <a class="button blue unfilled" href="{{ url('shift', {"action": "index"}) }}">Meer shiften zoeken</a>
            </div>
        </div>

        <div class="spacer40"></div>

        <div class="contentBlock">
            <div class="headingHolder">
                <h2 style="margin-bottom: 0px">Mijn tijdssloten</h2>
                <div class="lineDecoration"></div>
            </div>

            {% for shift in timeslots %}
                <div class="itemHolder">
                    <p>{{ shift.getName() }}</p>
                    <div class="flexStretch"></div>
                    <p style="opacity: 50%">{{dateLocalized(shift.getStartDate(), 'd/M/y')}} | {{ dateLocalized(shift.getStartDate(), 'HH:mm') }}-{{ dateLocalized(shift.getEndDate(), 'HH:mm') }}</p>
                </div>
            {% endfor %}

            <div style="margin-top: 25px">
                <h5>MOGELIJKE ACTIES</h5>
                <a class="button blue unfilled" href="{{ url('registration_shift', {"action": "index"}) }}">Een tijdsslot reserveren</a>
            </div>
        </div>

{% endblock %}