{% extends 'site/base.twig' %}

{% block content %}
    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="page-alert">
        <div class="flashmessage alert alert-success fade" id="preferences_saved_success">
            <button type="button" class="close">&times;</button>
            <div class="content">
                {{ translate('Your mailing preferences were successfully saved!') }}
            </div>
        </div>
        <div class="flashmessage alert alert-danger alert-fixed-top fade" id="preferences_saved_error">
            <button type="button" class="close">&times;</button>
            <div class="content">
                {{ translate('An error occurred while saving your mailing preferences!') }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="spacer40"></div>
        <h1>{{ translate('Account') }} <small>&mdash; {{ translate('Mailing Preferences') }}</small></h1>
        <div class="lineDecoration"></div>
    </div>

    <div class="container">
        <div style="height: 60px"></div>
        <div class="contentBlock">
            <div class="headingHolder">
                <h3 style="margin-bottom: 0px">{{ translate('Email Address')}}</h3>
            </div>

            <div style="height: 15px"></div>
            <p>{{ translate("Choose on which email address you want to receive our email") }}: </p>
            <div class="checkbox">
                <label>
                    <div style="height: 1px"></div>
                    <b><input type="checkbox"  class="use_personal_email" {% if usePersonalEmail %}checked="checked"{% endif %}>{{ translate("Personal") }}</b>
                    <div style="height: 1px"></div>
                    <p>{{ personalEmail }} <u><a href="{{ url('common_account', {"action": "edit"}) }}" class="edit">({{ translate("change") }})</a></u></p>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <div style="height: 1px"></div>
                    <b><input type="checkbox"  class="use_university_email" {% if useUniversityEmail %}checked="checked"{% endif %}>{{ translate("University") }}</b>
                    <div style="height: 1px"></div>
                    <p>{{ universityEmail }} <u><a href="{{ url('common_account', {"action": "edit"}) }}" class="edit">({{ translate("change") }})</a></u></p>
                </label>
            </div>

            <div class="buttonHolder">
                <a class="myVtkButton preference_subscribe_button" href="#">{{ translate('Save Preferences') }}</a>
            </div>
        </div>
    </div>

    <div style="height: 15px"></div>

    <div class="container">
        <div style="height: 60px"></div>
        <div class="contentBlock">
            <div class="headingHolder">
                <h3 style="margin-bottom: 0px">{{ translate('Mailing Preferences')}}</h3>
            </div>

            {% if preferencesEnabled %}
                <div style="height: 15px"></div>
                {% for preferenceMapping in preferenceMappings %}
                    <div class="checkbox">
                        <label>
                            <div style="height: 1px"></div>
                            <b><input type="checkbox" class="preference_checkbox" data-id="{{ preferenceMapping.getId() }}" {% if preferenceMapping.getValue() %}checked="checked"{% endif %}">{{ preferenceMapping.getPreference().getName() }}</b>
                            <div style="height: 1px"></div>
                            <p>{{ preferenceMapping.getPreference().getDescription() }}</p>
                        </label>
                    </div>
                {% endfor %}
                <div style="height: 30px"></div>
            {% endif %}

            <div class="buttonHolder">
                <a class="myVtkButton preference_subscribe_button" href="#">{{ translate('Save Preferences') }}</a>
            </div>

        </div>
    </div>
{% endblock %}


{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.preference_subscribe_button').click(function () {
                $('.page-alert .flashmessage').removeClass('in');
                saveChanges();
            });

            $('.flashmessage .close').click(function () {
                $(this).closest('.flashmessage').removeClass('in');
            });

            // Only one of the email address checkboxes can be checked
            $('.use_personal_email, .use_university_email').change(function () {
                var $checkboxes = $('.use_personal_email, .use_university_email');
                $checkboxes.not(this).prop('checked', false);
            });
        });

        function saveChanges() {
            // email address preferences
            var use_personal_email = $('.use_personal_email').is(':checked');
            var use_university_email = $('.use_university_email').is(':checked');

            // email preferences
            var preference_mappings_true = [];
            var preference_mappings_false = [];
            $('.preference_checkbox:checked').each(function () {
                preference_mappings_true.push($(this).data('id'));
            });
            $('.preference_checkbox:not(:checked)').each(function () {
                preference_mappings_false.push($(this).data('id'));
            });

            $.post('{{ url('common_account', {"action": "savePreferences"})}}', {
                    "preference_mappings_true": preference_mappings_true,
                    "preference_mappings_false": preference_mappings_false,
                    "use_personal_email": use_personal_email,
                    "use_university_email": use_university_email,
                },
                function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#preferences_saved_success').addClass('in');
                    } else {
                        errorSave();
                    }
                }, 'json').error(errorSave);
        }

        function errorSave() {
            $('.flashmessage').removeClass('in');
            $('#preferences_saved_error').addClass('in');
        }
    </script>
{% endblock %}