{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-alert">
        <div class="flashmessage alert alert-success fade" id="preferences_saved_success">
            <button type="button" class="close">&times;</button>
            <div class="content">
                {{ translate('Your mailing preferences were successfully saved!') }}
            </div>
        </div>
        <div class="flashmessage alert alert-danger alert-fixed-top fade" id="preferences_saved_error">
            <button type="button" class="close">&times;</button>
            <div class="content">
                {{ translate('An error occurred while saving your mailing preferences!') }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="spacer40"></div>
        <h1>{{ translate('Account') }} <small>&mdash; {{ translate('Mailing Preferences') }}</small></h1>
        <div class="lineDecoration"></div>

        <div style="height: 50px"></div>

        <div class="contentBlock">
            <div class="headingHolder">
                <h3 style="margin-bottom: 0px">{{ translate('Mailing Preferences')}}</h3>
            </div>

            <div style="height: 15px"></div>
            {% for preferenceMapping in preferenceMappings %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox"  class="preference_checkbox" data-id="{{ preferenceMapping.getId() }}" {% if preferenceMapping.getValue() %}checked="checked"{% endif %}">{{ preferenceMapping.getPreference().getName() }}
                    </label>
                </div>
            {% endfor %}
            <div style="height: 30px"></div>

            <div class="buttonHolder">
                <a class="myVtkButton preference_subscribe_button">{{ translate('Save Preferences') }}</a>
            </div>

        </div>
    </div>
{% endblock %}


{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.preference_subscribe_button').click(function () {
                $('.page-alert .flashmessage').removeClass('in');
                saveChanges();
            });

            $('.flashmessage .close').click(function () {
                $(this).closest('.flashmessage').removeClass('in');
            });
        });

        function saveChanges() {
            var preference_mappings_true = [];
            var preference_mappings_false = [];
            $('.preference_checkbox:checked').each(function () {
                preference_mappings_true.push($(this).data('id'));
            });
            $('.preference_checkbox:not(:checked)').each(function () {
                preference_mappings_false.push($(this).data('id'));
            });
            console.log("prefernce mapping true: " + preference_mappings_true);
            console.log("prefernce mapping false: " + preference_mappings_false);
            $.post('{{ url('common_account', {"action": "savePreferences"})}}', {"preference_mappings_true": preference_mappings_true, "preference_mappings_false": preference_mappings_false}, function (data) {
                if (data && 'success' == data.status) {
                    $('.flashmessage').removeClass('in');
                    $('#preferences_saved_success').addClass('in');
                } else {
                    errorSave();
                }
            }, 'json').error(errorSave);
        }

        function errorSave() {
            $('.flashmessage').removeClass('in');
            $('#preferences_saved_error').addClass('in');
        }
    </script>
{% endblock %}