<!Start signature>
<table cellpadding="0" cellspacing="0" border="0"
       style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;">
    <!-- ### LINK NAAR AFBEELDING ### -->
    <tr>
        <td valign="top"
            style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 7px; border-top: 0; border-bottom: 0; border-left: 0; border-right: solid 3px#00008F">
            <a href="https://www.vtk.be"><img width="150" id="preview-image-url"
                                              src="https://www.vtk.be/_site/img/schild.jpg" alt="VTK logo"></a></td>
        <!-- ### STREEP IN MIDDEN ### -->
        <td style="padding-top: 0; padding-bottom: 0; padding-left: 12px; padding-right: 0;">
            <table cellpadding="0" cellspacing="0" border="0"
                   style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;">
                <!-- ### NAAM ###-->
                <tr>
                    <td colspan="2"
                        style="padding-bottom: 2px; color: #00008F; font-size: 13px; font-family: Verdana, Arial , sans-serif">
                        <strong>{{ authenticatedPerson.getFullName() }}</strong>
                    </td>
                </tr> <!--### FUNCTIE ### -->
                <tr>
                    <td colspan="2" style="color:#333333 ; font-size: 11px; font-family: Verdana, Arial, sans-serif;">
                        {{ authenticatedPerson.getUnit(currentAcademicYear).getName() }}
                        VTK {{ organizationYear.getCode() }}
                    </td>
                </tr> <!-- ### VTK ### -->
                <tr>
                    <td colspan="2" style="color: #333333; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">
                        <strong>Vlaamse Technische Kring Ondersteuning vzw</strong></td>
                </tr> <!-- ### GSM nummer ### -->
                <tr>
                    <td width="20" valign="top"
                        style="vertical-align: top; width: 20px; color: #FFD400 ; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">
                        m:
                    </td>
                    <td valign="top"
                        style="vertical-align: top; color: #333333; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">
                        <a id="phoneNumberVTK" href="tel:{{ authenticatedPerson.getPhoneNumber() }}"
                           style=" color: #00008F; text-decoration: none; font-weight: normal; font-size: 11px;">
                            {{ authenticatedPerson.getPhoneNumber() }}
                        </a>
                    </td>
                </tr> <!-- ### ADRES ### -->
                <tr>
                    <td width="20" valign="top"
                        style="vertical-align: top; width: 20px; color: #FFD400; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">
                        a:
                    </td>
                    <td valign="top"
                        style="vertical-align: top; color: #333333; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">
                        <a href="https://www.google.com/maps?q=Studentenwijk+Arenberg+6&entry=gmail&source=g"
                           style=" color: #00008F; text-decoration: none; font-weight: normal; font-size: 11px;">Studentenwijk
                            Arenberg 6/1, 3001 Heverlee</a></td>
                </tr> <!-- ### WEBSITE EN EMAIL ### -->
                <tr>
                    <td width="20" valign="top"
                        style="vertical-align: top; width: 20px; color:#FFD400; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">
                        w:
                    </td>
                    <td valign="top"
                        style="vertical-align: top; color: #333333; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">
                        <a href="http://www.vtk.be"
                           style=" color: #00008F; text-decoration: none; font-weight: normal; font-size: 11px;">www.vtk.be</a>&nbsp;&nbsp;<span
                                style="color: #FFD400;">e:&nbsp;</span>
                        <a  id="emailVTK" href="mailto:{{ authenticatedPerson.getFirstName() }}.{{ authenticatedPerson.getLastName() }})@vtk.be"
                            style="color: #00008F; text-decoration: none; font-weight: normal; font-size: 11px; text-transform: lowercase;">
                            {{ authenticatedPerson.getFirstName() }}.{{ authenticatedPerson.getLastName() }}@vtk.be
                        </a>
                    </td>
                </tr>
                <tr>
                    <td id="socialMediaSpace" colspan="2" style="padding-top: 2px;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
