<!Start signature>
<table>
    <tr>
        {# ### LINK NAAR AFBEELDING + STREEP IN MIDDEN ### #}
        <td style="border-right: solid 6px #eed610; vertical-align: top; padding-top: 16px">
            <a href="https://www.vtk.be">
                <img height="150px"
                     src="https://www.vtk.be/_site/img/schild_handtekening.png"
                     alt="VTK Schild"/></a>
        </td>
        <td>
            <table style="margin: 10px 0 10px 10px;">
                <tr>
                    {# ### NAAM ### #}
                    <td colspan="2"
                        style="padding-bottom: 2px; text-transform: uppercase; font-family: 'Droid Sans', Verdana, Arial , sans-serif; font-size: 16pt;">
                        <strong>{{ authenticatedPerson.getFullName() }}</strong>
                    </td>
                </tr>
                <tr>
                    {# ### FUNCTIE ### #}
                    <td colspan="2" style="font-family: 'Century Gothic', Verdana, Arial , sans-serif; font-size: 9pt;">
                        <strong>VTK {{ authenticatedPerson.getUnit(organizationYear).getName() }} {{ organizationYear.getCode() }}
                        </strong>
                    </td>
                </tr>
                <tr>
                    {# ### VTK ### #}
                    <td style="font-family: 'Century Gothic', Verdana, Arial , sans-serif; font-size: 9pt;">
                        Vlaamse Technische Kring vzw | RPR Leuven
                    </td>
                </tr>
                <tr>
                    {# ### ADRES ### #}
                    <td colspan="2" style="font-family: 'Century Gothic', Verdana, Arial , sans-serif; font-size: 9pt;">
                        Address:
                        <a href="https://www.google.com/maps?q=Studentenwijk+Arenberg+6&entry=gmail&source=g"
                           target="_blank"
                           style="text-decoration: none; color: #202347; font-family: 'Century Gothic', Verdana, Arial , sans-serif; font-size: 9pt;">Studentenwijk
                            Arenberg 6/1,
                            3001
                            Heverlee</a>
                    </td>
                </tr>
                <tr>
                    {# ### EMAIL ### #}
                    <td colspan="2" style="font-family: 'Century Gothic', Verdana, Arial , sans-serif; font-size: 9pt;">
                        Email:
                        <a id="emailVTK"
                           href="mailto:{{ authenticatedPerson.getFirstName() }}.{{ authenticatedPerson.getLastName() }}@vtk.be"
                           style="text-transform: lowercase; text-decoration: none; color: #202347; font-family: 'Century Gothic', Verdana, Arial , sans-serif; font-size: 9pt;">
                            {{ authenticatedPerson.getFirstName() }}.{{ authenticatedPerson.getLastName() }}@vtk.be
                        </a>
                    </td>
                </tr>
                <tr>
                    {# ### GSM NUMMER ### #}
                    <td colspan="2" style="font-family: 'Century Gothic', Verdana, Arial , sans-serif; font-size: 9pt;">
                        Phone:
                        <a id="phoneNumberVTK" href="tel:{{ authenticatedPerson.getPhoneNumber() }}"
                           style="text-decoration: none; color:#202347; font-family: 'Century Gothic', Verdana, Arial , sans-serif; font-size: 9pt;">
                            {{ authenticatedPerson.getPhoneNumber() }}
                        </a>
                    </td>
                </tr>
                <tr>
                    {# ### VAT ### #}
                    <td colspan="2"
                        style="color:#202347; font-family: 'Century Gothic', Verdana, Arial , sans-serif; font-size: 9pt;">
                        VAT: BE0479482282
                    </td>
                </tr>
                <tr>
                    {# ### WEBSITE ### #}
                    <td colspan="2" style="font-family: 'Century Gothic', Verdana, Arial , sans-serif; font-size: 9pt;">
                        Website:
                        <a href="https://www.vtk.be"
                           style="text-decoration: none; color:#202347; font-family: 'Century Gothic', Verdana, Arial , sans-serif; font-size: 9pt;">
                            www.vtk.be
                        </a>
                    </td>
                </tr>
                <tr>
                    {# ### SOCIAL MEDIA ### #}
                    <td colspan="2" id="socialMediaSpace" style="padding-top: 2px;"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
