{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-alert">
        <div class="flashmessage alert alert-success fade" id="studies_saved_success">
            <button type="button" class="close">&times;</button>
            <div class="content">
                {{ translate('Your studies were successfully saved!') }}
            </div>
        </div>
        <div class="flashmessage alert alert-error fade" id="studies_saved_error">
            <button type="button" class="close">&times;</button>
            <div class="content">
                {{ translate('An error occurred while saving your studies!') }}
            </div>
        </div>
    </div>

    <div class="page-header">
        <h1>{{ translate('Account') }} <small>&mdash; {{ translate('Studies') }}</small></h1>
    </div>

    {% include 'common/account/partials/navigation.twig' %}

    <div class="row page" id="studies">
        <div class="span12">
            <h2>
                {{ translate('Choose Your Study') }}
                <div class="pull-right">
                    <a href="{{ url('common_account', {'action': 'subjects'}) }}" class="btn btn-primary">{{ translate('Choose Your Subjects') }}</a>
                </div>
            </h2>
            {{ _self.displayStudies(studies, enrollments) }}
            <div class="form-actions" style="text-align: center;">
                <a href="{{ url('common_account', {'action': 'subjects'}) }}" class="btn btn-primary">{{ translate('Choose Your Subjects') }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% macro displayStudies(studies, enrollments) %}
    {% for study in studies %}
        <div class="accordion" id="studies-{{ study.getId() }}">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#studies-{{ study.getId() }}" href="#collapse_study-{{ study.getId() }}">
                        <span class="title">{{ study.getTitle() }}</span><span class="phase">&mdash;{{ translate('Phase') }} {{ study.getPhase() }}</span>

                        {% if study.getChildren()|length == 0 %}
                            <span class="pull-right">
                                <button class="btn btn-mini btn-info study_enroll {% if study.getId() in enrollments %}active{% endif %}" id="study-{{ study.getId() }}" data-id="{{ study.getId() }}" type="button">{{ translate('Enroll') }}</button>
                            </span>
                        {% else %}
                            <span class="pull-right icon-arrow-down collapse-icon" style="margin-top: 6px;"></span>
                        {% endif %}
                    </a>
                </div>
                <div id="collapse_study-{{ study.getId() }}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <p>{{ study.getTitle() }}</p>
                        {% if study.getChildren()|length > 0 %}
                            {{ _self.displayStudies(study.getChildren(), enrollments) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.flashmessage .close').click(function () {
                $(this).closest('.flashmessage').removeClass('in');
            });

            $('.study_enroll').click(function (e) {
                e.preventDefault();
                $('.page-alert .flashmessage').removeClass('in');
                $(this).toggleClass('active');
                updateHeadings();
                saveChanges();
            });
            updateHeadings();

            $('.accordion-toggle').click(function () {
                if ($(this).find('.collapse-icon').has('.icon-arrow-down')) {
                    $(this).find('.collapse-icon').removeClass('icon-arrow-down').addClass('icon-arrow-up');
                } else {
                    $(this).find('.collapse-icon').removeClass('icon-arrow-up').addClass('icon-arrow-down');
                }
            });
        });

        function updateHeadings() {
            $('#studies .accordion-heading').removeClass('childSelected selected');
            $('.study_enroll').each(function () {
                if ($(this).hasClass('active')) {
                    $('#studies-' + $(this).data('id') + ' .accordion-heading').addClass('selected');
                    selectParent($('#studies-' + $(this).data('id')));
                }
            });
        }

        function selectParent(child) {
            if (child.length == 0)
                return;
            var parent = $(child.find('.accordion-toggle').data('parent')).closest('.accordion-group');
            parent.find('.accordion-heading:first').addClass('childSelected');
            selectParent(parent);
        }

        function saveChanges() {
            var studies = [];
            $('.study_enroll.active').each(function () {
                studies.push($(this).data('id'));
            });
            $.post('{{ url('common_account', {"action": "saveStudies"})}}', {"studies": studies}, function (data) {
                if (data && 'success' == data.status) {
                    $('.flashmessage').removeClass('in');
                    $('#studies_saved_success').addClass('in');
                } else {
                    errorSave();
                }
            }, 'json').error(errorSave);
        }

        function errorSave() {
            $('.flashmessage').removeClass('in');
            $('#studies_saved_error').addClass('in');
        }
    </script>
{% endblock %}