{% extends 'site/base.twig' %}

{% import 'site/partials/form.twig' as forms %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('Book Textbooks') }}</h1>
    </div>

    <div class="row page">
        <div class="span12">
            {% if authenticatedPerson == null %}
				{{ translate('Please log in to reserve textbooks.') }}
			{% else %}

    		{% autoescape false %}
	        {{ form().openTag(form) }}

				<table class="table">	
				
					<thead>
						<tr>
							<th>{{ translate('Title') }}</th>
							<th>{{ translate('Authors') }}</th>
							<th width="100px">{{ translate('Price / piece') }}</th>
							<th width="70px">{{ translate('Mandatory') }}</th>
							<th width="80px">#</th>
						</tr>
					</thead>
					
					<tbody>
			
					{% for subjectArticle in subjectArticleMap %}
						
						<tr class="course-title">
							<td colspan="5"> 
								{% if null == subjectArticle['subject'] %}
								
									{{ translate('Common Articles') }}
								
								{% else %}
								
									Article Group (course title) here
								
								{% endif %}
				
						 	</td>
					 	</tr>
					 	
						{% for map in subjectArticle['articles'] %}
					
							<tr>
								<td>{{ map['article'].getMainArticle().getTitle() }}</td>
								<td>{{ map['article'].getMainArticle().getAuthors() }}</td>
								<td>€ {{ map['article'].getSellPrice() }}</td> <!-- TODO price format -->
								<td>{{ map['mandatory'] ? 'X' : '' }}</td>
								<td>
									{% if map['article'].isBookable() %}
										
										{% set name = 'article-' ~ map['article'].getId() %}

										{{ formElement(form.get(name)) }}
								        {% if element.getMessages()|length > 0 %}
								            <div class="help-inline">
								                {{ formElementErrors(form.get(name)) }}
								            </div>
								        {% endif %}
									{% else %}
										<span class="label label-info">Not Bookable</span>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
	            	
					{% endfor %}
					
					</tbody>
				
				</table>
				
            	<!-- <a href={{ url('reservation', {"action" : 'reserve', "language" : language.getAbbrev()}) }} class="btn btn-primary pull-right">{{ translate('Book Textbooks') }}</a> -->
            	
            	{% if form.get('submit') %}
            		{{ formElement(form.get('submit')) }}
				{% endif %}

			{{ form().closeTag() }}

			{% endautoescape %}
            {% endif %}
        </div>
    </div>
{% endblock %}
