{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('Book Textbooks') }}</h1>
    </div>

    <div class="row page">
        <div class="span12">
            {% if authenticatedPerson == null %}
				{{ translate('Please log in to reserve textbooks.') }}
			{% else %}

				<table class="table">	
				
					<thead>
						<tr>
							<th>Title</th>
							<th>Author</th>
							<th width="100px">Price / piece</th>
							<th width="70px">Obligated</th>
							<th width="80px">#</th>
						</tr>
					</thead>
					
					<tbody>		
			
					{% for key, course in courses %}
						
						<tr class="course-title">
							<td colspan="5"> Article Group (course title) here </th>
						</tr>
				
						{% for article in course %}
							<tr>
								<td>{{ article.getMainArticle().getTitle() }}</td>
								<td>{{ article.getMainArticle().getAuthors() }}</td>
								<td>€ {{ article.getSellPrice() }}</td> <!-- TODO price format -->
								<td></td> <!-- TODO obligated -->
								<td>
									{% if article.isBookable() %}
										<input class="input-mini" type="text" placeholder="0">
									{% else %}
										<span class="label label-info">Not Bookable</span>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
	            	
					{% endfor %}
					
					</tbody>
				
				</table>

            {% endif %}
        </div>
    </div>
{% endblock %}