{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('My Textbook Reservations') }}</h1>
    </div>

    <div class="row page">
        <div class="span12">
            {% if authenticatedPerson == null %}
				{{ translate('Please log in to view your textbook reservations.') }}
			{% else %}
            	<table class="table">
            		<tr>
            			<th> {{ translate('Article') }} </th>
            			<th> {{ translate('Authors') }} </th>
            			<th> {{ translate('Price / piece') }} </th>
            			<th> # </th>
            			<th> {{ translate('Expiration Date') }} </th>
            			<th> {{ translate('Status') }} </th>
            			<th> {{ translate('Actions') }} </th>
        			</tr>
        			{% for booking in bookings %}
	            		<tr {% if 'assigned' == booking.getStatus() %} class="success" {% endif %}">
	            			<td> {{ booking.getArticle().getMainArticle().getTitle() }} </td>
	            			<td> {{ booking.getArticle().getMainArticle().getAuthors() }} </td>
	            			<td> € {{ booking.getArticle().getSellPrice() }} </td>
	            			<td> {{ booking.getNumber() }} </td>
	            			<td> {{ booking.getExpirationDate().format('D d/m/Y') }} </td>
	            			<td> {{ translate(booking.getStatus()) }} </td>
	            			<td> Cancel </td> <!-- TODO: cancel button - look at unbookable option! -->
	        			</tr>
        			{% endfor %}
            	</table>
            	
            	<a href={{ url('reservation', {"action" : 'reserve', "language" : language.getAbbrev()}) }} class="btn btn-primary pull-right">{{ translate('Book Textbooks') }}</a>
            	
            {% endif %}
        </div>
    </div>
{% endblock %}