{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'mail/admin/mailing-list/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width admin_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The admin was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width admin_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the admin.</p>
        </div>
    </div>

    <div id="controller_action">
        <h1>List</h1>
        <p>Name: <b>{{ list.getName() }}</b></p>

        <h1>Admins</h1>

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}

        <br style="clear:both">

        <table class="full_width" style="margin-top: 5px;">
            <tr>
                <th>Name</th>
                <th>Can Edit Admins</th>
                <th width="90px">Actions</th>
            </tr>
            {% for admin in admins %}
                <tr class="item item-{{ admin.getId() }}">
                    <td>{{ admin.getAcademic().getFullName() }}</td>
                    <td>{% if admin.isEditAdmin() %}X{% endif %}</td>
                    <td>
                        {% if hasAccess('mail_admin_mail_list', 'deleteAdmin') %}
                            <a href="#" data-id="{{ admin.getId() }}" data-name="{{ admin.getAcademic().getFullName() }}" class="delete">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="modal hide fade" id="removeAdmin">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Delete Admin
        </div>
        <div class="modal-body">
            <p>
                You are about to delete the following admin: <b class="adminName"></b>!
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <input type="button" class="delete" value="Yes">
                <input type="button" class="cancel" data-dismiss="modal" value="No">
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#personSearch').typeaheadRemote(
                {
                    source: '{{ url('common_admin_academic_typeahead', {})}}',
                    items: 20,
                }
            ).change(function (e) {
                if ($(this).data('value')) {
                    $('#personId').val($(this).data('value').id);
                } else {
                    $('#personId').val('');
                }
            });
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeAdmin = $('#removeAdmin');
            removeAdmin.find('.adminName').html($(this).data('name'));
            var id = $this.data('id');
            removeAdmin.find('.delete').unbind('click').click(function () {
                $.post('{{ url('mail_admin_mail_list', {"action": "deleteAdmin"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.admin_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeAdmin.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeAdmin.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.admin_removed_error').removeClass('hide');
            $('#removeAdmin').modal('hide');
        }
    </script>
{% endblock %}
