{% extends 'career/partials/layout.twig' %}

{% block page_content %}
    <h1>{{ translate('Events') }}</h1>

        {% for event in events %}
            <div class="span12">
                {% if event.getEvent().getPoster() %}
                    <div class="span2">
                        <img src="{{ url('admin_company', {'action': 'logo', 'id': event.getCompany().getLogo()}) }}" alt="{{ event.getEvent().getTitle(language) }}">
                    </div>
                {% endif %}

                <div class="span9">
                    <!-- {{ event.getEvent().getStartDate().format('d/m/Y h:i') }} -->
                    {{ event.getEvent().getTitle(language) }}
                    <br/>{{ event.getEvent().getStartDate().format('d/m/Y h:i') }}
                    <br/>{% autoescape false %}{{ event.getEvent().getSummary(300, language) }}{% endautoescape %}
                </div>
            </div>

            <hr/>

        {% endfor %}

{% endblock %}