{% extends 'career/partials/layout.twig' %}

{% block page_content %}
    <h1>{{ translate('Events') }}</h1>

        {% for event in events %}
            <div class="span12">
                {% if event.getEvent().getPoster() %}
                    <div class="span2">
                        <a href="{{ url('calendar', {'action': 'view', 'id': event.getEvent().getName() }) }}">
                            <img class="thumbnail" src="{{ url('calendar', {'action': 'poster', 'id': event.getEvent().getPoster()}) }}" alt="{{ event.getEvent().getTitle(language) }}">
                        </a>
                    </div>
                {% endif %}

                <div class="span9">
                    <!-- {{ event.getEvent().getStartDate().format('d/m/Y h:i') }} -->
                    <strong>{{ event.getEvent().getTitle(language) }}</strong>
                    <div class="pull-right"><strong>{{ dateLocalized(event.getEvent().getStartDate(), 'd  MMMM YYYY HH:mm') }}</strong></div>
                    <br/>{% autoescape false %}{{ event.getEvent().getSummary(400, language) }}{% endautoescape %}
                </div>
            </div>

            <hr/>

        {% endfor %}

{% endblock %}