{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'secretary/admin/working-group/partials/navigation.twig' %}

    {% include 'secretary/admin/working-group/partials/manage-years.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width workinggroup_remove_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The person was successfully removed from the working groups!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width workinggroup_remove_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to remove this person from the working groups.</p>
        </div>
    </div>

    <div id="controller_action">
        <div id="normal_page">
            <table class="full_width manage">
                <tr>
                    <th>Name</th>
                    <th>Workgroup</th>
                    <th style="width:70px">Actions</th>
                </tr>

                {% for academic in paginator %}

                    <tr class="item item-{{ academic.getId() }}">
                        <td>{{ academic.getFullName() }}</td>
                        <td>{{ academic.getUnit(activeAcademicYear).getName() }}</td>
                        <td class="actions">
                            {% if hasAccess('secretary_admin_working_group', 'delete') %}
                                <a href="#" class="delete" data-id="{{ academic.getId() }}" data-name="{{ academic.getFullName() }}">Remove</a>
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}

            </table>

            {% include 'admin/partials/paginationControl.twig' %}
        </div>
    </div>

    <div class="modal fade" id="removeFromWorkingGroup" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Remove From Working Group
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to remove this person from the working groups? <b class="name"></b>! <b class="id"></b>!
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeFromWorkingGroup = $('#removeFromWorkingGroup');
            removeFromWorkingGroup.find('.name').html($(this).data('name'));
            removeFromWorkingGroup.find('.id').html($(this).data('id'));
            var id = $this.data('id');
            removeFromWorkingGroup.find('.delete').unbind('click').click(function () {
                $.post('{{ url('secretary_admin_working_group', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.workinggroup_remove_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeFromWorkingGroup.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeFromWorkingGroup.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.workinggroup_remove_error').removeClass('hide');
            $('#removeFromWorkingGroup').modal('hide');
        }

    </script>
{% endblock %}
