{% extends 'logistics/base.twig' %}

{% block content %}
    <div class="container modal-body">
        {% import 'site/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
        {% if reservations != null %}
            <div class="content">
                Broodje(s) voor {{ reservations[0].getPerson().getFirstName }}
                {{ reservations[0].getPerson().getLastName() }}:
            </div>
            <table class="table table-hover" style="margin-top: 15px;">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Broodje</th>
                    <th scope="col">Aantal</th>
                    <th scope="col">Prijs</th>
                </tr>
                </thead>
                <tbody>
                {% set total = 0 %}
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.getProduct().getName() }}</td>
                        <td>{{ reservation.getAmount() }}</td>
                        <td>€{{ reservation.getProduct().getSellPrice() }}</td>
                    </tr>
                    {% set total = total + reservation.getProduct().getSellPrice() * reservation.getAmount() %}
                {% endfor %}
                <tr style="background-color: #ebecf0">
                    <td></td>
                    <td><b>Totale prijs:</b></td>
                    <td><b>€ {{ total }}</b></td>
                </tr>
                </tbody>
            </table>

            {% if reservations[0].getReward() %}
                <br>
                <div class="content" style="color: darkgreen">
                    <audio controls hidden autoplay>
                        <source src="../../../../_site/Reward-Sound.mp3" type="audio/mpeg">
                    </audio>
                    We hebben prijs! Deze persoon heeft een gratis Cara gewonnen! Hoera! <b>The game</b>
                </div>
                <br>
            {% endif %}

            <div class="content" style="color:darkred">
                {% if total < 3 %}
                    {{ consumed ? 'Dit broodje is al opgehaald.' : '' }}
                {% else %}
                    {{ consumed ? 'Deze broodjes zijn al opgehaald.' : '' }}
                {% endif %}
            </div>

        {%  endif %}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function (){
            const amount = document.getElementById('username');
            amount.value = '';
            const reserve = document.getElementById('inventory_reserve');
            amount.focus();
            $('#amount').keydown( function(e) {
                if (e.key === 'Enter') {
                    e.preventDefault()
                    reserve.click();
                }
            });
        });
    </script>
{% endblock %}