{% extends 'admin/layout.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translator().translate('Gallery') }}</h1>
    </div>
    
    {% include 'admin_gallery/partials/navigation.twig' %}
    
    <h2>{{ album.getTitle(language) }}</h2>
    <input type="file" id="uploader" class="uk-input" data-uploadUrl="{{ url("admin_gallery", {"action": "upload", "id": album.getId()}) }}" name="file" multiple>
{% endblock %}

{% block controller_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#uploader').uploadKit({
                uploadUrl: '{{ url("admin_gallery", {"action": "upload", "id": album.getId()}) }}',
                isMultiple: true,
                swfUrl: '/_gallery/plupload/plupload.flash.swf',
                silverlightUrl: '',
                errorFileSize: '{{ translator().translate('File size exceeds limit') }}',
                errorUnknown: '{{ translator().translate('Unknown error occurred') }}',
                infoMultiple: '<h1>{{ translator().translate('No Files Selected') }}</h1><h2>{{ translator().translate('Browse for files to upload or drag and drop them here') }}</h2>',
                infoNotMultiple: '<h1>{{ translator().translate('No File Selected') }}</h1><h2>{{ translator().translate('Browse for file to upload or drag and drop them here') }}</h2>',
                runtimes: 'html5,flash',
                fileColumnTitle: '{{ translator().translate('File Name') }}',
                sizeColumnTitle: '{{ translator().translate('Size') }}',
                progressColumnTitle: '{{ translator().translate('Progress') }}',
                browseLabel: '{{ translator().translate('Browse...') }}',
                uploadLabel: '{{ translator().translate('Upload') }}',
                removeLabel: '{{ translator().translate('Remove') }}',
                filters : [{title : "Image files", extensions : "jpeg,jpg,gif,png"}],
                maxFileSize: '4mb',
            });
        });
    </script>
{% endblock %}