{% extends 'admin/layout.twig' %}

{% block content %}
    <div class="flashmessage alert alert-success album_removed_success fade">
    	<a class="close" data-dismiss="alert">&times;</a>
    	<div class="title">{{ translator().translate('Success') }}</div>
    	<div class="content">
    		<p>{{ translator().translate('The album was successfully removed!') }}</p>
    	</div>
    </div>
    <div class="flashmessage alert alert-danger album_removed_error fade">
    	<a class="close" data-dismiss="alert">&times;</a>
    	<div class="title">{{ translator().translate('Error') }}</div>
    	<div class="content">
    		<p>{{ translator().translate('An error occurred while trying to delete the album.') }}</p>
    	</div>
    </div>

    <div class="page-header">
        <h1>{{ translator().translate('Gallery') }}</h1>
    </div>

    {% include 'admin_gallery/partials/navigation.twig' %}

    <table class="table table-bordered table-striped" id="sortable">
        <thead>
            <tr>
                <th>{{ translator().translate('Title') }}</th>
                <th width="150px">{{ translator().translate('Date') }}</th>
                <th width="160px">{{ translator().translate('Person') }}</th>
                <th width="230px">{{ translator().translate('Actions') }}</th>
            </tr>
        </thead>

        <tbody>
            {% for album in albums %}
                <tr class="item" data-id="{{ faq.getId() }}">
                    <td>{{ album.getTitle(language) }}</td>
                    <td>{{ dateLocalized(album.getDate(), 'dd/MM/y') }}</td>
                    <td>{{ album.getCreationPerson().getFullName() }}</td>
                    <td class="actions">
                        {% if hasAccess('admin_gallery', 'edit') %}
                            <a href="{{ url('admin_gallery', {"action": "edit", "id": album.getId()}) }}" class="btn btn-primary">{{ translator().translate('Edit') }}</a>
                        {% endif %}
                        {% if hasAccess('admin_gallery', 'photos') %}
                            <a href="{{ url('admin_gallery', {"action": "photos", "id": album.getId()}) }}" class="btn btn-info">{{ translator().translate('Photos') }}</a>
                        {% endif %}
                        {% if hasAccess('admin_gallery', 'delete') %}
                            <a href="#" data-id="{{ album.getId() }}" data-title="{{ album.getTitle(language) }}" class="btn btn-danger delete">{{ translator().translate('Delete') }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="removeAlbum" class="modal fade">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h3>{{ translator().translate('Remove Album') }}</h3>
		</div>
		<div class="modal-body">
			<p>
				{{ translator().translate('You are about to delete the following album') }}: <b class="title"></b>?
				{{ translator().translate('Please note that this operation cannot be undone!') }}
			</p>
			<p>
				{{ translator().translate('Are you sure you want to continue?') }}
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger delete">{{ translator().translate('Yes') }}</button>
			<button class="btn" data-dismiss="modal">{{ translator().translate('No') }}</button>
		</div>
	</div>
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('.item .delete').click(openRemoveModal);
		});

		function openRemoveModal(e) {
			var $this = $(this);

			e.preventDefault();
			var removeAlbum = $('#removeAlbum');
			removeAlbum.find('.title').html($(this).data('title'));
			removeAlbum.find('.delete').unbind('click').click(function () {
				$.post('{{ url('admin_gallery', {"action": "delete"})}}/' + $this.data('id'), function  (data) {
				    if (data && 'success' == data.status) {
    					$('.flashmessage').removeClass('in');
    					$('.album_removed_success').addClass('in');
    					$this.parent().parent().remove();
    					removeAlbum.modal('hide');
    				} else {
    				    errorRemove();
    				}
				}, 'json').error(errorRemove);
			});
			removeAlbum.modal();
		}

		function errorRemove() {
		    $('.flashmessage').removeClass('in');
		    $('.album_removed_error').addClass('in');
		    $('#removeAlbum').modal('hide');
		}
	</script>
{% endblock %}
