{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_sales_booking/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}
    
    {% include 'admin_sales_booking/partials/periods.twig' %}
    
    <div id="controller_action">
        <h1>Booking</h1>
        
        <p>Person: <b>{{ booking.getPerson().getFullName() }}</b></p>
        <p>Article: <b>{{ booking.getArticle().getMainArticle().getTitle() }} - {{ booking.getArticle().getBarcode() }}</b></p>
        <p>Number: <b>{{ booking.getNumber() }}</b></p>
        <p>Date: <b>{{ booking.getBookDate().format('d/m/Y H:i') }}</b></p>
        <p>Expires: <b>{{ booking.getExpirationDate().format('d/m/Y H:i') }}</b></p>
        <p>Status: <b>{{ booking.getStatus()|capitalize }}</b></p>
    </div>
    
    <aside>
        {% if booking.getStatus() == 'booked' and hasAccess('admin_sales_booking', 'assign') %}
        	<div class="sidebox">
        	    <div class="title">Assign Booking</div>
        	   	<div class="content">
        	    	<p>
        	        	<i>Please hit the link below to assign this booking!</i>
        	        </p>
        	        <p>
        	           	<a href="#" class="assign">&rarr; Assign Booking</a>
        	        </p>
        	    </div>
        	</div>
        {% endif %}
        {% if booking.getStatus() == 'assigned' and hasAccess('admin_sales_booking', 'unassign') %}
        	<div class="sidebox">
        	    <div class="title">Unassign Booking</div>
        	   	<div class="content">
        	    	<p>
        	        	<i>Please hit the link below to unassign this booking!</i>
        	        </p>
        	        <p>
        	           	<a href="#" class="unassign">&rarr; Unassign Booking</a>
        	        </p>
        	    </div>
        	</div>
    	{% endif %}
    	{% if booking.getStatus() == 'assigned' and hasAccess('admin_sales_booking', 'expire') %}
        	<div class="sidebox">
        	    <div class="title">Expire Booking</div>
        	   	<div class="content">
        	    	<p>
        	        	<i>Please hit the link below to expire this booking!</i>
        	        </p>
        	        <p>
        	           	<a href="#" class="expire">&rarr; Expire Booking</a>
        	        </p>
        	    </div>
        	</div>
        {% endif %}
        {% if booking.getStatus() == 'assigned' and hasAccess('admin_sales_booking', 'extend') %}
        	<div class="sidebox">
        	    <div class="title">Extend Booking</div>
        	   	<div class="content">
        	    	<p>
        	        	<i>Please hit the link below to extend this booking!</i>
        	        </p>
        	        <p>
        	           	<a href="#" class="extend">&rarr; Extend Booking</a>
        	        </p>
        	    </div>
        	</div>
        {% endif %}
        {% if booking.getStatus() == 'booked' and hasAccess('admin_sales_booking', 'delete') %}
        	<div class="sidebox">
        	    <div class="title">Remove Booking</div>
        	   	<div class="content">
        	    	<p>
        	        	<i>Please hit the link below to remove this booking!</i>
        	        </p>
        	        <p>
        	           	<a href="#" class="remove">&rarr; Remove Booking</a>
        	        </p>
        	    </div>
        	</div>
        {% endif %}
    </aside>
    
    <div class="modal hide fade" id="removeBooking">
    	<div class="modal-header">
    		<span>Litus Admin</span>
    		/Booking Delete
    	</div>
    	<div class="modal-body">
    		<p>
    			You are about to delete the following booking of <b>{{ booking.getPerson().getFullName() }}</b>: <b>{{ booking.getArticle().getMainArticle().getTitle() }}</b>!
    			Please note that this operation cannot be undone!
    		</p>
    		<p>
    			Are you sure you want to continue?
    		</p>
    		<div class="footer">
    			<input type="button" class="delete" value="Yes">
    			<input type="button" class="cancel" data-dismiss="modal" value="No">
    		</div>
    	</div>
    </div>
    <div class="modal hide fade" id="assignBooking">
    	<div class="modal-header">
    		<span>Litus Admin</span>
    		/Booking Assign
    	</div>
    	<div class="modal-body">
    		<p>
    			You are about to assign the following booking of <b>{{ booking.getPerson().getFullName() }}</b>: <b>{{ booking.getArticle().getMainArticle().getTitle() }}</b>!
    		</p>
    		<p>
    			Are you sure you want to continue?
    		</p>
    		<div class="footer">
    			<input type="button" class="assign" value="Yes">
    			<input type="button" class="cancel" data-dismiss="modal" value="No">
    		</div>
    	</div>
    </div>
    <div class="modal hide fade" id="unassignBooking">
    	<div class="modal-header">
    		<span>Litus Admin</span>
    		/Booking Unassign
    	</div>
    	<div class="modal-body">
    		<p>
    			You are about to unassign the following booking of <b>{{ booking.getPerson().getFullName() }}</b>: <b>{{ booking.getArticle().getMainArticle().getTitle() }}</b>!
    		</p>
    		<p>
    			Are you sure you want to continue?
    		</p>
    		<div class="footer">
    			<input type="button" class="unassign" value="Yes">
    			<input type="button" class="cancel" data-dismiss="modal" value="No">
    		</div>
    	</div>
    </div>
    <div class="modal hide fade" id="expireBooking">
    	<div class="modal-header">
    		<span>Litus Admin</span>
    		/Booking Expire
    	</div>
    	<div class="modal-body">
    		<p>
    			You are about to expire the following booking of <b>{{ booking.getPerson().getFullName() }}</b>: <b>{{ booking.getArticle().getMainArticle().getTitle() }}</b>>!
    		</p>
    		<p>
    			Are you sure you want to continue?
    		</p>
    		<div class="footer">
    			<input type="button" class="expire" value="Yes">
    			<input type="button" class="cancel" data-dismiss="modal" value="No">
    		</div>
    	</div>
    </div>
    <div class="modal hide fade" id="extendBooking">
    	<div class="modal-header">
    		<span>Litus Admin</span>
    		/Booking Expire
    	</div>
    	<div class="modal-body">
    		<p>
    			You are about to extend the following booking of <b>{{ booking.getPerson().getFullName() }}</b>: <b>{{ booking.getArticle().getMainArticle().getTitle() }}</b>>!
    		</p>
    		<p>
    			Are you sure you want to continue?
    		</p>
    		<div class="footer">
    			<input type="button" class="extend" value="Yes">
    			<input type="button" class="cancel" data-dismiss="modal" value="No">
    		</div>
    	</div>
    </div>
{% endblock %}

{% block controller_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('aside .remove').click(openRemoveModal);
            $('aside .assign').click(openAssignModal);
            $('aside .unassign').click(openUnassignModal);
            $('aside .expire').click(openExpireModal);
            $('aside .extend').click(openExtendModal);
        });
        
        function openRemoveModal(e) {
			var $this = $(this);

			e.preventDefault();
			var removeBooking = $('#removeBooking');
			removeBooking.find('.delete').unbind('click').click(function () {
			    window.location.href = '{{ url('admin_sales_booking', {"action": "delete", "id": booking.getId()})}}';
			});
			removeBooking.modal();
		}
		
		function openAssignModal(e) {
			var $this = $(this);

			e.preventDefault();
			var assignBooking = $('#assignBooking');
			assignBooking.find('.assign').unbind('click').click(function () {
			    window.location.href = '{{ url('admin_sales_booking', {"action": "assign", "id": booking.getId()})}}';
			});
			assignBooking.modal();
		}
		
		function openUnassignModal(e) {
			var $this = $(this);

			e.preventDefault();
			var unassignBooking = $('#unassignBooking');
			unassignBooking.find('.unassign').unbind('click').click(function () {
			    window.location.href = '{{ url('admin_sales_booking', {"action": "unassign", "id": booking.getId()})}}';
			});
			unassignBooking.modal();
		}
		
		function openExpireModal(e) {
			var $this = $(this);

			e.preventDefault();
			var expireBooking = $('#expireBooking');
			expireBooking.find('.expire').unbind('click').click(function () {
			    window.location.href = '{{ url('admin_sales_booking', {"action": "expire", "id": booking.getId()})}}';
			});
			expireBooking.modal();
		}
		
		function openExtendModal(e) {
			var $this = $(this);

			e.preventDefault();
			var expireBooking = $('#extendBooking');
			expireBooking.find('.extend').unbind('click').click(function () {
			    window.location.href = '{{ url('admin_sales_booking', {"action": "extend", "id": booking.getId()})}}';
			});
			expireBooking.modal();
		}
    </script>
{% endblock %}