{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_sales_booking/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}
	
	{% include 'admin_sales_booking/partials/periods.twig' %}

	<div id="controller_action">
	    <div id="booking_search" style="display:none;">
	    	<div style="padding:4px;text-align:right">
	    		Search: 
	    		<select id="searchField">
	    			<option value="article">Article</option>
	    			<option value="person">Person</option>
	    			<option value="status">Status</option>
	    		</select>
	    		is
	    		<input type="text" id="searchString" size="30" />
	    	</div>
	    	
	    	<table class="full_width">
	        	<tr>
		            <th width="140px">Person</th>
	            	<th>Article</th>
		            <th width="30px">&nbsp;</th>
	            	<th width="100px">Date</th>
	            	<th width="55px">Status</th>
	    		</tr>
	    	</table>
	    </div>
	    
		<div id="default_page">
			<table class="full_width">
		        <tr>
		            <th width="140px">Person</th>
		            <th>Article</th>
		            <th width="30px">&nbsp;</th>
		            <th width="100px">Date</th>
		            <th width="55px">Status</th>
		        </tr>
		        
		        {% for booking in paginator %}
		            <tr class="item">
		                <td>{{ booking.getPerson().getFullName() }}</td>
		                <td>{{ booking.getArticle().getMainArticle().getTitle() }}</td>
		                <td>&times;{{ booking.getNumber() }}</td>
		                <td>{{ booking.getBookDate().format('d/m/Y H:i') }}</td>
		                <td class="status">{{ booking.getStatus()|capitalize }}</td>
		            </tr>
		        {% endfor %}
		    </table>
	
	        {% set paginationParams = {'period': activePeriod.getId() } %}
			{% include 'admin/partials/paginationControl.twig' %}
		</div>
	</div>
{% endblock %}


{% block controller_script %}
	<script type="text/javascript">
		$(document).ready(function () {
		    $('#controller_nav .assignAll').click(openAssignAllModal);
		    
		    {% if hasAccess('admin_sales_booking', 'search') %}
			$.searchDatabase({
				defaultPage: $('#default_page'),
				searchDiv: $('#booking_search'),
				searchString: $('#searchString'),
				searchField: $('#searchField'),
				url: '{{ url('admin_sales_booking', {'action': 'search', 'period': activePeriod.getId(), 'type': 'inactive'}) }}',
				display: function (data) {
					$('#booking_search table').find('tr.item').remove();
					$(data).each(function () {
						$('#booking_search table').append(row = $('<tr>', {class: 'item'}));
						row.append('<td>' + this.person + '</td>')
							.append('<td>' + this.article + '</td>')
							.append('<td>&times;' + this.number + '</td>')
							.append('<td>' + this.bookDate + '</td>')
							.append('<td class="status">' + this.status + '</td>');
					});
				},
				clear: function () {
					$('#booking_search table').find('tr.item').remove();
				}
			});
			{% endif %}
		});
	</script>
{% endblock %}