{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_booking/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}
	<div class="flashmessage success_message full_width booking_removed_success hide">
		<div class="title">Success</div>
		<div class="content">
			<p>The booking was successfully removed!</p>
		</div>
	</div>
	<div class="flashmessage error_message full_width booking_removed_error hide">
		<div class="title">Error</div>
		<div class="content">
			<p>An error occurred while trying to delete an booking.</p>
		</div>
	</div>
	
	<div id="controller_action">
		<div id="booking_search" style="display:none;">
			<div style="padding:4px;text-align:right">
				Search: 
				<select id="searchField">
					<option value="person">Person</option>
					<option value="article">Article</option>
					<option value="status">Status</option>
				</select>
				is
				<input type="text" id="searchString" size="30" />
			</div>
			
			<table>
		    	<tr>
		        	<th>Person</th>
		        	<th>Article</th>
		        	<th>Number</th>
		        	<th>Book date</th>
		        	<th>Status</th>
		        	<th>Actions</th>
				</tr>
			</table>
		</div>
		
		<div id="default_page">
			<table>
		    
		        <tr>
		            <th>Person</th>
		            <th>Article</th>
		            <th>Number</th>
		            <th>Book date</th>
		            <th>Status</th>
					<th>Actions</th>
		        </tr>
		        
		        
		        {% for booking in paginator %}
		            <tr class="item">
		                <td>{{ booking.getPerson.getFullName() }}</td>
		                <td>{{ booking.getArticle().getTitle() }} {% if booking.getArticle().getVersionNumber() != 1 %} (v{{ booking.getArticle().getVersionNumber() }}) {% endif %}</td>
		                <td>{{ booking.getNumber() }}</td>
		                <td>{{ booking.getBookDate().format('d/m/Y H:i') }}</td>
		                <td>{{ booking.getStatus()|capitalize }}</td>
		        		<td>
		        			{% if booking.getStatus() == 'assigned' %}
		                    	<a href="{{ url('admin_booking', {"action": "unassign", "id": booking.getId()}) }}" class="edit">Unassign</a>
		        			{% elseif booking.getStatus() == 'booked' %}
		                		<a href="#" class="delete" data-id="{{ booking.getId() }}" data-person="{{ booking.getPerson.getFullName() }}" data-title="{{ booking.getArticle().getTitle() }}">Delete</a>
		                    {% endif %}
		                </td>
		            </tr>
		        {% endfor %}
		    </table>
		
			{% include 'admin/partials/paginationControl.twig' %}
		</div>
	</div>
	
	<aside>
		<div class="sidebox">
	        <div class="title">Assign bookings</div>
	       	<div class="content">
		    	<p>
		        	<i>Please hit the link below to assign bookings!</i>
		        </p>
		        <p>
		           	<a href="{{ url('admin_booking', {"action": "assign"}) }}">&rarr; Assign Bookings</a>
		        </p>
		    </div>
		</div>
	</aside>
	
	<div class="modal hide fade" id="removeBooking">
		<div class="modal-header">
			<span>Litus Admin</span>
			/Booking Delete
		</div>
		<div class="modal-body">
			<p>
				You are about to delete the following booking of <b class="bookingPerson"></b>: <b class="bookingTitle"></b>!
				Please note that this operation cannot be undone!
			</p>
			<p>
				Are you sure you want to continue?
			</p>
			<div class="footer">
				<input type="button" class="delete" value="Yes">
				<input type="button" class="cancel" data-dismiss="modal" value="No">
			</div>
		</div>
	</div>
{% endblock %}

{% block controller_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$.searchDatabase({
				defaultPage: $('#default_page'),
				searchDiv: $('#booking_search'),
				searchString: $('#searchString'),
				searchField: $('#searchField'),
				url: '{{ url('admin_booking_search') }}',
				display: function (data) {
					$('#booking_search table').find('tr.item').remove();
					$(data).each(function () {
						$('#booking_search table').append(row = $('<tr>', {class: 'item'}));
						row.append('<td>' + this.person + '</td>')
							.append('<td>' + this.article + (this.versionNumber != 1 ? ' (v' + this.versionNumber + ')' : '') + '</td>')
							.append('<td>' + this.number + '</td>')
							.append('<td>' + this.bookDate + '</td>')
							.append('<td>' + ucfirst(this.status) + '</td>')
							.append(actions = $('<td>'));
						if ('assigned' == this.status)
							actions.append('<a href="{{ url('admin_booking', {"action": "unassign"}) }}/' + this.id + '" class="edit">Unassign</a>');
						else if ('booked' == this.status) {
							actions.append(deleteButton = $('<a href="#" class="delete">Delete</a>'));
							deleteButton.data({
								id: this.id,
								person: this.person,
								title: this.article,
							});
						}
					});
					$('#booking_search .delete').click(openModal);
				},
				clear: function () {
					$('#booking_search table').find('tr.item').remove();
				}
			});
			
			$('.item .delete').click(openModal);
		});
		
		function openModal(e) {
			var $this = $(this);

			e.preventDefault();
			var removeBooking = $('#removeBooking');
			removeBooking.find('.bookingPerson').html($(this).data('person'));
			removeBooking.find('.bookingTitle').html($(this).data('title'));
			removeBooking.find('.delete').unbind('click').click(function () {
				$.post('{{ url('admin_booking', {"action": "delete"})}}/' + $this.data('id'), function  (data) {
					$('.flashmessage').addClass('hide');
					$('.booking_removed_success').removeClass('hide');
					$this.parent().parent().remove();
					removeBooking.modal('hide');
				}, 'json').error(function () {
					$('.flashmessage').addClass('hide');
					$('.booking_removed_error').removeClass('hide');
					removeBooking.modal('hide');
				});
			});
			removeBooking.modal();
		}
		
		function ucfirst(str) {
    		return str.slice(0,1).toUpperCase() + str.substring(1);
		}
	</script>
{% endblock %}