{% extends 'site/base.twig' %}

{% block content %}

    {# Script for collapsing shift items #}
    {{ inlineScript() }}

    <script type="text/javascript">
        $(document).ready(function() {
            var faqItems = document.getElementsByClassName('shiftHolder'); 
            for(var i = 0; i < faqItems.length; i++) {
                var currentFAQ = faqItems[i]; 
                var currentContent = currentFAQ.querySelector('.shiftDetails'); 
                currentContent.setAttribute("style", "height: 0px;"); 
                currentFAQ.addEventListener("click", func, false);
                function func() {
                    var currentContent = this.querySelector('.shiftDetails'); 
                    if (currentContent.style.height === "0px") {
                        currentContent.setAttribute("style", "height: auto");
                    } else {
                        currentContent.setAttribute("style", "height: 0px");
                    }
                }
            }
        })
    </script>  

    {% import _self as self %}

    <div class="flashmessage alert alert-success fade" id="registered_success">
        <div class="content">
            {{ translate('You were signed in for the selected timeslot!') }}
        </div>
    </div>
    <div class="flashmessage alert alert-success fade" id="sign_out">
        <div class="content">
            {{ translate('You were signed out from the selected timeslot!') }}
        </div>
    </div>
    <div class="flashmessage alert alert-danger fade" id="error">
        <div class="content">
            {{ translate('An error occurred while processing your request!') }}
        </div>
    </div>

    <div id="modalSignInWarning" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4>{{ translate('Sign In') }}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        {{ translate('You are about to sign yourself in for a timeslot. Do you want to continue?') }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary confirm">{{ translate('Yes') }}</button>
                    <button class="btn btn-default deny">{{ translate('No') }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {# <div class="spacer40"></div>
        <h1>Mijn VTK</h1>
        <div class="spacer40"></div>
        {% include 'common/account/partials/navigation.twig' %} #}

        <div class="spacer50"></div>
        <h2>{{ translate('Reserve Timeslots') }}</h2>

        <div style="height: 20px"></div>

        <div>
            {# TO DO Check waarom gewone class hier niks doet #}
            <div class="filterGrid">
                <div>
                    <h6>Filter {{ translate('By Date') }}</h6>

                    {% if dateSearchForm is defined %}
                        {% do dateSearchForm.prepare() %}
                        {% autoescape false %}
                            {{ form().openTag(dateSearchForm) }}

                            <div class="form-group">
                                <div class="input-group">
                                    <div style="margin-right: 10px">
                                        {{ formElement(dateSearchForm.get('date')) }}
                                    </div>
                                    <div class="input-group-btn">
                                        <button class="btn button blue unfilled" type="submit">{{ translate('Search') }}</button>
                                    </div>
                                </div>
                            </div>

                            {{ form().closeTag() }}
                        {% endautoescape %}
                    {% endif %}
                </div>

{#                <div>#}
{#                    <h6>Filter {{ translate('By Event') }}</h6>#}

{#                    {% if eventSearchForm is defined %}#}
{#                        {% do eventSearchForm.prepare() %}#}
{#                        {% autoescape false %}#}
{#                            {{ form().openTag(eventSearchForm) }}#}

{#                            <div class="form-group">#}
{#                                <div class="input-group">#}
{#                                    <div style="margin-right: 10px">#}
{#                                    {{ formElement(eventSearchForm.get('event')) }}#}
{#                                    </div>#}
{#                                    <div class="input-group-btn">#}
{#                                        <button class="btn button blue unfilled" type="submit">{{ translate('Search') }}</button>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}

{#                            {{ form().closeTag() }}#}
{#                        {% endautoescape %}#}
{#                    {% endif %}#}
{#                </div>#}

{#                <div>#}
{#                    <h6>Filter {{ translate('By Unit') }}</h6>#}

{#                    {% if unitSearchForm is defined %}#}
{#                        {% do unitSearchForm.prepare() %}#}
{#                        {% autoescape false %}#}
{#                            {{ form().openTag(unitSearchForm) }}#}

{#                            <div class="form-group">#}
{#                                <div class="input-group">#}
{#                                    <div style="margin-right: 15px">#}
{#                                        {{ formElement(unitSearchForm.get('unit')) }}#}
{#                                    </div>#}
{#                                    <div class="input-group-btn">#}
{#                                        <button class="btn button blue unfilled" type="submit">{{ translate('Search') }}</button>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}

{#                            {{ form().closeTag() }}#}
{#                        {% endautoescape %}#}
{#                    {% endif %}#}
{#                </div>#}
            </div>
        </div> 

        <div style="height: 60px"></div>
            <div>
                {# SHIFTS FROM SEARCH #}
                <div class="contentBlock">
                    <div class="headingHolder">
                        <h3 class="smallerHeadingHack" style="margin-bottom: 0px">{{ resultString }}</h3>
                    </div>

                    {% if searchResults is not null %}
                        {{ self.displayShifts(entityManager, authenticatedPerson, searchResults, 'search') }}
                    {% else %}
                        <div>
                            <a class="close" data-dismiss="alert">&times;</a>
                            {{ translate('There are no timeslots to be shown yet; please use the search functions on the left.') }}
                        </div>
                    {% endif %}

                </div>  
            
                <div class="spacer50"></div>

                {# MY CURRENT SHIFTS #}  
                <div class="contentBlock">
                    <div class="headingHolder">
                        <h3 style="margin-bottom: 0px">{{ translate('My Timeslots') }}</h3>
                    </div>

                    {{ self.displayShifts(entityManager, authenticatedPerson, myShifts, 'myTimeslots') }}

                </div>            

                <div style="height: 50px"></div>

            {# <div class="col-md-8">
                <h2>
                    {{ translate('My Timeslots') }}
                </h2>

                {{ self.displayShifts(entityManager, authenticatedPerson, myShifts, 'myTimeslots') }}

                <h2>{{ resultString }}</h2>
                {% if searchResults is not null %}
                    {{ self.displayShifts(entityManager, authenticatedPerson, searchResults, 'search') }}
                {% else %}
                    <div class="alert alert-warning">
                        {{ translate('There are no timeslots to be shown yet; please use the search functions on the left.') }}
                    </div>
                {% endif %}
            </div> #}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    {% import _self as self %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.registered').click(function () {
                var button = $(this);
                var count = parseInt($(this).data('count'));

                if (!button.hasClass('disabled')) {
                    var id = '#modalSignInWarning';
                    $(id).modal();
                    $(id +' .confirm').one('click', function (){
                        $(id).modal('hide');
                        registeredSignIn(button, count);
                    });
                }

                button.parent().find('button').each(function(i) {
                    $(this).addClass('disabled');
                });

                $(id +' .deny').one('click', function () {
                    $(id).modal('hide');

                    button.parent().find('button').each(function(i) {
                        $(this).removeClass('disabled');
                    });
                });
            });

            $('.signOut').click(function () {
                var button = $(this);
                button.addClass('disabled');

                $.post(
                    '{{ url('registration_shift', {"action": "signOut"}) }}',
                    {"id": $(this).data('id')},
                    function (data) {
                        if (data && 'success' === data.status) {
                            $('.flashmessage').removeClass('in');
                            $('#sign_out').addClass('in');

                            var panel = $(button.data('panel')).clone();
                            panel.find('.buttons').html('').css('display', 'none');

                            $('#shifts-search .alert').remove();
                            $('#shifts-search').prepend(panel);
                            panel.fadeIn();
                            $('#shifts-myShifts ' + button.data('panel')).fadeOut(function () {$(this).remove()});
                        } else {
                            errorSave();
                        }
                    },
                    'json'
                ).error(errorSave);
            });
        });

        function updateButton(button, ratio, count) {
            button.removeClass('btn-success btn-warning btn-danger');

            if (ratio < 0.5) {
                button.addClass('btn-success');
            } else if (ratio < 0.75) {
                button.addClass('btn-warning');
            } else if (ratio == 1) {
                button.addClass('btn-danger');
            }

            button.find('.count').text(ratio == 1 ? button.data('max') : ++count);
        }

        function errorSave() {
            $('.flashmessage').removeClass('in');
            $('#error').addClass('in');
        }

        function registeredSignIn(button, count) {
            $.post(
                '{{ url('registration_shift', {"action": "registered"}) }}',
                {"id": button.data('id')},
                function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#registered_success').addClass('in');

                        updateButton(button, parseInt(data.ratio, 10), count);
                        var panel = $(button.data('panel')).clone();
                        panel.find('.buttons').html('').css('display', 'none');

                        $('#shifts-myShifts .alert').remove();
                        $('#shifts-myShifts').prepend(panel);
                        panel.fadeIn();
                        $('#shifts-search ' + button.data('panel')).fadeOut(function () {$(this).remove()});
                    } else {
                        console.log("error");
                        errorSave();
                    }
                },
                'json'
            ).error(errorSave);
        }

    </script>
{% endblock %}

    {# DISPLAYING ACTUAL SEARCH SHIFTS #}
    {% macro displayShifts(entityManager, authenticatedPerson, shifts, accordionName) %}
        {% import _self as self %}
        {% set previousShift = null %}
        <div class="panel-group" id="shifts-{{ accordionName }}">
            {% for shift in shifts %}
                {% if previousShift.getStartDate().format('Ymd') < shift.getStartDate().format('Ymd') %}
                    <h4 style="margin-top: 15px">{#{{translate('Shifts on')}}#} {{ translate(shift.getStartDate().format('l')) }}  {{ dateLocalized(shift.getStartDate(), 'd/M/y') }}</h4>
                {% endif %}

                {% set previousShift = shift %}

                <div class="shiftHolder">
                    <div class="shiftHeader">
                        <div class="shiftFlexCenter">
                            <h5 style="margin-bottom: 0px">{{ shift.getName() }}</h5>
                            <p style="font-size: 14px; margin-bottom: 0px">{{dateLocalized(shift.getStartDate(), 'd/M/y')}} | {{ dateLocalized(shift.getStartDate(), 'HH:mm') }}-{{ dateLocalized(shift.getEndDate(), 'HH:mm') }}</p> 
                        </div>
                        <div class="flexStretch"></div>
                        <div class="buttons" style="text-align: right">
                            {{ self.buttons(entityManager, authenticatedPerson, shift, accordionName) }}
                        </div>
                    </div>
                    <div class="shiftDetails">
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <dl>
                                    <dt>{{ translate('Name') }}</dt>
                                    <dd>{{ shift.getName() }}</dd>
                                    {% if shift.getReward() > 0 %}
                                        <dt>{{ translate('Reward') }}</dt>
                                        <dd>{{ shift.getReward() }} {{ translate('Coins') }}
                                            {% if shift.getHandledOnEvent() %}
                                                {{ translate('on the event')}}
                                            {% endif %}
                                        </dd>
                                    {% endif %}
                                    {% if shift.getPoints() > 0 %}
                                        <dt>{{ translate('Points') }}</dt>
                                        <dd>{{ shift.getPoints() }} {{ translate('Points') }}</dd>
                                    {% endif %}
                                    <dt>{{ translate('Start') }}</dt>
                                    <dd>{{ dateLocalized(shift.getStartDate(), 'd/M/y HH:mm') }}</dd>
                                    <dt>{{ translate('End') }}</dt>
                                    <dd>{{ dateLocalized(shift.getEndDate(), 'd/M/y HH:mm') }}</dd>
                                </dl>
                            </div>
                            <div class="col-sm-4">
                                <dl>
                                    <dt>{{ translate('Manager') }}</dt>
                                    <dd>{{ shift.getManager().getFullName() }}</dd>

                                    {% if shift.getEvent() is not null %}
                                        <dt>{{ translate('Event') }}</dt>
                                        <dd>{{ shift.getEvent().getTitle(language) }}</dd>
                                    {% endif %}

                                    <dt>{{ translate('Unit') }}</dt>
                                    <dd>{{ shift.getUnit().getName() }}</dd>
                                </dl>
                            </div>
                            <div class="col-sm-4">
                                {% if 0 != shift.getNbResponsibles() %}
                                    <dl>
                                        <dt>{{ translate('Responsibles') }}</dt>

                                        {% for responsible in shift.getResponsibles() %}
                                            <dd>{{ responsible.getPerson().getFullName() }}</dd>
                                        {% endfor %}
                                    </dl>
                                {% endif %}

                                {% if 0 != shift.getNbVolunteers() %}
                                    <dl>
                                        <dt>{{ translate('Volunteers') }}</dt>

                                        {% for volunteer in shift.getVolunteers() %}
                                            <dd>{{ volunteer.getPerson().getFullName() }}</dd>
                                        {% endfor %}
                                    </dl>
                                {% endif %}
                            </div>
                        </div>
                            <dl>
                                <dt>{{ translate('Description') }}</dt>
                                <dd style="text-align: justify;">{{ shift.getDescription() }}</dd>

                                <dt>{{ translate('Location') }}</dt>
                                <dd>
                                    {{ shift.getLocation().getName() }}
                                </dd>
                                <dd style="margin-top: 5px;">
                                    <img class="img-rounded" src="{{ staticMap(shift.getLocation(), '367x125', '7a43b6') }}" />
                                </dd>
                            </dl>
                        </div>
                    </div>
                
            {% else %}
                {# Iets ander bedenken voor deze stuff anders alert alert-warning class #}
                <div>
                    {% if 'search' == accordionName %}
                        {{ translate('No shifts were found that match the given query.') }}
                    {% else %}
                        {{ translate('You have not yet signed up for any shifts. You can use the search functions on the left to look for some!') }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endmacro %}

{% macro buttonStyle(shift, type) %}

    {% set ratio = shift.countRegistered() / shift.getNbRegistered() %}

    {% if ratio < 0.5 %}
        btn-success
    {% elseif ratio < 0.75 %}
        btn-warning
    {% elseif ratio == 1 %}
        btn-danger
    {% endif %}
{% endmacro %}

{% macro buttons(entityManager, authenticatedPerson, shift, accordionName) %}
    {% import _self as self %}

    {% if 'search' == accordionName %}
            {% if shift.canHaveAsRegistered(entityManager, authenticatedPerson) and 0 != shift.getNbRegistered() %}
                <button class="btn btn-default btn-xs {{ self.buttonStyle(shift, 'registered') }} registered" data-id="{{ shift.getId() }}" data-count="{{ shift.countRegistered() }}" data-max="{{ shift.getNbRegistered() }}" data-panel="#group_{{ accordionName }}_shift-{{ shift.getId() }}" type="button">
                    {{ translate('Registered') }} (<span class="count">{{ shift.countRegistered() }}</span>/{{ shift.getNbRegistered() }})
                </button>
            {% elseif shift.countRegistered() == shift.getNbRegistered() %}
                <button disabled style="padding: 4px 8px; display: inline-block; margin-left: 10px;" class="btn btn-default btn-xs {{ self.buttonStyle(shift, 'registered') }} registered" data-id="{{ shift.getId() }}" data-count="{{ shift.countRegistered() }}" data-max="{{ shift.getNbRegistered() }}" data-panel="#group_{{ accordionName }}_shift-{{ shift.getId() }}" type="button" disabled>
                    {{ translate('Registered') }} (<span class="count">{{ shift.countRegistered() }}</span>/{{ shift.getNbRegistered() }})
                </button>
            {% elseif shift.hasShiftOnThisDay(entityManager, authenticatedPerson) %}
                <button class="btn btn-xs btn-default">
                    {{ translate('You already have a timeslot on this day') }}
                </button>

            {% endif %}

    {% else %}
        {% if shift.canSignOut(entityManager) %}
            <button style="padding: 4px 8px" class="btn btn-default btn-xs signOut" data-id="{{ shift.getId() }}" data-panel="#group_{{ accordionName }}_shift-{{ shift.getId() }}" type="button">
                {{ translate('Sign Out') }}
            </button>
        {% endif %}
    {% endif %}
{% endmacro %}
