{% extends 'site/base.twig' %}

{% block content %}

    {% if sportInfo is not null %}
        <div class="alert alert-info">
            <a class="close" data-dismiss="alert">&times;</a>
            <h4>{{ translate('event Run') }}</h4>
            {% if sportInfo.behind == 0 %}
                {{ translate('We have run already %laps% laps and we are the first team.')|replace({'%laps%': sportInfo.nbLaps}) }}
            {% else %}
                {{ translate('We have run already %laps% laps and we are %behind% laps behind the first team.')|replace({'%laps%': sportInfo.nbLaps, '%behind%': sportInfo.behind}) }}
            {% endif %}
            <span class="pull-right">{{ translate('Current Runner:') }} <b>{{ sportInfo.currentLap.getRunner().getFullName() }}</b></span>
        </div>
    {% endif %}


    {# Still needs verification #}
    {# WOULD DITCH THIS #}
    {# {% if bookings is not null %}
        <div class="alert alert-success">
            <a class="close">&times;</a>
            <p>
                <div style="inline-block"><a style="color:white; font-weight: 600; text-decoration: none" href="{{ url('cudi_booking') }}">{{ translate('New bookings have been assigned to you, and you can go and collect them.') }}</a></div>
            </p>
            <ul>
                {% for booking in bookings %}
                    <li>{{ booking.getArticle().getMainArticle().getTitle() }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %} #}
{#    {% if newsItems|length > 0 %}#}
{#        <div class="vtk-home-technical" style="padding: 0 0;">#}
{#            <div style="padding: 20px 15px" class="container">#}
{#                <div class="row">#}
{#                    <div class="col-md-12">#}
{#                        {% for item in newsItems %}#}
{#                            <div style="background-color: white; padding: 20px;">#}
{#                                <h4>{{ item.getTitle(language) }}#}
{#                                    <small>&mdash; {{ dateLocalized(item.getCreationTime(), 'd MMMM') }}</small>#}
{#                                </h4>#}

{#                                <div>#}
{#                                    <p>{{ hideEmail(item.getSummary(300, language)) | replace({'<p>': '', '</p>': '', '<br>': '', '<br />': ''})|raw }}</p>#}
{#                                    <div style="height: 10px"></div>#}
{#                                    <a class="button blue unfilled"#}
{#                                       href="{{ url('news', {'action': 'view', 'name': item.getName(language)}) }}">{{ translate('Read More') }}</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}


    {% for notification in notifications %}
        <div class="alert alert-info notification">
            <a class="close" data-dismiss="alert">&times;</a>
            {{ markdown(notification.getContent(language)) }}
        </div>
    {% endfor %}

    {#  <div class="banner_event">
        <div class="container container_event">
            <div class="grid-container">
                <!-- Left column (empty) -->
                <div class="left_column"></div>

                <!-- Right column split into two parts -->
                <div class="right_column">
                    <!-- Top part -->
                    <div class="right_top">
                        <div class="top-font">VTK</div>
                        <div class="mid-font">JOBFAIR</div>
                    </div>

                    <!-- Bottom part split into two -->
                    <div class="right_bottom">
                        <div class="bottom_top">
                            <div class="info">Brabanthal</div>
                            <div class="date_info">March 6th | 10-17h</div>
                            <div class="info">200+ companies</div>
                        </div>
                        <div class="bottom_bottom">
                            <a href="https://jobfairvtk.be" target="_blank" rel="noopener" class="button_event">REGISTER NOW!</a>
                              <div class="countdown_container">
                                <ul id="countdown">
                                    <li id="days"><div class="number">00</div><div class="label-c">D</div></li>
                                    <li id="hours"><div class="number">00</div><div class="label-c">H</div></li>
                                    <li id="minutes"><div class="number">00</div><div class="label-c">M</div></li>
                                    <li id="seconds"><div class="number">00</div><div class="label-c">S</div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>#}

    <a href="https://www.career.vtk.be/forms/student-registration-vtk-jobfair">
        <div class="banner_event banner_event_galabal"></div>
    </a>
    {#<div class="vtk-home-header">
        <div class="vtk-home-image">
            <div class="container" style="text-align: center">
                <h1 class="vtk-hometitle">{{ translate('welcome to') }} VTK</h1>
                <div class="vtk-home-titleDecoration"></div>
                    <h2 class="vtk-home-subtitle" style="color: white; font-weight: 500">Vlaamse Technische Kring - partner in crime since 1920
                    </h2>
                <div style="height: 100px"></div>
            </div>
        </div>
    </div>#}

{#    <div class="vtk-home-header">                   #}{#banner 24ul#}
{#        <div class="row container_24h">#}
{#            <div class="buttons_24h">#}
{#                <a class="button_24h hidden-xs"  style="margin-right: 20%"#}
{#                   href="https://youtu.be/GTy8z7hUbuo?feature=shared">Promovideo</a>#}
{#                <a class="button_24h hidden-sm hidden-xs"#}
{#                   href="/page/24-urenloop/">{{ translate('24h Run') }}</a>#}
{#                #}{#                        <a class="button_24h"#}
{#                #}{#                           href="{{ url('calendar', {'action': 'view', 'name': event.getName()}) }}">{{ translate('Training') }}</a>#}
{#                #}{#                        <a class="button_24h"#}
{#                #}{#                           href="{{ url('calendar', {'action': 'view', 'name': event.getName()}) }}">{{ translate('Sport') }}</a>#}
{#                <div class="countdown_container">#}
{#                    <ul id="countdown">#}
{#                        <li id="days">#}
{#                            <div class="number">00</div>#}
{#                            <div class="label-c">D</div>#}
{#                        </li>#}
{#                        <li id="hours">#}
{#                            <div class="number">00</div>#}
{#                            <div class="label-c">H</div>#}
{#                        </li>#}
{#                        <li id="minutes">#}
{#                            <div class="number">00</div>#}
{#                            <div class="label-c">M</div>#}
{#                        </li>#}
{#                        <li id="seconds">#}
{#                            <div class="number">00</div>#}
{#                            <div class="label-c">S</div>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="vtk-home-technical">
        <div style="padding: 20px 15px" class="container">
            <div class="row">
{#                {% if newsItems|length > 0 %}#}
{#                    <div class="col-md-6">#}
{#                        <h2>{{ translate('Latest news') }}</h2>#}
{#                        {% for item in newsItems %}#}
{#                            <div style="background-color: white; padding: 20px; margin-bottom: 20px">#}
{#                                <h4>{{ item.getTitle(language) }}#}
{#                                    <small>&mdash; {{ dateLocalized(item.getCreationTime(), 'd MMMM') }}</small>#}
{#                                </h4>#}

{#                                <div>#}
{#                                    <p>{{ hideEmail(item.getSummary(300, language)) | replace({'<p>': '', '</p>': '', '<br>': '', '<br />': ''})|raw }}</p>#}
{#                                    <div style="height: 10px"></div>#}
{#                                    <a class="button blue unfilled"#}
{#                                       href="{{ url('news', {'action': 'view', 'name': item.getName(language)}) }}">{{ translate('Read More') }}</a>#}
{#                                </div>#}
{#                            </div>#}
{#                            #}{# {% else %}#}
{#                            <div class="alert alert-warning">#}
{#                                {{ translate('No news items were posted recently.') }}#}
{#                            </div> #}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endif %}#}
            </div>
            <div class="row">
                {# TO DO CUDI STUFF GOED ZETTEN #}
                {# {% if cudi.currentOpeningHour %}
                    <h3>{{ translate('Open Session') }}</h3>
                    {% autoescape false %}
                        <p>
                            {{ translate('Cudi is open until <span class="label label-warning">%time%</span>.')|replace({'%time%': dateLocalized(cudi.currentOpeningHour.getEnd(), 'H:mm')}) }}
                            {% if cudi.currentOpeningHour.getComment(language)|length > 0 %}
                                <br><small style="margin-left: 20px;">{{ cudi.currentOpeningHour.getComment(language) }}</small>
                            {% endif %}
                        </p>
                    {% endautoescape %}
                    {% if cudi.currentSession %}
                            {% autoescape false %}
                                <p>
                                    {% if cudi.currentStudents == 1 %}
                                        {{ translate('Currently there is <span class="label label-info">%number%</span> student in the queue at Cudi.')|replace({'%number%': cudi.currentStudents}) }}
                                    {% else %}
                                        {{ translate('Currently there are <span class="label label-info">%number%</span> students in the queue at Cudi.')|replace({'%number%': cudi.currentStudents}) }}
                                    {% endif %}
                                </p>
                            {% endautoescape %}
                    {% endif %}
                {% else %}
                    <div class="alert alert-info" style="margin-bottom: 20px;">
                        {{ translate('Cudi is currently closed.') }}
                    </div>
                {% endif %}
                {% if hasAccess('cudi_booking', 'view') %}
                    <p style="text-align: left;">
                        {{ translate('Reserve textbooks and other study material.') }}
                    </p>
                    <p>
                        <a href="{{ url('cudi_booking') }}" class="btn btn-sm btn-primary">{{ translate('Reservations') }}</a>
                    </p>
                {% endif %} #}
                <div class="col-md-6">
                    <div class="opening_hour_message">
                        <h2>Cudi - {{ translate('Opening Hours') }}</h2>
                        {% for message in cudi.messages %}
                            <div style="white-space: pre-wrap;">
                                {% autoescape false %}
                                    {{ message.getContent(language) }}
                                {% endautoescape %}
                            </div>
                        {% endfor %}

                        <style>
                            /* Used to keep the comment and hour aligned below each other, even if the day is not shown */
                            .opening-hour-grid {
                                display: grid;
                                grid-template-columns: auto auto auto;
                            }
                        </style>
                        <!-- For multiple openingHours for the same day, the day is only displayed once -->
                        {% for date, openingHours in cudi.dateToOpeningHoursMap %}
                            <div class="opening-hour-grid">
                            {% set isFirstOpeningHour = true %}
                            {% for opening in openingHours %}
                                {% if isFirstOpeningHour %}
                                    <p style="display:inline-block">{{ dateLocalized(opening.getStart(), 'EEEE (d/M)')|capitalize }}</p>
                                    <p>{% if opening.getComment(language) %} ({{ opening.getComment(language) }}) {% endif %}</p>
                                    <p style="text-align: right">{{ opening.getStart().format('H:i') }} - {{ opening.getEnd().format('H:i') }}</p>
                                    {% set isFirstOpeningHour = false %}
                                {% else %}
                                    <p></p>
                                    <p>{% if opening.getComment(language) %} ({{ opening.getComment(language) }}) {% endif %}</p>
                                    <p style="text-align: right">{{ opening.getStart().format('H:i') }} - {{ opening.getEnd().format('H:i') }}</p>
                                {% endif %}
                            {% endfor %}
                            </div>
                        {% endfor %}

                        {% for message in cudi.messages %}
                            <div style="white-space: pre-wrap;">{{ message.getBottomContent(language) }}
                            </div>
                        {% endfor %}


{#                        {% for opening in cudi.openingHours %}#}
{#                            <div>#}
{#                                <p style="display:inline-block">{{ dateLocalized(opening.getStart(), 'EEEE (d/M)')|capitalize }} &emsp;{% if opening.getComment(language) %} ({{ opening.getComment(language) }}) {% endif %}</p>#}
{#                                <p style="float:right">{{ opening.getStart().format('H:i') }}#}
{#                                    - {{ opening.getEnd().format('H:i') }}</p></div>#}
{#                        {% endfor %}#}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="opening_hour_message">
                        <h2>Theokot - {{ translate('Opening Hours') }}</h2>
                        {% for message in shop.messages %}
                            <div style="white-space: pre-wrap;">{{ message.getTopContent(language) }}
                            </div>
                        {% endfor %}

                        <!-- For multiple openingHours for the same day, the day is only displayed once -->
                        {% for date, openingHours in shop.dateToOpeningHoursMap %}
                            <div class="opening-hour-grid">
                                {% set isFirstOpeningHour = true %}
                                {% for opening in openingHours %}
                                    {% if isFirstOpeningHour %}
                                        <p style="display:inline-block">{{ dateLocalized(opening.getStart(), 'EEEE (d/M)')|capitalize }}</p>
                                        <p>{% if opening.getComment(language) %} ({{ opening.getComment(language) }}) {% endif %}</p>
                                        <p style="text-align: right">{{ opening.getStart().format('H:i') }} - {{ opening.getEnd().format('H:i') }}</p>
                                        {% set isFirstOpeningHour = false %}
                                    {% else %}
                                        <p></p>
                                        <p>{% if opening.getComment(language) %} ({{ opening.getComment(language) }}) {% endif %}</p>
                                        <p style="text-align: right">{{ opening.getStart().format('H:i') }} - {{ opening.getEnd().format('H:i') }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}

{#                        {% for opening in shop.openingHours %}#}
{#                            <div>#}
{#                                <p style="display:inline-block">{{ dateLocalized(opening.getStartDate(), 'EEEE (d/M)')|capitalize }} &emsp;{% if opening.getComment(language) %} ({{ opening.getComment(language) }}) {% endif %}</p>#}
{#                                <p style="float:right">{{ opening.getStartDate().format('H:i') }}#}
{#                                    - {{ opening.getEndDate().format('H:i') }}</p></div>#}
{#                        {% endfor %}#}
                        {% for message in shop.messages %}
                            <div style="white-space: pre-wrap;">{{ message.getBottomContent(language) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% if calendarItems|length != 0 %}
        <div class="container calendarHolder">
            <div class="calendar-grid" style="margin-bottom: 40px">
                {% for event in calendarItems | slice(0, 3) %}
                    <div style="position: relative" class="calendar-item">
                        <div class="DELETE-BGIMAGE"
                             style="background-image:url({{ url('calendar',{'action':'poster', 'name': event.getPoster()}) }})"></div>
                        <div class="calendar-item-tekst">
                            <h4>{{ event.getTitle(language) }}
                                | {{ dateLocalized(event.getStartDate(), 'LLL')|capitalize }} {{ dateLocalized(event.getStartDate(), 'd') }} </h4>
                            <p class="calendar-emptyfill">{{ event.getSummary(150, language) }}</p>
                            <div class="vtk-flex-horizontal" style="position: absolute; bottom: -10px">
                                <a class="myVtkButton"
                                   href="{{ url('calendar', {'action': 'view', 'name': event.getName()}) }}">{{ translate('Read More') }}</a>
                                {% if event.hasTicket(entityManager) == true and event.getTicket(entityManager).isVisible() %}
                                    <a class="myVtkButton"
                                       href="{{ url('ticket', {'id': event.getTicket(entityManager).getRandId()}) }}">{{ translate('Buy Tickets') }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="calendar-grid" style="margin-bottom: 40px">
                {% for event in calendarItems | slice(3, 3) %}
                    <div style="position: relative" class="calendar-item">
                        <div class="DELETE-BGIMAGE"
                             style="background-image:url({{ url('calendar',{'action':'poster', 'name': event.getPoster()}) }})"></div>
                        <div class="calendar-item-tekst">
                            <h4>{{ event.getTitle(language) }}
                                | {{ dateLocalized(event.getStartDate(), 'LLL')|capitalize }} {{ dateLocalized(event.getStartDate(), 'd') }} </h4>
                            <p class="calendar-emptyfill">{{ event.getSummary(150, language) }}</p>
                            <div class="vtk-flex-horizontal" style="position: absolute; bottom: -10px">
                                <a class="myVtkButton"
                                   href="{{ url('calendar', {'action': 'view', 'name': event.getName()}) }}">{{ translate('Read More') }}</a>
                                {% if event.hasTicket(entityManager) == true and event.getTicket(entityManager).isVisible() %}
                                    <a class="myVtkButton"
                                       href="{{ url('ticket', {'id': event.getTicket(entityManager).getRandId()}) }}">{{ translate('Buy Tickets') }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="button blue unfilled" href="{{ url('calendar') }}">{{ translate('View the whole Calendar Here') }}
                →</a>
        </div>
    {% endif %}

    <div class="container">
        {% if myPocers.enable  %}
            {% if myPocers.pocItem is not null %}
                {% if not myPocers.pocItem is empty %}
                    <div class="col-md-12" style="padding: 0">
                        <div style="margin-bottom: 15px; height: 60px;">
                            <div style="float: left">
                                <a class="heading" href={{pocUrlOverview}}>
                                    <h2>{{ translate('POC') }}</h2>
                                </a>
                            </div>
                            <div style="float: right; padding-top: 15px; max-width: 62vw">{{translate('The POC\'ers are elected! You can find your POC\'ers here!')}}</div>
                        </div>
                        <div>
                            {% for pocStuff in myPocers.pocItem%}
                                <div style="background: whitesmoke; padding: 15px 0; border-radius: 10px; margin-bottom: 50px">
                                    <h3 style="padding-left: 15px">{{ pocStuff['groupId'].getName() }}</h3>
                                    <a href="mailto:{{ pocStuff['pocExample'].getEmailAdress()}}">{{ pocStuff['pocExample'].getEmailAdress() }}</a>
                                    <div class="memberHolder" style="margin-bottom: 0">
                                        {% for poc in pocStuff['pocGroupList'] %}
                                            {#                   NEW                         #}
                                            {# CONTAINER FOR PHOTO + PERSON INFO #}
                                            <div class="member" style="margin: 10px">
                                                {% if poc.getAcademic().getPhotoPath() %}
                                                    <div class="memberPhoto" style="background-image: url({{ profilePath }}/{{ poc.getAcademic().getPhotoPath() }}); width: 120px; height: 120px;"></div>
                                                {% else %}
                                                    <div class="memberPhoto" style="background-image: url(/_site/img/generic_profile.png); width: 120px; height: 120px;"></div>
                                                {% endif %}
                                                <h4 style="margin-bottom: 15px">{{ poc.getAcademic().getFullName() }} </h4>
                                            </div>
                                            {#                   NEW                         #}
    {#                                        <div class="col-xs-4 col-md-3">#}


                                                {#                   OLD                         #}
    {#                                            <div class="thumbnail" style="height: 200px; text-align: center; border-style: none">#}
    {#                                                {% if poc.getAcademic().getPhotoPath() %}#}
    {#                                                    <img class="profileImagePreloaded holderjs" data-url="{{ profilePath }}/{{ poc.getAcademic().getPhotoPath() }}"#}
    {#                                                         style="background: url(?holder.js/90x67/auto/text:Image) no-repeat; width: 120px; height: 120px; object-fit: cover; border-radius: 50%" alt="">#}
    {#                                                {% else %}#}
    {#                                                    <img class="memberPhoto" style="background-image: url(/_site/img/generic_profile.png); height: 120px; width: 120px; margin-bottom: 0">#}
    {#                                                {% endif %}#}
    {#                                                <br>#}
    {#                                                <h4>{{ poc.getAcademic().getFullName() }}</h4>#}
    {#                                            </div>#}
                                                {#                   OLD                         #}
    {#                                        </div>#}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

    <div class="container">
        <div style="display: flex; flex-direction:row; flex-wrap: wrap;">
            {% for video in videos %}
                <div style="margin: 0 50px 50px 0">
                    <h3>{{ video.getTitle() }}</h3>
                    <iframe data-src="{{ video.getUrl() }}" width="464px" height="261px" style="border:0"
                            allowfullscreen></iframe>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="vtk-home-br">
        <div class="container">
            <h1 style="color:white">Never too early to build your <span class="vtk-textspan">career</span></h1>
            <p style="max-width: 400px; color:white"></p>
            <div class="spacer10"></div>
            <div>
                <a class="button white unfilled"
                   href="{{ url("br_career_index", {"language": language.getAbbrev()}) }}">{{ translate('Students') }}</a>
                <a class="button white unfilled"
                   href="{{ url("br_corporate_index", {"language": language.getAbbrev()}) }}">{{ translate('Companies') }}</a>
            </div>
        </div>
    </div>

    <div style="margin-top: 100px" class="container menuitems-flexbox">

        {% for item in menu %}
            {% if 'category' == item.type %}
                <div class="home-menu-category">
                    <h3 style="margin-bottom: 22px" href="#">
                        {{ item.name }}
                    </h3>
                    {% for categoryItem in item.frames %}
                        {% if 'page' == categoryItem.type %}
                            {% if hasAccess('page', 'view') %}
                                <div class="menulink"><a class="category-title"
                                                         title=categoryItem.title
                                                         href="{{ url('page', {"name": categoryItem.name}) }}">{{ categoryItem.title }}</a>
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if 'link' == categoryItem.type %}
                            {% if hasAccess('page_link', 'view') %}
                                <div class="menulink"><a class="category-title"
                                                         title=categoryItem.title
                                                         href="{{ categoryItem.url }}">{{ categoryItem.name }}</a></div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.profileImagePreloaded').each(function () {
                $(this).attr('src', $(this).data('url'));
            });
        });

        $(document).on("scroll", function() {
            var pageTop = $(document).scrollTop();
            var pageBottom = pageTop + $(window).height();
            var tags = $(".fadeElement");

            for (var i = 0; i < tags.length; i++) {
                var tag = tags[i];
                if ($(tag).position().top < pageBottom && pageTop < $(tag).position().top) {
                    $(tag).addClass("visibleFade");
                } else {
                    $(tag).removeClass("visibleFade");
                }
            }
        });

        // EVENT COUNTDOWN
        //
        // /* --------------------------
        // * GLOBAL VARS
        // * -------------------------- */
        // // The date you want to count down to
        var targetDate = new Date("2025/03/06 10:00:00");
        //
        // // Other date related variables
        var days;
        var hrs;
        var min;
        var sec;
        //
        // /* --------------------------
        //  * ON DOCUMENT LOAD
        //  * -------------------------- */
        $(function() {
            // Calculate time until launch date
            timeToLaunch();
            // Transition the current countdown from 0
            numberTransition('#days .number', days, 1000, 'swing');
            numberTransition('#hours .number', hrs, 1000, 'swing');
            numberTransition('#minutes .number', min, 1000, 'swing');
            numberTransition('#seconds .number', sec, 1000, 'swing');
            // Begin Countdown
            setTimeout(countDownTimer,1001);
        });
        //
        // /* --------------------------
        //  * FIGURE OUT THE AMOUNT OF
        //    TIME LEFT BEFORE LAUNCH
        //  * -------------------------- */
        function timeToLaunch(){
            // Get the current date
            var currentDate = new Date();

            // Find the difference between dates
            var diff = Math.abs(Math.floor((currentDate - targetDate)/1000));

            // Check number of days until target
            days = Math.floor(diff/(24*60*60));
            sec = diff - days * 24*60*60;

            // Check number of hours until target
            hrs = Math.floor(sec/(60*60));
            sec = sec - hrs * 60*60;

            // Check number of minutes until target
            min = Math.floor(sec/(60));
            sec = sec - min * 60;
        }
        //
        // /* --------------------------
        //  * DISPLAY THE CURRENT
        //    COUNT TO LAUNCH
        //  * -------------------------- */
        function countDownTimer(){

            // Figure out the time to launch
            timeToLaunch();

            // Write to countdown component
            $( "#days .number" ).text(days);
            $( "#hours .number" ).text(hrs);
            $( "#minutes .number" ).text(min);
            $( "#seconds .number" ).text(sec);

            // Repeat the check every second
            setTimeout(countDownTimer,1000);
        }

        // /* --------------------------
        //  * TRANSITION NUMBERS FROM 0
        //    TO CURRENT TIME UNTIL LAUNCH
        //  * -------------------------- */
        function numberTransition(id, endPoint, transitionDuration, transitionEase){
            // Transition numbers from 0 to the final number
            $({numberCount: $(id).text()}).animate({numberCount: endPoint}, {
                duration: transitionDuration,
                easing:transitionEase,
                step: function() {
                    $(id).text(Math.floor(this.numberCount));
                },
                complete: function() {
                    $(id).text(this.numberCount);
                }
            });
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/MotionPathPlugin.min.js"></script>
    <script>
        // Function to create a circle element
        function createCircle(x, y, color) {
            var circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");
            circle.setAttribute("cx", x);
            circle.setAttribute("cy", y);
            circle.setAttribute("r", 2); // Adjust the radius of the points
            circle.setAttribute("fill", color); // Set color
            return circle;
        }

        // Function to animate a single dust particle
        function animateParticle(circle, x, y) {
            var duration = 4; // Random duration for variety
            var A = 0.6*(10 + 0.5 * Math.sqrt(x**2 + y**2))
            var B = 0.6*(20 - 0.5 * Math.sqrt(x**2 + y**2))
            var a = 0
            var b = y
            var d = x + 0.0005*y

            gsap.to(circle, {
                duration: duration,
                x: "+=" + A * Math.sin(a + d), // Move the point radially
                y: "+=" + B * Math.sin(b) + A * Math.cos(d), // Move the point radially
                ease: "sine.inOut",
                repeat: -1, // Repeat indefinitely
                yoyo: true, // Reverse the animation
                // delay: index * 0.05 // Add a slight delay for stagger effect
            });
        }

        // Get SVG container and dust cloud group
        var dustCloud = document.getElementById("dust-cloud");

        // Define the number of rings and angular divisions
        var numR = 10;

        // Define the spacing between points
        var spacingR = 10;

        // Create and animate dust particles
        for (var i = 0; i < numR; i++) {
            var numTh = 2 * 3 * i + 1;
            var spacingTh = 2 * Math.PI / numTh;
            for (var j = 0; j < numTh; j++) {
                var x = i * spacingR * Math.cos(j * spacingTh) + numR/2 * spacingR + 250 + 15*Math.random();
                var y = i * spacingR * Math.sin(j * spacingTh) + numR/2 * spacingR + 175 + 15*Math.random();
                // Calculate color based on radial position
                var color = interpolateColor(i / numR, "#0482ef", "#56d6fe", "#007fec", "#c574e8"); // Interpolate from light blue to lighter lilac
                var circle = createCircle(x, y, color);
                dustCloud.appendChild(circle);
                animateParticle(circle, x, y);
            }
        }

        // Function to interpolate color among four colors
        function interpolateColor(fraction, color1, color2, color3, color4) {
            if (fraction <= 0.25) {
                return interpolateTwoColors((fraction * 4), color1, color2);
            } else if (fraction <= 0.5) {
                return interpolateTwoColors(((fraction - 0.25) * 4), color2, color3);
            } else if (fraction <= 0.75) {
                return interpolateTwoColors(((fraction - 0.5) * 4), color3, color4);
            } else {
                return interpolateTwoColors(((fraction - 0.75) * 4), color4, color1);
            }
        }

        // Function to interpolate color between two colors
        function interpolateTwoColors(fraction, color1, color2) {
            color1 = hexToRgb(color1);
            color2 = hexToRgb(color2);
            var r = Math.round(color1.r + fraction * (color2.r - color1.r));
            var g = Math.round(color1.g + fraction * (color2.g - color1.g));
            var b = Math.round(color1.b + fraction * (color2.b - color1.b));
            return rgbToHex(r, g, b);
        }

        // Function to convert hex color to RGB
        function hexToRgb(hex) {
            var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
            hex = hex.replace(shorthandRegex, function (m, r, g, b) {
                return r + r + g + g + b + b;
            });
            var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
            return result ? {
                r: parseInt(result[1], 16),
                g: parseInt(result[2], 16),
                b: parseInt(result[3], 16)
            } : null;
        }

        // Function to convert RGB color to hex
        function rgbToHex(r, g, b) {
            return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const iframes = document.querySelectorAll('iframe[data-src]');

            const lazyLoadIframe = (iframe) => {
                iframe.setAttribute('src', iframe.getAttribute('data-src'));
                iframe.removeAttribute('data-src');
            };

            const observer = new IntersectionObserver((entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        lazyLoadIframe(entry.target);
                        observer.unobserve(entry.target);
                    }
                });
            });

            iframes.forEach(iframe => {
                observer.observe(iframe);
            });
        });
    </script>
{% endblock %}
