{% extends 'site/base.twig' %}

{% block content %}
    {% if bookings is not null %}
        <div class="alert alert-success">
            <p class="pull-right hidden-phone">
                <a href="{{ url('cudi_booking') }}" style="color:inherit">{{ translate('View Bookings') }}</a>
            </p>

            <p>
                <b>{{ translate('New bookings have been assigned to you, and you can go and collect them.') }}</b>
            </p>

            <ul>
                {% for booking in bookings %}
                    <li>{{ booking.getArticle().getMainArticle().getTitle() }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% for notification in notifications %}
        <div class="alert alert-info notification">
            {{ markdown(notification.getContent()) }}
        </div>
    {% endfor %}

    <div class="row-fluid">
        <div class="span4">
            <a href="{{ url('calendar') }}"><img class="heading-icon" src="/_site/img/glyphicons-calendar.png" /></a>

            <h2>{{ translate('Calendar') }}</h2>

            {% for day in calendarItems %}
                <div class="item">
                    <span class="date left">{{ dateLocalized(day.date, 'd MMM') }}</span>

                    <p class="calendarItem">
                        {% for event in day.events %}
                            <i class="icon-time"></i> <a href="{{ url('calendar', {'action': 'view', 'name': event.getName()}) }}" rel="popover" data-original-title="{{ event.getTitle(language) }}" data-content="{{ event.getSummary(200, language) }}">{{ dateLocalized(event.getStartDate(), 'HH:mm') }}&mdash;{{ event.getTitle(language) }}</a><br />
                        {% endfor %}
                    </p>
                </div>
            {% else %}
                <div class="heading-spacer"></div>

                <div class="alert">
                    {{ translate('No events were created yet.') }}
                </div>
            {% endfor %}
        </div>

        <div class="span3">
            <a href="{{ url('cudi_booking') }}"><img class="heading-icon" src="/_site/img/glyphicons-cudi.png" /></a>

            <h2>{{ translate('Bookstore') }}</h2>

            {% if hasAccess('cudi_booking', 'view') %}
                <p><a href="{{ url('cudi_booking') }}" class="btn btn-primary">{{ translate('Reservations') }}</a></p>
            {% endif %}

            {% if cudi.currentOpeningHour %}
                <h3>{{ translate('Open Session') }}</h3>
                {% autoescape false %}
                    <p>
                        {{ translate('Cudi is open until <span class="badge badge-warning">%time%</span>.')|replace({'%time%': dateLocalized(cudi.currentOpeningHour.getEnd(), 'H:mm')}) }}
                        {% if cudi.currentOpeningHour.getComment(language)|length > 0 %}
                            <br><small style="margin-left: 20px;">{{ cudi.currentOpeningHour.getComment(language) }}</small>
                        {% endif %}
                    </p>
                {% endautoescape %}

                {% if cudi.currentSession %}
                    {% autoescape false %}
                        <p>
                            {% if cudi.currentStudents == 1 %}
                                {{ translate('Currently there is <span class="badge badge-info">%number%</span> student in the queue at Cudi.')|replace({'%number%': cudi.currentStudents}) }}
                            {% else %}
                                {{ translate('Currently there are <span class="badge badge-info">%number%</span> students in the queue at Cudi.')|replace({'%number%': cudi.currentStudents}) }}
                            {% endif %}
                        </p>
                    {% endautoescape %}
                {% endif %}
            {% endif %}

            {% if cudi.openingHours|length > 0 %}
                <h3>{{ translate('Opening Hours') }}</h3>

                {% set previousDay = '' %}
                {% for openingHour in cudi.openingHours %}
                    <div>
                        {% if previousDay != openingHour.getStart().format('d/M') %}
                            <div class="label label-info" style="display: block; width: 70px; text-align: center;">
                                {{ dateLocalized(openingHour.getStart(), 'EEEE')|capitalize }}
                            </div>
                        {% endif %}
                        <div style="margin-left: 20px;">
                            <b>{{ dateLocalized(openingHour.getStart(), 'H:mm') }}&mdash;{{ dateLocalized(openingHour.getEnd(), 'H:mm') }}:</b>
                            {% if openingHour.getComment(language)|length > 0 %}
                                <small>{{ openingHour.getComment(language) }}</small>
                            {% endif %}
                        </div>
                        {% set previousDay = openingHour.getStart().format('d/M') %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="span5">
            <a href="{{ url('news') }}"><img class="heading-icon" src="/_site/img/glyphicons-news.png" /></a>
            <h2>{{ translate('News') }}</h2>

            {% for item in newsItems %}
                <div class="item">
                    <span class="date right">{{ dateLocalized(item.getCreationTime(), 'd MMM') }}</span>

                    <h3>{{ item.getTitle(language) }}</h3>

                    <blockquote>
                        {% autoescape false %}
                            {{ hideEmail(markdown(item.getSummary(200, language))) }}
                        {% endautoescape %}
                        <small><a href="{{ url('news', {'action': 'view', 'name': item.getName(language)}) }}">{{ translate('Read More') }}</a></small>
                    </blockquote>
                </div>
            {% else %}
                <div class="heading-spacer"></div>

                <div class="alert">
                    {{ translate('No news items were posted yet.') }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $('a[rel=popover]').popover({'trigger': 'hover', 'html': true});
    </script>
{% endblock %}
