{% extends 'site/base.twig' %}

{% block content %}
    {% if sportInfo is not null %}
        <div class="alert alert-info">
            <h4>{{ translate('24h Run') }}</h4>
            {% if sportInfo.behind == 0 %}
                {{ translate('We have run already %laps% laps and we are the first team.')|replace({'%laps%': sportInfo.nbLaps}) }}
            {% else %}
                {{ translate('We have run already %laps% laps and we are %behind% laps behind the first team.')|replace({'%laps%': sportInfo.nbLaps, '%behind%': sportInfo.behind}) }}
            {% endif %}
            <span class="pull-right">{{ translate('Current Runner:') }} <b>{{ sportInfo.currentLap.getRunner().getFullName() }}</b></span>
        </div>
    {% endif %}

    {% if bookings is not null %}
        <div class="alert alert-success">
            <p>
                <a class="pull-right hidden-xs hidden-sm" href="{{ url('cudi_booking') }}" style="color:inherit">{{ translate('View Bookings') }}</a>
                <b>{{ translate('New bookings have been assigned to you, and you can go and collect them.') }}</b>
            </p>

            <ul>
                {% for booking in bookings %}
                    <li>{{ booking.getArticle().getMainArticle().getTitle() }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% for notification in notifications %}
        <div class="alert alert-info notification">
            {{ markdown(notification.getContent(language)) }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-4">
            <div class="page-header" style="margin-top: 20px;">
                <a class="heading" href="{{ url('calendar') }}">
                    <h3>
                        <span class="glyphicon glyphicon-calendar"></span>
                        {{ translate('Calendar') }}
                    </h3>
                </a>
            </div>

            {% for day in calendarItems %}
                <div class="item">
                    <div class="date">
                        <div class="month">{{ dateLocalized(day.date, 'LLL')|capitalize }}</div>
                        <div class="day">{{ dateLocalized(day.date, 'd') }}</div>
                    </div>

                    <div class="dayItem">
                        {% for event in day.events %}
                            <div>
                                <a href="{{ url('calendar', {'action': 'view', 'name': event.getName()}) }}" rel="popover" data-original-title="{{ event.getTitle(language) }}" data-content="<small><em><span class='glyphicon glyphicon-time time'></span>{% if event.getEndDate() %}
                                    {% if event.getEndDate().format('d/M/Y') == event.getStartDate().format('d/M/Y')%}
                                        {{ dateLocalized(event.getStartDate(), 'HH:mm') }} - {{ dateLocalized(event.getEndDate(), 'HH:mm') }}
                                    {% else %}
                                        {{ dateLocalized(event.getStartDate(), 'd MMM HH:mm') }} - {{ dateLocalized(event.getEndDate(), 'd MMM HH:mm') }}
                                    {% endif %}
                                {% else %}
                                    {{ dateLocalized(event.getStartDate(), 'HH:mm') }}
                                {% endif %}</em></small><p>{{ event.getSummary(200, language) }}</p>">{{ event.getTitle(language) }}</a><br />
                                {{ event.getSummary(100, language) }}
                            </div>
                        {% endfor %}
                    </div>
                    <br style="clear:both;" />
                </div>
            {% else %}
                <div class="heading-spacer"></div>

                <div class="alert">
                    {{ translate('No events were created yet.') }}
                </div>
            {% endfor %}
        </div>

        <div class="col-md-8">
            <div class="page-header" style="margin-top: 20px;">
                <h2>{{ translate('Welcome') }}</h2>
            </div>
            <p>
                {{ translate('Welcome on the website of Vlaamse Technische Kring, the student organization of the Faculty of Engineering at the KU Leuven.') }}
            </p>
        </div>

        <div class="col-md-4">
            <div class="page-header" style="margin-top: 20px;">
                <a class="heading" href="{{ url('cudi_booking') }}">
                    <h3>
                        <span class="glyphicon glyphicon-book"></span>
                        {{ translate('Bookstore') }}
                    </h3>
                </a>
            </div>

            {% if cudi.currentOpeningHour %}
                <h3>{{ translate('Open Session') }}</h3>
                {% autoescape false %}
                    <p>
                        {{ translate('Cudi is open until <span class="label label-warning">%time%</span>.')|replace({'%time%': dateLocalized(cudi.currentOpeningHour.getEnd(), 'H:mm')}) }}
                        {% if cudi.currentOpeningHour.getComment(language)|length > 0 %}
                            <br><small style="margin-left: 20px;">{{ cudi.currentOpeningHour.getComment(language) }}</small>
                        {% endif %}
                    </p>
                {% endautoescape %}

                {% if cudi.currentSession %}
                    {% autoescape false %}
                        <p>
                            {% if cudi.currentStudents == 1 %}
                                {{ translate('Currently there is <span class="label label-info">%number%</span> student in the queue at Cudi.')|replace({'%number%': cudi.currentStudents}) }}
                            {% else %}
                                {{ translate('Currently there are <span class="label label-info">%number%</span> students in the queue at Cudi.')|replace({'%number%': cudi.currentStudents}) }}
                            {% endif %}
                        </p>
                    {% endautoescape %}
                {% endif %}
            {% else %}
                <div class="alert alert-info" style="margin-bottom: 20px;">
                    {{ translate('Cudi is currently closed.') }}
                </div>
            {% endif %}

            {% if hasAccess('cudi_booking', 'view') %}
                <p style="text-align: left;">
                    {{ translate('Reservate textbooks and other study material.') }}
                </p>
                <p>
                    <a href="{{ url('cudi_booking') }}" class="btn btn-sm btn-primary">{{ translate('Reservations') }}</a>
                </p>
            {% endif %}

            {% if cudi.openingHours|length > 0 %}
                <h3>{{ translate('Opening Hours') }}</h3>

                {% set previousDay = '' %}
                {% for openingHour in cudi.openingHours %}
                    <div>
                        {% if previousDay != openingHour.getStart().format('d/M') %}
                            <div class="label label-info" style="display: block; width: 110px; text-align: center;">
                                {{ dateLocalized(openingHour.getStart(), 'EEEE (d/M)')|capitalize }}
                            </div>
                        {% endif %}
                        <div style="margin-left: 20px;">
                            {% if openingHour.getComment(language)|length > 0 %}
                                <b>{{ dateLocalized(openingHour.getStart(), 'H:mm') }}&mdash;{{ dateLocalized(openingHour.getEnd(), 'H:mm') }}:</b>
                                <small>{{ openingHour.getComment(language) }}</small>
                            {% else %}
                                <b>{{ dateLocalized(openingHour.getStart(), 'H:mm') }}&mdash;{{ dateLocalized(openingHour.getEnd(), 'H:mm') }}</b>
                            {% endif %}
                        </div>
                        {% set previousDay = openingHour.getStart().format('d/M') %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if myShifts is not null and myShifts|length > 0 %}
                <div class="page-header" style="margin-top: 20px;">
                    <a class="heading" href="{{ url('shift') }}">
                        <h3>
                            <span class="glyphicon glyphicon-tasks"></span>
                            {{ translate('Shifts') }}
                        </h3>
                    </a>
                </div>

                {% for shift in myShifts %}
                    <div class="panel-group" id="shift-{{ shift.getId() }}">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="pannel-title" data-toggle="collapse" data-parent="#shifts-{{ accordionName }}" href="#collapse_{{ accordionName }}_shift-{{ shift.getId() }}" style="overflow: hidden;">
                                    {{ shift.getName() }}
                                </a>
                            </div>
                            <div id="collapse_{{ accordionName }}_shift-{{ shift.getId() }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h5>{{ shift.getName() }}</h5>
                                    <p>
                                        {% if (shift.getStartDate().format('d/M/Y') == shift.getEndDate().format('d/M/Y')) %}
                                            {{ dateLocalized(shift.getStartDate(), 'd/M/y HH:mm') }} - {{ dateLocalized(shift.getEndDate(), 'HH:mm') }}
                                        {% else %}
                                            {{ dateLocalized(shift.getStartDate(), 'd/M/y HH:mm') }} - {{ dateLocalized(shift.getEndDate(), 'd/M/y HH:mm') }}
                                        {% endif %}
                                    </p>
                                    <p>
                                        @ {{ shift.getLocation().getName() }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="col-md-4">
            <div class="page-header" style="margin-top: 20px;">
                <a class="heading" href="{{ url('news') }}">
                    <h3>
                        <span class="glyphicon glyphicon-inbox"></span>
                        {{ translate('News') }}
                    </h3>
                </a>
            </div>

            {% for item in newsItems %}
                <div class="item">
                    <h4>{{ item.getTitle(language) }} <small>&mdash; {{ dateLocalized(item.getCreationTime(), 'd MMMM') }}</small></h4>

                    <div style="padding-left: 5px">
                        {{ hideEmail(item.getSummary(300, language)) | replace({'<p>': '', '</p>': '', '<br>': '', '<br />': ''})|raw }}
                        &mdash; <a href="{{ url('news', {'action': 'view', 'name': item.getName(language)}) }}">{{ translate('Read More') }}</a>
                    </div>
                </div>
            {% else %}
                <div class="heading-spacer"></div>

                <div class="alert alert-warning">
                    {{ translate('No news items were posted yet.') }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $('a[rel=popover]').popover({'trigger': 'hover', 'html': true, 'container': 'body'});
    </script>
{% endblock %}
