{% extends 'site/base.twig' %}

{% block content %}

    {#Still needs verification#}
    {% if bookings is not null %}
        <div class="alert alert-success">
            <p>
                <a class="pull-right hidden-xs hidden-sm" href="{{ url('cudi_booking') }}" style="color:inherit">{{ translate('View Bookings') }}</a>
                <b>{{ translate('New bookings have been assigned to you, and you can go and collect them.') }}</b>
            </p>

            <ul>
                {% for booking in bookings %}
                    <li>{{ booking.getArticle().getMainArticle().getTitle() }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% for notification in notifications %}
        <div class="alert alert-info notification">
            {{ markdown(notification.getContent(language)) }}
        </div>
    {% endfor %}

    <div class="vtk-home-header">
        <div style="height:175px"></div>
        <div class="container">
            <h1 style="font-size: 85px; margin-bottom: 0px">Welkom bij <span class="vtk-textspan">vtk</span></h1>
            <h3>Vlaamse Technische Kring - partner in crime since 1920</h3>
            <button class="yellow">Let's Go</button>
        </div>
    </div>

    <div style="margin-top: -100px; position: relative; padding: 20px 15px" class="container">
        <h2>Kalender</h2>
        <div style="margin-top: 100px; margin-bottom: 120px">
            <div class="calendar-grid" style="margin-bottom: 40px" >
                {% for day in calendarItems | slice(0, 3)%}
                    {% for event in day.events | slice(0, 1)%}
                        <div class="calendar-item">
                            <h4>{{event.getTitle(language)}} | {{ dateLocalized(day.date, 'LLL')|capitalize }} {{ dateLocalized(day.date, 'd') }} </h4>
                            <p class="calendar-emptyfill">{{event.getSummary(100, language)}}</p>
                            <div class="button" style="margin-bottom: 30px; margin-top: 20px">
                                <a href="{{ url('calendar', {'action': 'view', 'name': event.getName()}) }}">Lees Meer</a>
                            </div>
                            <div class="DELETE-BGIMAGE"></div>
                        </div>
                    {% endfor %}
                {% endfor %}

                {# ?? Is kalender ooit leeg 
                
                {% else %}
                    <div class="heading-spacer"></div>
                    <div class="alert alert-warning">
                        {{ translate('No upcoming events are available.') }}
                    </div> 
                {% endfor %} #}
            </div>
            <button class="calendar-button">Bekijk de hele kalender →</button>
        </div>
    </div>
    

    <div class="vtk-home-technical">
        <div style="padding: 50px 15px" class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Laatste nieuws</h2>
                    {% for item in newsItems %}
                        <div class="item">
                            <h4>{{ item.getTitle(language) }} <small>&mdash; {{ dateLocalized(item.getCreationTime(), 'd MMMM') }}</small></h4>

                            <div style="padding-left: 5px">
                                <p>{{ hideEmail(item.getSummary(300, language)) | replace({'<p>': '', '</p>': '', '<br>': '', '<br />': ''})|raw }}</p>
                                <div class="button" style="margin-top: 20px">
                                    <a href="{{ url('news', {'action': 'view', 'name': item.getName(language)}) }}">{{ translate('Read More') }}</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            {{ translate('No news items were posted recently.') }}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-6"><h2>Openingsuren Cudi</h2>
                    <div><p style="display:inline-block">Maandag</p><p style="float:right">10.00-12.00</p></div>
                    <div><p style="display:inline-block">Dinsdag</p><p style="float:right">10.00-12.00</p></div>
                    <div><p style="display:inline-block">Woensdag</p><p style="float:right">10.00-12.00</p></div>
                    <div><p style="display:inline-block">Donderdag</p><p style="float:right">10.00-12.00</p></div>
                    <div><p style="display:inline-block">Vrijdag</p><p style="float:right">10.00-12.00</p></div>
                </div>
            </div>
        </div>
    </div>

    <div class="vtk-home-br">
        <div class="container">
            <h1 style="color:white">Never to early to build your <span class="vtk-textspan">career</span></h1>
            <p style="max-width: 400px; color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta velit quis mauris fermentum maximus. Praesent arcu ante, finibus vel volutpat a, cursus sed tortor. Maecenas convallis magna ut eros volutpat, </p>
            <div>
                <button class="white unfilled">Studenten</button>
                <button class="white unfilled">Bedrijven</button>
            </div>
        </div>
    </div>

    <div style="margin-top: 100px" class="container menuitems-flexbox">

        {% for item in menu %}
            {% if 'category' == item.type %}
                <div style="margin-right: 40px; margin-bottom: 50px">
                    <h3 class="vtk-menuitem" style="margin-bottom: 22px" href="#">
                        {{ item.name }} 
                    </h3>
                    {% for categoryItem in item.items | slice(0, 5) %}
                        {% if 'page' == categoryItem.type %}
                            {% if hasAccess('page', 'view') %}
                                <div class="menulink"><a title=categoryItem.title href="{{ url('page', {"name": categoryItem.name}) }}">{{ categoryItem.title }}</a></div>
                            {% endif %}
                        {% endif %}

                        {% if 'link' == categoryItem.type %}
                            {% if hasAccess('page_link', 'view') %}
                                <div class="menulink"><a title=categoryItem.title href="{{ categoryItem.url }}">{{ categoryItem.name }}</a></div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}