{% extends 'site/base.twig' %}

{% block content %}

    {% if sportInfo is not null %}
        <div class="alert alert-info">
            <a class="close" data-dismiss="alert">&times;</a>
            <h4>{{ translate('24h Run') }}</h4>
            {% if sportInfo.behind == 0 %}
                {{ translate('We have run already %laps% laps and we are the first team.')|replace({'%laps%': sportInfo.nbLaps}) }}
            {% else %}
                {{ translate('We have run already %laps% laps and we are %behind% laps behind the first team.')|replace({'%laps%': sportInfo.nbLaps, '%behind%': sportInfo.behind}) }}
            {% endif %}
            <span class="pull-right">{{ translate('Current Runner:') }} <b>{{ sportInfo.currentLap.getRunner().getFullName() }}</b></span>
        </div>
    {% endif %}


    {# Still needs verification #}
    {# WOULD DITCH THIS #}
    {# {% if bookings is not null %}
        <div class="alert alert-success">
            <a class="close">&times;</a>
            <p>
                <div style="inline-block"><a style="color:white; font-weight: 600; text-decoration: none" href="{{ url('cudi_booking') }}">{{ translate('New bookings have been assigned to you, and you can go and collect them.') }}</a></div>
            </p>
            <ul>
                {% for booking in bookings %}
                    <li>{{ booking.getArticle().getMainArticle().getTitle() }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %} #}

    {% for notification in notifications %}
        <div class="alert alert-info notification">
            <a class="close" data-dismiss="alert">&times;</a>
            {{ markdown(notification.getContent(language)) }}
        </div>
    {% endfor %}

    <div class="vtk-home-header">
        <div class="vtk-home-image">
            <div class="container" style="text-align: center">
                <h1 class="vtk-hometitle">{{ translate('welcome to') }} VTK</h1>
                <div class="vtk-home-titleDecoration"></div>
                <h2 class="vtk-home-subtitle" style="color: white; font-weight: 500">Vlaamse Technische Kring - partner
                    in crime since 1920</h2>
                <div style="height: 100px"></div>
            </div>
        </div>
    </div>

    <div class="vtk-home-technical">
        <div style="padding: 50px 15px" class="container">
            <div class="row">
                {% if newsItems|length > 0 %}
                    <div class="col-md-6">
                        <h2>{{ translate('Latest news') }}</h2>
                        {% for item in newsItems %}
                            <div style="background-color: white; padding: 20px; margin-bottom: 20px">
                                <h4>{{ item.getTitle(language) }}
                                    <small>&mdash; {{ dateLocalized(item.getCreationTime(), 'd MMMM') }}</small>
                                </h4>

                                <div>
                                    <p>{{ hideEmail(item.getSummary(300, language)) | replace({'<p>': '', '</p>': '', '<br>': '', '<br />': ''})|raw }}</p>
                                    <div style="height: 10px"></div>
                                    <a class="button blue unfilled"
                                       href="{{ url('news', {'action': 'view', 'name': item.getName(language)}) }}">{{ translate('Read More') }}</a>
                                </div>
                            </div>
                            {# {% else %}
                            <div class="alert alert-warning">
                                {{ translate('No news items were posted recently.') }}
                            </div> #}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                {# TO DO CUDI STUFF GOED ZETTEN #}
                {# {% if cudi.currentOpeningHour %}
                    <h3>{{ translate('Open Session') }}</h3>
                    {% autoescape false %}
                        <p>
                            {{ translate('Cudi is open until <span class="label label-warning">%time%</span>.')|replace({'%time%': dateLocalized(cudi.currentOpeningHour.getEnd(), 'H:mm')}) }}
                            {% if cudi.currentOpeningHour.getComment(language)|length > 0 %}
                                <br><small style="margin-left: 20px;">{{ cudi.currentOpeningHour.getComment(language) }}</small>
                            {% endif %}
                        </p>
                    {% endautoescape %}
                    {% if cudi.currentSession %}
                            {% autoescape false %}
                                <p>
                                    {% if cudi.currentStudents == 1 %}
                                        {{ translate('Currently there is <span class="label label-info">%number%</span> student in the queue at Cudi.')|replace({'%number%': cudi.currentStudents}) }}
                                    {% else %}
                                        {{ translate('Currently there are <span class="label label-info">%number%</span> students in the queue at Cudi.')|replace({'%number%': cudi.currentStudents}) }}
                                    {% endif %}
                                </p>
                            {% endautoescape %}
                    {% endif %}
                {% else %}
                    <div class="alert alert-info" style="margin-bottom: 20px;">
                        {{ translate('Cudi is currently closed.') }}
                    </div>
                {% endif %}
                {% if hasAccess('cudi_booking', 'view') %}
                    <p style="text-align: left;">
                        {{ translate('Reserve textbooks and other study material.') }}
                    </p>
                    <p>
                        <a href="{{ url('cudi_booking') }}" class="btn btn-sm btn-primary">{{ translate('Reservations') }}</a>
                    </p>
                {% endif %} #}
                <div class="col-md-6"><h2>Cudi - {{ translate('Opening Hours') }}</h2>
                    {% for message in cudi.messages %}
                        <div style="white-space: pre-wrap;">{{ message.getContent(language) }}
                        </div>
                    {% endfor %}
                    {#                    {% if cudi.openingHours|length == 0 %}#}
                    {#                        <b>{{ translate('Cudi is currently closed.') }}</b>#}
                    {#                    {% endif %}#}
                    {% for opening in cudi.openingHours %}
                        <div>
                            <p style="display:inline-block">{{ dateLocalized(opening.getStart(), 'EEEE (d/M)')|capitalize }}</p>
                            <p style="float:right">{{ opening.getStart().format('H:i') }}
                                -{{ opening.getEnd().format('H:i') }}</p></div>
                    {% endfor %}
                </div>
                <div class="col-md-6"><h2>Theokot - {{ translate('Opening Hours') }}</h2>
                    {% for message in shop.messages %}
                        <div style="white-space: pre-wrap;">{{ message.getContent(language) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% if calendarItems|length != 0 %}
        <div class="container calendarHolder">
            <div class="calendar-grid" style="margin-bottom: 40px">
                {% for event in calendarItems | slice(0, 3) %}
                    <div style="position: relative" class="calendar-item">
                        <div class="DELETE-BGIMAGE"
                             style="background-image:url({{ url('calendar',{'action':'poster', 'name': event.getPoster()}) }})"></div>
                        <div class="calendar-item-tekst">
                            <h4>{{ event.getTitle(language) }}
                                | {{ dateLocalized(event.getStartDate(), 'LLL')|capitalize }} {{ dateLocalized(event.getStartDate(), 'd') }} </h4>
                            <p class="calendar-emptyfill">{{ event.getSummary(150, language) }}</p>
                            <div class="vtk-flex-horizontal" style="position: absolute; bottom: -10px">
                                <a class="myVtkButton"
                                   href="{{ url('calendar', {'action': 'view', 'name': event.getName()}) }}">{{ translate('Read More') }}</a>
                                {% if event.hasTicket(entityManager) == true %}
                                    <a class="myVtkButton"
                                       href="{{ url('ticket', {'id': event.getTicket(entityManager).getRandId()}) }}">{{ translate('Buy Tickets') }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="calendar-grid" style="margin-bottom: 40px">
                {% for event in calendarItems | slice(3, 3) %}
                    <div style="position: relative" class="calendar-item">
                        <div class="DELETE-BGIMAGE"
                             style="background-image:url({{ url('calendar',{'action':'poster', 'name': event.getPoster()}) }})"></div>
                        <div class="calendar-item-tekst">
                            <h4>{{ event.getTitle(language) }}
                                | {{ dateLocalized(event.getStartDate(), 'LLL')|capitalize }} {{ dateLocalized(event.getStartDate(), 'd') }} </h4>
                            <p class="calendar-emptyfill">{{ event.getSummary(150, language) }}</p>
                            <div class="vtk-flex-horizontal" style="position: absolute; bottom: -10px">
                                <a class="myVtkButton"
                                   href="{{ url('calendar', {'action': 'view', 'name': event.getName()}) }}">{{ translate('Read More') }}</a>
                                {% if event.hasTicket(entityManager) == true %}
                                    <a class="myVtkButton"
                                       href="{{ url('ticket', {'id': event.getTicket(entityManager).getRandId()}) }}">{{ translate('Buy Tickets') }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="button blue unfilled" href="{{ url('calendar') }}">{{ translate('View the whole Calendar Here') }}
                →</a>
        </div>
    {% endif %}

    <div class="container">
        {% if myPocers.enable  %}
            {% if myPocers.pocItem is not null %}
                {% if not myPocers.pocItem is empty %}
                    <div class="col-md-12">
                        <div class="page-header" style="margin-top: 20px;">
                            <a class="heading" href={{pocUrlOverview}}>
                                <h3>{{ translate('POC') }}</h3>
                            </a>
                        </div>

                        <div class="heading-spacer"></div>
                        <div>
                            {{translate('The POC\'ers are elected! You can find your POC\'ers here!')}}

                            {#                        {{translate('Visit the POC page for more ')}}#}
                            {#                        <a href={{pocUrl}}>info</a>#}

                            {% for pocStuff in myPocers.pocItem%}
                                <h3>{{ pocStuff['groupId'].getName() }}<small>&mdash;</small></h3>
                                <a href="mailto:{{ pocStuff['pocExample'].getEmailAdress()}}">{{ pocStuff['pocExample'].getEmailAdress() }}</a>
                                <div class="row">
                                    {% for  poc in pocStuff['pocGroupList'] %}
                                        <div class="col-xs-3 col-md-3">
                                            <div class="thumbnail" style="height: 200px; text-align: center; border-style: none">
                                                {% if poc.getAcademic().getPhotoPath() %}
                                                    <img class="profileImagePreloaded holderjs" data-url="{{ profilePath }}/{{ poc.getAcademic().getPhotoPath() }}"
                                                         style="background: url(?holder.js/90x67/auto/text:Image) no-repeat; width: 120px; height: 120px; object-fit: cover; border-radius: 50%" alt="">
                                                {% else %}
                                                    <img class="memberPhoto" style="background-image: url(/_site/img/generic_profile.png); height: 120px; width: 120px; margin-bottom: 0">
                                                {% endif %}
                                                <br>
                                                <h4>{{ poc.getAcademic().getFullName() }}</h4>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

    <div class="container">
        <div style="display: flex; flex-direction:row; flex-wrap: wrap;">
            {% for video in videos %}
                <div style="margin: 0 50px 50px 0">
                    <h3>{{ video.getTitle() }}</h3>
                    <iframe src="{{ video.getUrl() }}" width="464px" height="261px" style="border:0"
                            allowfullscreen></iframe>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="vtk-home-br">
        <div class="container">
            <h1 style="color:white">Never too early to build your <span class="vtk-textspan">career</span></h1>
            <p style="max-width: 400px; color:white"></p>
            <div class="spacer10"></div>
            <div>
                <a class="button white unfilled"
                   href="{{ url("br_career_index", {"language": language.getAbbrev()}) }}">{{ translate('Students') }}</a>
                <a class="button white unfilled"
                   href="{{ url("br_corporate_index", {"language": language.getAbbrev()}) }}">{{ translate('Companies') }}</a>
            </div>
        </div>
    </div>

    <div style="margin-top: 100px" class="container menuitems-flexbox">

        {% for item in menu %}
            {% if 'category' == item.type %}
                <div class="home-menu-category">
                    <h3 style="margin-bottom: 22px" href="#">
                        {{ item.name }}
                    </h3>
                    {% for categoryItem in item.frames %}
                        {% if 'page' == categoryItem.type %}
                            {% if hasAccess('page', 'view') %}
                                <div class="menulink"><a class="category-title"
                                                         title=categoryItem.title
                                                         href="{{ url('page', {"name": categoryItem.name}) }}">{{ categoryItem.title }}</a>
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if 'link' == categoryItem.type %}
                            {% if hasAccess('page_link', 'view') %}
                                <div class="menulink"><a class="category-title"
                                                         title=categoryItem.title
                                                         href="{{ categoryItem.url }}">{{ categoryItem.name }}</a></div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.profileImagePreloaded').each(function () {
                $(this).attr('src', $(this).data('url'));
            });
        });
    </script>
{% endblock %}
