{% extends 'site/base.twig' %}

{% block content %}

<<<<<<< HEAD
    {# TO DO  #}
=======

>>>>>>> b39041adf... initial menu and footer design
    {% if bookings is not null %}
        <div class="alert alert-success">
            <p>
                <a class="pull-right hidden-xs hidden-sm" href="{{ url('cudi_booking') }}" style="color:inherit">{{ translate('View Bookings') }}</a>
                <b>{{ translate('New bookings have been assigned to you, and you can go and collect them.') }}</b>
            </p>

            <ul>
                {% for booking in bookings %}
                    <li>{{ booking.getArticle().getMainArticle().getTitle() }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% for notification in notifications %}
        <div class="alert alert-info notification">
            {{ markdown(notification.getContent(language)) }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-4">
            <div class="page-header" style="margin-top: 20px;">
                <a class="heading" href="{{ url('calendar') }}">
                    <h2>{{ translate('Calendar') }}</h2>
                </a>
            </div>

            {% for day in calendarItems %}
                <div class="item">
                    <div class="date">
                        <div class="month">{{ dateLocalized(day.date, 'LLL')|capitalize }}</div>
                        <div class="day">{{ dateLocalized(day.date, 'd') }}</div>
                    </div>

                    <div class="dayItem">
                        {% for event in day.events %}
                            <div>
                                <a href="{{ url('calendar', {'action': 'view', 'name': event.getName()}) }}" rel="popover" data-original-title="{{ event.getTitle(language) }}" data-content="<small><em><span class='glyphicon glyphicon-time time'></span>{% if event.getEndDate() %}
                                    {% if event.getEndDate().format('d/M/Y') == event.getStartDate().format('d/M/Y')%}
                                        {{ dateLocalized(event.getStartDate(), 'HH:mm') }} - {{ dateLocalized(event.getEndDate(), 'HH:mm') }}
                                    {% else %}
                                        {{ dateLocalized(event.getStartDate(), 'd MMM HH:mm') }} - {{ dateLocalized(event.getEndDate(), 'd MMM HH:mm') }}
                                    {% endif %}
                                {% else %}
                                    {{ dateLocalized(event.getStartDate(), 'HH:mm') }}
                                {% endif %}</em></small><p>{{ event.getSummary(200, language) }}</p>">{{ event.getTitle(language) }}</a><br />
                                {{ event.getSummary(100, language) }}
                            </div>
                        {% endfor %}
                    </div>
                    <br style="clear:both;" />
                </div>
            {% else %}
                <div class="heading-spacer"></div>

                <div class="alert alert-warning">
                    {{ translate('No upcoming events are available.') }}
                </div>
            {% endfor %}
        </div>

        <div class="col-md-8">
            <div class="page-header" style="margin-top: 20px;">
                <h2>{{ translate('Welcome') }}</h2>
            </div>
            <p>
                {{ translate('Welcome to the website of Student IT, a demo organization.') }}
            </p>

            <div class="row">
                <div class="col-md-6">
                    {% if registrationShifts.enable %}
                        <div class="page-header" style="margin-top: 20px;">
                            <a class="heading" href="{{ url('registration_shift') }}">
                                <h3>{{ translate('Timeslot Registration')}}</h3>
                            </a>
                        </div>

                        <p style="text-align: left;">
                            {{ translate('Register for a timeslot in the current Corona situation.')}}
                        </p>

                        <p>
                            <a href="{{ url('registration_shift') }}" class="btn btn-sm btn-primary">{{ translate('Timeslots') }}
                            </a>
                        </p>
                    {% endif %}

                    {% if shop.enable %}
                         <div class="page-header" style="margin-top: 20px;">
                            <a class="heading" href="{{ url('shop') }}">
                                <h3>{{ shop.name }}</h3>
                            </a>
                        </div>

                        <p style="text-align: left;">
                            {{ translate('Order sandwiches and snacks.')}}
                        </p>

                        <p>
                            <a href="{{ url('shop') }}" class="btn btn-sm btn-primary">{{ translate('Reservations') }}
                            </a>
                        </p>
                    {% endif %}

                    {% if wiki.enable %}
                        <div class="page-header" style="margin-top: 20px;">
                            <a class="heading" href="{{ url('cudi_booking') }}">
                                <h3>{{ translate('Wiki') }}</h3>
                            </a>
                        </div>

                        <p>
                            <a href="{{ wiki.url }}" class="btn btn-block btn-primary">{{ translate('Wiki') }}</a>
                        </p>
                    {% else %}
                        <div class="page-header" style="margin-top: 20px;">
                            <a class="heading" href="{{ url('cudi_booking') }}">
                                <h3>{{ translate('Cudi') }}</h3>
                            </a>
                        </div>

                        {% if cudi.currentOpeningHour %}
                            <h3>{{ translate('Open Session') }}</h3>
                            {% autoescape false %}
                                <p>
                                    {{ translate('Cudi is open until <span class="label label-warning">%time%</span>.')|replace({'%time%': dateLocalized(cudi.currentOpeningHour.getEnd(), 'H:mm')}) }}
                                    {% if cudi.currentOpeningHour.getComment(language)|length > 0 %}
                                        <br><small style="margin-left: 20px;">{{ cudi.currentOpeningHour.getComment(language) }}</small>
                                    {% endif %}
                                </p>
                            {% endautoescape %}

                            {% if cudi.currentSession %}
                                {% autoescape false %}
                                    <p>
                                        {% if cudi.currentStudents == 1 %}
                                            {{ translate('Currently there is <span class="label label-info">%number%</span> student in the queue at Cudi.')|replace({'%number%': cudi.currentStudents}) }}
                                        {% else %}
                                            {{ translate('Currently there are <span class="label label-info">%number%</span> students in the queue at Cudi.')|replace({'%number%': cudi.currentStudents}) }}
                                        {% endif %}
                                    </p>
                                {% endautoescape %}
                            {% endif %}
                        {% else %}
                            <div class="alert alert-info" style="margin-bottom: 20px;">
                                {{ translate('Cudi is currently closed.') }}
                            </div>
                        {% endif %}

                        {% if hasAccess('cudi_booking', 'view') %}
                            <p style="text-align: left;">
                                {{ translate('Reserve textbooks and other study material.') }}
                            </p>
                            <p>
                                <a href="{{ url('cudi_booking') }}" class="btn btn-sm btn-primary">{{ translate('Reservations') }}</a>
                            </p>
                        {% endif %}

                        {% if cudi.openingHours|length > 0 %}
                            <h3>{{ translate('Opening Hours') }}</h3>

                            {% set previousDay = '' %}
                            {% for openingHour in cudi.openingHours %}
                                <div>
                                    {% if previousDay != openingHour.getStart().format('d/M') %}
                                        <div class="label label-info" style="display: block; width: 110px; text-align: center;">
                                            {{ dateLocalized(openingHour.getStart(), 'EEEE (d/M)')|capitalize }}
                                        </div>
                                    {% endif %}
                                    <div style="margin-left: 20px;">
                                        {% if openingHour.getComment(language)|length > 0 %}
                                            <b>{{ dateLocalized(openingHour.getStart(), 'H:mm') }}&mdash;{{ dateLocalized(openingHour.getEnd(), 'H:mm') }}:</b>
                                            <small>{{ openingHour.getComment(language) }}</small>
                                        {% else %}
                                            <b>{{ dateLocalized(openingHour.getStart(), 'H:mm') }}&mdash;{{ dateLocalized(openingHour.getEnd(), 'H:mm') }}</b>
                                        {% endif %}
                                    </div>
                                    {% set previousDay = openingHour.getStart().format('d/M') %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    {% if myShifts is not null and myShifts|length > 0 %}
                        <div class="page-header" style="margin-top: 20px;">
                            <a class="heading" href="{{ url('shift') }}">
                                <h3>{{ translate('Shifts') }}</h3>
                            </a>
                        </div>

                        {% for shift in myShifts %}
                            <div class="panel-group" id="shift-{{ shift.getId() }}">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="pannel-title" data-toggle="collapse" data-parent="#shifts-{{ accordionName }}" href="#collapse_{{ accordionName }}_shift-{{ shift.getId() }}" style="overflow: hidden;">
                                            {{ shift.getName() }}
                                        </a>
                                    </div>
                                    <div id="collapse_{{ accordionName }}_shift-{{ shift.getId() }}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <h5>{{ shift.getName() }}</h5>
                                            <p>
                                                {% if (shift.getStartDate().format('d/M/Y') == shift.getEndDate().format('d/M/Y')) %}
                                                    {{ dateLocalized(shift.getStartDate(), 'd/M/y HH:mm') }} - {{ dateLocalized(shift.getEndDate(), 'HH:mm') }}
                                                {% else %}
                                                    {{ dateLocalized(shift.getStartDate(), 'd/M/y HH:mm') }} - {{ dateLocalized(shift.getEndDate(), 'd/M/y HH:mm') }}
                                                {% endif %}
                                            </p>
                                            <p>
                                                @ {{ shift.getLocation().getName() }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>



                <div class="col-md-6">
                    <div class="page-header" style="margin-top: 20px;">
                        <a class="heading" href="{{ url('news') }}">
                            <h3>{{ translate('News') }}</h3>
                        </a>
                    </div>

                    {% for item in newsItems %}
                        <div class="item">
                            <h4>{{ item.getTitle(language) }} <small>&mdash; {{ dateLocalized(item.getCreationTime(), 'd MMMM') }}</small></h4>

                            <div style="padding-left: 5px">
                                {{ hideEmail(item.getSummary(300, language)) | replace({'<p>': '', '</p>': '', '<br>': '', '<br />': ''})|raw }}
                                &mdash; <a href="{{ url('news', {'action': 'view', 'name': item.getName(language)}) }}">{{ translate('Read More') }}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="heading-spacer"></div>

                        <div class="alert alert-warning">
                            {{ translate('No news items were posted recently.') }}
                        </div>
                    {% endfor %}
                </div>
                {% if myPocers.enable  %}
                {% if myPocers.pocItem is not null %}
				{% if not myPocers.pocItem is empty %}
                 <div class="col-md-6">
                    <div class="page-header" style="margin-top: 20px;">
                        <a class="heading" href={{pocUrlOverview}}>
                            <h3>{{ translate('POC') }}</h3>
                        </a>
                    </div>

                    <div class="heading-spacer"></div>
                    <div class="alert alert-warning">
                    {{translate('The POC\'ers are elected! You can find your POC\'ers here!')}}
                    {{translate('Visit the POC page for more ')}}
                    <a href={{pocUrl}}>info</a>


						 {% for pocStuff in myPocers.pocItem%}
							<h3>{{ pocStuff['groupId'].getName() }}<small>&mdash;
							<a href="mailto:{{ pocStuff['pocExample'].getEmailAdress()}}">{{ pocStuff['pocExample'].getEmailAdress() }}</a>
							<div class="row">
							{% for  poc in pocStuff['pocGroupList'] %}
							<div class="col-xs-6 col-md-6">
							      <div class="thumbnail" style="height: 200px; text-align: center">
								  {% if poc.getAcademic().getPhotoPath() %}
								 <img class="profileImagePreloaded holderjs" data-url="{{ profilePath }}/{{ poc.getAcademic().getPhotoPath() }}" style="background:url(?holder.js/144x108/auto/text:Image) no-repeat; width: 144px; height: 108px;" alt="">
									{% else %}
									<img data-src="holder.js/144x108/auto/text:Image" alt="">
								{% endif %}
								<br>
								<h4>{{ poc.getAcademic().getFullName() }}</h4>
								</div>
							</div>
							{% endfor %}
							</div>
						{% endfor %}
                    </div>

                </div>
            </div>
            {% endif %}
            {% endif %}
           {% endif %}

        </div>
    </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $('a[rel=popover]').popover({'trigger': 'hover', 'html': true, 'container': 'body'});
    </script>
     <script type="text/javascript">
        $(document).ready(function () {
            $('.profileImagePreloaded').each(function () {
                $(this).attr('src', $(this).data('url'));
            });
        });
    </script>
{% endblock %}
