{{ doctype() }}
<html lang="en" style="height:100%;">
<head>

    {{ headMeta() }}
    {{ headTitle('24h Run', 'PREPEND') }}

    {{ headLink() }}
</head>

<body class="screen-wall"
      style="background-image:url('/_run/img/asterix1.jpg'); height:100%; background-position:center bottom; background-repeat: no-repeat; background-size: 100% auto;">
<div class="container">
    {% include 'run/partials/flashMessenger.twig' %}

    <div id="loading_queue_error" class="flashmessage alert alert-danger fade in">
        An error occurred while loading the queue.
    </div>

    <div id="officialMessage" class="alert alert-danger">
    </div>
    <div id="officialStatus" class="alert alert-warning">
    </div>

    <div id="content_controller">
        <div class="row">
            <div id="currentLap" class="well">
                <center>
                    <h2 style="font-size: 100px;">
                        <span id="currentLapRunnerName">
                            Nobody
                        </span>
                    </h2>

                    <div id="currentLapInfo">
                        <span style="font-size: 60px">
                            Lap count: <span style="font-size: 50px;" class="label label-info" id="currentRunnerLapCount">0</span>
                        </span>
                        <br><br>
                        
                        <div class="show-on-official-data progress progress-striped active" style="margin-bottom: 0; height: 30px">
                            <div class="progress-bar" style="width: 0%;"></div>
                        </div>
                    </div>
                </center>
            </div>

            <div class="well">
                <center>
                    <h3 style="font-size: 60px;">
                        NEXT RUNNER<br>
                        <p style="line-height: 90px";>
                            <span style="font-size: 60px" class="label label-info" id="nextLapRunnerName">
                                Nobody
                            </span>
                        </p>
                    </h3>
                </center>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <h2 style="font-size: 30px;">POSITION</h2>

                    <p style="margin-right: 20px;line-height: 40px; font-size: 25px;" id="position">
                        <span class="show-on-official-data">
                            We are
                            <span id="firstOne">
                                <span class="label label-success" style="font-size: 20px;">first</span>!
                            </span>
                            <span id="notFirstOne">
                                in the <span class="label label-danger" style="font-size: 20px;" id="placeText">second</span> place!
                            </span><br>

                            We are
                            <span id="aheadSecondOne">
                               <span id="nbLapsAhead" class="label label-success" style="font-size: 20px;">N/A</span>
                                laps ahead of the second one!
                            </span>
                            <span id="behindFirstOne">
                                <span id="nbLapsBehind" class="label label-danger" style="font-size: 20px;">N/A</span>
                                laps behind the first one!
                            </span>
                        </span>
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="well">
                    <h2 style="font-size: 30px;">LAPS</h2>

                    <p style="margin-right: 20px;line-height: 40px; font-size: 25px;" id="laps">
                        We have run <span id="nbLaps" class="label label-danger" style="font-size: 20px;">N/A</span>
                        <span id="nbLapsText">laps</span>.<br>
                        We are averaging
                        <span id="averageLapTime" class="label label-info" style="font-size: 20px;">N/A</span>
                        for each lap.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{{ inlineScript() }}

<script type="text/javascript">
    var counter;
    $(document).ready(function () {
        $(document).runQueue({
            url: '{{ socketUrl }}',
            key: '{{ key }}',
            authSession: '{{ authSession.getId() }}',
            errorDialog: $('#loading_queue_error'),
            displayLaps: displayLaps
        });

        setInterval(updateLapInfo, 1000);
        $('#officialMessage').hide();
    });

    function displayLaps(data) {
        var officialResults = data.officialResults;
        $('#officialMessage').hide();
        $('#officialStatus').hide();
        if (officialResults && officialResults.message) {
            $('#officialMessage').text(officialResults.message).show();
        }
        if (officialResults && officialResults.status) {
            var status = officialResults.status;
            var message = null;
            switch (status) {
                case 'NoResults':
                    message = 'The contest has not started yet!';
                    break;
                case 'PreResults':
                    message = 'There are no official results available yet!';
                    break;
                case 'Ok':
                    break;
                case 'FinalScore':
                    message = 'These scores are final!';
                    break;
                case 'FinalHour':
                    message = 'During this final hour, the official results are not updated!';
                    break;
                case 'TempFailure':
                    message = 'No results are available at the moment!';
                    break;
                case 'PermFailure':
                    message = 'There won\'t be any official results available anymore.';
                    break;
                case 'Emergency':
                    message = 'Something serious happened, so no official results will be available anymore!';
                    break;
                case 'ItsComplicated':
                    message = 'Something complicated happened, go ask someone for more information!';
                    break;
            }
            if (message != null) {
                $('#officialStatus').text(message).show();
            }
        }

        if (data.fastestTime != null) {
            $('#fastestTime').html(data.fastestTime);
        }
        if (data.fastestRunner != null) {
            $('#fastestRunner').html(data.fastestRunner);
        }
        $('#uniqueRunners').html(data.number.uniqueRunners);

        var officialData = officialResults ? officialResults.data : null;
        var nbLaps = data.number.own;
        $('#position .show-on-official-data').hide();

        if (officialData) {
            if (status == 'Ok' || status == 'FinalScore') {
                $('#position .show-on-official-data').show();
                nbLaps = officialData.nbLaps;
                if (officialData.place != 0) {
                    var text = null;
                    switch (officialData.place) {
                        case 1:
                            message = 'second';
                            break;
                        case 2:
                            message = 'third';
                            break;
                        case 20:
                            message = '21st';
                            break;
                        case 21:
                            message = '22nd';
                            break;
                        case 22:
                            message = '23rd';
                            break;
                        default:
                            message = (officialData.place + 1).valueOf() + 'th';
                    }
                    $('#placeText').html(message);
                    $('#nbLapsBehind').html(officialData.difference);
                    $('#notFirstOne').show();
                    $('#behindFirstOne').show();
                    $('#firstOne').hide();
                    $('#aheadSecondOne').hide();
                } else {
                    $('#nbLapsAhead').html(officialData.difference);
                    $('#notFirstOne').hide();
                    $('#behindFirstOne').hide();
                    $('#firstOne').show();
                    $('#aheadSecondOne').show();
                }
            }
        }

        $('#nbLaps').html(nbLaps);
        $('#nbLapsText').html((nbLaps == 1 ? 'lap' : 'laps'));
        $('#averageLapTime').html(data.averageLapTime);

        var foundCurrent = false;
        var foundNext = false;
        $('#currentRunnerLapInfo').hide();

        $(data.laps).each(function (num, lap) {
            if (undefined == lap)
                return true;

            if (lap.state == 'current') {
                var lapTime = parseInt(lap.lapTime.substring(0, lap.lapTime.indexOf(':')), 10) * 60 + parseInt(lap.lapTime.substring(lap.lapTime.indexOf(':') + 1), 10);

                $('#currentLapRunnerName').html(lap.fullName.toUpperCase());
                $('#currentLapInfo').show().data({
                    'officialDataAvailable': (officialData && (status == 'Ok' || status == 'FinalScore')) ? true : false,
                    'lapTime': lapTime,
                    'position': officialData ? officialData.position : 'N/A',
                    'lapsPerSecond': officialData ? officialData.lapsPerSecond : 'N/A',
                    'lapLength': officialData ? officialData.lapLength : 'N/A',
                });
                if (lap.runnerLapCount) {
                    $('#currentRunnerLapCount').html(lap.runnerLapCount);
                }

                if (officialData)
                    $('#currentLapInfo .progress-bar').css('width', (officialData.lapsPerSecond * lapTime * 100 * 3.6) + '%');

                foundCurrent = true;
            } else if (lap.state == 'next' && foundNext == false) {
                $('#nextLapRunnerName').html(lap.fullName.toUpperCase());

                foundNext = true;
            }
        });

        if (!foundCurrent) {
            $('#currentLapRunnerName').html('NOBODY');
            $('#currentLapInfo').hide();
        }
        if (!foundNext) {
            $('#nextLapRunnerName').html('NOBODY');
        }
    }

    function updateLapInfo() {
        var officialDataAvailable = $('#currentLapInfo').data('officialDataAvailable');
        if (officialDataAvailable) {
            $('#currentLapInfo .show-on-official-data').show();

        } else {
            $('#currentLapInfo .show-on-official-data').hide();
        }

        var lapTime = $('#currentLapInfo').data('lapTime');
        var position = $('#currentLapInfo').data('position');
        var lapLength = $('#currentLapInfo').data('lapLength');
        var lapsPerSecond = $('#currentLapInfo').data('lapsPerSecond');
        var currentPosition = lapTime * lapsPerSecond * 3.6;
        if (currentPosition > 1)
            currentPosition = 1;

        lapTime++;
        $('#currentLapInfo .progress-bar').css('width', (currentPosition * 100) + '%');
    }
</script>

</body>
</html>
