{% extends 'corporate/base.twig' %}

{% block content %}

        {# <h1>BR</h1>
        <div style="height: 30px"></div>
        {% for member in members %}
            {{ member.getFullName() }}<br>
        {% endfor %}
        <h2>{% autoescape false %}{{ translate('Welcome <i>%name%</i> of <i>%company%</i>')|replace({'%name%': authenticatedPerson.getFullName(), '%company%': authenticatedPerson.getCompany().getName()}) }}{% endautoescape %}</h2> #}

        {# TO DO favicon bedrijvenrelaties in orde brengen #}
        {# TO DO translations overal op deze pagina #}
        <div class="br-corporateLaunchBg">
            <div class="container">
                <h1 style="color:white; margin-bottom: 0px; font-size: 70px; font-weight: 800">VTK als partner voor jouw bedrijf</h1>
                <h3 style="color:white; font-weight: 500">Kom te weten wat wij voor jou kunnen betekenen</h3>
                <div style="height: 20px"></div>
                {# TO DO buttons invullen & doen werken #}
                <a class="button white unfilled">Meer weten</a>
                <a class="button white unfilled" href="{{ url("br_corporate_index", {"action": "login"}) }}">Inloggen</a>
            </div>
        </div>

        <div style="height: 100px"></div>

        <div class="container">

            {# Inleidend blok #}
            <div>
                <div style="position:relative">
                    <h3 style="position: relative; z-index: 1">VTK maakt voor jou het verschil</h3>
                    <div class="br-titledecoration"></div>
                </div>
                <div style="height: 30px"></div>
                <div class="br-infoHolder">
                    <div class="br-markdown" style="margin-right: 40px; text-align: justify; line-height: 25px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sem mauris, lacinia nec ipsum eget, egestas ornare sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur eget consectetur felis. In tempus, erat et aliquet bibendum, tortor dolor egestas est, vulputate egestas nisl elit sed diam. Nam tincidunt tristique neque tristique bibendum. Quisque ut nisl a ligula hendrerit lobortis. Nullam nec nulla gravida, euismod dui vitae, congue arcu.
                    </div>
                    <div style="min-width: 60%" class="temporaryImage">
                        <iframe width="680px" height="340px" src="https://www.youtube.com/embed/hS_J0xPVdec"></iframe>
                    </div>
                </div>
            </div>

            <div style="height: 50px"></div>

            {# Praesidium voorstelling #}
            <div>
                <div style="position:relative">
                    <h3 style="position: relative; z-index: 1">BR-praesidium</h3>
                    <div class="br-titledecoration"></div>
                </div>

                <div class="memberHolder">
                    {% for member in members %}
                        <div class="member">
                            {# TO DO profilePath werkt niet #}
                            {% if member.getPhotoPath() %}
                                <div class="memberPhoto" style="background-image: url({{ profilePath }}/{{ member.getPhotoPath() }})"></div>
                            {% else %}
                            {# TO DO fallback image werkt niet #}
                                <img data-src="holder.js/180x135/auto/text:Image" alt="">
                            {% endif %}
                            <h4 style="margin-bottom: 0px">{{ member.getFullName() }}</h4>
                            {% if member.isCoordinator() %}
                                <p style="text-align: center;">{{ translate('Groupcoordinator') }}</p>
                            {% endif %}
                            {% if not member.getDescription() == '' %}
                                <p style="text-align: center;">{{ member.getDescription() }}</p>
                            {% endif %}
                            {% for extraUnit in extraUnits[member.getId()] %}
                                <p style="text-align: center;">{{ hideEmail('<a href="mailto:' ~ extraUnit.getMail() ~ '">' ~ extraUnit.getName() ~ '</a>') }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div style="height: 50px"></div>

            {# Gallerij #}
            <div>
                <div style="position:relative">
                    <h3 style="position: relative; z-index: 1">BR impressie - VTKatjes</h3>
                    <div class="br-titledecoration"></div>
                </div>

                <div style="height: 30px"></div>

                <div class="lightboxParent">
                    <!-- Images used to open the lightbox -->
                    <div class="lightboxImage lightbox1" style="background-image: url('https://images.pexels.com/photos/8985189/pexels-photo-8985189.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')" onclick="openModal();currentSlide(1)" ></div>
                    <div class="lightboxImage" style="background-image: url('https://images.pexels.com/photos/2361952/pexels-photo-2361952.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" onclick="openModal();currentSlide(2)" ></div>
                    <div class="lightboxImage" style="background-image: url('https://images.pexels.com/photos/3257811/pexels-photo-3257811.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')" onclick="openModal();currentSlide(3)"></div>
                    <div class="lightboxImage" style="background-image: url('https://images.pexels.com/photos/6869635/pexels-photo-6869635.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')" onclick="openModal();currentSlide(4)"></div>
                    <div class="lightboxImage" style="background-image: url('https://images.pexels.com/photos/6853513/pexels-photo-6853513.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')" onclick="openModal();currentSlide(5)"></div>
                </div>

                <!-- The Modal/Lightbox -->
                <div id="myModal" class="modal">

                    <span class="closeModal cursor" onclick="closeModal()">&times;</span>

                    <div class="lightboxParentmodal-content">

                        <div class="br-lightboxContainer">

                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

                            <div style="height: 100%; flex-grow: 1">

                                <div class="mySlides">
                                    <img class="lightboxZoomedImage" src="https://images.pexels.com/photos/8985189/pexels-photo-8985189.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=920"></img>
                                </div>

                                <div class="mySlides">
                                    <img class="lightboxZoomedImage" src="https://images.pexels.com/photos/2361952/pexels-photo-2361952.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=940"></img>
                                </div>

                                <div class="mySlides">
                                    <img class="lightboxZoomedImage" src="https://images.pexels.com/photos/3257811/pexels-photo-3257811.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=940"></img>
                                </div>

                                <div class="mySlides">
                                    <img class="lightboxZoomedImage" src="https://images.pexels.com/photos/6869635/pexels-photo-6869635.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=940"></img>
                                </div>

                                <div class="mySlides">
                                    <img class="lightboxZoomedImage" src="https://images.pexels.com/photos/6853513/pexels-photo-6853513.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=940"></img>
                                </div>

                            </div>
                            <!-- Next/previous controls -->
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>

                            {# <!-- Caption text -->
                            <div class="caption-container">
                                <p id="caption"></p>
                            </div>

                            <!-- Thumbnail image controls -->
                            <div class="lightbox1">
                                <img class="demo" src="img1.jpg" onclick="currentSlide(1)" alt="Nature">
                            </div>

                            <div class="lightbox1">
                                <img class="demo" src="img2.jpg" onclick="currentSlide(2)" alt="Snow">
                            </div>

                            <div class="lightbox1">
                                <img class="demo" src="img3.jpg" onclick="currentSlide(3)" alt="Mountains">
                            </div>

                            <div class="lightbox1">
                                <img class="demo" src="img4.jpg" onclick="currentSlide(4)" alt="Lights">
                            </div> #}
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div style="height: 100px"></div>

        {# Doorklikknop vacatures/stages/studentenjobs #}
        <div class="br-blueBanner">
            <div class="container">
                <h2 style="color:white">Zien we jou op één van onze volgende evenementen?</h2>
                {# TO DO links toevoegen #}
                <a class="button yellow unfilled">Evenementen bekijken</a>
            </div>
        </div>

        <div style="height: 80px"></div>

        <div class="container">
            <div style="position:relative">
                <h3 style="position: relative; z-index: 1">Hoe wij jou bedrijf mee boosten</h3>
                <div class="br-titledecoration"></div>
            </div>
            <div style="height: 50px"></div>
            <div class="servicesGrid">
                <div class="servicesHolder">
                    <h4 class="servicesTitle">Service 1</h4>
                    <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="servicesHolder">
                    <h4 class="servicesTitle">Service 2</h4>
                    <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="servicesHolder">
                    <h4 class="servicesTitle">Service 3</h4>
                    <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>

        </div>

        <div style="height: 50px"></div>


    {{ inlineScript () }}

        <script>
        // Open the Modal
        function openModal() {
            console.log("JUUU"); 
        document.getElementById("myModal").style.display = "block";
        }

        // Close the Modal
        function closeModal() {
        document.getElementById("myModal").style.display = "none";
        }

        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
        showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
        showSlides(slideIndex = n);
        }

        function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "flex";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
        }
    </script>
{% endblock %}
