{% extends 'corporate/base.twig' %}

{% block content %}

        {# <h1>BR</h1>
        <div style="height: 30px"></div>
        {% for member in members %}
            {{ member.getFullName() }}<br>
        {% endfor %}
        <h2>{% autoescape false %}{{ translate('Welcome <i>%name%</i> of <i>%company%</i>')|replace({'%name%': authenticatedPerson.getFullName(), '%company%': authenticatedPerson.getCompany().getName()}) }}{% endautoescape %}</h2> #}

        {# TO DO favicon bedrijvenrelaties in orde brengen #}
        {# TO DO translations overal op deze pagina #}
        <div class="br-corporateLaunchBg" style="height: 400px">
            <div class="container" style="margin-top: 50px">
                <h1 class="br-corporate-heading">{{ texts['br_corporate_launch']['main'] }}</h1>
                <h3 style="color:white; font-weight: 500">{{ texts['br_corporate_launch']['sub'] }}</h3>
                <div style="height: 20px"></div>
                {# TO DO buttons invullen & doen werken #}
                <a class="button white unfilled" href="https://career.vtk.be">{{ translate('Homepage') }}</a>
                {% if authenticatedPerson is null %}
                    <a class="button white unfilled" href="{{ url("br_corporate_index", {"action": "login"}) }}">{{ translate('Log In') }}</a>
                {% endif %}
            </div>
        </div>


    {{ inlineScript () }}

        <script>
        // Open the Modal
        function openModal() {
            console.log("JUUU");
        document.getElementById("myModal").style.display = "block";
        }

        // Close the Modal
        function closeModal() {
        document.getElementById("myModal").style.display = "none";
        }

        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
        showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
        showSlides(slideIndex = n);
        }

        function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "flex";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
        }
    </script>
{% endblock %}
