{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_stock/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}
	
	{% include 'admin_retour/partials/suppliers.twig' %}

	<div id="controller_action">
		{% autoescape false %}
			{{ form }}
		{% endautoescape %}
		
		<br style="clear:both"/>
			
		<h1>Last retours</h1>
		<table>
	    
	        <tr>
    			<th width="110px">Date</th>
    			<th>Article</th>
    			<th width="60px">Number</th>
    			<th width="60px">Price</th>
    			<th width="120px">Person</th>
            </tr>
            
            {% for retour in retours %}
    
                <tr>
                    <td>{{ retour.getTimestamp().format('Y-m-d H:i') }}</td>
                    <td>{{ retour.getArticle().getMainArticle().getTitle() }}</td>
                    <td>{{ retour.getNumber() }}</td>
                    <td>&euro; {{ (retour.getPrice()/100)|number_format(2) }}</td>
                    <td>{{ retour.getPerson().getFullName() }}</td>
                </tr>
        
            {% endfor %}
	    </table>
	</div>
	
	<aside>
		{% if hasAccess('admin_retour', 'manage') %}
    		<div class="sidebox">
    	        <div class="title">Overview retours</div>
    	       	<div class="content">
    		    	<p>
    		        	<i>Please hit the link below to view all retours!</i>
    		        </p>
    		        <p>
    		           	<a href="{{ url("admin_retour", {"action": "manage"}) }}">&rarr; Overview Retours</a>
    		        </p>
    		    </div>
    		</div>
		{% endif %}
	</aside>
{% endblock %}
