{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        {% for rankingCriterium, volunteers in ranking %}
            <h1>{{ rankingCriterium|capitalize }}</h1>
            <table class="full_width">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th width="250px">E-mail</th>
                        <th>Rank Now</th>
                        <th>Rank, {{ weeklyChangeInterval }} ago</th>
                        {% if points_enabled %}
                            <th ># Points</th>
                        {% else %}
                            {% if hoursPerBlock > 0 %}
                                <th ># Shifts Now</th>
                                <th ># Shifts, {{ weeklyChangeInterval }} ago</th>
                                <th ># Shifts in the past {{ weeklyChangeInterval }}</th>
                            {% else %}
                                <th ># Shifts Now</th>
                                <th ># Shifts, {{ weeklyChangeInterval }} ago</th>
                                <th ># Shifts in the past {{ weeklyChangeInterval }}</th>
                            {% endif %}
                        {% endif %}
                    </tr>
                </thead>

                <tbody>
                    {% for volunteer in volunteers %}
                        <tr class="item">
                            <td>{{ volunteer['person'].getFullName() }}</td>
                            <td>{{ volunteer['person'].getEmail() }}</td>
                            <td>{{ volunteer['rank'] }}</td>
                            <td>{{ volunteer['rankThen'] }}</td>
                            <td>{{ volunteer['resultCount'] }}</td>
                            <td>{{ volunteer['resultCountThen'] }}</td>
                            <td>{{ volunteer['resultCount'] - volunteer['resultCountThen'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}
