{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'logistics/admin/article/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width article_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The article was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width article_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete an article. An article can't be deleted if it still has reservations assigned to it.</p>
        </div>
    </div>

    <div id="controller_action">

        <div id="normal_page">

            <table class="full_width manage">
                <tr>
                    <th>Name</th>
                    <th width="70px">Amount</th>
                    <th width="150px">Category</th>
                    <th width="200px">Location</th>
                    <th width="70px">Spot</th>
                    <th width="100px">Status</th>
                    <th width="100px">Visibility</th>
                </tr>

                {% for article in paginator %}

                    <tr class="item item-{{ article.getId() }}">
                        <td>{{ article.getName() }}</td>
                        <td>{{ article.getCategory() }}</td>
                        <td>{{ article.getLocation().getName() }}</td>
                        <td>{{ article.getSpot() }}</td>
                        <td>{{ article.getStatus() }}</td>
                        <td>{{ article.getVisibility() }}</td>
                        <td class="actions">
                            {% if hasAccess('logistics_admin_article', 'edit') %}
                                <a href="{{ url('logistics_admin_article', {"action": "edit", "id": article.getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('logistics_admin_article', 'delete') %}
                                <a href="#" class="delete" data-id="{{ article.getId() }}" data-name="{{ article.getName() }}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}

            </table>

        </div>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal fade" id="removeArticle" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Article
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following article: <b class="articleName"></b>!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeArticle = $('#removeArticle');
            removeArticle.find('.driverName').html($(this).data('name'));
            var id = $this.data('id');
            removeArticle.find('.delete').unbind('click').click(function () {
                $.post('{{ url('logistics_admin_article', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.article_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeArticle.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeArticle.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.article_removed_error').removeClass('hide');
            $('#removeArticle').modal('hide');
        }

    </script>
{% endblock %}
