{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'logistics/admin/article/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width article_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The article was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width article_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete an article. An article can't be deleted if it still has reservations assigned to it.</p>
        </div>
    </div>

    <div id="controller_action">

        <div id="article_search" style="display:none;">
            <div style="padding:4px;text-align:right">
                Search:
                <select id="searchField">
                    <option value="name">Name</option>
                    <option value="location">Location</option>
                    <option value="status">Status</option>
                    <option value="visibility">Visibility</option>
                    <option value="unitName">Unit</option>
                </select>
                is
                <input type="text" id="searchString" size="30" />
            </div>

            <table class="full_width manage">
                <tr>
                    <th style="width: 15%">Name</th>
                    <th style="width: 8%">Avail./Owned</th>
                    <th style="width: 8%">Unit</th>
                    <th style="width: 8%">Category</th>
                    <th style="width: 6%">Location</th>
                    <th style="width: 10%">Spot</th>
                    <th style="width: 17%">Description</th>  {# Additional info #}
                    <th style="width: 6%">Status</th>
                    <th style="width: 6%">Visibility</th>
                    <th style="width: 20px">Actions</th>
                </tr>
            </table>
        </div>

        <div id="normal_page">

            <table class="full_width manage">
                <tr>
                    <th style="width: 15%">Name</th>
                    <th style="width: 8%">Avail./Owned</th>
                    <th style="width: 8%">Unit</th>
                    <th style="width: 8%">Category</th>
                    <th style="width: 6%">Location</th>
                    <th style="width: 10%">Spot</th>
                    <th style="width: 17%">Description</th>  {# Additional info #}
                    <th style="width: 6%">Status</th>
                    <th style="width: 6%">Visibility</th>
                    <th style="width: 20px">Actions</th>
                </tr>

                {% for article in paginator %}

                    <tr class="item item-{{ article.getId() }}">
                        <td>{{ article.getName() }}</td>
                        <td>{{ article.getAmountAvailable() }}/{{ article.getAmountOwned() }}</td>
                        <td>{{ article.getUnit().getName() }}</td>
                        <td>{{ article.getCategory() }}</td>
                        <td>{{ article.getLocation() }}</td>
                        <td>{{ article.getSpot() }}</td>
                        <td>{{ article.getAdditionalInfo() }}</td>  {# Additional info #}
                        <td>{{ article.getStatus() }}</td>
                        <td>{{ article.getVisibility() }}</td>
                        <td class="actions">
                            {% if hasAccess('logistics_admin_article', 'edit') %}
                                <a href="{{ url('logistics_admin_article', {"action": "edit", "id": article.getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('logistics_admin_article', 'delete') %}
                                <a href="#" class="delete" data-id="{{ article.getId() }}" data-name="{{ article.getName() }}">Delete</a>
                            {% endif %}
                            {% if hasAccess('logistics_admin_article', 'orders') %}
                                <a href="{{ url('logistics_admin_article', {"action": "orders", "id": article.getId()}) }}" class="order">Orders</a>
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}

            </table>

        </div>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal fade" id="removeArticle" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Article
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following article: <b class="articleName"></b>!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if hasAccess('logistics_admin_article', 'search') %}
            $.searchDatabase({
                defaultPage: $('#normal_page'),
                searchDiv: $('#article_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                searchPage: '{{ url('logistics_admin_article', {'action': 'manage'}) }}manage/',
                url: '{{ url('logistics_admin_article', {'action': 'search'}) }}',
                display: function (data) {
                    $('#article_search table').find('tr.item').remove();
                    $(data).each(function () {
                        $('#article_search table').append(row = $('<tr>', {class: 'item item-' + this.id}));
                        row.append('<td>' + this.name + '</td>')
                            .append('<td>' + this.amountAvailable + "/" + this.amountOwned + '</td>')
                            .append('<td>' + this.unitName + '</td>')
                            .append('<td>' + this.category + '</td>')
                            .append('<td>' + this.location + '</td>')
                            .append('<td>' + this.spot + '</td>')
                            .append('<td>' + this.additionalInfo + '</td>')
                            .append('<td>' + this.status + '</td>')
                            .append('<td>' + this.visibility + '</td>')
                            .append(
                                actions = $('<td>', {'class': 'actions'})
                            );

                        {% if hasAccess('logistics_admin_article', 'edit') %}
                            actions.append('<a href="{{ url('logistics_admin_article', {"action": "edit"}) }}' + this.id + '" class="edit">Edit</a>')
                        {% endif %}

                        {% if hasAccess('logistics_admin_article', 'delete') %}
                            actions.append(deleteButton = $('<a href="#" class="delete">Delete</a>'))
                            deleteButton.data({
                                id: this.id,
                            });
                        {% endif %}
                        {% if hasAccess('logistics_admin_article', 'orders') %}
                            actions.append('<a href="{{ url('logistics_admin_article', {"action": "orders"}) }}' + this.id + '" class="order">Orders</a>')
                        {% endif %}
                    });
                    $('#article_search .delete').click(openModal);
                    $('#article_search table').change();
                },
                clear: function () {
                    $('#article_search table').find('tr.item').remove();
                }
            });
            {% endif %}
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeArticle = $('#removeArticle');
            removeArticle.find('.driverName').html($(this).data('name'));
            var id = $this.data('id');
            removeArticle.find('.delete').unbind('click').click(function () {
                $.post('{{ url('logistics_admin_article', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.article_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeArticle.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeArticle.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.article_removed_error').removeClass('hide');
            $('#removeArticle').modal('hide');
        }

    </script>
{% endblock %}