{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'ticket/admin/event/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width event_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The event was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width event_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the event.</p>
        </div>
    </div>

    <div id="controller_action">
        <table class="full_width manage">
            <thead>
                <tr>
                    <th>Activity</th>
                    <th width="200px">Close Date</th>
                    <th width="70px">Active</th>
                    <th width="200px">Number Sold</th>
                    <th width="70px">Action</th>
                </tr>
            </thead>

            <tbody>
                {% for event in paginator %}
                    <tr class="item item-{{ event.getId() }}">
                        <td>{{ event.getActivity().getTitle(language) }}</td>
                        <td>{{ event.getBookingsCloseDate().format('d/m/Y H:i') }}</td>
                        <td>{% if event.isActive() %}&times;{% endif %}</td>
                        <td>{{ event.getNumberSold() }}</td>
                        <td class="actions">
                            {% if hasAccess('ticket_admin_event', 'edit') %}
                                <a href="{{ url('ticket_admin_event', {"action": "edit", "id": event.getId()}) }}" class="edit">Edit</a></li>
                            {% endif %}
                            {% if hasAccess('ticket_admin_event', 'delete') %}
                                <a href="#" data-id="{{ event.getId() }}" data-name="{{ event.getActivity().getTitle(language) }}" class="delete">Delete</a></li>
                            {% endif %}
                            {% if hasAccess('ticket_admin_event', 'salesgraph') %}
                                <a href="{{ url('ticket_admin_event', {"action": "salesgraph", "id": event.getId()}) }}" class="view">Graph</a></li>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal fade" id="removeEvent" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Event
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following event: <b class="eventName"></b>!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeEvent = $('#removeEvent');
            removeEvent.find('.eventName').html($(this).data('name'));
            var id = $this.data('id');
            removeEvent.find('.delete').unbind('click').click(function () {
                $.post('{{ url('ticket_admin_event', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.event_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeEvent.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeEvent.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.event_removed_error').removeClass('hide');
            $('#removeEvent').modal('hide');
        }
    </script>
{% endblock %}
