{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'ticket/admin/event/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>Event</h1>
        <p>Activity: <b>{{ event.getActivity().getTitle(language) }}</b></p>
        <p>Date: <b>{{ event.getActivity().getStartDate().format('d/m/Y H:i') }} - {{ event.getActivity().getEndDate().format('d/m/Y H:i') }}</b></p>
        <p>Visitors: <b>{{ amountVisitors }} / {{ amountSold }}</b></p>

        <br />
        <table class="full_width manage">
            <thead>
            <tr>
                <th>Name</th>
                <th style="width: 200px">Entry Time</th>
                <th style="width: 150px">QR Code</th>
            </tr>
            </thead>

            <tbody>
            {% for visitor in paginator %}
                <tr class="item">
                    <td>{{ visitor[0] }}</td>
                    <td>{{ visitor[1].format('d/m/Y H:i') }}</td>
                    <td>{{ visitor[2] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

{% endblock %}

