{% extends 'logistics/base.twig' %}

{% block content %}
    <div class="flashmessage alert alert-error fade in load_error hide">
        <a class="close" data-dismiss="alert">&times;</a>
        <div class="content">
            {{ translate('There was an error while loading the reservations.') }}
        </div>
    </div>

    <div class="flashmessage alert alert-error fade in remove_error hide">
        <a class="close" data-dismiss="alert">&times;</a>
        <div class="content">
            {{ translate('There was an error while deleting the reservations.') }}
        </div>
    </div>

    <div class="flashmessage alert alert-error fade in add_error hide">
        <a class="close" data-dismiss="alert">&times;</a>
        <div class="content">
            {{ translate('There was an error while adding the reservation. Please refresh the page to verify.') }}
        </div>
    </div>

    <div id="calendar"></div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#calendar').logisticsCalendar({
                fetchUrl: '{{ url('logistics_reservation_fetch') }}',
                editable: {% if has_access('logistics_admin_van_reservation', 'add') %}true{% else %}false {% endif %},
                monthNames: [
                    '{{ translate('January') }}',
                    '{{ translate('February') }}',
                    '{{ translate('March') }}',
                    '{{ translate('April') }}',
                    '{{ translate('May') }}',
                    '{{ translate('June') }}',
                    '{{ translate('July') }}',
                    '{{ translate('August') }}',
                    '{{ translate('September') }}',
                    '{{ translate('October') }}',
                    '{{ translate('November') }}',
                    '{{ translate('December') }}'
                ],
                monthNamesShort: [
                    '{{ translate('Jan') }}',
                    '{{ translate('Feb') }}',
                    '{{ translate('Mar') }}',
                    '{{ translate('Apr') }}',
                    '{{ translate('May') }}',
                    '{{ translate('Jun') }}',
                    '{{ translate('Jul') }}',
                    '{{ translate('Aug') }}',
                    '{{ translate('Sep') }}',
                    '{{ translate('Oct') }}',
                    '{{ translate('Nov') }}',
                    '{{ translate('Dec') }}'
                ],
                dayNames: [
                    '{{ translate('Sunday') }}',
                    '{{ translate('Monday') }}',
                    '{{ translate('Tuesday') }}',
                    '{{ translate('Wednesday') }}',
                    '{{ translate('Thursday') }}',
                    '{{ translate('Friday') }}',
                    '{{ translate('Saturday') }}'
                ],
                dayNamesShort: [
                    '{{ translate('Sun') }}',
                    '{{ translate('Mon') }}',
                    '{{ translate('Tue') }}',
                    '{{ translate('Wed') }}',
                    '{{ translate('Thu') }}',
                    '{{ translate('Fri') }}',
                    '{{ translate('Sat') }}'
                ],
                buttonText: {
                    today:    '{{ translate('today') }}',
                    month:    '{{ translate('month') }}',
                    week:     '{{ translate('week') }}',
                    day:      '{{ translate('day') }}'
                },
                loadError: function () {
                    $('.flashmessage').addClass('hide');
                    $('.load_error').addClass('hide');
                },
                removeError: function () {
                    $('.flashmessage').addClass('hide');
                    $('.remove_error').addClass('hide');
                },
                addError: function () {
                    $('.flashmessage').addClass('hide');
                    $('.add_error').addClass('hide');
                },
                hideErrors: function () {
                    $('.flashmessage').addClass('hide');
                },
                
            });
        });
    </script>
{% endblock %}