{% extends 'prof/base.twig' %}

{% block content %}
    <div class="flashmessage alert alert-danger fade" id="comment_removed_error">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('An error occurred while removing the comment.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-success fade" id="comment_removed_success">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('The comment was succesfully removed.') }}
        </div>
    </div>

    <div class="page-header">
        <h2>{{ translate('Comments') }}</h2>
    </div>

    <h3>{{ translate('Article') }}</h3>
    <p>
        {{ translate('Title') }}: <b>{{ article.getTitle() }}</b><br />
        {{ translate('Authors') }}: <b>{{ article.getAuthors() }}</b><br />
        {{ translate('Publisher') }}: <b>{{ article.getPublishers() }}</b><br />
        {{ translate('Publish Year') }}: <b>{{ article.getYearPublished() }}</b><br />
        {% if article.getISBN() %} {{ translate('ISBN') }}: <b>{{ article.getISBN() }}</b>{% endif %}
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="140px">{{ translate('Date') }}</th>
                <th width="140px">{{ translate('Person') }}</th>
                <th>{{ translate('Summary') }}</th>
                <th width="170px">{{ translate('Actions') }}</th>
            </tr>
        </thead>

        <tbody>
            {% for mapping in mappings %}
                <tr class="item">
                    <td>{{ mapping.getComment().getDate().format('d/m/Y H:i') }}</td>
                    <td>{{ mapping.getComment().getPerson().getFullName() }}</td>
                    <td>{{ mapping.getComment().getSummary(70) }}</td>
                    <td class="actions">
                        <a href="#" class="btn btn-primary view" data-text="{{ mapping.getComment().getText() }}">{{ translate('View') }}</a>
                        {% if mapping.getComment().getPerson().getId() == authenticatedPerson.getId() %}
                            <a href="#" class="btn btn-danger delete" data-id="{{ mapping.getId() }}">{{ translate('Delete') }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pull-right">
        <a href="#addComment" class="btn btn-success" data-toggle="modal">{{ translate('Add Comment') }}</a>
    </div>
    <br class="clear" />

    <div id="viewComment" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4>{{ translate('Comment') }}</h4>
                </div>
                <div class="modal-body">
                    <pre class="text"></pre>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">{{ translate('Close') }}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="addComment" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4>{{ translate('Add Comment') }}</h4>
                </div>
                <div class="modal-body">
                    {% import 'site/partials/form.twig' as forms %}
                    {{ forms.renderForm(form) }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success save">{{ translate('Save') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ translate('Cancel') }}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="removeComment" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4>{{ translate('Remove Comment') }}</h4>
                </div>
                <div class="modal-body">
                    {{ translate('Are you sure you want to remove your comment?') }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger confirm">{{ translate('Yes') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ translate('No') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.flashmessage .close').click(function () {
                $(this).closest('.flashmessage').removeClass('in');
            });

            $('.item .view').click(openViewModal);
            $('.item .delete').click(openRemoveModal);
            $('#addComment .save').click(function () {
                $('#addComment form').submit();
            });
        });

        function openViewModal(e) {
            var $this = $(this);

            e.preventDefault();
            var viewComment = $('#viewComment');
            viewComment.find('.text').html($this.data('text'));
            viewComment.modal();
        }

        function openRemoveModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeComment = $('#removeComment');
            removeComment.find('.confirm').unbind('click').click(function () {
                $.post('{{ url('cudi_prof_article_comment', {"action": "delete", "language": language.getAbbrev()})}}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#comment_removed_success').addClass('in');
                        $this.parent().parent().remove();
                        removeComment.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeComment.modal();
        }

        function errorRemove() {
            $('.flashmessage').removeClass('in');
            $('#comment_removed_error').addClass('in');
            $('#removeComment').modal('hide');
        }
    </script>
{% endblock %}
