{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'logistics/admin/order/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width mapping_approved_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The request was successfully approved!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width mapping_approved_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to approve the request.</p>
        </div>
    </div>

    <div id="controller_action">
        <h1>Request</h1>
        <div class="col-md-6">
            Name: <b>{{ request.getRecentOrder().getName() }}</b><br>
            Creation Time: <b>{{ request.getCreationTime().format('d/m/Y H:i') }}</b><br>
            Request Type: <b>{{ request.getRequestType() }}</b>
        </div>
        <h1 style="padding-top: 30px">Details</h1>
        {% if diffs %}
        <div class="col-md-3">
            {% for item, value in diffs %}
                <p>New {{ item }}: <b>{{ value[1] }}</b></p>
                <p>Old {{ item }}: <b>{{ value[0] }}</b></p><br>
            {% endfor %}
        </div>
        {% else %}
            <p>{{ translate('No details were changed') }}</p>
        {% endif %}
        <h1 style="padding-top: 30px">Articles</h1>
        {% if mappings %}
            <div id="default_page">
            <table class="manage">
                <tr>
                    <th width="200px">Name</th>
                    <th width="70px">Old Amount</th>
                    <th width="70px">New Amount</th>
                </tr>

                {% for mapping in mappings %}
                    <tr>
                        <td>{{ mapping['name'] }}</td>
                        <td>{{ mapping['old'] }}</td>
                        <td>{{ mapping['new'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
            <p>{{ translate('No articles were changed') }}</p>
        {% endif %}
        <div class="row" style="padding-top: 20px">
            {% if hasAccess('logistics_admin_request', 'approve') %}
                <a class="accept_request" href="{{ url('logistics_admin_request', {"action": "approve", "id": request.getId()}) }}" style="padding-right: 15px; text-indent: 4px"><b>Approve</b></a>
            {% endif %}
            {% if hasAccess('logistics_admin_request', 'reject') %}
                <a href="{{ url('logistics_admin_request', {"action": "reject", "id": request.getId()}) }}" class="reject_request" style="padding-right: 15px; text-indent: 4px"><b>Reject</b></a>
            {% endif %}
        </div>
    </div>
    <aside>
        {% if hasAccess('logistics_admin_order', 'view') %}

            <div class="sidebox">
                <div class="title">View old order</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to view the old order!</i>
                    </p>
                    <p>
                        <a href="{{ url('logistics_admin_order', {'action': 'view', 'id': oldOrder.getId()}) }}">&rarr; View Old</a>
                    </p>
                </div>
            </div>

            <div class="sidebox">
                <div class="title">View new order</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to view the new order!</i>
                    </p>
                    <p>
                        <a href="{{ url('logistics_admin_order', {'action': 'view', 'id': newOrder.getId()}) }}">&rarr; View New</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>
{% endblock %}

{% block content_script %}

{% endblock %}