{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'quiz/admin/quiz/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage info_message full_width points_loading">
        <div class="title">Info</div>
        <div class="content">
            <p>The points are loading, please wait for a moment.</p>
        </div>
    </div>
    <div class="flashmessage success_message full_width points_update_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The points were successfully updated!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width points_update_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to save the points.</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width points_load_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to load the points.</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width points_generic_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to update the points.</p>
            <p class="err_msg"></p>
        </div>
    </div>
    <div id="controller_action">
        <table class="full_width manage">
            <thead>
                <tr>
                    <th>Team</th>
                    {% for round in rounds %}
                        <th data-round-id="{{ round.getId() }}" data-max-points="{{ round.getMaxPoints() }}" title="Maximum points: {{ round.getMaxPoints() }}">{{ round.getName() }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for team in teams %}
                    <tr class="item" data-team-id="{{ team.getId() }}">
                        <td>{{ team.getName() }}</td>
                        {# XXX: Probably needs some love #}
                        {% for round in rounds %}
                            <td data-round-id="{{ round.getId() }}" data-team-id="{{ team.getId() }}" data-max-points="{{ round.getMaxPoints() }}" contenteditable>...</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(getPoints());
        function getPoints() {
            $.getJSON('{{ url('quiz_admin_quiz', {'action': 'points', 'id': quiz.getId()}) }}', function(data) {
                $('#controller_action td[contenteditable]').text('0');
                for(var i in data) {
                    var point = data[i];
                    $('#controller_action td[data-team-id="'+point.team+'"][data-round-id="'+point.round+'"]').text(point.value);
                }
                $('.points_loading').addClass('hide');
            }).error(errorLoad);
        }
        $('#controller_action td[contenteditable]').on('blur', function() { updatePoint($(this)); });
        function updatePoint($elem) {
            $elem.addClass('quiz_saving');
            $elem.removeClass('quiz_save_error');
            var round_id = $elem.data('round-id');
            var team_id = $elem.data('team-id');
            var max_points = $elem.data('max-points');
            var points = $elem.text();

            if(!points.match(/^\d+$/))
                return errorText($elem, 'The points should be a positive integer!');
            if(points >= max_points)
                return errorText($elem, 'The points should not be greater than the maximum number of points possible for this round!');

            $.post(
                    '{{ url('quiz_admin_quiz', {'action': 'addPoint', 'id': quiz.getId() }) }}',
                    {
                        'round': round_id,
                        'team': team_id,
                        'points': points
                    },
                    function (data) {
                        if(data && data.status === "success") {
                            $('.flashmessage').addClass('hide');
                            $('.points_update_succcess').removeClass('hide');
                            $elem.removeClass('quiz_saving');
                            $elem.attr('title', '');
                        }
                        else {
                            errorUpdate($elem);
                        }
                    },
                    'json'
            ).error(function() { errorUpdate($elem); });
        }

        function errorText($elem, text) {
            $elem.removeClass('quiz_saving');
            $elem.addClass('quiz_save_error');
            $elem.attr('title', text);
            $('.flashmessage').addClass('hide');
            $('.points_generic_error').removeClass('hide');
            $('.points_generic_error .err_msg').text(text);
        }

        function errorUpdate($elem) {
            errorText($elem, 'Error saving points!');
            $('.flashmessage').addClass('hide');
            $('.points_update_error').removeClass('hide');
        }

        function errorLoad() {
            $('.flashmessage').addClass('hide');
            $('.points_load_error').removeClass('hide');
        }
    </script>
    <style type="text/css">
            .quiz_saving {
                background-color: orange !important;
                cursor: progress;
            }
            .quiz_save_error {
                background-color: red !important;
            }
    </style>
{% endblock %}
