{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'quiz/admin/quiz/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage info_message full_width points_loading">
        <div class="title">Info</div>
        <div class="content">
            <p>The points are loading, please wait for a moment.</p>
        </div>
    </div>
    <div class="flashmessage success_message full_width points_update_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The points were successfully updated!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width points_update_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to save the points.</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width points_load_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to load the points.</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width points_generic_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to update the points.</p>
            <p class="err_msg"></p>
        </div>
    </div>
    <div id="controller_action">
        <table class="full_width manage">
            <thead>
                <tr>
                    <th>Team</th>
                    {% for round in rounds %}
                        <th data-round-id="{{ round.getId() }}" data-max-points="{{ round.getMaxPoints() }}" title="Maximum points: {{ round.getMaxPoints() }}">{{ round.getName() }}</th>
                    {% endfor %}
                    <th width="40px">
                        Sum
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for team in teams %}
                    <tr class="item" data-team-id="{{ team.getId() }}">
                        <td>{{ team.getName() }}</td>
                        {# XXX: Probably needs some love #}
                        {% for round in rounds %}
                            <td data-round-id="{{ round.getId() }}" data-team-id="{{ team.getId() }}" data-max-points="{{ round.getMaxPoints() }}" contenteditable>...</td>
                        {% endfor %}
                        <td data-team-id="{{ team.getId() }}" class="total">...</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(getPoints);
        $('#controller_action td[contenteditable]').on('blur', function() { updatePoint($(this)); });
        $(document).on('keydown', function(e) {
           var key = e.keyCode;
           var $cell = $(e.srcElement);
           var $tbody = $('#controller_action tbody')
           if(!$tbody.find($cell)) // Cell not in our table
               return;

           var position_x = $cell.prevAll().length;
           var position_y = $cell.parent().prevAll().length +1 ; // Note: top row is not counted

            if(key == 9) { // Tab key
                e.preventDefault();
                if(e.shiftKey)
                    key = 38; // Arrow up
                else
                    key = 40; // Arrow down
            }

           switch(key) {
                case 40: // Arrow down
                    position_y++;
                    break;
                case 38: // Arrow up
                    position_y--;
                    break;
                case 37: // Arrow left
                    position_x--;
                    break;
                case 39: // Arrow right
                    position_x++;
                    break;
           }

           if(position_x < 0 || position_y < 0) // We don't want to move off the grid
               return;



           if(position_y > $tbody.children().length) { // Going too far down, wrap to next column
               position_y = 1;
               position_x++;
           }
           $tbody.find('tr:nth-child('+(position_y)+') td[contenteditable]:nth-child('+(position_x+1)+')').focus();

        });
        function getPoints() {
            $.getJSON('{{ url('quiz_admin_quiz', {'action': 'points', 'id': quiz.getId()}) }}', function(data) {
                $('#controller_action td[contenteditable]').text('0').data('saved-points', 0);
                for(var i in data) {
                    var point = data[i];
                    $('#controller_action td[data-team-id="'+point.team+'"][data-round-id="'+point.round+'"]')
                            .text(point.value)
                            .data('saved-points', point.value);
                    calculateTotal();
                }
                $('.points_loading').addClass('hide');
            }).error(errorLoad);
        }
        function updatePoint($elem) {
            $elem.attr('contenteditable', false);
            $elem.addClass('quiz_saving');
            $elem.removeClass('quiz_save_error');
            $elem.parent().find('.total').addClass('quiz_saving');
            var round_id = $elem.data('round-id');
            var team_id = $elem.data('team-id');
            var max_points = $elem.data('max-points');
            var saved_points = $elem.data('saved-points');
            var points = $elem.text();

            if(!points.match(/^\d+$/))
                return errorText($elem, 'The points should be a positive integer!');
            if(points > max_points)
                return errorText($elem, 'The points should not be greater than the maximum number of points possible for this round!');
            if(points == saved_points)
                return successUpdate($elem, points);
            $.post(
                    '{{ url('quiz_admin_quiz', {'action': 'addPoint', 'id': quiz.getId() }) }}',
                    {
                        'round': round_id,
                        'team': team_id,
                        'points': points
                    },
                    function (data) {
                        if(data && data.status === "success") {
                            successUpdate($elem, points);
                        }
                        else {
                            errorUpdate($elem);
                        }
                    },
                    'json'
            ).error(function() { errorUpdate($elem); });
        }

        function calculateTotal() {
            var $tr = $('#controller_action tbody tr');
            $tr.each(function() {
                $this = $(this);
                var sum = 0;
                $this.find('td[data-round-id]').each(function() {
                    sum += parseInt($(this).data('saved-points'), 10);
                });
                $this.find('.total').text(sum);
            });
        }

        function errorText($elem, text) {
            $elem.attr('contenteditable', true);
            $elem.removeClass('quiz_saving');
            $elem.addClass('quiz_save_error');
            $elem.attr('title', text);
            $elem.parent().find('.total').removeClass('quiz_saving');
            $('.flashmessage').addClass('hide');
            $('.points_generic_error').removeClass('hide');
            $('.points_generic_error .err_msg').text(text);
        }

        function errorUpdate($elem) {
            errorText($elem, 'Error saving points!');
            $('.flashmessage').addClass('hide');
            $('.points_update_error').removeClass('hide');
        }

        function successUpdate($elem, points) {
            $('.flashmessage').addClass('hide');
            $('.points_update_succcess').removeClass('hide');
            $elem.removeClass('quiz_saving');
            $elem.attr('title', '');
            $elem.attr('contenteditable', true);
            $elem.data('saved-points', points);
            calculateTotal();
            $elem.parent().find('.total').removeClass('quiz_saving');
        }

        function errorLoad() {
            $('.flashmessage').addClass('hide');
            $('.points_load_error').removeClass('hide');
        }
    </script>
    <style type="text/css">
            #controller_action .quiz_saving {
                background-color: orange !important;
                cursor: progress;
            }
            #controller_action .quiz_save_error {
                background-color: red !important;
            }
    </style>
{% endblock %}
