{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'notification/admin/notification/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width notification_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The notification was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width notification_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the notification.</p>
        </div>
    </div>

    <div id="controller_action">
        <table class="full_width manage">
            <thead>
                <tr>
                    <th>Content</th>
                    <th width="150px">Start Date</th>
                    <th width="150px">End Date</th>
                    <th width="160px">Author</th>
                    <th width="100px">Active</th>
                    <th width="70px">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for notification in paginator %}
                    <tr class="item item-{{ notification.getId() }}">
                        <td>{{ notification.getContent() }}</td>
                        <td>{{ dateLocalized(notification.getStartDate(), 'dd/MM/y HH:mm') }}</td>
                        <td>{{ dateLocalized(notification.getEndDate(), 'dd/MM/y HH:mm') }}</td>
                        <td>{{ notification.getCreationPerson().getFullName() }}</td>
                        <td>{% if notification.isActive() %}&times;{% endif %}</td>
                        <td class="actions">
                            {% if hasAccess('notification_admin_notification', 'edit') %}
                                <a href="{{ url('notification_admin_notification', {"action": "edit", "id": notification.getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('notification_admin_notification', 'delete') %}
                                <a href="#" data-id="{{ notification.getId() }}" data-content="{{ notification.getContent() }}" class="delete">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal fade" id="removeNotification" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Notification
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following notification: <b class="content"></b>?
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);
            e.preventDefault();
            var removeNotification = $('#removeNotification');
            removeNotification.find('.content').html($(this).data('content'));
            removeNotification.find('.cancel').one('click', function () {
                removeNotification.modal('hide');
            });
            var id = $this.data('id');
            removeNotification.find('.delete').unbind('click').click(function () {
                $.post('{{ url('notification_admin_notification', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.notification_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeNotification.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeNotification.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.notification_removed_error').removeClass('hide');
            $('#removeNotification').modal('hide');
        }
    </script>
{% endblock %}
