{% macro renderForm(form) %}
    {% do form.prepare() %}
    {% autoescape false %}
        {% set buttons = [] %}
        {{ form().openTag(form) }}
            {{ _self.renderFieldset(form) }}
        {{ form().closeTag() }}
    {% endautoescape %}
{% endmacro %}

{% macro renderFieldset(fieldset) %}
    {% autoescape false %}
        {% set buttons = [] %}
        {% for element in fieldset %}
            {% if element.add is defined %}
                {% if element.showAs() == 'fieldset' and element.getLabel() %}
                    <fieldset class="{{ element.getAttribute('class') }}" id="{{ element.getAttribute('id') }}">
                        <legend>{{ translate(element.getLabel()) }}</legend>
                        {{ _self.renderFieldset(element) }}
                    </fieldset>
                {% else %}
                    <div class="{{ element.getAttribute('class') }}" id="{{ element.getAttribute('id') }}">
                        {{ _self.renderFieldset(element) }}
                    </div>
                {% endif %}
            {% elseif element.getAttribute('type') == 'submit' or element.getAttribute('type') == 'reset' or element.getAttribute('type') == 'button' %}
                {% set buttons = buttons|merge([element]) %}
            {% elseif element.getAttribute('type') == 'tabs' %}
                <ul class="nav nav-tabs {{ element.getAttribute('class') }}" id="{{ element.getAttribute('id') }}">
                    {% for language,tab in element.getTabs() %}
                        <li><a href="{{ tab }}" data-toggle="tab">{{ translate(language) }}</a></li>
                    {% endfor %}
                </ul>
            {% elseif element.getAttribute('type') == 'file' %}
                {% if element.getAttribute('data-type') == 'image' %}
                    <div class="form-group {% if element.getMessages()|length > 0 %}has-error{% endif %} {% if element.isRequired() %}required{% endif %}">
                        {{ formLabel().openTag(element) }}
                            {% if element.getLabel() != '' %}{{ translate(element.getLabel()) }}{% endif %}
                        {{ formLabel().closeTag() }}
                        <div class="fileinput fileinput-new col-sm-10" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: {{ element.getAttribute('data-width') }}px; height: {{ element.getAttribute('data-height') }}px;">
                                <img data-src="holder.js/{{ element.getAttribute('data-width') ~ 'x' ~ element.getAttribute('data-height') }}" alt="">
                            </div>
                            <div>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">{{ translate('Select Image') }}</span>
                                    <span class="fileinput-exists">{{ translate('Change Image') }}</span>
                                    {{ formElement(element) }}
                                </span>
                                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">{{ translate('Remove') }}</a>
                            </div>
                            {% if element.getMessages()|length > 0 %}
                                <div class="help-block">
                                    {{ formElementErrors(element) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% elseif element.getAttribute('data-type') == 'small' %}
                    <div class="form-group {% if element.getMessages()|length > 0 %}has-error{% endif %} {% if element.isRequired() %}required{% endif %}" style="width: 100%">
                        {{ formLabel().openTag(element) }}
                            {% if element.getLabel() != '' %}{{ translate(element.getLabel()) }}{% endif %}
                        {{ formLabel().closeTag() }}
                        <div class="fileinput fileinput-new col-sm-10" data-provides="fileinput">
                            <div>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">{{ translate('Select File') }}</span>
                                    <span class="fileinput-exists">{{ translate('Change File') }}</span>
                                    {{ formElement(element) }}
                                </span>
                            </div>
                            {% if element.getMessages()|length > 0 %}
                                <div class="help-block">
                                    {{ formElementErrors(element) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="form-group {% if element.getMessages()|length > 0 %}has-error{% endif %} {% if element.isRequired() %}required{% endif %}">
                        {{ formLabel().openTag(element) }}
                            {% if element.getLabel() != '' %}{{ translate(element.getLabel()) }}{% endif %}
                        {{ formLabel().closeTag() }}
                        <div class="fileinput fileinput-new col-sm-10" data-provides="fileinput">
                            <div class="input-group">
                                <div class="form-control uneditable-input" data-trigger="fileinput">
                                    <span class="glyphicon glyphicon-file fileinput-exists"></span> <span class="fileinput-filename"></span>
                                </div>
                                <span class="input-group-addon btn btn-default btn-file">
                                    <span class="fileinput-new">{{ translate('Select File') }}</span>
                                    <span class="fileinput-exists">{{ translate('Change File') }}</span>
                                    {{ formElement(element) }}
                                </span>
                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">{{ translate('Remove') }}</a>
                            </div>
                            {% if element.getMessages()|length > 0 %}
                                <div class="help-block">
                                    {{ formElementErrors(element) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% elseif element.getAttribute('type') == 'checkbox' %}
                {{ _self.renderCheckbox(element) }}
            {% elseif element.getAttribute('type') == 'hidden' %}
                {{ formElement(element) }}
            {% else %}
                {{ _self.renderOther(element) }}
            {% endif %}
        {% endfor %}
        {% if buttons|length > 0 %}
            {% if fieldset.getDisplayFormActions() %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
            {% endif %}
                {% for button in buttons %}
                    {{ formElement(button) }}
                {% endfor %}
            {% if fieldset.getDisplayFormActions() %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endautoescape %}
{% endmacro %}

{% macro renderCheckbox(element) %}
    {% autoescape false %}
        <div class="form-group {% if element.getMessages()|length > 0 %}has-error{% endif %} {% if element.isRequired() %}required{% endif %}">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    {{ formLabel().openTag(element) }}
                        {{ formElement(element) }}
                        {% if element.getLabel() != '' %}{{ translate(element.getLabel()) }}{% endif %}
                    {{ formLabel().closeTag() }}
                </div>
                {% if element.getMessages()|length > 0 %}
                    <div class="help-block">
                        {{ formElementErrors(element) }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endautoescape %}
{% endmacro%}

{% macro renderOther(element) %}
    {% autoescape false %}
        <div class="form-group {% if element.getMessages()|length > 0 %}has-error{% endif %} {% if element.isRequired() %}required{% endif %}">
            {{ formLabel().openTag(element) }}
                {% if element.getLabel != '' %}{{ translate(element.getLabel()) }}{% endif %}
            {{ formLabel().closeTag() }}
            <div class="col-sm-10">
                {{ formElement(element) }}
                {% if element.getMessages()|length > 0 %}
                    <div class="help-block">
                        {{ formElementErrors(element) }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endautoescape %}
{% endmacro %}
