<ul class="nav nav-tabs hidden-xs">
    {% if hasAccess('shop', 'index') %}
        <li {% if getParam('action') == 'index' %}class="active"{% endif %}>
            <a href="{{ url('shop', {'action': 'index'}) }}">
                {{ translate('Shop') }}
            </a>
        </li>
    {% endif %}

    {% if hasAccess('shop', 'reserve') %}
        <li {% if getParam('action') == 'reserve' %}class="active"{% endif %}>
            <a href="{{ url('shop', {'action': 'reserve'}) }}">
                {{ translate('Reserve') }}
            </a>
        </li>
    {% endif %}

    {% if hasAccess('shop', 'reservations') %}
        <li {% if getParam('action') == 'reservations' %}class="active"{% endif %}>
            <a href="{{ url('shop', {'action': 'reservations'}) }}">
                {{ translate('Reservations') }}
            </a>
        </li>
    {% endif %}
</ul>
