{{ doctype() }}

<html lang="en">
<head>

    {{ headMeta() }}
    {{ headTitle('Ticket Sale', 'PREPEND') }}

    {{ headLink() }}
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="{{ unionUrl }}" class="brand"><img src="/_ticket/img/logo.png" /></a>
            <ul class="nav">
                {% if hasAccess('ticket_sale_index', 'sale') %}
                    <li {% if 'sale' == getParam('action') and 'ticket_sale_index' == getParam('controller') %} class="active" {% endif %}>
                        <a href="{{ url("ticket_sale_index", {"action": "sale", "id": event.getId()}) }}">Event</a>
                    </li>
                {% endif %}
                {% if hasAccess('ticket_sale_ticket', 'overview') %}
                    <li {% if 'overview' == getParam('action') and 'ticket_sale_ticket' == getParam('controller') %} class="active" {% endif %}>
                        <a href="{{ url("ticket_sale_ticket", {"action": "overview", "id": event.getId()}) }}">Tickets</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="inner">
        <div class="container">
            <h1>{{ translate('Ticket Sale') }}</h1>
        </div>
    </div>
</header>

<div class="container">
    {% include 'run/partials/flashMessenger.twig' %}

    <div id="content_controller">
        <div class="page-header">
            <h1>{{ event.getActivity().getTitle(language) }}</h1>
        </div>

        <dl class="dl-horizontal">
            <dt>Bookable</dt>
            <dd>{% if event.isBookable() %}yes{% else %}no{% endif %}</dd>
            <dt>Bookings Close Date</dt>
            <dd>{{ event.getBookingsCloseDate().format('d/m/Y H:i') }}</dd>
            <dt>Number Sold</dt>
            <dd>{{ event.getNumberSold() }}</dd>
            {% if event.getNumberOfTickets() > 0 %}
                <dt>Number Free</dt>
                <dd>{{ event.getNumberOfTickets() - event.getNumberSold() }}</dd>
            {% endif %}
        </dl>

        {% block content %} {% endblock %}
    </div>

    <footer>
        Litus Ticket | Code by <a href="http://litus.cc">Litus</a>
    </footer>
</div>

{{ inlineScript() }}

{% block content_script %}{% endblock %}

</body>
</html>
