{% extends 'ticket/base.twig' %}

{% block content %}
    <div class="flashmessage alert alert-success fade" id="ticket_unassign_success">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('The ticket was succesfully unassigned.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-error fade" id="ticket_unassign_error">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('An error occurred while unassigning the ticket.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-success fade" id="ticket_delete_success">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('The ticket was succesfully deleted.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-error fade" id="ticket_delete_error">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('An error occurred while deleting the ticket.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-success fade" id="ticket_sale_success">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('The ticket was succesfully sold.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-error fade" id="ticket_sale_error">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('An error occurred while selling the ticket.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-success fade" id="ticket_undo_sale_success">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('The ticket was succesfully undid the sale.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-error fade" id="ticket_undo_sale_error">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('An error occurred while undoing the sale the ticket.') }}
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <tr>
            <th>{{ translate('Person') }}</th>
            <th width="60px">{{ translate('Status') }}</th>
            <th width="140px">{{ translate('Option') }}</th>
            <th width="90px">{{ translate('Number') }}</th>
            <th width="120px">{{ translate('Book Date') }}</th>
            <th width="120px">{{ translate('Sold Date') }}</th>
            <th width="190px">{{ translate('Action') }}</th>
        </tr>

        {% for ticket in paginator %}
            <tr class="item item-{{ ticket.getId() }}">
                <td class="person">{% if ticket.getPerson() %}{{ ticket.getPerson().getFullName() }}{% else %}(none){% endif %}</td>
                <td class="status">{{ ticket.getStatus() }}</td>
                <td class="status">{{ ticket.getOption().getName() }} ({% if ticket.isMember() %}Member{% else %}Non Member{% endif %})</td>
                <td>{{ "%010d"|format(ticket.getNumber()) }}</td>
                <td class="bookDate">{{ dateLocalized(ticket.getBookDate(), 'd/MM/YYYY HH:mm') }}</td>
                <td class="soldDate">{{ dateLocalized(ticket.getSoldDate(), 'd/MM/YYYY HH:mm') }}</td>
                <td class="actions">
                    {% if hasAccess('ticket_sale_ticket', 'unassign') and event.areTicketsGenerated() and ticket.getPerson() %}
                        <a href="#" data-id="{{ ticket.getId() }}" data-person="{{ ticket.getPerson().getFullName() }}" class="btn btn-danger unassignTicket">{{ translate('Unassign') }}</a>
                    {% endif %}
                    {% if hasAccess('ticket_sale_ticket', 'delete') and not event.areTicketsGenerated() %}
                        <a href="#" data-id="{{ ticket.getId() }}" data-person="{{ ticket.getPerson().getFullName() }}" class="btn btn-danger deleteTicket">{{ translate('Delete') }}</a>
                    {% endif %}
                    {% if hasAccess('ticket_sale_ticket', 'sale') %}
                        <a href="#" data-id="{{ ticket.getId() }}" data-person="{{ ticket.getPerson().getFullName() }}" class="btn btn-success saleTicket" {% if ticket.getStatusCode() != 'booked' %}style="display: none"{% endif %}>{{ translate('Sale') }}</a>
                    {% endif %}
                    {% if hasAccess('ticket_sale_ticket', 'unsale') %}
                        <a href="#" data-id="{{ ticket.getId() }}" data-person="{{ ticket.getPerson().getFullName() }}" class="btn btn-info undoSaleTicket" {% if ticket.getStatusCode() != 'sold' %}style="display: none"{% endif %}>{{ translate('Undo Sale') }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% include 'site/partials/paginationControl.twig' %}

    <div id="modalUnassign" class="modal fade hide">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{{ translate('Unassign Ticket') }}</h3>
        </div>
        <div class="modal-body">
            <p>{{ translate('Are you sure you want to unassign the ticket of') }}: <b><span class="person"></span></b>?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success confirm">{{ translate('Yes') }}</button>
            <button class="btn" data-dismiss="modal">{{ translate('No') }}</button>
        </div>
    </div>

    <div id="modalDelete" class="modal fade hide">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{{ translate('Delete Ticket') }}</h3>
        </div>
        <div class="modal-body">
            <p>{{ translate('Are you sure you want to delete the ticket of') }}: <b><span class="person"></span></b>?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success confirm">{{ translate('Yes') }}</button>
            <button class="btn" data-dismiss="modal">{{ translate('No') }}</button>
        </div>
    </div>

    <div id="modalSale" class="modal fade hide">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{{ translate('Sale Ticket') }}</h3>
        </div>
        <div class="modal-body">
            <p>{{ translate('Are you sure you want to sale the ticket of') }}: <b><span class="person"></span></b>?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success confirm">{{ translate('Yes') }}</button>
            <button class="btn" data-dismiss="modal">{{ translate('No') }}</button>
        </div>
    </div>

    <div id="modalUndoSale" class="modal fade hide">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{{ translate('Undo Sale Ticket') }}</h3>
        </div>
        <div class="modal-body">
            <p>{{ translate('Are you sure you want to undo the sale the ticket of') }}: <b><span class="person"></span></b>?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success confirm">{{ translate('Yes') }}</button>
            <button class="btn" data-dismiss="modal">{{ translate('No') }}</button>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.flashmessage .close').click(function () {
                $(this).closest('.flashmessage').removeClass('in');
            });

            $('.unassignTicket').click(openUnassignModal);
            $('.deleteTicket').click(openDeleteModal);
            $('.saleTicket').click(openSaleModal);
            $('.undoSaleTicket').click(openUndoSaleModal);
        });

        function openUnassignModal(e) {
            var $this = $(this);

            e.preventDefault();
            var modalUnassign = $('#modalUnassign');
            modalUnassign.find('.person').html($(this).data('person'));
            modalUnassign.find('.confirm').unbind('click').click(function () {
                $.post('{{ url('ticket_sale_ticket', {"action": "unassign", "id": event.getId()})}}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#ticket_unassign_success').addClass('in');
                        $this.parent().parent().find('.person').html('(none)');
                        $this.parent().parent().find('.status').html('empty');
                        $this.parent().parent().find('.bookDate').html('');
                        $this.parent().parent().find('.soldDate').html('');
                        $this.parent().parent().find('.actions').html('');
                        modalUnassign.modal('hide');
                    } else {
                        errorUnassignTicket();
                    }
                }, 'json').error(errorUnassignTicket);
            });
            modalUnassign.modal();
        }

        function errorUnassignTicket() {
            $('.flashmessage').removeClass('in');
            $('#ticket_unassign_error').addClass('in');
            $('#modalUnassign').modal('hide');
        }

        function openDeleteModal(e) {
            var $this = $(this);

            e.preventDefault();
            var modalDelete = $('#modalDelete');
            modalDelete.find('.person').html($(this).data('person'));
            modalDelete.find('.confirm').unbind('click').click(function () {
                $.post('{{ url('ticket_sale_ticket', {"action": "delete", "id": event.getId()})}}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#ticket_delete_success').addClass('in');
                        $this.parent().parent().remove();
                        modalDelete.modal('hide');
                    } else {
                        errorDeleteTicket();
                    }
                }, 'json').error(errorDeleteTicket);
            });
            modalDelete.modal();
        }

        function errorDeleteTicket() {
            $('.flashmessage').removeClass('in');
            $('#ticket_delete_error').addClass('in');
            $('#modalDelete').modal('hide');
        }

        function openSaleModal(e) {
            var $this = $(this);

            e.preventDefault();
            var modalSale = $('#modalSale');
            modalSale.find('.person').html($(this).data('person'));
            modalSale.find('.confirm').unbind('click').click(function () {
                $.post('{{ url('ticket_sale_ticket', {"action": "sale", "id": event.getId()})}}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#ticket_sale_success').addClass('in');
                        $this.parent().parent().find('.status').html('Sold');
                        var currentTime = new Date();
                        $this.parent().parent().find('.soldDate').html(
                            (currentTime.getDate() < 10 ? '0' + currentTime.getDate() : currentTime.getDate()) + '/' + (currentTime.getMonth() + 1 < 10 ? '0' + (currentTime.getMonth() + 1) : (currentTime.getMonth() + 1)) + '/' + currentTime.getFullYear() + ' ' + (currentTime.getHours() < 10 ? '0' + currentTime.getHours() : currentTime.getHours()) + ':' + (currentTime.getMinutes() < 10 ? '0' + currentTime.getMinutes() : currentTime.getMinutes())
                        );
                        $this.parent().parent().find('.undoSaleTicket').show();
                        $this.hide();
                        modalSale.modal('hide');
                    } else {
                        errorSaleTicket();
                    }
                }, 'json').error(errorSaleTicket);
            });
            modalSale.modal();
        }

        function errorSaleTicket() {
            $('.flashmessage').removeClass('in');
            $('#ticket_sale_error').addClass('in');
            $('#modalSale').modal('hide');
        }

        function openUndoSaleModal(e) {
            var $this = $(this);

            e.preventDefault();
            var modalUndoSale = $('#modalUndoSale');
            modalUndoSale.find('.person').html($(this).data('person'));
            modalUndoSale.find('.confirm').unbind('click').click(function () {
                $.post('{{ url('ticket_sale_ticket', {"action": "undoSale", "id": event.getId()})}}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#ticket_undo_sale_success').addClass('in');
                        $this.parent().parent().find('.status').html('Booked');
                        var currentTime = new Date();
                        $this.parent().parent().find('.bookDate').html(
                            (currentTime.getDate() < 10 ? '0' + currentTime.getDate() : currentTime.getDate()) + '/' + (currentTime.getMonth() + 1 < 10 ? '0' + (currentTime.getMonth() + 1) : (currentTime.getMonth() + 1)) + '/' + currentTime.getFullYear() + ' ' + (currentTime.getHours() < 10 ? '0' + currentTime.getHours() : currentTime.getHours()) + ':' + (currentTime.getMinutes() < 10 ? '0' + currentTime.getMinutes() : currentTime.getMinutes())
                        );
                        $this.parent().parent().find('.soldDate').html('');
                        $this.parent().parent().find('.saleTicket').show();
                        $this.hide();
                        modalUndoSale.modal('hide');
                    } else {
                        errorUndoSaleTicket();
                    }
                }, 'json').error(errorUndoSaleTicket);
            });
            modalUndoSale.modal();
        }

        function errorUndoSaleTicket() {
            $('.flashmessage').removeClass('in');
            $('#ticket_undo_sale_error').addClass('in');
            $('#modalUndoSale').modal('hide');
        }
    </script>
{% endblock %}
