{% extends 'ticket/base.twig' %}

{% block content %}
    <div class="flashmessage alert alert-success fade" id="ticket_unassign_success">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('The ticket was succesfully unassigned.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-danger fade" id="ticket_unassign_error">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('An error occurred while unassigning the ticket.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-success fade" id="ticket_delete_success">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('The ticket was succesfully deleted.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-danger fade" id="ticket_delete_error">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('An error occurred while deleting the ticket.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-success fade" id="ticket_sale_success">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('The ticket was succesfully sold.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-danger fade" id="ticket_sale_error">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('An error occurred while selling the ticket.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-success fade" id="ticket_undo_sale_success">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('The ticket was succesfully undid the sale.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-danger fade" id="ticket_undo_sale_error">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('An error occurred while undoing the sale the ticket.') }}
        </div>
    </div>

    <div id="controller_action">
        <div id="ticket_search">
            <div style="padding:4px;text-align:right">
                Search:
                <select id="searchField">
                    <option value="person">Person</option>
                    <option value="option">Option</option>
                    <option value="orderid">Order Id</option>
                    <option value="payid">Pay Id</option>
                </select>
                is
                <input type="text" id="searchString" size="30" />
            </div>

            <table class="table table-striped tickets">
                <thead>
                <tr>
                    <th>Person</th>
                    <th style="width:60px">Org.</th>
                    <th style="width:100px">R-Number</th>
                    <th style="width:180px">Email</th>
                    <th style="width:60px">Status</th>
                    <th style="width:140px">Option</th>
                    <th style="width:90px">Pay ID</th>
                    <th style="width:90px">Order ID</th>
                    <th style="width:40px">Price</th>
                    <th style="width:110px">Book Date</th>
                    <th style="width:110px">Sold Date</th>
                    <th style="width:60px;">QR Code</th>
                    <th style="width:190px">Action</th>
                </tr>
                </thead>
            </table>

            <tbody>

            </tbody>
        </div>

        <div id="default_page">
            <table class="table table-striped tickets">
                <thead>
                <tr>
                    <th>Person</th>
                    <th style="width:60px">Org.</th>
                    <th style="width:100px">R-Number</th>
                    <th style="width:180px">Email</th>
                    <th style="width:60px">Status</th>
                    <th style="width:140px">Option</th>
                    <th style="width:90px">Pay ID</th>
                    <th style="width:90px">Order ID</th>
                    <th style="width:40px">Price</th>
                    <th style="width:110px">Book Date</th>
                    <th style="width:110px">Sold Date</th>
                    <th style="width:60px;">QR Code</th>
                    <th style="width:190px">Action</th>
                </tr>
                </thead>

                <tbody>
                {% for ticket in paginator %}
                    <tr class="item" id="item-{{ ticket.getId() }}">
                        <td class="person">{% if ticket.getFullName() %}{{ ticket.getFullName() }}{% else %}(none){% endif %}</td>
                        <td class="organization">{% if ticket.getGuestInfo() %}
                                {{ ticket.getGuestInfo().getOrganization() }}
                            {% else %}
                                {{ ticket.getPerson().getOrganization(academicYear).getName() }}
                            {% endif %}</td>
                        <td class="universityIdentification">{% if ticket.getGuestInfo() %}
                                {{ ticket.getGuestInfo().getUniversityIdentification() }}
                            {% else %}
                                {{ ticket.getPerson().getUniversityIdentification() }}
                            {% endif %}</td>
                        <td>{% if ticket.getGuestInfo() %}
                                {{ ticket.getGuestInfo().getEmail() }}
                            {% else %}
                                {{ ticket.getPerson().getEmail() }}
                            {% endif %}</td>
                        <td class="status">{{ ticket.getStatus() }}</td>
                        {% if ticket.getOption() != null %}
                            <td class="status">{{ ticket.getOption().getName() }}</td>
                        {% else %}
                            <td class="status">{{ ticket.isMember()==true?"member":"non-mmber"  }}</td>
                        {% endif %}
                        <td>{{ ticket.getPayId() }}</td>
                        <td>{{ ticket.getOrderId() }}</td>
                        <td>{{ ticket.getPrice() }}</td>
                        <td class="bookDate">{{ dateLocalized(ticket.getBookDate(), 'd/MM/YYYY HH:mm') }}</td>
                        <td class="soldDate">{{ dateLocalized(ticket.getSoldDate(), 'd/MM/YYYY HH:mm') }}</td>
                        <td class="qrCode">{% if ticket.getQrCode() %}&times;{% endif %}</td>
                        <td class="actions">
                            {% if hasAccess('ticket_sale_ticket', 'unassign') and event.areTicketsGenerated() and ticket.getFullName() %}
                                <a href="#" data-id="{{ ticket.getId() }}" data-person="{{ ticket.getFullName() }}" class="btn btn-danger btn-sm unassignTicket">{{ translate('Unassign') }}</a>
                            {% endif %}
                            {% if hasAccess('ticket_sale_ticket', 'delete') and not event.areTicketsGenerated() %}
                                <a href="#" data-id="{{ ticket.getId() }}" data-person="{{ ticket.getFullName() }}" class="btn btn-danger btn-sm deleteTicket">{{ translate('Delete') }}</a>
                            {% endif %}
                            {% if hasAccess('ticket_sale_ticket', 'sale') %}
                                <a href="#" data-id="{{ ticket.getId() }}" data-person="{{ ticket.getFullName() }}" class="btn btn-success btn-sm saleTicket" {% if ticket.getStatusCode() != 'booked' %}style="display: none"{% endif %}>{{ translate('Sale') }}</a>
                            {% endif %}
                            {% if hasAccess('ticket_sale_ticket', 'unsale') %}
                                <a href="#" data-id="{{ ticket.getId() }}" data-person="{{ ticket.getFullName() }}" class="btn btn-info btn-sm undoSaleTicket" {% if ticket.getStatusCode() != 'sold' %}style="display: none"{% endif %}>{{ translate('Undo Sale') }}</a>
                            {% endif %}
{#                            <a href="{{ url('form_view', {'action': 'view', 'id': 43124}) }}">View Results</a>#}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% include 'site/partials/paginationControl.twig' %}
        </div>
    </div>


    <div id="modalUnassign" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4>{{ translate('Unassign Ticket') }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ translate('Are you sure you want to unassign the ticket of') }}: <b><span class="person"></span></b>?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger confirm">{{ translate('Yes') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ translate('No') }}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalDelete" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4>{{ translate('Delete Ticket') }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ translate('Are you sure you want to delete the ticket of') }}: <b><span class="person"></span></b>?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger confirm">{{ translate('Yes') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ translate('No') }}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalSale" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4>{{ translate('Sale Ticket') }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ translate('Are you sure you want to sale the ticket of') }}: <b><span class="person"></span></b>?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success confirm">{{ translate('Yes') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ translate('No') }}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalUndoSale" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4>{{ translate('Undo Sale Ticket') }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ translate('Are you sure you want to undo the sale the ticket of') }}: <b><span class="person"></span></b>?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger confirm">{{ translate('Yes') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ translate('No') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.flashmessage .close').click(function () {
                $(this).closest('.flashmessage').removeClass('in');
            });

            $.searchDatabase({
                defaultPage: $('#default_page'),
                searchDiv: $('#ticket_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                searchPage: '{{ url('ticket_sale_ticket', {'action': 'overview', 'id': event.getId()}) }}',
                url: '{{ url('ticket_sale_ticket', {'action': 'search', 'id': event.getId()}) }}',
                display: function (data) {
                    $('#ticket_search table').find('tr.item').remove();
                    $(data).each(function () {
                        $('#ticket_search table').append(row = $('<tr>', {class: 'item item-' + this.id}));
                        row.append('<td>' + this.person + '</td>')
                            .append('<td>' + this.organization + '</td>')
                            .append('<td>' + this.rNumber + '</td>')
                            .append('<td>' + this.email + '</td>')
                            .append('<td>' + this.status + '</td>')
                            .append('<td>' + this.option + '</td>')
                            .append('<td>' + this.orderId + '</td>')
                            .append('<td>' + '€' + this.price + '</td>')
                            .append('<td>' + this.bookDate + '</td>')
                            .append('<td>' + this.soldDate + '</td>')
                            .append('<td>' + this.qrCode + '</td>')
                            .append('<td>' +
                                        '<a href="#" data-id=' + this.id + ' data-person=' + this.person + ' class="btn btn-danger btn-sm deleteTicket">Delete</a>' +
                                        '<a href="#" data-id=' + this.id + ' data-person=' + this.person + ' class="btn btn-success btn-sm saleTicket"' + (this.status != 'Booked' ? 'style="display: none"' : '') + '>Sale</a>' +
                                        '<a href="#" data-id=' + this.id + ' data-person=' + this.person + ' class="btn btn-info btn-sm undoSaleTicket"' + (this.status != 'Sold' ? 'style="display:none"' : '') + '>Undo Sale</a>' +
                                    '</td>');
                    });
                    $('#ticket_search table').change();
                    $('.unassignTicket').click(openUnassignModal);
                    $('.deleteTicket').click(openDeleteModal);
                    $('.saleTicket').click(openSaleModal);
                    $('.undoSaleTicket').click(openUndoSaleModal);

                    $('#default_page').remove();
                },
                clear: function () {
                    $('#ticket_search table').find('tr.item').remove();
                }
            });

            $('.unassignTicket').click(openUnassignModal);
            $('.deleteTicket').click(openDeleteModal);
            $('.saleTicket').click(openSaleModal);
            $('.undoSaleTicket').click(openUndoSaleModal);
        });

        function openUnassignModal(e) {
            var $this = $(this);

            e.preventDefault();
            var modalUnassign = $('#modalUnassign');
            modalUnassign.find('.person').html($(this).data('person'));
            modalUnassign.find('.confirm').unbind('click').click(function () {
                $.post('{{ url('ticket_sale_ticket', {"action": "unassign", "id": event.getId()})}}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#ticket_unassign_success').addClass('in');
                        $('#item-' + $this.data('id')).remove();
                        modalUnassign.modal('hide');
                    } else {
                        errorUnassignTicket();
                    }
                }, 'json').error(errorUnassignTicket);
            });
            modalUnassign.modal();
        }

        function errorUnassignTicket() {
            $('.flashmessage').removeClass('in');
            $('#ticket_unassign_error').addClass('in');
            $('#modalUnassign').modal('hide');
        }

        function openDeleteModal(e) {
            var $this = $(this);

            e.preventDefault();
            var modalDelete = $('#modalDelete');
            modalDelete.find('.person').html($(this).data('person'));
            modalDelete.find('.confirm').unbind('click').click(function () {
                $.post('{{ url('ticket_sale_ticket', {"action": "delete", "id": event.getId()})}}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#ticket_delete_success').addClass('in');
                        $this.parent().parent().remove();
                        modalDelete.modal('hide');
                    } else {
                        errorDeleteTicket();
                    }
                }, 'json').error(errorDeleteTicket);
            });
            modalDelete.modal();
        }

        function errorDeleteTicket() {
            $('.flashmessage').removeClass('in');
            $('#ticket_delete_error').addClass('in');
            $('#modalDelete').modal('hide');
        }

        function openSaleModal(e) {
            var $this = $(this);

            e.preventDefault();
            var modalSale = $('#modalSale');
            modalSale.find('.person').html($(this).data('person'));
            modalSale.find('.confirm').unbind('click').click(function () {
                $.post('{{ url('ticket_sale_ticket', {"action": "sale", "id": event.getId()})}}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#ticket_sale_success').addClass('in');
                        $this.parent().parent().find('.status').html('Sold');
                        var currentTime = new Date();
                        $this.parent().parent().find('.soldDate').html(
                            (currentTime.getDate() < 10 ? '0' + currentTime.getDate() : currentTime.getDate()) + '/' + (currentTime.getMonth() + 1 < 10 ? '0' + (currentTime.getMonth() + 1) : (currentTime.getMonth() + 1)) + '/' + currentTime.getFullYear() + ' ' + (currentTime.getHours() < 10 ? '0' + currentTime.getHours() : currentTime.getHours()) + ':' + (currentTime.getMinutes() < 10 ? '0' + currentTime.getMinutes() : currentTime.getMinutes())
                        );
                        $this.parent().parent().find('.undoSaleTicket').show();
                        $this.hide();
                        modalSale.modal('hide');
                    } else {
                        errorSaleTicket();
                    }
                }, 'json').error(errorSaleTicket);
            });
            modalSale.modal();
        }

        function errorSaleTicket() {
            $('.flashmessage').removeClass('in');
            $('#ticket_sale_error').addClass('in');
            $('#modalSale').modal('hide');
        }

        function openUndoSaleModal(e) {
            var $this = $(this);

            e.preventDefault();
            var modalUndoSale = $('#modalUndoSale');
            modalUndoSale.find('.person').html($(this).data('person'));
            modalUndoSale.find('.confirm').unbind('click').click(function () {
                $.post('{{ url('ticket_sale_ticket', {"action": "undoSale", "id": event.getId()})}}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#ticket_undo_sale_success').addClass('in');
                        $this.parent().parent().find('.status').html('Booked');
                        var currentTime = new Date();
                        $this.parent().parent().find('.bookDate').html(
                            (currentTime.getDate() < 10 ? '0' + currentTime.getDate() : currentTime.getDate()) + '/' + (currentTime.getMonth() + 1 < 10 ? '0' + (currentTime.getMonth() + 1) : (currentTime.getMonth() + 1)) + '/' + currentTime.getFullYear() + ' ' + (currentTime.getHours() < 10 ? '0' + currentTime.getHours() : currentTime.getHours()) + ':' + (currentTime.getMinutes() < 10 ? '0' + currentTime.getMinutes() : currentTime.getMinutes())
                        );
                        $this.parent().parent().find('.soldDate').html('');
                        $this.parent().parent().find('.saleTicket').show();
                        $this.hide();
                        modalUndoSale.modal('hide');
                    } else {
                        errorUndoSaleTicket();
                    }
                }, 'json').error(errorUndoSaleTicket);
            });
            modalUndoSale.modal();
        }

        function errorUndoSaleTicket() {
            $('.flashmessage').removeClass('in');
            $('#ticket_undo_sale_error').addClass('in');
            $('#modalUndoSale').modal('hide');
        }
    </script>
{% endblock %}
