{% extends 'corporate/partials/cv.twig' %}

{% block cv_content %}
    <div class="panel-group" id="accordion">
        {% for entry in entries %}
            <div class="panel panel-default panel-group-entry" id="accordion-group-{{ entry.getId() }}">
                <div class="panel-heading">
                    <a class="pannel-title entry-toggle" data-toggle="collapse" href="#body-entry-{{ entry.getId() }}">
                        {{ entry.getFirstName() }} {{ entry.getLastName() }}
                    </a>
                </div>
                <div id="body-entry-{{ entry.id }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel-group">
                            {% import 'corporate/partials/showcv.twig' as cv %}
                            {{ cv.displayEntry(entry, profilePath) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}