{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/request/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1><b>Vacancies</b></h1>
        <table class="full_width manage">
            <tr>
                <th>Company</th>
                <th width="150px">Creation Time</th>
                <th width="70px">Type</th>
                <th width="70px">Action</th>
            </tr>

            {% for request in vacancyRequests %}
                <tr class="item item-{{ request.getId() }}">
                    <td>{{ request.getEditJob().getCompany().getName() }}</td>
                    <td>{{ request.getCreationTime().format('d/m/Y H:i') }}</td>
                    <td>{{ request.getRequestType()|upper }}</td>
                    <td class="actions">
                        {% if hasAccess('br_career_vacancy', 'view') %}
                            <a href="{{ url('br_career_vacancy', {"action": "view", "id": request.getEditJob().getId()}) }}" class="view">View</a>
                        {% endif %}
                        {% if hasAccess('br_admin_request', 'approve') %}
                            <a href="{{ url('br_admin_request', {"action": "approve", "id": request.getId()}) }}" class="accept_request">Approve</a>
                        {% endif %}
                        {% if hasAccess('br_admin_request', 'reject') %}
                            <a href="{{ url('br_admin_request', {"action": "reject", "id": request.getId()}) }}" class="reject_request">Reject</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <h1><b>Internships</b></h1>
        <table class="full_width manage">
            <tr>
                <th>Company</th>
                <th width="150px">Creation Time</th>
                <th width="70px">Type</th>
                <th width="70px">Action</th>
            </tr>

            {% for request in internshipRequests %}
                <tr class="item item-{{ request.getId() }}">
                    <td>{{ request.getEditJob().getCompany().getName() }}</td>
                    <td>{{ request.getCreationTime().format('d/m/Y H:i') }}</td>
                    <td>{{ request.getRequestType()|upper }}</td>
                    <td class="actions">
                        {% if hasAccess('br_career_vacancy', 'view') %}
                            <a href="{{ url('br_career_vacancy', {"action": "view", "id": request.getEditJob().getId()}) }}" class="view">View</a>
                        {% endif %}
                        {% if hasAccess('br_admin_request', 'approve') %}
                            <a href="{{ url('br_admin_request', {"action": "approve", "id": request.getId()}) }}" class="accept_request">Approve</a>
                        {% endif %}
                        {% if hasAccess('br_admin_request', 'reject') %}
                            <a href="{{ url('br_admin_request', {"action": "reject", "id": request.getId()}) }}" class="reject_request">Reject</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <h1><b>Student Jobs</b></h1>
        <table class="full_width manage">
            <tr>
                <th>Company</th>
                <th width="150px">Creation Time</th>
                <th width="70px">Type</th>
                <th width="70px">Action</th>
            </tr>

            {% for request in studentJobRequests %}
                <tr class="item item-{{ request.getId() }}">
                    <td>{{ request.getEditJob().getCompany().getName() }}</td>
                    <td>{{ request.getCreationTime().format('d/m/Y H:i') }}</td>
                    <td>{{ request.getRequestType()|upper }}</td>
                    <td class="actions">
                        {% if hasAccess('br_career_vacancy', 'view') %}
                            <a href="{{ url('br_career_vacancy', {"action": "view", "id": request.getEditJob().getId()}) }}" class="view">View</a>
                        {% endif %}
                        {% if hasAccess('br_admin_request', 'approve') %}
                            <a href="{{ url('br_admin_request', {"action": "approve", "id": request.getId()}) }}" class="accept_request">Approve</a>
                        {% endif %}
                        {% if hasAccess('br_admin_request', 'reject') %}
                            <a href="{{ url('br_admin_request', {"action": "reject", "id": request.getId()}) }}" class="reject_request">Reject</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

{% endblock %}
