{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/event/partials/navigation.twig' %}
    {% include 'br/admin/event/partials/eventNavigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width company_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The event was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width company_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete an event.</p>
        </div>
    </div>
    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
        <table class="manage full_width">
            <tr>
                <th>Company</th>
                <th width="140px"># representatives</th>
                <th width="100px">Location</th>
                <th width="100px">CV-book</th>
                <th width="140px">Logistics checked</th>
                <th width="70px">Action</th>
            </tr>
            {% for companyMap in paginator %}
                {% if '' != companyMap.getCompany().getName() %}
                    <tr class="item item-{{ companyMap.getId() }}">
                        <td>{{ companyMap.getCompany().getName() }}</td>
                        <td>{{ companyMap.getMetadata().getNumberRepresentatives() }}</td>
                        <td>{{ companyMap.getMetadata().getLocation() }}</td>
                        <td>{% if companyMap.getMetadata().isLogisticsChecked() %}X{% endif %}</td>
                        <td>{% if companyMap.getMetadata().isCvBookRequested() %}X{% endif %}</td>
                        <td class="actions">
                            {% if hasAccess('br_admin_event_company', 'edit') %}
                                <a href="{{  url('br_admin_event_company', {"action": "edit", "event": event.getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('br_admin_event_company', 'delete') %}
                                <a href="#" class="delete" data-id="{{  companyMap.getId() }}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        {% include 'admin/partials/paginationControl.twig' %}

    </div>

    <div class="modal fade" id="removeCompany" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Event
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following company: <b class="companyTitle"></b>!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">

        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeCompany = $('#removeCompany');
            removeCompany.find('.eventTitle').html($(this).data('title'));
            var id = $this.data('id');
            removeCompany.find('.delete').unbind('click').click(function () {
                $.post('{{ url('br_admin_event_company', {"action": "delete", "event": event.getId()})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.company_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeCompany.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeCompany.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.company_removed_error').removeClass('hide');
            $('#removeCompany').modal('hide');
        }

    </script>
{% endblock %}
