{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'page/admin/link/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message page_link_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The link was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message page_link_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the link.</p>
        </div>
    </div>

    <div id="controller_action">
        <table class="manage">
            <thead>
                <tr>
                    <th>Name</th>
                    <th width="250px">URL</th>
                    <th width="150px">Category</th>
                    <th width="150px">Parent</th>
                    <th width="70px">Action</th>
                </tr>
            </thead>

            <tbody>
                {% for page_link in paginator %}
                    <tr class="item item-{{ page_link.getId() }}">
                        <td>{{ page_link.getName(language) }}</td>
                        <td>{{ page_link.getUrl() }}</td>
                        <td>{{ page_link.getCategory().getName(language) }}</td>
                        <td>{{ page_link.getParent().getTitle(language) }}</td>
                        <td class="actions">
                            {% if hasAccess('page_admin_link', 'edit') %}
                                <a href="{{ url('page_admin_link', {"action": "edit", "id": page_link.getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('page_admin_link', 'delete') %}
                                <a href="#" data-id="{{ page_link.getId() }}" data-name="{{ page_link.getName(language) }}" class="delete">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <aside>
        {% if hasAccess('page_admin_page', 'manage') %}
            <div class="sidebox">
                <div class="title">Pages</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to manage and create pages!</i>
                    </p>
                    <p>
                        <a href="{{ url('page_admin_page', {"action": "manage"}) }}">&rarr; Pages</a>
                    </p>
                </div>
            </div>
        {% endif %}

        {% if hasAccess('page_admin_category', 'manage') %}
            <div class="sidebox">
                <div class="title">Categories</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to manage and create categories!</i>
                    </p>
                    <p>
                        <a href="{{ url('page_admin_category', {"action": "manage"}) }}">&rarr; Categories</a>
                    </p>
                </div>
            </div>
        {% endif %}

        {% if hasAccess('page_admin_categorypage', 'manage') %}
            <div class="sidebox">
                <div class="title">Categorie Pages</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to manage and create Categorie Pages!</i>
                    </p>
                    <p>
                        <a href="{{ url('page_admin_categorypage', {"action": "manage"}) }}">&rarr; Categorie Pages</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>

    <div class="modal fade" id="removePageLink" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete page_link
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following link: <b class="name"></b>?
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);
            e.preventDefault();
            var removePageLink = $('#removePageLink');
            removePageLink.find('.name').html($(this).data('name'));
            removePageLink.find('.cancel').one('click', function () {
                removePageLink.modal('hide');
            });
            var id = $this.data('id');
            removePageLink.find('.delete').unbind('click').click(function () {
                $.post('{{ url('page_admin_link', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.page_link_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removePageLink.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removePageLink.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.page_link_removed_error').removeClass('hide');
            $('#removePageLink').modal('hide');
        }
    </script>
{% endblock %}
