{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_article/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
		<h1>Article</h1>
		
		<p>Title: <b>{{ article.getTitle() }}</b></p>
		<p>Author: <b>{{ article.getAuthors() }}</b></p>
		<p>Publisher: <b>{{ article.getPublishers() }}</b></p>
		<br />
		
		{% autoescape false %}
			{{ form }}
		{% endautoescape %}
	</div>
	
	<aside>
	    {% if saleArticle is not null and hasAccess('admin_sales_article', 'edit') %}
	        <div class="sidebox">
	            <div class="title">Edit Sale Article</div>
	           	<div class="content">
	            	<p>
	                	<i>Please hit the link below to edit the sale article for this!</i>
	                </p>
	                <p>
	                   	<a href="{{ url('admin_sales_article', {"action": "edit", "id": saleArticle.getId()}) }}">&rarr; Edit Sale Article</a>
	                </p>
	            </div>
	        </div>
	    {% elseif saleArticle is null and hasAccess('admin_sales_article', 'add') %}
	        <div class="sidebox">
	            <div class="title">Create Sale Article</div>
	           	<div class="content">
	            	<p>
	                	<i>Please hit the link below to create a sale article for this!</i>
	                </p>
	                <p>
	                   	<a href="{{ url('admin_sales_article', {"action": "add", "id": article.getId()}) }}">&rarr; Create Sale Article</a>
	                </p>
	            </div>
	        </div>
	    {% endif %}
	    {% if hasAccess('admin_article_subject', 'manage') %}
	    	<div class="sidebox">
	    	    <div class="title">Manage Subject Mapping</div>
	    	   	<div class="content">
	    	    	<p>
	    	        	<i>Please hit the link below to manage the mapping of this article to subjects!</i>
	    	        </p>
	    	        <p>
	    	           	<a href="{{ url('admin_article_subject', {"action": "manage", "id": article.getId()}) }}">&rarr; Manage Mapping</a>
	    	        </p>
	    	    </div>
	    	</div>
	    {% endif %}
		{% if article.isInternal() and hasAccess('admin_file', 'manage') %}
			<div class="sidebox">
		        <div class="title">Manage Files</div>
		       	<div class="content">
			    	<p>
			        	<i>Please hit the link below to manage the files of this article!</i>
			        </p>
			        <p>
			           	<a href="{{ url('admin_file', {"action": "manage", "id": article.getId()}) }}">&rarr; Manage Files</a>
			        </p>
			    </div>
			</div>
		{% endif %}
		{% if hasAccess('admin_comment', 'manage') %}
			<div class="sidebox">
			    <div class="title">Manage Comments</div>
			   	<div class="content">
			    	<p>
			        	<i>Please hit the link below to manage the comments of this article!</i>
			        </p>
			        <p>
			           	<a href="{{ url('admin_comment', {"action": "manage", "id": article.getId()}) }}">&rarr; Manage Comments</a>
			        </p>
			    </div>
			</div>
		{% endif %}
	</aside>
{% endblock %}

{% block controller_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('#internal').click(toggleInternal)
				.parent().parent().hide();
			toggleInternal();
		});
		
		function toggleInternal() {
			if ($('#internal').is(':checked'))
				$('#internal_form').show();
			else
				$('#internal_form').hide();
		}
	</script>
{% endblock %}