{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_article/partials/navigation.twig' %}
	
	<div id="flashmessenger">
		{% include 'admin/partials/flashMessenger.twig' %}
	</div>
	
	<div id="controller_action">
		<h1>Article</h1>
		
		<p>Title: <b>{{ article.getTitle() }} {% if article.getVersionNumber() != 1 %} (v{{ article.getVersionNumber() }}) {% endif %}</b></p>
		<p>Author: <b>{{ article.getMetaInfo().getAuthors() }}</b></p>
		<p>Publisher: <b>{{ article.getMetaInfo().getPublishers() }}</b></p>
		<br />
		
		{% autoescape false %}
			{{ form }}
		{% endautoescape %}
	</div>
	
	<aside>
		{% if article.isInternal() %}
			<div class="sidebox">
		        <div class="title">Manage Files</div>
		       	<div class="content">
			    	<p>
			        	<i>Please hit the link below to manage the files of this article!</i>
			        </p>
			        <p>
			           	<a href="{{ url('admin_article', {"action": "managefiles", "id": article.getId()}) }}">&rarr; Manage files</a>
			        </p>
			    </div>
			</div>
		{% endif %}
		<div class="sidebox">
		    <div class="title">New Version</div>
		   	<div class="content">
		    	<p>
		        	<i>Please hit the link below to create a new version of this article!</i>
		        </p>
		        <p>
		           	<a href="{{ url('admin_article', {"action": "newversion", "id": article.getId()}) }}">&rarr; New version</a>
		        </p>
		    </div>
		</div>
	</aside>
{% endblock %}

{% block controller_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('#internal').click(toggleInternal)
				.parent().parent().hide();
			$('#stock').click(toggleStock)
				.parent().parent().hide();
			toggleInternal();
			toggleStock();
		});
		
		function toggleInternal() {
			if ($('#internal').is(':checked'))
				$('#internal_form').show();
			else
				$('#internal_form').hide();
		}
		
		function toggleStock() {
			if ($('#stock').is(':checked')) {
				$('#stock_form').show();
				toggleInternal();
			} else {
				$('#stock_form, #internal_form').hide();
				$('#internal').removeAttr("checked");
			}
		}
	</script>
{% endblock %}