{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_article/partials/navigation.twig' %}
	
	<div id="controller_action">
		{% include 'admin/partials/flashMessenger.twig' %}
		
		<div id="stock_search" style="display:none;">
			<div style="padding:4px;text-align:right">
				Search: 
				<select id="searchField">
					<option value="title">Title</option>
					<option value="author">Author</option>
					<option value="publisher">Publisher</option>
				</select>
				is
				<input type="text" id="searchString" size="30" />
			</div>
			
			<table class="full_width">
	    
	        	<tr>
	            	<th>Title</th>
	            	<th>Author</th>
	            	<th>Publisher</th>
	            	<th>Year</th>
					<th>Type</th>
	            	<th>Actions</th>
				</tr>
				
			</table>
		</div>
		
		<div id="default_page">
			<table class="full_width">
	
		        <tr>
		            <th>Title</th>
		            <th>Author</th>
		            <th>Publisher</th>
		            <th>Year</th>
					<th>Type</th>
		            <th width="130px">Action</th>
		        </tr>
		        {% for article in paginator %}
		            <tr>
		                <td>{{ article.getTitle() }} {% if article.getVersionNumber() != 1 %} (v{{ article.getVersionNumber() }}) {% endif %}</td>
		                <td>{{ article.getMetaInfo().getAuthors() }}</td>
		                <td>{{ article.getMetaInfo().getPublishers() }}</td>
		                <td>{{ article.getMetaInfo().getYearPublished() }}</td>
		                <td>{% if article.isStock() %} Stock {% else %} Stub {% endif %}</td>
						<td>
		                    <a href="{{ url('admin_article', {"action": "edit", "id": article.getId()}) }}" class="edit">Edit</a>
		                    <a href="{{ url('admin_article', {"action": "delete", "id": article.getId()}) }}" class="delete">Delete</a>
		                </td>
		            </tr>
		        {% endfor %}
		    </table>
	
			{% include 'admin/partials/paginationControl.twig' %}
		</div>
	</div>
{% endblock %}

{% block controller_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$.searchDatabase({
				defaultPage: $('#default_page'),
				searchDiv: $('#stock_search'),
				searchString: $('#searchString'),
				searchField: $('#searchField'),
				url: '{{ url('admin_article_search') }}',
				display: function (data) {
					$('#stock_search table').find('tr.item').remove();
					$(data).each(function () {
						$('#stock_search table').append(row = $('<tr>', {class: 'item'}));
						row.append('<td>' + this.title + (this.versionNumber != 1 ? ' (v' + this.versionNumber + ')' : '') + '</td>')
							.append('<td>' + this.author + '</td>')
							.append('<td>' + this.publisher + '</td>')
							.append('<td>' + this.yearPublished + '</td>')
							.append('<td>' + (this.isStock ? 'Stock' : 'Stub') + '</td>')
							.append('<td>'
								+ '<a href="{{ url('admin_article', {"action": "edit"}) }}/' + this.id + '" class="edit">Edit</a>'
								+ '<a href="{{ url('admin_article', {"action": "delete"}) }}/' + this.id + '" class="delete">Delete</a>'
								+ '</td>');
					});
				},
				clear: function () {
					$('#stock_search table').find('tr.item').remove();
				}
			});
		});
	</script>
{% endblock %}