{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_article/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}
	<div class="flashmessage success_message full_width article_removed_success hide">
		<div class="title">Success</div>
		<div class="content">
			<p>The article was successfully removed!</p>
		</div>
	</div>
	<div class="flashmessage error_message full_width article_removed_error hide">
		<div class="title">Error</div>
		<div class="content">
			<p>An error occurred while trying to delete an article.</p>
		</div>
	</div>
	
	<div id="controller_action">
		<div id="article_search" style="display:none;">
			<div style="padding:4px;text-align:right">
				Search: 
				<select id="searchField">
					<option value="title">Title</option>
					<option value="author">Author</option>
					<option value="publisher">Publisher</option>
				</select>
				is
				<input type="text" id="searchString" size="30" />
			</div>
			
			<table class="full_width">
	        	<tr>
	            	<th>Title</th>
	            	<th width="100px">Author</th>
	            	<th width="180px">Publisher</th>
	            	<th width="50px">Year</th>
	            	<th width="60px">Type</th>
	            	<th width="120px">Action</th>
				</tr>
			</table>
		</div>
		
		<div id="default_page">
			<table class="full_width">
		        <tr>
		            <th>Title</th>
		            <th width="100px">Author</th>
		            <th width="180px">Publisher</th>
		            <th width="50px">Year</th>
					<th width="60px">Type</th>
		            <th width="120px">Action</th>
		        </tr>
		        
		        {% for article in paginator %}
		            <tr class="item">
		                <td>{{ article.getTitle() }}</td>
		                <td>{{ article.getAuthors() }}</td>
		                <td>{{ article.getPublishers() }}</td>
		                <td>{{ article.getYearPublished() }}</td>
		                <td>{% if article.isStock() %} Stock {% else %} Stub {% endif %}</td>
						<td>
						    {% if hasAccess('admin_article', 'edit') %}
		                        <a href="{{ url('admin_article', {"action": "edit", "id": article.getId()}) }}" class="edit">Edit</a>
		                    {% endif %}
						    {% if hasAccess('admin_article', 'delete') %}
		                        <a href="#" class="delete" data-id="{{ article.getId() }}" data-title="{{ article.getTitle() }}" data-authors="{{ article.getMetaInfo().getAuthors() }}">Delete</a>
		                    {% endif %}
		                </td>
		            </tr>
		        {% endfor %}
		    </table>
	
			{% include 'admin/partials/paginationControl.twig' %}
		</div>
	</div>
	
	<div class="modal hide fade" id="removeArticle">
		<div class="modal-header">
			<span>Litus Admin</span>
			/Article Delete
		</div>
		<div class="modal-body">
			<p>
				You are about to delete the following article: <b class="articleTitle"></b> of <b class="articleAuthors"></b>!
				Please note that this operation cannot be undone!
			</p>
			<p>
				Are you sure you want to continue?
			</p>
			<div class="footer">
				<input type="button" class="delete" value="Yes">
				<input type="button" class="cancel" data-dismiss="modal" value="No">
			</div>
		</div>
	</div>
{% endblock %}

{% block controller_script %}
	<script type="text/javascript">
		$(document).ready(function () {
		    {% if hasAccess('admin_article', 'search') %}
			$.searchDatabase({
				defaultPage: $('#default_page'),
				searchDiv: $('#article_search'),
				searchString: $('#searchString'),
				searchField: $('#searchField'),
				url: '{{ url('admin_article_search') }}',
				display: function (data) {
					$('#article_search table').find('tr.item').remove();
					$(data).each(function () {
						$('#article_search table').append(row = $('<tr>', {class: 'item'}));
						row.append('<td>' + this.title + '</td>')
							.append('<td>' + this.author + '</td>')
							.append('<td>' + this.publisher + '</td>')
							.append('<td>' + this.yearPublished + '</td>')
							.append('<td>' + (this.isStock ? 'Stock' : 'Stub') + '</td>')
							.append(
								actions = $('<td>')
							);
							
							{% if hasAccess('admin_article', 'edit') %}
							    actions.append('<a href="{{ url('admin_article', {"action": "edit"}) }}/' + this.id + '" class="edit">Edit</a>')
							{% endif %}
							
							{% if hasAccess('admin_article', 'delete') %}
    							actions.append(deleteButton = $('<a href="#" class="delete">Delete</a>'))
    							deleteButton.data({
    								id: this.id,
    								title: this.title,
    								authors: this.author,
    							});
							{% endif %}
					});
					$('#article_search .delete').click(openModal);
				},
				clear: function () {
					$('#article_search table').find('tr.item').remove();
				}
			});
			{% endif %}
			
			$('.item .delete').click(openModal);
		});
		
		function openModal(e) {
			var $this = $(this);
			
			e.preventDefault();
			var removeArticle = $('#removeArticle');
			removeArticle.find('.articleTitle').html($(this).data('title'));
			removeArticle.find('.articleAuthors').html($(this).data('authors'));
			removeArticle.find('.delete').unbind('click').click(function () {
				$.post('{{ url('admin_article', {"action": "delete"})}}/' + $this.data('id'), function  (data) {
				    if (data && 'success' == data.status) {
    					$('.flashmessage').addClass('hide');
    					$('.article_removed_success').removeClass('hide');
    					$this.parent().parent().remove();
    					removeArticle.modal('hide');
    				} else {
    				    errorRemove();
    				}
				}, 'json').error(errorRemove);
			});
			removeArticle.modal();
		}
		
		function errorRemove() {
    		$('.flashmessage').addClass('hide');
    		$('.article_removed_error').removeClass('hide');
    		$('#removeArticle').modal('hide');
		}
	</script>
{% endblock %}