{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_article/partials/navigation.twig' %}
		
	<div id="controller_action">
		{% include 'admin/partials/flashMessenger.twig' %}
	
		<h1>Article</h1>
		
		<p>Title: <b>{{ article.getTitle() }} {% if article.getVersionNumber() != 1 %} (v{{ article.getVersionNumber() }}) {% endif %}</b></p>
		<p>Author: <b>{{ article.getMetaInfo().getAuthors() }}</b></p>
		<p>Publisher: <b>{{ article.getMetaInfo().getPublishers() }}</b></p>
		<br />
		
		{% autoescape false %}
			{{ form }}
		{% endautoescape %}
		<br style="clear:both"/>
		
		<table class="full_width">
		    
	        <tr>
	            <th>Name</th>
	            <th>Description</th>
	            <th width="150px">Action</th>
	        </tr>
	
	        {% for file in articleFiles %}
	
	            <tr>
	                <td>{{ file.getName() }}</td>
	                <td>{{ file.getDescription() }}</td>
					<td>
						<a href="#" class="downloadFile view" data-file="{{ url('admin_article', {"action": "downloadfile", "id": file.getId()}) }}">Download</a>
	                    <a href="{{ url('admin_article', {"action": "deletefile", "id": file.getId()}) }}" class="delete">Delete</a>
	                </td>
	            </tr>
	
	        {% endfor %}
	    </table>
	</div>
{% endblock %}

{% block controller_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('.downloadFile').each(function () {
				$(this).downloadFile($(this).data('file'));
			});
		});
	</script>
{% endblock %}