{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/article/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width comment_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The comment was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width comment_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete an comment.</p>
        </div>
    </div>

    <div id="controller_action">
        <h1>Article</h1>

        <p>Title: <b>{{ article.getTitle() }}</b></p>
        <p>Author: <b>{{ article.getAuthors() }}</b></p>
        <p>Publisher: <b>{{ article.getPublishers() }}</b></p>
        <br />

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
        <br style="clear:both"/>

        <table class="manage" id="articleComments">
            <tr>
                <th width="100px">Date</th>
                <th width="140px">Person</th>
                <th>Summary</th>
                <th width="80px">Type</th>
                <th width="70px">Action</th>
            </tr>

            {% for mapping in paginator %}
                <tr class="item item-{{ mapping.getId() }}">
                    <td>{{ mapping.getComment().getDate().format('d/m/Y H:i') }}</td>
                    <td>{{ mapping.getComment().getPerson().getFullName() }}</td>
                    <td>{{ mapping.getComment().getSummary() }}</td>
                    <td>{{ mapping.getComment().getType()|capitalize }}</td>
                    <td class="actions">
                        <a href="#" class="view" data-text="{{ mapping.getComment().getText() }}">View</a>
                        {% if hasAccess('cudi_admin_article_comment', 'delete') %}
                            <a href="#" class="delete" data-id="{{ mapping.getId() }}" data-author="{{ mapping.getComment().getPerson().getFullName() }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <aside>
        {% if hasAccess('cudi_admin_article', 'edit') %}
            <div class="sidebox">
                <div class="title">Back To Article</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to go back to the article!</i>
                    </p>
                    <p>
                        <a href="{{ url('cudi_admin_article', {"action": "edit", "id": article.getId()}) }}">&rarr; Back To Article</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>

    <div class="modal hide fade" id="viewComment">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Article Comment
        </div>
        <div class="modal-body">
            <pre class="text"></pre>
            <br style="clear:both" />
            <div class="footer">
                <button data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

    <div class="modal hide fade" id="removeComment">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Comment Delete
        </div>
        <div class="modal-body">
            <p>
                You are about to delete the comment of <b class="author"></b>!<br />
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <button class="delete">Yes</button>
                <button class="cancel" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .view').click(openViewModal);
            $('.item .delete').click(openRemoveModal);
        });

        function openViewModal(e) {
            var $this = $(this);

            e.preventDefault();
            var viewComment = $('#viewComment');
            viewComment.find('.text').html($this.data('text'));
            viewComment.modal();
        }

        function openRemoveModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeComment = $('#removeComment');
            removeComment.find('.author').html($(this).data('author'));
            var id = $this.data('id');
            removeComment.find('.delete').unbind('click').click(function () {
                $.post('{{ url('cudi_admin_article_comment', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.comment_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeComment.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeComment.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.comment_removed_error').removeClass('hide');
            $('#removeComment').modal('hide');
        }
    </script>
{% endblock %}
