{% extends 'site/base.twig' %}

{% block content %}
    {% if submenu is not empty %}
        {% include 'page/page/partials/submenu.twig' %}
    {% endif %}

    <div class="page-header">
        <h1>{{ translate('Opening Hours') }}</h1>
    </div>

    <p>
        {{ translate('The opening hours for next week are:') }}
    </p>

    <div class="hidden-md hidden-lg">
        {% set previousDay = '' %}
        {% for openingHour in openingHours %}
            <div>
                {% if previousDay != openingHour.getStart().format('d/M') %}
                    <div class="label label-info" style="display: block; width: 110px; text-align: center;">
                        {{ dateLocalized(openingHour.getStart(), 'EEEE (d/M)')|capitalize }}
                    </div>
                {% endif %}
                <div style="margin-left: 20px;">
                    {% if openingHour.getComment(language)|length > 0 %}
                        <b>{{ dateLocalized(openingHour.getStart(), 'H:mm') }}&mdash;{{ dateLocalized(openingHour.getEnd(), 'H:mm') }}:</b>
                        <small>{{ openingHour.getComment(language) }}</small>
                    {% else %}
                        <b>{{ dateLocalized(openingHour.getStart(), 'H:mm') }}&mdash;{{ dateLocalized(openingHour.getEnd(), 'H:mm') }}</b>
                    {% endif %}
                </div>
                {% set previousDay = openingHour.getStart().format('d/M') %}
            </div>
        {% endfor %}
    </div>

    <div id="schedule" class="hidden-xs hidden-sm"></div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#schedule').schedule({
                startHour: {{ startHour }},
                endHour: {{ endHour }},
                days: [
                    {% for day in week %}
                        '{{ dateLocalized(day, 'EEEE (d/M)') }}'{% if not loop.last %},{% endif %}
                    {% endfor %}
                ],
                data: [
                    {% for day in openingHoursTimeline %}
                        [
                            {% for openingHour in day %}
                                {
                                    'startTime': {
                                        'hours': {{ openingHour.getStart().format('H') }},
                                        'minutes': {{ openingHour.getStart().format('i') }},
                                        'text': '{{ dateLocalized(openingHour.getStart(), 'H:mm') }}',
                                    },
                                    'endTime': {
                                        'hours': {{ openingHour.getEnd().format('H') }},
                                        'minutes': {{ openingHour.getEnd().format('i') }},
                                        'text': '{{ dateLocalized(openingHour.getEnd(), 'H:mm') }}',
                                    },
                                    'comment': '{{ openingHour.getComment(language) }}'
                                }{% if not loop.last %},{% endif %}
                            {% else %}
                                ''
                            {% endfor %}
                        ],
                    {% endfor %}
                ]
            });
        });
    </script>
{% endblock %}
