{% extends 'prof/base.twig' %}

{% block content %}
    <div class="page-header">
        <h2>{{ translate('Add Article') }}</h2>
    </div>
    <p>
        {{ translate('Subject') }}: <b>{{ subject.getName() }} (<em>{{ subject.getCode() }}</em>)</b>
    </p>
    <div class="row">
        <div class="span6 offset3" id="article_select">
            <ul style="list-style:none;">
                <li style="margin-bottom: 10px;">
                    <a class="thumbnail" id="external_article" href="#" style="padding: 20px;text-decoration: none;">
                        <span style="margin-right: 10px">
                            <img src="/_cudi/img/icon-external.png" />
                        </span>
                        <span>
                            {{ translate('Textbook from Other Publisher') }}
                        </span>
                    </a>
                </li>
                <li style="margin-bottom: 10px;">
                    <a class="thumbnail" id="internal_article" href="#" style="padding: 20px;text-decoration: none;">
                        <span style="margin-right: 10px">
                            <img src="/_cudi/img/icon-internal.png" />
                        </span>
                        <span>
                            {{ translate('Published by {{ unionShortName }}')|replace({'{{ unionShortName }}': unionShortName}) }}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="article_form" style="display: none;">
        {% import 'site/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#external_article').click(function (e) {
                e.preventDefault();

                $('#article_select').hide();
                $('#internal').prop('checked', false).closest('.control-group').hide();
                toggleInternal();
            });

            $('#internal_article').click(function (e) {
                e.preventDefault();

                $('#article_select').hide();
                $('#internal').prop('checked', true).closest('.control-group').hide();
                toggleInternal();
            });

            {% if isPost %}
                {% if isInternalPost %}
                    $('#internal_article').click();
                {% else %}
                    $('#external_article').click();
                {% endif %}
            {% endif %}

            $('#subjectSearch').typeaheadRemote(
                {
                    source: '{{ url("cudi_prof_subject_typeahead", {"language": language.getAbbrev()})}}',
                }
            ).change(function (e) {
                if ($(this).data('value')) {
                    $('#subjectId').val($(this).data('value').id);
                } else {
                    $('#subjectId').val('');
                }
            });
        });

        function toggleInternal() {
            if ($('#internal').is(':checked')) {
                $('#internal_form').show();
                $('#article_form #publisher').val({{ unionShortName }}).closest('.control-group').hide();
            } else {
                $('#internal_form').hide();
                $('#article_form #publisher').val('').closest('.control-group').show();
            }

            $('#article_form').show();
        }
    </script>
{% endblock %}
