{% extends 'prof/base.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            {% import 'site/partials/form.twig' as forms %}
            {{ forms.renderForm(form) }}
        </div>
        <div class="col-md-3">
            {% if hasAccess('cudi_prof_article_comment', 'manage') %}
                <h3>{{ translate('Comments') }}</h3>
                <p>{{ translate('View comments on this article and add one.') }}</p>
                <p><a href="{{ url("cudi_prof_article_comment", {"action": "manage", "id": article.getId()}) }}" class="btn btn-default">{{ translate('Comments') }}</a></p>
            {% endif %}
            {% if hasAccess('cudi_prof_file', 'manage') and article.isInternal() %}
                <h3>{{ translate('Files') }}</h3>
                <p>{{ translate('Manage the files of this article.') }}</p>
                <p><a href="{{ url("cudi_prof_file", {"action": "manage", "id": article.getId()}) }}" class="btn btn-default">{{ translate('Files') }}</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#internal').click(toggleInternal)
                .parent().parent().hide();
            toggleInternal();
        });

        function toggleInternal() {
            if ($('#internal').is(':checked'))
                $('#internal_form').show();
            else
                $('#internal_form').hide();
        }
    </script>
{% endblock %}
