{% extends 'quiz/base.twig' %}

{% block content %}
    <div class="page-header">
        <form action="" method="GET" class="pull-right">
            <select name="order" id="order" class="form-control">
                <option value="ASC"{% if order == 'ASC' %} selected{% endif %}>Best Last</option>
                <option value="DESC"{% if order == 'DESC' %} selected{% endif %}>Best First</option>
            </select>
        </form>
        <h1>{{ quiz.getName() }}</h1>
    </div>

    <table id="results" class="table table-bordered">
        <tr class="head">
            <th class="rank">Rank</th>
            <th class="team">Team</th>
            <th class="total">Total</th>
        </tr>
        {% if order == 'ASC' %}
            {% for teamid,total in total_points %}
                <tr>
                    <td class="rank">{{ loop.index }}</td>
                    <td class="team">{{ teams[teamid].getName() }}</td>
                    <td class="total">{{ total }}</td>
                </tr>
            {% endfor %}
        {% else %}
            {% for teamid,total in total_points|reverse(true) %}
                <tr>
                    <td class="rank">{{ loop.revindex }}</td>
                    <td class="team">{{ teams[teamid].getName() }}</td>
                    <td class="total">{{ total }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}

{% block content_script %}
    <script>
        $('#order').on('change', function() {
            $(this).parent().submit();
        });
        $('#results tr:not(.head)').hide();
        $(document).keyup(function (e) {
            if (e.keyCode == 37 || e.keyCode == 38) {
                $('#results tr:not(.head):visible:first').hide();
                e.preventDefault();
            } else if (e.keyCode == 39 || e.keyCode == 40) {
                $('#results tr:not(.head):visible:first').removeClass('warning');
                $('#results tr:hidden:last').addClass('warning').show();
                e.preventDefault();
            }
        });
    </script>
{% endblock %}
