{% extends 'prof/base.twig' %}

{% block content %}
    <div class="flashmessage alert alert-danger fade" id="article_removed_error">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('An error occurred while removing the mapping between this subject and the article.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-success fade" id="article_removed_success">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('The mapping between this subject and the article was succesfully removed.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-danger fade" id="prof_removed_error">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('An error occurred while removing the mapping between this subject and the docent.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-success fade" id="prof_removed_success">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('The mapping between this subject and the docent was succesfully removed.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-danger fade" id="article_activate_error">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('An error occurred while activating the mapping between this subject and the article.') }}
        </div>
    </div>

    <div class="page-header">
        <h2>{{ translate('Subject') }}</h2>
    </div>

    <p>
        {{ translate('Code') }}: <b>{{ subject.getCode() }}</b><br />
        {{ translate('Name') }}: <b>{{ subject.getName() }}</b><br />
        {{ translate('Semester') }}: <b>{{ subject.getSemester() }}</b><br />
        {{ translate('Credits') }}: <b>{{ subject.getCredits() }}</b><br />
        {{ translate('Students') }}: <b>{{ subject.getNbEnrollment(academicYear) }}</b>
    </p>

    <h3>{{ translate('Number of students (Optional)') }}:</h3>
    {% import 'site/partials/form.twig' as forms %}
    {{ forms.renderForm(enrollmentForm) }}

    <h3>{{ translate('Articles') }}:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ translate('Title') }}</th>
                <th width="120px">{{ translate('Authors') }}</th>
                <th width="120px">{{ translate('Publisher') }}</th>
                <th width="120px">{{ translate('Publish Year') }}</th>
                <th width="90px">{{ translate('Price') }}</th>
                <th width="180px">{{ translate('Actions') }}</th>
            </tr>
        </thead>

        <tbody>
            {% for mapping in previousArticleMappings %}
                <tr style="color: #ccc;font-style: italic;">
                    <td>{{ mapping['article'].getTitle() }}</td>
                    <td>{{ mapping['article'].getAuthors() }}</td>
                    <td>{{ mapping['article'].getPublishers() }}</td>
                    <td>{{ mapping['article'].getYearPublished() }}</td>
                    <td>{% if mapping['article'].getSaleArticle() %}&euro;{{ (mapping['article'].getSaleArticle().getSellPrice()/100)|number_format(2) }}{% endif %}</td>
                    <td class="actions">
                        {% if hasAccess('cudi_prof_article_mapping', 'activate') %}
                            <a href="#" class="btn btn-info activateArticle" data-id="{{ mapping['mapping'].getId() }}" data-article="{{ mapping['article'].getTitle() }}">{{ translate('Activate') }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            {% for mapping in articleMappings %}
                <tr>
                    <td>{{ mapping['article'].getTitle() }}</td>
                    <td>{{ mapping['article'].getAuthors() }}</td>
                    <td>{{ mapping['article'].getPublishers() }}</td>
                    <td>{{ mapping['article'].getYearPublished() }}</td>
                    <td>{% if mapping['article'].getSaleArticle() %}&euro;{{ (mapping['article'].getSaleArticle().getSellPrice()/100)|number_format(2) }}{% endif %}</td>
                    <td class="actions">
                        {% if hasAccess('cudi_prof_article', 'edit') %}
                            <a href="{{ url('cudi_prof_article', {'action': 'edit', 'id': mapping['article'].getId()}) }}" class="btn btn-primary">{{ translate('Edit') }}</a>
                        {% endif %}
                        {% if hasAccess('cudi_prof_article_mapping', 'delete') %}
                            <a href="#" class="btn btn-danger removeArticle" data-id="{{ mapping['mapping'].getId() }}" data-article="{{ mapping['article'].getTitle() }}">{{ translate('Remove') }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pull-right">
        {% if hasAccess('cudi_prof_article', 'addFromSubject') %}
            <a href="{{ url('cudi_prof_article', {"action": "addFromSubject", "id": subject.getId()}) }}" class="btn btn-success">{{ translate('Add New Article') }}</a>
        {% endif %}
        {% if hasAccess('cudi_prof_article_mapping', 'add') %}
            <a href="{{ url('cudi_prof_article_mapping', {"action": "add", "id": subject.getId()}) }}" class="btn btn-success">{{ translate('Add Existing Article') }}</a>
        {% endif %}
    </div>
    <br class="clear" />

    <h3>{{ translate('Docents') }}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="100px">{{ translate('Identification') }}</th>
                <th>{{ translate('Name') }}</th>
                <th width="100px">{{ translate('Actions') }}</th>
            </tr>
        </thead>

        <tbody>
            {% for mapping in profMappings %}
                <tr class="item">
                    <td>{{ mapping.getProf().getUniversityIdentification() }}</td>
                    <td>{{ mapping.getProf().getFullName() }}</td>
                    <td class="actions">
                        {% if hasAccess('cudi_prof_prof', 'delete') and mapping.getProf().getId() != authenticatedPerson.getId() %}
                            <a href="#" class="btn btn-danger removeProf" data-id="{{ mapping.getId() }}" data-name="{{ mapping.getProf().getFullName() }}">{{ translate('Remove') }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pull-right">
        {% if hasAccess('cudi_prof_prof', 'add') %}
            <a href="{{ url('cudi_prof_prof', {"action": "add", "id": subject.getId()}) }}" class="btn btn-success">{{ translate('Add Docent') }}</a>
        {% endif %}
    </div>
    <br class="clear" />

    <div id="modalRemoveArticle" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h3>{{ translate('Remove Article') }}</h3>
                </div>
                <div class="modal-body">
                    {{ translate('Are you sure you want to remove the following article') }}: <b><span class="articleTitle"></span></b>?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger confirm">{{ translate('Yes') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ translate('No') }}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalRemoveProf" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h3>{{ translate('Remove Docent') }}</h3>
                </div>
                <div class="modal-body">
                    {{ translate('Are you sure you want to remove the following docent') }}: <b><span class="profName"></span></b>?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger confirm">{{ translate('Yes') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ translate('No') }}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalActivateArticle" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h3>{{ translate('Activate Article') }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ translate('Are you sure you want to activate the following article') }}: <b><span class="articleTitle"></span></b>?</p>
                    <p>
                        {{ translate('Will the content of the article be the same af previous year?') }}
                        <select id="sameAsPreviousYear" style="width: auto;">
                            <option value="yes">{{ translate('Yes') }}</option>
                            <option value="no">{{ translate('No') }}</option>
                        </select>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success confirm">{{ translate('Yes') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ translate('No') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.flashmessage .close').click(function () {
                $(this).closest('.flashmessage').removeClass('in');
            });

            $('.removeArticle').click(openRemoveArticleModal);
            $('.removeProf').click(openRemoveProfModal);
            $('.activateArticle').click(openActivateArticleModal);
        });

        function openActivateArticleModal(e) {
            var $this = $(this);

            e.preventDefault();
            var activateArticle = $('#modalActivateArticle');
            activateArticle.find('.articleTitle').html($(this).data('article'));
            activateArticle.find('.confirm').unbind('click').click(function () {
                $.post(
                    '{{ url('cudi_prof_article_mapping', {"action": "activate"})}}' + $this.data('id'),
                    {'sameAsPreviousYear': $('#sameAsPreviousYear').val()},
                    function (data) {
                        if (data && 'success' == data.status) {
                            window.location.reload();
                        } else {
                            errorActivateArticle();
                        }
                    },
                    'json').error(errorActivateArticle);
            });
            activateArticle.modal();
        }

        function errorActivateArticle() {
            $('.flashmessage').removeClass('in');
            $('#article_activate_error').addClass('in');
            $('#modalActivateArticle').modal('hide');
        }

        function openRemoveArticleModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeArticle = $('#modalRemoveArticle');
            removeArticle.find('.articleTitle').html($(this).data('article'));
            removeArticle.find('.confirm').unbind('click').click(function () {
                $.post('{{ url('cudi_prof_article_mapping', {"action": "delete"})}}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#article_removed_success').addClass('in');
                        $this.parent().parent().remove();
                        removeArticle.modal('hide');
                    } else {
                        errorRemoveArticle();
                    }
                }, 'json').error(errorRemoveArticle);
            });
            removeArticle.modal();
        }

        function errorRemoveArticle() {
            $('.flashmessage').removeClass('in');
            $('#article_removed_error').addClass('in');
            $('#modalRemoveArticle').modal('hide');
        }

        function openRemoveProfModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeProf = $('#modalRemoveProf');
            removeProf.find('.profName').html($(this).data('name'));
            removeProf.find('.confirm').unbind('click').click(function () {
                $.post('{{ url('cudi_prof_prof', {"action": "delete"})}}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#prof_removed_success').addClass('in');
                        $this.parent().parent().remove();
                        removeProf.modal('hide');
                    } else {
                        errorRemoveProf();
                    }
                }, 'json').error(errorRemoveProf);
            });
            removeProf.modal();
        }

        function errorRemoveProf() {
            $('.flashmessage').removeClass('in');
            $('#prof_removed_error').addClass('in');
            $('#modalRemoveProf').modal('hide');
        }
    </script>
{% endblock %}
