{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_study/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}
	
	<div id="controller_action">
	    <h1>Subject</h1>
	    
	    <p>Code: <b>{{ subject.getCode() }}</b></p>
	    <p>Name: <b>{{ subject.getName() }}</b></p>
	    <p>Semester: <b>{{ subject.getSemester() }}</b></p>
	    <p>Credits: <b>{{ subject.getCredits() }}</b></p>
	    <br />
	    
		<div>
			<table class="full_width">
		        <tr>
		            <th width="90px">Identification</th>
		            <th>Name</th>
		        </tr>
		        
		        {% for prof in mapping %}
		            <tr class="item">
		                <td>{{ prof.getProf().getUniversityIdentification() }}</td>
		                <td>{{ prof.getProf().getFullName() }}</td>
		            </tr>
		        {% endfor %}
		    </table>
	</div>
{% endblock %}