{% extends 'career/partials/layout.twig' %}

{% block page_content %}
    <h1>{{ translate('Internships') }}</h1>

<div class="br-filterholder">
        {% if internshipSearchForm is defined %}
            {% do internshipSearchForm.prepare() %}
            {% autoescape false %}
                {{ form().openTag(internshipSearchForm) }}
                {{ formElement(internshipSearchForm.get('csrf')) }}

                <div class="well" style="margin-bottom:0px">
                    <h4>{{ translate('Arrange By') }}</h4>
                    <div class="form-group">
                        <div class="input-group">
                            {{ formElement(internshipSearchForm.get('searchType')) }}
                        </div>
                    </div>
                </div>

                <div class="well" style="margin-bottom:0px">
                    <h4>{{ translate('Sector') }}</h4>
                    <div class="form-group">
                        <div class="input-group">
                            {{ formElement(internshipSearchForm.get('sector')) }}
                        </div>
                    </div>
                </div>

                <div class="well" style="margin-bottom:0px">
                    <h4>{{ translate('Location') }}</h4>
                    <div class="form-group">
                        <div class="input-group">
                            {{ formElement(internshipSearchForm.get('location')) }}
                        </div>
                    </div>
                </div>

                <div class="well" style="margin-bottom:0px">
                    <h4>{{ translate('Master') }}</h4>
                    <div class="form-group">
                        <div class="input-group">
                            {{ formElement(internshipSearchForm.get('master')) }}
                        </div>
                    </div>
                </div>
                <div class="input-group-btn">
                    {{ formElement(internshipSearchForm.get('submit')) }}
                </div>

                {{ form().closeTag() }}
            {% endautoescape %}
        {% endif %}
    </div> 

    <div style="height: 40px"></div>
    
    {% for internship in paginator %}

        <a class="vacancyHolder" href="{{ url('br_career_internship', {'action': 'view', 'id': internship.getId() }) }}">
            {% if internship.getCompany().getLogo() is not empty %}
                <div style="padding: 0px 20px">
                    <div style='background-repeat: no-repeat; background-image: url("/{{ logoPath }}/{{ internship.getCompany().getLogo() }}"); background-size: contain; background-position: center; width: 120px; height: 60px;'></div>
                </div>
            {% else %}
                <div style="padding: 0px 20px; width: 160px; height: 60px; ">{{ internship.getCompany().getName() }}</div>
            {% endif %}

            <div class="br-spacer"></div>  

            <div><h4 style="margin-bottom: 0px">{{ internship.getCompany().getName() }} - {{ internship.getName() }}</h4></div>
           
        </a>   
        {# <tr>
            <td width="120">
                <a href="{{ url('br_career_internship', {'action': 'view', 'id': internship.getId() }) }}">
                    {% if internship.getCompany().getLogo() is not empty %}
                        <img width="120" src="/{{ logoPath }}/{{ internship.getCompany().getLogo() }}" alt="{{ internship.getCompany().getName() }}">
                    {% else %}
                        <center class="company-name">{{ internship.getCompany().getName() }}</center>
                    {% endif %}
                </a>
            </td>

            <td>
                <strong>{{ internship.getCompany().getName() }} - {{ internship.getName() }}</strong>
                <br/>
                <div class="pull-right hidden-xs">{{ translate('Last Updated') }}: <strong>{{ dateLocalized(internship.getLastUpdateDate(), 'd  MMMM y') }}</strong></div>
                <br/>
                {{ internship.getSummary(200)|replace({'<p>': '', '</p>': '', '<br>': '', '<br />': ''})|raw }}
            </td>
        </tr> #}
    {% else %}
        <div class="flashmessage alert alert-warning fade in">
            <a class="close" data-dismiss="alert">&times;</a>
            {{ translate('No items found') }}
        </div>
    {% endfor %}

    {% include 'site/partials/paginationControl.twig' %}
        
{% endblock %}
