{{ doctype() }}

<html lang="en" class="h-100">
    <head>
        {{ headMeta() }}
        {{ headTitle('Sale', 'PREPEND') }}

        {{ headLink() }}
        {{ assets('cudi_sale') }}
    </head>

    <body class="bg-light d-flex flex-column h-100">
        <main class="flex-shrink-0 my-auto">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="text-center">
                            <h1 class="display-3 hero-text">
                                <i class="fas fa-store-alt"></i>
                            </h1>
                            <h3 class="mb-4">{{ translate('Login') }}</h3>
                        </div>

                        <div class="card bg-transparent border-secondary">
                            <div class="card-header text-center bg-transparent border-secondary">
                                <a class="btn btn-primary" href="{{ shibbolethUrl }}">{% autoescape false %}{{ translate('KU Leuven&mdash;Central Login') }}{% endautoescape %}</a>
                            </div>
                            <div class="card-body">
                                {{ form(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="mx-auto py-3">
            <div class="container">
                <span class="text-muted">
                    Litus Cudi | Code by <a href="http://litus.cc">Litus</a>
                </span>
            </div>
        </footer>

        {{ inlineScript() }}
    </body>
</html>
