{% extends 'sale/base.twig' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <div class="text-center">
                <h3 class="mb-3">{{ translate('Login') }}</h1>
            </div>

            <div class="card bg-light mb-3">
                <div class="card-body text-center">
                    <a class="btn btn-primary" href="{{ shibbolethUrl }}">{% autoescape false %}{{ translate('KU Leuven&mdash;Central Login') }}{% endautoescape %}</a>
                </div>
            </div>

            <div class="card bg-light">
                <div class="card-body">
                    {% if form is defined %}
                        {% do form.prepare() %}
                        {% autoescape false %}
                            {{ form().openTag(form) }}

                            {% for element in form.getElements() %}
                                {% if element.getAttribute('type') == 'submit' or element.getAttribute('type') == 'reset' %}
                                    {{ formElement(element) }}
                                {% elseif element.getAttribute('type') == 'hidden' %}
                                    {{ formElement(element) }}
                                {% elseif element.getAttribute('type') == 'checkbox' %}
                                    <div class="form-group">
                                        <div class="form-check">
                                            {{ formElement(element) }}
                                            {% if element.getLabel() != '' %}
                                                <label class="form-check-label" for="{{ element.getAttribute('id') }}">{{ translate(element.getLabel()) }}</label>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="form-group {% if element.getMessages()|length > 0 %}has-error{% endif %}">
                                        <label>{% if element.getLabel() != '' %}{{ translate(element.getLabel()) }}{% endif %}</label>
                                        {{ formElement(element) }}
                                        {% if element.getMessages()|length > 0 %}
                                            <div class="invalid-feedback">
                                                {{ formElementErrors(element) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}

                            {{ form().closeTag() }}
                        {% endautoescape %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
