{{ doctype() }}

<html lang="en" class="h-100">
    <head>
        {{ headMeta() }}
        {{ headTitle('Sale', 'PREPEND') }}

        {{ headLink() }}
        {{ assets('cudi_sale') }}
    </head>

    <body class="d-flex flex-column h-100">
        {% if showHeader|default(1) == 1 %}
            <header>
                <nav class="navbar navbar-expand fixed-top navbar-dark bg-dark">
                    <div class="container">
                        <span class="navbar-brand" href="#">
                            <i class="fas fa-store-alt"></i>
                        </span>
                        {% if showNav|default(1) == 1 %}
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbar">
                                <ul class="navbar-nav mr-auto">
                                    {% if hasAccess('cudi_sale_sale', 'sale') %}
                                        <li class="nav-item {% if 'sale' == getParam('action') and 'cudi_sale_sale' == getParam('controller') %}active{% endif %}">
                                            <a class="nav-link" href="{{ url("cudi_sale_sale", {"action": "sale", "session": session.getId()}) }}">Sale</a>
                                        </li>
                                    {% endif %}
                                    {% if hasAccess('cudi_sale_sale', 'return') %}
                                        <li class="nav-item {% if 'return' == getParam('action') and 'cudi_sale_sale' == getParam('controller') %}active{% endif %}">
                                            <a class="nav-link" href="{{ url("cudi_sale_sale", {"action": "return", "session": session.getId()}) }}">Return</a>
                                        </li>
                                    {% endif %}
                                    {% if not lightVersion %}
                                        {% if hasAccess('cudi_sale_queue', 'overview') %}
                                            <li class="nav-item {% if 'overview' == getParam('action') and 'cudi_sale_queue' == getParam('controller') %}active{% endif %}">
                                                <a class="nav-link" href="{{ url("cudi_sale_queue", {"action": "overview", "session": session.getId()}) }}">Queue</a>
                                            </li>
                                        {% endif %}
                                        {% if hasAccess('cudi_sale_queue', 'screen') %}
                                            <li class="nav-item {% if 'screen' == getParam('action') and 'cudi_sale_queue' == getParam('controller') %}active{% endif %}">
                                                <a class="nav-link" href="{{ url("cudi_sale_queue", {"action": "screen", "session": session.getId()}) }}">Queue Screen</a>
                                            </li>
                                        {% endif %}
                                        {% if hasAccess('cudi_sale_queue', 'signin') %}
                                            <li class="nav-item {% if 'signin' == getParam('action') and 'cudi_sale_queue' == getParam('controller') %}active{% endif %}">
                                                <a class="nav-link" href="{{ url("cudi_sale_queue", {"action": "signin", "session": session.getId()}) }}">Queue Sign In</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </nav>

                <div class="hero mb-5">
                    <div class="container">
                        <h1 class="text-light py-5">Sale</h1>
                    </div>
                </div>
            </header>
        {% endif %}

        <main class="flex-shrink-0 {% if showHeader|default(1) == 0 %}mt-5{% endif %}">
            <div class="container">
                {% include 'sale/partials/flashMessenger.twig' %}

                <div id="content_controller">
                    {% if invalidSession %}
                        <div class="flashmessage alert alert-danger fade">
                            Invalid Sale Session
                        </div>
                    {% else %}
                        {% block content %} {% endblock %}
                    {% endif %}
                </div>
            </div>
        </main>

        <footer class="mx-auto mt-auto py-3">
            <div class="container">
                <span class="text-muted">
                    Litus Cudi | Code by <a href="http://litus.cc">Litus</a>
                </span>
            </div>
        </footer>

        {{ inlineScript() }}

        {% block content_script %} {% endblock %}
    </body>
</html>
