{{ doctype() }}

<html lang="en">
<head>

    {{ headMeta() }}
	{{ headTitle('Sale', 'PREPEND') }}

	{{ headLink() }}
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<span class="brand"><img src="/_cudi/img/logo.png" /></span>
		</div>
	</div>
</nav>

<header>
	<div class="inner">
		<div class="container">
			<h1>Sale</h1>
		</div>
	</div>
</header>

<div class="container">
	{% include 'sale/partials/flashMessenger.twig' %}

    {% block content %} {% endblock %}

	<footer>
	    Litus CuDi | Code by <a href="http://litus.cc">Litus</a>

		{% if 'production' != environment %}
		    <span class="development_information">
		    	Execution Time: {{ developmentInformation.executionTime }} ms | Doctrine's UoW: {{ developmentInformation.doctrineUnitOfWork }}
		    </span>
		{% endif %}
	</footer>
</div>

{{ inlineScript() }}

{% block content_script %} {% endblock %}

</body>
</html>
