{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <a href="{{ url('common_calendar') }}"><img class="headingIcon" src="/_site/img/glyphicons-calendar.png" /></a>
        <h2>{{ translator().translate('Calendar') }}</h2>
    </div>

    {% for day in calendarItems %}
        <div class="item">
            <span class="date calendar">{{ dateLocalized(day.date, 'd MMM') }}</span>

            {% for event in day.events %}
                <p>
                    <i class="icon-time"></i> {{ dateLocalized(event.getStartDate(), 'h:mm') }}&mdash;{{ event.getTitle(language) }}
                    <blockquote>
                        {{ markdown(event.getContent(language)) }}
                        <small><a href="{{ url('common_calendar', {'action': 'view', 'id': event.getId()}) }}">{{ translator().translate('View') }}</a></small>
                    </blockquote>
                </p>
            {% endfor %}
        </div>
    {% else %}
        <div class="headingSpacer"></div>

        <div class="alert">
            <strong>{{ translator().translate('Warning') }}</strong> {{ translator().translate('No events were created yet.') }}
        </div>
    {% endfor %}
{% endblock %}