{% extends 'common/layout.twig' %}

{% block content %}
    <h1>{{ translator().translate('Calendar') }}</h1>
    {% for period in events %}
        <h2>{{ dateLocalized(period.date, 'MMMM YYYY')|capitalize }}</h2>
        {% for event in period.events %}
            <a class="activity" href="{{ url(language.getAbbrev() ~ "_fun_calendar_item", {"name": event.getName(language)}) }}">
                <span class="date">{{ dateLocalized(event.getStartDate(), 'dd MMMM') }}</span>
                <span class="time">{{ dateLocalized(event.getStartDate(), 'HH:mm') }}</span>
                <span class="title">{{ event.getTitle(language) }}</span>
            </a>
        {% endfor %}
        <br class="clear" />
    {% endfor %}
{% endblock %}
