{% extends 'career/partials/layout.twig' %}

{% block page_content %}
    <h2>{{ translate("Your Matching Profile") }}</h2>
    <div class="pageTitleDeco"></div>

    <div style="height: 20px"></div>

    <div class="br-blueBanner" style="padding: 20px;">
        <h3 style="color:white;">{{ translate('Find your match with our associated companies that are attending the jobfair!') }}</h3>
        <p style="color: white;">{{ bannerText }}</p>
        <div style="height: 20px;"></div>
        <a class="button yellow unfilled"
           href="{{ url('br_career_match', {'action': 'addProfile', 'type': 'company'}) }}">{{ translate('Create Profile') }}</a>
    </div>

    <div style="height: 20px;"></div>
    <h2>Matches</h2>
    <div class="pageTitleDeco"></div>
    <div style="height: 20px"></div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover full-width">
                {% for match in matches %}
                    <tr>
                        <td>
                            <strong>{{ match.getCompany().getName() }}</strong>
                            <br/>
                            {{ match.getMatchPercentage() }} %
                        </td>
                        <td width="330" style="vertical-align: middle;">
                            {% if match.doesCompanyHavePage(em,ay) %}
                                <a class="button"
                                   href="{{ url('br_career_company', {'action': 'view', 'company': match.getCompany().getSlug() }) }}">{{ translate('View Company') }}</a>
                            {% endif %}
                            {% if not match.isInterested() %}
                                <a style="margin-right: 20px;" class="sendData button blue unfilled pull-right" href="#"
                                   data-id="{{ match.getId() }}"
                                   data-name="{{ match.getCompany().getName() }}">{{ translate('Send Data') }}</a>
                            {% else %}
                                <a style="margin-right: 20px;pointer-events: none"
                                   class="button blue unfilled pull-right" data-id="{{ match.getId() }}"
                                   data-name="{{ match.getCompany().getName() }}">{{ translate('Already Sent') }}</a>
                            {% endif %}
                        </td>

                    </tr>
                {% else %}
                    {% block matches_error_message %}
                    {% endblock %}
                {% endfor %}
            </table>

            {% include 'site/partials/paginationControl.twig' %}
        </div>
    </div>
{% endblock %}