{% extends 'career/partials/layout.twig' %}

{% block page_content %}
    <h2>{{ translate("Your Matching Profile") }}</h2>
    <div class="pageTitleDeco"></div>

    <div style="height: 20px"></div>

    <div class="br-blueBanner" style="padding: 20px;">
        <h3 style="color:white;">{{ translate('Find your match with our associated companies that are attending the jobfair!') }}</h3>
        <p style="color: white;">{{ bannerText }}</p>
        <div style="height: 20px;"></div>
        <a class="button yellow unfilled"
           href="{{ linkToMatchingSoftware }}">{{ translate('Create Profile') }}</a>
    </div>

    <div style="height: 20px;"></div>
    <h2>Matches</h2>
    <div class="pageTitleDeco"></div>
    <div style="height: 20px"></div>

    <div class="row">
        <div class="col-md-12 contentBlock">
            <table class="table table-hover full-width">
                {% for match in matches %}
                    <div class="groupHolder">
                        <div class="groupHeader study-toggle" data-target="body-study-{{ match.getId() }}">
                            <div style="display: flex; width: 100%; align-items: center;">
                                <h4 style="margin: 0">{{ match.getCompany().getName() }}</h4>
                                <a class="button blue" style="margin-left: auto; order: 2;" href="{{ match.getCompany().getFullWebsite() }}" target="_blank">{{ translate('View Company') }}</a>
                            </div>
                        </div>
                        <div id="body-study-{{ match.getId() }}" style="display: none;">
                            {% if match.getCategories()|length > 0 %}
                                {% for category in match.getCategories() %}
                                    <div class="cvHolder">
                                        <div class="groupFlexCenter entry-toggle">
                                            <h4 style="margin-bottom: 0">{{ category }}</h4>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>




{#                    <tr>#}
{#                        <td style="vertical-align: middle">#}
{#                            <strong style="font-size: 16px">{{ match.getCompany().getName() }}</strong>#}
{#                        </td>#}
{#                        <td style="vertical-align: middle;">#}
{#                            <a class="button blue pull-right"#}
{#                               href="{{ match.getCompany().getFullWebsite() }}" target="_blank">{{ translate('View Company') }}</a>#}
{#                        </td>#}

{#                    </tr>#}
                {% else %}
                    {% block matches_error_message %}
                    {% endblock %}
                {% endfor %}
            </table>

            {% include 'site/partials/paginationControl.twig' %}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.study-toggle').click(function() {
                var target = $(this).data('target');
                var display = document.getElementById(target).style.display;
                document.getElementById(target).style.display = display === 'none' ? 'block' : 'none';
            });
        });
    </script>
{% endblock %}