{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/sale/financial/partials/navigation.twig' %}

    {% include 'cudi/admin/sale/financial/sold/partials/years.twig' %}

    {% include 'cudi/admin/sale/financial/sold/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>Article</h1>
        <p>Title: <b>{{ article.getMainArticle().getTitle() }}</b></p>
        <p>Author: <b>{{ article.getMainArticle().getAuthors() }}</b></p>
        <p>Publisher: <b>{{ article.getMainArticle().getPublishers() }}</b></p>
        <p>Barcode: <b>{{ article.getBarcode() }}</b></p>
        <p>Purchase Price: <b>&euro; {{ (article.getPurchasePrice()/100)|number_format(2) }}</b></p>
        <p>Sell Price: <b>&euro; {{ (article.getSellPrice()/100)|number_format(2) }}</b></p>

        {% if organizations|length > 1 %}<h2>Total</h2>{% endif %}
        <p>Number Sold: <b>{{ article.getNumberSold(activeAcademicYear) }}</b></p>
        <p>Total Purchase: <b>&euro; {{ (article.getNumberSold(activeAcademicYear)*article.getPurchasePrice()/100)|number_format(2) }}</b></p>
        <p>Total Revenue: <b>&euro; {{ (article.getTotalRevenue(activeAcademicYear)/100)|number_format(2) }}</b></p>

        {% if organizations|length > 1 %}
            {% for organization in organizations %}
                <h2>{{ organization.getName() }}</h2>
                <p>Number Sold: <b>{{ article.getNumberSold(activeAcademicYear, organization) }}</b></p>
                <p>Total Purchase: <b>&euro; {{ (article.getNumberSold(activeAcademicYear, organization)*article.getPurchasePrice()/100)|number_format(2) }}</b></p>
                <p>Total Revenue: <b>&euro; {{ (article.getTotalRevenue(activeAcademicYear, organization)/100)|number_format(2) }}</b></p>
            {% endfor %}
        {% endif %}
        <br />

        <div id="sold_search" style="display:none;">
            <div style="padding:4px;text-align:right">
                Search:
                <select id="searchField">
                    <option value="person">Person</option>
                    <option value="organization">Organization</option>
                    <option value="discount">Discount</option>
                </select>
                is
                <input type="text" id="searchString" size="30" />
            </div>

            <table class="full_width manage">
                <tr>
                    <th width="100px">Date</th>
                    <th width="100px">Sale Session</th>
                    <th>Person</th>
                    <th width="70px">Org.</th>
                    <th width="80px">Number</th>
                    <th width="70px">Sell Price</th>
                    <th width="70px">Discount</th>
                    <th width="70px" class="wider">Type</th>
                </tr>
            </table>
        </div>

        <div id="default_page">
            <table class="full_width manage">
                <tr>
                    <th width="100px">Date</th>
                    <th width="100px">Sale Session</th>
                    <th>Person</th>
                    <th width="70px">Org.</th>
                    <th width="80px">Number</th>
                    <th width="70px">Sell Price</th>
                    <th width="70px">Discount</th>
                    <th width="70px" class="wider">Type</th>
                </tr>

                {% for item in paginator %}
                    <tr class="item">
                        <td>{{ item.getTimestamp().format('d/m/Y H:i') }}</td>
                        <td>{{ item.getSession().getOpenDate().format('d/m/Y H:i') }}</td>
                        <td>{% if item.getType() == 'regular' %}{{ item.getPerson().getFullName() }}{% else %}{{ item.getPerson() }}{% endif %}</td>
                        <td>{{ item.getPerson().getOrganization(item.getSession().getAcademicYear()).getName() }}</td>
                        <td>{{ item.getNumber() }}</td>
                        <td>&euro; {{ (item.getPrice()/100)|number_format(2) }}</td>
                        <td>{{ item.getDiscountType() }}</td>
                        <td class="wider">{{ item.getType()|capitalize }}</td>
                    </tr>
                {% endfor %}
            </table>

            {% include 'admin/partials/paginationControl.twig' %}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if hasAccess('cudi_admin_sales_financial_sold', 'sessionSearch') %}
            $.searchDatabase({
                defaultPage: $('#default_page'),
                searchDiv: $('#sold_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                searchPage: '{{ url('cudi_admin_sales_financial_sold', {'action': 'article', 'id': article.getId(), 'academicyear': activeAcademicYear.getCode()}) }}',
                url: '{{ url('cudi_admin_sales_financial_sold', {'action': 'articleSearch', 'id': article.getId(), 'academicyear': activeAcademicYear.getCode()}) }}',
                display: function (data) {
                    $('#sold_search table').find('tr.item').remove();
                    $(data).each(function () {
                        $('#sold_search table').append(row = $('<tr>', {class: 'item'}));
                        row.append('<td>' + this.timestamp + '</td>')
                            .append('<td>' + this.session + '</td>')
                            .append('<td>' + this.person + '</td>')
                            .append('<td>' + this.organization + '</td>')
                            .append('<td>' + this.number + '</td>')
                            .append('<td>&euro; ' + this.sellPrice + '</td>')
                            .append('<td>' + this.discount + '</td>')
                            .append('<td class="wider">' + this.type + '</td>');
                    });
                    $('#sold_search table').change();
                },
                clear: function () {
                    $('#sold_search table').find('tr.item').remove();
                }
            });
            {% endif %}
        });
    </script>
{% endblock %}