{% extends 'career/partials/layout.twig' %}

{% block page_content %}
    <div class="container">
        <div style="height: 40px"></div>

        <div class="row">
            <h1 style="float:left;">{{ translate('Add Profile') }}</h1>
        </div>
        <div class="row">
            {% if type == 'student' %}
                <div style="margin-top: 15px;">{{ translate('This profile is meant to describe you as a student. This profile will be the one that is used to create matches with companies. Try to bring out your unique aspects and focus on what sets you apart from others. That way you can find the companies that are really looking for someone like you. Choose a maximum of 5 important features en 3 very important features.') }}
                <p>{{ translate('You will get a higher match rating, if your personal traits matches the traits that they are looking for!') }}</p></div>
            {% elseif type == 'company' %}
                <div style="margin-top: 15px;">{{ translate('On this profile you get the opportunity to describe your ideal company you want to work for. Really focus on potential dealbreakers or things that you find interesting. You might be surprised by the companies you find. Choose a maximum of 5 important features en 3 very important features.') }}
                <p>{{ translate('You will get a higher match rating, if the company matches the traits that you are looking for!') }}</p></div>
            {% endif %}
        </div>

        <div style="height: 10px"></div>
        {{ gdpr_text }}
        <div style="height: 40px"></div>
        You can distribute maximum {{ sector_points }} points for the sector features!
        <div style="height: 40px"></div>

        {% import 'site/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>

{% endblock %}
