{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/supplier/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>Study</h1>

        <p>Title: <b>{{ study.getTitle() }}</b></p>
        <p>Phase: <b>{{ study.getPhase() }}</b></p>
        <p>Language: <b>{{ study.getLanguage() }}</b></p>
        <p>Total cost: <b>€ {{ (totalCost / 100 )| number_format(2) }}</b></p>
        <p>Total cost (mandatory only): <b>€ {{ (totalCostMandatoryOnly / 100) | number_format(2) }}</b></p>
        <br/>

        {% block form %}{% endblock %}

        <div id="default_page">
            <table class="full_width manage">
                <tr>
                    <th width="30%">Subject</th>
                    <th>Article</th>
                    <th width="80px">Mandatory</th>
                    <th width="60px">Price</th>
                </tr>

                {% for mapping in subject_mappings %}
                    <tr class="item">
                        <td>{{ mapping.getSubject().getName() }}</td>
                        <td>{{ mapping.getArticle().getTitle() }}</td>
                        <td>{% if mapping.isMandatory() %}x{% endif %}</td>
                        <td>€ {{ (mapping.getArticle().getSaleArticle().getSellPrice()/100) | number_format(2) }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
