{% extends 'admin/base.twig' %}

{% block content %}
    <header id="controller_header">
        <div class="title"><span class="article">Syllabus</span></div>
    </header>

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <div id="study_search" style="display:none;">
            <div style="padding:4px;text-align:right">
                Search:
                <select id="searchField">
                    <option value="name">Name</option>
                </select>
                is
                <input type="text" id="searchString" size="30" />
            </div>

            <table class="full_width manage">
                <tr>
                    <th>Name</th>
                    <th width="50px">Phase</th>
                    <th width="70px">Actions</th>
                </tr>
            </table>
        </div>

        <div id="default_page">
            <table class="full_width manage">
                <thead>
                <tr>
                    <th>Name</th>
                    <th width="50px">Phase</th>
                    <th width="70px">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for study in paginator %}
                    <tr class="item item-{{ study.getId() }}">
                        <td>{{ study.getTitle() }}</td>
                        <td>{{ study.getPhase() }}</td>
                        <td class="actions">
                            {% if hasAccess('cudi_admin_syllabus', 'list') %}
                                <a href="{{ url('cudi_admin_syllabus', {'action': 'list', 'id': study.getId()}) }}"
                                   class="view">List</a>
                            {% endif %}
                            {% if hasAccess('cudi_admin_syllabus', 'articlescsv') %}
                                <a href="{{ url('cudi_admin_syllabus', {'action': 'articlescsv', 'id': study.getId()}) }}"
                                   class="view">Articles CSV</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% include 'admin/partials/paginationControl.twig' %}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if hasAccess('cudi_admin_syllabus', 'search') %}
            $.searchDatabase({
                defaultPage: $('#default_page'),
                searchDiv: $('#study_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                searchPage: '{{ url('cudi_admin_syllabus', {'action': 'manage', 'academicyear': currentAcademicYear.getCode()}) }}',
                url: '{{ url('cudi_admin_syllabus', {'action': 'search', 'academicyear': currentAcademicYear.getCode()}) }}',
                display: function (data) {
                    $('#study_search table').find('tr.item').remove();
                    $(data).each(function () {
                        $('#study_search table').append(row = $('<tr>', {class: 'item item-' + this.id}));
                        row.append('<td>' + this.title + '</td>')
                            .append('<td>' + this.phase + '</td>')
                            .append(
                                actions = $('<td>', {'class': 'actions'})
                            );

                            {% if hasAccess('cudi_admin_syllabus', 'list') %}
                                actions.append('<a href="{{ url('cudi_admin_syllabus', {'action': 'list'}) }}' + this.id + '" class="view">List</a>');
                            {% endif %}

                            {% if hasAccess('cudi_admin_syllabus', 'articlescsv') %}
                                actions.append('<a href="{{ url('cudi_admin_syllabus', {'action': 'articlescsv'}) }}' + this.id + '"          class="view">Articles CSV</a>');
                            {% endif %}
                    });
                    $('#study_search table').change();
                },
                clear: function () {
                    $('#study_search table').find('tr.item').remove();
                }
            });
            {% endif %}
        });
    </script>
{% endblock %}
