{% extends 'corporate/base.twig' %}

{% block content %}
    <div class="container">

        <div style="height: 40px"></div>

        <h2>{{ translate("Your Matching Profile") }}</h2>
        <div class="pageTitleDeco"></div>

        <div style="height: 20px"></div>

        <div class="br-blueBanner" style="padding: 20px;">
            <h3 style="color:white;">{{ translate('Find your match with our students!') }}</h3>
            <p style="color: white;">{{ translate('Your contactperson will notify you when the VTK Jobfair 2025 Matching Software is available.') }}</p>
            <p style="color: white;">{{ bannerText }}</p>
            <div style="height: 20px;"></div>
        </div>

        <div style="height: 20px;"></div>
        <h2>VTK Jobfair 2024 Matches</h2>
        <div class="pageTitleDeco"></div>
        <div style="height: 20px"></div>
        <div style="height: 20px"></div>

        <div class="row">
            {#            <div class="col-md-3"></div> #}

            <div class="col-md-12">
                <table class="table table-hover full-width">
                    {% for match in matches %}
                        <tr>
                            <td>
                                <strong style="font-size: 16px">{{ match.getAcademic().getFullName() }}</strong>
                                <br/>
                                {{ match.getAcademic().getEmail() }}
                            </td>
                            <td style="width:230px" style="vertical-align: middle;">
                                {% if match.getStudentCV(entityManager, academicYearObject) and entries %}
                                    <a class="button blue pull-right cv_search" data-toggle="modal"
                                       data-target="#searchCV-{{ match.getId() }}">{{ translate('View CV') }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <p>{{ translate('No matches were found...') }}</p>
                    {% endfor %}
                </table>

                {% include 'site/partials/paginationControl.twig' %}
            </div>
        </div>
    </div>

    <div class="flashmessage alert alert-danger full_width search_error hide">
        <div class="title">{{ translate('Error') }}</div>
        <div class="content">
            <p>{{ translate('An error occurred while trying to perform the search.') }}</p>
        </div>
    </div>

    {% for entry in entries %}
        <div class="modal fade" id="searchCV-{{ entry['id'] }}" tabindex="-1">
            <div class="modal-dialog" style="width: 50%">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">&times;</a>
                        <h3>CV</h3>
                    </div>
                    <div class="modal-body">
                        {% import 'corporate/partials/showcv.twig' as cv %}
                        {{ cv.displayEntry(entry['cv'], profilePath, gradesMapEnabled, gradesMap) }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.cv_search').bind("click", function () {

            });
        });


    </script>
{% endblock %}
