{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'common/admin/unit/partials/navigation.twig' %}

    {% include 'common/admin/unit/partials/manage-years.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width unit_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The unit was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width unit_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the unit.</p>
        </div>
    </div>

    <div id="controller_action">
        <h1>Units</h1>
        <table class="manage">
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="width:70px">Active</th>
                    <th style="width:70px">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for unit in unitsWithMembers %}
                    <tr class="item item-{{ unit.getId() }}">
                        <td>{{ unit.getName() }}</td>
                        <td>{% if unit.isActive() %}&times;{% endif %}</td>
                        <td class="actions">
                            {% if hasAccess('common_admin_unit', 'template') %}
                                <a href="{{ url('common_admin_unit', {"action": "template", "id": unit.getId()}) }}" class="file_edit">Template</a>
                            {% endif %}
                            {% if hasAccess('common_admin_unit', 'members') %}
                                <a href="{{ url('common_admin_unit', {"action": "members", "id": unit.getId(), "academicyear": activeAcademicYear.getCode()}) }}" class="unit_member_edit">Members</a>
                            {% endif %}
                            {% if hasAccess('common_admin_unit', 'edit') %}
                                <a href="{{ url('common_admin_unit', {"action": "edit", "id": unit.getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('common_admin_unit', 'delete') %}
                                <a href="#" data-id="{{ unit.getId() }}" data-name="{{ unit.getName() }}" class="delete">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if workgroups %}
            <h1>Workgroups</h1>
            <table class="manage">
                <thead>
                <tr>
                    <th>Name</th>
                    <th style="width:70px">Active</th>
                    <th style="width:70px">Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for workgroup in workgroups %}
                    <tr class="item item-{{ workgroup.getId() }}">
                        <td>{{ workgroup.getName() }}</td>
                        <td>{% if workgroup.isActive() %}&times;{% endif %}</td>
                        <td class="actions">
                            {% if hasAccess('common_admin_unit', 'template') %}
                                <a href="{{ url('common_admin_unit', {"action": "template", "id": unit.getId()}) }}" class="file_edit">Template</a>
                            {% endif %}
                            {% if hasAccess('common_admin_unit', 'members') %}
                                <a href="{{ url('common_admin_unit', {"action": "members", "id": workgroup.getId(), "academicyear": activeAcademicYear.getCode()}) }}" class="unit_member_edit">Members</a>
                            {% endif %}
                            {% if hasAccess('common_admin_unit', 'edit') %}
                                <a href="{{ url('common_admin_unit', {"action": "edit", "id": workgroup.getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('common_admin_unit', 'delete') %}
                                <a href="#" data-id="{{ workgroup.getId() }}" data-name="{{ workgroup.getName() }}" class="delete">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <h1>Empty Units</h1>
         <table class="manage">
            <thead>
                <tr>
                    <th>Name</th>
                    <th width="70px">Active</th>
                    <th width="70px">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for unit in emptyUnits %}
                    <tr class="item item-{{ unit.getId() }}">
                        <td>{{ unit.getName() }}</td>
                        <td>{% if unit.isActive() %}&times;{% endif %}</td>
                        <td class="actions">
                            {% if hasAccess('common_admin_unit', 'template') %}
                                <a href="{{ url('common_admin_unit', {"action": "template", "id": unit.getId()}) }}" class="file_edit">Template</a>
                            {% endif %}
                            {% if hasAccess('common_admin_unit', 'members') %}
                                <a href="{{ url('common_admin_unit', {"action": "members", "id": unit.getId(), "academicyear": activeAcademicYear.getCode()}) }}" class="unit_member_edit">Members</a>
                            {% endif %}
                            {% if hasAccess('common_admin_unit', 'edit') %}
                                <a href="{{ url('common_admin_unit', {"action": "edit", "id": unit.getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('common_admin_unit', 'delete') %}
                                <a href="#" data-id="{{ unit.getId() }}" data-name="{{ unit.getName() }}" class="delete">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="modal fade" id="removeUnit" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Unit
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the unit with the following name: <b class="name"></b>?
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if hasAccess('common_admin_unit', 'prune') %}
        <aside>
            <div class="sidebox">
                <div class="title">Prune Tree</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to prune the tree!</i>
                    </p>
                    <p>
                        <a href="{{ url('common_admin_unit', {"action": "prune"}) }}">&rarr; Prune Tree</a>
                    </p>
                </div>
            </div>
        </aside>
    {% endif %}
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);
            e.preventDefault();
            var removeUnit = $('#removeUnit');
            removeUnit.find('.name').html($(this).data('name'));
            removeUnit.find('.cancel').one('click', function () {
                removeUnit.modal('hide');
            });
            var id = $this.data('id');
            removeUnit.find('.delete').unbind('click').click(function () {
                $.post('{{ url('common_admin_unit', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.unit_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeUnit.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeUnit.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.unit_removed_error').removeClass('hide');
            $('#removeUnit').modal('hide');
        }
    </script>
{% endblock %}
