{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/article/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>Article</h1>

        <p>Title: <b>{{ article.getTitle() }}</b></p>
        <p>Author: <b>{{ article.getAuthors() }}</b></p>
        <p>Publisher: <b>{{ article.getPublishers() }}</b></p>
        <br />

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
        <br class="clear" />
        <br class="clear" />

        <h1>Last Comments</h1>
        <table>
            <tr>
                <th width="100px">Date</th>
                <th width="140px">Person</th>
                <th>Summary</th>
                <th width="80px">Type</th>
                <th width="70px">Action</th>
            </tr>

            {% for mapping in comments %}
                <tr class="item item-{{ mapping.getId() }}">
                    <td>{{ mapping.getComment().getDate().format('d/m/Y H:i') }}</td>
                    <td>{{ mapping.getComment().getPerson().getFullName() }}</td>
                    <td>{{ mapping.getComment().getSummary() }}</td>
                    <td>{{ mapping.getComment().getType()|capitalize }}</td>
                    <td class="actions">
                        <a href="#" class="view viewComment" data-text="{{ mapping.getComment().getText() }}">View</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <aside>
        {% if hasAccess('cudi_admin_article', 'duplicate') %}
            <div class="sidebox">
                <div class="title">Create Duplicate</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to create a duplicate of this article!</i>
                    </p>
                    <p>
                        <a href="{{ url('cudi_admin_article', {"action": "duplicate", "id": article.getId()}) }}">&rarr; Create Duplicate</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if saleArticle is not null and hasAccess('cudi_admin_sales_article', 'edit') %}
            <div class="sidebox">
                <div class="title">Edit Sale Article</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to edit the sale article for this!</i>
                    </p>
                    <p>
                        <a href="{{ url('cudi_admin_sales_article', {"action": "edit", "id": saleArticle.getId()}) }}">&rarr; Edit Sale Article</a>
                    </p>
                </div>
            </div>
        {% elseif saleArticle is null and hasAccess('cudi_admin_sales_article', 'add') %}
            <div class="sidebox">
                <div class="title">Create Sale Article</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to create a sale article for this!</i>
                    </p>
                    <p>
                        <a href="{{ url('cudi_admin_sales_article', {"action": "add", "id": article.getId()}) }}">&rarr; Create Sale Article</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('cudi_admin_article_subject', 'manage') %}
            <div class="sidebox">
                <div class="title">Manage Subject Mapping</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to manage the mapping of this article to subjects!</i>
                    </p>
                    <p>
                        <a href="{{ url('cudi_admin_article_subject', {"action": "manage", "id": article.getId()}) }}">&rarr; Manage Mapping</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if article.isInternal() and hasAccess('cudi_admin_article_file', 'manage') %}
            <div class="sidebox">
                <div class="title">Manage Files</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to manage the files of this article!</i>
                    </p>
                    <p>
                        <a href="{{ url('cudi_admin_article_file', {"action": "manage", "id": article.getId()}) }}">&rarr; Manage Files</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('cudi_admin_article_comment', 'manage') %}
            <div class="sidebox">
                <div class="title">Manage Comments</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to manage the comments of this article!</i>
                    </p>
                    <p>
                        <a href="{{ url('cudi_admin_article_comment', {"action": "manage", "id": article.getId()}) }}">&rarr; Manage Comments</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('cudi_admin_article', 'history') %}
            <div class="sidebox">
                <div class="title">View History</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to view the history of this article!</i>
                    </p>
                    <p>
                        <a href="{{ url('cudi_admin_article', {"action": "history", "id": article.getId()}) }}">&rarr; View History</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('cudi_admin_article', 'convertToExternal') and article.isInternal() %}
            <div class="sidebox">
                <div class="title">Convert To External</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to convert this article to an external!</i>
                    </p>
                    <p>
                        <a href="#convertToExternal" data-toggle="modal">&rarr; Convert To External</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('cudi_admin_article', 'convertToInternal') and not article.isInternal() %}
            <div class="sidebox">
                <div class="title">Convert To Internal</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to convert this article to an internal!</i>
                    </p>
                    <p>
                        <a href="#convertToInternal" data-toggle="modal">&rarr; Convert To Internal</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>

    <div class="modal hide fade" id="viewComment">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Article Comment
        </div>
        <div class="modal-body">
            <pre class="text"></pre>
            <br style="clear:both" />
            <div class="footer">
                <input type="button" data-dismiss="modal" value="Close">
            </div>
        </div>
    </div>

    <div class="modal hide fade" id="convertToExternal">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Convert To External
        </div>
        <div class="modal-body">
            <p>
                You are about to convert this article to an external!
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <input type="button" class="convert" value="Yes">
                <input type="button" class="cancel" data-dismiss="modal" value="No">
            </div>
        </div>
    </div>

    <div class="modal hide fade" id="convertToInternal">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Convert To Internal
        </div>
        <div class="modal-body">
            <p>
                You are about to convert this article to an internal!
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <input type="button" class="convert" value="Yes">
                <input type="button" class="cancel" data-dismiss="modal" value="No">
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#internal').click(toggleInternal)
                .parent().parent().hide();
            toggleInternal();
            $('.item .viewComment').click(openViewModal);

            {% if hasAccess('cudi_admin_article', 'convertToExternal') %}
                $('#convertToExternal .convert').click(function () {
                    window.location = "{{ url('cudi_admin_article', {"action": "convertToExternal", "id": article.getId()}) }}";
                });
            {% endif %}
            {% if hasAccess('cudi_admin_article', 'convertToInternal') %}
                $('#convertToInternal .convert').click(function () {
                    window.location = "{{ url('cudi_admin_article', {"action": "convertToInternal", "id": article.getId()}) }}";
                });
            {% endif %}
        });

        function openViewModal(e) {
            var $this = $(this);

            e.preventDefault();
            var viewComment = $('#viewComment');
            viewComment.find('.text').html($this.data('text'));
            viewComment.modal();
        }

        function toggleInternal() {
            if ($('#internal').is(':checked'))
                $('#internal_form').show();
            else
                $('#internal_form').hide();
        }
    </script>
{% endblock %}
