{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'logistics/admin/piano-reservation/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <table class="full_width manage">
            <tr>
                <th width="70px">Confirmed</th>
                <th>Player</th>
                <th width="170px">Creator</th>
                <th width="100px">Start Date</th>
                <th width="100px">End Date</th>
                <th width="70px">Action</th>
            </tr>

            {% for reservation in paginator %}
                <tr class="item item-{{ reservation.getId() }}">
                    <td>{% if reservation.isConfirmed() %}yes{% else %}no{% endif %}</td>
                    <td>{{ reservation.getPlayer().getFullName() }}</td>
                    <td>{{ reservation.getCreator().getFullName() }}</td>
                    <td>{{ reservation.getStartDate().format('d/m/Y H:i') }}</td>
                    <td>{{ reservation.getEndDate().format('d/m/Y H:i') }}</td>
                    <td class="actions">
                        <a href="#" class="view" data-player="{{ reservation.getPlayer().getFullName() }}" data-start_date="{{ reservation.getStartDate().format('d/m/Y H:i') }}" data-additional_information="{{ reservation.getAdditionalInfo() }}">View</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal hide fade" id="reservationModal">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Reservation
        </div>
        <div class="modal-body">
            <p>
                Reservation of <b class="reservationPlayer"></b> on <b class="reservationStartDate"></b>!
            </p>
            <p class="reservationAdditionalInformation">
            </p>
            <div class="footer">
                <input type="button" class="cancel" data-dismiss="modal" value="Close">
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">

        $(document).ready(function () {
            $('.item .view').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var reservationModal = $('#reservationModal');
            reservationModal.find('.reservationPlayer').html($(this).data('player'));
            reservationModal.find('.reservationStartDate').html($(this).data('start_date'));
            reservationModal.find('.reservationAdditionalInformation').html($(this).data('additional_information'));
            reservationModal.modal();
        }

    </script>
{% endblock %}
