{{ doctype() }}

<html lang="en">
<head>

    {{ headMeta() }}
	{{ headTitle('Litus Admin', 'PREPEND') }}
	
	{{ headLink() }}   
</head>

<body>

<div id="layout">
	<div id="content">
		<header id="content_header">
			<a href="#" title="Litus Manager"></a>
            
			<p><time datetime="{{ now.iso8601 }}">{{ now.display }}</time></p>
			<p id="tag">
                Welcome, {{ authenticatedUser }} |
                <a href="{{ url('admin_auth', {"action": "logout"}) }}">Logout</a>
            </p>
		</header>

		<nav id="content_nav">
            <ul class="topmenu">
            	<li>
            		<div class="title">Admin</div>
					<ul>
		            	{% if hasAccess('admin_index', 'index') %}
		                    <li><a href="{{ url('admin_dashboard') }}">Dashboard</a></li>
		                {% endif %}
		                {% if hasAccess('admin_user', 'index') %}
		                    <li><a href="{{ url('admin_user') }}">Users</a></li>
		                {% endif %}
		                {% if hasAccess('admin_role', 'index') %}
		                    <li><a href="{{ url('admin_role') }}">Groups</a></li>
		                {% endif %}
		            </ul>
		    	</li>
            </ul>
            
            <ul class="submenu">
            	<li>
	                <div class="title">Divisions</div>
	                
	                <ul class="subsubmenu">
		                {% if hasAccess('admin_textbook', 'index') %}
		            		<li>
		            			<div class="subtitle">
			            			<b>CuDi</b><br />
			            			Articles, Stock &amp; Financial
			            		</div>
		            			<ul
		            				{% if 'admin_article' == getParam('controller') or 'admin_booking' == getParam('controller') or 'admin_sale' == getParam('controller') or 'admin_stock' == getParam('controller') or 'admin_supplier' == getParam('controller') or 'admin_order' == getParam('controller') or 'admin_delivery' == getParam('controller') or 'admin_comment' == getParam('controller') or 'admin_file' == getParam('controller') or 'admin_financial' == getParam('controller') %}
		            					style="display: block;"
		            				{% endif %}
		            			>
		            			    {% if hasAccess('admin_article', 'manage') %}
		            			        <li><a href="{{ url('admin_article') }}">Articles</a></li>
		            			    {% endif %}
		            				{% if hasAccess('admin_booking', 'manage') %}
		            			        <li><a href="{{ url('admin_booking') }}">Bookings</a></li>
		            			    {% endif %}
		            			    {% if hasAccess('admin_sale', 'manage') %}
		            			        <li><a href="{{ url('admin_sale') }}">Sale</a></li>
		            			    {% endif %}
		            				{% if hasAccess('admin_stock', 'manage') %}
		            			        <li><a href="{{ url('admin_stock') }}">Stock</a></li>
		            			    {% endif %}
		            			    {% if hasAccess('admin_supplier', 'manage') %}
		            			        <li><a href="{{ url('admin_supplier') }}">Supplier</a></li>
		            			    {% endif %}
		            			</ul>
		            		</li>
		                {% endif %}
		                
		                {% if hasAccess('admin_company', 'index') or hasAccess('admin_section', 'index') or hasAccess('admin_contract', 'index') %}
		                    <li>
			                    <div class="subtitle">
		                    		<b>Business Relations</b><br />
		                    		Companies &amp; Contracts
			                    </div>
			                    
			                    <ul
			                    	{% if 'admin_company' == getParam('controller') or 'admin_section' == getParam('controller') or 'admin_contract' == getParam('controller') %}
			                    		style="display: block;"
			                    	{% endif %}
			                    >
			                        {% if hasAccess('admin_company', 'index') %}
			                            <li><a href="{{ url('admin_company') }}">Companies</a></li>
			                        {% endif %}
			                        {% if hasAccess('admin_section', 'index') %}
			                            <li><a href="{{ url('admin_section') }}">Sections</a></li>
			                        {% endif %}
			                        {% if hasAccess('admin_contract', 'index') %}
			                            <li><a href="{{ url('admin_dashboard') }}">Contracts</a></li>
			                        {% endif %}
			                    </ul>
			            	</li>
		                {% endif %}
		                
		                {% if hasAccess('admin_run', 'index') %}
		                    <li>
			                    <div class="subtitle">
			                    		<b>Sport</b><br />
			                    		Twenty Four
			                    </div>
			                    
			                    <ul
			                    	{% if 'admin_run' == getParam('controller') %}
			                    		style="display: block;"
			                    	{% endif %}
			                    >
			                        {% if hasAccess('admin_run', 'index') %}
			                            <li><a href="{{ url('admin_dashboard') }}">24h-Run</a></li>
			                        {% endif %}
			                    </ul>
			            	</li>
		                {% endif %}
	                </ul>
	        	</li>
            </ul>
        </nav>

		<div id="content_controller">
            {% block content %} {% endblock %}
        </div>
	</div>

	<div id="footer_push"></div>
</div>

<footer>
    Litus Admin | Code by <a href="http://litus.cc">Litus</a> | Design by <a href="http://www.serayo.com">Robin de Bruin</a>

	{% if 'development' == environment %}
	    <span class="development_information">
	    	Execution Time: {{ developmentInformation.executionTime }} ms | Doctrine's UoW: {{ developmentInformation.doctrineUnitOfWork }}
	    </span>
	{% endif %}
</footer>

{{ inlineScript() }}

<script type="text/javascript">
	$(document).ready(function () {
		$('.submenu').sidebarNavigation();
	});
</script>

{% block controller_script %} {% endblock %}

</body>
</html>
