{{ doctype() }}

<html lang="en">
<head>

    {{ headMeta() }}
	{{ headTitle('Litus Admin', 'PREPEND') }}
	
	{{ headLink() }}
    
</head>

<body>

<div id="layout">
	<div id="content">
		<header id="content_header">
			<a href="#" title="Litus Manager"></a>
            
			<p><time datetime="{{ now.iso8601 }}">{{ now.display }}</time></p>
			<p id="tag">
                Welcome, {{ authenticatedUser }} |
                <a href="{{ url('admin_auth', {"action": "logout"}) }}">Logout</a>
            </p>
		</header>

		<nav id="content_nav">
            <div class="topmenu">
                <div class="title">Admin</div>

                <ul>
                	{% if hasAccess('admin', 'index', 'index') %}
                        <li><a href="{{ url('admin_dashboard') }}">Dashboard</a></li>
                    {% endif %}
                    {% if hasAccess('admin', 'user', 'index') %}
                        <li><a href="{{ url('admin_user') }}">Users</a></li>
                    {% endif %}
                    {% if hasAccess('admin', 'role', 'index') %}
                        <li><a href="{{ url('admin_dashboard') }}">Groups</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="submenu">
                <div class="title">Divisions</div>

                {% if hasAccess('admin', 'textbook', 'index') %}
                    <div class="subtitle">
                    	<p id="toggleCursusdienst">
                    		<b>CuDi</b><br />
                    		Articles, Stock &amp; Financial
                    	</p>
                    </div>
                    
                    <ul id="submenu_cursusdienst">
                        {% if hasAccess('admin', 'article', 'index') %}
                            <li><a href="{{ url('admin_dashboard') }}">Articles</a></li>
                        {% endif %}
						{% if hasAccess('admin', 'booking', 'index') %}
                            <li><a href="{{ url('admin_dashboard') }}">Bookings</a></li>
                        {% endif %}
                        {% if hasAccess('admin', 'sale', 'index') %}
                            <li><a href="{{ url('admin_dashboard') }}">Sale</a></li>
                        {% endif %}
						{% if hasAccess('admin', 'stock', 'index') %}
                            <li><a href="{{ url('admin_dashboard') }}">Stock</a></li>
                        {% endif %}
                    </ul>
                {% endif %}

                {% if hasAccess('admin', 'company', 'index') or hasAccess('admin', 'section', 'index') or hasAccess('admin', 'contract', 'index') %}
                    <div class="subtitle">
                    	<p id="toggleBusiness">
                    		<b>Business Relations</b><br />
                    		Companies &amp; Contracts
                    	</p>
                    </div>
                    
                    <ul id="submenu_business">
                        {% if hasAccess('admin', 'company', 'index') %}
                            <li><a href="{{ url('admin_dashboard') }}>">Companies</a></li>
                        {% endif %}
                        {% if hasAccess('admin', 'section', 'index') %}
                            <li><a href="{{ url('admin_dashboard') }}">Sections</a></li>
                        {% endif %}
                        {% if hasAccess('admin', 'contract', 'index') %}
                            <li><a href="{{ url('admin_dashboard') }}">Contracts</a></li>
                        {% endif %}
                    </ul>
                {% endif %}

				{% if hasAccess('admin', 'run', 'index') %}
                    <div class="subtitle">
                    	<p id="toggleSport">
                    		<b>Sport</b><br />
                    		Twenty Four</p>
                    </div>
                    
                    <ul id="submenu_sport">
                        {% if hasAccess('admin', 'run', 'index') %}
                            <li><a href="{{ url('admin_dashboard') }}">24h-Run</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </nav>

		<div id="content_controller">
            {% block content %} {% endblock %}
        </div>
	</div>

	<div id="footer_push"></div>
</div>

<footer>
    Litus Admin | Code by <a href="http://litus.cc">Litus</a> | Design by <a href="http://www.serayo.com">Robin de Bruin</a>

    <span class="development_information">
        Doctrine's UoW: {{ doctrineUnitOfWork }}
    </span>
</footer>

{{ inlineScript() }}

<script type="text/javascript">
	$(document).ready(function (){
		$('.submenu .subtitle p').click(function(event) {
			var target = event.target;
			if(event.target.nodeName == 'B')
				var target = $(event.target).parent();
			$('#submenu_' + $(target).attr('id').substring(6, $(target).attr('id').length).toLowerCase()).toggle();
		});
	});

	{% block controller_script %} {% endblock %}
</script>

</body>
</html>
