{{ doctype() }}

<html lang="en">
<head>

    {{ headMeta() }}
	{{ headTitle('Litus Admin', 'PREPEND') }}

	{{ headLink() }}
</head>

<body>

<div id="layout">
	<div id="content">
		<header id="content_header">
			<a href="#" title="Litus Manager"></a>

			<p><time datetime="{{ now.iso8601 }}">{{ now.display }}</time></p>
			<p id="tag">
                Welcome, {% if authenticatedPerson is null %} Guest {% else %} {{ authenticatedPerson.getFirstName() }} {% endif %} |
                <a href="{{ url('admin_auth', {"action": "logout"}) }}">Logout</a>
            </p>
		</header>

		<nav id="content_nav">
            <ul class="topmenu">
            	<li>
            		<div class="title">Admin</div>
					<ul>
		            	{% if hasAccess('admin_index', 'index') %}
		                    <li><a href="{{ url('admin_index') }}">Dashboard</a></li>
		                {% endif %}
		                {% if hasAccess('admin_config', 'manage') %}
		                    <li><a href="{{ url('admin_config') }}">Configuration</a></li>
		                {% endif %}
		                {% if hasAccess('admin_academic', 'manage') %}
		                    <li><a href="{{ url('admin_academic') }}">Academic</a></li>
		                {% endif %}
		                {% if hasAccess('admin_role', 'manage') %}
		                    <li><a href="{{ url('admin_role') }}">Groups</a></li>
		                {% endif %}
						{% if hasAccess('admin_unit', 'manage') %}
		                    <li><a href="{{ url('admin_unit') }}">Units</a></li>
		                {% endif %}
		                {% if hasAccess('admin_key', 'manage') %}
		                    <li><a href="{{ url('admin_key') }}">API Keys</a></li>
		                {% endif %}
		                {% if hasAccess('admin_cache', 'manage') %}
		                    <li><a href="{{ url('admin_cache') }}">Cache</a></li>
		                {% endif %}
		            </ul>
		    	</li>
            </ul>

            <ul class="submenu">
            	<li>
	                <div class="title">Divisions</div>

	                <ul class="subsubmenu">
	                	{% if hasAccess('admin_company', 'manage') or hasAccess('admin_section', 'manage') or hasAccess('admin_contract', 'manage') %}
	                	    <li>
	                	        <div class="subtitle">
	                	    		<b>Corporate Relations</b><br />
	                	    		Companies &amp; Contracts
	                	        </div>

	                	        <ul
	                	        	{% if 'admin_company' == getParam('controller') or 'admin_company_event' == getParam('controller') or 'admin_company_internship' == getParam('controller') or 'admin_company_vacancy' == getParam('controller') or 'admin_section' == getParam('controller') or 'admin_contract' == getParam('controller') %}
	                	        		style="display: block;"
	                	        	{% endif %}
	                	        >
	                	            {% if hasAccess('admin_company', 'manage') %}
	                	                <li><a href="{{ url('admin_company') }}">Companies</a></li>
	                	            {% endif %}
	                	            {% if hasAccess('admin_section', 'manage') %}
	                	                <li><a href="{{ url('admin_section') }}">Sections</a></li>
	                	            {% endif %}
	                	            {% if hasAccess('admin_contract', 'manage') %}
	                	                <li><a href="{{ url('admin_index') }}">Contracts</a></li>
	                	            {% endif %}
	                	        </ul>
	                		</li>
	                	{% endif %}

		                {% if hasAccess('admin_article', 'manage') or hasAccess('admin_sales_article', 'manage') or hasAccess('admin_sales_booking', 'manage') or hasAccess('admin_sales_session', 'manage') or hasAccess('admin_sales_financial', 'manage') or hasAccess('admin_stock', 'manage') or hasAccess('admin_supplier', 'manage') or hasAccess('admin_prof_action', 'manage') %}
		            		<li>
		            			<div class="subtitle">
			            			<b>CuDi</b><br />
			            			Articles, Stock &amp; Financial
			            		</div>
		            			<ul
		            				{% if 'admin_article' == getParam('controller') or 'admin_article_subject' == getParam('controller') or 'admin_article_comment' == getParam('controller') or 'admin_article_file' == getParam('controller') or 'admin_sales_article' == getParam('controller') or 'admin_sales_discount' == getParam('controller') or 'admin_sales_booking' == getParam('controller') or 'admin_sales_session' == getParam('controller') or 'admin_sales_financial' == getParam('controller') or 'admin_supplier' == getParam('controller') or 'admin_supplier_user' == getParam('controller') or 'admin_stock' == getParam('controller') or 'admin_stock_period' == getParam('controller') or 'admin_stock_order' == getParam('controller') or 'admin_stock_delivery' == getParam('controller') or 'admin_stock_retour' == getParam('controller') or 'admin_prof_action' == getParam('controller') %}
		            					style="display: block;"
		            				{% endif %}
		            			>
		            			    {% if hasAccess('admin_article', 'manage') %}
		            			        <li><a href="{{ url('admin_article') }}">Articles</a></li>
		            			    {% endif %}
		            			    {% if hasAccess('admin_sales_article', 'manage') %}
		            			        <li><a href="{{ url('admin_sales_article') }}">Sale Articles</a></li>
		            			    {% endif %}
		            			    {% if hasAccess('admin_sales_booking', 'manage') %}
		            			        <li><a href="{{ url('admin_sales_booking') }}">Bookings</a></li>
		            			    {% endif %}
		            			    {% if hasAccess('admin_sales_session', 'manage') %}
		            			        <li><a href="{{ url('admin_sales_session') }}">Sale Sessions</a></li>
		            			    {% endif %}
		            			    {% if hasAccess('admin_sales_financial', 'manage') %}
		            			        <li><a href="{{ url('admin_sales_financial') }}">Financial</a></li>
		            			    {% endif %}
		            			    {% if hasAccess('admin_stock', 'manage') %}
		            			        <li><a href="{{ url('admin_stock') }}">Stock</a></li>
		            			    {% endif %}
		            			    {% if hasAccess('admin_supplier', 'manage') %}
		            			        <li><a href="{{ url('admin_supplier') }}">Suppliers</a></li>
		            			    {% endif %}
		            			    {% if hasAccess('admin_prof_action', 'manage') %}
		            			        <li><a href="{{ url('admin_prof_action') }}">Prof Actions</a></li>
		            			    {% endif %}
		            			</ul>
		            		</li>
		                {% endif %}

		                {% if hasAccess('admin_mail', 'groups') or hasAccess('admin_mail_prof', 'cudi') %}
		                	<li>
		                		<div class="subtitle">
		                			<b>Mail</b><br />
		                			Mass Mail, Aliasses &amp; Mailing Lists
		                		</div>
		                		<ul
		                			{% if 'admin_mail' == getParam('controller') or 'admin_mail_prof' == getParam('controller') %}
		                				style="display: block;"
		                			{% endif %}
		                		>
		                		    {% if hasAccess('admin_mail', 'groups') %}
		                		        <li><a href="{{ url('admin_mail') }}">Groups</a></li>
		                		    {% endif %}
		                		    {% if hasAccess('admin_mail_prof', 'cudi') %}
		                		        <li><a href="{{ url('admin_mail_prof', {'action': 'cudi'}) }}">Prof</a></li>
		                		    {% endif %}
		                		</ul>
		                	</li>
		                {% endif %}

		                {% if hasAccess('admin_news', 'manage') %}
		                	<li>
		                		<div class="subtitle">
		                			<b>Site</b><br />
		                			News &amp; Calendar
		                		</div>
		                		<ul
		                			{% if 'admin_news' == getParam('controller') or 'admin_calendar' == getParam('controller') or 'admin_page' == getParam('controller') or 'admin_page_category' == getParam('controller') %}
		                				style="display: block;"
		                			{% endif %}
		                		>
		                		    {% if hasAccess('admin_calendar', 'manage') %}
		                		        <li><a href="{{ url('admin_calendar') }}">Calendar</a></li>
		                		    {% endif %}
		                		    {% if hasAccess('admin_news', 'manage') %}
		                		        <li><a href="{{ url('admin_news') }}">News</a></li>
		                		    {% endif %}
		                		    {% if hasAccess('admin_page', 'manage') %}
		                		        <li><a href="{{ url('admin_page') }}">Pages</a></li>
		                		    {% endif %}
		                		</ul>
		                	</li>
		                {% endif %}

		                {% if hasAccess('admin_run', 'index') %}
		                    <li>
			                    <div class="subtitle">
			                    		<b>Sport</b><br />
			                    		Twenty Four
			                    </div>

			                    <ul
			                    	{% if 'admin_run' == getParam('controller') %}
			                    		style="display: block;"
			                    	{% endif %}
			                    >
			                        {% if hasAccess('admin_run', 'index') %}
			                            <li><a href="{{ url('admin_index') }}">24h-Run</a></li>
			                        {% endif %}
			                    </ul>
			            	</li>
		                {% endif %}

		                {% if hasAccess('admin_study', 'manage') or hasAccess('admin_update_syllabus', 'update') %}
		                	<li>
		                		<div class="subtitle">
		                			<b>Syllabus</b><br />
		                			Studies &amp; Subjects
		                		</div>
		                		<ul
		                			{% if 'admin_study' == getParam('controller') or 'admin_subject' == getParam('controller') or 'admin_update_syllabus' == getParam('controller') or 'admin_prof' == getParam('controller') %}
		                				style="display: block;"
		                			{% endif %}
		                		>
		                		    {% if hasAccess('admin_study', 'manage') %}
		                		        <li><a href="{{ url('admin_study') }}">Studies</a></li>
		                		    {% endif %}
		                		    {% if hasAccess('admin_update_syllabus', 'index') %}
		                		        <li><a href="{{ url('admin_update_syllabus') }}">Update</a></li>
		                		    {% endif %}
		                		</ul>
		                	</li>
		                {% endif %}
	                </ul>
	        	</li>
            </ul>
        </nav>

		<div id="content_controller">
            {% block content %} {% endblock %}
        </div>
	</div>

	<div id="footer_push"></div>
</div>

<footer>
    Litus Admin | Code by <a href="http://litus.cc">Litus</a> | Design by <a href="http://www.serayo.com">Robin de Bruin</a>

	{% if 'development' == environment %}
	    <span class="development_information">
	    	Execution Time: {{ developmentInformation.executionTime }} ms | Doctrine's UoW: {{ developmentInformation.doctrineUnitOfWork }}
	    </span>
	{% endif %}
</footer>

{{ inlineScript() }}

<script type="text/javascript">
	$(document).ready(function () {
		$('.submenu').sidebarNavigation();
	});
</script>

{% block content_script %} {% endblock %}

</body>
</html>
