{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/sales/article/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width discount_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The discount was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width discount_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the discount.</p>
        </div>
    </div>

    <div id="controller_action">
        <h1>Article</h1>

        <p>Title: <b>{{ article.getMainArticle().getTitle() }}</b></p>
        <p>Author: <b>{{ article.getMainArticle().getAuthors() }}</b></p>
        <p>Publisher: <b>{{ article.getMainArticle().getPublishers() }}</b></p>
        <br />

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
        <br style="clear:both"/>
        <br style="clear:both"/>

        <table class="full_width manage" id="articleDiscounts">
            <tr>
                <th width="70px">Template</th>
                <th>Type</th>
                <th width="200px">Value</th>
                <th width="150px">Rounding</th>
                <th width="100px">Apply Once</th>
                <th width="100px">Actions</th>
            </tr>

            {% for discount in discounts %}
                <tr class="item item-{{ discount.getId() }}">
                    <td style="text-align:center;">{% if discount.getTemplate() is not null %}&times;{% endif %}</td>
                    <td>{{ discount.getType() }}</td>
                    <td>{% if discount.getMethod() == 'percentage' %}-{{ (discount.getValue()/100)|number_format(2) }}%{% elseif discount.getMethod() == 'fixed' %}- &euro; {{ (discount.getValue()/100)|number_format(2) }}{% else %}&euro; {{ (discount.getValue()/100)|number_format(2) }}{% endif %}</td>
                    <td>{{ discount.getRounding() }}</td>
                    <td>{% if discount.applyOnce() %}Yes{% else %}No{% endif %}</td>
                    <td class="actions">
                        {% if hasAccess('cudi_admin_sales_article_discount', 'delete') %}
                            <a href="#" class="delete" data-id="{{ discount.getId() }}" data-type="{{ discount.getType()|capitalize }}" data-discount="{% if discount.getMethod() == 'percentage' %}-{{ (discount.getValue()/100)|number_format(2) }}%{% elseif discount.getMethod() == 'fixed' %}- &euro; {{ (discount.getValue()/100)|number_format(2) }}{% else %}&euro; {{ (discount.getValue()/100)|number_format(2) }}{% endif %}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="modal hide fade" id="removeDiscount">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Delete Discount
        </div>
        <div class="modal-body">
            <p>
                You are about to delete the discount of type <b class="type"></b> of <b class="discount"></b>!<br />
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <input type="button" class="delete" value="Yes">
                <input type="button" class="cancel" data-dismiss="modal" value="No">
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openRemoveModal);

            $('#discount_template').change(function () {
                var template = $(this).find('option:selected').attr('value');
                if (template == 0) {
                    $('#discount_template_value').val('').prop('disabled', false);
                    $('#discount_template_type').val('member').prop('disabled', false);
                    $('#discount_template_method').val('percentage').prop('disabled', false);
                    $('#discount_template_rounding').val('none').prop('disabled', false);
                    $('#discount_template_apply_once').prop('checked', false).prop('disabled', false)
                } else {
                    $('#discount_template_value').val($('#template_' + template + '_value').val()).prop('disabled', true);
                    $('#discount_template_type').val($('#template_' + template + '_type').val()).prop('disabled', true);
                    $('#discount_template_method').val($('#template_' + template + '_method').val()).prop('disabled', true);
                    $('#discount_template_rounding').val($('#template_' + template + '_rounding').val()).prop('disabled', true);
                    $('#discount_template_apply_once').prop('checked', $('#template_' + template + '_apply_once').val() == 1).prop('disabled', true);
                }
            });
        });

        function openRemoveModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeDiscount = $('#removeDiscount');
            removeDiscount.find('.type').html($(this).data('type'));
            removeDiscount.find('.discount').html($(this).data('discount'));
            var id = $this.data('id');
            removeDiscount.find('.delete').unbind('click').click(function () {
                $.post('{{ url('cudi_admin_sales_article_discount', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.discount_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeDiscount.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeDiscount.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.discount_removed_error').removeClass('hide');
            $('#removeDiscount').modal('hide');
        }
    </script>
{% endblock %}
