{% if 0 != paginationControl.pages.pageCount %}
    <table class="pagination {% if paginationControl.fullWidth %}full_width{% endif %}">
        <tr>
            <td style="padding-right: 40px">
                {% if paginationControl.pages.previous is not same as(null) %}
                    <a href="{{ url(paginationControl.matchedRouteName, {"page": paginationControl.pages.first}|merge(paginationControl.matchedRouteParams)) }}">&larr; First</a>
                {% else %}
                    {% if 1 != paginationControl.pages.pageCount and 1 != paginationControl.pages.current %}
                        &larr; First
                    {% endif %}
                {% endif %}

                {% if paginationControl.pages.previous is not same as(null) %}
                    <a href="{{ url(paginationControl.matchedRouteName, {"page": paginationControl.pages.previous}|merge(paginationControl.matchedRouteParams)) }}">&laquo; Previous</a>
                {% endif %}
            </td>

            <td style="padding-right: 40px">
                {{ paginationControl.pages.current }}/{{ paginationControl.pages.pageCount }}
            </td>

            <td style="padding-right: 40px">
                {% if paginationControl.pages.next is not same as(null) %}
                    <a href="{{ url(paginationControl.matchedRouteName, {"page": paginationControl.pages.next}|merge(paginationControl.matchedRouteParams)) }}">Next &raquo;</a>
                {% endif %}

                {% if paginationControl.pages.next is not same as(null) %}
                    <a href="{{ url(paginationControl.matchedRouteName, {"page": paginationControl.pages.last}|merge(paginationControl.matchedRouteParams)) }}">Last &rarr;</a>
                {% else %}
                    {% if 1 != paginationControl.pages.pageCount and paginationControl.pages.current != paginationControl.pages.pageCount %}
                        Last &rarr;
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>
{% endif %}
