{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'admin_company/partials/navigation.twig' %}
    
    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>Company</h1>
        
        <p>Name: <b>{{ company.getName() }}</b></p>
        <p>Street: <b>{{ company.getAddress().getStreet() }} {{ company.getAddress().getNumber() }}</b></p>
        <p>City: <b>{{ company.getAddress().getPostal() }} {{ company.getAddress().getCity() }}</b></p>
        <p>Country: <b>{{ company.getAddress().getCountry() }}</b></p>
        <br />
        
        {% autoescape false %}
            {{ form }}
        {% endautoescape %}
    </div>
{% endblock %}
