{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'quiz/admin/quiz/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width round_remove_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The round was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width round_remove_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the round.</p>
        </div>
    </div>

    <div class="flashmessage info_message full_width round_sort_saving hide">
        <div class="title">Saving</div>
        <div class="content">
            <p>Saving the ordering of the rounds.</p>
        </div>
    </div>

    <div class="flashmessage success_message full_width round_sort_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The rounds were successfully reordered.</p>
        </div>
    </div>

    <div class="flashmessage error_message full_width round_sort_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to reorder the rounds.</p>
        </div>
    </div>

    <div id="controller_action">
        <h1>{{ quiz.getName() }}: Rounds</h1>
        <table class="manage">
            <thead>
            <tr>
                <th width="50px">#</th>
                <th>Name</th>
                <th width="100px">Max. Points</th>
                <th width="100px">Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for round in paginator %}
                <tr class="item" data-id="{{ round.getId() }}">
                    <td>{{ round.getOrder() }}</td>
                    <td>{{ round.getName() }}</td>
                    <td>{{ round.getMaxPoints() }}</td>
                    <td class="actions">
                        {% if hasAccess('quiz_admin_round', 'edit') %}
                            <a href="{{ url('quiz_admin_round', {"action": "edit", "id": round.getId(), "quizid": quiz.getId() }) }}"
                               class="edit">Edit</a>
                        {% endif %}
                        {% if hasAccess('quiz_admin_round', 'delete') %}
                            <a href="#" data-id="{{ round.getId() }}" data-name="{{ round.getName() }}" class="delete">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'admin/partials/paginationControl.twig' %}

        <div style="text-align: right; font-size: 7pt">(Drag and drop to change the order)</div>
        <button class="js-sortable-save edit hide">Save</button>
        <button class="js-sortable-cancel delete hide">Cancel</button>
    </div>

    <div class="modal fade" id="removeRound" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Round
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following round: <b class="name"></b>?
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <aside>
        {% if hasAccess('quiz_admin_quiz', 'edit') %}
            <div class="sidebox">
                <div class="title">Edit Quiz</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to edit the quiz!</i>
                    </p>
                    <p>
                        <a href="{{ url('quiz_admin_quiz', {"action": "edit", "id": quiz.getId()}) }}">&rarr; Edit
                            Quiz</a>
                    </p>
                </div>
            </div>
        {% endif %}

        {% if hasAccess('quiz_admin_round', 'add') %}
            <div class="sidebox">
                <div class="title">Add Round</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to add a round to this quiz!</i>
                    </p>
                    <p>
                        <a href="{{ url('quiz_admin_round', {"action": "add", "quizid": quiz.getId()}) }}">&rarr; Add
                            Round</a>
                    </p>
                </div>
            </div>
        {% endif %}

        {% if hasAccess('quiz_admin_team', 'manage') %}
            <div class="sidebox">
                <div class="title">Manage Teams</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to manage the teams!</i>
                    </p>
                    <p>
                        <a href="{{ url('quiz_admin_team', {"quizid": quiz.getId()}) }}">&rarr; Manage Teams</a>
                    </p>
                </div>
            </div>
        {% endif %}

        {% if hasAccess('quiz_admin_tiebreaker', 'manage') %}
            <div class="sidebox">
                <div class="title">Manage Tiebreaker</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to manage the tiebreaker!</i>
                    </p>
                    <p>
                        <a href="{{ url('quiz_admin_tiebreaker', {"quizid": quiz.getId()}) }}">&rarr; Manage
                            Tiebreaker</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openRemoveModal);

            $('.manage').sortableTable({
                buttons: {
                    save: $('.js-sortable-save'),
                    cancel: $('.js-sortable-cancel')
                },
                submitUrl: "{{ url('quiz_admin_round', {"action": "sort", "quizid": quiz.getId()}) }}",
                callbacks: {
                    saveSuccess: function () {
                        $('.manage tbody tr').each(function (i) {
                            $(this).find('td:first-child').text(i + 1);
                        });
                        $('.flashmessage').addClass('hide');
                        $('.round_sort_success').removeClass('hide');
                    },
                    saveError: function () {
                        $('.flashmessage').addClass('hide');
                        $('.round_sort_error').removeClass('hide');
                    },
                    beforeSave: function () {
                        $('.flashmessage').addClass('hide');
                        $('.round_sort_saving').removeClass('hide');
                    }
                }
            });
        });

        function openRemoveModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeRound = $('#removeRound');
            removeRound.find('.name').html($(this).data('name'));
            var id = $(this).data('id');
            removeRound.find('.delete').unbind('click').click(function () {
                $.post('{{ url('quiz_admin_round', {"action": "delete", "quizid": quiz.getId()}) }}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.round_remove_success').removeClass('hide');
                        $('.item[data-id=' + id + ']').remove();
                        removeRound.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeRound.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.round_remove_error').removeClass('hide');
            $('#removeRound').modal('hide');
        }
    </script>
{% endblock %}
