{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'admin/partials/flashMessenger.twig' %}

    {% include 'shift/admin/ranking/partials/navigation.twig' %}

    <div id="controller_action">
        {% for rankingCriterium, volunteers in ranking %}
            <h1>{{ rankingCriterium|capitalize }}</h1>
            <table class="full_width">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>E-mail</th>
                        <th>Address</th>
                        <th width="120px">Count</th>
                    </tr>
                </thead>

                <tbody>
                    {% for volunteer in volunteers %}
                        <tr class="item">
                            <td>{{ volunteer['person'].getFullName() }}</td>
                            <td>{{ volunteer['person'].getEmail() }}</td>
                            <td>
                                {% if volunteer['person'].getSecondaryAddress() is not null %}
                                    {{ volunteer['person'].getSecondaryAddress().getStreet() }} {{ volunteer['person'].getSecondaryAddress().getNumber() }} {% if '' != volunteer['person'].getSecondaryAddress().getMailbox() %}/{{ volunteer['person'].getSecondaryAddress().getMailbox() }}{% endif %}, {{ volunteer['person'].getSecondaryAddress().getPostal() }} {{ volunteer['person'].getSecondaryAddress().getCity() }}, {{ volunteer['person'].getSecondaryAddress().getCountry() }}
                                {% elseif volunteer['person'].getPrimaryAddress() is not null %}
                                    {{ volunteer['person'].getPrimaryAddress().getStreet() }} {{ volunteer['person'].getPrimaryAddress().getNumber() }} {% if '' != volunteer['person'].getPrimaryAddress().getMailbox() %}/{{ volunteer['person'].getPrimaryAddress().getMailbox() }}{% endif %}, {{ volunteer['person'].getPrimaryAddress().getPostal() }} {{ volunteer['person'].getPrimaryAddress().getCity() }}, {{ volunteer['person'].getPrimaryAddress().getCountry() }}
                                {% endif %}
                            </td>
                            <td>{{ volunteer['shiftCount'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}
