{% extends 'admin/base.twig' %}

{% block content %}

    {% include 'prom/admin/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <table class="full_width manage">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th width="70px">Code</th>
                <th width="70px">Actions</th>
            </tr>

            {% for passenger in passengers %}
                <tr>
                    <td>{{ passenger.getFirstName() }}</td>
                    <td>{{ passenger.getLastName() }}</td>
                    <td>{{ passenger.getEmail() }}</td>
                    <td>{{ passenger.getCode().getCode() }}</td>
                    <td class="actions">
                        {% if hasAccess('prom_admin_bus', 'delete') %}
                            <a href="{{ url('prom_admin_passenger', {"action": "removeBus", "id": passenger.getId()}) }}" class="delete">Remove</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>
{% endblock %}
