{% extends 'logistics/base.twig' %}

{% import 'site/partials/form.twig' as forms %}

{% block content %}
    <div class="page-header" style="overflow: hidden; margin-top: 10px">
        <div style="float:left;">
            <h1>{{ translate('Inventory') }}</h1>
        </div>
        <div class="pull-right" style="margin-top: 30px;">
            {% if hasAccess('logistics_inventory_article', 'search')%}
                <a href="#" id="searchArticles" class="btn btn-info">{{ translate('Search') }}</a>
            {% endif %}
            {% if hasAccess('logistics_inventory_article', 'add')%}
                <a href="{{ url('logistics_inventory_article', {"action" : 'add'}) }}" class="btn btn-success">{{ translate('New') }}</a>
            {% endif %}
        </div>
    </div>

    <div class="flashmessage alert alert-danger alert-fixed-top fade" id="keep_updated_error">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('An error occurred while updating your preferences.') }}
        </div>
    </div>

    {% if authenticatedPerson is null %}
        {{ translate('Please login to view articles.') }}
    {% else %}
        {% if hasAccess('logistics_inventory_article', 'search')%}
            <div id="searchArticlesPage" style="display: none;margin-top: 10px;">
                {{ forms.renderForm(searchForm) }}

                <table class="table mappings">
                    <thead>
                    <tr>
                        <th style="width: 20%">{{ translate('Name') }}</th>
                        <th class="hidden-xs" style="width: 20%">{{ translate('Status') }}</th>
                        {% if hasAccess('logistics_inventory_article', 'add') %}
                            <th class="hidden-xs" style="width: 20%">{{ translate('Internal comment') }}</th>
                        {% endif %}
                        <th class="hidden-xs" style="width: 20%">{{ translate('External comment') }}</th>
                        <th style="width: 10%">{{ translate('Amount') }}</th>
                        {% if hasAccess('logistics_inventory_article', 'edit') %}
                            <th style="width: 10%">{{ translate('Actions') }}</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="spacer">
                        <td colspan="7"></td>
                    </tr>
                    <tr class="category-title">
                        <td colspan="7"><i>{{ translate('No Articles Found') }}</i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if articles %}
        <div id="viewArticlesPage">
            <table class="table mappings">
                <thead>
                <tr>
                    <th style="width: 20%">{{ translate('Name') }}</th>
                    <th class="hidden-xs" style="width: 20%">{{ translate('Status') }}</th>
                    {% if hasAccess('logistics_inventory_article', 'add') %}
                        <th class="hidden-xs" style="width: 20%">{{ translate('Internal comment') }}</th>
                    {% endif %}
                    <th class="hidden-xs" style="width: 20%">{{ translate('External comment') }}</th>
                    <th style="width: 10%">{{ translate('Amount') }}</th>
                    {% if hasAccess('logistics_inventory_article', 'edit') %}
                        <th style="width: 10%">{{ translate('Actions') }}</th>
                    {% endif %}
                </tr>
                </thead>

                <tbody>
                {% for unit in units %}
                    <tr class="spacer">
                        <td colspan="7"></td>
                    </tr>
                    <tr id="{{ unit }}" class="category-name collapsed" data-content="{{ unit }}">
                        <td colspan="7" style="padding: 0">
                            <div>
                                <button type="button" class="collapse-btn" style="background-color: #D2D0F5; border: none; padding: 8px; width: 100%; text-align: left">
                                    <b>{{ unit }}</b>
                                    {#     <i class="ui-icon ui-icon-triangle-1-s" style="float: right"></i>   #}
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% if unit == 'Logistiek' %}
                        {% for category in categories %}
                            <tr id="{{ category }}" class="category-name collapsed {{ unit }}" data-content="{{ category }}">
                                <td colspan="7" style="padding: 0">
                                    <div>
                                        <button type="button" class="collapse-btn" style="background-color: #e9e8fc; border: none; padding: 6px 20px; width: 100%; text-align: left">
                                            <b>{{ category }}</b>
                                            <i class="ui-icon ui-icon-triangle-1-s" style="float: right"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>

                            {% for article in articles %}
                                {% if article.getCategory() == category %}
                                    <tr class="{{ unit }} {{ category }} hide">
                                        <td>{{ article.getName() }}</td>
                                        <td class="hidden-xs">{{ article.getStatus() }}</td>
                                        {% if hasAccess('logistics_inventory_article', 'add') %}
                                            <td class="hidden-xs">
                                                {% if article.getInternalComment()|length > 1 %}
                                                    <a rel="popover" data-original-title="{{ translate('Internal comment') }}"
                                                       data-content="{{ article.getInternalComment() }}"
                                                       class="label label-info">{{ translate('Comment') }}</a>
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        <td class="hidden-xs">
                                            {% if article.getExternalComment()|length > 1 %}
                                                <a rel="popover" data-original-title="{{ translate('External comment') }}"
                                                   data-content="{{ article.getExternalComment() }}"
                                                   class="label label-info">{{ translate('Comment') }}</a>
                                            {% endif %}
                                        </td>
                                        <td>{{ article.getAmount() }}</td>
                                        {% if hasAccess('logistics_inventory_article', 'add') %}
                                            <td class="actions">
                                                <a href="{{ url('logistics_inventory_article', {"action" : 'edit', "article" : article.getId()}) }}" class="btn btn-warning btn-sm">
                                                    {{ translate('Edit') }}
                                                </a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        {% for article in articles %}
                            {% if article.getUnit().getName() == unit %}
                                <tr class="{{ unit }} {{ category }} hide">
                                    <td>{{ article.getName() }}</td>
                                    <td class="hidden-xs">{{ article.getStatus() }}</td>
                                    {% if hasAccess('logistics_inventory_article', 'add') %}
                                        <td class="hidden-xs">
                                            {% if article.getInternalComment()|length > 1 %}
                                                <a rel="popover" data-original-title="{{ translate('Internal comment') }}"
                                                   data-content="{{ article.getInternalComment() }}"
                                                   class="label label-info">{{ translate('Comment') }}</a>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    <td class="hidden-xs">
                                        {% if article.getExternalComment()|length > 1 %}
                                            <a rel="popover" data-original-title="{{ translate('External comment') }}"
                                               data-content="{{ article.getExternalComment() }}"
                                               class="label label-info">{{ translate('Comment') }}</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ article.getAmount() }}</td>
                                    {% if hasAccess('logistics_inventory_article', 'add') %}
                                        <td class="actions">
                                            <a href="{{ url('logistics_inventory_article', {"action" : 'edit', "article" : article.getId()}) }}" class="btn btn-warning btn-sm">
                                                {{ translate('Edit') }}
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <div class="modal fade" id="searchRequest">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>{{ translate('Logistics') }}</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            {{ translate('This function is coming soon!') }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.category-name').click(collapseCategory);
            $('.unit-name').click(collapseCategory);
            $('#searchArticles').click(openSearchRequest);

            $('[rel=tooltip]').tooltip();
            $('a[rel=popover], span[rel=popover]').popover({'trigger': 'hover', 'html': true});
        });

        function openSearchRequest(e) {
            e.preventDefault();
            var revertRequest = $('#searchRequest');
            revertRequest.modal();
        }

        // TODO: fix this
        function collapseCategory(e) {
            var $this = $(this);

            e.preventDefault();
            var name = $this.data('content');
            var category = document.getElementById(name);
            var items = Array.from(document.getElementsByClassName(name));
            console.log(category);
            console.log(items);


            var icon = $this.find('.ui-icon');

            if (category.classList.contains("collapsed")) {
                items.forEach((item) => {
                    icon.removeClass("ui-icon-triangle-1-s");
                    icon.addClass("ui-icon-triangle-1-n");
                    item.classList.remove('hide');
                    if (item.classList.contains("collapsed")) {
                        item.classList.remove("collapsed");
                    }
                    category.classList.remove("collapsed");
                });
            } else {
                items.forEach((item) => {
                    icon.removeClass("ui-icon-triangle-1-n");
                    icon.addClass("ui-icon-triangle-1-s");
                    item.classList.add('hide');
                    category.classList.add("collapsed");
                });
            }
        }
    </script>
{% endblock %}

