{% extends 'logistics/base.twig' %}

{% block content %}
    <div class="page-header" style="overflow: hidden; margin-top: 10px">
        <div style="float:left;">
            <h1>{{ translate('Inventory') }}</h1>
        </div>
        <div class="pull-right" style="margin-top: 30px;">
            {% if hasAccess('logistics_inventory_article', 'search')%}
                <input type="text" id="searchString" class="search" placeholder={{ translate('Search') }} />
            {% endif %}
            {% if hasAccess('logistics_inventory_article', 'add')%}
                <a href="{{ url('logistics_inventory_article', {"action" : 'add'}) }}" class="btn btn-success" style="margin-left: 10px">{{ translate('New') }}</a>
            {% endif %}
        </div>
    </div>

    <div class="flashmessage alert alert-danger alert-fixed-top fade" id="keep_updated_error">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('An error occurred while updating your preferences.') }}
        </div>
    </div>

    {% if authenticatedPerson is null %}
        {{ translate('Please login to view articles.') }}
    {% else %}
        {% if hasAccess('logistics_inventory_article', 'search')%}
            <div id="article_search" style="display: none; margin-top: 20px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 20%">{{ translate('Name') }}</th>
                            <th class="hidden-xs" style="width: 20%">{{ translate('Status') }}</th>
                            {% if hasAccess('logistics_inventory_article', 'add') %}
                                <th class="hidden-xs" style="width: 20%">{{ translate('Internal comment') }}</th>
                            {% endif %}
                            <th class="hidden-xs" style="width: 20%">{{ translate('Comment') }}</th>
                            <th style="width: 10%">{{ translate('Amount') }}</th>
                            {% if hasAccess('logistics_inventory_article', 'edit') %}
                                <th style="width: 10%">{{ translate('Actions') }}</th>
                            {% endif %}
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="spacer">
                            <td colspan="7"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if articles %}
        <div id="default_page">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 20%">{{ translate('Name') }}</th>
                        <th class="hidden-xs" style="width: 20%">{{ translate('Status') }}</th>
                        {% if hasAccess('logistics_inventory_article', 'add') %}
                            <th class="hidden-xs" style="width: 20%">{{ translate('Internal comment') }}</th>
                        {% endif %}
                        <th class="hidden-xs" style="width: 20%">{{ translate('Comment') }}</th>
                        <th style="width: 10%">{{ translate('Amount') }}</th>
                        {% if hasAccess('logistics_inventory_article', 'edit') %}
                            <th style="width: 10%">{{ translate('Actions') }}</th>
                        {% endif %}
                    </tr>
                </thead>

                <tbody>
                {% for unit in units %}
                    <tr class="spacer">
                        <td colspan="7"></td>
                    </tr>
                    <tr id="{{ unit }}" class="unit-collapse collapsed" data-content="{{ unit }}">
                        <td colspan="7" style="padding: 0">
                            <div>
                                <button type="button" class="collapse-btn unit">
                                    <b>{{ unit }}</b>
                                    <i class="ui-icon ui-icon-triangle-1-e" style="float: right"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% if unit == 'Logistiek' %}
                        {% for category in categories %}
                            <tr id="{{ category }}" class="category-collapse collapsed {{ unit }}" data-content="{{ category }}">
                                <td colspan="7" style="padding: 0">
                                    <div>
                                        <button type="button" class="collapse-btn category">
                                            <b>{{ category }}</b>
                                            <i class="ui-icon ui-icon-triangle-1-e" style="float: right"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>

                            {% for article in articles %}
                                {% if article.getCategory() == category %}
                                    <tr class="item {{ category }} hide">
                                        <td>{{ article.getName() }}</td>
                                        <td class="hidden-xs">{{ article.getStatus() }}</td>
                                        {% if hasAccess('logistics_inventory_article', 'add') %}
                                            <td class="hidden-xs">
                                                {% if article.getInternalComment()|length > 1 %}
                                                    <a rel="popover" data-original-title="{{ translate('Internal comment') }}"
                                                       data-content="{{ article.getInternalComment() }}"
                                                       class="label label-info">{{ translate('Comment') }}</a>
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        <td class="hidden-xs">
                                            {% if article.getExternalComment()|length > 1 %}
                                                <a rel="popover" data-original-title="{{ translate('Comment') }}"
                                                   data-content="{{ article.getExternalComment() }}"
                                                   class="label label-info">{{ translate('Comment') }}</a>
                                            {% endif %}
                                        </td>
                                        <td>{{ article.getAmount() }}</td>
                                        {% if hasAccess('logistics_inventory_article', 'edit') %}
                                            <td class="actions">
                                                {#           TODO: add detail pop-up              #}
                                                <a href="{{ url('logistics_inventory_article', {"action" : 'edit', "article" : article.getId()}) }}" class="btn btn-warning btn-xs">
                                                    {{ translate('Edit') }}
                                                </a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        {% for article in articles %}
                            {% if article.getUnit().getName() == unit %}
                                <tr class="item {{ unit }} hide">
                                    <td>{{ article.getName() }}</td>
                                    <td class="hidden-xs">{{ article.getStatus() }}</td>
                                    {% if hasAccess('logistics_inventory_article', 'add') %}
                                        <td class="hidden-xs">
                                            {% if article.getInternalComment()|length > 1 %}
                                                <a rel="popover" data-original-title="{{ translate('Internal comment') }}"
                                                   data-content="{{ article.getInternalComment() }}"
                                                   class="label label-info">{{ translate('Comment') }}</a>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    <td class="hidden-xs">
                                        {% if article.getExternalComment()|length > 1 %}
                                            <a rel="popover" data-original-title="{{ translate('Comment') }}"
                                               data-content="{{ article.getExternalComment() }}"
                                               class="label label-info">{{ translate('Comment') }}</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ article.getAmount() }}</td>
                                    {% if hasAccess('logistics_inventory_article', 'edit') %}
                                        <td class="actions">
                                            {#           TODO: add detail pop-up              #}
                                            <a href="{{ url('logistics_inventory_article', {"action" : 'edit', "article" : article.getId()}) }}" class="btn btn-warning btn-xs">
                                                {{ translate('Edit') }}
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <div class="modal fade" id="searchRequest">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>{{ translate('Logistics') }}</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            {{ translate('This function is coming soon!') }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.unit-collapse').click(collapse);
            $('.category-collapse').click(collapse);

            $('[rel=tooltip]').tooltip();
            $('a[rel=popover], span[rel=popover]').popover({'trigger': 'hover', 'html': true});
            {% if hasAccess('logistics_inventory_article', 'search') %}
                $.searchDatabase({
                    defaultPage:   $('#default_page'),
                    searchDiv:      $('#article_search'),
                    searchString:   $('#searchString'),
                    searchField:    $('<select id="searchField"><option value="name"></option></select>'),
                    articleSearch: '{{ url('logistics_inventory_article', {'action': 'index'}) }}',
                    url:           '{{ url('logistics_inventory_article', {'action': 'search'}) }}',
                    display: function (data) {
                        const table = $('#article_search table');
                        table.find('tr.item').remove();
                        $(data).each(function () {
                            table.append(row = $('<tr>', {class: 'item item-' + this.id}));
                            row.append('<td>' + this.name + '</td>')
                                .append('<td>' + this.status + '</td>')
                                {% if hasAccess('logistics_inventory_article', 'add') %}
                                    .append(
                                        internalComment = $('<td>')
                                    )
                                {% endif %}
                                .append(
                                    externalComment = $('<td>')
                                )
                                .append('<td>' + this.amount + '</td>')
                                // TODO: add actions
                                .append(
                                    actions = $('<td>', {'class': 'actions'})
                                );
                            {% if hasAccess('logistics_inventory_article', 'add') %}
                                if (this.internalComment.length) {
                                    internalComment.append('<a rel="popover" data-original-title="{{ translate('Internal comment') }}" data-content="' + this.internalComment + '" class="label label-info">{{ translate('Comment') }}</a>')
                                }
                            {% endif %}
                            if (this.externalComment.length) {
                                externalComment.append('<a rel="popover" data-original-title="{{ translate('Comment') }}" data-content="' + this.externalComment + '" class="label label-info">{{ translate('Comment') }}</a>')
                            }
                            {% if hasAccess('logistics_inventory_article', 'edit') %}
                                actions.append('<a href="{{ url('logistics_inventory_article') }}edit/' + this.id + '" class="btn btn-warning btn-xs">Edit</a>');
                            {% endif %}
                        });
                        table.change();

                        $('#default_page').remove();
                    },
                    clear: function () {
                        $('#article_search table').find('tr.item').remove();
                    }
                });
            {% endif %}
        });

        function openSearchRequest(e) {
            e.preventDefault();
            const revertRequest = $('#searchRequest');
            revertRequest.modal();
        }

        // TODO: fix that this collapses in a better way
        function collapse(e) {
            e.preventDefault();
            const $this = $(this);
            const name = $this.data('content');
            const collapsable = document.getElementById(name);
            const items = Array.from(document.getElementsByClassName(name));
            const icon = $this.find('.ui-icon');

            console.log(name)
            console.log(collapsable)
            console.log(items)

            if (collapsable.classList.contains("collapsed")) {
                items.forEach((item) => {
                    icon.removeClass("ui-icon-triangle-1-e");
                    icon.addClass("ui-icon-triangle-1-s");
                    item.classList.remove('hide');
                    if (item.classList.contains("collapsed")) {
                        item.classList.remove("collapsed");
                    }
                    collapsable.classList.remove("collapsed");
                });
            } else {
                items.forEach((item) => {
                    icon.removeClass("ui-icon-triangle-1-s");
                    icon.addClass("ui-icon-triangle-1-e");
                    item.classList.add('hide');
                    collapsable.classList.add("collapsed");
                });
            }
        }
    </script>
{% endblock %}

