{% extends 'site/base.twig' %}

{% block content %}
    {% import 'site/partials/form.twig' as forms %}

    <div class="page-header">
        <h1>{{ translate('Shifts') }}</h1>
    </div>

    <div class="row-fluid">
        <span class="span4">
            <h2>Search</h2>

            <div class="well well-small">
                <h4>{{ translate('By Event') }}</h4>

                {{ forms.renderForm(eventSearchForm) }}
            </div>

            <div class="well well-small">
                <h4>{{ translate('By Unit') }}</h4>

                {{ forms.renderForm(unitSearchForm) }}
            </div>
        </span>
        <span class="span8">
            <h2>My Shifts</h2>

            <h2>Results</h2>
            {% if searchResults is not null %}
                {{ _self.displayShifts(searchResults, 'search') }}
            {% else %}
                <div class="alert alert-warning">
                    There are no shifts to be shown yet; please use the search functions on the left.
                </div>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% macro displayShifts(shifts, accordionName) %}
    <div class="accordion" id="shifts-{{ accordionName }}">
        {% for shift in shifts %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#shifts-{{ accordionName }}" href="#collapse_shift-{{ shift.getId() }}">
                        {{ shift.getName() }}

                        <span class="pull-right">
                            <button class="btn btn-mini btn-info" type="button">Enroll</button>
                        </span>
                    </a>
                </div>
                <div id="collapse_shift-{{ shift.getId() }}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class="row-fluid">
                            <span class="span8">
                                <div class="row-fluid">
                                    <span class="span6">
                                        <dl>
                                            <dt>{{ translate('Start') }}</dt>
                                            <dd>{{ shift.getStartDate().format('d/m/Y H:i') }}</dd>
                                            <dt>{{ translate('End') }}</dt>
                                            <dd>{{ shift.getEndDate().format('d/m/Y H:i') }}</dd>
                                        </dl>
                                    </span>

                                    <span class="span6">
                                        <dl>
                                            <dt>{{ translate('Manager') }}</dt>
                                            <dd>{{ shift.getManager().getFullName() }}</dd>

                                            {% if shift.getEvent() is not null %}
                                                <dt>{{ translate('Event') }}</dt>
                                                <dd>Test</dd>
                                            {% endif %}
                                            <dt>{{ translate('Unit') }}</dt>
                                            <dd>{{ shift.getUnit().getName() }}</dd>
                                        </dl>
                                    </span>
                                </div>
                                <div class="row-fluid">
                                    <span class="span12">
                                        <dl>
                                            <dt>{{ translate('Location') }}</dt>
                                            <dd><img class="img-rounded" src="{{ staticMapUrl(shift.getLocation(), '367x125', '7a43b6') }}" /></dd>
                                        </dl>
                                    </span>
                                </div>
                            </span>
                            <span class="span4">
                                <dl>
                                    <dt>{{ translate('Responsibles') }}</dt>
                                    <dd class="text-warning">Pieter Maene</dd>
                                    <dd class="text-warning">Pieter Maene</dd>
                                    <dd class="text-warning">Pieter Maene</dd>
                                    <dd class="text-warning">Pieter Maene</dd>
                                    <dd class="text-warning">Pieter Maene</dd>
                                </dl>

                                <dl>
                                    <dt>{{ translate('Volunteers') }}</dt>
                                    <dd class="text-warning">Pieter Maene</dd>
                                    <dd class="text-warning">Pieter Maene</dd>
                                    <dd class="text-warning">Pieter Maene</dd>
                                    <dd class="text-warning">Pieter Maene</dd>
                                    <dd class="text-warning">Pieter Maene</dd>
                                </dl>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning">
                No shifts were found that match the given query.
            </div>
        {% endfor %}
    </div>
{% endmacro %}
