{% extends 'logistics/base.twig' %}

{% block content %}

    <div class="flashmessage alert alert-error fade in load_error hide">
        <a class="close" data-dismiss="alert">&times;</a>
        <div class="content">
            There was an error while loading the reservations.
        </div>
    </div>

    <div id="calendar"></div>

    <div id="popover_header" class="hide">
        <b class="reason"></b>
        <div class="pull-right"><a class="close">&times;</a></div>
    </div>

    <div id="popover_content" class="hide">
        <dl class="dl-horizontal">
            <dt>Start</dt>
            <dd><span class="start"></span></dd>

            <dt>End</dt>
            <dd><span class="end"></span></dd>

            <dt>Load</dt>
            <dd><span class="load"></span></dd>

            <dt>Additional Info</dt>
            <dd><span class="additional"></span></dd>

            <dt>Passenger</dt>
            <dd><span class="passenger"></span></dd>

            <dt>Driver</dt>
            <dd><span class="driver"></span></dd>
        </dl>

        {% if has_access('admin_van_reservation', 'edit') %}
            <hr />

            <a class="btn btn-primary pull-right" href="#">{{ translate('Edit') }}</a>
        {% endif %}
    </div>

    <div id="add_popover_content" class="hide">
        <div  id="add_popover_content_internal">
            <dl class="dl-horizontal">
                <dt>Start</dt>
                <dd><span class="start"></span></dd>

                <dt>End</dt>
                <dd><span class="end"></span></dd>
            </dl>

            {% if has_access('admin_van_reservation', 'edit') %}
                <hr />

                <a class="btn btn-primary pull-right" href="#">{{ translate('Edit') }}</a>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        var poppedElement = null;

        $(document).ready(function() {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: false,
                slotMinutes: 15,
                theme: true,
                allDaySlot: false,
                allDayDefault: false,
                firstHour: 7,
                firstDay: 1,
                defaultView: 'agendaWeek',

                timeFormat: {
                    agenda: 'H:mm{ - H:mm}',
                    '': 'H:mm'
                },
                columnFormat: {
                    month: 'ddd',    // Mon
                    week: 'ddd d/M', // Mon 9/7
                    day: 'dddd d/M'  // Monday 9/7
                },
                axisFormat: 'H:mm',

                eventSources: [
                    {
                        events: function(start, end, callback) {

                            $('.load_error').addClass('hide');

                            // Use UNIX Timestamps
                            start = Math.round(start.getTime() / 1000);
                            end = Math.round(end.getTime() / 1000);

                            $.post('{{ url('logistics_reservation_fetch', {}) }}' + start + '/' + end, function (data) {
                                if (data && 'success' == data.status) {
                                    reservations = data.reservations;

                                    var events = [];
                                    for (index in reservations) {

                                        var reservation = reservations[index];

                                        events.push({
                                            title: reservation.reason,
                                            start: reservation.start,
                                            end: reservation.end,
                                            color: reservation.driver.color,

                                            // Custom Properties
                                            driver: reservation.driver.name,
                                            passenger: reservation.passenger,
                                            load: reservation.load,
                                            additional: reservation.additionalInfo,
                                            dbid: reservation.id,

                                        });
                                    }

                                    callback(events);

                                } else {
                                    errorFetch();
                                }
                            }, 'json').error(errorFetch);

                        }
                    }

                ],

                loading: function(isLoading, view) {
                    if (isLoading) {
                        $('#calendar').addClass('loading');
                    } else {
                        $('#calendar').removeClass('loading');
                    }
                },

                eventAfterRender: function(event, element, view) {
                    $('#popover_header .reason').text(event.title);

                    {% if has_access('admin_van_reservation', 'edit') %}
                        $("#popover_content a").attr("href", '{{ url('admin_van_reservation', {'action': 'edit'}) }}' + event.dbid + '/return/logistics_index');
                        $("#popover_content a").html('Edit');
                        $("#popover_content a").removeClass("hide");
                    {% else %}
                        $("#popover_content a").addClass("hide");
                    {% endif %}

                    $('#popover_content .start').text(formatDate(event.start));
                    $('#popover_content .end').text(formatDate(event.end));
                    $('#popover_content .load').text(event.load);
                    $('#popover_content .passenger').text(event.passenger);
                    $('#popover_content .additional').text(event.additional);
                    $('#popover_content .driver').text(event.driver);

                    element.popover({placement:'right', title:$('#popover_header').html(), content:$('#popover_content').html(), trigger:'manual'});
                },

                eventClick : function(event, jsEvent, view) {

                    showPopover($(this));
                },

                viewDisplay : function(view) {
                    hideAll();
                },

                {% if has_access('admin_van_reservation', 'add') %}
                selectable: true,
                select : function( startDate, endDate, allDay, jsEvent, view ) {

                    if (poppedElement != null) {
                        poppedElement.popover('hide');
                        poppedElement = null;
                    }

                    showPopover($('.fc-header-title'));

                    $('#add_popover_content_internal .start').text(formatDate(startDate));
                    $('#add_popover_content_internal .end').text(formatDate(endDate));


                    {% if has_access('admin_van_reservation', 'add') %}
                        $("#add_popover_content_internal a").attr("href", '{{ url('admin_van_reservation', {'action': 'add'}) }}start/' + startDate.valueOf() / 1000 + '/end/' + endDate.valueOf() / 1000 + '/return/logistics_index');
                        $("#add_popover_content_internal a").html('Add');
                        $("#add_popover_content_internal a").removeClass("hide");
                    {% else %}
                        $("#add_popover_content_internal a").addClass("hide");
                    {% endif %}
                },

                {% endif %}

            });

            $('#popover_header .reason').text('New Event');

            var content = $('#add_popover_content').html();

            $('.fc-header-title').popover({placement:'bottom', title:$('#popover_header').html(), content:content, trigger:'manual'});

            $('.popover .close').live('click',function(){
                hidePopover(poppedElement);
            });

        });

        function formatDate(date) {
            return $.fullCalendar.formatDate(date, 'dd/MM/yyyy H:mm')
        }

        function hidePopover(element) {
            element.popover('hide');
            if (poppedElement != null && poppedElement.is(element)) {
                poppedElement = null;
            }
        }

        function showPopover(element) {
            if (poppedElement != null) {
                poppedElement.popover('hide');
            }

            if (poppedElement != null && poppedElement.is(element)) {
                poppedElement = null;
            } else {
                element.popover('show');
                poppedElement = element;
            }
        }

        function hideAll() {
            $('.popover').remove();
        }

        function errorFetch() {
            $('.flashmessage').addClass('hide');
            $('#calendar').removeClass('loading');
            $('.load_error').removeClass('hide');
        }
    </script>
{% endblock %}