{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_supplier/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
	    <h1>Supplier</h1>
	    
	    <p>Name: <b>{{ supplier.getName() }}</b></p>
	    <p>Phone Number: <b>{{ supplier.getPhoneNumber() }}</b></p>
	    <p>Street: <b>{{ supplier.getAddress().getStreet() }} {{ supplier.getAddress().getNumber() }}</b></p>
	    <p>City: <b>{{ supplier.getAddress().getPostal() }} {{ supplier.getAddress().getCity() }}</b></p>
	    <p>Country: <b>{{ supplier.getAddress().getCountry() }}</b></p>
	    <br />
	    
		{% autoescape false %}
	    	{{ form }}
	    {% endautoescape %}
	</div>
{% endblock %}
