{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'syllabus/admin/group/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width group_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The group was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width group_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the group.</p>
        </div>
    </div>

    {% include 'syllabus/admin/group/partials/years.twig' %}

    <div id="controller_action">
        <table class="full_width manage">
            <tr>
                <th>Name</th>
                <th width="100px">CV Book</th>
                <th width="100px">Students</th>
                <th width="70px">Actions</th>
            </tr>

            {% for group in paginator %}
                <tr class="item item-{{ group.getId() }}">
                    <td>{{ group.getName() }}</td>
                    <td>{% if group.getCvBook() %}&times;{% endif %}</td>
                    <td>{{ group.getNbStudents(currentAcademicYear) }}</td>
                    <td class="actions">
                        {% if hasAccess('syllabus_admin_group', 'edit') %}
                            <a href="{{ url('syllabus_admin_group', {'action': 'edit', 'id': group.getId(), 'academicyear': currentAcademicYear.getCode()}) }}" class="edit">Edit</a>
                        {% endif %}
                        {% if hasAccess('syllabus_admin_group', 'delete') %}
                            <a href="#" data-id="{{ group.getId() }}" data-group="{{ group.getName() }}" class="delete">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal fade" id="removeGroup" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Group
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following group: <b class="groupName"></b>!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeGroup = $('#removeGroup');
            removeGroup.find('.groupName').html($(this).data('group'));
            var id = $this.data('id');
            removeGroup.find('.delete').unbind('click').click(function () {
                $.post('{{ url('syllabus_admin_group', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.group_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeGroup.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeGroup.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.group_removed_error').removeClass('hide');
            $('#removeGroup').modal('hide');
        }
    </script>
{% endblock %}
