{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('Registration') }}</h1>
    </div>

    <div class="row page">
        <div class="span12">
            {% if form %}
                {% import 'site/partials/form.twig' as forms %}
                {{ forms.renderForm(form) }}
            {% else %}
                <div style="text-align: center;">
                    <p style="text-align: center;">
                        {% autoescape false %}
                            {{ translate('To register, please first login with your KU Leuven&mdash;Central Login') }}
                        {% endautoescape %}
                    </p>
                    <a class="btn btn-info" href="{{ registerShibbolethUrl }}">{% autoescape false %}{{ translate('KU Leuven&mdash;Central Login') }}{% endautoescape  %}</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#become_member').change(toggleMember);
            toggleMember();
        });

        function toggleMember() {
            if ($('#become_member').is(':checked'))
                $('#organisation_info .control-group').show();
            else
                $('#organisation_info .control-group').hide();
            $('#become_member, #conditions').closest('.control-group').show();
        }
    </script>
{% endblock %}