{% extends 'site/base.twig' %}

{% block content %}
    {% import _self as self %}

    <div class="flashmessage alert alert-success fade" id="sign_out">
        <div class="content">
            {{ translate('You canceled your interest in the selected retail!') }}
        </div>
    </div>
    <div class="flashmessage alert alert-danger fade" id="error">
        <div class="content">
            {{ translate('An error occurred while processing your request!') }}
        </div>
    </div>

    <div class="page-header">
        <h1>{{ translate('Second-Hand Book Sales') }}</h1>
    </div>

    <div id="modalDeleteDeal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4>{{ translate('Delete deal') }}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        {{ translate('') }}
                    </p>
                    <p>
                        {{ translate('Do you want to continue?') }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary confirm">{{ translate('Yes') }}</button>
                    <button class="btn btn-default deny">{{ translate('No') }}</button>
                </div>
            </div>
        </div>
    </div>

    {% include 'cudi/retail/partials/navigation.twig' %}
    <div>
        <p>{{ retailMyDealsText }}</p>
    </div>

    <div class="row">
        <div class="well">
            <h2>{{ translate('My deals') }}</h2>
            {{ self.displayDeals(myDeals, 'myDeals') }}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    {% import _self as self %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.signOut').click(function () {
                let button = $(this);
                let id = '#modalDeleteDeal';
                console.log(button.data('id'))

                $(id).modal();
                $(id +' .confirm').one('click', function (){
                    $(id).modal('hide');
                    deleteDeal(button);
                });

                $(id +' .deny').one('click', function () {
                    $(id).modal('hide');
                });
            });
        });

        function deleteDeal(button) {
            $.post(
                '{{ url('cudi_retail', {"action": "deleteDeal"}) }}'+ button.data('id'),
                {id: button.data('id')},
                function (data) {
                    if (data && 'success' === data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#sign_out').addClass('in');

                        var panel = $(button.data('panel')).clone();
                        panel.find('.buttons').html('').css('display', 'none');

                        panel.fadeIn();
                        $('#deals-myDeals ' + button.data('panel')).fadeOut(function () {
                            $(this).remove()
                        });
                    } else {
                        error();
                    }
                },
                'json'
            ).error(error);
        }


        function error() {
            $('.flashmessage').removeClass('in');
            $('#error').addClass('in');
        }
    </script>

{% endblock %}

{% macro displayDeals(deals, accordionName) %}
    {% import _self as self %}
    <div class="panel-group" id="deals-{{ accordionName }}">
        {% for deal in deals %}
            <div class="panel panel-default" id="group_{{ accordionName }}_deal-{{ deal.getId() }}">
                <div class="panel-heading">
                    <span class="buttons pull-right hidden-xs hidden-sm">
                        {{ self.buttons(deal, accordionName) }}
                    </span>
                    <a class="panel-toggle" data-toggle="collapse" data-parent="#deals-{{ accordionName }}" href="#collapse_{{ accordionName }}_deal-{{ deal.getId() }}" style="overflow: hidden;">
                        {{ deal.getRetail().getArticle().getTitle() }} <br> €{{ deal.getRetail().getPrice()|number_format(2) }}  |  {{ deal.getRetail().getVisibleOwnerName() }}
                    </a>
                </div>
                <div id="collapse_{{ accordionName }}_deal-{{ deal.getId() }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="buttons hidden-md hidden-lg" style="text-align: right">
                            {{ self.buttons(deal, accordionName) }}
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <dl>
                                    <dt>{{ translate('Book') }}</dt>
                                    <dd>{{ deal.getRetail().getArticle().getTitle() }}</dd>
                                    <dt>{{ translate('Price') }}</dt>
                                    <dd>€{{ deal.getRetail().getPrice()|number_format(2) }}</dd>
                                    <dt>{{ translate('Seller') }}</dt>
                                    <dd>{{ deal.getRetail().getVisibleOwnerName() }}</dd>
                                </dl>
                            </div>
                        </div>
                        <dl>
                            <dt>{{ translate('Description') }}</dt>
                            <dd style="text-align: justify;">{{ deal.getRetail().getComment() }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning">
                {{ translate('You currently have no deals. Enquire about a retail to make a deal.') }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro buttons(deal, accordionName) %}
    <button class="btn btn-warning btn-xs signOut" data-id="{{ deal.getId() }}" data-panel="#group_{{ accordionName }}_deal-{{ deal.getId() }}" type="button">
        {{ translate('Sign Out') }}
    </button>
{% endmacro %}

