{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/sales/financial/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        {% if organizations|length > 1 %}
            <div style="padding:4px;text-align:right">
                Organization:
                <select id="organizationField">
                    <option value="all">All</option>
                    {% for organization in organizations %}
                        <option value="{{ organization.getId() }}">{{ organization.getName() }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        <table class="full_width manage">

            <tr>
                <th>Manager</th>
                <th width="110px">Start</th>
                <th width="110px">End</th>
                <th width="135px">Theoretical Revenue</th>
                <th width="105px">Actual Revenue</th>
                <th width="90px">Delta</th>
                <th width="60px">Action</th>
            </tr>

            {% for session in paginator %}
                <tr class="item">
                    <td>{{ session.getManager().getFullName() }}</td>
                    <td>{{ session.getOpenDate().format('Y-m-d H:i') }} </td>
                    <td>{% if not session.isOpen() %}{{ session.getCloseDate().format('Y-m-d H:i') }}{% endif %}</td>
                    {% set theoreticalRevenue = session.getTheoreticalRevenue() %}
                    {% set actualRevenue = session.getActualRevenue() %}
                    <td class="organization organization-all">&euro; {{ (theoreticalRevenue/100)|number_format(2) }}</td>
                    <td class="organization organization-all">&euro; {{ (actualRevenue/100)|number_format(2) }}</td>
                    <td class="organization organization-all">&euro; {% if theoreticalRevenue - actualRevenue < 0 %}+{% endif %}{{ ((actualRevenue - theoreticalRevenue)/100)|number_format(2) }}</td>
                    {% for organization in organizations %}
                        {% set theoreticalRevenue = session.getTheoreticalRevenue(organization) %}
                        {% set actualRevenue = session.getActualRevenue() %}
                        <td class="organization organization-{{ organization.getId() }}" style="display: none;">&euro; {{ (theoreticalRevenue/100)|number_format(2) }}</td>
                        <td class="organization organization-{{ organization.getId() }}" style="display: none;">&euro; {{ (actualRevenue/100)|number_format(2) }}</td>
                        <td class="organization organization-{{ organization.getId() }}" style="display: none;">&euro; {% if theoreticalRevenue - actualRevenue < 0 %}+{% endif %}{{ ((actualRevenue - theoreticalRevenue)/100)|number_format(2) }}</td>
                    {% endfor %}
                    <td class="actions">
                        {% if hasAccess('cudi_admin_sales_session', 'edit') %}
                            <a href="{{ url("cudi_admin_sales_session", {"action": "edit", "id": session.getId()}) }}" class="edit">Edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#organizationField').change(function() {
                $('.item .organization').hide();
                $('.item .organization-' + $(this).find(':selected').val()).show();
            });
        });
    </script>
{% endblock %}