{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'cudi/admin/sales/financial/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
		<table class="full_width manage">

		    <tr>
		        <th>Article</th>
		        <th width="70px">In Stock</th>
		        <th width="80px">Unit Sell</th>
		    	<th width="105px">Unit Purchase</th>
		        <th width="80px">Total Sell</th>
		    	<th width="105px">Total Purchase</th>
		    	<th width="70px">Action</th>
		    </tr>

		    {% for article in paginator %}
		        <tr>
		            <td>{{ article.getMainArticle().getTitle() }}</td>
		            <td>{{ article.getStockValue() }} </td>
		            <td>&euro; {{ (article.getSellPrice()/100)|number_format(2) }}</td>
		            <td>&euro; {{ (article.getPurchasePrice()/100)|number_format(2) }}</td>
		            <td>&euro; {{ (article.getSellPrice()*article.getStockValue()/100)|number_format(2) }}</td>
		            <td>&euro; {{ (article.getPurchasePrice()*article.getStockValue()/100)|number_format(2) }}</td>
		            <td class="actions">
					    {% if hasAccess('admin_stock', 'edit') %}
    					    <a href="{{ url("admin_stock", {"action": "edit", "id": article.getId()}) }}" class="edit">Edit</a>
    					{% endif %}
					</td>
		        </tr>
		    {% endfor %}
		</table>

		{% include 'admin/partials/paginationControl.twig' %}
	</div>
{% endblock %}
