{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        {% if hasAccess('calendar', 'export') %}
            <div class="pull-right" style="line-height: 50px">
                <a href="{{ url('calendar_export') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-down"></span> {{ translate('Download') }}
                </a>
            </div>
        {% endif %}
        <h1>{{ translate('Calendar') }}</h1>
    </div>

    <div class="row" id="calendar"></div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').calendar(
                {
                    url: '{{ url('calendar', {'action': 'month'}) }}',
                    month: {{ date.format('m') }},
                    year: {{ date.format('Y') }},
                    previousText: '{{ translate('Previous') }}',
                    nextText: '{{ translate('Next') }}',
                    viewText: '{{ translate('View') }}',
                }
            );
        });
    </script>
{% endblock %}
