{% extends 'site/base.twig' %}

{% block content %}
    <div class="container">
        <div class="page-header">
            {% if hasAccess('calendar', 'export') %}
                <a class="pull-right calendarButton" href="{{ url('calendar_export') }}">
                    <span class="glyphicon glyphicon-arrow-down"></span> {{ translate('Download') }}
                </a>
            {% endif %}
            <h1>{{ translate('Calendar') }}</h1>
        </div>

        <div id="calendar"></div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').calendar(
                {
                    url: '{{ url('calendar', {'action': 'month'}) }}',
                    month: {{ date.format('m') }},
                    year: {{ date.format('Y') }},
                    previousText: '{{ translate('Previous') }}',
                    nextText: '{{ translate('Next') }}',
                    viewText: '{{ translate('View') }}',
                }
            );
        });
    </script>
{% endblock %}
