{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h2>{{ translate('Calendar') }}</h2>
    </div>

    <div class="item">
        <span class="date left">{{ dateLocalized(event.getStartDate(), 'd MMM') }}</span>

        <i class="icon-time"></i> {{ dateLocalized(event.getStartDate(), 'HH:mm') }}&mdash;{{ event.getTitle(language) }}
        {% if event.getPoster() %}
            <div class="row">
                <div class="span3">
                    <img src="{{ url('calendar', {'action':'poster', 'name': event.getPoster()}) }}" alt="{{ event.getTitle(language) }}"/>
                </div>
                <div class="span9">
                    <blockquote>
                        {% autoescape false %}
                            {{ markdown(event.getContent(language)) }}
                        {% endautoescape %}
                    </blockquote>
                </div>
            </div>
        {% else %}
            <blockquote>
                {{ markdown(event.getContent(language)) }}
            </blockquote>
        {% endif %}
    </div>
{% endblock %}
