{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/stock/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>General</h1>
        <p>Article: <b>{{ article.getMainArticle().getTitle() }}</b></p>
        <p>Barcode: <b>{{ article.getBarcode() }}</b></p>
        <p>Supplier: <b>{{ article.getSupplier().getName() }}</b></p>
        <br style="clear:both" />
        <h1>Delta's</h1>
        <table class="full_width manage">
            <tr>
                <th>Person</th>
                <th width="120px">Date</th>
                <th width="80px">Delta</th>
                <th width="230px">Comment</th>
                <th width="70px">Actions</th>
            </tr>

            {% for delta in paginator %}
                <tr class="item">
                    <td>{{ delta.getPerson().getFullName() }}</td>
                    <td>{{ delta.getTimestamp().format('Y-m-d H:i:s') }}</td>
                    <td>{{ delta.getValue() }}</td>
                    <td>{{ delta.getSummary() }}</td>
                    <td class="actions">
                        <a href="#" class="view" data-text="{{ delta.getComment() }}">View</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal fade" id="viewComment" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delta Comment
                </div>
                <div class="modal-body">
                    <pre class="text"></pre>
                    <br style="clear:both" />
                    <div class="footer">
                        <button data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .view').click(openViewModal);
        });

        function openViewModal(e) {
            var $this = $(this);

            e.preventDefault();
            var viewComment = $('#viewComment');
            viewComment.find('.text').html($this.data('text'));
            viewComment.modal();
        }
    </script>
{% endblock %}
