{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/cv/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width cv_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The cv was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width cv_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete a cv.</p>
        </div>
    </div>

    {% include 'br/admin/cv/partials/years.twig' %}

    <div id="controller_action">
        <table class="manage">
            <thead>
                <tr>
                    <th>Name</th>
                    <th width="120px">Action</th>
                </tr>
            </thead>

            <tbody>
                {% for cv in paginator %}
                    <tr class="item item-{{ cv.getId() }}">
                        <td>{{ cv.getAcademic().getFullName() }}</td>
                        <td class="actions">
                            <ul>
                                {% if hasAccess('br_admin_cv_entry', 'delete') %}
                                    <li><a href="#" class="delete" data-id="{{ cv.getId() }}" data-name="{{ cv.getAcademic().getFullName() }}">Delete</a></li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <aside>
        {% if hasAccess('br_admin_cv_entry', 'export') %}
            <div class="sidebox">
                <div class="title">Export CVs</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to export the CVs!</i>
                    </p>
                    <p>
                        <a href="{{ url('br_admin_cv_entry', {"action": "export", "academicyear": activeAcademicYear.getCode()}) }}">&rarr; Export CVs</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('br_admin_cv_entry', 'exportAcademics') %}
            <div class="sidebox">
                <div class="title">Export Academics</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to export the academics!</i>
                    </p>
                    <p>
                        <a href="{{ url('br_admin_cv_entry', {"action": "exportAcademics", "academicyear": activeAcademicYear.getCode()}) }}">&rarr; Export Academics</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('br_admin_cv_entry', 'exportCvCsv') %}
            <div class="sidebox">
                <div class="title">Export CV as CSV</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to export the cv in csv format!</i>
                    </p>
                    <p>
                        <a href="{{ url('br_admin_cv_entry', {"action": "exportCvCsv", "academicyear": activeAcademicYear.getCode()}) }}">&rarr; Export CV as CSV</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('br_admin_cv_entry', 'synchronize') %}
            <div class="sidebox">
                <div class="title">Synchronize cv-book</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to synchronize the online version of the cv-book pdf with the cvs!</i>
                    </p>
                    <p>
                        <a href="{{ url('br_admin_cv_entry', {"action": "synchronize", "academicyear": activeAcademicYear.getCode()}) }}">&rarr; Synchronize cv-book</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>

    <div class="modal fade" id="removeCv" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete CV
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following CV: <b class="academicName"></b>!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeCv = $('#removeCv');
            removeCv.find('.academicName').html($(this).data('name'));
            var id = $this.data('id');
            removeCv.find('.delete').unbind('click').click(function () {
                $.post('{{ url('br_admin_cv_entry', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.cv_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeCv.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeCv.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.cv_removed_error').removeClass('hide');
            $('#removeCv').modal('hide');
        }
    </script>
{% endblock %}
