{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/match/partials/navigation.twig' %}
    {% include 'br/admin/match/wave/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width wave_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The wave was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width wave_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete a wave.</p>
        </div>
    </div>

    <div id="controller_action">
        <table class="full_width manage">
            <tr>
                <th>Name</th>
                <th width="150px">Creation Date</th>
                <th width="80px">Generated</th>
                <th width="80px">Action</th>
            </tr>

            {% for wave in paginator %}

                <tr class="item item-{{ wave.getId() }}">
                    <td>{{ wave.getName() }}</td>
                    <td>{{ dateLocalized(wave.getCreationTime(), 'd/MM/y HH:mm')  }}</td>
                    <td>{{ wave.isGenerated()?"Yes" : "No" }}</td>
                    <td class="actions">
                        {% if hasAccess('br_admin_match_wave', 'generateWaves') %}
                            <a href="{{ url('br_admin_match_wave', {"action": "generateWaves", "id": wave.getId()}) }}" class="feature">Generate Waves</a>
                        {% endif %}
                        {% if hasAccess('br_admin_match_wave', 'view') %}
                            <a href="{{ url('br_admin_match_wave', {"action": "view", "id": wave.getId()}) }}" class="view">View</a>
                        {% endif %}
                        {% if hasAccess('br_admin_match_wave', 'edit') %}
                            <a href="{{ url('br_admin_match_wave', {"action": "edit", "id": wave.getId()}) }}" class="edit">Edit</a>
                        {% endif %}
                        {% if hasAccess('br_admin_match_wave', 'delete') %}
                            <a href="#" class="delete" data-id="{{ wave.getId() }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}

        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal fade" id="removeWave" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Wave
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following wave: <b class="waveTitle"></b>!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">

        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeWave = $('#removeWave');
            removeWave.find('.waveTitle').html($(this).data('title'));
            var id = $this.data('id');
            removeWave.find('.delete').unbind('click').click(function () {
                $.post('{{ url('br_admin_match_wave', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.wave_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeWave.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeWave.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.wave_removed_error').removeClass('hide');
            $('#removeWave').modal('hide');
        }

    </script>
{% endblock %}
