{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'br/admin/overview/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
        <table class="full_width manage">
            <tr>
                <th>Amount of contracts</th>
                <th>Contracted Revenue</th>
                <th>Paid Revenue</th>
            </tr>
            <tr class="overview">
                    <td>{{totals['amount']}}</td>
                    <td>&euro; {{totals['contract']}}</td>
                    <td>&euro; {{totals['paid']}}</td>
            </tr>
        </table><br>

		<table class="full_width manage">
            <tr>
                <th>Person</th>
                <th>Amount of contracts</th>
                <th>Contracted Revenue</th>
                <th>Paid Revenue</th>
                <th width="70px">Actions</th>
            </tr>
            {% for entry in array %}
				<tr class="item item-{{ entry['person'].getId() }}">
                    <td>{{entry['person'].getFullName()}}</td>
                    <td>{{entry['amount']}}</td>
                    <td>&euro; {{entry['contract']}}</td>
                    <td>&euro; {{entry['paid']}}</td>
                    <td class="actions">
                    	{% if hasAccess('br_admin_overview', 'view') %}
                            <a href="{{ url('br_admin_overview', {"action": "view", "id": entry['person'].getId()}) }}" class="view">View</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
	    </table>

		{% include 'admin/partials/paginationControl.twig' %}
	</div>
{% endblock %}