{% extends 'corporate/partials/cv.twig' %}

{% block cvcontent %}

    <div class="accordion" id="accordion" data-collapse-type="manual">

        {% for study in studies %}

            <div class="accordion-group accordion-group-study">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#body-study-{{ study.id }}">
                        {{ study.name }}
                    </a>
                </div>
                <div id="body-study-{{ study.id }}" class="accordion-body collapse">
                    <div class="accordion-inner">

                        <div class="accordion" id="accordion-study-{{ study.id }}" data-collapse-type="manual">

                            {% for entry in study.entries %}

                                <div class="accordion-group accordion-group-entry" id="accordion-group-{{ entry.getId() }}">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle entry-toggle" data-toggle="collapse" data-parent="#accordion-study-{{ study.id }}" href="#body-entry-{{ entry.getId() }}">
                                            {{ entry.getFirstName() }} {{ entry.getLastName() }}
                                        </a>
                                    </div>
                                    <div id="body-entry-{{ entry.getId() }}" class="accordion-body collapse">
                                        <div class="accordion-inner">

                                            <div class="accordion" data-collapse-type="manual">

                                                {% import 'corporate/partials/showcv.twig' as cv %}
                                                {{ cv.displayEntry(entry) }}

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}