{% extends 'corporate/base.twig' %}

{% block content %}

    {% include 'corporate/partials/cv_navbar.twig' %}

    <div class="flashmessage alert alert-error full_width search_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to perform the search.</p>
        </div>
    </div>

    <div style="text-align:right;">
        <select id="searchtype" name="searchtype">
            <option value="text">By Name</option>
            <option value="grade">By Grade</option>
        </select>
        <input id="searchbox" type="text" class="search-query" placeholder="{{ translate('Search') }}">
    </div>

    <div class="accordion" id="accordion" data-collapse-type="manual">

        {% for study in studies %}


            <div class="accordion-group accordion-group-study">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#body-study-{{ study.id }}">
                        {{ study.name }}
                    </a>
                </div>
                <div id="body-study-{{ study.id }}" class="accordion-body collapse">
                    <div class="accordion-inner">

                        <div class="accordion" id="accordion-study-{{ study.id }}" data-collapse-type="manual">

                            {% for entry in study.entries %}

                                <div class="accordion-group accordion-group-entry" id="accordion-group-{{ entry.getId() }}">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle entry-toggle" data-toggle="collapse" data-parent="#accordion-study-{{ study.id }}" href="#body-entry-{{ entry.getId() }}">
                                            {{ entry.getFirstName() }} {{ entry.getLastName() }}
                                        </a>
                                    </div>
                                    <div id="body-entry-{{ entry.getId() }}" class="accordion-body collapse">
                                        <div class="accordion-inner">

                                            <div class="accordion" data-collapse-type="manual">

                                                {% import 'corporate/partials/showcv.twig' as cv %}
                                                {{ cv.displayEntry(entry) }}

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}

{% block content_script %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.entry-toggle').click(function() {
                var element = $(this).parent().parent().find('.profile-picture');
                element.attr('src', element.attr('data-url'));
            });

            $('#searchbox').bind("input propertychange", function(){
                var $this = $(this);
                var delay = 200; // delay after last input

                clearTimeout($this.data("timer"));
                $this.data("timer", setTimeout(function(){
                    $this.removeData("timer");

                    // Do your stuff after 2 seconds of last user input
                    if ($('#searchtype').val() == 'text')
                        performSearch($('#searchbox').val());
                    else {
                        var min = $('#searchbox').val();
                        filterGrade(min, 100);
                    }

                }, delay));
            });
        });

        function performSearch(text) {
            $.post('{{ url('corporate_cv', {"action": "search"})}}string/' + text, function (data) {
                $('.accordion-group-entry').hide();
                $('.accordion-group-study').show();
                $.each(data, function(index, element) {

                    $('#accordion-group-' + element).show();

                });
                $('.accordion-group-study:not(:has(.accordion-group-entry:visible))').hide();
            }, 'json').error(errorSearch);
        }

        function filterGrade(min, max) {
            $.post('{{ url('corporate_cv', {"action": "search"})}}min/' + min + '/max/' + max, function (data) {
                $('.accordion-group-entry').hide();
                $('.accordion-group-study').show();
                $.each(data, function(index, element) {

                    $('#accordion-group-' + element).show();

                });
                $('.accordion-group-study:not(:has(.accordion-group-entry:visible))').hide();
            }, 'json').error(errorSearch);
        }

        function errorSearch() {
            $('.search_error').show();
        }

    </script>

{% endblock %}