{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'shop/admin/reservation-permission/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width ban_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The ban was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width ban_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the ban.</p>
        </div>
    </div>


    <div id="controller_action">
        <div id="ban_search" style="display: none;">
            <div style="padding: 4px; text-align: right">
                Search:
                <select id="searchField">
                    <option value="name">Name</option>
                </select>
                is
                <input type="text" id="searchString" size="30"/>
            </div>

            <table class="full_width manage">
                <tr>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th width="70px">Actions</th>
                </tr>
            </table>
        </div>

        <div id="default_page">
            <table class="full_width manage">
                <tr>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th width="70px">Actions</th>
                </tr>

                {% for ban in paginator %}
                    <tr class="item item-{{ ban.getId() }}">
                        <td>{{ ban.getPerson().getFullName() }}</td>
                        <td>{{ ban.getStartTimestamp().format('d/m/Y H:i') }}</td>
                        <td>{{ ban.getEndTimestamp().format('d/m/Y H:i') }}</td>
                        <td class="actions">
                            {% if hasAccess('shop_admin_shop_reservationpermission', 'delete') %}
                                <a href="#" data-id="{{ ban.getPerson().getId() }}" data-name="{{ ban.getPerson.getFullName() }}" class="delete">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% include 'admin/partials/paginationControl.twig' %}
        </div>
    </div>

    <div class="modal fade" id="removeBan" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Ban
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following reservation ban : <b class="name"></b>?
                        Please note that this operation cannot be undone!
                    </p>

                    <p>
                        Are you sure you want to continue?
                    </p>

                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if hasAccess('shop_admin_shop_reservationpermission', 'search') %}
            $.searchDatabase({
                defaultPage: $('#default_page'),
                searchDiv: $('#ban_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                searchPage: '{{ url('shop_admin_shop_reservationpermission', {'action': 'manage'}) }}manage/',
                url: '{{ url('shop_admin_shop_reservationpermission', {'action': 'search'}) }}',
                display: function (data) {
                    $('#ban_search table').find('tr.item').remove();
                    $(data).each(function () {
                        $('#ban_search table').append(row = $('<tr>', {class: 'item item-' + this.id}));
                        row.append('<td>' + this.name + '</td>')
                            .append('<td>' + this.startTimestamp + '</td>')
                            .append('<td>' + this.endTimestamp + '</td>')
                            .append(
                                actions = $('<td>', {'class': 'actions'})
                            );
                        {% if hasAccess('common_admin_faq', 'delete') %}
                        actions.append($('<a href="#" class="delete" data-id="' + this.id + '" data-name="' + this.name + '">Delete</a>'));
                        {% endif %}
                    )
                    });
                    $('#ban_search .delete').click(openDeleteModal);
                    $('#ban_search table').change();
                },
                clear: function () {
                    $('#ban_search table').find('tr.item').remove();
                }
            });
            {% endif %}

            $('.item .delete').click(openDeleteModal);
        });

        function openDeleteModal(e) {
            var $this = $(this);
            e.preventDefault();
            var removeBan = $('#removeBan');
            removeBan.find('.name').html($(this).data('name'));
            removeBan.find('.cancel').one('click', function () {
                removeBan.modal('hide');
            });
            var id = $this.data('id');
            removeBan.find('.delete').unbind('click').click(function () {
                $.post('{{ url('shop_admin_shop_reservationpermission', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.ban_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeBan.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeBan.modal();
        }

        function errorRemove(req, text, err) {
            $('.flashmessage').addClass('hide');
            $('.ban_removed_success').removeClass('hide');
            $('#removeBan').modal('hide');
        }
    </script>
{% endblock %}
