{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'shop/admin/reservation-permission/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width permission_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The permission was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width permission_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the permission.</p>
        </div>
    </div>
    <div class="flashmessage success_message full_width permission_toggled_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The permission was successfully toggled!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width permission_toggled_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to toggle the permission.</p>
        </div>
    </div>


    <div id="controller_action">
        <div id="reservationpermission_search" style="display: none;">
            <div style="padding: 4px; text-align: right">
                Search:
                <select id="searchField">
                    <option value="name">Name</option>
                </select>
                is
                <input type="text" id="searchString" size="30"/>
            </div>

            <table class="full_width manage">
                <tr>
                    <th>Name</th>
                    <th>Reservations allowed</th>
                    <th width="70px">Actions</th>
                </tr>
            </table>
        </div>

        <div id="default_page">
            <table class="full_width manage">
                <tr>
                    <th>Name</th>
                    <th>Reservations allowed</th>
                    <th width="70px">Actions</th>
                </tr>

                {% for permission in paginator %}
                    <tr class="item item-{{ permission.getPerson().getId() }}">
                        <td>{{ permission.getPerson.getFullName() }}</td>
                        <td><input class="reservations-checkbox" type="checkbox"
                                   {% if permission.getReservationsAllowed() %}checked{% endif %} }}
                                   disabled/></td>
                        <td class="actions">
                            {% if hasAccess('shop_admin_shop_reservationpermission', 'togglepermission') %}
                                <a href="#" data-id="{{ permission.getPerson().getId() }}"
                                   class="edit toggle-permission">Toggle permission</a>
                            {% endif %}
                            {% if hasAccess('shop_admin_shop_reservationpermission', 'delete') %}
                                <a href="#" data-id="{{ permission.getPerson().getId() }}" class="delete">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% include 'admin/partials/paginationControl.twig' %}
        </div>
    </div>

    <div class="modal fade" id="removePermission" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Reservation Permission
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following reservation permission: <b class="name"></b>?
                        Please note that this operation cannot be undone!
                    </p>

                    <p>
                        Are you sure you want to continue?
                    </p>

                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if hasAccess('shop_admin_shop_reservationpermission', 'search') %}
            $.searchDatabase({
                defaultPage: $('#default_page'),
                searchDiv: $('#reservationpermission_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                searchPage: '{{ url('shop_admin_shop_reservationpermission', {'action': 'manage'}) }}manage/',
                url: '{{ url('shop_admin_shop_reservationpermission', {'action': 'search'}) }}',
                display: function (data) {
                    $('#reservationpermission_search table').find('tr.item').remove();
                    $(data).each(function () {
                        $('#reservationpermission_search table').append(row = $('<tr>', {class: 'item item-' + this.id}));
                        row.append('<td>' + this.name + '</td>')
                                .append($('<td>')
                                        .append($('<input>', {type: "checkbox"})
                                                .addClass('reservations-checkbox')
                                                .attr('checked', this.reservationsAllowed)))
                                .append(
                                $('<td>', {'class': 'actions'})
                                        .append($('<a href="#" class="edit toggle-permission" data-id="' + this.id + '">Toggle permission</a>'))
                                        .append($('<a href="#" class="delete" data-id="' + this.id + '" data-name="' + this.name + '">Delete</a>'))
                        );
                    });
                    $('#reservationpermission_search .delete').click(openDeleteModal);
                    $('#reservationpermission_search .toggle-permission').click(togglePermission);
                    $('#reservationpermission_search table').change();
                },
                clear: function () {
                    $('#reservationpermission_search table').find('tr.item').remove();
                }
            });
            {% endif %}

            $('.item .delete').click(openDeleteModal);
            $('.item .toggle-permission').click(togglePermission);
        });

        function openDeleteModal(e) {
            var $this = $(this);
            e.preventDefault();
            var removePermission = $('#removePermission');
            removePermission.find('.name').html($(this).data('name'));
            removePermission.find('.cancel').one('click', function () {
                removePermission.modal('hide');
            });
            var id = $this.data('id');
            removePermission.find('.delete').unbind('click').click(function () {
                $.post('{{ url('shop_admin_shop_reservationpermission', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.permission_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removePermission.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removePermission.modal();
        }

        function togglePermission() {
            var self = $(this);
            var id = self.data().id;
            $.post("{{ url('shop_admin_shop_reservationpermission', {"action": "togglepermission"}) }}" + id, function (data) {
                if (data && 'success' == data.status) {
                    $('.flashmessage').addClass('hide');
                    $('.permission_toggled_success').removeClass('hide');
                    var checkbox = $('.item-' + id + ' .reservations-checkbox');
                    checkbox.prop('checked', !checkbox.prop('checked'));
                } else {
                    errorToggle();
                }
            }, 'json').error(errorToggle);
        }

        function errorToggle(req, text, err) {
            $('.flashmessage').addClass('hide');
            $('.permission_toggled_error').removeClass('hide');
        }

        function errorRemove(req, text, err) {
            $('.flashmessage').addClass('hide');
            $('.permission_removed_success').removeClass('hide');
            $('#removePermission').modal('hide');
        }
    </script>
{% endblock %}
