{% extends 'run/base.twig' %}

{% block content %}
    <div class="flashmessage alert alert-success fade" id="added_success">
        <a class="close">&times;</a>
        {{ translate('You have been succesfully added to the queue.') }}
    </div>

    <div class="page-header">
        <h1>{{ translate('Queue') }}</h1>
    </div>

    <div class="row">
        <div class="col-md-3 justify">
            <p>{{ translate('When you want to run a lap, you should first fill out this form and you will then be added to the runner queue.') }}</p>
        </div>
        <div class="col-md-9">
            {% import 'site/partials/form.twig' as forms %}
            {{ forms.renderForm(form) }}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).runQueue({
                url: '{{ socketUrl }}',
                key: '{{ key }}',
                authSession: '{{ authSession.getId() }}',
                errorDialog: $('#loading_queue_error'),
            });

            $('#queue').click(function (e) {
                if ($('#university_identification').val().length != 8)
                    return;

                e.preventDefault();
                $(document).runQueue('addToQueue', {
                    universityIdentification: $('#university_identification').val(),
                    lastName: $('#last_name').val(),
                    firstName: $('#first_name').val(),
                    department: $('#department').val(),
                });
                $('#university_identification').removeProp('disabled').val('');
                $('#last_name').removeProp('disabled').val('');
                $('#first_name').removeProp('disabled').val('');
                $('#added_success').addClass('in');
                setTimeout(function () {$('.flashmessage').removeClass('in')}, 2000);
            }).prop('disabled', 'disabled');

            $('#first_name, #last_name, #university_identification').keyup(function () {
                if ($('#first_name').val() != '' && $('#last_name').val() != '') {
                    $('#queue').removeProp('disabled');
                } else {
                    $('#queue').prop('disabled', 'disabled');
                }
            });

            $('#university_identification').bind('keyup blur', getName);

            $('#university_identification').each(function () {
                $(this).trigger('keyup');
            });
        });

        function getName() {
            var $this = $(this);
            if (8 == $(this).val().length) {
                $.get('{{ url('sport_run_queue', {"action": "getName"})}}' +  $(this).val(), function (data) {
                    if (data && 'success' == data.status) {
                        var fieldSet = $this.closest('fieldset');

                        fieldSet.find('#first_name').val(data.firstName).addClass('uneditable-input').attr('disabled', 'disabled');
                        fieldSet.find('#last_name').val(data.lastName).addClass('uneditable-input').attr('disabled', 'disabled');
                        $('#queue').removeProp('disabled');
                    }
                }, 'json');
            }
        }
    </script>
{% endblock %}
