{% extends 'career/partials/layout.twig' %}

{% block page_content %}

    <div class="span2">
        {% if vacancy.getCompany().getLogo() %}
            {% if vacancy.getCompany().getPage() %}
            <a href="{{ url('career_company',{ 'action': 'view', 'company': vacancy.getCompany().getSlug() }) }}">
            {% endif %}
                <img src="{{ url('admin_company', {'action': 'logo', 'id': vacancy.getCompany().getLogo()}) }}" alt="{{ vacancy.getCompany().getName() }}">
            {% if vacancy.getCompany().getPage() %}
            </a>
            {% endif %}
        {% endif %}
        <center class="company-name">{{ vacancy.getCompany().getName() }}</center>


        {% if vacancy.getCity() %}

            <hr/>

            <center>
                <strong>
                    Location: {{ vacancy.getCity() }}
                </strong>
            </center>

        {% endif %}

    </div>
    <div class="span10">
        <h1>{{ vacancy.getName() }}</h1>
        <div class="accordion" id="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#about">
                        Description
                    </a>
                </div>
                <div id="about" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        {{ vacancy.getDescription() }}
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#profile">
                        Profile
                    </a>
                </div>
                <div id="profile" class="accordion-body collapse">
                    <div class="accordion-inner">
                        {{ vacancy.getProfile() }}
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#knowledge">
                        Required Knowledge
                    </a>
                </div>
                <div id="knowledge" class="accordion-body collapse">
                    <div class="accordion-inner">
                        {{ vacancy.getRequiredKnowledge() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}