{% extends 'career/partials/layout.twig' %}

{% block page_content %}

    <h1>Partners van vtk</h1>
    <div style="height: 30px"></div>

    <div class="flashmessage alert alert-danger full_width search_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to perform the search.</p>
        </div>
    </div>

    {# SEARCH BOX LATER TERUG TOEVOEGEN -- DISPLAY:NONE, nodig voor werking v companies ...#}
    <div style="text-align:right;margin-bottom: 10px; display: none" class="form-inline">
        <select id="sector" class="form-control" name="Sector" required="required">
            {% for sector_id, sector_name in possible_sectors %}
                <option value={{ sector_id }}>{{ sector_name }}</option>
            {% endfor %}
        </select>
        <input id="searchbox" type="text" class="search-query form-control" placeholder="{{ translate('Search') }}">
    </div>

    <div class="largeCompanyHolder">
        <div style="padding: 20px">
            <div class="companyLogoHolder"></div>
        </div>
        <div class="br-spacer"></div>
        <div style="padding: 10px 0px">
            <h4 style="text-transform: uppercase">Vlaamse Technische Kring</h4>
            <p>Welkom op de website van de Vlaamse Technische Kring, de vereniging van de studenten Burgerlijk Ingenieur en Burgerlijk Ingenieur-Architect aan de KU Leuven. Welkom op de website van de Vlaamse Technische Kring, de vereniging van de studenten Burgerlijk Ingenieur en Burgerlijk Ingenieur-Architect aan de KU Leuven.</p>
            <p class="br-jobIndication"> STAGES </p>
            <p class="br-jobIndication"> JOBS </p>
            <p class="br-jobIndication"> VAKANTIEJOBS </p>
        </div>
    </div>
    <div id="companies" class="br-companiesholder" style="min-height: 100px">
    </div>

    <div style="height: 100px"></div>

{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#searchbox').bind("input propertychange", function() {
                setTimer(500);
            });

            $('#sector').change(function(){
                setTimer(500);
            });

            performSearch();

            function setTimer(delay) {
                var $this = $(this)

                clearTimeout($this.data("timer"));
                $this.data("timer", setTimeout(function() {
                    $this.removeData("timer");
                    performSearch();
                }, delay));
            }
        });

        function performSearch() {
            $('#companies').html('').spin({
                color: '#ccc',
                length: 0,
                width: 4,
                lines: 10
            });

            $.ajax({
                type: "POST",
                url: '{{ url('br_career_company', {'action': 'search'}) }}',
                data: {query: '%' + $('#searchbox').val() + '%', sector: $('#sector').val()},
                success: function (data) {
                    $('#companies').html('');
                    $.each(data, function(index, element) {
                        element.logo ?
                        $('#companies').append(
                            $('<a>', {'class': 'br-smallcompany', 'href': '{{ url("br_career_company", {"action": "view"}) }}' + element.slug}).append(
                                $('<div>').append(
                                            element.logo ?
                                                $('<div>').css({'margin': 'auto', 'max-width': '120px', 'height': '75px', 'background-position': 'center', 'background-repeat': 'no-repeat', 'background-size': 'contain', 'background-image' : 'url("/{{ logoPath }}/' + element.logo + '")', 'max-width': '120px', 'vertical-align': 'middle'})
                                                :
                                                $('<h4>').html(element.name),
                                            $('<h4>').html(element.name)
                                        ).css({'display': 'block', 'margin': '0 auto', 'text-align': 'center', 'position': 'relative'}),
                                $('<div>').append(
                                        $('<div>' , {'class': 'br-jobIndication'}).html('Stages'), 
                                        $('<div>' , {'class': 'br-jobIndication'}).html('Vakantiejobs'), 
                                        $('<div>' , {'class': 'br-jobIndication'}).html('Jobs'), 
                                    )
                                )
                        ) : '';
                    });
                },
                dataType: 'json',
                error: errorSearch,
                }
            );
        }

        function errorSearch() {
            $('.search_error').show();
        }
    </script>
{% endblock %}
