<html lang="en">
<head>

    {{ headMeta() }}
    {{ headTitle('24h-Run', 'PREPEND') }}

    {{ headLink() }}
</head>

<body>
    <div class="container">
        {% include 'run/partials/flashMessenger.twig' %}

        <div id="content_controller">
            <div id="noCurrentLap" class="flashmessage alert alert-error fade">
                <span style="font-size: 18px;">There is nobody running!</span>
            </div>

            <div class="row">
                <div class="span4 columns">
                    <h2>Laps</h2>

                    <p>
                        We have run <span id="nbOfficialLaps" class="label label-important" style="font-size: 16px;">N/A</span> <span id="nbOfficialLapsText">laps</span> and we are <span id="behindFirstOne"><span id="nbLapsBehind" class="label label-important" style="font-size: 16px;"></span> laps behind the first one</span><span id="firtOne" class="label label-success" style="font-size: 16px;display: none">first</span>!
                    </p>

                    <h2>Runners</h2>

                    <p>
                        There <span id="uniqueRunnersTextVerb">have</span> been <span id="uniqueRunners" class="label label-success" style="font-size: 16px;">N/A</span> unique <span id="uniqueRunnersText">runners</span>.
                    </p>

                    <h2>Groups of Friends</h2>

                    <table class="table table-striped" style="width: 90%">
                        <thead>
                            <tr>
                                <th width="80%">Name</th>
                                <th width="20%">Points</th>
                            </tr>
                        </thead>

                        <tbody id="groupsOfFriends">
                            <tr>
                                <td colspan="3"><i>There are no groups of friends!</i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="span8 columns">
                    <div class="row">
                        <h2>Current Runner</h2>
                        <div id="currentLap" class="well">
                            <h4 id="currentLapRunnerName" style="margin-top: 0;">Nobody</h4>

                            <div id="currentLapInfo" style="display: none">
                                <span id="currentLapTime"></span>,
                                <span id="officialSpeed">N/A</span> km/h

                                <div class="progress progress-striped active" style="margin-bottom: 0;">
                                    <div class="bar" style="width: 0%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span4">
                            <h3>Previous Runners</h3>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="20px">#</th>
                                        <th width="200px">Runner</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>

                                <tbody id="previousRunners">
                                    <tr>
                                        <td colspan="3"><i>There are no previous runners!</i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="span4">
                            <h3>Next Runners</h3>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="20px">#</th>
                                        <th>Runner</th>
                                    </tr>
                                </thead>

                                <tbody id="nextRunners">
                                    <tr>
                                        <td colspan="3"><i>There are no next runners!</i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ inlineScript() }}

    <script type="text/javascript">
        var counter;
        $(document).ready(function () {
            $(document).runQueue({
                url: '{{ socketUrl }}',
                errorDialog: $('#loading_queue_error'),
                displayLaps: displayLaps
            });

            setInterval(updateLapInfo, 1000)
        });

        function displayLaps(data) {
            $('#nbOfficialLaps').html(data.number.official);
            $('#nbOfficialLapsText').html((data.number.official == 1 ? 'lap' : 'laps'));
            $('#uniqueRunners').html(data.number.uniqueRunners);
            $('#uniqueRunnersText').html((data.number.uniqueRunners == 1 ? 'runner' : 'runners'));
            $('#uniqueRunnersTextVerb').html((data.number.uniqueRunners == 1 ? 'has' : 'have'));

            if (data.officialResults.behind > 0) {
                $('#nbLapsBehind').html(data.officialResults.behind);
                $('#behindFirstOne').show();
                $('#firtOne').hide();
            } else {
                $('#behindFirstOne').hide();
                $('#firtOne').show();
            }

            var foundCurrent = false;
            $('#previousRunners').html('');
            $('#nextRunners').html('');
            $('#groupsOfFriends').html('');

            $(data.laps).each(function (num, lap) {
                if (lap.state == 'current') {
                    var lapTime = parseInt(lap.lapTime.substring(0, lap.lapTime.indexOf(':')), 10) * 60 + parseInt(lap.lapTime.substring(lap.lapTime.indexOf(':') + 1), 10);

                    $('#noCurrentLap').removeClass('in');
                    $('#currentLapRunnerName').html(lap.fullName);
                    $('#currentLapInfo').show().data({
                        'startSimulationTime': lapTime,
                        'lapTime': lapTime,
                        'position': data.officialResults.position,
                        'speed': data.officialResults.speed,
                    });
                    $('#currentLapTime').html(lap.lapTime);
                    $('#officialSpeed').html(data.officialResults.speed);
                    $('#currentLapInfo .bar').css('width', data.officialResults.position + '%');

                    foundCurrent = true;
                } else if (lap.state == 'previous') {
                    $('#previousRunners').prepend(
                        $('<tr>').append(
                            $('<td>').html(0),
                            $('<td>').html(lap.fullName),
                            $('<td>').html(lap.lapTime)
                        )
                    );
                } else if (lap.state == 'next') {
                    $('#nextRunners').append(
                        $('<tr>').append(
                            $('<td>').html($('#nextRunners tr').length + 1),
                            $('<td>').html(lap.fullName)
                        )
                    );
                }
            });

            var counter = 1;
            $('#previousRunners tr').each(function () {
                $(this).find('td:first').html(counter++);
            });

            $(data.groupsOfFriends).each(function (num, group) {
                $('#groupsOfFriends').append(
                    $('<tr>').append(
                        $('<td>').html(group.name),
                        $('<td>').html(group.points)
                    )
                );
            });

            if ($('#previousRunners tr').length == 0)
                $('#previousRunners').html('<tr><td colspan="3"><i>There are no previous runners!</i></td></tr>');
            if ($('#nextRunners tr').length == 0)
                $('#nextRunners').html('<tr><td colspan="3"><i>There are no next runners!</i></td></tr>');
            if ($('#groupsOfFriends tr').length == 0)
                $('#groupsOfFriends').html('<tr><td colspan="3"><i>There are no groups of friends!</i></td></tr>');

            if (!foundCurrent) {
                $('#currentLapRunnerName').html('Nobody');
                $('#noCurrentLap').addClass('in');
                $('#currentLapInfo').hide();
            }
        }

        function updateLapInfo() {
            if (!$('#currentLapInfo').is(':visible'))
                return;

            var lapTime = $('#currentLapInfo').data('lapTime');
            lapTime++;
            $('#currentLapInfo').data('lapTime', lapTime);
            $('#currentLapTime').html(Math.floor(lapTime / 60) + ':' + (lapTime % 60 < 10 ? "0" + lapTime % 60 : lapTime % 60));

            $('#currentLapInfo .bar').css('width', ($('#currentLapInfo').data('position') / $('#currentLapInfo').data('startSimulationTime') * lapTime) + '%');
        }
    </script>

</body>
</html>