{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('My Textbook Bookings') }}</h1>
    </div>

	<div class="flashmessage error_message full_width booking_canceled_error hide">
		<div class="title">Error</div>
		<div class="content">
			<p>An error occurred while trying to cancel the booking. Please try again later.</p>
		</div>
	</div>

    <div class="row page">
        <div class="span12">
            {% if authenticatedPerson == null %}
				{{ translate('Please log in to view your textbook bookings.') }}
			{% else %}
            	<table class="table">
            		<tr>
            			<th> {{ translate('Article') }} </th>
            			<th> {{ translate('Authors') }} </th>
            			<th> {{ translate('Price / piece') }} </th>
            			<th> # </th>
            			<th> {{ translate('Expiration Date') }} </th>
            			<th> {{ translate('Status') }} </th>
            			<th> {{ translate('Actions') }} </th>
        			</tr>
        			{% for booking in bookings %}
	            		<tr class="item item-{{ booking.getId() }} {% if 'assigned' == booking.getStatus() %} succes {% endif %}">
	            			<td> {{ booking.getArticle().getMainArticle().getTitle() }} </td>
	            			<td> {{ booking.getArticle().getMainArticle().getAuthors() }} </td>
	            			<td>&euro; {{ (booking.getArticle().getSellPrice()/100)|number_format(2) }}</td>
	            			<td> {{ booking.getNumber() }} </td>
	            			<td> {{ booking.getExpirationDate().format('D d/m/Y') }} </td>
	            			<td> {{ translate(booking.getStatus()) }} </td>
	            			<td>
	            				{% if booking.getArticle().isUnbookable() %}
	            					<a href="#" class="cancel" data-id="{{ booking.getId() }}" data-title="{{ booking.getArticle().getMainArticle().getTitle() }}">
	            						{{ translate('Cancel') }}
            						</a>
	            				{% endif %}
							</td>
	        			</tr>
        			{% endfor %}
            	</table>

            	<a href={{ url('cudi_booking', {"action" : 'book', "language" : language.getAbbrev()}) }} class="btn btn-primary pull-right">{{ translate('Book Textbooks') }}</a>

            {% endif %}
        </div>
    </div>

	<div class="modal hide fade" id="cancelBooking">
		<div class="modal-header">
			<span>Cursusdienst</span>
		</div>
		<div class="modal-body">
			<p>
				{{ translate('Are you sure you want to cancel the following article:') }} <b class="articleTitle"></b>?
			</p>
			<div class="footer">
				<input type="button" class="continue" value="Yes">
				<input type="button" class="cancel" data-dismiss="modal" value="No">
			</div>
		</div>
	</div>
{% endblock %}

{% block content_script %}
	<script type="text/javascript">

		$(document).ready(function () {

			$('.item .cancel').click(openModal);

		});

		function openModal(e) {
			var $this = $(this);

			e.preventDefault();
			var cancelBooking = $('#cancelBooking');
			cancelBooking.find('.articleTitle').html($(this).data('title'));
			var id = $this.data('id');
			cancelBooking.find('.continue').unbind('click').click(function () {
				$.post('{{ url('cudi_booking', {"action": "cancel"})}}/' + id, function (data) {
				    if (data && 'success' == data.status) {
				    	$('.flashmessage').addClass('hide');
    					$('.item-' + id).remove();
    					$('#cancelBooking').modal('hide');
    				} else {
    				    errorRemove();
    				}
				}, 'json').error(errorRemove);
			});
			cancelBooking.modal();
		}

		function errorRemove() {
    		$('.flashmessage').addClass('hide');
    		$('.booking_canceled_error').removeClass('hide');
    		$('#cancelBooking').modal('hide');
		}

	</script>
{% endblock %}