{% extends 'site/base.twig' %}

{% block content %}
    <div class="container">
        
        {% import 'admin/partials/form.twig' as forms %}
        
        <div class="standardPageTitleHolder">
            <h1>{{ shopName }} - {{ translate('Reserve') }}</h1>
            <div class="pageTitleDeco"></div>
        </div>

        {# {% include 'shop/shop/partials/navigation.twig' %} #}
        <div class="flashmessage alert alert-danger fade" id="error">
            <div class="content">
                {{ translate('An error occurred while processing your reservation!') }}
            </div>
        </div>

        <div style="text-align: justify;">
            {% if canReserveResponse.canReserve() %}
                <div style="height: 20px"></div>
                {{ translate("You can reserve some items from the shop. Be aware that you might lose the permission to reserve items if you don't come and buy your reserved items on the right date.") }}
                <div style="height: 30px"></div>
                <div>
                    {% if form is defined %}
                        {% do form.prepare() %}
                        {% autoescape false %}
                            {{ form().openTag(form) }}
                            {{ formElement(form.get('csrf')) }}

                            {% for stockEntry in stockEntries %}
                                {% set name = 'product-' ~ stockEntry.product.getId() %}
                                {% set element = form.get(name) %}
                                <div class="form-group" style="margin-left: 0px; margin-right: 0px">
                                    <label for="{{ name }}" style="display: inline-block; min-width: 180px">{{ element.label }}</label>

                                    <div style="display: inline-block; min-width: 30px; margin-right: 20px">
                                        {{ formElement(element) }}
                                    </div>

                                    <div style="display: inline-block">
                                        <span style="font-size: 12px">{% if element.attributes.max > 0 %} {{ element.attributes.max }} {{ translate('available') }} {% else %} {{ translate('soldout') }} {% endif %}</span>
                                    </div>
                                </div>
                            {% endfor %}
                            {% if form.get('submit') %}
                                {{ formElement(form.get('submit')) }}
                            {% endif %}

                            {{ form().closeTag() }}
                        {% endautoescape %}
                    {% endif %}
                </div>
            {% else %}
                {% if canReserveResponse.getReason() != null %}
                    {{ translate(canReserveResponse.getReason()) }}
                {% else %}
                    {{ translate("You can\'t make new reservations. Make sure you are logged in.") }}
                    <br> <br>
                    {{ translate("If you are logged in and you still get this message, unfortunately you are put on the black list because you didn\'t come and buy your reserved items on the right date. This means you won\'t be able to make new reservations. Get in touch with Theokot to solve this.") }}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('change blur', '.product-amount', function (e) {
                var originalValue = $(this).val();
                var min = $(this).prop('min');
                var max = $(this).prop('max');
                $(this).val(Math.max(Math.min(max, $(this).val()), min));
                if ($(this).val() != originalValue) {
                    $(this).parent().addClass('has-error');
                } else {
                    $(this).parent().removeClass('has-error');
                }
                return false;
            });
        });
    </script>
{% endblock %}
