{% extends 'site/base.twig' %}

{% block content %}

    <div class="page-header">
        <h1>{{ translate('Reserve') }}</h1>
    </div>

    {% include 'shop/shop/partials/navigation.twig' %}

    <div class="flashmessage alert alert-success fade" id="success">
        <div class="content">
            {{ translate('Your reservation was successful!') }}
        </div>
    </div>
    <div class="flashmessage alert alert-danger fade" id="error">
        <div class="content">
            {{ translate('An error occurred while processing your reservation!') }}
        </div>
    </div>

    <div style="text-align: justify;">
        {% if canReserve %}
            {{ translate("You can reserve some items from the shop. Be aware that you might lose the permission to reserve items if you don't come and buy your reserved items on the right date.") }}
            <div>
                {% import 'admin/partials/form.twig' as forms %}
                {{ forms.renderForm(form) }}
            </div>
        {% else %}
            {{ translate("You cannot reserve items from the shop. This privilege might require you to do some shifts in the shop.") }}
        {% endif %}
    </div>

{% endblock %}

{% block content_script %}
    <script type="text/javascript">
    </script>
{% endblock %}
