{% extends 'site/base.twig' %}

{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>{{ shopName }} - {{ translate('Reservations') }}</h1>
        </div>

        {% include 'shop/shop/partials/navigation.twig' %}

        <div style="text-align: justify;">
            {% if canReserveResponse.canReserve() %}
                {{ translate("Below is a list of all your reservations in the shop.") }}
                <table id="table-reservations" class="table table-condensed table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{{ translate('Reservation time') }}</th>
                        <th>{{ translate('Sales session') }}</th>
                        <th>{{ translate('Product') }}</th>
                        <th>{{ translate('Amount') }}</th>
                        <th>{{ translate('Price') }}</th>
                        <th>{{ translate('Total price') }}</th>
                        <th>{{ translate('Cancel') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td>{{ translate(reservation.getTimestamp().format('l')) }} {{ reservation.getTimestamp().format('d/m/Y H:i') }}</td>
                            <td>{{ translate(reservation.getSalesSession().getStartDate().format('l')) }} {{ reservation.getSalesSession().getStartDate().format('d/m/Y H:i') }}
                                - {{ reservation.getSalesSession().getEndDate().format('H:i') }}</td>
                            <td>{{ reservation.getProduct().getName() }}</td>
                            <td>{{ reservation.getAmount }}</td>
                            <td>&euro; {{ reservation.getProduct().getSellPrice()|number_format(2, '.', ',') }}</td>
                            <td>&euro; {{ (reservation.getProduct().getSellPrice() * reservation.getAmount()) |number_format(2, '.', ',') }}</td>
                            <td>
                                {% if reservation.canCancel() %}
                                    <a class="btn btn-xs btn-default"
                                       href="{{ url('shop', {action: 'deleteReservation', id: reservation.getId()}) }}">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% if canReserveResponse.getReason() != null %}
                    {{ translate(canReserveResponse.getReason()) }}
                {% else %}
                    {{ translate("You can\'t make new reservations. Make sure you are logged in.") }}
                    <br> <br>
                    {{ translate("If you are logged in and you still get this message, unfortunately you are put on the black list because you didn\'t come and buy your reserved items on the right date. This means you won\'t be able to make new reservations. Get in touch with Theokot to solve this.") }}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
    </script>
{% endblock %}
