{% extends 'corporate/partials/internship.twig' %}

{% block content %}
    <h1>{{ translate('Internship') }}</h1>
    
    <a class="btn btn-default" href="{{ url('br_corporate_internship', {'action': 'add'}) }}">{{ translate('Add other item') }}</a><br><br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover full-width">
                {% for internship in paginator %}
                    {% if not internship.canShow() == false %}
                    <tr>
                        <td width="120">
                            <a href="{{ url('br_career_internship', {'action': 'view', 'id': internship.getId() }) }}">
                                {% if internship.getCompany().getLogo() is not empty %}
                                    <img width="120" src="/{{ logoPath }}/{{ internship.getCompany().getLogo() }}" alt="{{ internship.getCompany().getName() }}">
                                {% else %}
                                    <center class="company-name">{{ internship.getCompany().getName() }}</center>
                                {% endif %}
                            </a>
                        </td>

                        <td>
                            <strong>{{ internship.getCompany().getName() }} - {{ internship.getName() }}</strong>
                            <br/>
                            <div class="pull-right hidden-xs">{{ translate('Last Updated') }}: <strong>{{ dateLocalized(internship.getLastUpdateDate(), 'd  MMMM y') }}</strong></div>
                            <br/>
                            {{ internship.getSummary(200)|replace({'<p>': '', '</p>': '', '<br>': '', '<br />': ''})|raw }}
                        </td>
                        <td width="90">
                            <br>
                            <div class="col-md-2">
                                <table>
                                    <tr>
                                        <td><a class="btn btn-info" href="{{ url('br_career_internship', {'action': 'view', 'id': internship.getId() }) }}">{{ translate('View') }}</a></td>
                                        <td><a class="btn btn-primary" href="{{ url('br_corporate_internship', {'action': 'edit', 'id': internship.getId()}) }}">{{ translate('Edit') }}</a></td>
                                        <td><a class="btn btn-danger" href="{{ url('br_corporate_internship', {'action': 'delete', 'id': internship.getId()}) }}">{{ translate('Delete') }}</a></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endif %}
                {% else %}
                    <div class="flashmessage alert alert-warning fade in">
                        <a class="close" data-dismiss="alert">&times;</a>
                        {{ translate('No items found') }}
                    </div>
                {% endfor %}
            </table>

            {% include 'site/partials/paginationControl.twig' %}
        </div>
    </div>
{% endblock %}
