{% extends 'corporate/partials/internship.twig' %}

{% block content %}

    <div class="container">
    <div style="height: 100px"></div>


    <div class="flashmessage alert alert-danger fade" id="internship_removed_error">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('An error occurred while removing internship.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-success fade" id="internship_removed_success">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('The removal of the internship was succesfully registered.  This will be reviewed by our corporate relations team.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-danger fade" id="request_removed_error">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('An error occurred while removing request.') }}
        </div>
    </div>
    <div class="flashmessage alert alert-success fade" id="request_removed_success">
        <a class="close">&times;</a>
        <div class="content">
            {{ translate('The removal of the request was succesfully registered.') }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h1 style="float:left;">{{ translate('Internships') }}</h1>
            <div style="margin-top: 37px;"><strong>&nbsp;&nbsp;{{ translate('currently listed on our website') }}</div></strong>
        </div>
        <div class="col-md-6">
            <a class="btn btn-success pull-right" href="{{ url('br_corporate_internship', {'action': 'add'}) }}" style="margin-bottom: 5px; margin-top: 20px;">{{ translate('Add Internship') }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% set onceDisabled = false %}
            <table class="table table-hover full-width">
                {% for internship in paginator %}
                    {% if not internship.isApproved() == false %}
                    <tr>
                        <td width="120">
                            <a href="{{ url('br_career_internship', {'action': 'view', 'id': internship.getId() }) }}">
                                {% if internship.getCompany().getLogo() is not empty %}
                                    <img width="120" src="/{{ logoPath }}/{{ internship.getCompany().getLogo() }}" alt="{{ internship.getCompany().getName() }}">
                                {% else %}
                                    <center class="company-name">{{ internship.getCompany().getName() }}</center>
                                {% endif %}
                            </a>
                        </td>

                        <td>
                            <strong>{{ internship.getCompany().getName() }} - {{ internship.getName() }}</strong>
                            <br/>
                            <div class="pull-right hidden-xs">{{ translate('Last Updated') }}: <strong>{{ dateLocalized(internship.getLastUpdateDate(), 'd  MMMM y') }}</strong></div>
                            <br/>
                            {{ internship.getSummary(200)|replace({'<p>': '', '</p>': '', '<br>': '', '<br />': ''})|raw }}
                        </td>
                        <td width="230" style="vertical-align: middle;">
                            <a class="btn btn-sm btn-info" href="{{ url('br_career_internship', {'action': 'view', 'id': internship.getId() }) }}">{{ translate('View') }}</a>
                            {% set disabled =  ((unfinishedRequests[internship.getId()] == 'delete' or unfinishedRequests[internship.getId()] == 'edit') or unfinishedRequests[internship.getId()] == 'edit reject') %}
                            <a class="btn btn-sm btn-primary {% if disabled == true %}disabled{% endif %}" href="{{ url('br_corporate_internship', {'action': 'edit', 'id': internship.getId()}) }}">{{ translate('Edit') }}</a>
                            <a class="btn btn-sm btn-danger deleteInternship {% if disabled == true %}disabled{% endif %}" data-id="{{ internship.getId() }}" href="#">{{ translate('Delete') }}</a>
                            {% if disabled == true %} {% set onceDisabled = true %}{% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% else %}
                    <div class="flashmessage alert alert-warning fade in">
                        <a class="close" data-dismiss="alert">&times;</a>
                        {{ translate('No items found') }}
                    </div>
                {% endfor %}
            </table>
            {% include 'site/partials/paginationControl.twig' %}
        </div>
        {% if onceDisabled == true %}
            <div class="flashmessage alert alert-warning fade in">
                <a class="close" data-dismiss="alert">&times;</a>
                {{ translate('You can only edit or delete when there are no pending or rejectjed requests. Edit or delete the requests if you want to make changes.') }}
            </div>
        {% endif %}
    </div>
    {% if not requests is empty %}
        <div class="row">
            <div class="col-md-12">
                <h1>{{ translate('Requests') }}</h1>
            </div>
        </div>
        <div class="row">
            {% set onceRejected = false %}
            {% set oncePending = false %}
            <div class="col-md-12">
                <table class="table table-hover full-width">
                    {% for request in requests %}
                        {% if request.getStatus() == 'rejected' %}{% set onceRejected = true %}{% endif %}
                        {% if request.getStatus() == 'pending' %}{% set oncePending = true %}{% endif %}
                        <tr>
                            <td width="200">
                                Type: <strong>{{ translate(request.getRequestType()) }}</strong>
                                <br/><br/>
                                Status: <strong>{{ translate(request.getStatus()) }}</strong>
                            </td>
                            <td>
                                <strong>{{ request.getJob().getCompany().getName() }} - {{ request.getJob().getName() }}</strong>
                                <br/>
                                <div class="pull-right hidden-xs">{{ translate('Last Updated') }}: <strong>{{ dateLocalized(request.getJob().getLastUpdateDate(), 'd  MMMM y') }}</strong></div>
                                <br/>
                                {% if request.getStatus() == 'rejected' %}
                                    <font color="red">{{ request.getRejectMessage()|replace({'<p>': '', '</p>': '', '<br>': '', '<br />': ''})|raw }}</font>
                                {% else %}
                                    {{ request.getJob().getSummary(200)|replace({'<p>': '', '</p>': '', '<br>': '', '<br />': ''})|raw }}
                                {% endif %}
                            </td>
                            <td width="230" style="vertical-align: middle;">
                                <a class="btn btn-sm btn-info" href="{{ url('br_career_internship', {'action': 'view', 'id': request.getJob().getId() }) }}">{{ translate('View') }}</a>
                                {% if not (request.getRequestType() == 'delete') %}
                                    <a class="btn btn-sm btn-primary" href="{{ url('br_corporate_internship', {'action': 'edit', 'id': request.getJob().getId()}) }}">{{ translate('Edit') }}</a>
                                {% endif %}
                                <a class="btn btn-sm btn-danger deleteRequest" data-id="{{ request.getId() }}" href="#">{{ translate('Delete') }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% if onceRejected == true %}
                <div class="flashmessage alert alert-warning fade in">
                    <a class="close" data-dismiss="alert">&times;</a>
                    {{ translate('You have one or more rejected requests. Edit the requests if you want to ask for approval again, or delete them if you don\'t need them anymore.') }}
                </div>
            {% endif %}
            {% if oncePending == true %}
                <div class="flashmessage alert alert-warning fade in">
                    <a class="close" data-dismiss="alert">&times;</a>
                    {{ translate('You have one or more pending requests. We will handle these as fast as possible. Edit the requests if you want to make more changes, or delete them if you don\'t need them anymore.') }}
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div id="modalDeleteInternship" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4>{{ translate('Remove Internship') }}</h4>
                </div>
                <div class="modal-body">
                    {{ translate('Are you sure that you want to remove this internship') }}?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger confirm">{{ translate('Yes') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ translate('No') }}</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modalDeleteRequest" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4>{{ translate('Remove request') }}</h4>
                </div>
                <div class="modal-body">
                    {{ translate('Are you sure that you want to remove this request') }}?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger confirm">{{ translate('Yes') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ translate('No') }}</button>
                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.flashmessage .close').click(function () {
                $(this).closest('.flashmessage').removeClass('in');
            });

            $('.deleteInternship').click(openRemoveInternship);
            $('.deleteRequest').click(openRemoveRequest);
        });

        function openRemoveInternship(e) {
            var $this = $(this);

            e.preventDefault();
            var deleteInternship = $('#modalDeleteInternship');
            deleteInternship.find('.confirm').unbind('click').click(function () {
                $.post('{{ url('br_corporate_internship', {"action": "delete"})}}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#internship_removed_success').addClass('in');
                        deleteInternship.modal('hide');
                        location.reload();
                    } else {
                        errordeleteInternship();
                    }
                }, 'json').error(errordeleteInternship);
            });
            deleteInternship.modal();
        }

        function openRemoveRequest(e) {
            var $this = $(this);

            e.preventDefault();
            var deleteRequest = $('#modalDeleteRequest');
            deleteRequest.find('.confirm').unbind('click').click(function () {
                $.post('{{ url('br_corporate_internship', {"action": "deleteRequest"})}}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#request_removed_success').addClass('in');
                        deleteRequest.modal('hide');
                        location.reload();
                    } else {
                        errorDeleteRequest();
                    }
                }, 'json').error(errorDeleteRequest);
            });
            deleteRequest.modal();
        }

        function errordeleteInternship() {
            $('.flashmessage').removeClass('in');
            $('#internship_removed_error').addClass('in');
            $('#modalDeleteInternship').modal('hide');
        }

        function errorDeleteRequest() {
            $('.flashmessage').removeClass('in');
            $('#request_removed_error').addClass('in');
            $('#modalDeleteRequest').modal('hide');
        }
    </script>
{% endblock %}
