{{ doctype() }}

<html lang="en">
<head>

    {{ headMeta() }}
    {{ headTitle('24h-Run', 'PREPEND') }}

    {{ headLink() }}
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="{{ unionUrl }}" class="brand"><img src="/_run/img/logo.png" /></a>
            <ul class="nav">
                {% if hasAccess('run_index', 'index') %}
                    <li {% if 'index' == getParam('action') and 'run_index' == getParam('controller') %} class="active" {% endif %}>
                        <a href="{{ url("run_index", {"language": language.getAbbrev()}) }}">{{ translate('Home') }}</a>
                    </li>
                {% endif %}
                {% if hasAccess('run_group', 'add') %}
                    <li {% if 'add' == getParam('action') and 'run_group' == getParam('controller') %} class="active" {% endif %}>
                        <a href="{{ url("run_group", {"language": language.getAbbrev()}) }}">{{ translate('Group of Friends') }}</a>
                    </li>
                {% endif %}
                {% if hasAccess('run_queue', 'index') %}
                    <li {% if 'index' == getParam('action') and 'run_queue' == getParam('controller') %} class="active" {% endif %}>
                        <a href="{{ url("run_queue", {"language": language.getAbbrev()}) }}">{{ translate('Queue') }}</a>
                    </li>
                {% endif %}
                {% if hasAccess('run_screen', 'index') %}
                    <li {% if 'index' == getParam('action') and 'run_screen' == getParam('controller') %} class="active" {% endif %}>
                        <a href="{{ url("run_screen", {"language": language.getAbbrev()}) }}">{{ translate('Screen') }}</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav pull-right lang-nav visible-desktop">
                <li class="dropdown" id="langDropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Language <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for language in languages %}
                            <li>
                                <a href="{{ url("run_index", {"language": language.getAbbrev()}) }}">{{ translate(language.getName()) }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="inner">
        <div class="container">
            <h1>{{ translate('24h-Run') }}</h1>
        </div>
    </div>
</header>

<div class="container">
    {% include 'run/partials/flashMessenger.twig' %}

    <div id="content_controller">
        {% block content %} {% endblock %}
    </div>

    <footer>
        Litus 24h-Run | Code by <a href="http://litus.cc">Litus</a>

        {% if 'production' != environment %}
            <span class="development_information">
                Execution Time: {{ developmentInformation.executionTime }} ms | Doctrine's UoW: {{ developmentInformation.doctrineUnitOfWork }}
            </span>
        {% endif %}
    </footer>
</div>

{{ inlineScript() }}

{% block content_script %}{% endblock %}

</body>
</html>
