{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/sale/article/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>Article</h1>

        <p>Title: <b>{{ article.getTitle() }}</b></p>
        <p>Author: <b>{{ article.getAuthors() }}</b></p>
        <p>Publisher: <b>{{ article.getPublishers() }}</b></p>
        <br />

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if article.isInternal() %}
            var field = $('<span>').css({
                paddingLeft: '10px',
                color: '#999',
                cursor: 'pointer',
            });
            $('#sell_price').parent().append(field);
            field.html('(Calculated: &euro; {{ precalculatedSellPrice|number_format(2) }})')
                .click(function () {
                    $('#sell_price').val(({{ precalculatedSellPrice|number_format(2) }}).toFixed(2));
                });


            var field = $('<span>').css({
                paddingLeft: '10px',
                color: '#999',
                cursor: 'pointer',
            });
            $('#purchase_price').parent().append(field);
            field.html('(Calculated: &euro; {{ precalculatedPurchasePrice|number_format(2) }})')
                .click(function () {
                    $('#purchase_price').val(({{ precalculatedPurchasePrice|number_format(2) }}).toFixed(2));
                });
            {% endif %}
        });
    </script>
{% endblock %}