{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_stock/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
		<h1>General</h1>
		<p>Article: <b>{{ article.getMainArticle().getTitle() }}</b></p>
		<p>Barcode: <b>{{ article.getBarcode() }}</b></p>
		<p>Supplier: <b>{{ article.getSupplier().getName() }}</b></p>
		<br style="clear:both" />
		<h1>Orders</h1>
		<table class="half_width">
			<tr>
				<td>Total</td>
				<td style="width:30%">{{ period.getNbOrdered(article) }}</td>
			</tr>
			<tr>
				<td>Not delivered</td>
				<td style="width:30%">{% if period.getNbOrdered(article) - period.getNbDelivered(article) < 0 %}0{% else %}{{ period.getNbOrdered(article) - period.getNbDelivered(article) }}{% endif %}</td>
			</tr>
			<tr>
				<td>Queue</td>
				<td style="width:30%">{{ period.getNbQueueOrder(article) }}</td>
			</tr>
		</table>
		<br style="clear:both" />
		{% autoescape false %}
			{{ orderForm }}
		{% endautoescape %}
		<br style="clear:both" />
		<h1>Deliveries</h1>
		<table class="half_width">
			<tr>
				<td>Total</td>
				<td style="width:30%">{{ period.getNbDelivered(article) }}</td>
			</tr>
		</table>
		<br style="clear:both" />
		{% autoescape false %}
			{{ deliveryForm }}
		{% endautoescape %}
		<br style="clear:both" />
		<h1>Bookings</h1>
		<table class="half_width">
			<tr>
				<td>Number assigned</td>
				<td style="width:30%">{{ period.getNbAssigned(article) }}</td>
			</tr>
			<tr>
				<td>Number not assigned</td>
				<td style="width:30%">{{ period.getNbBooked(article) }}</td>
			</tr>
		</table>
		<br style="clear:both" />
		<h1>Sales</h1>
		<table class="half_width">
			<tr>
				<td>Total</td>
				<td style="width:30%">{{ period.getNbSold(article) }}</td>
			</tr>
		</table>
		<br style="clear:both" />
		<h1>Stock</h1>
		<table class="half_width">
			<tr>
				<td>Total</td>
				<td style="width:30%">{{ article.getStockValue() }}</td>
			</tr>
		</table>
		<br style="clear:both" />
		{% autoescape false %}
			{{ stockForm }}
		{% endautoescape %}
	</div>

	<aside>
	    {% if hasAccess('admin_stock', 'delta') %}
			<div class="sidebox">
		        <div class="title">View Delta's</div>
		        <div class="content">
		            <p>
		                <i>Please hit the link below to view the delta's!</i>
		            </p>
		            <p>
		                <a href="{{ url('admin_stock', {"action": "delta", "id": article.getId()}) }}">&rarr; View Delta's</a>
		            </p>
		        </div>
		    </div>
		{% endif %}
	</aside>
{% endblock %}
