<ul class="nav nav-tabs">
    {% if hasAccess('br_corporate_match', 'overview') %}
        {% for w in allWaves %}
            <li>
                <a {% if loop.first %}style="margin-left: 10px" {% endif %}class="{% if getParam('action') == 'overview' and getParam('wave') == w.getId() %} activeTab {% else %} tab {% endif %}" href="{{ url('br_corporate_match', {'action': 'overview', 'wave': w.getId()}) }}">
                    {{ w.getName() }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
{#    <li class="pull-right">#}
{#        <a class="{% if getParam('action') == 'overview' and getParam('wave') == w.getId() %} activeTab {% else %} tab {% endif %}" href="{{ url('br_corporate_match', {'action': 'stats'}) }}">#}
{#            {{ translate("Statistics") }}#}
{#        </a>#}
{#    </li>#}
    <li class="pull-right">
        <a style="margin-right: 10px" class="{% if getParam('action') == 'interested' and getParam('wave') == w.getId() %} activeTab {% else %} tab {% endif %}" href="{{ url('br_corporate_match', {'action': 'interested'}) }}">
            {{ translate("Interested") }}
        </a>
    </li>
</ul>
