{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'syllabus/admin/subject/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    {% include 'syllabus/admin/subject/comment/partials/years.twig' %}

    <div id="controller_action">
        <table class="full_width manage">
            <tr>
                <th width="100px">Date</th>
                <th width="130px">Person</th>
                <th width="220px">Subject</th>
                <th>Summary</th>
                <th width="80px">Type</th>
                <th width="70px">Action</th>
            </tr>

            {% for comment in paginator %}
                <tr class="item item-{{ comment.getId() }}">
                    <td>{{ comment.getDate().format('d/m/Y H:i') }}</td>
                    <td>{{ comment.getPerson().getFullName() }}</td>
                    <td>{{ comment.getSubject().getName() }}</td>
                    <td>{{ comment.getText() }}</td>
                    <td>{{ comment.getType()|capitalize }}</td>
                    <td class="actions">
                        <a href="#" class="view viewOne" data-text="{{ comment.getText() }}">View</a>
                        {% if hasAccess('admin_subject_comment', 'subject') %}
                            <a href="{{ url('admin_subject_comment', {'action': 'subject', 'id': comment.getSubject().getId()}) }}" class="view">View All</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal hide fade" id="viewComment">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Subject Comment
        </div>
        <div class="modal-body">
            <pre class="text"></pre>
            <br style="clear:both" />
            <div class="footer">
                <input type="button" data-dismiss="modal" value="Close">
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .viewOne').click(openViewModal);
        });

        function openViewModal(e) {
            var $this = $(this);

            e.preventDefault();
            var viewComment = $('#viewComment');
            viewComment.find('.text').html($this.data('text'));
            viewComment.modal();
        }
    </script>
{% endblock %}
