{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/event/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width event_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The event was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width event_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete an event.</p>
        </div>
    </div>

    <div id="controller_action">
        <table class="full_width manage">
            <tr>
                <th>Title</th>
                <th width="120px">Start Date</th>
                <th width="120px">End Date</th>
                <th width="120px">End Date Visible</th>
                <th width="150px">Subscriptions open</th>
                <th width="120px">Map visible</th>
                <th width="70px">Action</th>
            </tr>

            {% for event in paginator %}

                <tr class="item item-{{ event.getId() }}">
                    <td>{{ event.getTitle() }}</td>
                    <td>{{ event.getStartDate().format('d/m/Y H:i') }}</td>
                    <td>{{ event.getEndDate().format('d/m/Y H:i') }}</td>
                    <td>{{ event.getEndDateVisible().format('d/m/Y H:i') }}</td>
                    <td>{{ event.getSubscriptionDate().format('d/m/Y H:i') }}</td>
                    <td>{{ event.getMapviewDate().format('d/m/Y H:i') }}</td>
                    <td class="actions">
                        {% if hasAccess('br_admin_event', 'edit') %}
                            <a href="{{ url('br_admin_event', {"action": "edit", "id": event.getId()}) }}" class="edit">Edit</a>
                        {% endif %}
                        {% if hasAccess('br_admin_event', 'delete') %}
                            <a href="#" class="delete" data-id="{{ event.getId() }}" data-title="{{ event.getTitle() }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}

        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal fade" id="removeEvent" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Event
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following event: <b class="eventTitle"></b>!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">

        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeEvent = $('#removeEvent');
            removeEvent.find('.eventTitle').html($(this).data('title'));
            var id = $this.data('id');
            removeEvent.find('.delete').unbind('click').click(function () {
                $.post('{{ url('br_admin_event', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.event_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeEvent.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeEvent.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.event_removed_error').removeClass('hide');
            $('#removeEvent').modal('hide');
        }

    </script>
{% endblock %}
