<header id="controller_header">
    <div class="title"><span class="booking">Bookings</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('cudi_admin_sales_booking', 'actions') %}
                <li><a {% if 'actions' == getParam('action') %} class="active" {% endif %} href="{{ url('cudi_admin_sales_booking', {"action": "actions"}) }}">Actions Log</a></li>
            {% endif %}
            {% if hasAccess('cudi_admin_sales_booking', 'deleteAll') %}
                <li><a href="#" class="removeAll">Remove All</a></li>
            {% endif %}
            {% if hasAccess('cudi_admin_sales_booking', 'extendAll') %}
                <li><a href="#" class="extendAll">Extend All</a></li>
            {% endif %}
            {% if hasAccess('cudi_admin_sales_booking', 'expireAll') %}
                <li><a href="#" class="expireAll">Expire All</a></li>
            {% endif %}
            {% if hasAccess('cudi_admin_sales_booking', 'assignAll') %}
                <li><a href="#" class="assignAll">Assign All</a></li>
            {% endif %}
            {% if hasAccess('cudi_admin_sales_booking', 'person') %}
                <li><a {% if 'person' == getParam('action') %} class="active" {% endif %} href="{{ url('cudi_admin_sales_booking', {"action": "person"}) }}">By Person</a></li>
            {% endif %}
            {% if hasAccess('cudi_admin_sales_booking', 'article') %}
                <li><a {% if 'article' == getParam('action') %} class="active" {% endif %} href="{{ url('cudi_admin_sales_booking', {"action": "article"}) }}">By Article</a></li>
            {% endif %}
            {% if hasAccess('cudi_admin_sales_booking', 'add') %}
                <li><a {% if 'add' == getParam('action') %} class="active" {% endif %} href="{{ url('cudi_admin_sales_booking', {"action": "add"}) }}">Add</a></li>
            {% endif %}
            {% if hasAccess('cudi_admin_sales_booking', 'inactive') %}
                <li><a {% if 'inactive' == getParam('action') %} class="active" {% endif %} href="{{ url('cudi_admin_sales_booking', {"action": "inactive", "period": activePeriod.getId()}) }}">Inactive</a></li>
            {% endif %}
            {% if hasAccess('cudi_admin_sales_booking', 'manage') %}
                <li><a {% if 'manage' == getParam('action') %} class="active" {% endif %} href="{{ url('cudi_admin_sales_booking', {"action": "manage", "period": activePeriod.getId()}) }}">Active</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<div class="modal hide fade" id="removeAllBooking">
    <div class="modal-header">
        <span>Litus Admin</span>
        /Remove All Active Bookings
    </div>
    <div class="modal-body">
        <p>
            You are about to remove all the active bookings!
        </p>
        <p>
            <select id="removeAllBookingRisks">
                <option value="0">---</option>
                <option value="1">I understand the risks</option>
            </select>
        </p>
        <p>
            <label><input type="checkbox" id="keepRegistrationArticles" checked="checked"> Keep registration articles</label>
        </p>
        <p>
            Other articles to exclude (ids, comma separated): <input type="text" id="excludedArticles">
        </p>
        <p>
            Are you sure you want to continue?
        </p>
        <div class="footer">
            <input type="button" class="remove" value="Yes">
            <input type="button" class="cancel" data-dismiss="modal" value="No">
        </div>
    </div>
</div>

<div class="modal hide fade" id="assignAllBooking">
    <div class="modal-header">
        <span>Litus Admin</span>
        /Assign All Bookings
    </div>
    <div class="modal-body">
        <p>
            You are about to assign all the possible bookings!
        </p>
        <p>
            Are you sure you want to continue?
        </p>
        <div class="footer">
            <input type="button" class="assign" value="Yes">
            <input type="button" class="cancel" data-dismiss="modal" value="No">
        </div>
    </div>
</div>

<div class="modal hide fade" id="expireAllBooking">
    <div class="modal-header">
        <span>Litus Admin</span>
        /Expire All Bookings
    </div>
    <div class="modal-body">
        <p>
            You are about to expire all the possible bookings!
        </p>
        <p>
            Are you sure you want to continue?
        </p>
        <div class="footer">
            <input type="button" class="expire" value="Yes">
            <input type="button" class="cancel" data-dismiss="modal" value="No">
        </div>
    </div>
</div>

<div class="modal hide fade" id="extendAllBooking">
    <div class="modal-header">
        <span>Litus Admin</span>
        /Extend All Bookings
    </div>
    <div class="modal-body">
        <p>
            You are about to extend all the possible bookings!
        </p>
        <p>
            Extend all booking expiring before (and including): <input type="text" id="extendAllBookingsDate" placeholder="dd/mm/yyyy" />
        </p>
        <p>
            Are you sure you want to continue?
        </p>
        <div class="footer">
            <input type="button" class="extend" value="Yes">
            <input type="button" class="cancel" data-dismiss="modal" value="No">
        </div>
    </div>
</div>

{% block content_script %}
    <script type="text/javascript">
        function openRemoveAllModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeAllBooking = $('#removeAllBooking');
            removeAllBooking.find('.remove').unbind('click').click(function () {
                if (removeAllBooking.find('#removeAllBookingRisks').val() == 1) {
                    if (removeAllBooking.find('#keepRegistrationArticles').is(':checked'))
                        window.location.href = '{{ url('cudi_admin_sales_booking', {"action": "deleteAll", "type": "keep_registration"})}}excluded/' + removeAllBooking.find('#excludedArticles').val();
                    else
                        window.location.href = '{{ url('cudi_admin_sales_booking', {"action": "deleteAll", "type": "remove_registration"})}}excluded/' + removeAllBooking.find('#excludedArticles').val();
                }
            });
            removeAllBooking.modal();
        }

        function openAssignAllModal(e) {
            var $this = $(this);

            e.preventDefault();
            var assignAllBooking = $('#assignAllBooking');
            assignAllBooking.find('.assign').unbind('click').click(function () {
                window.location.href = '{{ url('cudi_admin_sales_booking', {"action": "assignAll"})}}';
            });
            assignAllBooking.modal();
        }

        function openExpireAllModal(e) {
            var $this = $(this);

            e.preventDefault();
            var expireAllBooking = $('#expireAllBooking');
            expireAllBooking.find('.expire').unbind('click').click(function () {
                window.location.href = '{{ url('cudi_admin_sales_booking', {"action": "expireAll"})}}';
            });
            expireAllBooking.modal();
        }

        function openExtendAllModal(e) {
            var $this = $(this);

            e.preventDefault();

            var extendAllBooking = $('#extendAllBooking');
            extendAllBooking.find('.extend').unbind('click').click(function () {
                var date = $('#extendAllBookingsDate').val().replace(/\//g, '-');
                var pattern = /^[0-9]{1,2}-[0-9]{1,2}-[0-9]{4}$/;
                if (!pattern.test(date))
                    return;
                window.location.href = '{{ url('cudi_admin_sales_booking', {"action": "extendAll"})}}date/' + date;
            });
            extendAllBooking.modal();
        }
    </script>
{% endblock %}
