{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/sale/financial/partials/navigation.twig' %}

    {% include 'cudi/admin/sale/financial/returned/partials/years.twig' %}

    {% include 'cudi/admin/sale/financial/returned/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>Sale Session</h1>
        <p>Manager: <b>{{ session.getManager().getFullName() }}</b></p>
        <p>Date openend: <b>{{ session.getOpenDate().format('Y-m-d H:i:s') }}</b></p>
        {% if not session.isOpen() %}<p>Date closed: <b>{{ session.getCloseDate().format('Y-m-d H:i:s')}}</b></p>{% endif %}

        {% if organizations|length > 1 %}<h2>Total</h2>{% endif %}
        <p>Purchase Price: <b>&euro; {{ (session.getPurchasedAmount()/100)|number_format(2) }}</b></p>
        {% set actualRevenue = session.getActualRevenue() %}
        {% set theoreticalRevenue = session.getTheoreticalRevenue() %}
        <p>Actual Revenue: <b>&euro; {{ (actualRevenue/100)|number_format(2) }}</b></p>
        <p>Theoretical Revenue: <b>&euro; {{ (theoreticalRevenue/100)|number_format(2) }}</b></p>
        <p>Delta: <b>&euro; {% if theoreticalRevenue - actualRevenue < 0 %}+{% endif %}{{ ((actualRevenue - theoreticalRevenue)/100)|number_format(2) }}</b></p>

        {% if organizations|length > 1 %}
            {% for organization in organizations %}
                <h2>{{ organization.getName() }}</h2>
                <p>Purchase Price: <b>&euro; {{ (session.getPurchasedAmount(organization)/100)|number_format(2) }}</b></p>
                <p>Theoretical Revenue: <b>&euro; {{ (session.getTheoreticalRevenue(organization)/100)|number_format(2) }}</b></p>
            {% endfor %}
        {% endif %}
        <br />
        <div id="returned_search" style="display:none;">
            <div style="padding:4px;text-align:right">
                Search:
                <select id="searchField">
                    <option value="article">Article</option>
                    <option value="person">Person</option>
                    <option value="organization">Organization</option>
                    <option value="discount">Discount</option>
                </select>
                is
                <input type="text" id="searchString" size="30" />
            </div>

            <table class="full_width manage">
                <tr>
                    <th width="100px">Date</th>
                    <th>Article</th>
                    <th width="120px">Person</th>
                    <th width="70px">Org.</th>
                    <th width="70px">Sell Price</th>
                    <th width="110px">Purchase Price</th>
                </tr>
            </table>
        </div>

        <div id="default_page">
            <table class="full_width manage">
                <tr>
                    <th width="100px">Date</th>
                    <th>Article</th>
                    <th width="120px">Person</th>
                    <th width="70px">Org.</th>
                    <th width="70px">Sell Price</th>
                    <th width="110px">Purchase Price</th>
                </tr>

                {% for item in paginator %}
                    <tr class="item">
                        <td>{{ item.getTimestamp().format('d/m/Y H:i') }}</td>
                        <td>{{ item.getArticle().getMainArticle().getTitle() }}</td>
                        <td>{{ item.getPerson().getFullName() }}</td>
                        <td>{{ item.getPerson().getOrganization(item.getSession().getAcademicYear()).getName() }}</td>
                        <td>&euro; {{ (item.getPrice()/100)|number_format(2) }}</td>
                        <td>&euro; {{ (item.getArticle().getPurchasePrice()/100)|number_format(2) }}</td>
                    </tr>
                {% endfor %}
            </table>

            {% include 'admin/partials/paginationControl.twig' %}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if hasAccess('cudi_admin_sales_financial_returned', 'sessionSearch') %}
            $.searchDatabase({
                defaultPage: $('#default_page'),
                searchDiv: $('#returned_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                searchPage: '{{ url('cudi_admin_sales_financial_returned', {'action': 'session', 'id': session.getId()}) }}',
                url: '{{ url('cudi_admin_sales_financial_returned', {'action': 'sessionSearch', 'id': session.getId()}) }}',
                display: function (data) {
                    $('#returned_search table').find('tr.item').remove();
                    $(data).each(function () {
                        $('#returned_search table').append(row = $('<tr>', {class: 'item'}));
                        row.append('<td>' + this.timestamp + '</td>')
                            .append('<td>' + this.article + '</td>')
                            .append('<td>' + this.person + '</td>')
                            .append('<td>' + this.organization + '</td>')
                            .append('<td>&euro; ' + this.sellPrice + '</td>')
                            .append('<td>&euro; ' + this.purchasePrice + '</td>');
                    });
                    $('#returned_search table').change();
                },
                clear: function () {
                    $('#returned_search table').find('tr.item').remove();
                }
            });
            {% endif %}
        });
    </script>
{% endblock %}
