{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'ticket/admin/event/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>Event</h1>
        <p>Activity: <b>{{ event.getActivity().getTitle(language) }}</b></p>
        <p>Bookable: <b>{% if event.isBookable() %}yes{% else %}no{% endif %}</b></p>
        {% if event.isBookable() %}
            <p>Bookings Close Date: <b>{{ event.getBookingsCloseDate().format('d/m/Y H:i') }}</b></p>
        {% endif %}
        <p>Number Sold: <b>{{ event.getNumberSold() }}</b></p>
        <p>Number Booked: <b>{{ event.getNumberBooked() }}</b></p>
        {% if event.getNumberOfTickets() > 0 %}
            <p>Number Free: <b>{{ event.getNumberFree() }}</b></b>
        {% endif %}
        <br />
        {% if event.getOptions()|length > 0 %}
            {% for option in event.getOptions() %}
                <p>{{ option.getName() }}: <b>{{ event.getNumberSoldByOption(option, true) }} / {{ event.getNumberBookedByOption(option, true) }}</b></p>
                {% if not event.isOnlyMembers() %}
                    <p>{{ option.getName() }} (Not Member): <b>{{ event.getNumberSoldByOption(option, false) }} / {{ event.getNumberBookedByOption(option, false) }}</b></p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Member: <b>{{ event.getNumberSoldByOption(null, true) }} / {{ event.getNumberBookedByOption(null, true) }}</b></p>
            {% if not event.isOnlyMembers() %}
                <p>Not Member: <b>{{ event.getNumberSoldByOption(null, false) }} / {{ event.getNumberBookedByOption(null, false) }}</b></p>
            {% endif %}
        {% endif %}
        <br />

        <table class="full_width manage" id="tickets">
            <thead>
                <tr>
                    <th>Person</th>
                    <th width="100px">Status</th>
                    <th width="150px">Option</th>
                    <th width="170px">Number</th>
                    <th width="110px">Book Date</th>
                    <th width="110px">Sold Date</th>
                    <th width="70px">Member</th>
                </tr>
            </thead>

            <tbody>
                {% for ticket in paginator %}
                    <tr class="item item-{{ ticket.getId() }}">
                        <td>{% if ticket.getFullName() %}{{ ticket.getFullName() }}{% else %}(none){% endif %}</td>
                        <td>{{ ticket.getStatus() }}</td>
                        <td>{{ ticket.getOption().getName() }} ({% if ticket.isMember() %}Member{% else %}Non Member{% endif %})</td>
                        <td>{{ ticket.getNumber() }}</td>
                        <td>{{ ticket.getBookDate().format('d/m/Y H:i') }}</td>
                        <td>{{ ticket.getSoldDate().format('d/m/Y H:i') }}</td>
                        <td>{% if ticket.isMember() %}&times;{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tickets").resizableColumns();
        });
    </script>
{% endblock %}
