{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'ticket/admin/event/partials/navigation.twig' %}

    {% include 'ticket/admin/ticket/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>Event</h1>
        <p>Activity: <b>{{ event.getActivity().getTitle(language) }}</b></p>
        <p>Bookable: <b>{% if event.isBookable() %}yes{% else %}no{% endif %}</b></p>
        {% if event.isBookable() %}
            <p>Bookings Close Date: <b>{{ event.getBookingsCloseDate().format('d/m/Y H:i') }}</b></p>
        {% endif %}
        <p>Number Sold: <b>{{ event.getNumberSold() }}</b></p>
        <p>Number Booked: <b>{{ event.getNumberBooked() }}</b></p>
        {% if event.getNumberOfTickets() > 0 %}
            <p>Number Free: <b>{{ event.getNumberFree() }}</b></b>
        {% endif %}
        <br />
        {% if event.getOptions()|length > 0 %}
            {% for option in event.getOptions() %}
                <p>{{ option.getName() }}: <b>{{ event.getNumberSoldByOption(option, true) }} / {{ event.getNumberBookedByOption(option, true) }}</b></p>
                {% if not event.isOnlyMembers() %}
                    <p>{{ option.getName() }} (Not Member): <b>{{ event.getNumberSoldByOption(option, false) }} / {{ event.getNumberBookedByOption(option, false) }}</b></p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Member: <b>{{ event.getNumberSoldByOption(null, true) }} / {{ event.getNumberBookedByOption(null, true) }}</b></p>
            {% if not event.isOnlyMembers() %}
                <p>Not Member: <b>{{ event.getNumberSoldByOption(null, false) }} / {{ event.getNumberBookedByOption(null, false) }}</b></p>
            {% endif %}
        {% endif %}
        <br />

        <div id="controller_action">
            <div id="ticket_search" style="display:none;">
                <div style="padding:4px;text-align:right">
                    Search:
                    <select id="searchField">
                        <option value="person">Person</option>
                        <option value="option">Option</option>
                        <option value="orderid">Order Id</option>
                        <option value="payid">Pay Id</option>
                    </select>
                    is
                    <input type="text" id="searchString" size="30" />
                </div>

                <table class="full_width manage tickets">
                    <tr>
                        <th>Person</th>
                        <th width="90px">Identification</th>
                        <th width="90px">Kring</th>
                        <th width="90px">Status</th>
                        <th width="100px">Email</th>
                        <th width="150px">Option</th>
                        <th width="100px">Pay ID</th>
                        <th width="100px">Order ID</th>
                        <th width="110px">Book Date</th>
                        <th width="110px">Sold Date</th>
                        <th width="70px">Member</th>
                    </tr>
                </table>
            </div>

            <div id="default_page">
                <table class="full_width manage tickets">
                    <thead>
                        <tr>
                            <th>Person</th>
                            <th width="90px">Identification</th>
                            <th width="90px">Kring</th>
                            <th width="90px">Status</th>
                            <th width="100px">Email</th>
                            <th width="150px">Option</th>
                            <th width="100px">Pay ID</th>
                            <th width="100px">Order ID</th>
                            <th width="110px">Book Date</th>
                            <th width="110px">Sold Date</th>
                            <th width="70px">Member</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for ticket in paginator %}
                            <tr class="item item-{{ ticket.getId() }}">
                                <td>{% if ticket.getFullName() %}{{ ticket.getFullName() }}{% else %}(none){% endif %}</td>
                                <td>{% if ticket.getPerson() %}{{ ticket.getPerson().getUniversityIdentification() }}
                                    {% elseif ticket.getGuestInfo() %}{{ ticket.getGuestInfo().getUniversityIdentification() }}
                                    {% endif %}</td>
                                <td>{% if ticket.getGuestInfo() %}{{ ticket.getGuestInfo().getOrganization() }}{% else %}ACCOUNT{% endif %}</td>
                                <td>{{ ticket.getStatus() }}</td>
                                <td>{{ ticket.getEmail() }}</td>
                                <td>{{ ticket.getOption().getName() }} ({% if ticket.isMember() %}Member{% else %}Non Member{% endif %})</td>
                                <td>{{ ticket.getPayId() }}</td>
                                <td>{{ ticket.getOrderId() }}</td>
                                <td>{{ ticket.getBookDate().format('d/m/Y H:i') }}</td>
                                <td>{{ ticket.getSoldDate().format('d/m/Y H:i') }}</td>
                                <td>{% if ticket.isMember() %}&times;{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% include 'admin/partials/paginationControl.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".tickets").resizableColumns();

            {% if hasAccess('ticket_admin_ticket', 'search') %}
            $.searchDatabase({
                defaultPage: $('#default_page'),
                searchDiv: $('#ticket_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                searchPage: '{{ url('ticket_admin_ticket', {'action': 'manage', 'id': event.getId()}) }}',
                url: '{{ url('ticket_admin_ticket', {'action': 'search', 'id': event.getId()}) }}',
                display: function (data) {
                    $('#ticket_search table').find('tr.item').remove();
                    $(data).each(function () {
                        $('#ticket_search table').append(row = $('<tr>', {class: 'item item-' + this.id}));
                        row.append('<td>' + this.person + '</td>')
                            .append('<td>' + this.rNumber + '</td>')
                            .append('<td>' + this.organization + '</td>')
                            .append('<td>' + this.status + '</td>')
                            .append('<td>' + this.email + '</td>')
                            .append('<td>' + this.option + '</td>')
                            .append('<td>' + this.payId + '</td>')
                            .append('<td>' + this.orderId + '</td>')
                            .append('<td>' + this.bookDate + '</td>')
                            .append('<td>' + this.soldDate + '</td>')
                            .append('<td>' + (this.isMember ? '&times' : '') + '</td>');
                    });
                    $('#ticket_search table').change();
                },
                clear: function () {
                    $('#ticket_search table').find('tr.item').remove();
                }
            });
            {% endif %}
        });
    </script>
{% endblock %}
