{{ doctype() }}

<html lang="en">
<head>

    {{ headMeta() }}
	{{ headTitle('Litus Sale', 'PREPEND') }}

	{{ headLink() }}
</head>

<body>

<nav class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="{{ unionUrl }}" class="brand"><img src="/_cudi/img/logo.png" /></a>
			<ul class="nav">
				{% if hasAccess('sale_sale', 'sale') %}
					<li {% if 'sale' == getParam('action') and 'sale_sale' == getParam('controller') %} class="active" {% endif %}>
					    <a href="{{ url("sale_sale", {"action": "sale", "session": session.getId()}) }}">Sale</a>
					</li>
				{% endif %}
				{% if hasAccess('sale_sale', 'return') %}
					<li {% if 'return' == getParam('action') and 'sale_sale' == getParam('controller') %} class="active" {% endif %}>
					    <a href="{{ url("sale_sale", {"action": "return", "session": session.getId()}) }}">Return</a>
					</li>
				{% endif %}
				{% if hasAccess('sale_queue', 'overview') %}
					<li {% if 'overview' == getParam('action') and 'sale_queue' == getParam('controller') %} class="active" {% endif %}>
					    <a href="{{ url("sale_queue", {"action": "overview", "session": session.getId()}) }}">Queue</a>
					</li>
				{% endif %}
				{% if hasAccess('sale_queue', 'screen') %}
					<li {% if 'screen' == getParam('action') and 'sale_queue' == getParam('controller') %} class="active" {% endif %}>
					    <a href="{{ url("sale_queue", {"action": "screen", "session": session.getId()}) }}">Queue Screen</a>
					</li>
				{% endif %}
				{% if hasAccess('sale_queue', 'signin') %}
					<li {% if 'signin' == getParam('action') and 'sale_queue' == getParam('controller') %} class="active" {% endif %}>
					    <a href="{{ url("sale_queue", {"action": "signin", "session": session.getId()}) }}">Queue Sign In</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>

<header>
	<div class="inner">
		<div class="container">
			<h1>Litus Sale</h1>
		</div>
	</div>
</header>

<div class="container">
	{% include 'sale/partials/flashMessenger.twig' %}

	<div id="content_controller">
	    {% block content %} {% endblock %}
	</div>

	<footer>
	    Litus Cudi | Code by <a href="http://litus.cc">Litus</a>

		{% if 'development' == environment %}
		    <span class="development_information">
		    	Execution Time: {{ developmentInformation.executionTime }} ms | Doctrine's UoW: {{ developmentInformation.doctrineUnitOfWork }}
		    </span>
		{% endif %}
	</footer>
</div>

{{ inlineScript() }}

{% block content_script %} {% endblock %}

</body>
</html>
