{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/sale/article/partials/navigation_templates.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width template_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The discount template was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width template_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the discount template.</p>
        </div>
    </div>

        <div id="default_page">
            <table class="full_width manage">
                <tr>
                    <th width="50px">Name</th>
                    <th width="50px" class="wider">Value</th>
                    <th width="50px">Type</th>
                    <th width="50px">Organization</th>
                    <th width="50px">Method</th>
                    <th width="50px">Rounding</th>
                    <th width="30px">Action</th>
                </tr>

                {% for template in paginator %}
                    <tr class="item item-{{ template.getId() }}">
                        <td>{{ template.getName() }}</td>
                        <td>{{ template.getValue() }}</td>
                        <td>{{ template.getType() }}</td>
                        <td>{{ template.getOrganization().getName() }}</td>
                        <td>{{ template.getMethod() }}</td>
                        <td>{{ template.getRounding() }}</td>
                        <td class="actions">
                            {% if hasAccess('cudi_admin_sales_article_discount_template', 'edit') %}
                                <a href="{{ url('cudi_admin_sales_article_discount_template', {"action": "edit", "id": template.getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('cudi_admin_sales_article_discount_template', 'delete') %}
                                <a href="#" class="delete" data-id="{{ template.getId() }}" data-title="{{ template.getName() }}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% include 'admin/partials/paginationControl.twig' %}
        </div>
    </div>

    <div class="modal hide fade" id="removeTemplate">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Delete Discount Template
        </div>
        <div class="modal-body">
            <p>
                You are about to delete the following discount template: <b class="templateTitle"></b> !
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <input type="button" class="delete" value="Yes">
                <input type="button" class="cancel" data-dismiss="modal" value="No">
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">

        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);
            e.preventDefault();
            var removeTemplate = $('#removeTemplate');
            removeTemplate.find('.templateTitle').html($(this).data('title'));
            var id = $this.data('id');
            removeTemplate.find('.delete').unbind('click').click(function () {
                $.post('{{ url('cudi_admin_sales_article_discount_template', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.template_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeTemplate.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeTemplate.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.template_removed_error').removeClass('hide');
            $('#removeTemplate').modal('hide');
        }
    </script>
{% endblock %}
