<ul class="nav nav-tabs hidden-phone">
    <li {% if getParam('action') == 'index' %}class="active"{% endif %}>
        <a href="{{ url('account', {'action': 'index'}) }}">
            {{ translate('Overview') }}
        </a>
    </li>
    <li {% if getParam('action') == 'edit' %}class="active"{% endif %}>
        <a href="{{ url('account', {'action': 'edit'}) }}">
            {{ translate('Edit') }}
        </a>
    </li>
    <li {% if getParam('action') == 'studies' %}class="active"{% endif %}>
        <a href="{{ url('account', {'action': 'studies'}) }}">
            {{ translate('Studies') }}
        </a>
    </li>
    <li {% if getParam('action') == 'subjects' %}class="active"{% endif %}>
        <a href="{{ url('account', {'action': 'subjects'}) }}">
            {{ translate('Subjects') }}
        </a>
    </li>

    <li class="pull-right {% if getParam('action') == 'fileServer' %}active{% endif %}">
        <a href="{{ url('account', {'action': 'fileServer'}) }}">
            {{ translate('File Server') }}
        </a>
    </li>
    <li class="pull-right {% if getParam('controller') == 'session' %}active{% endif %}">
        <a href="{{ url('session', {'action': 'manage'}) }}">
            {{ translate('Sessions') }}
        </a>
    </li>
</ul>

