{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_article/partials/navigation.twig' %}
		
	{% include 'admin/partials/flashMessenger.twig' %}
	<div id="controller_action">
		<h1>Article</h1>
		
		<p>Title: <b>{{ article.getTitle() }} {% if article.getVersionNumber() != 1 %} (v{{ article.getVersionNumber() }}) {% endif %}</b></p>
		<p>Author: <b>{{ article.getMetaInfo().getAuthors() }}</b></p>
		<p>Publisher: <b>{{ article.getMetaInfo().getPublishers() }}</b></p>
		<br />
		
		{% autoescape false %}
			{{ form }}
		{% endautoescape %}
		<br style="clear:both"/>
			
		<table class="full_width" id="articleComments">
	        <tr>
	            <th width="100px">Date</th>
	            <th width="140px">Person</th>
	            <th>Summary</th>
	            <th width="70px">Action</th>
	        </tr>
	
	        {% for comment in comments %}
	            <tr class="item">
	                <td>{{ comment.getDate().format('d/m/Y H:i') }}</td>
	                <td>{{ comment.getPerson().getFullName() }}</td>
	                <td>{{ comment.getSummary() }}</td>
					<td>
						<a href="#" class="view" data-text="{{ comment.getText() }}">View</a>
	                </td>
	            </tr>
	        {% endfor %}
	    </table>
	</div>
	
	<div class="modal hide fade" id="viewComment">
		<div class="modal-header">
			<span>Litus Admin</span>
			/Article Comment
		</div>
		<div class="modal-body">
			<p class="text"></p>
			<div class="footer">
				<input type="button" data-dismiss="modal" value="Close">
			</div>
		</div>
	</div>
{% endblock %}

{% block controller_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('.item .view').click(openViewModal);
		});
		
		function openViewModal(e) {
			var $this = $(this);
			
			e.preventDefault();
			var viewComment = $('#viewComment');
			viewComment.find('.text').html($this.data('text'));
			viewComment.modal();
		}
	</script>
{% endblock %}