{% extends 'prof/base.twig' %}

{% block content %}
    {% if authenticated %}
        <div class="row">
            <div class="span9">
                <div class="page-header">
                    <h2>{{ translate('Your Recent Activity') }}</h2>
                </div>

                {% for action in paginator %}
                    <div class="action">
                        {% if action.getEntityName() == 'article' %}
                            <div><b>{{ action.getPerson().getFullName() }}</b> {% autoescape false %}{% if action.getAction() == 'add' %}{{ translate('added an article on <b>%date%</b>')|replace({'%date%':action.getTimestamp().format('d/m/Y H:i')}) }}{% else %}{{ translate('edited an article on <b>%date%</b>')|replace({'%date%': action.getTimestamp().format('d/m/Y H:i')}) }}{% endif %}{% endautoescape %}</div>
                            <div class="info">
                                {{ translate('Article') }}: <b>{{ action.getEntity().getTitle() }}</b><br />
                                {{ translate('Status') }}: <b>{% if action.getEntity().isDraft() %}
                                        <span class="label label-info">{{ translate('Draft') }}</span>
                                    {% else %}
                                        {% if action.isCompleted() %}
                                            <span class="label label-success">{{ translate('Confirmed') }}</span> {{ translate('by %name%')|replace({'%name%': action.getCompletedPerson().getFullName()}) }}
                                        {% elseif action.isRefused() %}
                                            <span class="label label-important">{{ translate('Refused') }}</span> by {{ action.getCompletedPerson().getFullName() }}
                                        {% else %}
                                            <span class="label label-warning">{{ translate('Not confirmed') }}</span>
                                        {% endif %}
                                    {% endif %}</b>
                            </div>
                        {% elseif action.getEntityName() == 'mapping' %}
                            <div><b>{{ action.getPerson().getFullName() }}</b> {% autoescape false %}{% if action.getAction() == 'add' %}{{ translate('added an article - subject map on <b>%date%</b>')|replace({'%date%':action.getTimestamp().format('d/m/Y H:i')}) }}{% else %}{{ translate('removed an article - subject map on <b>%date%</b>')|replace({'%date%':action.getTimestamp().format('d/m/Y H:i')}) }}{% endif %}{% endautoescape %}</div>
                            <div class="info">
                                {{ translate('Subject') }}: <b>{{ action.getEntity().getSubject().getName() }}</b><br />
                                {{ translate('Article') }}: <b>{{ action.getEntity().getArticle().getTitle() }}</b><br />
                                {{ translate('Status') }}: <b>{% if action.isCompleted() %}
                                        <span class="label label-success">{{ translate('Confirmed') }}</span> {{ translate('by %name%')|replace({'%name%': action.getCompletedPerson().getFullName()}) }}
                                    {% elseif action.isRefused() %}
                                        <span class="label label-important">{{ translate('Refused') }}</span> {{ translate('by %name%')|replace({'%name%': action.getCompletedPerson().getFullName()}) }}
                                    {% else %}
                                        <span class="label label-warning">{{ translate('Not confirmed') }}</span>
                                    {% endif %}</b>
                            </div>
                        {% elseif action.getEntityName() == 'file' %}
                            <div><b>{{ action.getPerson().getFullName() }}</b> {% autoescape false %}{% if action.getAction() == 'add' %}{{ translate('added a file on <b>%date%</b>')|replace({'%date%':action.getTimestamp().format('d/m/Y H:i')}) }}{% else %}{{ translate('removed a file on <b>%date%</b>')|replace({'%date%':action.getTimestamp().format('d/m/Y H:i')}) }}{% endif %}{% endautoescape %}</div>
                            <div class="info">
                                {{ translate('Filename') }}: <b>{{ action.getEntity().getFile().getName() }}</b><br />
                                {{ translate('Description') }}: <b>{{ action.getEntity().getFile().getDescription() }}</b><br />
                                {{ translate('Status') }}: <b>{% if action.isCompleted() %}
                                        <span class="label label-success">{{ translate('Confirmed') }}</span> {{ translate('by %name%')|replace({'%name%': action.getCompletedPerson().getFullName()}) }}
                                    {% elseif action.isRefused() %}
                                        <span class="label label-important">{{ translate('Refused') }}</span> {{ translate('by %name%')|replace({'%name%': action.getCompletedPerson().getFullName()}) }}
                                    {% else %}
                                        <span class="label label-warning">{{ translate('Not confirmed') }}</span>
                                    {% endif %}</b>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                {% include 'prof/partials/paginationControl.twig' %}

                <div class="page-header">
                    <h2>{{ translate('Your Recent Conversations') }}</h2>
                    {% for conversation in recentConversations %}
                        <div class="action">
                            <b>{{ conversation['content'].getPerson().getFullName() }}</b> 
                            {% if conversation['type'] == 'reply' %}
                                {{ translate('replied on') }}
                            {% else %}
                                {{ translate('commented on') }}
                            {% endif %}
                            <b>{{ dateLocalized(conversation['content'].getDate(), 'd MMM Y HH:mm') }}</b>
                            <div class="info">
                                {{ translate('Subject') }}: <b>{{ conversation['content'].getSubject().getName() }}</b><br />
                                <a href="{{ url("cudi_prof_subject_comment", {"action": "manage", "id": conversation['content'].getSubject().getId()}) }}">{{ translate('View') }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="span3">
                {% if hasAccess('cudi_prof_help', 'index') %}
                    <div class="page-header">
                        <h3>{{ translate('How To Start') }}</h3>
                    </div>
                    <p>
                        {{ translate('Your first time here?') }}
                    </p>
                    <a href="{{ url('cudi_prof_help') }}" class="btn">&rarr; {{ translate('Help') }}</a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div style="text-align: center;">
            <img src="/img/litus.png" alt="Litus" />
            <h3>{{ translate('Please login to get access to these pages.') }}</h3>
        </div>
    {% endif %}
{% endblock %}
