{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_news/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width role_removed_success hide">
    	<div class="title">Success</div>
    	<div class="content">
    		<p>The news item was successfully removed!</p>
    	</div>
    </div>
    <div class="flashmessage error_message full_width role_removed_error hide">
    	<div class="title">Error</div>
    	<div class="content">
    		<p>An error occurred while trying to delete the news item.</p>
    	</div>
    </div>
	
	<div id="controller_action">
	    <table class="full_width">
	        <thead>
	            <tr>
	                <th>Title</th>
	                <th width="150px">Time</th>
	                <th width="160px">Author</th>
	                <th width="100px">Actions</th>
	            </tr>
	        </thead>
	
	        <tbody>
	            {% for news in paginator %}
	                <tr class="item">
	                    <td>{{ news.getTitle() }}</td>
	                    <td>{{ dateLocalized(news.getCreateTime(), 'dd/MM/y H:m') }}</td>
	                    <td>{{ news.getUpdatePerson().getFullName() }}</td>
	                    <td class="actions">
	                        {% if hasAccess('admin_news', 'edit') %}
	                            <a href="{{ url('admin_news', {"action": "edit", "id": news.getId()}) }}" class="btn btn-primary">{{ translator().translate('Edit') }}</a>
	                        {% endif %}
	                        {% if hasAccess('admin_news', 'delete') %}
	                            <a href="#" data-id="{{ news.getId() }}" data-title="{{ news.getTitle() }}" class="btn btn-danger delete">{{ translator().translate('Delete') }}</a>
	                        {% endif %}
	                    </td>
	                </tr>
	            {% endfor %}
	        </tbody>
	    </table>
	
		{% include 'admin/partials/paginationControl.twig' %}
	</div>
	
	<div class="modal hide fade" id="removeRole">
		<div class="modal-header">
			<span>Litus Admin</span>
			/News Delete
		</div>
		<div class="modal-body">
			<p>
				You are about to delete the following news item: <b class="title"></b>?
				Please note that this operation cannot be undone!
			</p>
			<p>
				Are you sure you want to continue?
			</p>
			<div class="footer">
				<input type="button" class="delete" value="Yes">
				<input type="button" class="cancel" data-dismiss="modal" value="No">
			</div>
		</div>
	</div>
{% endblock %}

{% block controller_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('.item .delete').click(openModal);
		});
		
		function openModal(e) {
			var $this = $(this);

			e.preventDefault();
			var removeNews = $('#removeNews');
			removeNews.find('.title').html($(this).data('title'));
			removeNews.find('.delete').unbind('click').click(function () {
				$.post('{{ url('admin_news', {"action": "delete"})}}/' + $this.data('id'), function  (data) {
				    if (data && 'success' == data.status) {
    					$('.flashmessage').addClass('hide');
    					$('.news_removed_success').removeClass('hide');
    					$this.parent().parent().remove();
    					removeNews.modal('hide');
    				} else {
    				    errorRemove();
    				}
				}, 'json').error(errorRemove);
			});
			removeNews.modal();
		}
		
		function errorRemove() {
		    $('.flashmessage').removeClass('in');
		    $('.news_removed_error').addClass('in');
		    $('#removeNews').modal('hide');
		}
	</script>
{% endblock %}