{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'admin/partials/flashMessenger.twig' %}

    {% include 'shift/admin/counter/partials/navigation.twig' %}

    <header class="controller_sub_header">
        <nav class="controller_sub_nav">
            <ul>
                {% for academicYear in academicYears %}
                    <li><a {% if academicYear.getCode() == activeAcademicYear.getCode() %} class="active" {% endif %}href="{{ url("shift_admin_shift_counter", {"action": "units", "academicyear": academicYear.getCode()}) }}">{{ academicYear.getCode() }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    <div id="controller_action">
        {% for unit, shifts in result %}
            <h1>{{ units[unit] }}</h1>

            <table class="full_width manage">
                <tr>
                    <th>Name</th>
                    <th width="120px"># Shifts</th>
                </tr>

                {% set sorted_shifts = shifts|sort((a, b) => b['count'] <=> a['count']) %}
                {% for test, shift in sorted_shifts %}
                    <tr>
                        <td>{{ shift['name'] }}</td>
                        <td>{{ shift['count'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
{% endblock %}
