{{ doctype() }}

<html lang="en">
<head>
    {{ headMeta() }}
    {{ headTitle('Litus Core', 'SET') }}

    {{ headLink() }}
    {{ assets('common_admin') }}
</head>

<body class="error">
    <div id="layout">
        <header>
            <span>Litus Core</span>/Error
        </header>

        <div id="content">
            <h1>Page Not Found</h1>
        </div>
    </div>
</body>
</html>
