{{ doctype() }}

<html lang="en">
<head>
    {{ headMeta() }}
    {{ headTitle('Litus Core', 'SET') }}

    {{ assets('common_admin') }}
</head>

<body class="error">
    <div class="{% if display_exceptions %}widest{% else %}wider{% endif %}" id="layout">
        <header>
            <span>Litus Core</span>/Error
        </header>

        <div id="content">
            <h1>{{ message }}</h1>

            {% if display_exceptions %}
                {% if exception is defined %}
                    <h2>Exception Information</h2>
                    <table>
                        <tr>
                            <th>Type</th>
                            <td>{{ getClass(exception) }}</td>
                        </tr>
                        <tr>
                            <th>Message</th>
                            <td>{{ exception.getMessage() }}</td>
                        </tr>
                        <tr>
                            <th>File</th>
                            <td>{{ exception.getFile() }}</td>
                        </tr>
                        <tr>
                            <th>Line</th>
                            <td>{{ exception.getLine() }}</td>
                        </tr>
                    </table>

                    <h2>Stack Trace</h2>
                    <table>
                        <tr>
                            <th>#</th>
                            <th>Line</th>
                            <th>Function</th>
                            <th>Class</th>
                        </tr>

                        {% for traceNumber, traceItem in exception.getTrace() %}
                            <tr>
                                <td>{{ traceNumber }}</td>
                                <td>{{ traceItem['line'] }}</td>
                                <td>{{ traceItem['function'] }}</td>
                                <td>{{ traceItem['class'] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <h2>No Exception Available</h2>
                {% endif %}
            {% endif %}
        </div>
    </div>
</body>
</html>
