{% extends 'prof/base.twig' %}

{% block content %}
    {% if nbArticles == 0 %}
        <div class="flashmessage alert alert-error" id="comment_removed_error">
            <a class="close" data-dismiss="alert">&times;</a>
        	<div class="title">{{ translator().translate('Error') }}</div>
        	<div class="content">
        		<p>{% autoescape false %}{{ translator().translate('There aren\'t articles you can add. Please create them first by clicking <i>Articles</a> in the menu.') }}{% endautoescape %}</p>
        	</div>
        </div>
    {% endif %}
    
	<div class="page-header">
	    <h2>{{ translator().translate('Add Article') }}</h2>
	</div>
	
	<h3>{{ translator().translate('Subject') }}</h3>
	<p>
	    {{ translator().translate('Code') }}: <b>{{ subject.getCode() }}</b><br />
	    {{ translator().translate('Name') }}: <b>{{ subject.getName() }}</b><br />
	    {{ translator().translate('Semester') }}: <b>{{ subject.getSemester() }}</b><br />
	    {{ translator().translate('Credits') }}: <b>{{ subject.getCredits() }}</b>
	</p>
	{% autoescape false %}
	    {{ form }}
	{% endautoescape %}
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$(document).ready(function () {
		    $('#articleSearch').typeaheadRemote(
			    {
			        source: '{{ url("prof_article_typeahead", {"language": language.getAbbrev()})}}',
			    }
			).change(function (e) {
			    if ($(this).data('value')) {
			        $('#articleId').val($(this).data('value').id);
			    } else {
			        $('#articleId').val('');
			    }
			});
		});
	</script>
{% endblock %}
