{% extends 'prof/base.twig' %}

{% block content %}
	<div class="page-header">
	    <h2>Add Article</h2>
	</div>
	
	<h3>Subject</h3>
	<p>
	    Code: <b>{{ subject.getCode() }}</b><br />
	    Name: <b>{{ subject.getName() }}</b><br />
	    Semester: <b>{{ subject.getSemester() }}</b><br />
	    Credits: <b>{{ subject.getCredits() }}</b>
	</p>
	{% autoescape false %}
	    {{ form }}
	{% endautoescape %}
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$(document).ready(function () {
		    $('#articleSearch').typeaheadRemote(
			    {
			        source: '{{ url("prof_article_typeahead")}}',
			    }
			).change(function (e) {
			    if ($(this).data('value')) {
			        $('#articleId').val($(this).data('value').id);
			    } else {
			        $('#articleId').val('');
			    }
			});
		});
	</script>
{% endblock %}
