{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'shop/admin/product/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width product_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The product was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width product_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the product.</p>
        </div>
    </div>

    <div id="controller_action">
        <div id="product_search" style="display: none;">
            <div style="padding: 4px; text-align: right">
                Search:
                <select id="searchField">
                    <option value="name">Name</option>
                </select>
                is
                <input type="text" id="searchString" size="30"/>
            </div>

            <table class="full_width manage">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Available</th>
                    <th>Default Amount</th>
                    <th width="70px">Actions</th>
                </tr>
            </table>
        </div>

        <div id="default_page">
            <table class="full_width manage">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Available</th>
                    <th>Default Amount</th>
                    <th width="70px">Actions</th>
                </tr>

                {% for product in paginator %}
                    <tr class="item item-{{ product.getId() }}">
                        <td>{{ product.getName() }}</td>
                        <td>{{ product.getSellPrice() }}</td>
                        <td><input type="checkbox" {% if product.getAvailable() %}checked{% endif %} }} disabled/></td>
                        <td>{{ product.getDefaultAmount() ? product.getDefaultAmount(): 0 }}</td>
                        <td class="actions">
                            {% if hasAccess('shop_admin_shop_product', 'edit') %}
                                <a href="{{ url('shop_admin_shop_product', {"action": "edit", "id": product.getId()}) }}"
                                   class="edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('shop_admin_shop_product', 'delete') %}
                                <a href="#" data-id="{{ product.getId() }}" data-name="{{ product.getName() }}"
                                   class="delete">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% include 'admin/partials/paginationControl.twig' %}
        </div>
    </div>

    <div class="modal fade" id="removeProduct" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Product
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the product with the following name: <b class="name"></b>?
                        Please note that this operation cannot be undone!
                    </p>

                    <p>
                        Are you sure you want to continue?
                    </p>

                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if hasAccess('shop_admin_shop_product', 'search') %}
            $.searchDatabase({
                defaultPage: $('#default_page'),
                searchDiv: $('#product_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                searchPage: '{{ url('shop_admin_shop_product', {'action': 'manage'}) }}manage/',
                url: '{{ url('shop_admin_shop_product', {'action': 'search'}) }}',
                display: function (data) {
                    $('#product_search table').find('tr.item').remove();
                    $(data).each(function () {
                        console.log(this)
                        $('#product_search table').append(row = $('<tr>', {class: 'item item-' + this.id}));
                        row.append('<td>' + this.name + '</td>')
                                .append('<td>' + this.sellPrice + '</td>')
                                .append($('<td>')
                                        .append($('<input>', {type: "checkbox"})
                                                .attr('checked', this.available)))
                                .append('<td>' + this.defaultAmount + '</td>')
                                .append(
                                $('<td>', {'class': 'actions'})
                                        .append('<a href="{{ url('shop_admin_shop_product', {"action": "edit"}) }}' + this.id + '" class="edit">Edit</a>')
                                        .append($('<a href="#" class="delete" data-name="'+this.name+'" data-id="'+this.id+'">Delete</a>'))
                        );
                    });
                    $('#product_search .delete').click(openModal);
                    $('#product_search table').change();
                },
                clear: function () {
                    $('#product_search table').find('tr.item').remove();
                }
            });
            {% endif %}

            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);
            e.preventDefault();
            var removeProduct = $('#removeProduct');
            removeProduct.find('.name').html($(this).data('name'));
            removeProduct.find('.cancel').one('click', function () {
                removeProduct.modal('hide');
            });
            var id = $this.data('id');
            removeProduct.find('.delete').unbind('click').click(function () {
                $.post('{{ url('shop_admin_shop_product', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.product_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeProduct.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeProduct.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.product_removed_error').removeClass('hide');
            $('#removeProduct').modal('hide');
        }
    </script>
{% endblock %}
