<header id="controller_header">
    <div class="title"><span class="stock">Stock</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('admin_stock', 'export') %}
                <li><a{% if 'export' == getParam('action') %} class="active" {% endif %} href="{{ url('admin_stock', {"action": "export"}) }}">Export</a></li>
            {% endif %}
            {% if hasAccess('admin_stock_period', 'manage') %}
                <li><a{% if 'admin_stock_period' == getParam('controller') %} class="active" {% endif %} href="{{ url('admin_stock_period') }}">Periods</a></li>
            {% endif %}
            {% if hasAccess('admin_stock_order', 'manage') %}
                <li><a{% if 'admin_stock_order' == getParam('controller') %} class="active" {% endif %} href="{{ url('admin_stock_order') }}">Orders</a></li>
            {% endif %}
            {% if hasAccess('admin_stock_delivery', 'manage') %}
                <li><a{% if 'admin_stock_delivery' == getParam('controller') %} class="active" {% endif %} href="{{ url('admin_stock_delivery') }}">Deliveries</a></li>
            {% endif %}
            {% if hasAccess('admin_stock_retour', 'manage') %}
                <li><a{% if 'admin_stock_retour' == getParam('controller') %} class="active" {% endif %} href="{{ url('admin_stock_retour') }}">Retours</a></li>
            {% endif %}
            {% if hasAccess('admin_stock', 'notDelivered') %}
                <li><a{% if 'admin_stock' == getParam('controller') and 'notDelivered' == getParam('action') %} class="active" {% endif %} href="{{ url('admin_stock', {'action': 'notDelivered'}) }}">Not Delivered</a></li>
            {% endif %}
            {% if hasAccess('admin_stock', 'manage') %}
                <li><a{% if 'admin_stock' == getParam('controller') and 'notDelivered' != getParam('action') %} class="active" {% endif %} href="{{ url('admin_stock') }}">Overview</a></li>
            {% endif %}
        </ul>
    </nav>
</header>