{% if organizations|length > 1 %}
<header id="controller_sub_header">
    <nav id="controller_sub_nav">
        <ul>
            {% set found = false %}
            {% for organization in organizations %}
                {% if currentOrganization.getId() == organization.getId() %}
                    {% set found = true %}
                {% endif %}
            {% endfor %}
            <li>
                <a {% if not found %} class="active" {% endif %}
                    href="{% if currentSemester != 0 %}
                        {{ url('admin_stock', {'action': 'manage', 'semester': currentSemester}) }}
                    {% else %}
                        {{ url('admin_stock', {'action': 'manage'}) }}
                    {% endif %}">All</a>
            </li>
            {% for organization in organizations %}
                <li>
                    <a {% if currentOrganization.getId() == organization.getId() %} class="active" {% endif %}
                    href="{% if currentSemester != 0 %}
                        {{ url('admin_stock', {'action': 'manage', 'semester': currentSemester, 'organization': organization.getId()}) }}
                    {% else %}
                        {{ url('admin_stock', {'action': 'manage', 'organization': organization.getId()}) }}
                    {% endif %}">{{ organization.getName() }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>
{% endif %}