{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'common/admin/role/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width role_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The group was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width role_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the group.</p>
        </div>
    </div>

    <div id="controller_action">
        <table class="manage">
            <thead>
                <tr>
                    <th>Name</th>
                    <th width="70px">Action</th>
                </tr>
            </thead>

            <tbody>
                {% for role in paginator %}
                    <tr class="item item-{{ role.getName() }}">
                        <td>{{ role.getName() }}</td>
                        <td class="actions">
                            {% if hasAccess('common_admin_role', 'members') %}
                                <a href="{{ url('common_admin_role', {"action": "members", "name": role.getName()}) }}" class="role_edit">Members</a>
                            {% endif %}
                            {% if hasAccess('common_admin_role', 'edit') %}
                                <a href="{{ url('common_admin_role', {"action": "edit", "name": role.getName()}) }}" class="edit">Edit</a>
                            {% endif %}
                            {% if not role.getSystem() and hasAccess('common_admin_role', 'delete') %}
                                <a href="#" data-name="{{ role.getName() }}" class="delete">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal hide fade" id="removeRole" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Group
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following group: <b class="name"></b>?
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal hide fade" id="removeMembers" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Members
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete all the members from roles linked to units!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if hasAccess('common_admin_role', 'prune') %}
        <aside>
            <div class="sidebox">
                <div class="title">Prune Tree</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to prune the tree!</i>
                    </p>
                    <p>
                        <a href="{{ url('common_admin_role', {"action": "prune"}) }}">&rarr; Prune Tree</a>
                    </p>
                </div>
            </div>
        </aside>
    {% endif %}
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);
            e.preventDefault();
            var removeRole = $('#removeRole');
            removeRole.find('.name').html($(this).data('name'));
            removeRole.find('.cancel').one('click', function () {
                removeRole.modal('hide');
            });
            var name = $this.data('name');
            removeRole.find('.delete').unbind('click').click(function () {
                $.post('{{ url('common_admin_role', {"action": "delete"})}}name/' + name, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.role_removed_success').removeClass('hide');
                        $('.item-' + name).remove();
                        removeRole.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeRole.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.role_removed_error').removeClass('hide');
            $('#removeRole').modal('hide');
        }
    </script>
{% endblock %}
