{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'common/admin/role/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width member_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The member was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width member_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the member.</p>
        </div>
    </div>

    <div id="controller_action">
        <h1>Role</h1>
        <p>Name: <b>{{ role.getName() }}</b></p>

        <h1>Direct members</h1>

        <table class="full_width manage">
            <tr>
                <th>Name</th>
                <th style="width: 90px">Actions</th>
            </tr>
            {% for member in members %}
                <tr class="item item-{{ member.getId() }}">
                    <td>{{ member.getFullName() }}</td>
                    <td>
                        {% if hasAccess('common_admin_role', 'deleteMember') %}
                            <a href="#" data-id="{{ member.getId() }}" data-name="{{ member.getFullName() }}" class="delete">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h1>Unit members</h1>

        <table class="full_width manage">
            <tr>
                <th>Name</th>
            </tr>
            {% for member in unitMembers %}
                <tr class="item item-{{ member.getId() }}">
                    <td>{{ member.getFullName() }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="modal fade" id="removeMember" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Member
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following member: <b class="memberName"></b>!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeMember = $('#removeMember');
            removeMember.find('.memberName').html($(this).data('name'));
            var id = $this.data('id');
            removeMember.find('.delete').unbind('click').click(function () {
                $.post('{{ url('common_admin_role', {"action": "deleteMember", "name": role.getName()}) }}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.member_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeMember.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeMember.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.member_removed_error').removeClass('hide');
            $('#removeMember').modal('hide');
        }
    </script>
{% endblock %}
