{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'publication/admin/edition/pdf/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width edition_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The edition was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width edition_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete an edition.</p>
        </div>
    </div>

    <div id="controller_action">

        <div id="normal_page">

            <table class="full_width manage">
                <tr>
                    <th>Title</th>
                    <th width="120px">Date</th>
                    <th width="70px">Actions</th>
                </tr>

                {% for edition in paginator %}

                    <tr class="item item-{{ edition.getId() }}">
                        <td>{{ edition.getTitle() }}</td>
                        <td>{{ edition.getDate().format('d/m/Y') }}</td>
                        <td class="actions">
                            {% if hasAccess('publication_admin_edition_pdf', 'view') %}
                                <a href="#" class="downloadFile view" data-file="{{ url('publication_admin_edition_pdf', {"action": "view", "id": edition.getId()}) }}">View</a>
                            {% endif %}
                            {% if hasAccess('publication_admin_edition_pdf', 'delete') %}
                                <a href="#" class="delete" data-id="{{ edition.getId() }}" data-title="{{ edition.getTitle() }}" data-publication-title="{{ publication.getTitle() }}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}

            </table>

        </div>

        {% include 'admin/partials/paginationControl.twig' %}

    </div>

    <div class="modal hide fade" id="removeEdition">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Delete Edition
        </div>
        <div class="modal-body">
            <p>
                You are about to delete the following edition: <b class="editionTitle"></b> of <b class="publicationTitle"></b>!
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <button class="delete">Yes</button>
                <button class="cancel" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
{% endblock %}


{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openModal);

            $('.downloadFile').each(function () {
                $(this).downloadFile($(this).data('file'));
            });
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeEdition = $('#removeEdition');
            removeEdition.find('.publicationTitle').html($(this).data('publication-title'));
            removeEdition.find('.editionTitle').html($(this).data('title'));
            var id = $this.data('id');
            removeEdition.find('.delete').unbind('click').click(function () {
                $.post('{{ url('publication_admin_edition_pdf', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.edition_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeEdition.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeEdition.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.edition_removed_error').removeClass('hide');
            $('#removeEdition').modal('hide');
        }

    </script>
{% endblock %}
