{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'secretary/admin/promotion/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width promotion_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The promotion was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width promotion_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete a promotion.</p>
        </div>
    </div>

    <div id="controller_action">
        <div id="promotion_search" style="display: none;">
            <div style="padding: 4px; text-align: right">
                Search:
                <select id="searchField">
                    <option value="name">Name</option>
                </select>
                is
                <input type="text" id="searchString" size="30" />
            </div>

            <table class="manage">
                <tr>
                    <th width="200px">Identification</th>
                    <th>Name</th>
                    <th width="250px">E-mail</th>
                    <th width="70px">Action</th>
                </tr>
            </table>
        </div>

        <div id="default_page">
            <table class="manage">
                <thead>
                    <tr>
                        <th width="200px">Identification</th>
                        <th>Name</th>
                        <th width="250px">E-mail</th>
                        <th width="70px">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for promotion in paginator %}
                        <tr class="item item-{{ promotion.getId() }}">
                            <td>{% if promotion.getAcademic() %}{{ promotion.getAcademic().getUniversityIdentification() }}{% endif %}</td>
                            <td>{{ promotion.getFullName() }}</td>
                            <td>{{ promotion.getEmailAddress() }}</td>
                            <td class="actions">
                                {% if hasAccess('secretary_admin_promotion', 'delete') %}
                                    <a href="#" data-id="{{ promotion.getId() }}" data-email="{{ promotion.getEmailAddress() }}" data-name="{{ promotion.getFullName() }}" class="delete">Delete</a></li>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include 'admin/partials/paginationControl.twig' %}
        </div>
    </div>

    <aside>
        {% if hasAccess('secretary_admin_promotion', 'add') %}
            <div class="sidebox">
                <div class="title">Add Promotion</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to add a promotion!</i>
                    </p>
                    <p>
                        <a href="{{ url('secretary_admin_promotion', {'action': 'add', "academicyear": activeAcademicYear.getCode()}) }}">&rarr; Add Promotion</a>
                    </p>
                </div>
            </div>
        {% endif %}

        {% if hasAccess('secretary_admin_promotion', 'mail') %}
            <div class="sidebox">
                <div class="title">Mail Promotion</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to mail this promotion list!</i>
                    </p>
                    <p>
                        <a href="{{ url('secretary_admin_promotion', {'action': 'mail', "academicyear": activeAcademicYear.getCode()}) }}">&rarr; Mail Promotion</a>
                    </p>
                </div>
            </div>
        {% endif %}

        {% if hasAccess('secretary_admin_promotion', 'update') %}
            <div class="sidebox">
                <div class="title">Update Promotion</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to update this promotion list!</i>
                    </p>
                    <p>
                        <a href="{{ url('secretary_admin_promotion', {'action': 'update', "academicyear": activeAcademicYear.getCode()}) }}">&rarr; Update Promotion</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>

    <div class="modal hide fade" id="removePromotion">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Delete Promotion
        </div>
        <div class="modal-body">
            <p>
                You are about to delete the following promotion: <b class="email"></b> (<b class="name"></b>)!
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <input type="button" class="delete" value="Yes">
                <input type="button" class="cancel" data-dismiss="modal" value="No">
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if hasAccess('secretary_admin_promotion', 'search') %}
            $.searchDatabase({
                defaultPage: $('#default_page'),
                searchDiv: $('#promotion_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                searchPage: '{{ url('secretary_admin_promotion', {'action': 'manage'}) }}manage/',
                url: '{{ url('secretary_admin_promotion', {'action': 'search'}) }}',
                display: function (data) {
                    $('#student_search table').find('tr.item').remove();
                    $(data).each(function () {
                        $('#student_search table').append(row = $('<tr>', {class: 'item item-' + this.id}));
                        row.append('<td>' + this.universityIdentification + '</td>')
                            .append('<td>' + this.fullName + '</td>')
                            .append('<td>' + this.email + '</td>')
                            .append(
                                $('<td>', {'class': 'actions'})
                                    .append('<a href="#" class="delete">Delete</a>')
                                );
                    });
                    $('#promotion_search table').change();
                },
                clear: function () {
                    $('#promotion_search table').find('tr.item').remove();
                }
            });
            {% endif %}
            $('.item .delete').click(openRemoveModal);
        });

        function openRemoveModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removePromotion = $('#removePromotion');
            removePromotion.find('.email').html($(this).data('email'));
            removePromotion.find('.name').html($(this).data('name'));
            var id = $this.data('id');
            removePromotion.find('.delete').unbind('click').click(function () {
                $.post('{{ url('secretary_admin_promotion', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.promotion_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removePromotion.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removePromotion.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.promotion_removed_error').removeClass('hide');
            $('#removePromotion').modal('hide');
        }
    </script>
{% endblock %}
