{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_order/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
		<h1>Order</h1>
		<p>Supplier: <b>{{ order.getSupplier().getName() }}</b></p>
		<p>Date: <b>{% if order.getDate() %}{{ order.getDate().format('Y-m-d H:i:s')}}{% else %}(new){% endif %}</b></p>
		<br />
		
		<table>
			
			<tr>
				<th>Article</th>
				<th>Number</th>
				<th>Actions</th>
			</tr>
	
			{% for item in order.getOrderItems() %}
				<tr>
					<td>{{ item.getArticle().getTitle() }} {% if item.getArticle().getVersionNumber() != 1 %} (v{{ item.getArticle().getVersionNumber() }}) {% endif %}</td>
					<td>{{ item.getNumber() }}</td>
					<td>
						{% if order.isPlaced() == false %}
							<a href="{{ url('admin_order', {"action": "delete", "id": item.getId()}) }}" class="delete">Delete</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	
	<aside>
		{% if order.isPlaced() == false %}
			<div class="sidebox">
		        <div class="title">Place Order</div>
		        <div class="content">
		            <p>
		                <i>Please hit the link below to place this order!</i>
		            </p>
		            <p>
		                <a href="{{ url('admin_order', {"action": "place", "id": order.getId()}) }}">&rarr; Place order</a>
		            </p>
		        </div>
		    </div>
			<div class="sidebox">
		        <div class="title">New Order Item</div>
		        <div class="content">
		            <p>
		                <i>Please hit the link below to add a new order item!</i>
		            </p>
		            <p>
		                <a href="{{ url('admin_order', {"action": "add"}) }}">&rarr; Add order item</a>
		            </p>
		        </div>
		    </div>
		{% else %}
			<div class="sidebox">
		        <div class="title">Print Order</div>
		        <div class="content">
		            <p>
		                <i>Please hit the link below to print the order for the supplier!</i>
		            </p>
		            <p>
		                <a href="#" id="printOrder" target="_blank">&rarr; Print order</a>
		            </p>
		        </div>
		    </div>
		    <div class="sidebox">
		        <div class="title">Export Order</div>
		        <div class="content">
		            <p>
		                <i>Please hit the link below to export the order to XML for the supplier!</i>
		            </p>
		            <p>
		                <a href="#" id="exportOrder">&rarr; Export order</a>
		            </p>
		        </div>
		    </div>
		{% endif %}
	</aside>
{% endblock %}

{% block controller_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('#exportOrder').downloadFile('{{ url('admin_order', {"action": "export", "id": order.getId()}) }}');
			$('#printOrder').downloadFile('{{ url('admin_order', {"action": "pdf", "id": order.getId()}) }}');
		});
	</script>
{% endblock %}