{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{% block title %}{{ translate('CV Book') }}{% endblock %}</h1>
    </div>

    {% if messages %}
        {% for flashMessage in messages %}
            <div class="flashmessage alert alert-{{ flashMessage.getType() }} fade in">
                <a class="close" data-dismiss="alert">&times;</a>
                {{ translate(flashMessage.getMessage())|replace({"{{editurl}}" : url('common_account', {action: 'edit', return: 'br_cv_index'})})|raw }}
            </div>
        {% endfor %}
    {% else %}
        {% block intro_message %}
            {{ translate('The following data from your account will be used in the CV Book:') }}
        {% endblock %}

        <dl class="dl-horizontal wide">
            <dt>{{ translate('Name') }}</dt>
            <dd>{{ authenticatedPerson.getFullName() }}&nbsp;</dd>
            <dt>{{ translate('Birthday') }}</dt>
            <dd>{{ dateLocalized(authenticatedPerson.getBirthday(), 'd MMMM y') }}&nbsp;</dd>
            <dt>{{ translate('Sex') }}</dt>
            <dd>{{ authenticatedPerson.getSex()|capitalize }}&nbsp;</dd>
            <dt>{{ translate('Phone Number') }}</dt>
            <dd>{{ authenticatedPerson.getPhoneNumber() }}&nbsp;</dd>
            <dt>{{ translate('E-mail') }}</dt>
            <dd>{{ authenticatedPerson.getPersonalEmail() }}&nbsp;</dd>
            <dt>{{ translate('Secondary Address&mdash;Home') }}</dt>
            <dd>
                {{ authenticatedPerson.getSecondaryAddress().getStreet() }} {{ authenticatedPerson.getSecondaryAddress().getNumber() }}
                {% if authenticatedPerson.getSecondaryAddress().getMailbox() %}
                    / {{ authenticatedPerson.getSecondaryAddress().getMailbox() }}
                {% endif %}<br>
                {{ authenticatedPerson.getSecondaryAddress().getPostal() }} {{ authenticatedPerson.getSecondaryAddress().getCity() }}<br>
                {{ authenticatedPerson.getSecondaryAddress().getCountry() }}
            </dd>
            <dt>{{ translate('Profile Picture') }}</dt>
            <dd>
                <img width="200" src="{{ profilePath }}/{{ authenticatedPerson.getPhotoPath() }}" alt=""/>
            </dd>
        </dl>

        <strong>
            <p>{{ translate('Please update your account data if necessary. Note that the data above will be retrieved immediately after creating the entry, so future updates to your profile will not be reflected automatically.')}}</p>

            <p>{{ translate('You are advised to use your mother tongue for your CV.') }}</p>
        </strong>

        {% import 'site/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    {% endif %}
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        var currentCount = 0;
        $(document).ready(function () {
            while ($('input[name="languages[' + (currentCount) + '][language_name]"]').length) {
                currentCount++;
            }

            if (currentCount == 0 || $('input[name="languages[' + (currentCount - 1) + '][language_name]"]').val().length > 0) {
                addLanguage();
            } else {
                $('input[name="languages[' + (currentCount - 1) + '][language_name]"]').keyup(triggerKeyUp);
            }
        });

        function triggerKeyUp() {
            if ($(this).val().length > 0) {
                $(this).unbind('keyup');
                addLanguage();
            }
        }

        function addLanguage() {
            if (currentCount >= 5)
                return;
            var template = $('#data-template-languages').data('template');
            template = template.replace(/__index__/g, currentCount);
            currentCount++;

            $('form > fieldset#languages').append(template);
            $('fieldset[name="languages[' + (currentCount - 1) + ']"] .count').each(function() {
                $(this).fieldCount()
            });
            $('input[name="languages[' + (currentCount - 1) + '][language_name]"]').keyup(triggerKeyUp);
        }
    </script>
{% endblock %}
