{% extends 'br/cv/cv.twig' %}

{% block title %}
    {{ translate('Edit CV Book') }}
{% endblock %}

{% block intro_message %}
    {{ translate('The following data from your account will be updated in the CV Book:') }}
{% endblock %}

{% block download %}
    <div class="pull-right hidden-xs hidden-sm">
        <a href="{{ url('br_cv_index', {'action': 'download'}) }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span> {{ translate('Download Preview') }}</a>
        <a href="{{ url('br_cv_index', {'action': 'delete'}) }}" class="btn btn-danger"> {{ translate("Delete CV") }} </a>
    </div>
{% endblock %}
