{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/sales/session/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <table class="full_width manage">

            <tr>
                <th>Manager</th>
                <th width="50px">Open</th>
                <th width="120px">Start</th>
                <th width="120px">End</th>
                <th width="110px">Balance</th>
                <th width="90px">Action</th>
            </tr>

            {% for session in paginator %}
                <tr>
                    <td>{{ session.getManager().getFullName() }}</td>
                    <td>{% if session.isOpen() %}Yes{% else %}No{% endif %}</td>
                    <td>{{ session.getOpenDate().format('Y-m-d H:i') }}</td>
                    <td>{% if not session.isOpen() %}{{ session.getCloseDate().format('Y-m-d H:i')}}{% endif %}</td>
                    <td>&euro; {% if session.isOpen() %}{{ -session.getOpenRegister().getTotalAmount()/100|number_format(2)}}{% else %}{{ (session.getCloseRegister().getTotalAmount() - session.getOpenRegister().getTotalAmount())/100|number_format(2)}}{% endif %}
                    <td class="actions">
                        {% if hasAccess('cudi_admin_sales_session', 'edit') %}
                            <a href="{{ url("cudi_admin_sales_session", {"action": "edit", "id": session.getId()}) }}" class="edit">Edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>
{% endblock %}
