{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_sale/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
		<table class="full_width">
		
		    <tr>
		        <th>Manager</th>
		        <th>Open?</th>
		        <th>Start</th>
		    	<th>End</th>
		        <th>Balance</th>
				<th>Action</th>
		    </tr>
		    
		    {% for session in paginator %}
		        <tr>
		            <td>{% if session.getManager() %}{{ session.getManager().getUserName() }}{% else %}guest{% endif %}</td>
		            <td>{% if session.isOpen() %}yes{% else %}no{% endif %}</td>
		            <td valign=center>{{ session.getOpenDate().format('Y-m-d H:i:s') }}</td>
		            <td>{% if not session.isOpen() %}{{ session.getCloseDate().format('Y-m-d H:i:s')}}{% endif %}</td>
		            <td>&euro; {% if session.isOpen() %}{{ -session.getOpenAmount().getTotalAmount()/100|number_format(2)}}{% else %}{{ (session.getCloseAmount().getTotalAmount() - session.getOpenAmount().getTotalAmount())/100|number_format(2)}}{% endif %}
					<td><a href="{{ url("admin_sale", {"action": "edit", "id": session.getId()}) }}" class="edit">Edit</a></td>
		        </tr>
		    {% endfor %}
		</table>
		
		{% include 'admin/partials/paginationControl.twig' %}
	</div>
{% endblock %}