{% extends 'site/base.twig' %}

{% block content %}
    <h1>{{ translate('Gallery') }}</h1>

    <h2>{{ academicYear }}</h2>
    {% for album in albums %}
        <div class="album">
            <div class="title">{{ album.getTitle(language) }}</div>
            <a href="{{ url('gallery', {"name": album.getName()}) }}">
                <img src="{{ filePath }}/{{ album.getId() }}{{ album.getPhoto().getThumbPath() }}" alt="{{ album.getTitle(language) }}" />
            </a>
        </div>
    {% endfor %}
    <br class="clear" />
{% endblock %}
