<div class="navbar">
    <div class="navbar-inner">
        <div class="subnav nav-collapse">
            <ul class="nav">
                {% for year in authenticatedPerson.getCompany().getCvBookYears() %}
                    <li {% if year.getCode() == academicYear.getCode() %}class="active"{% endif %}><a href="{{ url('corporate_cv', {"action": getParam("action"), "academicyear": year.getCode()}) }}">{{ year.getCode() }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="navbar">
    <div class="navbar-inner">
        <div class="subnav nav-collapse">
            <ul class="nav">
                {% if hasAccess('corporate_cv', 'grouped') %}
                    <li {% if getParam("action") == "grouped" %}class="active"{% endif %}><a href="{{ url('corporate_cv', {"action": "grouped", "academicyear": getParam('year')}) }}">{{ translate('By Study') }}</a></li>
                {% endif %}
                {% if hasAccess('corporate_cv', 'list') %}
                    <li {% if getParam("action") == "list" %}class="active"{% endif %}><a href="{{ url('corporate_cv', {"action": "list", "academicyear": getParam('year')}) }}">{{ translate('Alphabetically') }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>