{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('Registration') }}</h1>
    </div>

    {% include 'secretary/registration/partials/navigation.twig' %}

    <div class="row page">
        <div class="span12">
            {% if form %}
                {% if organizations|length > 1 %}
                    <div id="organizationSelector">
                        <p style="text-align: center;">{{ translate('Choose your study:') }}</p>
                        <ul style="list-style: none; width: 300px; margin: 0 auto;">
                            {% for organization in organizations %}
                                <li style="margin-bottom: 10px;">
                                    <a class="thumbnail" id="organization-{{ organization.getId() }}" data-id="{{ organization.getId() }}" href="#" style="padding: 20px;text-decoration: none;">
                                        {{ organization.getName() }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div id="registerForm"{% if organizations|length > 1 %} style="display: none;"{% endif %}>
                    {% import 'site/partials/form.twig' as forms %}
                    {{ forms.renderForm(form) }}
                </div>
            {% else %}
                <div style="text-align: center;">
                    <p style="text-align: center;">
                        {% autoescape false %}
                            {{ translate('To register, please login first with your KU Leuven account') }}
                        {% endautoescape %}
                    </p>
                    <a class="btn btn-info" href="{{ registerShibbolethUrl }}">{% autoescape false %}{{ translate('KU Leuven&mdash;Central Login') }}{% endautoescape  %}</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div id="modalMemberWarning" class="modal fade hide">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{{ translate('Become a Member') }}</h3>
        </div>
        <div class="modal-body">
            <p>
                {{ translate('You haven\'t checked the option to become a member. Being a member has many advantages.') }}
            </p>
            <p>
                {{ translate('Are you sure you want to continue?') }}
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary confirm">{{ translate('Yes') }}</button>
            <button class="btn" data-dismiss="modal">{{ translate('No') }}</button>
        </div>
    </div>

    <div id="modalTermsAndCoditions" class="modal fade hide">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{{ translate('Terms and Conditions') }}</h3>
        </div>
        <div class="modal-body">
            <p>
                {{ markdown(termsAndConditions) }}
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">{{ translate('Close') }}</button>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            var membershipArticles = {
                {% for organization, membershipArticle in membershipArticles %}
                    '{{ organization }}': {{ (membershipArticle.getSellPrice()/100)|number_format(2) }}
                {% endfor %}
            };

            {% if organizations|length > 1 %}
                $('#organizationSelector a').click(function (e) {
                console.log(membershipArticles);
                    e.preventDefault();
                    $('#organizationSelector').hide();
                    $('#registerForm').show();
                    $('#registerForm #organization').val($(this).data('id')).closest('.control-group').hide();
                    $('#registerForm #become_member').closest('label').html($('#registerForm #become_member').closest('label').html().replace('{ price }', membershipArticles[$(this).data('id')]));
                });
            {% else %}
                $('#registerForm #become_member').closest('label').html($('#registerForm #become_member').closest('label').html().replace('{ price }', membershipArticles[$('#registerForm #organization').val()]));
            {% endif %}

            $('#conditions').parent().append(
                conditionsLink = $('<a>', {'href': '#'}).html('&mdash;{{ translate('Read Them') }}')
            );
            conditionsLink.click(function (e) {
                e.preventDefault();
                $('#modalTermsAndCoditions').modal();
            });

            $('#register').click(function (e) {
                e.preventDefault();

                if (!$('#become_member').is(':checked')) {
                    $('#modalMemberWarning').modal();
                    $('#modalMemberWarning .confirm').one('click', function () {
                        $('#register_form').submit();
                    });
                } else {
                    $('#register_form').submit();
                }
            });

            $('#primary_address_address_city').change(cityChange);
            $('#become_member').change(toggleMember);
            toggleMember();
            cityChange();

            $('#university_email').wrap('<div class=\"input-append\" />');
            $('#university_email').after('<span class=\"add-on\">{{ studentDomain }}</span>');

            $('#first_name').blur(nameChange);
            $('#last_name').blur(nameChange);
        });

        function nameChange() {
            $('#university_email').val($('#first_name').val().toLowerCase() + "." + $('#last_name').val().toLowerCase().replace(/ /g, ""));
        }

        function cityChange() {
            var city = $('#primary_address_address_city option:selected').val();
            $('.primary_address_address_street, #primary_address_address_number, #primary_address_address_mailbox, #primary_address_address_postal_other, #primary_address_address_city_other, #primary_address_address_street_other').closest('.control-group').hide();
            if (city != 0)
                $('#primary_address_address_street_' + city + ',#primary_address_address_postal_' + city + ',#primary_address_address_city_' + city + ', #primary_address_address_number, #primary_address_address_mailbox').closest('.control-group').show();
        }

        function toggleMember() {
            if ($('#become_member').is(':checked'))
                $('#organization_info .control-group').show();
            else
                $('#organization_info .control-group').hide();
            $('#become_member, #conditions, #bakske').closest('.control-group').show();
            $('#registerForm #organization').closest('.control-group').hide();
        }
    </script>
{% endblock %}