{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('Registration') }}</h1>
    </div>

    {% include 'secretary/registration/partials/navigation.twig' %}

    <div id="studies">
        {% import 'site/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>

    <div id="modalMemberWarning" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4>{{ translate('Become a Member') }}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        {{ translate('You haven\'t checked the option to become a member. Being a member has many advantages.') }}
                    </p>
                    <p>
                        {{ translate('Are you sure you want to continue?') }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary confirm">{{ translate('Yes') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ translate('No') }}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalTermsAndCoditions" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4>{{ translate('Terms and Conditions') }}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        {{ markdown(termsAndConditions) }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">{{ translate('Close') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            var membershipArticles = {
                {% for organization, membershipArticle in membershipArticles %}
                    '{{ organization }}': {{ (membershipArticle.getSellPrice()/100)|number_format(2) }},
                {% endfor %}
            };

            $('#conditions').parent().append(
                conditionsLink = $('<a>', {'href': '#'}).html('&mdash;{{ translate('Read Them') }}')
            );
            conditionsLink.click(function (e) {
                e.preventDefault();
                $('#modalTermsAndCoditions').modal();
            });

            $('#register').click(function (e) {
                e.preventDefault();

                if (!$('#become_member').is(':checked') && $('#register_form #organization').val() != 0) {
                    $('#modalMemberWarning').modal();
                    $('#modalMemberWarning .confirm').one('click', function () {
                        $('#register_form').submit();
                    });
                } else {
                    $('#register_form').submit();
                }
            });

            $('#primary_address_address_city').change(cityChange);
            $('#become_member').change(toggleMember);
            toggleMember();
            cityChange();

            $('#register_form #organization').closest('.form-group').hide();
            if ($('#register_form #organization').val() == 0) {
                $('#register_form #become_member').closest('.form-group').hide();
                $('#register_form #become_member').prop('checked', false);
            } else {
                $('#register_form #become_member').prop('checked', true);
                $('#register_form #become_member').closest('.form-group').show();
                $('#register_form #become_member').closest('label').html($('#register_form #become_member').closest('label').html().replace('{ price }', membershipArticles[$('#register_form #organization').val()]));
            }

            $('#university_email').wrap('<div class=\"input-group\" />');
            $('#university_email').after('<span class=\"input-group-addon\">{{ studentDomain }}</span>');
        });

        function cityChange() {
            var city = $('#primary_address_address_city option:selected').val();
            $('.primary_address_address_street, #primary_address_address_number, #primary_address_address_mailbox, #primary_address_address_postal_other, #primary_address_address_city_other, #primary_address_address_street_other').closest('.form-group').hide();
            if (city != 0)
                $('#primary_address_address_street_' + city + ',#primary_address_address_postal_' + city + ',#primary_address_address_city_' + city + ', #primary_address_address_number, #primary_address_address_mailbox').closest('.form-group').show();
        }

        function toggleMember() {
            if ($('#become_member').is(':checked'))
                $('#organization_info .form-group').show();
            else
                $('#organization_info .form-group').hide();
            $('#become_member, #conditions').closest('.form-group').show();
            $('#register_form #organization').closest('.form-group').hide();
        }
    </script>
{% endblock %}