{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_stock/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}
    
	{% include 'admin_stock_order/partials/suppliers.twig' %}

	<div id="controller_action">
		<table class="manage">
		
		    <tr>
		        <th width="120px">Date</th>
		        <th>Person</th>
		        <th width="80px">Price</th>
		        <th width="70px">Actions</th>
		    </tr>
		    
		    {% for order in paginator %}
		        <tr>
		            <td>{% if order.getDateOrdered() %}{{ order.getDateOrdered().format('Y-m-d H:i') }}{% else %}(new){% endif %}</td>
		            <td>{{ order.getPerson().getFullName() }}</td>
		            <td>&euro; {{ (order.getPrice()/100)|number_format(2) }}</td>
					<td class="actions">
					    {% if hasAccess('admin_stock_order', 'edit') %}
    						{% if order.isPlaced() %}
    							<a href="{{ url('admin_stock_order', {"action": "edit", "id": order.getId()}) }}" class="view">View</a>
    						{% else %}
    							<a href="{{ url('admin_stock_order', {"action": "edit", "id": order.getId()}) }}" class="edit">Edit</a>
    						{% endif %}
    					{% endif %}
					</td>
		        </tr>
		    {% endfor %}
		</table>

		{% include 'admin/partials/paginationControl.twig' %}
	</div>
	
	<aside>
	    {% if hasAccess('admin_stock_order', 'add') %}
    		<div class="sidebox">
    	        <div class="title">New Order</div>
    	        <div class="content">
    	            <p>
    	                <i>Please hit the link below to add a new order item!</i>
    	            </p>
    	            <p>
    	                <a href="{{ url('admin_stock_order', {"action": "add"}) }}">&rarr; Add Order Item</a>
    	            </p>
    	        </div>
    	    </div>
    	{% endif %}
	</aside>
{% endblock %}
