{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'syllabus/admin/subject/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    {% include 'syllabus/admin/subject/partials/years.twig' %}

    <div id="controller_action">
        <h1>Subject</h1>

        <p>Code: <b>{{ subject.getCode() }}</b></p>
        <p>Name: <b>{{ subject.getName() }}</b></p>
        <p>Semester: <b>{{ subject.getSemester() }}</b></p>
        <p>Credits: <b>{{ subject.getCredits() }}</b></p>
        <p>Students: <b>{{ subject.getNbEnrollment(currentAcademicYear) }}</b></p>
        <br />

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>

    <aside>
        {% if hasAccess('syllabus_admin_subject', 'edit') %}
            <div class="sidebox">
                <div class="title">Edit Subject</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to edit this subject!</i>
                    </p>
                    <p>
                        <a href="{{ url("syllabus_admin_subject", {"action": "edit", "id": subject.getId(), "academicyear": currentAcademicYear.getCode()}) }}">&rarr; Edit Subject</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#studySearch').typeaheadRemote(
                {
                    source: '{{ url('syllabus_admin_study_typeahead', {'academicyear': currentAcademicYear.getCode()})}}',
                    items: 30,
                }
            ).change(function (e) {
                if ($(this).data('value')) {
                    $('#studyId').val($(this).data('value').id);
                } else {
                    $('#studyId').val('');
                }
            });
        });
    </script>
{% endblock %}
