{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/article/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>Article</h1>

        <p>Title: <b>{{ article.getTitle() }}</b></p>
        <p>Author: <b>{{ article.getAuthors() }}</b></p>
        <p>Publisher: <b>{{ article.getPublishers() }}</b></p>
        <br />

        <h1>File</h1>
        <p>Name: <b>{{ file.getName() }}</b></p>
        {% if hasAccess('cudi_admin_article_file', 'download') %}
            <a class="icon download" href="{{ url('cudi_admin_article_file', {"action": "download", "id": file.getId()}) }}">Download</a>
        {% endif %}

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}
