{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/article/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width file_upload_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The file was successfully uploaded!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width file_upload_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while uploading the file.</p>
        </div>
    </div>
    <div class="flashmessage success_message full_width file_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The file was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width file_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete a file.</p>
        </div>
    </div>

    <div id="controller_action">
        <h1>Article</h1>

        <p>Title: <b>{{ article.getTitle() }}</b></p>
        <p>Author: <b>{{ article.getAuthors() }}</b></p>
        <p>Publisher: <b>{{ article.getPublishers() }}</b></p>
        <br />

        {% if hasAccess('cudi_admin_article_file', 'upload') %}
            {% import 'admin/partials/form.twig' as forms %}
            {{ forms.renderForm(form) }}
            <br style="clear:both"/>
        {% endif %}

        <br style="clear:both"/>

        <table class="full_width manage" id="articleFiles">
            <thead>
                <tr>
                    <th width="200px">Name</th>
                    <th>Description</th>
                    <th width="80px">Printable</th>
                    <th width="70px">Action</th>
                </tr>
            </thead>

            <tbody>
                {% if article.isInternal() and saleArticle is not null %}
                    <tr class="item">
                        <td>front.pdf</td>
                        <td>Front page of this article</td>
                        <td style="text-align: center;">&times;</td>
                        <td class="actions">
                            {% if hasAccess('cudi_admin_article_file', 'front') %}
                                <a href="#" class="downloadFile view" data-file="{{ url('cudi_admin_article_file', {"action": "front", "id": saleArticle.getId()}) }}">Download</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}

                {% for mapping in mappings %}
                    <tr class="item item-{{ mapping.getId() }}">
                        <td>{{ mapping.getFile().getName() }}</td>
                        <td>{{ mapping.getFile().getDescription() }}</td>
                        <td style="text-align: center;">{% if mapping.isPrintable() %}&times;{% endif %}</td>
                        <td class="actions">
                            {% if hasAccess('cudi_admin_article_file', 'download') %}
                                <a href="#" class="downloadFile view" data-file="{{ url('cudi_admin_article_file', {"action": "download", "id": mapping.getId()}) }}">Download</a>
                            {% endif %}
                            {% if hasAccess('cudi_admin_article_file', 'edit') %}
                                <a href="{{ url('cudi_admin_article_file', {"action": "edit", "id": mapping.getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('cudi_admin_article_file', 'delete') %}
                                <a href="#" class="delete" data-id="{{ mapping.getId() }}" data-name="{{ mapping.getFile().getName() }}" data-description="{{ mapping.getFile().getDescription() }}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal hide fade" id="removeFile">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Delete File
        </div>
        <div class="modal-body">
            <p>
                You are about to delete the following file: <b class="fileName"></b> (<b class="fileDescription"></b>)!
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <input type="button" class="delete" value="Yes">
                <input type="button" class="cancel" data-dismiss="modal" value="No">
            </div>
        </div>
    </div>

    <div class="modal hide fade" id="progressModal">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Upload File
        </div>
        <div class="modal-body">
            <p>
                Your files are being uploaded.
            </p>
            <p>
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 100%;"></div>
                </div>
            </p>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.downloadFile').each(function () {
                $(this).downloadFile($(this).data('file'));
            });

            $('#uploadFile').formUploadProgress({
                url: '{{ url('cudi_admin_article_file', {"action": "progress"}) }}',
                name: $('#progress_key').val(),
                interval: 1000,
                onProgress: function (data) {
                    $('#progressModal').find('.bar').width(((data.current / data.total) * 100) + '%');
                },
                onSubmitted: function (data) {
                    if (data == undefined) {
                        $('.flashmessage').addClass('hide');
                        $('.file_upload_error').removeClass('hide');
                    } else if (data.errors) {
                        $('.flashmessage').addClass('hide');
                        $('.file_upload_error').removeClass('hide');
                        $('#uploadFile').find('ul.errors').remove();
                        for(element in data.errors) {
                            var list = $('<ul>', {class: 'errors'})
                            for (error in data.errors[element])
                                list.append($('<li>').html(data.errors[element][error]));
                            $('#uploadFile').find('#' + element).parent().parent().after(list);
                        }
                    } else if (data.info) {
                        console.log(data.info);
                        $('.flashmessage').addClass('hide');
                        $('.file_upload_success').removeClass('hide');
                        $('#articleFiles tbody').append(
                            $('<tr>', {'class': 'item item-' + data.info.mappingId}).append(
                                $('<td>').html(data.info.name),
                                $('<td>').html(data.info.description),
                                $('<td>', {'style': 'text-align: center;'}).html((data.info.printable == '1' ? '&times;' : '')),
                                actions = $('<td>', {'class': 'actions'})
                            )
                        );

                        {% if hasAccess('cudi_admin_article_file', 'download') %}
                            actions.append(
                                $('<a>', {'href': '#', 'class': 'downloadFile view'}).html('Download').downloadFile('{{ url('cudi_admin_article_file', {"action": "download"}) }}' + data.info.mappingId),
                                ' '
                            );
                        {% endif %}

                        {% if hasAccess('cudi_admin_article_file', 'edit') %}
                            actions.append(
                                $('<a>', {'href': '{{ url('cudi_admin_article_file', {"action": "edit"}) }}' + data.info.mappingId, 'class': 'edit'}).html('Edit'),
                                ' '
                            );
                        {% endif %}

                        {% if hasAccess('cudi_prof_file', 'download') %}
                            actions.append(
                                $('<a>', {'href': '#', 'class': 'delete', 'data-id': data.info.mappingId, 'data-name': data.info.name, 'data-description': data.info.description}).html('Delete').click(openDeleteModal)
                            );
                        {% endif %}
                        $('#articleFiles').change();
                        $('#uploadFile')[0].reset();
                    }
                    var progressModal = $('#progressModal');
                    progressModal.permanentModal('hide');
                },
                onSubmit: function () {
                    $('.flashmessage').addClass('hide');
                    var progressModal = $('#progressModal');
                    progressModal.find('.bar').width('100%');
                    progressModal.permanentModal('open');
                },
                onError: function () {
                    $('.flashmessage').addClass('hide');
                    $('.file_upload_error').removeClass('hide');
                    var progressModal = $('#progressModal');
                    progressModal.permanentModal('hide');
                }
            });

            $('.item .delete').click(openDeleteModal);
        });

        function openDeleteModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeFile = $('#removeFile');
            removeFile.find('.fileName').html($(this).data('name'));
            removeFile.find('.fileDescription').html($(this).data('description'));
            var id = $this.data('id');
            removeFile.find('.delete').unbind('click').click(function () {
                $.post('{{ url('cudi_admin_article_file', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.file_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeFile.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeFile.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.file_removed_error').removeClass('hide');
            $('#removeFile').modal('hide');
        }
    </script>
{% endblock %}
