{% extends 'site/base.twig' %}

{% block content %}
    {% if submenu is not empty %}
        <div class="navbar">
            <div class="navbar-inner">
                <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".subnav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand hidden-desktop" href="#">{{ page.getTitle(language) }}</a>
                <div class="subnav nav-collapse">
                    <ul class="nav">
                        {% if page.getParent() is not null %}
                            <li><a href="{{ url('page', {"name": page.getParent().getName()}) }}"><i class="icon-arrow-left"></i> {{ page.getParent().getTitle(language) }}</a></li>
                        {% endif %}
                        {% for item in submenu %}
                            {% if 'category' == item.type %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle highlighted" data-toggle="dropdown" href="#">
                                        {{ item.name }} <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for page in item.items %}
                                            {% if hasAccess('page', 'view') %}
                                                <li><a href="{{ url('page', {"name": page.name}) }}">{{ page.title }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                {% if hasAccess('page', 'view') %}
                                    <li {% if item.name == getParam('name') %}class="active"{% endif %}><a href="{{ url('page', {"name": item.name}) }}">{{ item.title }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="page-header">
        <h1>{{ page.getTitle(language) }}</h1>
    </div>

    <div class="row page">
        <div class="span12">
            {% autoescape false %}
                {{ hideEmail(markdown(page.getContent(language))) }}
            {% endautoescape %}
        </div>
    </div>
{% endblock %}
