{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_action/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}
	
	<div id="controller_action">
	    <h1>Action</h1>
	    Person: <b>{{ action.getPerson().getFullName() }}</b><br />
	    Date: <b>{{ action.getCreateTime().format('d/m/Y H:i') }}</b><br />
	    Status: <b>{% if action.isCompleted() %}
	            Confirmed by {{ action.getCompletePerson().getFullName() }}
	        {% elseif action.isRefused() %}
	            Refused by {{ action.getCompletePerson().getFullName() }}
	        {% else %}
	            Not confirmed
	        {% endif %}</b><br />
	    {% if action.getEntity() == 'article' %}
	        Type: <b>{% if action.getAction() == 'add' %}Added{% else %}Edited{% endif %} Article</b><br />
	        Article: <b>{{ action.getArticle().getTitle() }}</b><br /><br />
	        {% if action.getAction() == 'edit' %}
	            <table>
	                <tr>
	                    <th>Field</th>
	                    <th>Previous Value</th>
	                    <th>New Value</th>
	                </tr>
	                
    	            {% for item in action.getItems() %}
    	                <tr>
    	                    <td>{{ item.getFieldName() }}</td>
    	                    <td>{{ item.getCurrentValue() }}</td>
    	                    <td>{{ item.getNewValue() }}</td>
    	                </tr>
    	            {% endfor %}
    	        </table>
	        {% endif %}
	    {% elseif action.getEntity() == 'mapping' %}
	        Type: <b>{% if action.getAction() == 'add' %}Added{% else %}Removed{% endif %} Mapping</b><br />
	        Article: <b>{{ action.getArticleSubjectMap().getArticle().getTitle() }}</b><br />
	        Subject: <b>{{ action.getArticleSubjectMap().getSubject().getName() }}</b>
	    {% elseif action.getEntity() == 'file' %}
	        Type: <b>{% if action.getAction() == 'add' %}Added{% else %}Removed{% endif %} File</b><br />
	        Article: <b>{{ action.getFile().getInternalArticle().getTitle() }}</b><br />
	        Filename: <b>{{ action.getFile().getName() }}</b><br />
	        Description: <b>{{ action.getFile().getDescription() }}</b><br />
	    {% endif %}
	</div>
	
	<aside>
	    {% if hasAccess('admin_action', 'refuse') and action.isUnCompleted() %}
    	    <div class="sidebox">
    	        <div class="title">Refuse Action</div>
    	        <div class="content">
    	            <p>
    	                <i>Please hit the link below to refuse this action!</i>
    	            </p>
    	        	<p>
    	        		<a href="{{ url("admin_action", {"action": "refuse", "id": action.getId()}) }}" id="updateNow">&rarr; Refuse</a>
    	        	</p>
    	        </div>
    	    </div>
    	{% endif %}
	    {% if hasAccess('admin_action', 'confirm') and not action.isCompleted() %}
    	    <div class="sidebox">
    	        <div class="title">Confirm Action</div>
    	        <div class="content">
    	            <p>
    	                <i>Please hit the link below to confirm this action!</i>
    	            </p>
    	        	<p>
    	        		<a href="{{ url("admin_action", {"action": "confirm", "id": action.getId()}) }}" id="updateNow">&rarr; Confirm</a>
    	        	</p>
    	        </div>
    	    </div>
    	{% endif %}
	</aside>
{% endblock %}
