{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/sale/article/partials/navigation_templates.twig' %}

    <div id="controller_action">

        <div id="default_page">
            <table class="full_width manage">
                <tr>
                    <th>Template Name</th>
                    <th width="100px" class="wider">Value</th>
                    <th width="100px" class="wider">Method</th>
                    <th width="70px">Action</th>
                </tr>

                {% for template in templates %}
                    <tr class="item item-{{ template.getId() }}">
                        <td>{{ template.getName() }}</td>
                        <td>{{ template.getValue() }}</td>
                        <td class="wider">{{ template.getMethod() }}</td>
                        <td class="actions">
                            {% if hasAccess('cudi_admin_sales_article', 'edit') %}
                                <a href="{{ url('cudi_admin_sales_article', {"action": "edit", "id": article.getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('cudi_admin_sales_article', 'delete') %}
                                <a href="#" class="delete" data-id="{{ article.getId() }}" data-title="{{ article.getMainArticle().getTitle() }}" data-authors="{{ article.getMainArticle().getAuthors() }}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% include 'admin/partials/paginationControl.twig' %}
        </div>
    </div>

    <div class="modal hide fade" id="removeArticle">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Delete Discount Template
        </div>
        <div class="modal-body">
            <p>
                You are about to delete the following discount template: <b class="templateName"></b> !
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <input type="button" class="delete" value="Yes">
                <input type="button" class="cancel" data-dismiss="modal" value="No">
            </div>
        </div>
    </div>
{% endblock %}
