{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_company_internship/partials/navigation.twig' %}
	
	<div id="controller_action">
		{% include 'admin/partials/flashMessenger.twig' %}
	    <div class="flashmessage success_message full_width internship_removed_success hide">
	    	<div class="title">Success</div>
	    	<div class="content">
	    		<p>The internship was successfully removed!</p>
	    	</div>
	    </div>
	    <div class="flashmessage error_message full_width internship_removed_error hide">
	    	<div class="title">Error</div>
	    	<div class="content">
	    		<p>An error occurred while trying to delete an internship.</p>
	    	</div>
	    </div>
	    
	    <h1>Company</h1>
	    <p>Name: <b>{{ company.getName() }}</b></p>
	    <br />
	    <table class="full_width manage">
	        <thead>
	            <tr>
	                <th>Name</th>
	                <th width="300px">Description</th>
	                <th width="120px">Action</th>
	            </tr>
	        </thead>
	
	        <tbody>
	            {% for internship in paginator %}
	                <tr class="item item-{{ internship.getId() }}">
	                    <td>{{ internship.getName() }}</td>
	                    <td>{{ internship.getSummary() }}</td>
	                    <td class="actions">
	                        <ul>
	                        	{% if hasAccess('admin_company_internship', 'delete') %}
	                            	<li><a href="#" class="delete" data-id="{{ internship.getId() }}" data-name="{{ internship.getName() }}">Delete</a></li>
	                            {% endif %}
                            	{% if hasAccess('admin_company_internship', 'edit') %}
                                	<li><a href="{{ url('admin_company_internship', {"action": "edit", "id": internship.getId()}) }}" class="edit">Edit</a></li>
                                {% endif %}
	                        </ul>
	                    </td>
	                </tr>
	            {% endfor %}
	        </tbody>
	    </table>
	
		{% include 'admin/partials/paginationControl.twig' %}
	</div>
	
	<div class="modal hide fade" id="removeInternship">
		<div class="modal-header">
			<span>Litus Admin</span>
			/Delete Internship
		</div>
		<div class="modal-body">
			<p>
				You are about to delete the following internship: <b class="internshipName"></b>!
				Please note that this operation cannot be undone!
			</p>
			<p>
				Are you sure you want to continue?
			</p>
			<div class="footer">
				<input type="button" class="delete" value="Yes">
				<input type="button" class="cancel" data-dismiss="modal" value="No">
			</div>
		</div>
	</div>
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('.item .delete').click(openModal);
		});
		
		function openModal(e) {
			var $this = $(this);
			
			e.preventDefault();
			var removeInternship = $('#removeInternship');
			removeInternship.find('.internshipName').html($(this).data('name'));
			var id = $this.data('id');
			removeInternship.find('.delete').unbind('click').click(function () {
				$.post('{{ url('admin_company_internship', {"action": "delete"}) }}/' + id, function  (data) {
				    if (data && 'success' == data.status) {
    					$('.flashmessage').addClass('hide');
    					$('.internship_removed_success').removeClass('hide');
    					$('.item-' + id).remove();
    					removeInternship.modal('hide');
    				} else {
    				    errorRemove();
    				}
				}, 'json').error(errorRemove);
			});
			removeInternship.modal();
		}
		
		function errorRemove() {
    		$('.flashmessage').addClass('hide');
    		$('.internship_removed_error').removeClass('hide');
    		$('#removeInternship').modal('hide');
		}
	</script>
{% endblock %}
