{% extends 'logistics/base.twig' %}
{% import 'site/partials/form.twig' as forms %}

{% block content %}
<div class="row">
    <div class="span6">
        <div class="page-header">
            <h1>{{ translate('Lease') }}</h1>
        </div>
        {{ forms.renderForm(leaseForm) }}
    </div>
    <div class="span6">
        <div class="page-header">
            <h1>{{ translate('Return') }}</h1>
        </div>
        {{ forms.renderForm(returnForm) }}
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>{{ translate('Leases') }} <small>{{ translate('Items currently leased') }}</small></h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>{{ translate('Item name') }}</th>
                    <th>{{ translate('Barcode') }}</th>
                    <th>{{ translate('Leased to') }}</th>
                    <th>{{ translate('Leased on') }}</th>
                    <th>{{ translate('Pawn') }}</th>
                    <th>{{ translate('Actions') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for lease in leases %}
                    <tr data-barcode="{{ lease.getItem().getBarcode() }}" data-pawn="{{ lease.getLeasedPawn() }}">
                        <td>{{ lease.getItem().getName() }}</td>
                        <td>{{ lease.getItem().getBarcode() }}</td>
                        <td>{{ lease.getLeasedTo() }}</td>
                        <td>{{ lease.getLeasedDate()|date }}</td>
                        <td>{{ lease.getLeasedPawn()|number_format(2) }}</td>
                        <td>
                            <span class="js-item-return btn btn-mini">{{ translate('Return') }}</span>
                            <a href="{{ url('logistics_lease',{ 'action': 'show', 'id': lease.getId() }) }}" class="btn btn-mini">{{ translate('Details') }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block content_script %}
<script>
    $('.js-item-search').typeaheadRemote({
        source: "{{ url('logistics_lease', { 'action': 'typeahead' }) }}?q="
    }).change(function() {
        var $this = $(this);
        var $form = $this.parents('form');
        $form.find('.js-additional_info').remove();
        var $barcode = $form.find('.js-item-barcode');
        if ($(this).data('value')) {
            $barcode.val($this.data('value').id);
            if($this.data('value').additional_info) {
                $this.parent().append('<span class="help-block js-additional_info">'+$(this).data('value').additional_info+'</span>');
            }
        } else {
            $barcode.val('');
        }
        $barcode.change();
    });

    $('.js-item-barcode').change(function() {
        var $this = $(this);
        if($this.val().length < 12)
            return;
        var $control_group = $this.parents('.control-group');
        $control_group.removeClass('error').removeClass('success');
        var $controls = $control_group.find('.controls');
        $controls.find('.help-inline').hide();
        var $form = $control_group.parents('form');
        $.get("{{ url('logistics_lease', {'action':'availabilityCheck'}) }}"+$this.val(), function(data) {
            if(!data)
                return;
            switch(data.status) {
                case 'noSuchItem':
                    $control_group.addClass('error');
                    $controls.append('<div class="help-inline"><ul><li>{{ translate('No lease item with this barcode exists') }}</li></ul></div>');
                    break;
                case 'leased':
                    if($form.attr('id') === 'lease') {
                        $control_group.addClass('error');
                        $controls.append('<div class="help-inline"><ul><li>{{ translate('This item is already leased') }}</li></ul></div>');
                    } else {
                        $control_group.addClass('success');
                    }
                    break;
                case 'returned':
                    if($form.attr('id') === 'return') {
                        $control_group.addClass('error');
                        $controls.append('<div class="help-inline"><ul><li>{{ translate('This item is already returned') }}</li></ul></div>');
                    } else {
                        $control_group.addClass('success');
                    }
                    break;
            }
        }, 'json');
    });

    $('#leased_to, #returned_by').typeaheadRemote({
        source: "{{ url('common_admin_academic_typeahead') }}"
    });

    $('.js-item-return').click(function() {
        var $tr =  $(this).parents('tr');
        var barcode = $tr.data('barcode');
        var pawn = $tr.data('pawn');
        $('#return .js-item-barcode').val(barcode);
        $('#returned_pawn').val(pawn);
        $('#returned_by').focus();
    });
</script>
{% endblock %}
