{% extends 'logistics/base.twig' %}
{% import 'site/partials/form.twig' as forms %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="page-header">
                <h1>{{ translate('Lease') }}</h1>
            </div>
            {{ forms.renderForm(leaseForm) }}
        </div>
        <div class="col-md-6">
            <div class="page-header">
                <h1>{{ translate('Return') }}</h1>
            </div>
            {{ forms.renderForm(returnForm) }}
        </div>
    </div>

    <div class="page-header">
        <h1>{{ translate('Leases') }}</h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ translate('Item Name') }}</th>
                <th>{{ translate('Barcode') }}</th>
                <th>{{ translate('Amount') }}</th>
                <th>{{ translate('Leased To') }}</th>
                <th>{{ translate('Leased On') }}</th>
                <th>{{ translate('Pawn') }}</th>
                <th>{{ translate('Actions') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for lease in leases %}
                <tr data-id="{{ lease.getItem().getId() }}" data-name="{{ lease.getItem().getName() }}" data-amount="{{ lease.getLeasedAmount() }}" data-pawn="{{ lease.getLeasedPawn() }}">
                    <td>{{ lease.getItem().getName() }}</td>
                    <td>{{ lease.getItem().getBarcode() }}</td>
                    <td>{{ lease.getLeasedAmount() }}</td>
                    <td>{{ lease.getLeasedTo() }}</td>
                    <td>{{ lease.getLeasedDate()|date }}</td>
                    <td>{{ lease.getLeasedPawn()|number_format(2) }}</td>
                    <td>
                        <span class="fillReturnItem btn btn-default btn-xs">{{ translate('Return') }}</span>
                        <a href="{{ url('logistics_lease',{ 'action': 'show', 'id': lease.getId() }) }}" class="btn btn-default btn-xs">{{ translate('Details') }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'site/partials/paginationControl.twig' %}

    <div class="page-header">
        <h1>{{ translate('Item Search') }}</h1>
    </div>
    <form action="{{ url('logistics_lease', {'action': 'history' }) }}" id="search" class="form-horizontal" role="form">
        <div class="form-group col-md-6">
            <div class="input-group">
                <input type="hidden" class="js-item-barcode" name="searchItem[id]">
                <input class="form-control" id="searchItem" name="searchItem[value]" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">{{ translate('Search') }}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block content_script %}
    <script>
        $(document).ready(function () {
            /*
             * Item search typeaheads
             */
            $('#leaseItem').typeaheadRemote({
                source: "{{ url('logistics_lease', { 'action': 'typeahead' }) }}?purpose=lease&q="
            }).change(function(e) {
                if ($(this).data('value')) {
                    $('[name="leaseItem[id]"]').val($(this).data('value').id);
                } else {
                    $('[name="leaseItem[id]"]').val('');
                }
            });

            $('#returnItem').typeaheadRemote({
                source: "{{ url('logistics_lease', { 'action': 'typeahead' }) }}?purpose=return&q="
            }).change(function(e) {
                if ($(this).data('value')) {
                    $('[name="returnItem[id]"]').val($(this).data('value').id);
                } else {
                    $('[name="returnItem[id]"]').val('');
                }
            });

            $('#searchItem').typeaheadRemote({
                source: "{{ url('logistics_lease', { 'action': 'typeahead' }) }}?purpose=search&q="
            }).change(function(e) {
                if ($(this).data('value')) {
                    $('[name="searchItem[id]"]').val($(this).data('value').id);
                } else {
                    $('[name="searchItem[id]"]').val('');
                }
            });

            /*
             * Person typeahead
             */
            $('#leased_to, #returned_by').typeaheadRemote({
                source: "{{ url('common_admin_academic_typeahead') }}"
            });

            /*
             * Item return prefill on button click
             */
            $('.fillReturnItem').click(function() {
                var $tr =  $(this).parents('tr');

                $('[name="returnItem[id]"]').val($tr.data('id'));
                $('[name="returnItem[value]"]').val($tr.data('name'));
                $('#returned_amount').val($tr.data('amount'));
                $('#returned_pawn').val($tr.data('pawn'));
                $('#returned_by').focus();
            });
        });
    </script>
{% endblock %}
