{% extends 'logistics/base.twig' %}
{% import 'site/partials/form.twig' as forms %}

{% block content %}
    <div class="page-title">
        <h1>{{ translate('Return') }}</h1>
    </div>
    {{ forms.renderForm(form) }}
{% endblock %}

{% block content_script %}
<script>
    $('#item').typeaheadRemote({
        source: "{{ url('logistics_lease', { 'action': 'typeahead' }) }}?q="
    }).change(function(e) {
        $('#additional_info').remove();
        if ($(this).data('value')) {
            $('#barcode').val($(this).data('value').id);
            if($(this).data('value').additional_info) {
                $('#item').parent().append('<span class="help-block" id="additional_info">'+$(this).data('value').additional_info+'</span>');
            }
        } else {
            $('#barcode').val('');
        }
        $('#barcode').change();
    });

    $('#barcode').change(function() {
        var $this = $(this);
        if($this.val().length < 12)
            return;
        var $control_group = $this.parents('.control-group');
        $control_group.removeClass('error');
        var $controls = $control_group.find('.controls');
        $controls.find('.help-inline').hide();
        $.get("{{ url('logistics_lease', {'action':'availabilityCheck'}) }}"+$this.val(), function(data) {
            if(!data)
                return;
            switch(data.status) {
                case 'noSuchItem':
                    $control_group.addClass('error');
                    $controls.append('<div class="help-inline"><ul><li>{{ translate('No lease item with this barcode exists') }}</li></ul></div>');
                    break;
                case 'returned':
                    $control_group.addClass('error');
                    $controls.append('<div class="help-inline"><ul><li>{{ translate('This item is already returned') }}</li></ul></div>');
                    break;
                case 'leased':
                    $control_group.addClass('success');
                    break;
            }
        }, 'json');
    });

    $('#returned_by').typeaheadRemote({
        source: "{{ url('common_admin_academic_typeahead') }}"
    });
</script>
{% endblock %}
