{% extends 'site/base.twig' %}

{% block content %}
    <div class="container" style="max-width: 85%">
        <div class="flashmessage alert alert-success fade" id="ticket_delete_success">
            <a class="close">&times;</a>
            <div class="content">
                {{ translate('The ticket was succesfully deleted.') }}
            </div>
        </div>
        <div class="flashmessage alert alert-danger fade" id="ticket_delete_error">
            <a class="close">&times;</a>
            <div class="content">
                {{ translate('An error occurred while deleting the ticket.') }}
            </div>
        </div>

        <div class="row">
            <div class="page-header">
                <h1>{{ event.getActivity().getTitle(language) }}</h1>
            </div>

            <div class="item">
                <div class="date">
                    <div class="month">{{ dateLocalized(event.getActivity().getStartDate(), 'LLL')|capitalize }}</div>
                    <div class="day">{{ dateLocalized(event.getActivity().getStartDate(), 'd') }}</div>
                </div>

                <div class="dayItem">
                    <p>
                        <span class="glyphicon glyphicon-time time"></span>
                        {% if event.getActivity().getEndDate() %}
                            {% if event.getActivity().getEndDate().format('d/M/Y') == event.getActivity().getStartDate().format('d/M/Y')%}
                                {{ dateLocalized(event.getActivity().getStartDate(), 'HH:mm') }} - {{ dateLocalized(event.getActivity().getEndDate(), 'HH:mm') }}
                            {% else %}
                                {{ dateLocalized(event.getActivity().getStartDate(), 'd MMM HH:mm') }} - {{ dateLocalized(event.getActivity().getEndDate(), 'd MMM HH:mm') }}
                            {% endif %}
                        {% else %}
                            {{ dateLocalized(event.getActivity().getStartDate(), 'HH:mm') }}
                        {% endif %}
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-home time"></span>
                        {{ translate('Location') }}: {{ event.getActivity().getLocation(language) }}
                    </p>

                    <div style="height: 20px;"></div>

                    <div class="markdown">
                        {{ hideEmail(markdown(event.getDescription()))|raw }}
                    </div>
                </div>
            </div>
        </div>

        <div style="text-indent: 0">
            <div class="row">
                <div class="page-header">
                    <h2>{{ translate('Prices') }}</h2>
                </div>
                {% if event.getOptions()|length == 0 %}
                    <dl class="dl-horizontal">
                        <dt>{{ translate('Member') }}</dt>
                        <dd>&euro;{{ (event.getPriceMembers()/100)|number_format(2) }}</dd>
                        {% if not event.isOnlyMembers() %}
                            <dt>{{ translate('Non Member') }}</dt>
                            <dd>&euro;{{ (event.getPriceNonMembers()/100)|number_format(2) }}</dd>
                        {% endif %}
                    </dl>
                {% else %}
                    <dl class="dl-horizontal" style="width: 50%;">
                        {% for option in event.getOptions() %}
                            {% if option.isVisible()%}
                                <div class="row" style="border-bottom: solid black 1px; margin-bottom: 5px;">
                                    <dt style="width: fit-content;">{{ option.getName() }}{% if not option.getPriceNonMembers() == 0 %}&mdash;{{ translate('Member') }}{% endif %}</dt>
                                    <dd class="pull-right">&euro;{{ (option.getPriceMembers()/100)|number_format(2) }}</dd>
                                </div>
                                {% if not event.isOnlyMembers() and not option.getPriceNonMembers() == 0 %}
                                    <div class="row" style="border-bottom: solid black 1px; margin-bottom: 5px;">
                                        <dt style="width: fit-content">{{ option.getName() }}&mdash;{{ translate('Non Member') }}</dt>
                                        <dd class="pull-right">&euro;{{ (option.getPriceNonMembers()/100)|number_format(2) }}</dd>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </dl>
                {% endif %}
            </div>
            <div class="row">
                {% if canBook == true and (event.isStillBookable() or (event.isStillBookablePraesidium() and isPraesidium)) %}
                    <div class="page-header">
                        <p>{{ upperText }}</p>
                        <h2>{{ translate('Book Tickets') }}</h2>
                        {% if maximumAmount != 0 %}
                            <h5>{{ translate('Maximum of ') ~ maximumAmount}}
                                {% if maximumAmount > 1 %}
                                    {{ translate('tickets') ~ "." }}
                                {% else %}
                                    {{ translate('ticket') ~ "." }}
                                {% endif %}</h5>
                        {% endif %}
                    </div>
                    {% if isGuest %}
                        <p>{{ translate('We recommend logging in or creating an account on the site before ordering tickets if you can. With an account you can manage your tickets through our site, without account you will only receive an email with the ticket details.') }}</p>
                    {% endif %}

                    {% if infoform %}
                        {% import 'site/partials/form.twig' as forms %}
                        {{ forms.renderForm(infoform) }}
                    {% else %}
                        {% import 'site/partials/form.twig' as forms %}
                        {{ forms.renderForm(form) }}
                    {% endif %}
                {% else %}
                    <div class="page-header">
                        <h4>{{ translate('You can not book any more tickets.') }}</h4>
                    </div>
                {% endif %}
            </div>

            {% if tickets|length != 0 %}
                <div>
                    <div class="page-header">
                        <h2>{{ translate('Your Tickets') }}</h2>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th width="80px">{{ translate('Status') }}</th>
                            <th>{{ translate('Option') }}</th>
                            <th class="hidden-sm hidden-xs">{{ translate('Number') }}</th>
                            <th width="150px" class="hidden-xs">{{ translate('Book Date') }}</th>
                            <th width="150px" class="hidden-xs">{{ translate('Sold Date') }}</th>
                            <th width="260px">{{ translate('Actions') }}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for ticket in tickets %}
                            <tr class="item">
                                <td><b>{{ translate(ticket.getStatus()) }}</b></td>
                                <td class="status">{{ ticket.getOption().getName() }}{% if not ticket.getOption().getPriceNonMembers() == 0 %} ({% if ticket.isMember() %}{{ translate('Member') }}{% else %}{{ translate('Non Member') }}{% endif %}){% endif %}</td>
                                <td class="hidden-sm hidden-xs">{{ "%010d"|format(ticket.getNumber()) }}</td>
                                <td class="hidden-xs">{{ dateLocalized(ticket.getBookDate(), 'd/MM/YYYY HH:mm') }}</td>
                                <td class="hidden-xs">{{ dateLocalized(ticket.getSoldDate(), 'd/MM/YYYY HH:mm') }}</td>
                                <td class="actions">
                                    {% if hasAccess('ticket', 'delete') and canRemoveReservations and ticket.getStatus() != 'Sold' %}
                                        <a href="#" data-id="{{ ticket.getId() }}" class="btn btn-danger btn-sm deleteTicket">{{ translate('Remove') }}</a>
                                    {% endif %}
                                    {% if hasAccess('ticket', 'pay') and ticket.getStatus() != 'Sold' and isOnlinePayment %}
                                        <a href="{{ url("ticket", {"action": "pay", "id": ticket.getId(), "code": ticket.getNumber()}) }}" class="btn btn-success btn-sm payTicket">{{ translate('Pay') }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
{#        </div>#}
        </div>

        <div id="modalDelete" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">&times;</a>
                        <h4>{{ translate('Delete Ticket') }}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ translate('Are you sure you want to delete the ticket') }}?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger confirm">{{ translate('Yes') }}</button>
                        <button class="btn btn-default" data-dismiss="modal">{{ translate('No') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.flashmessage .close').click(function () {
                $(this).closest('.flashmessage').removeClass('in');
            });

            $('.control-label').each(function () {
                var html = $(this).html();
                html = html.replace('Non Member', '{{ translate('Non Member') }}')
                           .replace('Member', '{{ translate('Member') }}');
                $(this).html(html);
            });

            $('.deleteTicket').click(openDeleteModal);
        });

        function openDeleteModal(e) {
            var $this = $(this);

            e.preventDefault();
            var modalDelete = $('#modalDelete');
            modalDelete.find('.confirm').unbind('click').click(function () {
                $.post('{{ url('ticket', {"action": "delete"})}}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').removeClass('in');
                        $('#ticket_delete_success').addClass('in');
                        $this.parent().parent().remove();
                        modalDelete.modal('hide');
                    } else {
                        errorDeleteTicket();
                    }
                }, 'json').error(errorDeleteTicket);
            });
            modalDelete.modal();
        }

        function errorDeleteTicket() {
            $('.flashmessage').removeClass('in');
            $('#ticket_delete_error').addClass('in');
            $('#modalDelete').modal('hide');
        }
    </script>
{% endblock %}
