{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/contract/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">

        {% if contractCreated %}

            <div class="flashmessage success_message full_width">
                <div class="title">Success</div>
                <div class="content">
                    <p>The contract was successfully created!</p>
                </div>
            </div>

            <i>Drag and drop your sections in the desired order. All changes will be saved <b>automatically</b>!</i>

            <div class="sortable">
                <span id="contractId" style="display: none;">{{ contractId }}</span>
                <ul id="contractComposition">
                    {% for section in sections %}
                        <li id="contractComposition_{{ section.getId() }}" class="sections">{{ section.getName() }}</li>
                    {% endfor %}
                </ul>
            </div>

        {% else %}

            {% import 'admin/partials/form.twig' as forms %}
            {{ forms.renderForm(form) }}

        {% endif %}

    </div>
{% endblock %}

{% block content_script %}
    {% if contractCreated %}
        <script type="text/javascript">
        $(document).ready(function() {
            $('#contractComposition').sortable({
                update : function () {
                    $.post(
                        '{{ url('br_admin_contract', {"action": "compose"}) }}?format=json',
                        {
                            contractId: $('#contractId').text(), sections: $('#contractComposition').sortable('serialize')
                        },
                        function(data) {},
                        'json'
                    );
                }
            });
        });
        </script>
    {% endif %}
{% endblock %}
