{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/contract/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width contract_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The contract was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width contract_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete a contract.</p>
        </div>
    </div>

    <div id="controller_action">

        <div id="normal_page">

            <table class="full_width manage">
                <tr>
                    <th>Contract No</th>
                    <th>Title</th>
                    <th width="150px">Author</th>
                    <th width="75px">Date</th>
                    <th>Invoice No</th>
                    <th width="70px">Actions</th>
                </tr>

                {% for contract in paginator %}
                    <tr class="item item-{{ contract.getId() }}">
                        <td>{{ contract.getContractNb() }}</td>
                        <td>{{ contract.getTitle() }}</td>
                        <td>{{ contract.getAuthor().getFirstName() }} {{ contract.getAuthor().getLastName() }}</td>
                        <td>{{ contract.getDate().format('j/m/Y') }}</td>
                        <td>{% if contract.isSigned() %} {{ contract.getInvoiceNb() }} {% endif %}</td>
                        <td class="actions">
                            {% if hasAccess('br_admin_contract', 'edit') %}
                                <a href="{{ url('br_admin_contract', {"action": "edit", "id": contract.getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('br_admin_contract', 'download') %}
                                <a href="{{ url('br_admin_contract', {"action": "download", "id": contract.getId()}) }}" class="download">Download</a>
                            {% endif %}
                            {% if hasAccess('br_admin_contract', 'delete') %}
                                <a href="#" class="delete" data-id="{{ contract.getId() }}" data-name="{{ contract.getTitle() }}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal hide fade" id="removeContract">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Delete Contract
        </div>
        <div class="modal-body">
            <p>
                You are about to delete the following contract: <b class="contractTitle"></b>!
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <input type="button" class="delete" value="Yes">
                <input type="button" class="cancel" data-dismiss="modal" value="No">
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeContract = $('#removeContract');
            removeContract.find('.contractTitle').html($(this).data('name'));
            var id = $this.data('id');
            removeContract.find('.delete').unbind('click').click(function () {
                $.post('{{ url('br_admin_contract', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.contract_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeContract.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeContract.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.contract_removed_error').removeClass('hide');
            $('#removeContract').modal('hide');
        }

    </script>
{% endblock %}