{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/contract/partials/navigation.twig' %}

    <div class="flashmessage success_message full_width entries_composed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The contract order was successfully saved!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width entries_composed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to save the new contract order.</p>
        </div>
    </div>
    <div class="flashmessage success_message full_width contract_signed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The contract was successfully signed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width contract_signed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to sign the contract.</p>
        </div>
    </div>

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">

        {% if not contract.isSigned() %}
        <i>Drag and drop your sections in the desired order. All changes will be saved <b>automatically</b>!</i>

        <div class="sortable">
        {% endif %}
            <span id="contractId" style="display: none;">{{ contract.getId() }}</span>
            <ul id="contractComposition">
                {% for entry in contract.getEntries() %}
                    <li id="contractComposition_{{ entry.getId() }}" class="sections">
                        <dl class="dl-horizontal">
                            <dt>{{ entry.getOrderEntry().getProduct().getName() }}</dt>
                            <dd>{{ entry.getContractText() }}</dd>
                        </dl>
                    </li>
                {% endfor %}
            </ul>

        {% if not contract.isSigned() %}
        </div>
        {% endif %}

        <br/>
        <br/>
        {% if not contract.isSigned() %}
            <i><b>Warning: </b> when a contract is signed, the contract and its order can no longer be edited!</i><br/>
            <input type="submit" id="sign" name="Sign" class="contract_edit" value="Sign"/>
        {% endif %}
        <form action="{{ url('br_admin_contract', {"action" : "download", "id" : contract.getId()})}}"><input type="submit" class="contract" value="Download"/></form>

    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
    $(document).ready(function() {

        {% if not contract.isSigned() %}
        $('#sign').click(function() {
            $.post('{{ url('br_admin_contract', {"action" : "sign", "id" : contract.getId()})}}', function(data) {
                if (data && 'success' == data.status) {
                    $('.flashmessage').addClass('hide');
                    $('.contract_signed_success').removeClass('hide');
                    $('#sign').remove();
                    $('#edit_link').remove();
                } else {
                    errorSign();
                }
            }, 'json').error(errorSign);
        });

        $('#contractComposition').sortable({
            update : function () {
                $.post(
                    '{{ url('br_admin_contract', {"action": "compose"}) }}?format=json',
                    {
                        contractId: $('#contractId').text(), sections: $('#contractComposition').sortable('serialize')
                    },
                    function(data) {
                        if (data && 'success' == data.status) {
                            $('.flashmessage').addClass('hide');
                            $('.entries_composed_success').removeClass('hide');
                        } else {
                            errorCompose();
                        }
                    },
                    'json'
                ).error(errorCompose);
            }
        });

        function errorCompose() {
            $('.flashmessage').addClass('hide');
            $('.entries_composed_error').removeClass('hide');
        }

        function errorSign() {
            $('.flashmessage').addClass('hide');
            $('.contract_signed_error').removeClass('hide');
        }
        {% endif %}
    });
    </script>
{% endblock %}
