{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'cudi/admin/supplier/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width user_removed_success hide">
    	<div class="title">Success</div>
    	<div class="content">
    		<p>The user was successfully removed!</p>
    	</div>
    </div>
    <div class="flashmessage error_message full_width user_removed_error hide">
    	<div class="title">Error</div>
    	<div class="content">
    		<p>An error occurred while trying to delete a user.</p>
    	</div>
    </div>

	<div id="controller_action">
	    <h1>Supplier</h1>

	    <p>Name: <b>{{ supplier.getName() }}</b></p>
	    <p>Phone Number: <b>{{ supplier.getPhoneNumber() }}</b></p>
	    <p>Street: <b>{{ supplier.getAddress().getStreet() }} {{ supplier.getAddress().getNumber() }}</b></p>
	    <p>City: <b>{{ supplier.getAddress().getPostal() }} {{ supplier.getAddress().getCity() }}</b></p>
	    <p>Country: <b>{{ supplier.getAddress().getCountry() }}</b></p>
	    <br />

	    <table class="manage">
            <tr>
                <th width="150px">Username</th>
                <th>Name</th>
                <th width="160px">E-mail</th>
                <th width="70px">Action</th>
            </tr>

            {% for user in paginator %}
                <tr class="item item-{{ user.getId() }}">
                    <td>{{ user.getUsername() }}</td>
                    <td>{{ user.getFullName() }}</td>
                    <td>{{ user.getEmail() }}</td>
                    <td class="actions">
                        {% if hasAccess('admin_supplier_user', 'edit') %}
                            <a href="{{ url('admin_supplier_user', {"action": "edit", "id": user.getId()}) }}" class="edit">Edit</a>
                        {% endif %}
                        {% if hasAccess('admin_supplier_user', 'delete') %}
                            <a href="#" class="delete" data-id="{{ user.getId() }}" data-name="{{ user.getFullName() }}" data-supplier="{{ user.getSupplier().getName() }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
	    </table>

		{% include 'admin/partials/paginationControl.twig' %}
	</div>

	<aside>
	    {% if hasAccess('admin_supplier_user', 'add') %}
    		<div class="sidebox">
    	        <div class="title">Add User</div>
    	       	<div class="content">
    		    	<p>
    		        	<i>Please hit the link below to add a user!</i>
    		        </p>
    		        <p>
    		           	<a href="{{ url('admin_supplier_user', {"action": "add", "id": supplier.getId() }) }}">&rarr; Add User</a>
    		        </p>
    		    </div>
    		</div>
    	{% endif %}
	</aside>

	<div class="modal hide fade" id="removeUser">
		<div class="modal-header">
			<span>Litus Admin</span>
			/Delete User
		</div>
		<div class="modal-body">
			<p>
				You are about to delete the following user: <b class="fullName"></b> of <b class="supplier"></b>!
				Please note that this operation cannot be undone!
			</p>
			<p>
				Are you sure you want to continue?
			</p>
			<div class="footer">
				<input type="button" class="delete" value="Yes">
				<input type="button" class="cancel" data-dismiss="modal" value="No">
			</div>
		</div>
	</div>
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$(document).ready(function () {
		    $('.item .delete').click(openModal);
		});

		function openModal(e) {
			var $this = $(this);

			e.preventDefault();
			var removeUser = $('#removeUser');
			removeUser.find('.fullName').html($(this).data('name'));
			removeUser.find('.supplier').html($(this).data('supplier'));
			var id = $this.data('id');
			removeUser.find('.delete').unbind('click').click(function () {
				$.post('{{ url('admin_supplier_user', {"action": "delete"})}}/' + id), function (data) {
				    if (data && 'success' == data.status) {
    					$('.flashmessage').hide();
    					$('.user_removed_success').show();
						$('.item-' + id).remove();
    					removeUser.modal('hide');
    				} else {
    				    errorRemove();
    				}
				}, 'json').error(errorRemove);
			});
			removeUser.modal();
		}

		function errorRemove() {
		    $('.flashmessage').hide();
		    $('.user_removed_error').show();
		    $('#removeUser').modal('hide');
		}
	</script>
{% endblock %}
