{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_study/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}
	
	<div id="controller_action">
	    <h1>Subject</h1>
	    
	    <p>Code: <b>{{ subject.getCode() }}</b></p>
	    <p>Name: <b>{{ subject.getName() }}</b></p>
	    <p>Semester: <b>{{ subject.getSemester() }}</b></p>
	    <p>Credits: <b>{{ subject.getCredits() }}</b></p>
	    <br />
	    
		<div>
			<table class="full_width">
		        <tr>
		            <th>Title</th>
		            <th width="100px">Author</th>
		            <th width="180px">Publisher</th>
		            <th width="50px">Year</th>
		            <th width="60px">Type</th>
		        </tr>
		        
		        {% for article in mapping %}
		            <tr class="item">
		                <td>{{ article.getArticle().getTitle() }} {% if article.getArticle().getVersionNumber() != 1 %} (v{{ article.getArticle().getVersionNumber() }}) {% endif %}</td>
		                <td>{{ article.getArticle().getMetaInfo().getAuthors() }}</td>
		                <td>{{ article.getArticle().getMetaInfo().getPublishers() }}</td>
		                <td>{{ article.getArticle().getMetaInfo().getYearPublished() }}</td>
		                <td>{% if article.getArticle().isStock() %} Stock {% else %} Stub {% endif %}</td>
		            </tr>
		        {% endfor %}
		    </table>
	</div>
{% endblock %}