{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_study/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}
	
	<div id="controller_action">
	    <div id="subject_search" style="display:none;">
	    	<div style="padding:4px;text-align:right">
	    		Search: 
	    		<select id="searchField">
	    			<option value="name">Name</option>
	    			<option value="code">Code</option>
	    		</select>
	    		is
	    		<input type="text" id="searchString" size="30" />
	    	</div>
	    	
	    	<table class="full_width">
	        	<tr>
	        	    <th width="90px">Code</th>
	        	    <th>Name</th>
	        	    <th width="80px">Semester</th>
	        	    <th width="80px">Credits</th>
	        	    <th width="80px">Mandatory</th>
	        	</tr>
	    	</table>
	    </div>
	    
		<div id="default_page">
			<table class="full_width">
		        <tr>
		            <th width="90px">Code</th>
		            <th>Name</th>
		            <th width="80px">Semester</th>
		            <th width="80px">Credits</th>
		            <th width="80px">Mandatory</th>
		        </tr>
		        
		        {% for subject in mapping %}
		            <tr class="item">
		                <td>{{ subject.getSubject().getCode() }}</td>
		                <td>{{ subject.getSubject().getName() }}</td>
		                <td>{{ subject.getSubject().getSemester() }}</td>
		                <td>{{ subject.getSubject().getCredits() }}</td>
		                <td>{% if subject.isMandatory() %}yes{% else %}no{% endif %}</td>
		            </tr>
		        {% endfor %}
		    </table>
	</div>
{% endblock %}

{% block controller_script %}
	<script type="text/javascript">
		$(document).ready(function () {
		    {% if hasAccess('admin_subject', 'search') %}
			$.searchDatabase({
				defaultPage: $('#default_page'),
				searchDiv: $('#subject_search'),
				searchString: $('#searchString'),
				searchField: $('#searchField'),
				url: '{{ url('admin_subject_search', {"id": study.getId()}) }}',
				display: function (data) {
					$('#subject_search table').find('tr.item').remove();
					$(data).each(function () {
						$('#subject_search table').append(row = $('<tr>', {class: 'item'}));
						row.append('<td>' + this.code + '</td>')
							.append('<td>' + this.name + '</td>')
							.append('<td>' + this.semester + '</td>')
							.append('<td>' + this.credits + '</td>')
							.append('<td>' + (this.mandatory ? 'yes' : 'no') + '</td>');
					});
				},
				clear: function () {
					$('#subject_search table').find('tr.item').remove();
				}
			});
			{% endif %}
		});
	</script>
{% endblock %}