{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_stock/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}
	
	{% include 'admin_stock_delivery/partials/suppliers.twig' %}

	<div id="controller_action">
    	{% autoescape false %}
			{{ form }}
		{% endautoescape %}
		
		<br style="clear:both"/>
			
		<h1>Last Deliveries</h1>
		<table>
	    
	        <tr>
				<th width="110px">Date</th>
				<th>Article</th>
				<th width="60px">Number</th>
				<th width="60px">Price</th>
				<th width="120px">Person</th>
	        </tr>
	        
	        {% for delivery in deliveries %}
	
	            <tr>
	                <td>{{ delivery.getTimestamp().format('Y-m-d H:i') }}</td>
	                <td>{{ delivery.getArticle().getMainArticle().getTitle() }}</td>
	                <td>{{ delivery.getNumber() }}</td>
	                <td>&euro; {{ (delivery.getPrice()/100)|number_format(2) }}</td>
	                <td>{{ delivery.getPerson().getFullName() }}</td>
	            </tr>
	    
	        {% endfor %}
	    </table>
	</div>
	
	<aside>
		{% if hasAccess('admin_stock_delivery', 'manage') %}
    		<div class="sidebox">
    	        <div class="title">Overview Deliveries</div>
    	       	<div class="content">
    		    	<p>
    		        	<i>Please hit the link below to view all deliveries!</i>
    		        </p>
    		        <p>
    		           	<a href="{{ url("admin_stock_delivery", {"action": "manage"}) }}">&rarr; Overview Deliveries</a>
    		        </p>
    		    </div>
    		</div>
		{% endif %}
	</aside>
	
	<div class="modal hide fade" id="overDelivery">
		<div class="modal-header">
			<span>Litus Admin</span>
			/Delivery Warning
		</div>
		<div class="modal-body">
			<p>
				The given delivery number is higher than the not delivered value ( <b class="maximum"></b> )!
			</p>
			<p>
				Are you sure you want to continue?
			</p>
			<div class="footer">
				<input type="button" class="continue" value="Yes">
				<input type="button" class="cancel" data-dismiss="modal" value="No">
			</div>
		</div>
	</div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#articleSearch').typeaheadRemote(
                {
                    source: '{{ url("admin_stock_delivery_typeahead", {"academicyear": currentAcademicYear.getCode() })}}',
                }
            ).change(function (e) {
                if ($(this).data('value')) {
                    $('#articleId').val($(this).data('value').id);
                } else {
                    $('#articleId').val('');
                }
            });
            
            $('#stock_add').click(function (e) {
                if ($('#delivery_number').val() > $('#articleSearch').data('value').maximum) {
                    e.preventDefault();
                    openModal();
                }
            });
        });
        
        function openModal() {
			var $this = $(this);

			var overDelivery = $('#overDelivery');
			overDelivery.find('.maximum').html($('#articleSearch').data('value').maximum);
			overDelivery.find('.continue').unbind('click').click(function () {
				$('#deliveryForm').submit();
			});
			overDelivery.modal();
		}
    </script>
{% endblock %}
