{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('Account') }}</h1>
    </div>

    {% include 'common/account/partials/navigation.twig' %}

    <div class="row page">
        <div class="span12">
            <h3>{{ translate('Personal') }}</h3>
            <dl class="dl-horizontal wide">
                <dt>{{ translate('Name') }}</dt>
                <dd>{{ authenticatedPerson.getFullName() }}&nbsp;</dd>
                <dt>{{ translate('Birthday') }}</dt>
                <dd>{{ dateLocalized(authenticatedPerson.getBirthday(), 'd MMMM Y') }}&nbsp;</dd>
                <dt>{{ translate('Sex') }}</dt>
                <dd>{{ authenticatedPerson.getSex()|capitalize }}&nbsp;</dd>
                <dt>{{ translate('Phone Number') }}</dt>
                <dd>{{ authenticatedPerson.getPhoneNumber() }}&nbsp;</dd>
                <dt>{{ translate('University Identification') }}</dt>
                <dd>{{ authenticatedPerson.getUniversityIdentification() }}&nbsp;</dd>
                <dt>{{ translate('University E-mail') }}</dt>
                <dd>{{ authenticatedPerson.getUniversityEmail() }}&nbsp;</dd>
                <dt>{{ translate('Personal E-mail') }}</dt>
                <dd>{{ authenticatedPerson.getPersonalEmail() }}&nbsp;</dd>
            </dl>

            <h3>{{ translate('Addresses') }}</h3>
            <div class="row">
                <div class="span6">
                    <address>
                        <strong>{{ translate('Primary Address') }}</strong><br>
                        {{ authenticatedPerson.getPrimaryAddress().getStreet() }} {{ authenticatedPerson.getPrimaryAddress().getNumber() }}<br>
                        {{ authenticatedPerson.getPrimaryAddress().getPostal() }} {{ authenticatedPerson.getPrimaryAddress().getCity() }}<br>
                        {{ authenticatedPerson.getPrimaryAddress().getCountry() }}
                    </address>
                </div>
                <div class="span6">
                    <address>
                        <strong>{{ translate('Secondary Address') }}</strong><br>
                        {{ authenticatedPerson.getSecondaryAddress().getStreet() }} {{ authenticatedPerson.getSecondaryAddress().getNumber() }}<br>
                        {{ authenticatedPerson.getSecondaryAddress().getPostal() }} {{ authenticatedPerson.getSecondaryAddress().getCity() }}<br>
                        {{ authenticatedPerson.getSecondaryAddress().getCountry() }}
                    </address>
                </div>
            </div>

            <h3>{{ translate('Organization') }}</h3>
            <dl class="dl-horizontal wide">
                <dt>{{ translate('Become Member') }}</dt>
                <dd>{% if authenticatedPerson.isMember(academicYear) %}&times;{% else %}&nbsp;{% endif %}</dd>
                <dt>{{ translate('I want to receive my Ir.Reëel at CuDi') }}</dt>
                <dd>{% if metaData.receiveIrReeelAtCudi() %}&times;{% else %}&nbsp;{% endif %}</dd>
                <dt>{{ translate('I want to receive \'t Bakske by e-mail') }}</dt>
                <dd>{% if metaData.bakskeByMail() %}&times;{% else %}&nbsp;{% endif %}</dd>
                <dt>{{ translate('T-shirt Size') }}</dt>
                <dd>{{ metaData.getTshirtSize() }}</dd>
            </dl>

            <h3>{{ translate('Studies') }}</h3>
            {% for study in studies %}
                <h4>{{ study.enrollment.getStudy().getFullTitle() }}<small>&mdash;{{ translate('Phase') }} {{ study.enrollment.getStudy().getPhase() }}</small></h4>
                {% for subject in study.subjects %}
                    <ul>
                        {% if subject.getSubject().getId() in subjects %}
                            <li>{{ subject.getSubject().getName() }}</li>
                        {% endif %}
                    </ul>
                {% endfor %}
            {% endfor %}
            <div class="form-actions" style="text-align: center;">
                <a href="{{ url('account', {'action': 'edit'}) }}" class="btn btn-primary">{{ translate('Edit') }}</a>
            </div>
        </div>
    </div>
{% endblock %}