{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'form/admin/form/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <table class="full_width manage">
            <thead>
                <tr>
                    <th>Name</th>
                    <th width="150px">Start Date</th>
                    <th width="150px">End Date</th>
                    <th width="70px">Active</th>
                    <th width="160px">Author</th>
                    <th width="70px">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for group in paginator %}
                    <tr class="item item-{{ group.getId() }}">
                        <td>{{ group.getTitle(language) }}</td>
                        <td>{{ dateLocalized(group.getStartDate(), 'dd/MM/y HH:mm') }}</td>
                        <td>{{ dateLocalized(group.getEndDate(), 'dd/MM/y HH:mm') }}</td>
                        <td>{% if group.isActive() %}&times;{% endif %}</td>
                        <td>{{ group.getCreationPerson().getFullName() }}</td>
                        <td class="actions">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>
{% endblock %}