{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'form/admin/form/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width field_removed_success hide">
    	<div class="title">Success</div>
    	<div class="content">
    		<p>The field was successfully removed!</p>
    	</div>
    </div>
    <div class="flashmessage error_message full_width field_removed_error hide">
    	<div class="title">Error</div>
    	<div class="content">
    		<p>An error occurred while trying to delete a field.</p>
    	</div>
    </div>

	<div id="controller_action">
	    <h1>Form</h1>

	    <p>Title: <b>{{ formSpecification.getTitle() }}</b></p>
	    <br/>

	    <table class="manage">
            <tr>
                <th>Label</th>
                <th width="70px">Action</th>
            </tr>

            {% for field in fields %}
                <tr class="item item-{{ field.getId() }}">
                    <td>{{ field.getLabel() }}</td>
                    <td class="actions">
                        {% if hasAccess('admin_form_field', 'edit') %}
                            <a href="{{ url('admin_form_field', {"action": "edit", "id": field.getId()}) }}" class="edit">Edit</a>
                        {% endif %}
                        {% if hasAccess('admin_form_field', 'delete') %}
                            <a href="#" class="delete" data-id="{{ field.getId() }}" data-label="{{ field.getLabel() }}" data-form="{{ field.getForm().getTitle() }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
	    </table>

		{% include 'admin/partials/paginationControl.twig' %}
	</div>

	<aside>
	    {% if hasAccess('admin_form_field', 'add') %}
    		<div class="sidebox">
    	        <div class="title">Add Field</div>
    	       	<div class="content">
    		    	<p>
    		        	<i>Please hit the link below to add a field!</i>
    		        </p>
    		        <p>
    		           	<a href="{{ url('admin_form_field', {"action": "add", "id": formSpecification.getId() }) }}">&rarr; Add Field</a>
    		        </p>
    		    </div>
    		</div>
    	{% endif %}
	</aside>

	<div class="modal hide fade" id="removeField">
		<div class="modal-header">
			<span>Litus Admin</span>
			/Delete Field
		</div>
		<div class="modal-body">
			<p>
				You are about to delete the following field: <b class="label"></b> of <b class="formSpecification"></b>!
				Please note that this operation cannot be undone!
			</p>
			<p>
				Are you sure you want to continue?
			</p>
			<div class="footer">
				<input type="button" class="delete" value="Yes">
				<input type="button" class="cancel" data-dismiss="modal" value="No">
			</div>
		</div>
	</div>
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$(document).ready(function () {
		    $('.item .delete').click(openModal);
		});

		function openModal(e) {
			var $this = $(this);

			e.preventDefault();
			var removeField = $('#removeField');
			removeField.find('.label').html($(this).data('label'));
			removeField.find('.formSpecification').html($(this).data('form'));
			var id = $this.data('id');
			removeField.find('.delete').unbind('click').click(function () {
				$.post('{{ url('admin_form_field', {"action": "delete"})}}/' + id, function (data) {
				    if (data && 'success' == data.status) {
    					$('.flashmessage').hide();
    					$('.field_removed_succes').show();
						$('.item-' + id).remove();
    					removeField.modal('hide');
    				} else {
    				    errorRemove();
    				}
				}, 'json').error(errorRemove);
			});
			removeField.modal();
		}

		function errorRemove() {
		    $('.flashmessage').hide();
		    $('.field_removed_error').show();
		    $('#removeField').modal('hide');
		}
	</script>
{% endblock %}
