{{ doctype() }}

<html lang="en">
<head>

    {{ headMeta() }}
	{{ headTitle('VTK (Vlaamse Technische Kring) Leuven vzw', 'PREPEND') }}
	
	{{ headLink() }}   
</head>

<body data-offset="40">

    <nav class="navbar navbar-fixed-top">
    	<div class="navbar-inner">
    		<div class="container">
    		    <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="title hidden-desktop" href="#">VTK Leuven vzw</a>
                <div class="nav-collapse collapse">
        			<ul class="nav main-nav">
        			    <li class="active">
        					<a class="custom" href="#">Ontspanning</a>
        				</li>
        			    <li>
        				    <a href="#">Studies</a>
        				</li>
        				<li>
        				    <a href="#">Bedrijvenrelaties</a>
        				</li>
        				<li>
        				    <a href="#">Diensten</a>
        				</li>
        				<li>
        				    <a href="#">Media</a>
        				</li>
        				<li>
        				    <a href="#">Wiki's</a>
        				</li>
        				<li>
        				    <a href="#">Over VTK</a>
        				</li>
        				<li class="hidden-desktop">
        				    <a href="#">Aanmelden</a>
        				</li>
        			</ul>
        		</div>
    			<ul class="nav pull-right auth-nav visible-desktop">
    			    <li class="dropdown" id="loginDropdown">
    				    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    				        Aanmelden <span class="caret"></span>
    			        </a>
    			        <ul class="dropdown-menu">
    			        	<li style="text-align: center;">
    			        		<button class="btn btn-info" href="">KU Leuven&mdash;Central Login</button>
    			        	</li>
    			        	<li class="divider"></li>
    			            <li>
    			                {% autoescape false %}
    			                	{{ loginForm }}
    			                {% endautoescape %}
    			            </li>
    			        </ul>
    				</li>
    			</ul>
    		</div>
    	</div>
    </nav>
    
    <div id="page">
        <header>
        	<div class="inner">
        		<div class="container">
        			<h1>Vlaamse Technische Kring Leuven</h1>
        			<div id="carouselHeader" class="carousel slide visible-desktop">
                        <div class="carousel-inner">
                            <div class="active item">
                                <img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg" alt="">
                            </div>
                        </div>
                        <a class="carousel-control left" href="#carouselHeader" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#carouselHeader" data-slide="next">&rsaquo;</a>
        			</div>
        		</div>
        	</div>
        </header>
        
        <div id="content">
            <div class="container">
            	{% block content %} {% endblock %}
            </div>
        </div>
    </div>
    
    <footer>
    	<div class="light">
    		<div class="container">
		        <div class="row-fluid">
		        	<span class="span3">
		        		<span class="title">Links</span>
		        	</span>
		        	<span class="span9">
		        		<span class="title">Partners</span>
		        	</span>
		        </div>
		    </div>
	    </div>
        
        <div class="container bottom">
        	<span class="title">
        		&copy; 2012 Vlaamse Technische Kring vzw
        	</span>
        	
        	<span class="social">
        		<a href="http://facebook.com/vtk"><img src="/_site/img/facebook.png"></a>
        		<a href="http://twitter.com/vtk_leuven"><img src="/_site/img/twitter.png"></a>
        	</span>
        </div>
    </footer>
    
    {{ inlineScript() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown form').on('click', function (e) {
                e.stopPropagation();
            });
            
            $('.carousel').carousel();
        });
    </script>
    
    {% block content_script %} {% endblock %}

</body>
</html>
