{{ doctype() }}

<html lang="en">
<head>

    {% do headLink({'rel': 'favicon', 'type': 'image/svg+xml', 'href': '/img/favicon.svg'}) %}
    {% do headLink({'rel': 'alternate icon', 'type': 'image/ico', 'href': '/img/favicon.ico'}) %}

    {{ headMeta() }}
	{{ headTitle(translate('Vlaamse Technische Kring Leuven'), 'PREPEND') }}

	{{ headLink() }}
</head>

<body>
    <nav class="navbar navbar-fixed-top main-navbar main-navbar-fixed-top">
    	<div class="navbar-inner main-navbar-inner">
    		<div class="container">
    		    <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".main-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="title hidden-desktop" href="{{ url('index') }}">{{ translate('VTK Leuven vzw') }}</a>
                <div class="main-nav nav-collapse main-nav">
        			<ul class="nav main-nav">
                        {% for item in menu %}
                            {% if 'category' == item.type %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle highlighted" data-toggle="dropdown" href="#">
                                        {{ item.name }} <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for page in item.items %}
                                            {% if hasAccess('page', 'view') %}
                                                <li><a href="{{ url('page', {"name": page.name}) }}">{{ page.title }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if hasAccess('gallery', 'overview') or hasAccess('archive', 'overview') %}
                            <li class="dropdown">
                                <a class="dropdown-toggle highlighted" data-toggle="dropdown" href="#">
                                    {{ translate('Media') }} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% if hasAccess('gallery', 'overview') %}
                                        <li><a href="{{ url('gallery', {"action": 'overview'}) }}">{{ translate('Pictures') }}</a></li>
                                    {% endif %}
                                    {% if hasAccess('archive', 'overview') %}
                                        <li><a href="{{ url('archive', {"action": 'overview'}) }}">{{ translate('Publications') }}</a></li>
                                    {% endif %}

                                    <li><a href="https://wiki.vtk.be/">{{ translate('Wiki') }}</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if authenticatedPerson is not null %}
                            <li class="dropdown hidden-desktop" id="accountDropdown">
                                <a class="dropdown-toggle highlighted" data-toggle="dropdown" href="#">
                                    Account
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        {% if hasAccess('account', 'index') %}
                                            <a href="{{ url('account') }}">
                                            {% else %}
                                                <div style="padding: 3px 20px;">
                                            {% endif %}
                                                <b class="fullName">{{ authenticatedPerson.getFullName() }}</b>
                                                <small class="metadata">{{ authenticatedPerson.getUniversityIdentification() }}</small>
                                            {% if hasAccess('account', 'index') %}
                                            </a>
                                        {% else %}
                                            </div>
                                        {% endif %}
                                    </li>

                                    <li class="divider"></li>

                                    {% if hasAccess('booking', 'view') or hasAccess('shift', 'index') %}
                                        <li>
                                            {% if hasAccess('booking', 'view') %}
                                                <a href="{{ url('booking') }}">{{ translate('My Bookings') }}</a>
                                            {% endif %}
                                            {% if hasAccess('shift', 'index') %}
                                                <a href="{{ url('shift') }}">{{ translate('My Shifts') }}</a>
                                            {% endif %}
                                        </li>

                                        <li class="divider"></li>
                                    {% endif %}

                                    {% if hasAccess('admin_index', 'index') %}
                                        <li>
                                            <a href="{{ url('admin_index') }}">{{ translate('Admin') }}</a>
                                        </li>

                                        <li class="divider"></li>
                                    {% endif %}

                                    <li>
                                        <a href="{{ url("auth", {"action": "logout", "language": language.getAbbrev()}) }}">{{ translate('Logout') }}</a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="hidden-desktop">
                                <a href="{{ shibbolethUrl }}">{{ translate('Login') }}</a>
                            </li>
                        {% endif %}
        			</ul>
        		</div>
        		<ul class="nav pull-right lang-nav visible-desktop">
        		    <li class="dropdown" id="langDropdown">
        			    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        			        Language <span class="caret"></span>
        		        </a>
        		        <ul class="dropdown-menu">
        		            {% for language in languages %}
        			            <li><a href="{{ url(getParam('controller'), {'language': language.getAbbrev(), 'action': getParam('action'), 'parent': getParam('parent'), 'name': getParam('name')}) }}">{{ translate(language.getName()) }}</a></li>
        		            {% endfor %}
        		        </ul>
        			</li>
        		</ul>
        		<ul class="nav pull-right auth-nav visible-desktop">
        		    {% if authenticatedPerson is not null %}
                        <li class="dropdown" id="accountDropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="profile-wrapper">
                                    <i class="profile"></i>
                                </span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    {% if hasAccess('account', 'index') %}
                                    <a href="{{ url('account') }}">
                                    {% else %}
                                        <div style="padding: 3px 20px;">
                                    {% endif %}
                                        <b class="fullName">{{ authenticatedPerson.getFullName() }}</b>
                                        <small class="metadata">{{ authenticatedPerson.getUniversityIdentification() }}</small>
                                    {% if hasAccess('account', 'index') %}
                                    </a>
                                    {% else %}
                                        </div>
                                    {% endif %}
                                </li>
                                <li class="divider"></li>
                                {% if hasAccess('booking', 'view') or hasAccess('shift', 'index') %}
                                    <li>
                                        {% if hasAccess('booking', 'view') %}
                                            <a href="{{ url('booking') }}">{{ translate('My Bookings') }}</a>
                                        {% endif %}
                                        {% if hasAccess('shift', 'index') %}
                                            <a href="{{ url('shift') }}">{{ translate('My Shifts') }}</a>
                                        {% endif %}
                                    </li>

                                    <li class="divider"></li>
                                {% endif %}
                                {% if hasAccess('admin_index', 'index') %}
                                    <li>
                                        <a href="{{ url('admin_index') }}">{{ translate('Admin') }}</a>
                                    </li>
                                    
                                    <li class="divider"></li>
                                {% endif %}
                                <li>
                                    <a href="{{ url("auth", {"action": "logout", "language": language.getAbbrev()}) }}">{{ translate('Logout') }}</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ shibbolethUrl }}">{% autoescape false %}{{ translate('Login') }}{% endautoescape %}</a>
                        </li>
                    {% endif %}
        		</ul>
    		</div>
    	</div>
    </nav>

    <div id="page">
        <header>
        	<div class="inner">
        		<div class="container">
                    <a class="site-link" href="{{ url('index') }}">
        			    <img class="site-logo" src="/_site/img/logo.png" />
        			    <h1 class="site-name">{{ translate('Vlaamse Technische Kring Leuven') }}</h1>
                    </a>

        			<div id="carouselHeader" class="carousel slide visible-desktop">
                        <div class="carousel-inner">

                            {% for key, banner in banners %}
                                <div class="item item-{{ key }}">
                                    {% if banner.getUrl() != '' %}
                                    <a href="{{ banner.getUrl() }}">
                                    {% endif %}
                                        <img src="/banner/view/image{{ banner.getImage() }}" alt="">
                                    {% if banner.getUrl() != '' %}
                                    </a>
                                    {% endif %}
                                </div>
                            {% endfor %}

                        </div>

                        {% if banners|length > 1 %}
                            <a class="carousel-control left" href="#carouselHeader" data-slide="prev">&lsaquo;</a>
                            <a class="carousel-control right" href="#carouselHeader" data-slide="next">&rsaquo;</a>
                        {% endif %}
        			</div>
        		</div>
        	</div>
        </header>

        <div id="content">
            <div class="container">
                {% include 'site/partials/flashMessenger.twig' %}

            	{% block content %} {% endblock %}
            </div>
        </div>
    </div>

    <footer>
    	<div class="light">
    		<div class="container">
		        <div class="row-fluid">
		        	<span class="span3">
		        		<span class="title">{{ translate('Links') }}</span>

                        <ul class="nav-list">
                            <li><a href="http://eng.kuleuven.be">FIrW</a></li>
                            <li><a href="http://www.kuleuven.be">KU Leuven</a></li>
                            <li><a href="http://www.vilv.be">VILV</a></li>
                            <li><a href="http://www.kviv.be">KVIV</a></li>
                        </ul>

                        <ul class="nav-list">
                            <li><a href="http://best.vtk.be">BEST</a></li>
                            <li><a href="http://existenz.be">Existenz</a></li>
                            <li><a href="http://revue.vtk.be">Revue</a></li>
                        </ul>

                        <ul class="nav-list">
                            <li><a href="http://www.loko.be">LOKO</a></li>
                        </ul>
		        	</span>
		        	<span class="span9">
		        		<span class="title">{{ translate('Partners') }}</span>

                        <p class="companies">
                            <a id="nmbs" href="http://www.nmbs.be"></a>
                            <a id="deloitte" href="http://www.deloitte.com/be"></a>
                            <a id="kbc" href="http://www.kbc.be"></a>
                            <a id="exxon" href="http://www.exxonmobil.com"></a>
                            <a id="basf" href="http://www.basf.be/ecp2/Jobs_Career_belgium_nl/index"></a>
                            <a id="gdfsuez" href="http://www.gdfsuez.com/"></a>

                            {#% for logo in logos %}
                                <a href="{{ logo.getUrl() }}" target="_blank" style="background-image: url('/{{ logoPath }}/{{ logo.getPath() }}');height: 30px;width: {{ (logo.getWidth()*30/logo.getHeight())|number_format(0) }}px;"></a>
                            {% endfor %#}
                        </p>
		        	</span>
		        </div>
		    </div>
	    </div>

        <div class="container bottom">
        	<span class="title">
        		&copy; 2012 {{ translate('Vlaamse Technische Kring vzw') }}
        	</span>

        	<span class="social">
        		<a href="http://facebook.com/VTKLeuven"><img src="/_site/img/facebook.png" /></a>
        		<a href="http://twitter.com/VTKLeuven"><img src="/_site/img/twitter.png" /></a>
        	</span>
        </div>
    </footer>

    {{ inlineScript() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown form').on('click', function (e) {
                e.stopPropagation();
            });

            $('.item-0').addClass('active');

            $('.carousel').carousel();
        });
    </script>

    {% block content_script %} {% endblock %}


    <script type="text/javascript">
        var pkBaseURL = (("https:" == document.location.protocol) ? "https://analytics.vtk.be/" : "http://analytics.vtk.be/");
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
            piwikTracker.trackPageView();
            piwikTracker.enableLinkTracking();
        } catch( err ) {}
    </script>

    <noscript>
        <p><img src="http://analytics.vtk.be/piwik.php?idsite=2" style="border:0" alt="" /></p>
    </noscript>
</body>
</html>
