{% extends 'site/base.twig' %}

{% import 'site/partials/form.twig' as forms %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('Book Textbooks') }}</h1>
    </div>
    <div class="page-alert">
        <div class="flashmessage alert alert-error fade" id="keep_updated_error">
            <a class="close">&times;</a>
            <div class="content">
                {{ translate('An error occurred while updating your preferences.') }}
            </div>
        </div>
        <div class="flashmessage alert alert-success fade" id="keep_updated_success">
            <a class="close">&times;</a>
            <div class="content">
                {{ translate('Your preferences where succesfully saved.') }}
            </div>
        </div>
    </div>

    <div class="row page">
        <div class="span12">
            {% if authenticatedPerson == null %}
                {{ translate('Please login to book textbooks.') }}
            {% else %}
                {% if hasAccess('cudi_booking', 'search') %}
                    <div class="row">
                        <div class="pull-right">
                            {% if hasAccess('cudi_booking', 'keepUpdated') %}
                                <button class="btn btn-warning" id="keepUpdated" {% if isSubscribed %}style="display: none"{% endif %} rel="tooltip" data-toggle="tooltip" title="{{ translate('Send a mail when the catalogus is updated') }}">{{ translate('Keep me updated') }}</button>
                                <button class="btn btn-warning" id="dontKeepUpdated" {% if not isSubscribed %}style="display: none"{% endif %} rel="tooltip" data-toggle="tooltip" title="{{ translate('Don\'t send a mail when the catalogus is updated') }}">{{ translate('Don\'t keep me updated') }}</button>
                            {% endif %}
                            <a href="#" id="searchArticles" class="btn btn-info">{{ translate('Search') }}</a>
                        </div>
                    </div>

                    <div id="searchArticlesPage" style="display: none;margin-top: 10px;">
                        {% import 'site/partials/form.twig' as forms %}
                        {{ forms.renderForm(searchForm) }}

                        <table class="table bookings">
                            <thead>
                                <tr>
                                    <th>{{ translate('Title') }}</th>
                                    <th class="hidden-phone">{{ translate('Authors') }}</th>
                                    <th class="span2">{{ translate('Price / Piece') }}</th>
                                    <th class="span1">#</th>
                                    <th class="span1 hidden-phone" style="text-align: center">{{ translate('Booked') }}</th>
                                    <th class="span1 hidden-phone">{{ translate('Remarks') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="spacer">
                                    <td colspan="7"></td>
                                </tr>
                                <tr class="course-title">
                                    <td colspan="7"><i>{{ translate('No Articles Found') }}</i></td>
                                </tr>
                            </tbody>
                        </table>

                        <a class="btn pull-left" href="{{ url('cudi_booking', {'action' : 'view'}) }}">{{ translate('Back') }}</a>
                        <button id="bookSearchArticles" class="btn btn-primary pull-right" style="display: none">{{ translate('Book') }}</button>
                    </div>
                {% endif %}

                <div id="viewArticlesPage">
                    {% autoescape false %}
                    {{ form().openTag(form) }}

                        <table class="table bookings">
                            <thead>
                                <tr>
                                    <th>{{ translate('Title') }}</th>
                                    <th class="hidden-phone">{{ translate('Authors') }}</th>
                                    <th class="span2">{{ translate('Price / Piece') }}</th>
                                    <th class="span1 hidden-phone">{{ translate('Mandatory') }}</th>
                                    <th class="span1">#</th>
                                    <th class="span1 hidden-phone" style="text-align: center">{{ translate('Booked') }}</th>
                                    <th class="span1 hidden-phone">{{ translate('Remarks') }}</th>
                                </tr>
                            </thead>

                            <tbody>

                            {% for subjectArticle in subjectArticleMap %}
                                <tr class="spacer">
                                    <td colspan="7"></td>
                                </tr>

                                <tr class="course-title">
                                    <td colspan="7">
                                        {% if null == subjectArticle['subject'] %}
                                            {{ translate('General') }}
                                        {% else %}
                                            {{ subjectArticle['subject'].getCode() }} - {{ subjectArticle['subject'].getName() }}
                                        {% endif %}
                                    </td>
                                </tr>

                                {% for map in subjectArticle['articles'] %}
                                    <tr {% if map['sold'] > 0 %}class="success"{% endif %}>
                                        <td>{{ map['article'].getMainArticle().getTitle() }}</td>
                                        <td class="hidden-phone">{{ map['article'].getMainArticle().getAuthors() }}</td>
                                        <td>
                                            {% if map['article'].getDiscounts()|length > 0 %}
                                                <span rel="popover" data-original-title="{{ translate('Discounts') }}" data-content="
                                                {% for discount in map['article'].getDiscounts() %}
                                                    <span class='badge badge-info'>{{ translate(discount.getType()) }} {% if discount.getOrganization() %}{{ discount.getOrganization().getName() }}{% endif %}</span> &euro; {{ (discount.apply(map['article'].getSellPrice())/100)|number_format(2) }}<br/>
                                                {% endfor %}
                                            " data-placement="right" style="cursor: pointer">&euro; {{ (map['article'].getSellPrice()/100)|number_format(2) }}</span>
                                            {% else %}
                                                <span>&euro; {{ (map['article'].getSellPrice()/100)|number_format(2) }}</span>
                                            {% endif %}
                                        </td>
                                        <td class="hidden-phone">{{ map['mandatory'] ? '&times;' : '' }}</td>
                                        <td>
                                            {% if map['bookable'] %}
                                                {% set name = 'article-' ~ map['article'].getId() %}
                                                {% set element = form.get(name) %}
                                                {{ formElement(element) }}
                                            {% else %}
                                                <span class="label label-info hidden-phone">{{ translate('Not Bookable') }}</span>
                                            {% endif %}
                                        </td>
                                        <td class="hidden-phone" style="text-align: center">{{ map['booked'] }}</td>
                                        <td class="hidden-phone">
                                            {% if map['comments']|length > 0 %}
                                                <a rel="popover" data-original-title="{{ translate('Comments') }}" data-content="

                                                {% for comment in map['comments'] %}
                                                    <span class='badge badge-info'>{{ loop.index }}</span> {{ comment.getText() }}<br/>
                                                {% endfor %}

                                                " data-placement="left" class="label label-warning">{{ map['comments']|length }} {{ map['comments']|length > 1 ? translate('Remarks') : translate('Remark') }}</a>
                                            {% endif %}
                                        </td>
                                    </tr>

                                    {% if element.getMessages()|length > 0  and map['bookable'] %}
                                        <tr>
                                            <td colspan="7"  style="border-top-width:0px;">
                                                <div class="help-inline pull-right">
                                                    {{ formElementErrors(element) }}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                            </tbody>

                        </table>

                        <a class="btn pull-left" href="{{ url('cudi_booking', {'action' : 'view'}) }}">{{ translate('Back') }}</a>

                        {% if form.get('submit') %}
                            {{ formElement(form.get('submit')) }}
                        {% endif %}

                    {{ form().closeTag() }}

                    {% endautoescape %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.flashmessage .close').click(function (e) {
                $(this).closest('.flashmessage').removeClass('in');
            });

            $('[rel=tooltip]').tooltip();
            $('a[rel=popover], span[rel=popover]').popover({'trigger': 'hover', 'html': true});

            {% if hasAccess('cudi_booking', 'keepUpdated') %}
            $('#keepUpdated').click(function () {
                $.ajax({
                    url: '{{ url('cudi_booking', {'action': 'keepUpdated'}) }}',
                    method: 'post',
                    data: {keepUpdated: true},
                    dataType: 'json',
                    success: function (data) {
                        $('.flashmessage').removeClass('in');
                        if (data && data.status == 'success') {
                            $('#keep_updated_success').addClass('in');
                            $('#dontKeepUpdated').show();
                            $('#keepUpdated').hide();
                        } else {
                            $('#keep_updated_error').addClass('in');
                        }
                    },
                    error: function () {
                        $('.flashmessage').removeClass('in');
                        $('#keep_updated_error').addClass('in');
                    }
                }).error(function () {
                    $('.flashmessage').removeClass('in');
                    $('#keep_updated_error').addClass('in');
                });
            });
            $('#dontKeepUpdated').click(function () {
                $.ajax({
                    url: '{{ url('cudi_booking', {'action': 'keepUpdated'}) }}',
                    method: 'post',
                    data: {keepUpdated: false},
                    dataType: 'json',
                    success: function (data) {
                        $('.flashmessage').removeClass('in');
                        if (data && data.status == 'success') {
                            $('#keep_updated_success').addClass('in');
                            $('#keepUpdated').show();
                            $('#dontKeepUpdated').hide();
                        } else {
                            $('#keep_updated_error').addClass('in');
                        }
                    },
                    error: function () {
                        $('.flashmessage').removeClass('in');
                        $('#keep_updated_error').addClass('in');
                    }
                }).error(function () {
                    $('.flashmessage').removeClass('in');
                    $('#keep_updated_error').addClass('in');
                });
            });
            {% endif %}

            $('input[id*=article-]').each(function(i) {
                $('[id="' + this.id + '"]').each(function(i) {
                    if (i > 0)
                        $(this).remove();
                });
            });

            {% if hasAccess('cudi_booking', 'search') %}
            $('#searchArticles').click(function (e) {
                e.preventDefault();
                var view = $(this).data('view') == undefined ? 'view' : $(this).data('view');

                if (view == 'view') {
                    $('#viewArticlesPage').hide();
                    $('#searchArticlesPage').show();
                    $('#search_string').focus();
                    $(this).html('{{ translate('Stop Search') }}').data('view', 'search');
                } else {
                    $('#viewArticlesPage').show();
                    $('#searchArticlesPage').hide();
                    $(this).html('{{ translate('Search') }}').data('view', 'view');
                }
            });
            $('#search_string').bind('keyup', function () {
                var $this = $(this);
                clearTimeout($(this).data('timeout'));
                $(this).data('timeout', setTimeout(function () {
                    if ('' == $this.val() || $this.val().length < 3) {
                        $('#searchArticlesPage tbody').html('').append(
                            $('<tr>', {'class': 'spacer'}).append(
                                $('<td>', {'colspan': 6})
                            ),
                            $('<tr>', {'class': 'course-title'}).append(
                                $('<td>', {'colspan': 6}).append(
                                    $('<i>').append('{{ translate('No Articles Found') }}')
                                )
                            )
                        );
                        return;
                    }

                    $.ajax({
                        url: '{{ url('cudi_booking', {'action': 'search'}) }}' + $this.val(),
                        method: 'get',
                        dataType: 'json',
                        success: function (e) {
                            var tbody = $('#searchArticlesPage tbody').html('').append(
                                $('<tr>', {'class': 'spacer'}).append(
                                    $('<td>', {'colspan': 6})
                                )
                            );
                            $(e).each(function () {
                                tbody.append(
                                    $('<tr>', {'class': this.sold > 0 ? 'success': ''}).append(
                                        $('<td>').html(this.title),
                                        $('<td>', {'class': 'hidden-phone'}).html(this.authors),
                                        price = $('<td>'),
                                        field = $('<td>'),
                                        $('<td>', {'class': 'hidden-phone', 'style': 'text-align: center'}).html(this.booked),
                                        comments = $('<td>', {'class': 'hidden-phone'})
                                    )
                                );

                                if (this.discounts.length > 0) {
                                    var popoverContent = '';
                                    $(this.discounts).each(function () {
                                        popoverContent += '<span class="badge badge-info">' + this.type + '</span> &euro; ' + this.price + '<br/>';
                                    });
                                    price.append(
                                        $('<span>', {
                                            'data-original-title': '{{ translate('Discounts') }}',
                                            'data-content': popoverContent,
                                            'data-placement': 'right',
                                            'style': 'cursor:pointer',
                                        }).append('&euro; ' + this.price).popover({'trigger': 'hover', 'html': true})
                                    );
                                } else {
                                    price.html('&euro; ' + this.price);
                                }

                                if (this.comments.length > 0) {
                                    var popoverContent = '';
                                    var counter = 0;
                                    $(this.comments).each(function () {
                                        popoverContent += '<span class="badge badge-info">' + (++counter) + '</span> ' + this + '<br/>';
                                    });
                                    comments.append(
                                        $('<a>', {
                                            'data-original-title': '{{ translate('Comments') }}',
                                            'data-content': popoverContent,
                                            'data-placement': 'left',
                                            'style': 'cursor:pointer',
                                            'class': 'label label-warning',
                                        }).html(this.comments.length > 1 ? '{{ translate('Remarks') }}' : '{{ translate('Remark') }}').popover({'trigger': 'hover'})
                                    );
                                }

                                if (this.bookable) {
                                    field.append(
                                        $('<input>', {'type': 'text', 'id': 'article-' + this.id, 'class': 'input-very-mini', 'placeholder': '0'}).data('id', this.id)
                                    );
                                } else {
                                    field.append(
                                        $('<span>', {'class': 'label label-info hidden-phone'}).html('{{ translate('Not Bookable') }}')
                                    );
                                }
                            });

                            $('#bookSearchArticles').toggle(e.length > 0);
                        }
                    });
                }, 200));
            });
            $('#bookSearchArticles').click(function () {
                var data = {};
                $('#searchArticlesPage tbody input').each(function () {
                    if ($(this).val() > 0)
                        data[$(this).data('id')] = $(this).val();
                });
                $.post('{{ url('cudi_booking', {'action': 'bookSearch'}) }}', data, function (e) {
                    if (e.status == 'success')
                        window.location.href = '{{ url('cudi_booking', {'action': 'view'}) }}';
                    else
                        window.location.href = '{{ url('cudi_booking', {'action': 'book'}) }}';
                }, 'json');
            });
            {% endif %}
        });
    </script>
{% endblock %}
