{% extends 'site/base.twig' %}

{% import 'site/partials/form.twig' as forms %}

{% block content %}

    {# Alerts on page #}
    <div class="page-alert">
        <div class="flashmessage alert alert-danger alert-fixed-top fade" id="keep_updated_error">
            <a class="close">&times;</a>
            <div class="content">
                {{ translate('An error occurred while updating your preferences.') }}
            </div>
        </div>
        <div class="flashmessage alert alert-success alert-fixed-top fade" id="keep_updated_success">
            <a class="close">&times;</a>
            <div class="content">
                {{ translate('Your preferences where succesfully saved.') }}
            </div>
        </div>
    </div>
    {% if isic.enable %}
        <div class="alert alert-info">
            <p>
                <b>{{ translate('VTK provides you with ISIC cards.') }} <a href="https://vtk.be/page/isic/">{{ translate('click here') }}</a> </b>
            </p>
        </div>
    {% endif %}

    {% if authenticatedPerson is null %}
        {{ translate('Please login to book textbooks.') }}
    {% else %}

    {# Content #}
    <div class="container">

        <div class="alert alert-info notification">
            <a class="close" data-dismiss="alert">&times;</a>
            {{ translate('To edit subjects visible here, go to') }}
            <a href="{{ url('common_account', {'action' : 'profile'}) }}" style="color: #FFD400FF">{{ translate('profile') }}</a>
        </div>

        <div class="spacer40"></div>
        <div class="flexHorizontal">
            <h1 style="margin-bottom: 5px">{{ translate('Book Textbooks') }}</h1>
            <div class="flexStretch"></div>
            {% if hasAccess('cudi_booking', 'search') or hasAccess('cudi_booking', 'keepUpdated') %}
                <div>
                    {# PAS DEZE NOG AAN --> refresh pagina needed? #}
                    {% if hasAccess('cudi_booking', 'keepUpdated') %}
                        <div class="button blue unfilled" {% if isSubscribed %}style="display: none"{% endif %}><a id="keepUpdated" rel="tooltip" data-toggle="tooltip" title="{{ translate('You will receive an e-mail when the catalog is updated.') }}">{{ translate('Enable catalog update mails') }}</a></div>
                        <div class="button blue unfilled" {% if not isSubscribed %}style="display: none"{% endif %}><a id="dontKeepUpdated" rel="tooltip" data-toggle="tooltip" title="{{ translate('You won\'t receive an e-mail when the catalog is updated.') }}">{{ translate('Disable catalog update mails') }}</a></div>
                    {% endif %}
                    {% if hasAccess('cudi_booking', 'search') %}
                        <div class="button blue unfilled" style="margin-top: 5px"><a href="#" id="searchArticles">{{ translate('Search') }}</a></div>
                    {% endif %}
                </div>

                {# STILL TO DO #}
                {% if hasAccess('cudi_booking', 'search') %}
                    <div id="searchArticlesPage" style="display: none;margin-top: 10px;">
                        {{ forms.renderForm(searchForm) }}

                        <table class="table bookings">
                            <thead>
                                <tr>
                                    <th>{{ translate('Title') }}</th>
                                    <th class="hidden-xs">{{ translate('Authors') }}</th>
                                    <th style="min-width: 100px">{{ translate('Price / Piece') }}</th>
                                    {% if showMandatory %}
                                    <th class="hidden-xs" style="min-width: 60px">{{ translate('Mandatory') }}</th>
                                    {% endif %}
                                    <th class="hidden-xs" style="min-width: 70px">{{ translate('Remarks') }}</th>
                                    <th style="min-width: 100px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="spacer">
                                    <td colspan="7"></td>
                                </tr>
                                <tr class="course-title">
                                    <td colspan="7"><i>{{ translate('No Articles Found') }}</i></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="button blue unfilled"><a href="{{ url('cudi_booking', {'action' : 'view'}) }}">{{ translate('Back') }}</a></div>
                        <div class="button blue unfilled"><a id="bookSearchArticles" style="display: none">{{ translate('Book') }}</a></div>
                    </div>
                {% endif %}
            {% endif %}

        </div>

        <div>
            <div style="display: inline-block; padding: 5px 10px; font-size: 12px; background-color: #dff0d8">{{ translate("Bought") }}</div>
            <div style="display: inline-block; padding: 5px 10px; font-size: 12px; background-color: #fcf8e3">{{ translate("Booked")}}</div>
        </div>

        {% if isic.enable %}
            <div class="alert alert-info">
                <p>
                    <b>{{ translate('VTK provides you with ISIC cards.') }} <a href="https://vtk.be/page/isic/">{{ translate('click here') }}</a> </b>
                </p>
            </div>
        {% endif %}

        {% if authenticatedPerson is null %}
            {{ translate('Please login to book textbooks.') }}
        {% else %}
            {# {% if hasAccess('cudi_booking', 'search') or hasAccess('cudi_booking', 'keepUpdated') %}
                <div style="height: 60px" class="hidden-xs hidden-sm">
                    <div class="pull-right">
                        {% if hasAccess('cudi_booking', 'keepUpdated') %}
                            <button class="btn btn-warning" id="keepUpdated" {% if isSubscribed %}style="display: none"{% endif %} rel="tooltip" data-toggle="tooltip" title="{{ translate('You will receive an e-mail when the catalog is updated.') }}">{{ translate('Enable catalog update mails') }}</button>
                            <button class="btn btn-warning" id="dontKeepUpdated" {% if not isSubscribed %}style="display: none"{% endif %} rel="tooltip" data-toggle="tooltip" title="{{ translate('You won\'t receive an e-mail when the catalog is updated.') }}">{{ translate('Disable catalog update mails') }}</button>
                        {% endif %}
                        {% if hasAccess('cudi_booking', 'search') %}
                            <a href="#" id="searchArticles" class="btn btn-info">{{ translate('Search') }}</a>
                        {% endif %}
                    </div>
                </div>

                {% if hasAccess('cudi_booking', 'search') %}
                    <div id="searchArticlesPage" style="display: none;margin-top: 10px;">
                        {{ forms.renderForm(searchForm) }}

                        <table class="table bookings">
                            <thead>
                                <tr>
                                    <th>{{ translate('Title') }}</th>
                                    <th class="hidden-xs">{{ translate('Authors') }}</th>
                                    <th style="min-width: 100px">{{ translate('Price / Piece') }}</th>
                                    {% if showMandatory %}
                                    <th class="hidden-xs" style="min-width: 60px">{{ translate('Mandatory') }}</th>
                                    {% endif %}
                                    <th class="hidden-xs" style="min-width: 70px">{{ translate('Remarks') }}</th>
                                    <th style="min-width: 100px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="spacer">
                                    <td colspan="7"></td>
                                </tr>
                                <tr class="course-title">
                                    <td colspan="7"><i>{{ translate('No Articles Found') }}</i></td>
                                </tr>
                            </tbody>
                        </table>

                        <a class="btn btn-default pull-left" href="{{ url('cudi_booking', {'action' : 'view'}) }}">{{ translate('Back') }}</a>
                        <button id="bookSearchArticles" class="btn btn-primary pull-right" style="display: none">{{ translate('Book') }}</button>
                    </div>
                {% endif %} #}
{#            {% endif %}#}

            <div id="viewArticlesPage">
                {% if form is defined %}
                    {% do form.prepare() %}
                    {% autoescape false %}
                        {{ form().openTag(form) }}
                        {{ formElement(form.get('csrf')) }}

                        <div class="spacer40"></div>

                        <table class="table bookings">
                            <thead>
                                <tr>
                                    <th>{{ translate('Title') }}</th>
                                    <th class="hidden-xs">{{ translate('Authors') }}</th>
                                    <th style="min-width: 100px">{{ translate('Price / Piece') }}</th>
                                    {% if showMandatory %}
                                    <th class="hidden-xs" style="min-width: 60px">{{ translate('Mandatory') }}</th>
                                    {% endif %}
                                    <th class="hidden-xs" style="min-width: 70px">{{ translate('Remarks') }}</th>
                                    <th style="min-width: 100px"></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for subjectArticle in subjectArticleMap %}
                                    <tr class="spacer">
                                        <td colspan="7"></td>
                                    </tr>

                                    <tr class="course-title">
                                        <td colspan="7" class="course-title-inner">
                                            {% if null == subjectArticle['subject'] %}
                                                {{ translate('General') }}
                                            {% else %}
                                                {{ subjectArticle['subject'].getCode() }} - {{ subjectArticle['subject'].getName() }}
                                            {% endif %}
                                        </td>
                                    </tr>

                                    {% for map in subjectArticle['articles'] %}
                                        <tr class="{% if map['booked'] > 0 %}warning{% endif %} {% if map['sold'] > 0 %}success{% endif %}">
                                            <td>
                                                {{ map['article'].getMainArticle().getTitle()
                                                |replace({'\\aa Haal de cudi verantwoordelijke': 'Ik heb subsidies bij Stuvo aangevraagd (meer info op <a href="https://vtk.be/nl/page/financiele-ondersteuning/">https://vtk.be/nl/page/financiele-ondersteuning</a>)'})
                                                |raw }}
                                            </td>
                                            <td class="hidden-xs">{{ map['article'].getMainArticle().getAuthors() }}</td>
                                            <td>
                                                {% if map['article'].getDiscounts()|length > 0 %}
                                                    <span rel="popover" data-original-title="{{ translate('Discounts') }}" data-content="
                                                    {% for discount in map['article'].getDiscounts() %}
                                                        <span class='badge'>{{ translate(discount.getType()) }} {% if discount.getOrganization() %}{{ discount.getOrganization().getName() }}{% endif %}</span> &euro; {{ (discount.apply(map['article'].getSellPrice())/100)|number_format(2) }}<br/>
                                                    {% endfor %}
                                                " data-placement="right" style="cursor: pointer">&euro; {{ (map['article'].getSellPrice()/100)|number_format(2) }} <span class="glyphicon glyphicon-info-sign"></span></span>
                                                {% else %}
                                                    <span>&euro; {{ (map['article'].getSellPrice()/100)|number_format(2) }}</span>
                                                {% endif %}
                                            </td>
                                            {% if showMandatory %}
                                            <td class="hidden-xs">{{ map['mandatory'] ? '&times;' : '' }}</td>
                                            {% endif %}
                                            <td class="hidden-xs">
                                                {% if map['comments']|length > 0 %}
                                                    <a rel="popover" data-original-title="{{ translate('Comments') }}" data-content="

                                                    {% for comment in map['comments'] %}
                                                        <span class='badge badge-info'>{{ loop.index }}</span> {{ comment.getText()|escape }}<br/>
                                                    {% endfor %}

                                                    " data-placement="left" class="label label-warning">{{ map['comments']|length }} {{ map['comments']|length > 1 ? translate('Remarks') : translate('Remark') }}</a>
                                                {% endif %}
                                            </td>
                                            <td style="text-align: center;">
                                                {% if map['bookable'] %}
                                                    {% set name = 'article-' ~ map['article'].getId() %}
                                                    {% set element = form.get(name) %}
                                                    {{ formElement(element) }}

                                                    <a href="#" class="decrease-value"><span class="glyphicon glyphicon-minus-sign pull-left" style="margin-top: 3px;"></span></a><b>0</b><a href="#" class="increase-value"><span class="glyphicon glyphicon-plus-sign pull-right" style="margin-top: 3px;"></span></a>
                                                {% else %}
                                                    <span class="label label-info hidden-xs">{{ translate('Not Bookable') }}</span>
                                                {% endif %}
                                            </td>
                                        </tr>

                                        {% if element.getMessages()|length > 0  and map['bookable'] %}
                                            <tr>
                                                <td colspan="7" style="border-top-width:0px;">
                                                    <div class="help-block pull-right">
                                                        {{ formElementErrors(element) }}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% else %}
                                        <tr>
                                            <td colspan="7" style="border-top-width:0px;">
                                                <div>
                                                    <em>{{ translate('No articles available for this subject.') }}</em>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>

                        <div>
                            <div class="button blue unfilled"><a href="{{ url('cudi_booking', {'action' : 'view'}) }}">{{ translate('Back') }}</a></div>

                            {% if form.get('submit') %}
                                {{ formElement(form.get('submit')) }}
                            {% endif %}
                        </div>

                        {{ form().closeTag() }}
                    {% endautoescape %}
                {% endif %}

                {# <table class="table" style="width:16.6666%;margin: 0 auto;">
                    <thead>
                        <tr>
                            <th>{{ translate("Color") }}</th>
                            <th>{{ translate("Status") }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="warning" style="width:40px">&nbsp;</td>
                            <td>{{ translate("Booked") }}</td>
                        </tr>
                        <tr>
                            <td class="success" style="width:20px">&nbsp;</td>
                            <td>{{ translate("Bought") }}</td>
                        </tr>
                    </tbody>
                </table> #}
            </div>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.flashmessage .close').click(function (e) {
                $(this).closest('.flashmessage').removeClass('in');
            });

            $('[rel=tooltip]').tooltip();
            $('a[rel=popover], span[rel=popover]').popover({'trigger': 'hover', 'html': true});

            $('.increase-value').click(function (e) {
                e.preventDefault();
                var newAmount = parseInt($(e.target).closest('td').find('b').html(), 10) + 1;

                $(e.target).closest('td').find('b').html(newAmount);
                $(e.target).closest('td').find('input').val(newAmount);
            });

            $('.decrease-value').click(function (e) {
                e.preventDefault();
                var newAmount = parseInt($(e.target).closest('td').find('b').html(), 10) - 1;

                if (newAmount >= 0) {
                    $(e.target).closest('td').find('b').html(newAmount);
                    $(e.target).closest('td').find('input').val(newAmount);
                }
            });

            $('.btn-booking').mouseup(function() {
                setTimeout(function () {
                    $('.btn-booking').prop('disabled', true);
                }, 20);
            });

            {% if hasAccess('cudi_booking', 'keepUpdated') %}
                $('#keepUpdated').click(function () {
                    $.ajax({
                        url: '{{ url('cudi_booking', {'action': 'keepUpdated'}) }}',
                        method: 'post',
                        data: {keepUpdated: true},
                        dataType: 'json',
                        success: function (data) {
                            $('.flashmessage').removeClass('in');
                            if (data && data.status == 'success') {
                                $('#keep_updated_success').addClass('in');
                                $('#dontKeepUpdated').show();
                                $('#keepUpdated').hide();
                            } else {
                                $('#keep_updated_error').addClass('in');
                            }
                        },
                        error: function () {
                            $('.flashmessage').removeClass('in');
                            $('#keep_updated_error').addClass('in');
                        }
                    }).error(function () {
                        $('.flashmessage').removeClass('in');
                        $('#keep_updated_error').addClass('in');
                    });
                });

                $('#dontKeepUpdated').click(function () {
                    $.ajax({
                        url: '{{ url('cudi_booking', {'action': 'keepUpdated'}) }}',
                        method: 'post',
                        data: {keepUpdated: false},
                        dataType: 'json',
                        success: function (data) {
                            $('.flashmessage').removeClass('in');
                            if (data && data.status == 'success') {
                                $('#keep_updated_success').addClass('in');
                                $('#keepUpdated').show();
                                $('#dontKeepUpdated').hide();
                            } else {
                                $('#keep_updated_error').addClass('in');
                            }
                        },
                        error: function () {
                            $('.flashmessage').removeClass('in');
                            $('#keep_updated_error').addClass('in');
                        }
                    }).error(function () {
                        $('.flashmessage').removeClass('in');
                        $('#keep_updated_error').addClass('in');
                    });
                });
            {% endif %}

            $('input[id*=article-]').each(function(i) {
                $('[id="' + this.id + '"]').each(function(i) {
                    if (i > 0)
                        $(this).remove();
                });
            });

            {% if hasAccess('cudi_booking', 'search') %}
                $('#searchArticles').click(function (e) {
                    e.preventDefault();
                    var view = $(this).data('view') == undefined ? 'view' : $(this).data('view');

                    if (view == 'view') {
                        $('#viewArticlesPage').hide();
                        $('#searchArticlesPage').show();
                        $('#search_string').focus();
                        $(this).html('{{ translate('Stop Search') }}').data('view', 'search');
                    } else {
                        $('#viewArticlesPage').show();
                        $('#searchArticlesPage').hide();
                        $(this).html('{{ translate('Search') }}').data('view', 'view');
                    }
                });

                $('#search_string').bind('keyup', function () {
                    var $this = $(this);
                    clearTimeout($(this).data('timeout'));
                    $(this).data('timeout', setTimeout(function () {
                        if ('' == $this.val() || $this.val().length < 3) {
                            $('#searchArticlesPage tbody').html('').append(
                                $('<tr>', {'class': 'spacer'}).append(
                                    $('<td>', {'colspan': 6})
                                ),
                                $('<tr>', {'class': 'course-title'}).append(
                                    $('<td>', {'colspan': 6}).append(
                                        $('<i>').append('{{ translate('No Articles Found') }}')
                                    )
                                )
                            );
                            return;
                        }

                        $.ajax({
                            url: '{{ url('cudi_booking', {'action': 'search'}) }}' + $this.val(),
                            method: 'get',
                            dataType: 'json',
                            success: function (e) {
                                var tbody = $('#searchArticlesPage tbody').html('').append(
                                    $('<tr>', {'class': 'spacer'}).append(
                                        $('<td>', {'colspan': 6})
                                    )
                                );
                                $(e).each(function () {
                                    tbody.append(
                                        $('<tr>', {'class': (this.booked > 0 ? 'warning ': '') + (this.sold > 0 ? 'success': '')}).append(
                                            $('<td>').html(this.title),
                                            $('<td>', {'class': 'hidden-xs'}).html(this.authors),
                                            price = $('<td>'),
                                            {% if showMandatory %}
                                            mandatory = $('<td>', {'class': 'hidden-xs'}),
                                            {% endif %}
                                            comments = $('<td>', {'class': 'hidden-xs'}),
                                            book = $('<td>', {'style': 'text-align: center;'})
                                        )
                                    );

                                    if (this.discounts.length > 0) {
                                        var popoverContent = '';
                                        $(this.discounts).each(function () {
                                            popoverContent += '<span class="badge badge-info">' + this.type + '</span> &euro; ' + this.price + '<br/>';
                                        });
                                        price.append(
                                            $('<span>', {
                                                'data-original-title': '{{ translate('Discounts') }}',
                                                'data-content': popoverContent,
                                                'data-placement': 'right',
                                                'style': 'cursor:pointer',
                                            }).append('&euro; ' + this.price).popover({'trigger': 'hover', 'html': true})
                                        );
                                    } else {
                                        price.html('&euro; ' + this.price);
                                    }

                                    if (this.comments.length > 0) {
                                        var popoverContent = '';
                                        var counter = 0;
                                        $(this.comments).each(function () {
                                            popoverContent += '<span class="badge badge-info">' + (++counter) + '</span> ' + this + '<br/>';
                                        });
                                        comments.append(
                                            $('<a>', {
                                                'data-original-title': '{{ translate('Comments') }}',
                                                'data-content': popoverContent,
                                                'data-placement': 'left',
                                                'style': 'cursor:pointer',
                                                'class': 'label label-warning',
                                            }).html(this.comments.length > 1 ? '{{ translate('Remarks') }}' : '{{ translate('Remark') }}').popover({'trigger': 'hover', 'html': true})
                                        );
                                    }

                                    if (this.bookable) {
                                        book.append(
                                            $('<input>', {'type': 'hidden', 'id': 'article-' + this.id, 'placeholder': '0'}).data('id', this.id),
                                            $('<a>', {'href': '#', 'class': 'decrease-value'}).append($('<span>', {'class': 'glyphicon glyphicon-minus-sign pull-left', 'style': 'margin-top: 3px;'})),
                                            $('<b>').html(0),
                                            $('<a>', {'href': '#', 'class': 'increase-value'}).append($('<span>', {'class': 'glyphicon glyphicon-plus-sign pull-right', 'style': 'margin-top: 3px;'}))
                                        );
                                    } else {
                                        book.append(
                                            $('<span>', {'class': 'label label-info hidden-xs'}).html('{{ translate('Not Bookable') }}')
                                        );
                                    }

                                    $('.increase-value').unbind('click').click(function (e) {
                                            e.preventDefault();
                                            var newAmount = parseInt($(e.target).closest('td').find('b').html(), 10) + 1;

                                            $(e.target).closest('td').find('b').html(newAmount);
                                            $(e.target).closest('td').find('input').val(newAmount);
                                    });

                                    $('.decrease-value').unbind('click').click(function (e) {
                                        e.preventDefault();
                                        var newAmount = parseInt($(e.target).closest('td').find('b').html(), 10) - 1;

                                        if (newAmount >= 0) {
                                            $(e.target).closest('td').find('b').html(newAmount);
                                            $(e.target).closest('td').find('input').val(newAmount);
                                        }
                                    });
                                });

                                $('#bookSearchArticles').toggle(e.length > 0);
                            }
                        });
                    }, 200));
                });

                $('#bookSearchArticles').click(function () {
                    var data = {};
                    $('#searchArticlesPage tbody input').each(function () {
                        if ($(this).val() > 0)
                            data[$(this).data('id')] = $(this).val();
                    });
                    $.post('{{ url('cudi_booking', {'action': 'bookSearch'}) }}', data, function (e) {
                        if (e.status == 'success')
                            window.location.href = '{{ url('cudi_booking', {'action': 'view'}) }}';
                        else
                            window.location.href = '{{ url('cudi_booking', {'action': 'book'}) }}';
                    }, 'json');
                });
            {% endif %}
        });
    </script>
{% endblock %}


