{% if paginationParams is sameas(null) %}
	{% set paginationParams = {} %}
{% endif %}

{% if 0 != paginationControl.pages.pageCount %}
    <table class="pagination {% if paginationControl.fullWidth %} full_width {% endif %}">
        <tr>
            <td>
                {% if paginationControl.pages.previous is not sameas(null) %}
                    <a href="{{ url(paginationControl.matchedRouteName, {"page": paginationControl.pages.first}|merge(paginationParams)) }}">&larr; First</a>
                {% else %}
                    {% if 1 != paginationControl.pages.pageCount and 1 != paginationControl.pages.current %}
                        &larr; First
					{% endif %}
                {% endif %}

				{% if paginationControl.pages.previous is not sameas(null) %}
                    <a href="{{ url(paginationControl.matchedRouteName, {"page": paginationControl.pages.previous}|merge(paginationParams)) }}">&laquo; Previous</a>
                {% endif %}
            </td>

            <td>
                {{ paginationControl.pages.current }}/{{ paginationControl.pages.pageCount }}
            </td>

            <td>
                {% if paginationControl.pages.next is not sameas(null) %}
                    <a href="{{ url(paginationControl.matchedRouteName, {"page": paginationControl.pages.next}|merge(paginationParams)) }}">Next &raquo;</a>
                {% endif %}

                {% if paginationControl.pages.next is not sameas(null) %}
                    <a href="{{ url(paginationControl.matchedRouteName, {"page": paginationControl.pages.last}|merge(paginationParams)) }}">Last &rarr;</a>
                {% else %}
                    {% if 1 != paginationControl.pages.pageCount and paginationControl.pages.current != paginationControl.pages.pageCount %}
                        Last &rarr;
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>
{% endif %}