{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/stock/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>General</h1>
        <p>Article: <b>{{ article.getMainArticle().getTitle() }}</b></p>
        <p>Barcode: <b>{{ article.getBarcode() }}</b></p>
        <p>Supplier: <b>{{ article.getSupplier().getName() }}</b></p>
        <br style="clear:both" />
        <h1>Orders</h1>
        <table class="half_width">
            <tr>
                <td>Total</td>
                <td style="width:30%">{{ period.getNbOrdered(article) }}</td>
            </tr>
            <tr>
                <td>Not delivered</td>
                <td style="width:30%">{% if period.getNbOrdered(article) - period.getNbDelivered(article) < 0 %}0{% else %}{{ period.getNbOrdered(article) - period.getNbDelivered(article) }}{% endif %}</td>
            </tr>
            <tr>
                <td>Queue</td>
                <td style="width:30%">{{ period.getNbQueueOrder(article) }}</td>
            </tr>
        </table>
        <br style="clear:both" />
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(orderForm) }}
        <br style="clear:both" />
        <h1>Deliveries</h1>
        <table class="half_width">
            <tr>
                <td>Total</td>
                <td style="width:30%">{{ period.getNbDelivered(article) }}</td>
            </tr>
        </table>
        <br style="clear:both" />
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(deliveryForm) }}
        <br style="clear:both" />
        <h1>Bookings</h1>
        <table class="half_width">
            <tr>
                <td>Number assigned</td>
                <td style="width:30%">{{ period.getNbAssigned(article) }}</td>
            </tr>
            <tr>
                <td>Number not assigned</td>
                <td style="width:30%">{{ period.getNbBooked(article) }}</td>
            </tr>
        </table>
        <br style="clear:both" />
        <h1>Sales</h1>
        <table class="half_width">
            <tr>
                <td>Total</td>
                <td style="width:30%">{{ period.getNbSold(article) }}</td>
            </tr>
        </table>
        <br style="clear:both" />
        <h1>Stock</h1>
        <table class="half_width">
            <tr>
                <td>Total</td>
                <td style="width:30%">{{ article.getStockValue() }}</td>
            </tr>
        </table>
        <br style="clear:both" />
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(stockForm) }}
    </div>

    <aside>
        {% if hasAccess('admin_stock', 'delta') %}
            <div class="sidebox">
                <div class="title">View Delta's</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to view the delta's!</i>
                    </p>
                    <p>
                        <a href="{{ url('admin_stock', {"action": "delta", "id": article.getId()}) }}">&rarr; View Delta's</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>

    <div class="modal hide fade" id="overDelivery">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Delivery Warning
        </div>
        <div class="modal-body">
            <p>
                The given delivery number is higher than the not delivered value (<b>{{ maxDelivery }}</b>)!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <p>
                You can also create a virtual order so the delta of this delivery will not cause these dialogs in the future.
            </p>
            <div class="footer">
                <input type="button" class="virtualOrder" value="Create Virtual Order">
                <input type="button" class="continue" value="Yes">
                <input type="button" class="cancel" data-dismiss="modal" value="No">
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#add_delivery').click(function (e) {
                if ($('#delivery_number').val() > {{ maxDelivery }}) {
                    e.preventDefault();
                    openModal();
                }
            });
        });

        function openModal() {
            var $this = $(this);

            var overDelivery = $('#overDelivery');
            overDelivery.find('.continue').unbind('click').click(function () {
                $('#deliveryForm').submit();
            });
            overDelivery.find('.virtualOrder').unbind('click').click(function () {
                $('#addWithVirtualOrder').val('1');
                $('#deliveryForm').submit();
            });
            overDelivery.modal();
        }
    </script>
{% endblock %}