{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'cudi/admin/stock/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
		<div id="stock_search" style="display:none;">
			<div style="padding:4px;text-align:right">
				Search:
				<select id="searchField">
					<option value="title">Title</option>
					<option value="barcode">Barcode</option>
					<option value="supplier">Supplier</option>
				</select>
				is
				<input type="text" id="searchString" size="30" />
			</div>

			<table class="full_width manage">
		    	<tr>
		        	<th>Article</th>
		        	<th width="100px">Supplier</th>
	            	<th width="95px" class="widest">Assigned</th>
	            	<th width="95px" class="widest">Not Assigned</th>
		        	<th width="95px">In stock</th>
	            	<th width="95px">Not delivered</th>
		        	<th width="95px">Reserved</th>
		        	<th width="70px">Actions</th>
				</tr>
			</table>
		</div>

		<div id="default_page">
	    	<table class="full_width manage">
	        	<tr>
	            	<th>Article</th>
	            	<th width="100px">Supplier</th>
	            	<th width="95px" class="widest">Assigned</th>
	            	<th width="95px" class="widest">Not Assigned</th>
	            	<th width="95px">In stock</th>
	            	<th width="95px">Not delivered</th>
	            	<th width="95px">Reserved</th>
	            	<th width="70px">Actions</th>
				</tr>

		        {% for article in paginator %}
		            <tr>
		                <td>{{ article.getMainArticle().getTitle() }}</td>
		                <td>{{ article.getSupplier().getName() }}</td>
		                <td class="widest">{{ period.getNbAssigned(article) }}</td>
		                <td class="widest">{{ period.getNbBooked(article) }}</td>
		                <td>{{ article.getStockValue() }}</td>
		                <td>{% if period.getNbOrdered(article) - period.getNbDelivered(article) < 0 %}0{% else %}{{ period.getNbOrdered(article) - period.getNbDelivered(article) }}{% endif %}</td>
		                <td>{{ period.getNbBooked(article) + period.getNbAssigned(article) }}</td>
						<td class="actions">
						    {% if hasAccess('admin_stock', 'edit') %}
							    <a href="{{ url('admin_stock', {"action": "edit", "id": article.getId()}) }}" class="edit">Edit</a>
							{% endif %}
		                </td>
		            </tr>
		        {% endfor %}
		    </table>

			{% include 'admin/partials/paginationControl.twig' %}
		</div>
	</div>
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$(document).ready(function () {
		    {% if hasAccess('admin_stock', 'search') %}
			$.searchDatabase({
				defaultPage: $('#default_page'),
				searchDiv: $('#stock_search'),
				searchString: $('#searchString'),
				searchField: $('#searchField'),
				url: '{{ url('admin_stock', {'action': 'search'}) }}',
				display: function (data) {
					$('#stock_search table').find('tr.item').remove();
					$(data).each(function () {
						$('#stock_search table').append(row = $('<tr>', {class: 'item'}));
						row.append('<td>' + this.title  + '</td>')
							.append('<td>' + this.supplier + '</td>')
							.append('<td class="widest">' + this.nbAssigned + '</td>')
							.append('<td class="widest">' + this.nbNotAssigned + '</td>')
							.append('<td>' + this.nbInStock + '</td>')
							.append('<td>' + this.nbNotDelivered + '</td>')
							.append('<td>' + this.nbReserved + '</td>')
							.append('<td class="actions"><a href="{{ url('admin_stock', {"action": "edit"}) }}/' + this.id + '" class="edit">Edit</a></td>');
					});
					$('#stock_search table').change();
				}
				,
				clear: function () {
					$('#stock_search table').find('tr.item').remove();
				}
			});
			{% endif %}
		});
	</script>
{% endblock %}
