{% extends 'common/layout.twig' %}

{% block content %}
    <h1>{{ translator().translate('News') }}</h1>
    {% for item in news %}
        <h2>{{ item.getTitle(language) }}</h2>
        <em class="subtitle">{{ translator().translate('placed by %user% on %date% in %category%')|replace({'%user%':item.getCreatePerson().getFullName(), '%date%':dateLocalized(item.getUpdateTime(), 'd MMMM yyyy'), '%category%': translator().translate(item.getCategory()|capitalize)}) }}</em>
        <p>{{ item.getSummary(language) }} <a href="{{ url(language.getAbbrev() ~ "_residence_news_item", {"name": item.getName(language)}) }}">[{{ translator().translate('more...') }}]</a></p>
    {% endfor %}
{% endblock %}