{% extends 'supplier/base.twig' %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tr>
            <th>{{ translate('Title') }}</th>
            <th width="120px">{{ translate('Authors') }}</th>
            <th width="220px">{{ translate('Publisher') }}</th>
            <th width="100px">{{ translate('Publish Year') }}</th>
            <th width="100px">{{ translate('Barcode') }}</th>
            <th width="70px">{{ translate('In Stock') }}</th>
        </tr>

    	{% for article in articles %}
    	    <tr>
    	        <td>{{ article.getMainArticle().getTitle() }}</td>
    	        <td>{{ article.getMainArticle().getAuthors() }}</td>
    	        <td>{{ article.getMainArticle().getPublishers() }}</td>
    	        <td>{{ article.getMainArticle().getYearPublished() }}</td>
    	        <td>{{ article.getBarcode() }}</td>
    	        <td>{{ article.getStockValue() }}</td>
    	    </tr>
    	{% endfor %}
    </table>
{% endblock %}
