{% macro renderForm(form) %}
    {% do form.prepare() %}
    {% autoescape false %}
        {% set buttons = [] %}
        {{ form().openTag(form) }}
            {{ _self.renderFieldset(form) }}
        {{ form().closeTag() }}
    {% endautoescape %}
{% endmacro %}

{% macro renderFieldset(fieldset) %}
    {% autoescape false %}
        <div class="{{ fieldset.getAttribute('class') }}" id="{{ fieldset.getAttribute('id') }}">
            {% set buttons = [] %}
            {% for element in fieldset.getElements() %}
                {% if element.getAttribute('type') == 'submit' or element.getAttribute('type') == 'reset' %}
                    {% set buttons = buttons|merge([element]) %}
                {% elseif element.getAttribute('type') == 'tabs' %}
                    <ul class="nav nav-tabs {{ element.getAttribute('class') }}" id="{{ element.getAttribute('id') }}">
                        {% for language,tab in element.getTabs() %}
                            <li><a href="{{ tab }}" data-toggle="tab">{{ translate(language) }}</a></li>
                        {% endfor %}
                    </ul>
                {% elseif element.getAttribute('type') == 'checkbox' %}
                    <div class="control-group {% if element.getMessages()|length > 0 %}error{% endif %}">
                        <div class="controls">
                            {{ formLabel().openTag(element) }}
                                {{ formElement(element) }}
                                {% if element.getLabel() != '' %}{{ translate(element.getLabel()) }}{% endif %}
                            {{ formLabel().closeTag() }}
                            {% if element.getMessages()|length > 0 %}
                                <div class="help-inline">
                                    {{ formElementErrors(element) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% elseif element.getAttribute('type') == 'hidden' %}
                    {{ formElement(element) }}
                {% else %}
                    <div class="control-group {% if element.getMessages()|length > 0 %}error{% endif %}">
                        {{ formLabel().openTag(element) }}{% if element.getLabel != '' %}{{ translate(element.getLabel()) }}{% endif %}{{ formLabel().closeTag() }}
                        <div class="controls">
                            <div>{{ formElement(element) }}</div>
                            {% if element.getMessages()|length > 0 %}
                                <div class="help-inline">
                                    {{ formElementErrors(element) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% for child in fieldset.getFieldsets() %}
                {% if child.isCollection() %}
                    <fieldset>
                        <legend>{{ translate(child.getLabel()) }}</legend>
                        {{ _self.renderFieldset(child) }}
                    </fieldset>
                {% else %}
                    {{ _self.renderFieldset(child) }}
                {% endif %}
            {% endfor %}
            {% if buttons|length > 0 %}
                <div class="form-actions">
                    {% for button in buttons %}
                        {{ formElement(button) }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endautoescape %}
{% endmacro %}