{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'admin_company_event/partials/navigation.twig' %}
    
    <div id="controller_action">
        <h1>Event</h1>
        
        <p>Title: <b>{{ event.getTitle(language) }}</b></p>
        <p>Start Date: <b>{{ event.getStartDate().format('d/m/Y H:i') }}</b></p>
        <p>End Date: <b>{{ event.getEndDate().format('d/m/Y H:i') }}</b></p>
        <p>Location: <b>{{ event.getLocation(language) }}</b></p>
        <br />
        <h1>Current Poster</h1>
        {% if event.getEvent().getPoster() %}
            <img src="{{ url('admin_calendar', {'action': 'poster', 'id': event.getEvent().getPoster()}) }}" alt="{{ event.getEvent().getTitle(language) }}">
        {% else %}
            <i>This event currently has no poster.</i>
        {% endif %}
        <h1>Change Poster</h1>
        {% autoescape false %}
            {{ form }}
        {% endautoescape %}
    </div>
{% endblock %}
