{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('ISIC Card Order Form') }}</h1>
    </div>

    {% if hasAccess('cudi_isic', 'order') %}
        {% if status == 'noauth'%}
            <p>{{translate('You need to be logged in to view this page.')}}</p>
        {% elseif status == 'noaccess' %}
            <p>{{translate('You do not have permission to view this page.')}}</p>
        {% elseif status == 'disabled' %}
            <p>{{translate('Orders for ISIC cards are currently disabled, please try again later.')}}</p>
        {% elseif status == 'doubleorder' %}
            <p>{{translate('You have ordered an ISIC card already.')}}</p>
        {% else %}
            <div id="controller_action">
                <p>{{translate('Fill in the form below to order your ISIC card for %s€. Once your card is available, you will receive an email and come pick it up at our bookstore. For more information about ISIC cards, check out ')|format(price)}}<a href="http://www.guido.be/isic">{{translate('this page')}}</a>.</p>
                <p>{{translate('NOTE: you cannot cancel your order after you hit the order button!')}}</p>
                {% import 'site/partials/form.twig' as forms %}
                {{ forms.renderForm(form) }}
            </div>
        {% endif %}
    {% else %}
        <p>{{translate('You do not have permission to view this page.')}}</p>
    {% endif %}
{% endblock %}