{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'shop/admin/reservation/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width reservation_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The reservation was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage success_message full_width reservation_noshow_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The reservation was successfully updated!</p>
        </div>
    </div>
    <div class="flashmessage success_message full_width reservation_noshow_blacklistAvoided hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The person who made this reservation would've been put on the blacklist, but he/she was explicitly given permission to make reservations. You can manually revoke this permission!</p>
        </div>
    </div>
    <div class="flashmessage success_message full_width reservation_noshow_blacklisted hide">
        <div class="title">Success</div>
        <div class="content">
            <p>No reservations for this person anymore! He didn't show up a bit too often.</p>
        </div>
    </div>

    <div class="flashmessage error_message full_width reservation_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the reservation.</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width reservation_noshow_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to update the no-show status.</p>
        </div>
    </div>

    <aside>
            <div class="sidebox">
                <div class="title">Consume</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to consume!</i>
                    </p>
                    <p>
                        <a href="{{ url('shop', {"action": "consume", "id": salesSession.getId()})}}">&rarr; Consume</a>
                    </p>
                </div>
            </div>
    </aside>

    <div id="controller_action">
        <div>
            Below you find a list of all reservations for the sales session starting
            at {{ salesSession.getStartDate().format('d/m/Y H:i') }} and ending
            at {{ salesSession.getEndDate().format('d/m/Y H:i') }}.
        </div>
        <br>
        <table class="full_width manage">
            <tr>
                <th>Product</th>
                <th style="width: 100px">Amount</th>
                <th style="width: 100px">Total Amount</th>
            </tr>

            {% for reservation in totals %}
                <tr class="item item-{{ reservation[0].getId() }}">
                    <td>{{ reservation[0].getName() }}</td>
                    <td>{{ reservation[1] }}</td>
                    <td>{{ reservation[2] }}</td>
                </tr>
            {% endfor %}
        </table>

        <h1> Total amount of reservations: {{ totalReservations }} </h1>
        
        <div id="reservation_search" style="display: none;">
            <div style="padding: 4px; text-align: right">
                Search:
                <select id="searchField">
                    <option value="name">Name</option>
                </select>
                is
                <input type="text" id="searchString" size="30"/>
            </div>

            <table class="full_width manage">
                <tr>
                    <th>Person</th>
                    <th>Product</th>
                    <th>Amount</th>
                    <th>Total Price</th>
                    <th>No Show</th>
                    <th>Consumed</th>
                    <th>Reward</th>
                    <th width="70px">Actions</th>
                </tr>
            </table>
        </div>

        <div id="default_page">
            <table class="full_width manage">
                <tr>
                    <th>Person</th>
                    <th>Product</th>
                    <th>Amount</th>
                    <th>Total Price</th>
                    <th>No Show</th>
                    <th>Consumed</th>
                    <th>Reward</th>
                    <th width="70px">Actions</th>
                </tr>

                {% for reservation in paginator %}
                    <tr class="item item-{{ reservation.getId() }}">
                        <td>{{ reservation.getPerson().getFullName() }}</td>
                        <td>{{ reservation.getProduct().getName() }}</td>
                        <td>{{ reservation.getAmount() }}</td>
                        <td>{{ reservation.getAmount() * reservation.getProduct().getSellPrice() }}</td>
                        <td style="text-align:center"><input id="noshow-{{ reservation.getId() }}" disabled
                                                             type="checkbox"
                                                             {% if salesSession.containsBanForPerson(reservation.getPerson()) %}checked{% endif %} /></td>
                        <td style="text-align:center"><input id="noshow-{{ reservation.getId() }}" disabled
                                                            type="checkbox"
                                                            {% if reservation.getConsumed() %}checked{% endif %} /></td>
                        <td style="text-align:center"><input id="noshow-{{ reservation.getId() }}" disabled
                                                            type="checkbox"
                                                            {% if reservation.getReward() %}checked{% endif %} /></td>
                        <td class="actions">
                            {% if hasAccess('shop_admin_shop_reservation', 'noshow') %}
                                <a href="#" data-id="{{ reservation.getId() }}" class="edit noshow"
                                   data-name="{{ reservation.getAmount() }} * {{ reservation.getProduct().getName() }} voor {{ reservation.getPerson().getFullName() }}">No-show</a>
                            {% endif %}
                            {% if hasAccess('shop_admin_shop_reservation', 'delete') %}
                                <a href="#" data-id="{{ reservation.getId() }}" class="delete"
                                   data-name="{{ reservation.getAmount() }} * {{ reservation.getProduct().getName() }} voor {{ reservation.getPerson().getFullName() }}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% include 'admin/partials/paginationControl.twig' %}
        </div>
    </div>

    <div class="modal fade" id="removeReservation" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Reservation
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following reservation: <b class="name"></b>?
                        Please note that this operation cannot be undone!
                    </p>

                    <p>
                        Are you sure you want to continue?
                    </p>

                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">

        $(document).ready(function () {
            {% if hasAccess('shop_admin_shop_reservation', 'search') %}
            $.searchDatabase({
                defaultPage: $('#default_page'),
                searchDiv: $('#reservation_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                url: '{{ url('shop_admin_shop_reservation', {'action': 'search', 'id': salesSession.getId()}) }}',
                display: function (data) {
                    $('#reservation_search table').find('tr.item').remove();
                    $(data).each(function () {
                        console.log('Processing result:');
                        $('#reservation_search table').append(row = $('<tr>', {class: 'item item-' + this.id}));
                        row.append('<td>' + this.person + '</td>')
                            .append('<td>' + this.product + '</td>')
                            .append('<td>' + this.amount + '</td>')
                            .append('<td>' + this.total  + '</td>')
                            .append('<td style="text-align:center"><input id="noshow-' + this.id +
                                  '" disabled type="checkbox"' +
                                  (this.noshow ? 'checked': '') + '/></td>')
                            .append('<td style="text-align:center"><input id="noshow-' + this.id +
                                '" disabled type="checkbox"' +
                                (this.consumed ? 'checked': '0') + '/></td>')
                            .append('<td style="text-align:center"><input id="noshow-' + this.id +
                                '" disabled type="checkbox"' +
                                (this.reward ? 'checked': '0') + '/></td>')
                            .append(actions = $('<td>', {'class': 'actions'}));
                        {% if hasAccess('shop_admin_shop_reservation', 'noshow') %}
                              actions.append(noShowButton = $('<a href="#" class="edit noshow">No-show</a>'));
                              noShowButton.data({
                                    id: this.id,
                                    name: this.amount +" * " + this.product + " voor " + this.person
                              });
                        {% endif %}
                        {% if hasAccess('shop_admin_shop_reservation', 'delete') %}
                            actions.append(deleteButton = $('<a href="#" class="delete">Delete</a>'));
                            deleteButton.data({
                                    id: this.id,
                                    name: this.amount +" * " + this.product + " voor " + this.person
                                    });
                        {% endif %}

                    });
                    $('#reservation_search table .delete').click(openModal);
                    $('#reservation_search table .noshow').click(noShow);
                    $('#reservation_search table').change();
                },
                clear: function () {
                    $('#reservation_search table').find('tr.item').remove();
                }
            });
            {% endif %}
            $('.item .delete').click(openModal);
            $('.item .noshow').click(noShow);
        });

        function noShow() {
            var id = $(this).data('id');
            $.post('{{ url('shop_admin_shop_reservation', {"action":"noshow"}) }}' + id, function (data) {
                if (data && 'success' == data.status) {
                    $('.flashmessage').addClass('hide');

                    $('.reservation_noshow_success').removeClass('hide');
                    // $('#noshow-' + id).prop('checked', !$('#noshow-' + id).prop('checked'));

                    if (Array.isArray(data.reservationsToUpdate) && data.reservationsToUpdate.length > 0) {
                        console.log("reservation to update is not empty");
                        // Iterate through the array and update checkboxes
                        data.reservationsToUpdate.forEach(function(updateId) {
                            var checkbox = $('#noshow-' + updateId);
                            if (checkbox.length > 0) {
                                checkbox.prop('checked', !checkbox.prop('checked'));
                            }
                        });
                    } else {
                        console.log("reservation to update is empty");
                        // Update only the original ID if data.ids is not provided
                        $('#noshow-' + id).prop('checked', !$('#noshow-' + id).prop('checked'));
                    }
                } else {
                    $('.flashmessage').addClass('hide');
                    $('.reservation_noshow_error').removeClass('hide');
                }
            }, 'json').error(function(rq){
                $('.flashmessage').addClass('hide');
                $('.reservation_noshow_error').removeClass('hide');
                console.log(rq.responseText);
            });
        }

        function openModal(e) {
            var $this = $(this);
            e.preventDefault();
            var removeReservation = $('#removeReservation');
            removeReservation.find('.name').html($(this).data('name'));
            removeReservation.find('.cancel').one('click', function () {
                removeReservation.modal('hide');
            });
            var id = $this.data('id');
            removeReservation.find('.delete').unbind('click').click(function () {
                $.post('{{ url('shop_admin_shop_reservation', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.reservation_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeReservation.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeReservation.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.reservation_removed_error').removeClass('hide');
            $('#removeReservation').modal('hide');
        }
    </script>
{% endblock %}
