{% extends 'admin/layout.twig' %}

{% block content %}
    <div class="flashmessage alert alert-success event_removed_success fade">
    	<a class="close" data-dismiss="alert">&times;</a>
    	<div class="title">{{ translator().translate('Success') }}</div>
    	<div class="content">
    		<p>{{ translator().translate('The event was successfully removed!') }}</p>
    	</div>
    </div>
    <div class="flashmessage alert alert-danger event_removed_error fade">
    	<a class="close" data-dismiss="alert">&times;</a>
    	<div class="title">{{ translator().translate('Error') }}</div>
    	<div class="content">
    		<p>{{ translator().translate('An error occurred while trying to delete the event.') }}</p>
    	</div>
    </div>
    
    <div class="page-header">
        <h1>{{ translator().translate('Calendar') }}</h1>
    </div>
    
    {% include 'admin_calendar/partials/navigation.twig' %}
    
    <table class="table table-bordered table-striped" id="sortable">
        <thead>
            <tr>
                <th>{{ translator().translate('Title') }}</th>
                <th width="120px">{{ translator().translate('Start Date') }}</th>
                <th width="120px">{{ translator().translate('End Date') }}</th>
                <th width="160px">{{ translator().translate('Location') }}</th>
                <th width="180px">{{ translator().translate('Actions') }}</th>
            </tr>
        </thead>

        <tbody>
            {% for event in paginator %}
                <tr class="item">
                    <td>{{ event.getTitle(language) }}</td>
                    <td>{{ dateLocalized(event.getStartDate(), 'dd/MM/y H:m') }}</td>
                    <td>{{ dateLocalized(event.getEndDate(), 'dd/MM/y H:m') }}</td>
                    <td>{{ event.getLocation(language) }}</td>
                    <td class="actions">
                        {% if hasAccess('admin_calendar', 'edit') %}
                            <a href="{{ url('admin_calendar', {"action": "edit", "id": event.getId()}) }}" class="btn btn-primary">{{ translator().translate('Edit') }}</a>
                        {% endif %}
                        {% if hasAccess('admin_calendar', 'delete') %}
                            <a href="#" data-id="{{ event.getId() }}" data-title="{{ game.getTitle(language) }}" class="btn btn-danger delete">{{ translator().translate('Delete') }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

	{% include 'admin/partials/paginationControl.twig' %}
    
    <div id="removeEvent" class="modal fade">
    	<div class="modal-header">
    		<a class="close" data-dismiss="modal">&times;</a>
    		<h3>{{ translator().translate('Remove Event') }}</h3>
    	</div>
    	<div class="modal-body">
    		<p>
    			{{ translator().translate('You are about to delete the following event') }}: <b class="title"></b>?
    			{{ translator().translate('Please note that this operation cannot be undone!') }}
    		</p>
    		<p>
    			{{ translator().translate('Are you sure you want to continue?') }}
    		</p>
    	</div>
    	<div class="modal-footer">
    		<button class="btn btn-danger delete">{{ translator().translate('Yes') }}</button>
    		<button class="btn" data-dismiss="modal">{{ translator().translate('No') }}</button>
    	</div>
    </div>
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('.item .delete').click(openModal);
		});
		
		function openModal(e) {
			var $this = $(this);

			e.preventDefault();
			var removeEvent = $('#removeEvent');
			removeEvent.find('.title').html($(this).data('title'));
			removeEvent.find('.delete').unbind('click').click(function () {
				$.post('{{ url('admin_calendar', {"action": "delete"})}}/' + $this.data('id'), function  (data) {
				    if (data && 'success' == data.status) {
    					$('.flashmessage').removeClass('in');
    					$('.event_removed_success').addClass('in');
    					$this.parent().parent().remove();
    					removeEvent.modal('hide');
    				} else {
    				    errorRemove();
    				}
				}, 'json').error(errorRemove);
			});
			removeEvent.modal();
		}
		
		function errorRemove() {
		    $('.flashmessage').removeClass('in');
		    $('.event_removed_error').addClass('in');
		    $('#removeEvent').modal('hide');
		}
	</script>
{% endblock %}
