{{ doctype() }}

<html lang="en">
    <head>

        {{ headMeta() }}
        {{ headTitle('Quiz', 'PREPEND') }}

        {{ headLink() }}
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ organizationUrl }}" class="brand"><img src="/_quiz/img/logo.png" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if hasAccess('quiz_quiz', 'manage') %}
                            <li {% if 'manage' == getParam('action') %} class="active" {% endif %}>
                                <a href="{{ url('quiz_quiz', {'action': 'manage', 'quizid': quiz.getId()}) }}">Enter Points</a>
                            </li>
                        {% endif %}
                        {% if hasAccess('quiz_quiz', 'view') %}
                            <li {% if 'view' == getParam('action') %} class="active" {% endif %}>
                                <a href="{{ url('quiz_quiz', {'action': 'view', 'quizid': quiz.getId()}) }}">View Points</a>
                            </li>
                        {% endif %}
                        {% if hasAccess('quiz_quiz', 'results') %}
                            <li {% if 'results' == getParam('action') %} class="active" {% endif %}>
                                <a href="{{ url('quiz_quiz', {'action': 'results', 'quizid': quiz.getId()}) }}">Results</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <header>
            <div class="container">
                <h1>{{ translate('Quiz') }}</h1>
            </div>
        </header>

        <div class="container">
            {% include 'quiz/partials/flashMessenger.twig' %}

            <div id="content_controller">
                {% block content %} {% endblock %}
            </div>
        </div>

        <footer>
            Litus Quiz | Code by <a href="http://litus.cc">Litus</a>
        </footer>

        {{ inlineScript() }}

        {% block content_script %} {% endblock %}
    </body>
</html>
