{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header container">
        <h1>{{ translate('POC') }}</h1>
    </div>

    <div class="navbar navbar-default container"  role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#academicYearSubNav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="academicYearSubNav">
                <ul class="nav navbar-nav">
                    {% for academicYear in academicYears %}
                        <li {% if academicYear.getCode() == activeAcademicYear.getCode() %}class="active"{% endif %}><a href="{{ url('common_poc', {'academicyear': academicYear.getCode()}) }}">{{ academicYear.getCode() }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% for pocStuff in pocItem%}
        <div class="container" style="background: whitesmoke; padding: 15px 0; border-radius: 10px; margin-bottom: 50px">
            <h3 style="padding-left: 15px">{{ pocStuff['groupId'].getName() }}
                {% if activeAcademicYear.getCode() == currentAcademicYear.getCode()%}
                    {% if  pocStuff['pocExample'].getEmailAdress() != "" %}
                        <small style="padding-left: 5px">(<a href="mailto:{{ pocStuff['pocExample'].getEmailAdress()}}">{{ pocStuff['pocExample'].getEmailAdress() }}</a>)</small>
                    {% endif %}
                {% endif %}
            </h3>
{#            <h3 class="container">{{ pocStuff['groupId'].getName() }}{% if activeAcademicYear.getCode() == currentAcademicYear.getCode() %}<small>&mdash;#}
{#    #}
{#    #}
{#             <a href="mailto:{{ pocStuff['pocExample'].getEmailAdress()}}">{{ pocStuff['pocExample'].getEmailAdress() }}</a>#}
{#    #}
{#            </small>{% endif %}</h3>#}
            <div class="memberHolder" style="margin-bottom: 0">
             {% for poc in pocStuff['pocGroupList'] %}
                 <div class="member" style="margin: 10px; min-width: 150px">
                     {% if poc.getAcademic().getPhotoPath() %}
                         <div class="memberPhoto" style="background-image: url({{ profilePath }}/{{ poc.getAcademic().getPhotoPath() }}); width: 80px; height: 80px;"></div>
                     {% else %}
                         <div class="memberPhoto" style="background-image: url(/_site/img/generic_profile.png); width: 80px; height: 80px;"></div>
                     {% endif %}
                     <h5 style="margin-bottom: 15px">{{ poc.getAcademic().getFullName() }} </h5>
                 </div>
                 {% endfor %}
            </div>
        </div>
        {% endfor %}
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.profileImagePreloaded').each(function () {
                $(this).attr('src', $(this).data('url'));
            });
        });
    </script>
{% endblock %}
