{{ doctype() }}

<html lang="en">
<head>
    {{ headMeta() }}
    {{ headTitle('Litus Admin', 'PREPEND') }}

    {{ headLink() }}
    {{ assets('common_admin') }}
</head>

<body class="login">
    <div id="layout">
        <header>
            <span>Litus Admin</span>/Login
        </header>

        <div id="content">
            <div class="container">
                <a class="shibboleth" href="{{ shibbolethUrl }}">&rarr; KU Leuven &mdash; Central Login</a>
            </div>

            <div class="container">
                <div id="form_container">
                    <div id="login_form">
                        {{ form(form) }}
                    </div>
                    <div id="login_button">
                        <i class="fas fa-lock"></i>
                    </div>
                </div>

                <div id="error_container">
                    <p id="error_message">ERROR_MESSAGE</p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function doLogin() {
            $.post('{{ url('common_admin_auth', {"action": "authenticate"}) }}', {formData: $('#login').serialize()}, function(data) {
                if (!data.result) {
                    if ('USERNAME_PASSWORD' == data.reason) {
                        $('#error_message').html(
                            'The combination of your username and password was not correct. Please try again.'
                        );
                    }

                    $('#form_container').fadeOut(function() {
                        $('#error_container').fadeIn().delay(5000).fadeOut(function() {
                            $('#password').val('');
                            $('#form_container').fadeIn();
                        });
                    });
                } else {
                    window.location.replace('{{ url('common_admin_index') }}');
                }
            },
            'json');
        }

        $(document).ready(function () {
            $('#username, #password').keypress(function(e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    doLogin();
                }
            });
            $('#login_button').click(function() {
                doLogin();
            });
        });
    </script>

    {{ inlineScript() }}
</body>
</html>
