{{ doctype() }}

<html lang="en">
<head>
    {{ headMeta() }}
    {{ headTitle('Litus Admin', 'PREPEND') }}

    {{ headLink() }}
    {{ assets('common_admin') }}
</head>

<body class="login">
    <div id="layout">
        <header>
            <span>Litus Admin</span>/Login
        </header>

        <div id="content">
            <div class="container">
                <div id="error_container">
                    <p id="error_message">Authenticating you against the university's login failed.</p>
                </div>
            </div>
        </div>
    </div>

    {{ inlineScript() }}
</body>
</html>
