{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_financial/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
		<table class="full_width">
		
		    <tr>
		        <th>Manager</th>
		        <th>Open?</th>
		        <th>Start</th>
		    	<th>End</th>
		        <th>Theoretical Revenue</th>
		        <th>Actual Revenue</th>
		        <th>Delta</th>
				<th>Action</th>
		    </tr>
		    
		    {% for session in paginator %}
		        <tr>
		            <td>{% if session.getId() is not sameas(null) %}{{ session.getManager().getUsername() }}{% else %}guest{% endif %}</td>
		            <td>{% if session.isOpen() %}yes{% else %}no{% endif %}</td>
		            <td>{{ session.getOpenDate().format('Y-m-d H:i:s') }} </td>
		            <td>{% if not session.isOpen() %}{{ session.getCloseDate().format('Y-m-d H:i:s') }}{% endif %}</td>
		            <td>{{ session.getTheoreticalRevenue(em)/100 }}</td>
		            <td>{{ session.getActualRevenue(em)/100 }}</td>
		            <td>{% if session.getTheoreticalRevenue(em) - session.getActualRevenue(em) < 0 %}+{% endif %}{{ -session.getTheoreticalRevenue(em)/100 + session.getActualRevenue(em)/100 }}</td>
					<td><a href="{{ url("admin_sale", {"action": "edit", "id": session.getId()}) }}" class="edit">Edit</a></td>
		        </tr>
		    {% endfor %}
		</table>
		
		{% include 'admin/partials/paginationControl.twig' %}
	</div>
{% endblock %}
