{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_financial/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
		<table class="full_width">
		
		    <tr>
		        <th>Article</th>
		        <th>In Stock</th>
		        <th>Unit Sell</th>
		    	<th>Unit Purchase</th>
		        <th>Total Sell</th>
		    	<th>Total Purchase</th>
		    	<th>Action</th>
		    </tr>
		    
		    {% for stockitem in paginator %}
		        <tr>
		            <td>{{ stockitem.getArticle().getTitle() }}</td>
		            <td>{{ stockitem.getNumberInStock() }} </td>
		            <td>{{ stockitem.getArticle().getSellPrice()/100 }}</td>
		            <td>{{ stockitem.getArticle().getPurchasePrice()/100 }}</td>
		            <td>{{ stockitem.getNumberInStock()*stockitem.getArticle().getSellPrice()/100 }}</td>
		            <td>{{ stockitem.getNumberInStock()*stockitem.getArticle().getPurchasePrice()/100 }}</td>
		            <td>
					    {% if hasAccess('admin_stock', 'edit') %}
    					    <a href="{{ url("admin_stock", {"action": "edit", "id": stockitem.getId()}) }}" class="edit">Edit</a>
    					{% endif %}
					</td>
		        </tr>
		    {% endfor %}
		</table>
		
		{% include 'admin/partials/paginationControl.twig' %}
	</div>
{% endblock %}
