{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/sale/booking/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width action_undone_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The action was successfully undone!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width action_undone_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to undo the action.</p>
        </div>
    </div>

    <div id="controller_action">
        <table class="full_width manage">
            <tr>
                <th>Person</th>
                <th width="200px">Date</th>
                <th width="100px">Type</th>
                <th width="100px">Number</th>
                <th width="70px">Actions</th>
            </tr>

            {% for log in paginator %}
                <tr class="item item-{{ log.getId() }}">
                    <td>{{ log.getPerson().getFullName() }}</td>
                    <td>{{ log.getTimestamp().format('d/m/Y H:i') }}</td>
                    <td>{{ log.getType()|capitalize }}</td>
                    <td>{{ log.getNumber() }}</td>
                    <td class="actions">
                        {% if hasAccess('cudi_admin_sales_booking', 'undo') %}
                            <a href="#" class="delete" data-id="{{ log.getId() }}" data-date="{{ log.getTimestamp().format('d/m/Y H:i') }}">Undo</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal fade" id="undoAction" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Undo Action
                </div>
                <div class="modal-body">
                    <p>
                        You are about to undo the action of <b class="date"></b>!<br />
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="undo">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#controller_nav .removeAll').click(openRemoveAllModal);
            $('#controller_nav .assignAll').click(openAssignAllModal);
            $('#controller_nav .expireAll').click(openExpireAllModal);
            $('#controller_nav .extendAll').click(openExtendAllModal);

            $('.item .delete').click(openRemoveModal);
        });

        function openRemoveModal(e) {
            var $this = $(this);

            e.preventDefault();
            var undoAction = $('#undoAction');
            undoAction.find('.date').html($(this).data('date'));
            var id = $this.data('id');
            undoAction.find('.undo').unbind('click').click(function () {
                $.post('{{ url('cudi_admin_sales_booking', {"action": "undo"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.action_undone_success').removeClass('hide');
                        $('.item-' + id).remove();
                        undoAction.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            undoAction.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.action_undone_error').removeClass('hide');
            $('#undoAction').modal('hide');
        }
    </script>
{% endblock %}
