{% extends 'site/base.twig' %}

{% block content %}

    <div class="container"> 

        <div class="spacer50"></div>
        
        <div class="topHolder">
            <h1 style="margin-right: 20px; display: inline-block">{{ translate('Praesidium') }}</h1>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">
                    {{ activeAcademicYear.getCode() }} ▼
                </button>
                <div id="myDropdown" class="dropdown-content">
                    {% for academicYear in academicYears %}
                        <a href="{{ url('common_praesidium', {'academicyear': academicYear.getCode()}) }}">{{ academicYear.getCode() }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div style="height: 75px"></div>


        {% for unit in units %}
            <div style="border-left: 20px solid #ffd400; margin-bottom: 20px">
                <h3 style="margin-left: -8px; margin-bottom: 0px">{{ translate(unit['unit'].getName()) }}{% if activeAcademicYear.getCode() == currentAcademicYear.getCode() %}{% endif %}</h3>
                <h5 style="margin-left: -8px">{{ hideEmail('<a href="mailto:' ~ unit['unit'].getMail() ~ '">' ~ unit['unit'].getMail() ~ '</a>') }}</h5>
            </div>
            <div class="memberHolder">
                {% for member in unit['members'] %}
                    {% if member.getId() != 2212 %} {# Temporary code to remove Renske Verpoorten from the site for onthaaldagen #}
                        <div class="member">
                            {% if member.getPhotoPath() %}
                                <div class="memberPhoto" style="background-image: url({{ profilePath }}/{{ member.getPhotoPath() }})"></div>
                            {% else %}
                                <div class="memberPhoto" style="background-image: url(/_site/img/generic_profile.png)"></div>
                            {% endif %}
                            <h4 style="margin-bottom: 0px">{{ member.getFullName() }} </h4>
                            {% if member.isCoordinator() %}
                                <p style="text-align: center;">{{ translate('Groupcoordinator') }}</p>
                            {% endif %}
                            {% if not member.getDescription() == '' %}
                                <p style="text-align: center;">{{ member.getDescription() }}</p>
                            {% endif %}
                            {% for extraUnit in extraUnits[member.getId()] %}
                                <p style="text-align: center;">{{ hideEmail('<a href="mailto:' ~ extraUnit.getMail() ~ '">' ~ extraUnit.getName() ~ '</a>') }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div> 
        {% endfor %}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.profileImagePreloaded').each(function () {
                $(this).attr('src', $(this).data('url'));
            });
        });

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
                }
            }
        }

    </script>  
{% endblock %}
