{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('Praesidium') }}</h1>
    </div>

    <div class="navbar navbar-default"  role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#academicYearSubNav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="academicYearSubNav">
                <ul class="nav navbar-nav">
                    {% for academicYear in academicYears %}
                        <li {% if academicYear.getCode() == activeAcademicYear.getCode() %}class="active"{% endif %}><a href="{{ url('common_praesidium', {'academicyear': academicYear.getCode()}) }}">{{ academicYear.getCode() }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% for unit in units %}
        <h3>{{ unit['unit'].getName() }}<small>&mdash;{{ hideEmail('<a href="mailto:' ~ unit['unit'].getMail() ~ '">' ~ unit['unit'].getMail() ~ '</a>') }}</small></h3>
        <div class="row">
            {% for member in unit['members'] %}
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail" style="height: 250px; text-align: center">
                        {% if member.getAcademic().getPhotoPath() %}
                            <img class="profileImagePreloaded holderjs" data-url="{{ profilePath }}/{{ member.getAcademic().getPhotoPath() }}" style="background:url(?holder.js/180x135/auto/text:Image) no-repeat; width: 180px; height: 135px;" alt="">
                        {% else %}
                            <img data-src="holder.js/180x135/auto/text:Image" alt="">
                        {% endif %}
                        <h4>{{ member.getAcademic().getFullName() }}</h4>
                        {% if member.isCoordinator() %}
                            <p style="text-align: center;">{{ translate('Groupcoordinator') }}</p>
                        {% endif %}
                        {% for extraUnit in extraUnits[member.getAcademic().getId()] %}
                            <p style="text-align: center;">{{ hideEmail('<a href="mailto:' ~ extraUnit.getMail() ~ '">' ~ extraUnit.getName() ~ '</a>') }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.profileImagePreloaded').each(function () {
                $(this).attr('src', $(this).data('url'));
            });
        });
    </script>
{% endblock %}
