{% extends 'admin/base.twig' %}

{% block content %}
	<header id="controller_header">
	    <div class="title"><span class="dashboard">Dashboard</span></div>
	</header>
	
	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
		<table>
			<tr>
				<th>Key</th>
				<th>Value</th>
			</tr>
			
	    	{% for key, value in server_environment %}
	    		<tr>
	    			<td>{{key}}</td>
	    			<td>{{value}}</td>
	    		</tr>
	    	{% endfor %}
		</table>
		
			</div>
	
	<aside>
		<div class="sidebox">
		    <div class="title">Shibboleth</div>
		    <div class="content">
		    	<p>
		    		<a href="https://dev.vtk.be/Shibboleth.sso/Login?target=https%3A%2F%2Fdev.vtk.be%2Fadmin%2Fdashboard">&rarr; Shibboleth</a>
		    	</p>
		    </div>
		</div>
		
	    <div class="sidebox">
	        <div class="title">Versions</div>
	        <div class="content">
	        	<p>
	        		<b>PHP</b><br />
	        		{{ versions.php }}
	        	</p>
	        	<p>
	            	<b>ZendFramework</b><br />
	            	{{ versions.zf }}
	            </p>
	            <p>
	            	<b>Doctrine</b><br />
	            	{{ versions.doctrine }}
	            </p>
	        </div>
	    </div>
	</aside>
{% endblock %}