{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'shift/admin/shift/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width viewer_removed_success hide">
    	<div class="title">Success</div>
    	<div class="content">
    		<p>The subscription was successfully removed!</p>
    	</div>
    </div>
    <div class="flashmessage error_message full_width viewer_removed_error hide">
    	<div class="title">Error</div>
    	<div class="content">
    		<p>An error occurred while trying to delete a subscription.</p>
    	</div>
    </div>

	<div id="controller_action">
	    <h1>Shift</h1>

	    <p>Title: <b>{{ shift.getName() }}</b></p>

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
        <br style="clear:both">

	    <table class="manage full_width">
            <tr>
                <th>Name</th>
                <th width="70px">Actions</th>
            </tr>

            {% for responsible in responsibles %}
                <tr class="item item-{{ responsible.getId() }}">
                    <td>{{ responsible.getPerson().getFullName() }}</td>
                    <td class="actions">
                    	{% if shift.canBeEditedBy(authenticatedPerson) %}
	                        {% if hasAccess('admin_subscription', 'delete') %}
	                            <a href="#" class="delete" data-id="{{ responsible.getId() }}" data-type="responsible" data-name="{{ responsible.getPerson().getFullName() }}">Delete</a>
	                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            {% for volunteer in volunteers %}
                <tr class="item item-{{ volunteer.getId() }}">
                    <td>{{ volunteer.getPerson().getFullName() }}</td>
                    <td class="actions">
                        {% if shift.canBeEditedBy(authenticatedPerson) %}
                            {% if hasAccess('admin_subscription', 'delete') %}
                                <a href="#" class="delete" data-id="{{ volunteer.getId() }}" data-type="volunteer" data-name="{{ volunteer.getPerson().getFullName() }}">Delete</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

	    </table>

		{% include 'admin/partials/paginationControl.twig' %}
	</div>

	<div class="modal hide fade" id="removeSubscription">
		<div class="modal-header">
			<span>Litus Admin</span>
			/Delete Viewer
		</div>
		<div class="modal-body">
			<p>
				You are about to delete the following subscription: <b class="fullName"></b>!
				Please note that this operation cannot be undone!
			</p>
			<p>
				Are you sure you want to continue?
			</p>
			<div class="footer">
				<input type="button" class="delete" value="Yes">
				<input type="button" class="cancel" data-dismiss="modal" value="No">
			</div>
		</div>
	</div>
{% endblock %}

{% block content_script %}

	<script type="text/javascript">
		$(document).ready(function () {

            $('#personSearch').typeaheadRemote(
                {
                    source: '{{ url("admin_academic_typeahead", {}) }}',
                }
            ).change(function(e) {
                if ($(this).data('value')) {
                    $('#personId').val($(this).data('value').id);
                } else {
                    $('#personId').val('');
                }
            });

		    $('.item .delete').click(openModal);
		});

		function openModal(e) {
			var $this = $(this);

			e.preventDefault();
			var removeSubscription = $('#removeSubscription');
			removeSubscription.find('.fullName').html($(this).data('name'));
			var id = $this.data('id');
			var type = $this.data('type');
			removeSubscription.find('.delete').unbind('click').click(function () {
				$.post('{{ url('admin_subscription', {"action": "delete"})}}' + id + "/type/" + type, function (data) {
				    if (data && 'success' == data.status) {
    					$('.flashmessage').hide();
    					$('.viewer_removed_success').show();
						$('.item-' + id).remove();
    					removeSubscription.modal('hide');
    				} else {
    				    errorRemove();
    				}
				}, 'json').error(errorRemove);
			});
			removeSubscription.modal();
		}

		function errorRemove() {
		    $('.flashmessage').hide();
		    $('.viewer_removed_error').show();
		    $('#removeSubscription').modal('hide');
		}
	</script>
{% endblock %}
