{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/company/partials/navigation.twig' %}

    <div id="controller_action">
        {% include 'admin/partials/flashMessenger.twig' %}
        <div class="flashmessage success_message full_width company_removed_success hide">
            <div class="title">Success</div>
            <div class="content">
                <p>The company was successfully removed!</p>
            </div>
        </div>
        <div class="flashmessage error_message full_width company_removed_error hide">
            <div class="title">Error</div>
            <div class="content">
                <p>An error occurred while trying to delete a company.</p>
            </div>
        </div>

        <div id="company_search" style="display:none;">
            <div style="padding:4px;text-align:right">
                Search:
                <select id="searchField">
                    <option value="name">Name</option>
                </select>
                is
                <input type="text" id="searchString" size="30" />
            </div>

            <table class="full_width manage">
                <tr>
                    <th>Name</th>
                    <th width="175px">VAT Number</th>
                    <th width="120px">Action</th>
                </tr>
            </table>
        </div>

        <div id="default_page">
            <table class="full_width manage">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th width="175px">VAT Number</th>
                        <th width="120px">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for company in paginator %}
                        <tr class="item item-{{ company.getId() }}">
                            <td>{{ company.getName() }}</td>
                            <td>{{ company.getVatNumber() }}</td>
                            <td class="actions">
                                {% if hasAccess('br_admin_company_job', 'manage') %}
                                    <a href="{{ url('br_admin_company_job', {"action": "manage", "id": company.getId()}) }}" class="view">Job</a>
                                {% endif %}
                                {% if hasAccess('br_admin_company_event', 'manage') %}
                                    <a href="{{ url('br_admin_company_event', {"action": "manage", "id": company.getId()}) }}" class="view">Events</a>
                                {% endif %}
                                {% if hasAccess('br_admin_company', 'edit') %}
                                    <a href="{{ url('br_admin_company', {"action": "edit", "id": company.getId()}) }}" class="edit">Edit</a>
                                {% endif %}
                                {% if hasAccess('br_admin_company', 'delete') %}
                                    <a href="#" class="delete" data-id="{{ company.getId() }}" data-name="{{ company.getName() }}">Delete</a>
                                {% endif %}
                                {% if hasAccess('br_admin_company_user', 'manage') %}
                                    <a href="{{ url('br_admin_company_user', {"action": "manage", "id": company.getId()}) }}" class="corporate_user">Users</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include 'admin/partials/paginationControl.twig' %}
        </div>
    </div>

    <div class="modal fade" id="removeCompany" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Company
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following company: <b class="companyName"></b>!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if hasAccess('br_admin_company', 'search') %}
            $.searchDatabase({
                defaultPage: $('#default_page'),
                searchDiv: $('#company_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                searchPage: '{{ url('br_admin_company', {'action': 'manage'}) }}manage/',
                url: '{{ url('br_admin_company', {'action': 'search'}) }}',
                display: function (data) {
                    $('#company_search table').find('tr.item').remove();
                    $(data).each(function () {
                        $('#company_search table').append(row = $('<tr>', {class: 'item'}));
                        row.append('<td>' + this.name + '</td>')
                            .append('<td>' + this.vatNumber + '</td>')
                            .append(
                                actions = $('<td>', {'class': 'actions'})
                            );
                            {% if hasAccess('br_admin_company_job', 'manage') %}
                                actions.append('<a href="{{ url('br_admin_company_job') }}manage/' + this.id + '" class="view">Job</a>')
                            {% endif %}
                            {% if hasAccess('br_admin_company_event', 'manage') %}
                                actions.append('<a href="{{ url('br_admin_company_event') }}manage/' + this.id + '" class="view">Events</a>')
                            {% endif %}
                            {% if hasAccess('br_admin_company', 'edit') %}
                                actions.append('<a href="{{ url('br_admin_company') }}edit/' + this.id + '" class="edit">Edit</a>')
                            {% endif %}
                            {% if hasAccess('br_admin_company', 'delete') %}
                                actions.append('<a href="#" class="delete" data-id="' + this.id + '" data-name="' + this.name + '">Delete</a>')
                            {% endif %}
                            {% if hasAccess('br_admin_company_user', 'manage') %}
                                actions.append('<a href="{{ url('br_admin_company_user') }}manage/' + this.id + '" class="corporate_user">Users</a>')
                            {% endif %}
                    });
                    $('#company_search table').change();
                    $('.item .delete').unbind('click').click(openModal);
                },
                clear: function () {
                    $('#company_search table').find('tr.item').remove();
                }
            });
            {% endif %}

            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeCompany = $('#removeCompany');
            removeCompany.find('.companyName').html($(this).data('name'));
            var id = $this.data('id');
            removeCompany.find('.delete').unbind('click').click(function () {
                $.post('{{ url('br_admin_company', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.company_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeCompany.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeCompany.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.company_removed_error').removeClass('hide');
            $('#removeCompany').modal('hide');
        }
    </script>
{% endblock %}
