{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/invoice/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">

        <div id="normal_page">

            <table class="full_width manage">
                <tr>
                    <th>Company</th>
                    <th>Order Description</th>
                    <th>Creation Time</th>
                    <th>Paid Time</th>
                    <th width="70px">Actions</th>
                </tr>

                {% for invoice in paginator %}
                    <tr class="item item-{{ invoice.getId() }}">
                        <td>{{ invoice.getOrder().getCompany().getName()}}</td>
                        <td>{{ invoice.getOrder().getDescription() }}</td>
                        <td>{{ invoice.getCreationTime().format('j/m/Y') }}</td>
                        <td>{{ invoice.getPaidTime().format('j/m/Y') }}</td>
                        <td class="actions">
                            {% if hasAccess('br_admin_invoice', 'edit') %}
                                <a href="{{ url('br_admin_invoice', {"action": "edit", "id": invoice.getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('br_admin_invoice', 'view') %}
                                <a href="{{ url('br_admin_invoice', {"action": "view", "id": invoice.getId()}) }}" class="view">View</a>
                            {% endif %}
                            {% if hasAccess('br_admin_invoice', 'download') %}
                                <a href="{{ url('br_admin_invoice', {"action": "download", "id": invoice.getId()}) }}" class="download">Download</a>
                            {% endif %}
                            {% if hasAccess('br_admin_invoice', 'delete') %}
                                <a href="#" class="delete" data-id="{{ invoice.getId() }}" data-name="{{ invoice.getTitle() }}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

{% endblock %}
