{% extends 'corporate/base.twig' %}

{% block content %}
    <div class="container">
        <div style="height:40px"></div>
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".academic_year_navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse academic_year_navbar-collapse">
                    <ul class="nav navbar-nav" id="cvYearNav">
                        {% if authenticatedPerson.getCompany().getCvBookArchiveYears()|length > 0 %}
                            <li {% if onlyArchive %}class="active"{% endif %}><a href="#" id="cvArchiveNav">{{ translate('Archive') }}</a></li>
                        {% endif %}
                        {% for year in authenticatedPerson.getCompany().getCvBookYears() %}
                            {% if getParam("action") == "list" %}
                                <li {% if year.getCode() == academicYear.getCode() %}class="active"{% endif %}><a
                                            href="{{ url('br_corporate_cv', {"action": getParam("action"), "academicyear": year.getCode(), "sortby": getParam("sortby")}) }}">{{ year.getCode() }}</a>
                                </li>
                            {% elseif getParam("action") == "grouped" %}
                                <li {% if year.getCode() == academicYear.getCode() %}class="active"{% endif %}><a
                                            href="{{ url('br_corporate_cv', {"action": getParam("action"), "academicyear": year.getCode()}) }}">{{ year.getCode() }}</a>
                                </li>
                            {% elseif getParam("action") == "pdf" %}
                                <li {% if year.getCode() == academicYear.getCode() %}class="active"{% endif %}><a
                                            href="{{ url('br_corporate_cv', {"action": getParam("action"), "academicyear": year.getCode()}) }}">{{ year.getCode() }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        {% if not onlyArchive %}
            <div id="cvYearContent">
                <div class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".cv_style_navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse cv_style_navbar-collapse">
                            <ul class="nav navbar-nav">
                                {% if hasAccess('br_corporate_cv', 'grouped') %}
                                    <li {% if getParam("action") == "grouped" %}class="active"{% endif %}><a href="{{ url('br_corporate_cv', {"action": "grouped", "academicyear": getParam('academicyear')}) }}">{{ translate('By Study') }}</a></li>
                                {% endif %}
                                <li {% if getParam("action") == "list" and getParam("sortby") == "firstname" %}class="active"{% endif %}>
                                    <a href="{{ url('br_corporate_cv', {"action": "list", "academicyear": getParam('academicyear'), "sortby": "firstname"}) }}">{{ translate('Alphabetically By First Name') }}</a>
                                </li>
                                <li {% if getParam("action") == "list" and getParam("sortby") != "firstname" %}class="active"{% endif %}>
                                    <a href="{{ url('br_corporate_cv', {"action": "list", "academicyear": getParam('academicyear'), "sortby": "lastname"}) }}">{{ translate('Alphabetically By Last Name') }}</a>
                                </li>
                                <li {% if getParam("action") == "pdf"%}class="active"{% endif %}>
                                    <a href="{{ url('br_corporate_cv', {"action": "pdf", "academicyear": getParam('academicyear')}) }}">{{ translate('PDF') }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="flashmessage alert alert-danger full_width search_error hide">
                    <div class="title">{{ translate('Error') }}</div>
                    <div class="content">
                        <p>{{ translate('An error occurred while trying to perform the search.') }}</p>
                    </div>
                </div>

                {% if getParam("action") != "pdf"%}
                    <div style="margin-bottom: 20px; text-align: right;" class="form-inline" >
                        <select style="margin-bottom: 0px;" class="form-control" id="searchtype" name="searchtype">
                            <option value="text">{{ translate('By Name') }}</option>
    {#                        <option value="grade">{{ translate('By Minimum Grade') }}</option>#}
                        </select>
                        <input id="searchbox" type="text" class="search-query form-control" placeholder="{{ translate('Search') }}">
                    </div>
                {% endif %}

                {% block cv_content %} {% endblock %}
            </div>
        {% endif %}

        <div id="cvArchive" {% if not onlyArchive %}style="display: none;"{% endif %}>
            <p>{{ translate('The following years are available from the CV Book archive:') }}</p>
            <div class="row">
                {% for key,archiveYear in cvArchiveYears %}
                    {% if key in authenticatedPerson.getCompany().getCvBookArchiveYears() %}
                        <div class="col-xs-6 col-md-3">
                            <div class="thumbnail" style="text-align: center">
                                <a style="height: 70px; line-height: 70px; display: block;" href="{{ url('br_corporate_cv', {'action': 'downloadArchive', 'academicyear': archiveYear.full_year}) }}">{{ archiveYear.full_year }}</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#cvArchiveNav').click(function (e) {
                e.preventDefault();
                $('#cvYearContent').hide();
                $('#cvYearNav .active').removeClass('active');
                $('#cvArchiveNav').parent().addClass('active');
                $('#cvArchive').show();
            });

            $('.entry-toggle').click(function() {
                var element = $(this).parent().find('.profile-picture');
                var target = $(this).data('target');
                var display = document.getElementById(target).children[0].style.display;
                document.getElementById(target).children[0].style.display = display === 'none' ? 'block' : 'none';
                element.attr('src', element.attr('data-url'));
            });

            $('.study-toggle').click(function() {
                var target = $(this).data('target');
                var display = document.getElementById(target).style.display;
                document.getElementById(target).style.display = display === 'none' ? 'block' : 'none';
            });

            $('#searchbox').bind("input propertychange", function(){
                var $this = $(this);
                var delay = 200; // delay after last input

                clearTimeout($this.data("timer"));
                $this.data("timer", setTimeout(function(){
                    $this.removeData("timer");

                    refresh();

                }, delay));
            });

            $('#searchtype').change(function() {
                $('#searchbox').val('');
                if ($('#searchtype').val() == 'text')
                    $('#searchbox').attr('placeholder', "{{ translate('Search') }}");
                else
                    $('#searchbox').attr('placeholder', "{{ translate('Minimum Grade (e.g. 80)') }}");
                refresh();
            });
        });

        function refresh() {
            // Do your stuff after 2 seconds of last user input
            if ($('#searchtype').val() == 'text')
                performSearch($('#searchbox').val());
            else {
                var min = $('#searchbox').val();
                filterGrade(min, 100);
            }
        }

        function performSearch(text) {
            $.post('{{ url('br_corporate_cv', {"action": "search"})}}string/' + text+'/academicyear/{{ academicYear.getCode() }}', function (data) {
                $('.panel-group-entry').hide().removeClass('shown');
                $('.panel-study').show();
                $.each(data, function(index, element) {
                    $('#accordion-group-' + element).show().addClass('shown');
                });
                $('.panel-study:not(:has(.panel-group-entry.shown))').hide();
            }, 'json').error(errorSearch);
        }

        function filterGrade(min, max) {
            $.post('{{ url('br_corporate_cv', {"action": "search"})}}min/' + min + '/max/' + max, function (data) {
                $('.panel-group-entry').hide().removeClass('shown');
                $('.panel-study').show();
                $.each(data, function(index, element) {
                    $('#accordion-group-' + element).show().addClass('shown');
                });
                $('.panel-study:not(:has(.panel-group-entry.shown))').hide();
            }, 'json').error(errorSearch);
        }

        function errorSearch() {
            $('.search_error').show();
            setTimeout(function() {
                $('.search_error').fadeOut('fast');
            }, 2000);
        }

    </script>
{% endblock %}