{% macro displayEntry(entry, profilePath, gradesMapEnabled = 0, gradesMap = 0) %}
    <div class="row">
        <div class="col-md-4">
            <b>{{ entry.getFirstName() }} {{ entry.getLastName() }}</b><br>
            {{ entry.getEmail() }}<br>
            {{ entry.getPhoneNumber() }}
        </div>
        <div class="col-md-4">
            <address>
                {{ entry.getAddress().getStreet() }} {{ entry.getAddress().getNumber() }}
                    {% if entry.getAddress().getMailbox() %}
                        / {{ entry.getAddress().getMailbox() }}
                    {% endif %}<br>
                {{ entry.getAddress().getPostal() }} {{ entry.getAddress().getCity() }}<br>
                {{ entry.getAddress().getCountry() }}
            </address>
        </div>

        <div class="col-md-4">
            {% if entry.getAcademic().getPhotoPath() %}
                <img class="profile-picture" data-url="{{ profilePath }}/{{ entry.getAcademic().getPhotoPath() }}" src="#" alt=""/>
            {% endif %}
        </div>
    </div>

    <div class="section study-info">
        <div class="section-header">{{ translate('StudiesCV') }}</div>
        <div class="section-content">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="col-sm-8">{{ entry.getStudy().getTitle() }}</td>
                        <td class="col-sm-2">{{ entry.getMasterStart() }} &mdash; {{  entry.getMasterEnd() }}</td>
                        <td class="col-sm-2">
                            {% if gradesMapEnabled == 0 %}
                                {%if entry.getGrade() != 0%}
                                    {{entry.getGrade()/100}}%
                                {%else%}
                                    &mdash;
                                {%endif%}
                            {% else %}
                                {%if entry.getGrade() != 0%}
                                    {{entry.getGradeMapped(gradesMap)}}
                                {%else%}
                                    &mdash;
                                {%endif%}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ entry.getPriorStudy() }}</td>
                        <td>{{ entry.getBachelorStart() }} &mdash; {{  entry.getBachelorEnd() }}</td>
                        <td>
                            {% if gradesMapEnabled == 0 %}
                                {%if entry.getPriorGrade() != 0%}
                                    {{entry.getPriorGrade()/100}}%
                                {%else%}
                                    &mdash;
                                {%endif%}
                            {% else %}
                                {%if entry.getPriorGrade() != 0%}
                                    {{entry.getPriorGradeMapped(gradesMap)}}
                                {%else%}
                                    &mdash;
                                {%endif%}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>

            {% if entry.getAdditionalDiplomas() %}<div class="subsection"><span class="subsection-header"> {{ translate('Additional Diplomas') }} </span> <br> {{ entry.getAdditionalDiplomas()|nl2br }} </div>{% endif %}
        </div>
    </div>

    {% if entry.getErasmusLocation() or entry.getErasmusPeriod() %}
    <div class="section erasmus-info">
        <div class="section-header">{{ translate('Erasmus') }}</div>
        <div class="section-content">
            {{ entry.getErasmusLocation() }} &mdash; {{ entry.getErasmusPeriod() }}
        </div>
    </div>
    {% endif %}

    <div class="section language-info">
        <div class="section-header" style="margin-bottom:-28px;">{{ translate('Languages') }}</div>
        <div class="section-content">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-sm-8"></th>
                        <th class="col-sm-2">{{ translate('Oral Skills') }}</th>
                        <th class="col-sm-2">{{ translate('Written Skills') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for language in entry.getLanguages() %}
                    <tr>
                        <td>{{ language.getName() }}</td>
                        <td>{{ translate(language.getOralSkill()) }}</td>
                        <td>{{ translate(language.getWrittenSkill()) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="subsection"><span class="subsection-header">{{ translate('Additional Info') }}</span> <br> {{ entry.getLanguageExtra()|nl2br }} </div>
        </div>
    </div>

    <div class="section thesis-info">
        <div class="section-header">{{ translate('Capabilities') }}</div>
        <div class="section-content">
            {% if entry.hasOldExperiences() %}
                <div class="subsection"><span class="subsection-header">{{ translate('Experiences')|nl2br }}</span> <br> {{ entry.getExperiences()|nl2br }}  </div>
            {% else %}
                <div class="subsection"><span class="subsection-header">{{ translate('Experiences')|nl2br }}</span>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-sm-1"></th>
                            <th class="col-sm-9"></th>
                            <th class="col-sm-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for experience in entry.getExperiences() %}
                        <tr>
                            <td>{{ translate(experience.getType()) }}</td>
                            <td>{{ experience.getFunction() }}</td>
                            <td>{{ experience.getStartYear() }} - {{ experience.getEndYear() }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            {% endif %}
            <div class="subsection"><span class="subsection-header">{{ translate('Computer Skills')|nl2br }}</span> <br> {{ entry.getComputerSkills()|nl2br }} </div>
        </div>
    </div>

    <div class="section thesis-info">
        <div class="section-header">{{ translate('Thesis') }}</div>
        <div class="section-content">
            {{ entry.getThesisSummary()|nl2br }}
        </div>
    </div>

    <div class="section career-info">
        <div class="section-header">{{ translate('Career') }}</div>
        <div class="section-content">
            <div class="subsection"><span class="subsection-header">{{ translate('Mobility in Europe') }}</span> <br> {{ entry.getMobilityEurope() }} </div>
            <div class="subsection"><span class="subsection-header">{{ translate('Mobility in the World') }}</span> <br> {{ entry.getMobilityWorld() }} </div>
        </div>
    </div>

    <div class="section personal-info">
        <div class="section-header">{{ translate('Personal') }}</div>
        <div class="section-content">
            <div class="subsection"><span class="subsection-header">{{ translate('Hobbies')|nl2br }}</span> <br> {{ entry.getHobbies() }} </div>
            <div class="subsection"><span class="subsection-header">{{ translate('About Myself')|nl2br }}</span> <br> {{ entry.getAbout() }} </div>
        </div>
    </div>
{% endmacro %}
