{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/sales/booking/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
        <br class="clear">
        <br class="clear">

        {% if paginator is not null %}
            <h1>Person</h1>
            <p>Name: <b>{{ person.getFullName() }}</b></p>
            <br class="clear">

            <table class="full_width manage">
                <tr>
                    <th>Article</th>
                    <th width="40px">&nbsp;</th>
                    <th width="100px">Date</th>
                    <th width="100px" class="wider">Expires On</th>
                    <th width="100px" class="wider">Sold On</th>
                    <th width="80px">Status</th>
                    <th width="55px">Price</th>
                    <th width="70px">Actions</th>
                </tr>

                {% for booking in paginator %}
                    <tr class="item">
                        <td>{{ booking.getArticle().getMainArticle().getTitle() }}</td>
                        <td>&times;{{ booking.getNumber() }}</td>
                        <td>{{ booking.getBookDate().format('d/m/Y H:i') }}</td>
                        <td class="wider">{% if booking.getStatus() != 'sold' %}{{ booking.getExpirationDate().format('d/m/Y H:i') }}{% endif %}</td>
                        <td class="wider">{% if booking.getStatus() == 'sold' %}{{ booking.getSaleDate().format('d/m/Y H:i') }}{% endif %}</td>
                        <td class="status">{{ booking.getStatus()|capitalize }}</td>
                        <td>&euro; {{ (booking.getArticle().getSellPrice() * booking.getNumber()/100)|number_format(2) }}</td>
                        <td class="actions">
                            {% if hasAccess('admin_sales_booking', 'edit') %}
                                <a href="{{ url('admin_sales_booking', {'action': 'edit', 'id': booking.getId(), 'period': activePeriod.getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% include 'admin/partials/paginationControl.twig' %}
        {% endif %}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#controller_nav .assignAll').click(openAssignAllModal);
            $('#controller_nav .expireAll').click(openExpireAllModal);

            $('#search').click(function (e) {
                e.preventDefault();
                if (isNaN(parseFloat($('#personId').val())) || $('#personId').val() == '')
                    return;
                window.location.href = '{{ url("admin_sales_booking", {'action': 'person'}) }}' + $('#personId').val();
            });

            $('#personSearch').typeaheadRemote(
                {
                    source: '{{ url("common_admin_academic_typeahead") }}',
                }
            ).change(function (e) {
                if ($(this).data('value')) {
                    $('#personId').val($(this).data('value').id);
                } else {
                    $('#personId').val('');
                }
            });
        });
    </script>
{% endblock %}
