{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'gallery/admin/gallery/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>{{ album.getTitle(language) }}</h1>

        <table class="manage">
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th width="80px">Censored</th>
                <th width="90px">Actions</th>
            </tr>
            {% for photo in paginator %}
                <tr class="item">
                    <td>{{ photo.getId() }}</td>
                    <td>{{ photo.getFilePath() }}</td>
                    <td>{% if photo.isCensored() %}Yes{% else %}No{% endif %}</td>
                    <td class="actions">
                        {% if hasAccess('admin_gallery', 'viewPhoto') %}
                            <a href="#" data-url="{{ filePath }}/{{ photo.getAlbum().getId() }}{{ photo.getFilePath() }}" class="view">{{ translate('View') }}</a>
                        {% endif %}

                        {% if not photo.isCensored() %}
                            {% if hasAccess('admin_gallery', 'censorPhoto') %}
                                <a href="{{ url('admin_gallery', {"action": "censorPhoto", "id": photo.getId()}) }}" class="delete">{{ translate('Censor') }}</a>
                            {% endif %}
                        {% else %}
                            {% if hasAccess('admin_gallery', 'unCensorPhoto') %}
                                <a href="{{ url('admin_gallery', {"action": "unCensorPhoto", "id": photo.getId()}) }}" class="add">{{ translate('Uncensor') }}</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    	{% include 'admin/partials/paginationControl.twig' %}
    </div>

    {% if hasAccess('admin_gallery', 'addPhotos') %}
        <aside>
            <div class="sidebox">
                <div class="title">Add Photo's</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to add photo's to this album!</i>
                    </p>
                    <p>
                        <a href="{{ url('admin_gallery', {"action": "addPhotos", "id": album.getId()}) }}">&rarr; Add Photo's</a>
                    </p>
                </div>
            </div>
        </aside>
    {% endif %}

    <div class="modal hide fade" id="showPhoto">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Show Photo
        </div>
        <div class="modal-body">
            <div class="photo"></div>
            <div class="footer">
                <input type="button" data-dismiss="modal" value="Close">
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('.item .view').click(openViewModal);
		});

		function openViewModal(e) {
			var $this = $(this);

			e.preventDefault();
			var showPhoto = $('#showPhoto');
			showPhoto.find('.photo').html('');
			var photo = $('<img>', {src: $this.data('url')}).load(function () {
			    $(this).height(300);
			});
			showPhoto.find('.photo').html(photo).css('text-align', 'center');
			showPhoto.modal();
		}
	</script>
{% endblock %}
