{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_sales_session/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
		<h1>Sale Session</h1>
		<p>Manager: <b>{{ session.getManager().getFullName() }}</b></p>
        <p>Date openend: <b>{{ session.getOpenDate().format('Y-m-d H:i:s') }}</b></p>
        {% if not session.isOpen() %}<p>Date closed: <b>{{ session.getCloseDate().format('Y-m-d H:i:s')}}</b></p>{% endif %}
        <br />
        <table class="half_width">
        
            <tr>
                <th>Cash register start</th>
                <th>Amount</th>
            </tr>
    
            <tr>
                <td></td>
                <td>
                    {% if hasAccess('admin_sales_session', 'editRegister') %}
                        <a href="{{ url("admin_sales_session", {"action": "editRegister", "id": session.getOpenRegister().getId()}) }}">(edit)</a></td>
                    {% endif %}
            </tr>
            {% for unit in units %}
                <tr>
                    <td style="text-align: right">&euro; {{ (unit.getUnit()/100)|number_format(2) }}</td>
                    <td>{{ session.getOpenRegister().getAmountForUnit(unit).getAmount() }}</td>
                </tr>
            {% endfor %}
            {% for device in devices %}
                <tr>
                    <td style="text-align: right">{{ device.getName() }}</td>
                    <td>&euro; {{ (session.getOpenRegister().getAmountForDevice(device).getAmount()/100)|number_format(2) }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td style="text-align: right">TOTAL:</td>
                <td>&euro; {{ (session.getOpenRegister().getTotalAmount()/100)|number_format(2) }}</td>
            </tr>

        </table>
        
        {% if not session.isOpen() %}
            <table class="half_width">
                <tr>
                    <th>Cash register end</th>
                    <th>Amount</th>
                </tr>

                <tr>
                    <td></td>
                	<td>
                	    {% if hasAccess('admin_sales_session', 'editRegister') %}
                	        <a href="{{ url("admin_sales_session", {"action": "editRegister", "id": session.getCloseRegister().getId()}) }}">(edit)</a></td>
                	    {% endif %}
                </tr>
                {% for unit in units %}
                    <tr>
                        <td style="text-align: right">&euro; {{ (unit.getUnit()/100)|number_format(2) }}</td>
                        <td>{{ session.getCloseRegister().getAmountForUnit(unit).getAmount() }}</td>
                    </tr>
                {% endfor %}
                {% for device in devices %}
                    <tr>
                        <td style="text-align: right">{{ device.getName() }}</td>
                        <td>&euro; {{ (session.getCloseRegister().getAmountForDevice(device).getAmount()/100)|number_format(2) }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td style="text-align: right">TOTAL:</td>
	                <td>&euro; {{ (session.getCloseRegister().getTotalAmount()/100)|number_format(2) }}</td>
                </tr>

            </table>
        {% endif %}
        
        <br style="clear:both" />
		{% autoescape false %}
			{{ form }}
		{% endautoescape %}
	</div>
	
	<aside>
		{% if session.isOpen() %}
		    {% if hasAccess('admin_sales_session', 'close') %}
    			<div class="sidebox">
    				<div class="title">Close Session</div>
    				<div class="content">
    					<p>
    						<i>Please hit the link below to close this sale session!</i>
    					</p>
    					<p>
    						<a href="#" class="closeSession">&rarr; Close</a>
    					</p>
    				</div>
    			</div>
			{% endif %}
			{% if hasAccess('sale_sale', 'sale') %}
    			<div class="sidebox">
    				<div class="title">Sale Application</div>
    				<div class="content">
    					<p>
    						<i>Please hit the link below to open the sale application for regular users!</i>
    					</p>
    					<p>
    						<a href="{{ url("sale_sale", {"action": "sale", "session": session.getId()}) }}">&rarr; Pay Desk Application</a>
    					</p>
    				</div>
    			</div>
			{% endif %}
		{% endif %}
		{% if hasAccess('admin_sales_session', 'queueItems') %}
			<div class="sidebox">
				<div class="title">Queue Items</div>
				<div class="content">
					<p>
						<i>Please hit the link below to view the queue items!</i>
					</p>
					<p>
						<a href="{{ url("admin_sales_session", {"action": "queueItems", "id": session.getId()}) }}">&rarr; Queue Items</a>
					</p>
				</div>
			</div>
		{% endif %}
	</aside>
	
	<div class="modal hide fade" id="closeSession">
		<div class="modal-header">
			<span>Litus Admin</span>
			/Close Session
		</div>
		<div class="modal-body">
			<p>
				You are about to close the current sale session!
				Please note that this operation cannot be undone!
			</p>
			<p>
				Are you sure you want to continue?
			</p>
			<div class="footer">
				<input type="button" class="yes" value="Yes">
				<input type="button" class="cancel" data-dismiss="modal" value="No">
			</div>
		</div>
	</div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.closeSession').click(openModal);
        });
        
        function openModal(e) {
        	var $this = $(this);
        	
        	e.preventDefault();
        	var closeSession = $('#closeSession');
        	closeSession.find('.yes').unbind('click').click(function () {
        	    window.location.href = '{{ url("admin_sales_session", {"action": "close", "id": session.getId()}) }}';
        	});
        	closeSession.modal();
        }
    </script>
{% endblock %}
