{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ specification.getTitle(language) }}</h1>
    </div>

    {% autoescape false %}
        {{ markdown(specification.getIntroduction(language)) }}
    {% endautoescape %}

    <hr/>

    {% if not form %}
        <div class="alert">
            {{ translate(message) }}
        </div>
    {% else %}
        <table class="table table-bordered">
            <tr>
                <th>{{ translate('Date') }}</th>
                <th width="200px">{{ translate('Subscribe') }}</th>
            </tr>
            {% for field in specification.getFields() %}
                <tr>
                    <td>
                        {% if field.getStartDate().format('d/M/Y') == field.getEndDate().format('d/M/Y') %}
                            {{ dateLocalized(field.getStartDate(), 'd MMMM Y: H:mm') }} - {{ dateLocalized(field.getEndDate(), 'H:mm') }}
                        {% else %}
                            {{ dateLocalized(field.getStartDate(), 'd MMMM Y H:mm') }} - {{ dateLocalized(field.getEndDate(), 'd MMMM Y H:mm') }}
                        {% endif %}
                    </td>
                    <td>
                        {{ formElement(form.get('field-' ~ field.getId())) }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}