{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ specification.getTitle(language) }}</h1>
    </div>

    {% autoescape false %}
        {{ markdown(specification.getIntroduction(language)) }}
    {% endautoescape %}

    <hr/>

    {% if not form %}
        <div class="alert">
            {{ translate(message) }}
        </div>
    {% else %}
        {% if doodleNotValid %}
            <div class="flashmessage alert alert-error fade in">
                <a class="close" data-dismiss="alert">&times;</a>
                {{ translate('Your subscriptions couldn\'t be saved.') }}
            </div>
        {% endif %}
        {% do form.prepare() %}
        {% autoescape false %}{{ form().openTag(form) }}{% endautoescape %}
            {{ formElement(form.get('csrf')) }}
            <table class="table table-bordered table-striped" id="doodle">
                <tr>
                    <th>{{ translate('Date') }}</th>
                    <th width="300px">{{ translate('Location') }}</th>
                    <th width="200px">{{ translate('Subscribe') }}</th>
                </tr>
                {% for field in specification.getFields() %}
                    <tr {% if formElementErrors(form.get('field-' ~ field.getId())) %}class="error"{% endif %}>
                        <td>
                            {{ field.getLabel(language) }}
                        </td>
                        <td>
                            {{ field.getLocation(language) }}
                            {% if field.getExtraInformation(language) %}
                                <a href="#" class="extraInformation pull-right" data-content="{{ field.getExtraInformation(language) }}"><i class="icon-info-sign"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            {% if occupiedSlots[field.getId()] %}
                                {% if specification.getNamesVisibleForOthers() %}
                                    <i>{{ occupiedSlots[field.getId()] }}</i>
                                {% else %}
                                    <i>{{ translate('Occupied') }}</i>
                                {% endif %}
                            {% else %}
                                <label class="checkbox" style="margin: 2px 0">
                                    {{ formElement(form.get('field-' ~ field.getId())) }}
                                </label>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% if specification.canBeSavedBy(authenticatedPerson) %}
                <div class="form-actions">
                    <div class="row">
                        <span class="label"></span>
                        <span class="field">
                            {{ formElement(form.get('submit')) }}
                        </span>
                    </div>
                </div>
            {% endif %}
        {% autoescape false %}{{ form().closeTag() }}{% endautoescape %}
    {% endif %}
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.extraInformation').popover({'trigger': 'hover'});

            $('table label.checkbox').each(function () {
                $(this).hide();
                $(this).parent().append(
                    $('<button>', {'class': 'btn btn-primary btn-small doodleButton'}).html('{{ translate('Subscribe') }}').click(function (e) {
                        e.preventDefault();

                        if ($(this).is(':disabled'))
                            return false;

                        var checkbox = $(this).parent().find('input[type=checkbox]');

                        {% if not specification.isMultiple() %}
                            if (!checkbox.prop('checked')) {
                                $('#doodle .doodleButton').each(function () {
                                    toggleButton($(this), $(this).parent().find('input[type=checkbox]'), false);
                                });
                            }
                        {% endif %}

                        toggleButton($(this), checkbox, !checkbox.is(':checked'));
                    })
                );

                toggleButton($(this).parent().find('button'), $(this).find('input[type=checkbox]'), $(this).find('input[type=checkbox]').is(':checked'));

                $(this).parent().find('button').prop('disabled', $(this).find('input[type=checkbox]').is(':disabled'));
            });
        });

        function toggleButton(button, checkbox, value) {
            if (!value) {
                checkbox.prop('checked', false);
                button.html('{{ translate('Subscribe') }}').removeClass('btn-danger');
            } else {
                checkbox.prop('checked', true);
                button.html('{{ translate('Unsubscribe') }}').addClass('btn-danger');
            }
        }
    </script>
{% endblock %}