{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ specification.getTitle(language) }}</h1>
    </div>

    {% autoescape false %}
        {{ markdown(specification.getIntroduction(language)) }}
    {% endautoescape %}

    <hr/>

    {% if not form %}
        <div class="alert">
            {{ translate(message) }}
        </div>
    {% else %}
        {% if form %}
            {% import 'site/partials/form.twig' as forms %}
            {{ forms.renderForm(form) }}
        {% endif %}
    {% endif %}

    {% if entries|length > 0 %}
        <h2>{{ translate('Submissions') }}</h2>

        <table class="table table-striped">
            <tr>
                <th>{{ translate('Submission date') }}</th>
                <th>{{ translate('Actions') }}</th>
            </tr>
            {% for entry in entries %}
                <tr>
                    <td>{{ dateLocalized(entry.getCreationTime(), 'd MMMM Y H:mm') }}</td>
                    <td>
                        {% if specification.isEditableByUser() and hasAccess('form_view', 'edit') %}
                            <a href="{{ url("form_view", {"action": "edit", "id" : entry.getId()}) }}" class="btn btn-primary btn-mini">{{ translate("Edit") }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}