{% extends 'sale2/base.twig' %}

{% block content %}
    <div id="saleContainer"></div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#saleContainer').sale({
                socketUrl: '{{ socketUrl }}',
                sessionId: {{ session.getId() }},
                authKey: '{{ key }}',
                
                paydesks: [
                    {% for paydesk in paydesks %}
                        {'name': '{{ paydesk.getName() }}', 'code': '{{ paydesk.getCode() }}'},
                    {% endfor %}
                ]
            });
        });
    </script>
{% endblock %}
