{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/match/match/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width match_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>This match was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width match_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete this match.</p>
        </div>
    </div>

    <div id="controller_action" style="width: 100%;">
        <h1>MATCH</h1>
        <h2>{{ match.getMatchPercentage() }} %</h2>
        <div class="row">
            <div class="col-md-6">
                <h2>Student</h2>
                Name: <b>{{ student.getFullName() }}</b><br>
            </div>
            <div class="col-md-6">
                <h2>Company</h2>
                Name: <b>{{ company.getName() }}</b><br>
            </div>
        </div>

        <h1 style="padding-top: 30px">Features</h1>
            <div id="default_page">
                <h2 >Student Features</h2>
                <div style="display: flex;">
                    <div>
                        <h3>Student</h3>
                        <table id="studentStudentFeatures" style="width: 100%;">
                            <tr>
                                <th width="70px">Name</th>
                                <th width="70px">Importance</th>
                            </tr>

                            {% for feature in studentStudentFeatures %}
                                <tr>
                                    <td {% if feature.shared == true %}style="background-color: greenyellow!important;" {% endif %}>{{ feature.name }}</td>
                                    <td>{{ feature.importance }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div>
                        <h3>Company</h3>
                        <table id="companyStudentFeatures" style="width: 100%;">
                            <tr>
                                <th width="70px">Name</th>
                                <th width="70px">Importance</th>
                            </tr>

                            {% for feature in companyStudentFeatures %}
                                <tr {% if feature.shared == true %}style="background-color: greenyellow" {% endif %}>
                                    <td {% if feature.shared == true %}style="background-color: greenyellow!important;" {% endif %}>{{ feature.name }}</td>
                                    <td>{{ feature.importance }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="row" style="padding-top:30px;">
                    <h2>Company Features</h2>
                    <div style="display: flex;">
                        <div>
                            <h3>Student</h3>
                            <table id="studentCompanyFeatures" style="width: 100%;">
                                <tr>
                                    <th width="70px">Name</th>
                                    <th width="70px">Importance</th>
                                </tr>

                                {% for feature in studentCompanyFeatures %}
                                    <tr {% if feature.shared == true %}style="background-color: greenyellow" {% endif %}>
                                        <td {% if feature.shared == true %}style="background-color: greenyellow!important;" {% endif %}>{{ feature.name }}</td>
                                        <td>{{ feature.importance }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div>
                            <h3>Company</h3>
                            <table id="companyCompanyFeatures" style="width: 100%;">
                                <tr>
                                    <th width="70px">Name</th>
                                    <th width="70px">Importance</th>
                                </tr>

                                {% for feature in companyCompanyFeatures %}
                                    <tr {% if feature.shared == true %}style="background-color: greenyellow" {% endif %}>
                                        <td {% if feature.shared == true %}style="background-color: greenyellow!important;" {% endif %}>{{ feature.name }}</td>
                                        <td>{{ feature.importance }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

        </div>

{#        <div class="row" style="padding-top: 20px">#}
{#            {% if hasAccess('logistics_admin_request', 'approve') %}#}
{#                <a class="accept_request" href="{{ url('logistics_admin_request', {"action": "approve", "id": request.getId()}) }}" style="padding-right: 15px; text-indent: 4px"><b>Approve</b></a>#}
{#            {% endif %}#}
{#            {% if hasAccess('logistics_admin_request', 'reject') %}#}
{#                <a href="{{ url('logistics_admin_request', {"action": "reject", "id": request.getId()}) }}" class="reject_request" style="padding-right: 15px; text-indent: 4px"><b>Reject</b></a>#}
{#            {% endif %}#}
{#        </div>#}
    </div>
{% endblock %}

{% block content_script %}

{% endblock %}