<ul class="nav nav-tabs hidden-xs">
    {% if hasAccess('common_account', 'index') %}
        <li {% if getParam('action') == 'index' %}class="active"{% endif %}>
            <a href="{{ url('common_account', {'action': 'index'}) }}">
                {{ translate('Overview') }}
            </a>
        </li>
    {% endif %}

    {% if hasAccess('common_account', 'edit') %}
        <li {% if getParam('action') == 'edit' %}class="active"{% endif %}>
            <a href="{{ url('common_account', {'action': 'edit'}) }}">
                {{ translate('Edit') }}
            </a>
        </li>
    {% endif %}

    {% if hasAccess('common_account', 'studies') %}
        <li {% if getParam('action') == 'studies' %}class="active"{% endif %}>
            <a href="{{ url('common_account', {'action': 'studies'}) }}">
                {{ translate('Studies') }}
            </a>
        </li>
    {% endif %}

    {% if hasAccess('common_account', 'subjects') %}
        <li {% if getParam('action') == 'subjects' %}class="active"{% endif %}>
            <a href="{{ url('common_account', {'action': 'subjects'}) }}">
                {{ translate('Subjects') }}
            </a>
        </li>
    {% endif %}

    {% if hasAccess('common_session', 'manage') %}
        <li class="pull-right {% if getParam('controller') == 'common_session' %}active{% endif %}">
            <a href="{{ url('common_session', {'action': 'manage'}) }}">
                {{ translate('Sessions') }}
            </a>
        </li>
    {% endif %}
</ul>
