<ul class="nav nav-tabs">
    {% if hasAccess('common_account', 'index') %}
        <li>
            <a style="margin-left: 10px" class="{% if getParam('action') == 'index' %} activeTab {% else %} tab {% endif %}" href="{{ url('common_account', {'action': 'index'}) }}">
                {{ translate('My VTK') }}
            </a>
        </li>
    {% endif %}

    {# {% if hasAccess('cudi_booking', 'view') %}
        <li {% if getParam('controller') == 'cudi' %}class="active"{% endif %}>
            <a href="{{ url('cudi_booking', {'action': 'view'}) }}">
                {{ translate('Cudi') }}
            </a>
        </li>
    {% endif %}

    {% if hasAccess('shift', 'index') %}
        <li {% if getParam('controller') == 'shift' %}class="active"{% endif %}>
            <a href="{{ url('shift', {'action': 'index'}) }}">
                {{ translate('Shifts') }}
            </a>
        </li>
    {% endif %} #}


    {% if hasAccess('common_account', 'profile') %}
        <li>
            <a class="{% if getParam('action') == 'profile' %} activeTab {% else %} tab {% endif %}" href="{{ url('common_account', {'action': 'profile'}) }}">
                {{ translate('Profile') }}
            </a>
        </li>
    {% endif %}

</ul>
