<ul class="nav nav-tabs">
    {% if hasAccess('common_account', 'index') %}
        <li {% if getParam('action') == 'index' and getParam('controller') == 'account' %}class="active"{% endif %}>
            <a href="{{ url('common_account', {'action': 'index'}) }}">
                {{ translate('My VTK') }}
            </a>
        </li>
    {% endif %}

    {% if hasAccess('cudi_booking', 'view') %}
        <li {% if getParam('controller') == 'cudi' %}class="active"{% endif %}>
            <a href="{{ url('cudi_booking', {'action': 'view'}) }}">
                {{ translate('Cudi') }}
            </a>
        </li>
    {% endif %}

    {% if hasAccess('shift', 'index') %}
        <li {% if getParam('controller') == 'shift' %}class="active"{% endif %}>
            <a href="{{ url('shift', {'action': 'index'}) }}">
                {{ translate('Shifts') }}
            </a>
        </li>
    {% endif %}

    {% if hasAccess('registration_shift', 'index') %}
        <li {% if getParam('controller') == 'registration_shift' %}class="active"{% endif %}>
            <a href="{{ url('registration_shift', {'action': 'index'}) }}">
                {{ translate('Timeslots') }}
            </a>
        </li>
    {% endif %}

    {% if hasAccess('common_account', 'studies') %}
        <li {% if getParam('action') == 'studies' %}class="active"{% endif %}>
            <a href="{{ url('common_account', {'action': 'studies'}) }}">
                {{ translate('Studies') }}
            </a>
        </li>
    {% endif %}

    {% if hasAccess('common_account', 'subjects') %}
        <li {% if getParam('action') == 'subjects' %}class="active"{% endif %}>
            <a href="{{ url('common_account', {'action': 'subjects'}) }}">
                {{ translate('Subjects') }}
            </a>
        </li>
    {% endif %}

    {% if hasAccess('common_account', 'profile') %}
        <li {% if getParam('action') == 'profile' %}class="active"{% endif %}>
            <a href="{{ url('common_account', {'action': 'profile'}) }}">
                {{ translate('Profile') }}
            </a>
        </li>
    {% endif %}

    {% if hasAccess('common_account', 'edit') %}
        <li class="pull-right {% if getParam('action') == 'edit' %}active{% endif %}">
            <a href="{{ url('common_account', {'action': 'edit'}) }}">
                {{ translate('Edit') }}
            </a>
        </li>
    {% endif %}

    {% if hasAccess('common_session', 'manage') %}
        <li class="pull-right {% if getParam('controller') == 'common_session' %}active{% endif %}">
            <a href="{{ url('common_session', {'action': 'manage'}) }}">
                {{ translate('Sessions') }}
            </a>
        </li>
    {% endif %}

</ul>
