{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/collaborator/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">

        <h2><b>Active</b></h2>
		<table class="full_width manage">
            <tr>
                <th>Person</th>
                <th width="70px">Number</th>
                <th width="70px">Actions</th>
            </tr>
            {% for collaborator in paginator %}
                {% if collaborator.isActive() == true %}
				<tr class="item item-{{ collaborator.getId() }}">
                    <td>{{collaborator.getPerson().getFullName()}}</td>
                    <td>{{collaborator.getNumber() }}</td>
                    <td class="actions">
                    	{% if hasAccess('br_admin_collaborator', 'edit') %}
	                        	<a href="{{ url('br_admin_collaborator', {"action": "edit", "id": collaborator.getId()}) }}" class="edit">Edit</a>
	                        {% endif %}
	                    {% if hasAccess('br_admin_collaborator', 'retire') %}
	                        	<a href="{{ url('br_admin_collaborator', {"action": "retire", "id": collaborator.getId()}) }}" class="retire">Retire</a>
	                    {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
	    </table><br>

        <h2><b>Retired</b></h2>
        <table class="full_width manage">
            <tr>
                <th>Person</th>
                <th width="70px">Number</th>
            </tr>
            {% for collaborator in paginator %}
                {% if collaborator.isActive() == false %}
                <tr class="item item-{{ collaborator.getId() }}">
                    <td>{{collaborator.getPerson().getFullName()}}</td>
                    <td>{{collaborator.getNumber() }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>

		{% include 'admin/partials/paginationControl.twig' %}
	</div>

{% endblock %}
