{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'shop/admin/opening-hour/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width opening_hour_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The opening hour was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width opening_hour_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the opening hour.</p>
        </div>
    </div>

    <aside>
        {% if hasAccess('shop_admin_shop_openinghour', 'schedule') %}
            <div class="sidebox">
                <div class="title">Make schedule</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to make opening hours via the schedule!</i>
                    </p>
                    <p>
                        <a href="{{ url('shop_admin_shop_openinghour', {"action": "schedule"}) }}">&rarr; Schedule</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>

    <div id="controller_action">
        <table class="manage">

            <tr>
                <th width="180px">Person</th>
                <th width="180px">Start</th>
                <th width="180px">End</th>
                <th>Comment</th>
                <th width="90px">Action</th>
            </tr>

            {% for openingHour in paginator %}
                <tr class="item item-{{ openingHour.getId() }}">
                    <td>{{ openingHour.getPerson().getFullName() }}</td>
                    <td>{{ openingHour.getStartDate().format('Y-m-d H:i') }}</td>
                    <td>{{ openingHour.getEndDate().format('Y-m-d H:i') }}</td>
                    <td>{{ openingHour.getComment(language) }}</td>
                    <td class="actions">
                        {% if hasAccess('shop_admin_shop_openinghour', 'edit') %}
                            <a href="{{ url("shop_admin_shop_openinghour", {"action": "edit", "id": openingHour.getId()}) }}" class="clock_edit">Edit</a>
                        {% endif %}
                        {% if hasAccess('shop_admin_shop_openinghour', 'delete') %}
                            <a href="#" class="delete" data-id="{{ openingHour.getId() }}" data-start="{{ openingHour.getStartDate().format('Y-m-d H:i') }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal fade" id="removeOpeningHour" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Opening Hour
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following opening hour <b class="opening_hour"></b>!<br />
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openRemoveModal);
        });

        function openRemoveModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeOpeningHour = $('#removeOpeningHour');
            removeOpeningHour.find('.opening_hour').html($(this).data('start'));
            var id = $this.data('id');
            removeOpeningHour.find('.delete').unbind('click').click(function () {
                $.post('{{ url('shop_admin_shop_openinghour', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.opening_hour_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeOpeningHour.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeOpeningHour.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.opening_hour_removed_error').removeClass('hide');
            $('#removeOpeningHour').modal('hide');
        }
    </script>
{% endblock %}
