{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'cudi/admin/stock/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
	    <table class="manage">

	        <tr>
	            <th>Manager</th>
	            <th width="50px">Open</th>
	            <th width="120px">Start</th>
	        	<th width="120px">End</th>
	    		<th width="70px">Action</th>
	        </tr>

	        {% for period in paginator %}
	            <tr>
	                <td>{{ period.getPerson().getFullName() }}</td>
	                <td>{% if period.isOpen() %}Yes{% else %}No{% endif %}</td>
	                <td>{{ period.getStartDate().format('Y-m-d H:i') }}</td>
	                <td>{% if not period.isOpen() %}{{ period.getEndDate().format('Y-m-d H:i')}}{% endif %}</td>
	    			<td class="actions">
	    			    {% if hasAccess('admin_stock_period', 'view') %}
	    			        <a href="{{ url("admin_stock_period", {"action": "view", "id": period.getId()}) }}" class="view">View</a>
	    			    {% endif %}
	    			</td>
	            </tr>
	        {% endfor %}
	    </table>

	    {% include 'admin/partials/paginationControl.twig' %}
	</div>

	<aside>
	    {% if hasAccess('admin_stock_period', 'new') %}
	    	<div class="sidebox">
	    		<div class="title">New Stock Period</div>
	    		<div class="content">
	    			<p>
	    				<i>Please hit the link below to create a new stock period!</i>
	    			</p>
	    			<p>
	    				<a href="#newPeriod" data-toggle="modal">&rarr; New Stock Period</a>
	    			</p>
	    		</div>
	    	</div>
	    {% endif %}
	</div>

	<div class="modal hide fade" id="newPeriod">
		<div class="modal-header">
			<span>Litus Admin</span>
			/New Stock Period
		</div>
		<div class="modal-body">
			<p>
				You are about to close the previous period and create a new one!
				Please note that this operation cannot be undone!
			</p>
			<p>
				Are you sure you want to continue?
			</p>
			<div class="footer">
				<input type="button" class="new" value="Yes">
				<input type="button" class="cancel" data-dismiss="modal" value="No">
			</div>
		</div>
	</div>
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$(document).ready(function () {
		    $('#newPeriod .new').click(function () {
		        window.location = "{{ url("admin_stock_period", {"action": "new"}) }}";
		    });
        });
	</script>
{% endblock %}
