{% extends 'prof/base.twig' %}

{% block content %}
    <div class="flashmessage alert alert-error fade" id="comment_removed_error">
	    <a class="close" data-dismiss="alert">&times;</a>
    	<div class="title">{{ translate('Error') }}</div>
    	<div class="content">
    		<p>{{ translate('An error occurred while removing the comment.') }}</p>
    	</div>
    </div>
    <div class="flashmessage alert alert-success fade" id="comment_removed_success">
	    <a class="close" data-dismiss="alert">&times;</a>
    	<div class="title">{{ translate('Success') }}</div>
    	<div class="content">
    		<p>{{ translate('The comment was succesfully removed.') }}</p>
    	</div>
    </div>

	<div class="page-header">
	    <h2>{{ translate('Comments') }}</h2>
	</div>

	<div class="page-header">
	    <h2>{{ translate('Subject') }}</h2>
	</div>

	<p>
	    {{ translate('Code') }}: <b>{{ subject.getCode() }}</b><br />
	    {{ translate('Name') }}: <b>{{ subject.getName() }}</b><br />
	    {{ translate('Semester') }}: <b>{{ subject.getSemester() }}</b><br />
	    {{ translate('Credits') }}: <b>{{ subject.getCredits() }}</b><br />
	</p>

	<table class="table table-bordered table-striped">
        <tr>
            <th width="120px">{{ translate('Date') }}</th>
            <th width="140px">{{ translate('Person') }}</th>
            <th>{{ translate('Summary') }}</th>
            <th width="170px">{{ translate('Actions') }}</th>
        </tr>

        {% for comment in comments %}
            <tr class="item">
                <td>{{ comment.getDate().format('d/m/Y H:i') }}</td>
                <td>{{ comment.getPerson().getFullName() }}</td>
                <td>{{ comment.getSummary(70) }}</td>
				<td class="actions">
					<a href="#" class="btn btn-primary view" data-text="{{ comment.getText() }}">{{ translate('View') }}</a>
					{% if comment.getPerson().getId() == authenticatedPerson.getId() %}
					    <a href="#" class="btn btn-danger delete" data-id="{{ comment.getId() }}">{{ translate('Delete') }}</a>
					{% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="pull-right">
        <a href="#addComment" class="btn btn-success" data-toggle="modal">{{ translate('Add Comment') }}</a>
    </div>
    <br class="clear" />

    <div id="viewComment" class="modal fade">
    	<div class="modal-header">
    		<a class="close" data-dismiss="modal">&times;</a>
    		<h3>{{ translate('Comment') }}</h3>
    	</div>
    	<div class="modal-body">
    		<pre class="text"></pre>
    	</div>
    	<div class="modal-footer">
    		<button class="btn" data-dismiss="modal">{{ translate('Close') }}</button>
    	</div>
    </div>

    <div id="addComment" class="modal fade">
    	<div class="modal-header">
    		<a class="close" data-dismiss="modal">&times;</a>
    		<h3>{{ translate('Add Comment') }}</h3>
    	</div>
    	<div class="modal-body">
            {% import 'site/partials/form.twig' as forms %}
            {{ forms.renderForm(form) }}
    	</div>
    	<div class="modal-footer">
    		<button class="btn btn-success save">{{ translate('Save') }}</button>
    		<button class="btn" data-dismiss="modal">{{ translate('Cancel') }}</button>
    	</div>
    </div>

    <div id="removeComment" class="modal fade">
    	<div class="modal-header">
    		<a class="close" data-dismiss="modal">&times;</a>
    		<h3>{{ translate('Remove Comment') }}</h3>
    	</div>
    	<div class="modal-body">
    		{{ translate('Are you sure you want to remove your comment?') }}
    	</div>
    	<div class="modal-footer">
    		<button class="btn btn-danger confirm">{{ translate('Yes') }}</button>
    		<button class="btn" data-dismiss="modal">{{ translate('No') }}</button>
    	</div>
    </div>
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('.item .view').click(openViewModal);
			$('.item .delete').click(openRemoveModal);
			$('#addComment .save').click(function () {
			    $('#addComment form').submit();
			});
		});

		function openViewModal(e) {
			var $this = $(this);

			e.preventDefault();
			var viewComment = $('#viewComment');
			viewComment.find('.text').html($this.data('text'));
			viewComment.modal();
		}

		function openRemoveModal(e) {
			var $this = $(this);

			e.preventDefault();
			var removeComment = $('#removeComment');
			removeComment.find('.confirm').unbind('click').click(function () {
				$.post('{{ url('prof_subject_comment', {"action": "delete", "language": language.getAbbrev()})}}' + $this.data('id'), function (data) {
				    if (data && 'success' == data.status) {
						$('.flashmessage').removeClass('in');
						$('#comment_removed_success').addClass('in');
						$this.parent().parent().remove();
						removeComment.modal('hide');
					} else {
					    errorRemove();
					}
				}, 'json').error(errorRemove);
			});
			removeComment.modal();
		}

		function errorRemove() {
			$('.flashmessage').removeClass('in');
			$('#comment_removed_error').addClass('in');
			$('#removeComment').modal('hide');
		}
	</script>
{% endblock %}
