{% extends 'prof/base.twig' %}

{% block content %}
	<div class="page-header">
	    <h2>{{ translator().translate('Your Subjects') }}</h2>
	</div>
	
	<table class="table table-bordered table-striped">
	    <tr>
	        <th width="80px">{{ translator().translate('Code') }}</th>
	        <th>{{ translator().translate('Name') }}</th>
	        <th width="80px">{{ translator().translate('Semester') }}</th>
	        <th width="80px">{{ translator().translate('Credits') }}</th>
	        <th width="80px">{{ translator().translate('Students') }}</th>
	        <th width="80px">{{ translator().translate('Actions') }}</th>
	    </tr>
	    
		{% for subject in subjects %}
		    <tr>
		        <td>{{ subject.getSubject().getCode() }}</td>
		        <td>{{ subject.getSubject().getName() }}</td>
		        <td>{{ subject.getSubject().getSemester() }}</td>
		        <td>{{ subject.getSubject().getCredits() }}</td>
		        <td>{{ subject.getSubject().getNbEnrollment(academicYear) }}</td>
		        <td class="actions">
		            {% if hasAccess('prof_subject', 'subject') %}
		                <a href="{{ url("prof_subject", {"action": "subject", "id": subject.getSubject().getId()}) }}" class="btn btn-primary">{{ translator().translate('View') }}</a>
		            {% endif %}
		        </td>
		    </tr>
		{% endfor %}
	</table>
{% endblock %}
