{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/stock/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width order_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The order was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width order_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete an order.</p>
        </div>
    </div>

    {% include 'cudi/admin/stock/order/partials/suppliers.twig' %}

    <div id="controller_action">
        <h1>Order</h1>
        <p>Supplier: <b>{{ order.getSupplier().getName() }}</b></p>
        <p>Person: <b>{{ order.getPerson().getFullName() }}</b></p>
        <p>Date: <b>{% if order.getDateOrdered() %}{{ order.getDateOrdered().format('Y-m-d H:i:s') }}{% else %}(new){% endif %}</b></p>
        <p>Price: <b>&euro; {{ (order.getPrice()/100)|number_format(2) }}</b></p>
        <br />

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
        <br />

        <table class="manage">

            <tr>
                <th>Article</th>
                <th width="80px">Amount</th>
                <th width="70px">Actions</th>
            </tr>

            {% for item in order.getItems() %}
                <tr class="item item-{{ item.getId() }}">
                    <td>{{ item.getArticle().getMainArticle().getTitle() }}</td>
                    <td>{{ item.getNumber() }}</td>
                    <td class="actions">
                        {% if not order.isOrdered() and hasAccess('cudi_admin_stock_order', 'editItem') %}
                            <a href="{{ url('cudi_admin_stock_order', {'action': 'editItem', 'id': item.getId()}) }}" class="edit">Edit</a>
                        {% endif %}
                        {% if not order.isOrdered() and hasAccess('cudi_admin_stock_order', 'delete') %}
                            <a href="#" class="delete" data-id="{{ item.getId() }}" data-title="{{ item.getArticle().getMainArticle().getTitle() }}" data-number="{{ item.getNumber() }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <aside>
        {% if not order.isOrdered() %}
            {% if hasAccess('cudi_admin_stock_order', 'place') %}
                <div class="sidebox" data-help="These order items are still in the order queue, to finalise the order and pass it to the supplier, please press 'Place Order'">
                    <div class="title">Place Order</div>
                    <div class="content">
                        <p>
                            <i>Please hit the link below to place this order!</i>
                        </p>
                        <p>
                            <a href="{{ url('cudi_admin_stock_order', {"action": "place", "id": order.getId()}) }}">&rarr; Place Order</a>
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if hasAccess('cudi_admin_stock_order', 'add') %}
                <div class="sidebox">
                    <div class="title">New Order Item</div>
                    <div class="content">
                        <p>
                            <i>Please hit the link below to add a new order item!</i>
                        </p>
                        <p>
                            <a href="{{ url('cudi_admin_stock_order', {"action": "add"}) }}">&rarr; Add Order Item</a>
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if hasAccess('cudi_admin_stock_order', 'deleteAll') %}
                <div class="sidebox">
                    <div class="title">Remove All Order Items</div>
                    <div class="content">
                        <p>
                            <i>Please hit the link below to remove all items in the order!</i>
                        </p>
                        <p>
                            <a href="#" id="deleteAll">&rarr; Remove All</a>
                            {# <a href="{{ url('cudi_admin_stock_order', {"action": "deleteAll", "id": order.getId()}) }}">&rarr; Delete All</a> #}
                        </p>
                    </div>
                </div>
            {% endif %}
        {% else %}
            {% if hasAccess('cudi_admin_stock_order', 'cancel') %}
                <div class="sidebox">
                    <div class="title">Cancel Order</div>
                    <div class="content">
                        <p>
                            <i>Please hit the link below to cancel to order for the supplier!</i>
                        </p>
                        <p>
                            <a href="#" id="cancelOrder">&rarr; Cancel Order</a>
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if hasAccess('cudi_admin_stock_order', 'pdf') %}
                <div class="sidebox">
                    <div class="title">Print(pdf) Order</div>
                    <div class="content">
                        <p>
                            <i>Please hit the link below to print the order for the supplier!</i>
                        </p>
                        <p>
                            <a href="{{ url('cudi_admin_stock_order', {"action": "pdf", "id": order.getId(), "order": "alpha"}) }}">&rarr; Print Order (Alphabetic)</a>
                            <a href="{{ url('cudi_admin_stock_order', {"action": "pdf", "id": order.getId(), "order": "barcode"}) }}">&rarr; Print Order (On Barcode)</a>
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if hasAccess('cudi_admin_stock_order', 'export') %}
                <div class="sidebox">
                    <div class="title">Export Order</div>
                    <div class="content">
                        <p>
                            <i>Please hit the link below to export the order to XML for the supplier!</i>
                        </p>
                        <p>
                            <a href="#" id="exportOrder">&rarr; Export Order</a>
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if hasAccess('cudi_admin_stock_order', 'csv') %}
                <div class="sidebox">
                    <div class="title">Csv Order</div>
                    <div class="content">
                        <p>
                            <i>Please hit the link below to export the order to csv for the supplier!</i>
                        </p>
                        <p>
                            <a href="{{ url('cudi_admin_stock_order', {"action": "csv", "id": order.getId(), "order": "alpha"}) }}">&rarr; Order (Alphabetic)</a>
                            <a href="{{ url('cudi_admin_stock_order', {"action": "csv", "id": order.getId(), "order": "barcode"}) }}">&rarr; Order (On Barcode)</a>
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if not order.isDelivered() %}
                {% if hasAccess('cudi_admin_stock_order', 'delivered') %}
                    <div class="sidebox">
                        <div class="title">Delivered</div>
                        <div class="content">
                            <p>
                                <i>Please hit the link below to mark these items as delivered!</i>
                            </p>
                            <p>
                                <a href="{{ url('cudi_admin_stock_order', {"action": "delivered", "id": order.getId(), "order": "barcode"}) }}">&rarr;
                                    Set delivered</a>
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </aside>

    <div class="modal fade" id="removeOrder" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Order
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following order item: <b class="articleTitle"></b> (x <span class="orderNumber"></span>)!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removeAllOrder" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete All Items
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete all order items!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="deleteAll">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cancelOrderModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Cancel Order
                </div>
                <div class="modal-body">
                    <p>
                        You are about to cancel the order for: <b>{{ order.getSupplier().getName() }}</b>!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="cancelOrder">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deliveryDateModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delivery Date
                </div>
                <div class="modal-body">
                    <div class="form">
                        <p>Enter here the prefered delivery date: </p>
                        <div class="row">
                            <span class="label">
                                <label class="required" for="deliveryDate">Delivery Date</label>
                            </span>
                            <span class="field">
                                <input type="text" id="deliveryDate" value="{{ order.getDeliveryDate().format('d/m/Y') }}" placeholder="dd/mm/yyyy">
                            </span>
                            <div class="errors hide">
                                <ul>
                                    <li>Please enter a valid date</li>
                                </ul>
                            </div>
                        </div>
                        <br style="clear: both;">
                        <p>The generation of the xml's can take a while, so please be patient.</p>
                    </div>
                    <div class="footer">
                        <button class="exportOrder">Export</button>
                        <button data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#exportOrder').click(function (e) {
                e.preventDefault();
                var modal = $('#deliveryDateModal');
                modal.find('.exportOrder').unbind('click').click(function () {
                    var date = modal.find('#deliveryDate').val().replace(/\//g, '-');
                    var matches = /^(\d{1,2})[-\/](\d{1,2})[-\/](\d{4})$/.exec(date);
                    if (null == matches) {
                        modal.find('.errors').removeClass('hide');
                        return;
                    }
                    var d = matches[1];
                    var m = matches[2] - 1;
                    var y = matches[3];
                    var composedDate = new Date(y, m, d);

                    if (composedDate.getDate() != d || composedDate.getMonth() != m || composedDate.getFullYear() != y) {
                        modal.find('.errors').removeClass('hide');
                        return;
                    }
                    modal.find('.errors').addClass('hide');
                    window.location = '{{ url('cudi_admin_stock_order', {"action": "export", "id": order.getId()}) }}' + date;

                    modal.modal('hide');
                });
                modal.modal();
            });

            $('.item .delete').click(openModalRemove);
            $('#deleteAll').click(openModalRemoveAll);

            $('#cancelOrder').click(openModalCancel);
        });

        function openModalCancel(e) {
            var $this = $(this);

            e.preventDefault();
            var cancelOrder = $('#cancelOrderModal');
            cancelOrder.find('.cancelOrder').unbind('click').click(function () {
                window.location.href = '{{ url('cudi_admin_stock_order', {'action': 'cancel', 'id': order.getId()}) }}';
            });
            cancelOrder.modal();
        }

        function openModalRemove(e) {
            var $this = $(this);

            e.preventDefault();
            var removeOrder = $('#removeOrder');
            removeOrder.find('.articleTitle').html($(this).data('title'));
            removeOrder.find('.orderNumber').html($(this).data('number'));
            var id = $this.data('id');
            removeOrder.find('.delete').unbind('click').click(function () {
                $.post('{{ url('cudi_admin_stock_order', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.order_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeOrder.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeOrder.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.order_removed_error').removeClass('hide');
            $('#removeOrder').modal('hide');
        }

        function openModalRemoveAll(e) {
            var $this = $(this);

            e.preventDefault();
            var removeAllOrder = $('#removeAllOrder');
            removeAllOrder.find('.deleteAll').unbind('click').click(function () {
                window.location.href = '{{ url('cudi_admin_stock_order', {'action': 'deleteAll', 'id': order.getId()}) }}';
            });
            removeAllOrder.modal();
        }

    </script>
{% endblock %}
