{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/stock/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    {% include 'cudi/admin/stock/order/partials/suppliers.twig' %}

    <div id="controller_action">
        <div id="stock_order_search" style="display:none;">
            <div style="padding:4px;text-align:right">
                Search:
                <select id="searchField">
                    <option value="title">Title</option>
                    <option value="supplier">Supplier</option>
                </select>
                is
                <input type="text" id="searchString" size="30" />
            </div>

            <table class="full_width manage">
                <tr>
                    <th>Article</th>
                    <th width="100px">Ordered</th>
                    <th width="100px">Supplier</th>
                    <th width="95px" class="widest">Assigned</th>
                    <th width="95px" class="widest">Not Assigned</th>
                    <th width="95px">In stock</th>
                    <th width="95px">Not delivered</th>
                    <th width="95px">Reserved</th>
                    <th width="70px">Actions</th>
                </tr>
            </table>
        </div>

        <div id="default_page">
            <table class="full_width manage">
                <tr>
                    <th>Article</th>
                    <th width="100px">Ordered</th>
                    <th width="100px">Supplier</th>
                    <th width="95px" class="widest">Assigned</th>
                    <th width="95px" class="widest">Not Assigned</th>
                    <th width="95px">In stock</th>
                    <th width="95px">Not delivered</th>
                    <th width="95px">Reserved</th>
                    <th width="70px">Actions</th>
                </tr>

                {% for order in paginator %}
                    <tr>
                        <td>{{ order.getArticle().getMainArticle.getTitle() }}</td>
                        <td>{{ order.getOrder().getDateOrdered().format('d/m/Y H:i') }}</td>
                        <td>{{ order.getArticle().getSupplier().getName() }}</td>
                        <td class="widest">{{ period.getNbAssigned(order.getArticle()) }}</td>
                        <td class="widest">{{ period.getNbBooked(order.getArticle()) }}</td>
                        <td>{{ order.getArticle().getStockValue() }}</td>
                        <td>{% if period.getNbOrdered(order.getArticle()) - period.getNbDelivered(order.getArticle()) < 0 %}0{% else %}{{ period.getNbOrdered(order.getArticle()) - period.getNbDelivered(order.getArticle()) }}{% endif %}</td>
                        <td>{{ period.getNbBooked(order.getArticle()) + period.getNbAssigned(order.getArticle()) }}</td>
                        <td class="actions">
                            {% if hasAccess('cudi_admin_stock', 'edit') %}
                                <a href="{{ url('cudi_admin_stock', {"action": "edit", "id": order.getArticle().getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% include 'admin/partials/paginationControl.twig' %}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if hasAccess('cudi_admin_stock_order', 'search') %}
            $.searchDatabase({
                defaultPage: $('#default_page'),
                searchDiv: $('#stock_order_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                searchPage: '{{ url('cudi_admin_stock_order', {'action': 'overview'}) }}',
                url: '{{ url('cudi_admin_stock_order', {'action': 'search'}) }}',
                display: function (data) {
                    $('#stock_order_search table').find('tr.item').remove();
                    $(data).each(function () {
                        $('#stock_order_search table').append(row = $('<tr>', {class: 'item'}));
                        row.append('<td>' + this.title  + '</td>')
                            .append('<td>' + this.dateOrdered + '</td>')
                            .append('<td>' + this.supplier + '</td>')
                            .append('<td class="widest">' + this.nbAssigned + '</td>')
                            .append('<td class="widest">' + this.nbNotAssigned + '</td>')
                            .append('<td>' + this.nbInStock + '</td>')
                            .append('<td>' + this.nbNotDelivered + '</td>')
                            .append('<td>' + this.nbReserved + '</td>')
                            .append('<td class="actions"><a href="{{ url('cudi_admin_stock', {"action": "edit"}) }}' + this.articleId + '" class="edit">Edit</a></td>');
                    });
                    $('#stock_order_search table').change();
                }
                ,
                clear: function () {
                    $('#stock_order_search table').find('tr.item').remove();
                }
            });
            {% endif %}
        });
    </script>
{% endblock %}
