{% extends 'site/base.twig' %}
{% block content %}
    <div class="navbar">
        <div class="navbar-inner">
            <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".subnav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand hidden-desktop" href="#">{{ page.getTitle(language) }}</a>
            <div class="subnav nav-collapse">
                <ul class="nav">
                    <li><a href="{{ url('career_index') }}">{{ translate('Home') }}</a></li>
                    <li><a href="{{ url('career_company') }}">{{ translate('Companies') }}</a></li>
                    <li><a href="{{ url('career_event') }}">{{ translate('Events') }}</a></li>
                    <li><a href="{{ url('career_vacancy') }}">{{ translate('Vacancies') }}</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% block page_content %} {% endblock %}
{% endblock %}