{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/retail/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width retaom_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The retail was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width retail_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete a retail.</p>
        </div>
    </div>

    <div id="controller_action">

        <div id="retail_search" style="display:none;">
            <div style="padding:4px;text-align:right">
                Search:
                <select id="searchField">
                    <option value="title">Title</option>
                    <option value="owner">Owner</option>
                </select>
                is
                <input type="text" id="searchString" size="30" />
            </div>

            <table class="full_width manage">
                <tr>
                    <th>Title</th>
                    <th width="350px">Owner</th>
                    <th width="100px">Price</th>
                    <th width="120px">Anonymous</th>
                    <th width="70px">Actions</th>
                </tr>
            </table>
        </div>

        <div id="normal_page">

            <table class="full_width manage">
                <tr>
                    <th>Title</th>
                    <th width="350px">Owner</th>
                    <th width="100px">Price</th>
                    <th width="120px">Anonymous</th>
                    <th width="70px">Actions</th>
                </tr>

                {% for retail in paginator %}

                    <tr class="item item-{{ retail.getId() }}">
                        <td>{{ retail.getArticle().getTitle() }}</td>
                        <td>{{ retail.getOwner().getFullName() }}</td>
                        <td>{{ retail.getPrice() }}</td>
                        <td>{{ retail.isAnonymous() }}</td>
                        <td class="actions">
                            {% if hasAccess('cudi_admin_retail', 'edit') %}
                                <a href="{{ url('cudi_admin_retail', {"action": "edit", "id": retail.getId()}) }}" class="edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('cudi_admin_retail', 'delete') %}
                                <a href="#" class="delete" data-id="{{ retail.getId() }}" data-name="{{ retail.getName() }}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}

            </table>

        </div>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal fade" id="removeRetail" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Retail
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following retail: <b class="retailTitle"></b>!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if hasAccess('cudi_admin_retail', 'search') %}
            $.searchDatabase({
                defaultPage: $('#normal_page'),
                searchDiv: $('#retail_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                searchPage: '{{ url('cudi_admin_retail', {'action': 'manage'}) }}manage/',
                url: '{{ url('cudi_admin_retail', {'action': 'search'}) }}',
                display: function (data) {
                    $('#retail_search table').find('tr.item').remove();
                    $(data).each(function () {
                        $('#retail_search table').append(row = $('<tr>', {class: 'item item-' + this.id}));
                        row.append('<td>' + this.article.title + '</td>')
                            .append('<td>' + this.owner.firstName + " " + this.owner.lastName + '</td>')
                            .append('<td>' + this.price + '</td>')
                            .append('<td>' + this.anonymous + '</td>')
                            .append(
                                actions = $('<td>', {'class': 'actions'})
                            );
                        {% if hasAccess('cudi_admin_retail', 'edit') %}
                        actions.append('<a href="{{ url('cudi_admin_retail', {"action": "edit"}) }}' + this.id + '" class="edit">Edit</a>')
                        {% endif %}
                        {% if hasAccess('cudi_admin_retail', 'delete') %}
                        actions.append(deleteButton = $('<a href="#" class="delete">Delete</a>'))
                        deleteButton.data({
                            id: this.id,
                        });
                        {% endif %}
                    });
                    $('#retail_search .delete').click(openModal);
                    $('#retail_search table').change();
                },
                clear: function () {
                    $('#retail_search table').find('tr.item').remove();
                }
            });
            {% endif %}
            $('.item .delete').click(openModal);
        });
        function openModal(e) {
            var $this = $(this);
            e.preventDefault();
            var removeRetail = $('#removeRetail');
            var id = $this.data('id');
            removeRetail.find('.delete').unbind('click').click(function () {
                $.post('{{ url('cudi_admin_retail', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.retail_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeRetail.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeRetail.modal();
        }
        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.retail_removed_error').removeClass('hide');
            $('#removeRetail').modal('hide');
        }
    </script>
{% endblock %}