{% extends 'corporate/base.twig' %}

{% block content %}
    <div class="container">
        <div style="height: 40px"></div>

        <div style="position:relative">
            <h1 style="float:left;">
                {% if type == 'company' %}
                    {{ translate('Add Company Profile') }}
                {% elseif type == 'student' %}
                    {{ translate('Add Student Profile') }}
                {% endif %}
            </h1>
        </div>
        <div style="height: 40px"></div>

        <div>
            {% if type == 'company' %}
                <div style="margin-top: 15px;"><u><strong>{{ translate('This profile describes your company. Based on this profile, students with similar interests will be matched with you. Try to focus on your unique aspects as a company and showcase your strengths. This way, you increase your chances of getting a unique match with someone who is looking for a company like yours.') }}</strong></u>
                    <p>{{ translate('A student will have a higher match rating, if your company matches the traits that they are looking for!') }}</p>
                </div>
            {% elseif type == 'student' %}
                <div style="margin-top: 15px;"><u><strong>{{ translate('With this profile, you can describe the qualities of a student you are looking for. Such that the students that best match your preferences will be at the top of your list. So do make sure that your profile is tailored to features that are essential.') }}</strong></u>
                    <p>{{ translate('A student will have a higher match rating, if the student matches the traits that you are looking for!') }}</p>
                </div>
            {% endif %}
        </div>

        <div style="height: 10px"></div>
        {{ gdpr_text }}
        <div style="height: 40px"></div>
        You can distribute maximum {{ sector_points }} points for the sector features!
        <div style="height: 40px"></div>

        {% import 'site/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}
