{% extends 'corporate/base.twig' %}

{% block content %}
    <div class="container">
        <div style="height: 40px"></div>

        <div class="row">
            <a class="button blue pull-right" style="margin-left: 20px;margin-top: 10px;" href="{{ url('br_corporate_match') }}">HOME</a>

            <a class="button blue unfilled pull-right" style="margin-left: 20px;margin-top: 10px;" href="{{ url('br_corporate_match', {'action': 'editProfile', 'type': type }) }}">Edit Profile</a>

            {% if type == 'company' %}
                <h1 style="float:left;">
                    {{ translate('View Company Profile') }}
                </h1>
                <a class="button blue unfilled pull-right" style="margin-left: 100px;margin-top: 10px;" href="{{ url('br_corporate_match', {'action': 'viewProfile', 'type': 'student' }) }}">View Student Profile</a>
            {% elseif type == 'student' %}
                <h1 style="float:left;">
                    {{ translate('View Student Profile') }}
                </h1>
                <a class="button blue unfilled pull-right" style="margin-left: 100px;margin-top: 10px;" href="{{ url('br_corporate_match', {'action': 'viewProfile', 'type': 'company' }) }}">View Company Profile</a>
            {% endif %}
        </div>
        <div class="row">
            {% if type == 'company' %}
                <div style="margin-top: 15px;"><u><strong>{{ translate('This profile should describe what your company is like.') }}</strong></u>
                    <p>{{ translate('A student will have a higher match rating, if your company matches the traits that they are looking for!') }}</p>
                </div>
            {% elseif type == 'student' %}
                <div style="margin-top: 15px;"><u><strong>{{ translate('This profile should describe what you are looking for in a student.') }}</strong></u>
                    <p>{{ translate('A student will have a higher match rating, if the student matches the traits that you are looking for!') }}</p>
                </div>
            {% endif %}
        </div>

        <div style="height: 40px"></div>

        <div class="vtk-flex-stretch">
            <div class="col-md-6" style="margin:auto;">
                <h4>Features</h4>
                <table class="table table-striped full-width table-bordered">
                    {% for feature in features %}
                        <tr>
                            <td>
                                <strong style="padding-left: 40px;">{{ feature.getFeature().getName() }}</strong>
                                <strong class="pull-right" style="padding-right: 40px;">{{ feature.getImportanceName() }}</strong>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                {% include 'site/partials/paginationControl.twig' %}
            </div>
        </div>
    </div>

{% endblock %}
