{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/sale/session/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage warning_message full_width hide" id="socket_killed_success">
        <div class="title">Success</div>
        <div class="content">
            <p>The socket was successfully killed!</p>
        </div>
    </div>
    <div class="flashmessage danger_message full_width hide" id="socket_killed_failure">
        <div class="title">Error</div>
        <div class="content">
            <p class="reason"></p>
            <pre class="output"></pre>
            <p>Please notify the system administrator of this issue.</p>
        </div>
    </div>

    <div id="controller_action">
        <h1>Sale Session</h1>
        <p>Manager: <b>{{ session.getManager().getFullName() }}</b></p>
        <p>Date openend: <b>{{ session.getOpenDate().format('Y-m-d H:i:s') }}</b></p>
        {% if not session.isOpen() %}<p>Date closed: <b>{{ session.getCloseDate().format('Y-m-d H:i:s')}}</b></p>{% endif %}
        {% set theoreticalRevenue = session.getTheoreticalRevenue() %}
        {% set actualRevenue = session.getActualRevenue() %}
        <p>Theoretical Revenue: <b>&euro; {{ (theoreticalRevenue/100)|number_format(2) }}</b></p>
        {% if not session.isOpen() %}
            <p>Actual Revenue: <b>&euro; {{ (actualRevenue/100)|number_format(2) }}</b></p>
            <p>Delta: <b>&euro; {% if theoreticalRevenue - actualRevenue < 0 %}+{% endif %}{{ ((actualRevenue - theoreticalRevenue)/100)|number_format(2) }}</b></p>
        {% endif %}
        <br />
        <table class="half_width" style="width: 350px !important">

            <tr>
                <th>Cash register start</th>
                <th>Amount</th>
            </tr>

            <tr>
                <td></td>
                <td>
                    {% if hasAccess('cudi_admin_sales_session', 'editRegister') %}
                        <a href="{{ url("cudi_admin_sales_session", {"action": "editRegister", "id": session.getOpenRegister().getId()}) }}">(edit)</a></td>
                    {% endif %}
            </tr>
            {% for unit in units %}
                <tr>
                    <td style="text-align: right">&euro; {{ (unit.getUnit()/100)|number_format(2) }}</td>
                    <td>{{ session.getOpenRegister().getAmountForUnit(unit).getAmount() }}</td>
                </tr>
            {% endfor %}
            {% for device in devices %}
                <tr>
                    <td style="text-align: right">{{ device.getName() }}</td>
                    <td>&euro; {{ (session.getOpenRegister().getAmountForDevice(device).getAmount()/100)|number_format(2) }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td style="text-align: right">TOTAL:</td>
                <td>&euro; {{ (session.getOpenRegister().getTotalAmount()/100)|number_format(2) }}</td>
            </tr>

        </table>

        {% if not session.isOpen() %}
            <table class="half_width" style="width: 350px !important">
                <tr>
                    <th>Cash register end</th>
                    <th>Amount</th>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        {% if hasAccess('cudi_admin_sales_session', 'editRegister') %}
                            <a href="{{ url("cudi_admin_sales_session", {"action": "editRegister", "id": session.getCloseRegister().getId()}) }}">(edit)</a></td>
                        {% endif %}
                </tr>
                {% for unit in units %}
                    <tr>
                        <td style="text-align: right">&euro; {{ (unit.getUnit()/100)|number_format(2) }}</td>
                        <td>{{ session.getCloseRegister().getAmountForUnit(unit).getAmount() }}</td>
                    </tr>
                {% endfor %}
                {% for device in devices %}
                    <tr>
                        <td style="text-align: right">{{ device.getName() }}</td>
                        <td>&euro; {{ (session.getCloseRegister().getAmountForDevice(device).getAmount()/100)|number_format(2) }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td style="text-align: right">TOTAL:</td>
                    <td>&euro; {{ (session.getCloseRegister().getTotalAmount()/100)|number_format(2) }}</td>
                </tr>

            </table>
        {% endif %}

        <br style="clear:both" />
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>

    <aside>
        {% if session.isOpen() %}
            {% if hasAccess('cudi_admin_sales_session', 'close') %}
                <div class="sidebox">
                    <div class="title">Close Session</div>
                    <div class="content">
                        <p>
                            <i>Please hit the link below to close this sale session!</i>
                        </p>
                        <p>
                            <a href="#" class="closeSession">&rarr; Close</a>
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if hasAccess('cudi_sale_sale', 'sale') %}
                <div class="sidebox">
                    <div class="title">Sale Application</div>
                    <div class="content">
                        <p>
                            <i>Please hit the link below to open the sale application for regular users!</i>
                        </p>
                        <p>
                            <a href="{{ url("cudi_sale_sale", {"action": "sale", "session": session.getId()}) }}">&rarr; Pay Desk Application</a>
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% if hasAccess('cudi_admin_sales_session', 'queueItems') %}
            <div class="sidebox">
                <div class="title">Queue Items</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to view the queue items!</i>
                    </p>
                    <p>
                        <a href="{{ url("cudi_admin_sales_session", {"action": "queueItems", "id": session.getId()}) }}">&rarr; Queue Items</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('cudi_admin_sales_session', 'killSocket') %}
            <div class="sidebox">
                <div class="title">Restart Socket</div>
                <div class="content">
                    <p>
                        Force the socket to restart.
                    </p>

                    <p>
                        <a id="killSocket" href="#">&rarr; Restart Socket</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('cudi_admin_sales_session_restriction', 'manage') %}
            <div class="sidebox">
                <div class="title">Restrictions</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to view the restrictions of this session!</i>
                    </p>
                    <p>
                        <a href="{{ url("cudi_admin_sales_session_restriction", {"action": "manage", "id": session.getId()}) }}">&rarr; Restrictions</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>

    <div class="modal hide fade" id="closeSession">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Close Session
        </div>
        <div class="modal-body">
            <p>
                You are about to close the current sale session!
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <button class="yes">Yes</button>
                <button class="cancel" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.closeSession').click(openModal);

            {% if hasAccess('cudi_admin_sales_session', 'killSocket') %}
            $('#killSocket').click(function(e) {
                e.preventDefault();
                $.post('{{ url('cudi_admin_sales_session', {"action": "killSocket"})}}', function (data) {
                    if (!data) return;

                    if ('success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('#socket_killed_failure').addClass('hide');
                        $('#socket_killed_success').removeClass('hide');

                        setTimeout(function() {
                            $('#socket_killed_success').addClass('hide');
                        }, 2000);
                    } else {
                        var $reason = $('#socket_killed_failure .reason');

                        if (!data.reason)
                            $reason.text('An unknown error occured.');
                        else if (data.reason == 'pid_file')
                            $reason.text('Couldn\'t find socket.');
                        else if (data.reason == 'kill_failed')
                            $reason.text('Couldn\'t acces the socket.');

                        $('#socket_killed_failure .output').text(data.output);

                        $('.flashmessage').addClass('hide');
                        $('#socket_killed_success').addClass('hide');
                        $('#socket_killed_failure').removeClass('hide');
                    }
                }, 'json');
            });
            {% endif %}
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var closeSession = $('#closeSession');
            closeSession.find('.yes').unbind('click').click(function () {
                window.location.href = '{{ url("cudi_admin_sales_session", {"action": "close", "id": session.getId()}) }}';
            });
            closeSession.modal();
        }
    </script>
{% endblock %}
