{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'br/admin/company/partials/navigation.twig' %}

	<div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
	</div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
	    $(document).ready(function () {
            $('#page').click(togglePage);
            togglePage();

            $('textarea#description').gollum({
                uploadURL: '{{ url('admin_company', {'action': 'upload'}) }}',
                progressURL: '{{ url('admin_company', {'action': 'uploadProgress'}) }}',
                uploadProgressName: '{{ uploadProgressName }}',
                progressId: '{{ uploadProgressId }}',
            });
            $('textarea#summary').gollum({
                toolbar: {
                    "bold": ["bold", "Bold", "bold"],
                    "italic": ["italic", "Italic", "italic"],
                    "divider": "-",
                    "link": ["link", "Link", "link"],
                    "divider": "-",
                    "ul": ["ul", "Unordered List", "u-list"],
                    "ol": ["ol", "Ordered List", "o-list"],
                    "blockquote": ["blockquote", "Blockquote", "quotemark"],
                    "hr": ["hr", "Horizontal Rule", "horizontal-rule"],
                    "divider": "-",
                    "help": ["help", "Help", "help"],
                },
                width: '500px',
            });
	    });

        function togglePage() {
            if ($('#page').is(':checked'))
                $('#page_form').show();
            else
                $('#page_form').hide();
        }
    </script>
{% endblock %}
