{% extends 'manage/base.twig' %}

{% block content %}
    {% if authenticatedPerson is not null %}
	    <h2>{{ translate('Your Forms') }}</h2>

	    <table class="table">

	    	<thead>
	    		<tr>
	    			<th>{{ translate("Title") }}</th>
	    			<th width="150px">{{ translate("Start Date") }}</th>
	    			<th width="150px">{{ translate("End Date") }}</th>
	    			<th width="150px">{{ translate("Active") }}</th>
	    			<th width="150px">{{ translate("Actions") }}</th>
	    		</tr>
			</thead>

    		<tbody>
		    {% for form in forms %}
		    	<tr class="item item-{{ form.getId() }}">
    				<td>{{ form.getTitle(language) }}</td>
                    <td>{{ dateLocalized(form.getStartDate(), 'dd/MM/y HH:mm') }}</td>
                    <td>{{ dateLocalized(form.getEndDate(), 'dd/MM/y HH:mm') }}</td>
					<td>{% if form.isActive() %}X{% endif %}</td>
					<td>
						<a href="{{ url("form_manage", {"action" : "view", "id" : form.getId()}) }}" class="btn btn-mini">{{ translate("View") }}</a>
                        <a href="{{ url("form_manage", {"action" : "download", "id" : form.getId()}) }}" class="btn btn-mini">{{ translate("Download") }}</a>
                    </td>
	    		</tr>
		    {% endfor %}
			</tbody>
		</table>

    {% else %}
        <div style="text-align: center;">
            <img src="/img/litus.png" alt="Litus" />
            <h3>{{ translate('Please login to get access to these pages.') }}</h3>
        </div>
    {% endif %}
{% endblock %}
