{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'calendar/admin/calendar/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action" class="half_width">
        {% import 'admin/partials/form.twig' as forms %}

        <div class="flashmessage success_message full_width shifts_success hide">
            <div class="title">Success</div>
            <div class="content">
                <p>The shifts were successfully added!</p>
            </div>
        </div>
        <div class="flashmessage error_message full_width shifts_error hide">
            <div class="title">Error</div>
            <div class="content">
                <p>An error occurred while trying to add shifts to the event.</p>
            </div>
        </div>

        {{ forms.renderForm(form) }}
    </div>

    {% if hasAccess('calendar_admin_calendar', 'editPoster') %}
        <aside>
            <div class="sidebox">
                <div class="title">Edit Poster</div>
                   <div class="content">
                    <p>
                        <i>Please hit the link below to edit the poster of this event!</i>
                    </p>
                    <p>
                           <a href="{{ url('calendar_admin_calendar', {"action": "editPoster", "id": event.getId()}) }}">&rarr; Edit Poster</a>
                    </p>
                </div>
            </div>
        </aside>
    {% endif %}
    {% if hasAccess('shift_admin_shift', 'event') and event.hasActiveShifts(em) %}
        <aside>
            <div class="sidebox">
                <div class="title">Go to Shifts</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to go to this event's shifts!</i>
                    </p>
                    <p>
                        <a href="{{ url('shift_admin_shift', {"action": "event", "id": event.getId()}) }}">&rarr;
                            Search Shifts by Event</a>
                    </p>
                </div>
            </div>
        </aside>
    {% endif %}
    {% if hasAccess('calendar_admin_calendar', 'template') %}
        <aside>
            <div class="sidebox" style="margin-top: 35px">
                <div class="title">Template</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to add shifts for a Waaiberg cantus from the template!
                            This ensures all shifts are made automatically.</i>
                    </p>
                    <p>
                        <a href="#" data-id="{{ event.getId() }}" data-title="{{ event.getTitle(language) }}" class="template">&rarr; Add shifts</a>
                    </p>
                </div>
            </div>
        </aside>
    {% endif %}

    <div class="modal fade" id="addShiftsEvent" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Add Shifts
                </div>
                <div class="modal-body">
                    <p>
                        You are about to add Waaiberg shifts to the following event: <b class="title"></b>!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#languages a:first').click();
            $('.template').click(openModal);
        });

        $(document).ready(function () {
            $('textarea').gollum({
                toolbar: {
                    "bold": ["bold", "Bold", "bold"],
                    "italic": ["italic", "Italic", "italic"],
                    "divider": "-",
                    "link": ["link", "Link", "link"],
                    "divider": "-",
                    "ul": ["ul", "Unordered List", "u-list"],
                    "ol": ["ol", "Ordered List", "o-list"],
                    "blockquote": ["blockquote", "Blockquote", "quotemark"],
                    "hr": ["hr", "Horizontal Rule", "horizontal-rule"],
                    "divider": "-",
                    "help": ["help", "Help", "help"],
                },
            });
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var addShifts = $('#addShiftsEvent');
            addShifts.find('.title').html($(this).data('title'));
            var id = $this.data('id');
            addShifts.find('.delete').unbind('click').click(function () {
                $.post('{{ url('calendar_admin_calendar', {"action": "addShifts"})}}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.shifts_success').removeClass('hide');
                        addShifts.modal('hide');
                    } else {
                        errorShifts();
                    }
                }, 'json').error(errorShifts);
            });
            addShifts.modal();
        }

        function errorShifts() {
            $('.flashmessage').addClass('hide');
            $('.shifts_error').removeClass('hide');
            $('#addShiftsEvent').modal('hide');
        }
    </script>
{% endblock %}
