{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'calendar/admin/calendar/partials/navigation.twig' %}

    <div id="controller_action">
        {% include 'admin/partials/flashMessenger.twig' %}
        <div class="flashmessage success_message full_width event_removed_success hide">
            <div class="title">Success</div>
            <div class="content">
                <p>The event was successfully removed!</p>
            </div>
        </div>
        <div class="flashmessage error_message full_width event_removed_error hide">
            <div class="title">Error</div>
            <div class="content">
                <p>An error occurred while trying to delete the event.</p>
            </div>
        </div>

        <table class="full_width manage">
            <thead>
                <tr>
                    <th>Title</th>
                    <th width="120px">Start Date</th>
                    <th width="120px">End Date</th>
                    <th width="230px">Location</th>
                    <th width="80px">Has poster</th>
                    <th width="80px">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for event in paginator %}
                    <tr class="item item-{{ event.getId() }}">
                        <td>{{ event.getTitle(language) }}</td>
                        <td>{{ event.getStartDate().format('d/m/Y H:i') }}</td>
                        <td>{{ event.getEndDate().format('d/m/Y H:i') }}</td>
                        <td>{{ event.getLocation(language) }}</td>
                        <td>{% if event.getPoster() %}&times;{% endif %}</td>
                        <td class="actions">
                            {% if hasAccess('shift_admin_shift', 'pdf') %}
                                <a href="{{ url('shift_admin_shift', {"action": "pdf", "id": event.getId()}) }}" class="printer">Shift List</a>
                            {% endif %}
                            {% if hasAccess('calendar_admin_calendar', 'poster') %}
                                <a href="{{ url('calendar_admin_calendar', {"action": "editPoster", "id": event.getId()}) }}" class="image_edit">Poster</a>
                            {% endif %}
                            {% if hasAccess('calendar_admin_calendar', 'edit') %}
                                <a href="{{ url('calendar_admin_calendar', {"action": "edit", "id": event.getId()}) }}" class="calendar_edit">Edit</a>
                            {% endif %}
                            {% if hasAccess('calendar_admin_calendar', 'delete') %}
                                <a href="#" data-id="{{ event.getId() }}" data-title="{{ event.getTitle(language) }}" class="delete">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal fade" id="removeEvent" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Event
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following event: <b class="title"></b>!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeEvent = $('#removeEvent');
            removeEvent.find('.title').html($(this).data('title'));
            var id = $this.data('id');
            removeEvent.find('.delete').unbind('click').click(function () {
                $.post('{{ url('calendar_admin_calendar', {"action": "delete"})}}' + $this.data('id'), function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.event_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeEvent.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeEvent.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.event_removed_error').removeClass('hide');
            $('#removeEvent').modal('hide');
        }
    </script>
{% endblock %}
