{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('Shifts') }} <small>&mdash; {{ translate('History') }}</small></h1>
    </div>

    {% include 'shift/shift/partials/navigation.twig' %}

    <div style="text-align: justify;">
    	{{ translate('History message') }}
    </div>
    <br>
    {% if unPayedShifts %}
        {{ translate('You have currently') }} {{ unPayedShifts }} {{ translate('unpayed shifts. You can get your reward from the vice-preases at \'blok 6\'. This reward will expire at the end of this academic year.') }}
    {% endif %}

    {% if shiftsAsResponsible %}
    	<h2>{{ translate('Shifts')}} {{ translate('As Responsible') }}:</h2>
    	{% for unit in shiftsAsResponsible %}
    	<b>{{ unit['unitName'] }}: </b> {{ unit['count'] }} <br>
    	{% endfor %}
    	<b>{{  translate('Total') }}: </b> {{ totalAsResponsible }} <br>
    	<h2>{{ translate('Shifts')}} {{ translate('As Volunteer') }}:</h2>
    {% else %}
    	<h2>{{ translate('Shifts')}}:</h2>
    {% endif %}
    {% for unit in shiftsAsVolunteer %}
    	<b>{{ unit['unitName'] }}: </b> {{ unit['count'] }} <br>
    {% endfor %}
    <b>{{ translate('Total') }}: </b> {{ totalAsVolunteer }} <br>




{% endblock %}
