{% extends 'site/base.twig' %}

{% block content %}
    {% import 'site/partials/form.twig' as forms %}

    <div class="flashmessage alert alert-success fade" id="responsible_success">
        <div class="content">
            {{ translate('You were signed in as a responsible for the selected shift!') }}
        </div>
    </div>
    <div class="flashmessage alert alert-success fade" id="responsible_success">
        <div class="content">
            {{ translate('You were signed in as a volunteer for the selected shift!') }}
        </div>
    </div>
    <div class="flashmessage alert alert-success fade" id="signout">
        <div class="content">
            {{ translate('You were singed out from the selected shift!') }}
        </div>
    </div>
    <div class="flashmessage alert alert-error fade" id="error">
        <div class="content">
            {{ translate('An error occurred while processing your request!') }}
        </div>
    </div>

    <div id="modalSignInWarning" class="modal fade hide">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{{ translate('Sign In') }}</h3>
        </div>
        <div class="modal-body">
            <p>
                {{ translate('You are about to sign yourself in for a shift. Do you want to continue?') }}
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary confirm">{{ translate('Yes') }}</button>
            <button class="btn deny">{{ translate('No') }}</button>
        </div>
    </div>

    <div class="page-header">
        <h1>{{ translate('Shifts') }}</h1>
    </div>

    <div class="row-fluid">
        <span class="span12" style="text-align: justify;">
            {{ translate('If you would like to help VTK from time to time, you can just sign up for a shift. In the left-hand column, you can choose shift according to date, event or category (like Cursusdienst or Theokot), but you don\'t have to. To the right, you find a list of all the shift to which you can enroll. If you click on a shift, all the useful information appears. Just click \'Sign In\' and you\'re done! Attention: you can only unsubscribe yourself up to 24 hours beforehand! If a shift is already completely full, you can probably still sign up by kicking off somebody from VTK itself. By doing so, you relieve that person\'s working load for which this person will be grateful the rest of his/her life :).') }}
        </span>
    </div>

    <div class="row-fluid">
        <span class="span4">
            <h2>{{ translate('Search') }}</h2>

            <div class="well well-small">
                <h4>{{ translate('By Date') }}</h4>

                {{ forms.renderForm(dateSearchForm) }}
            </div>

            <div class="well well-small">
                <h4>{{ translate('By Event') }}</h4>

                {{ forms.renderForm(eventSearchForm) }}
            </div>

            <div class="well well-small">
                <h4>{{ translate('By Unit') }}</h4>

                {{ forms.renderForm(unitSearchForm) }}
            </div>

        </span>
        <span class="span8">
            <h2>
                {% if authenticatedPerson != null and hasAccess('shift', 'export') %}
                    <div class="pull-right visible-desktop">
                        {#
                        <a href="{{ url('shift_export', { 'token' : token.getHash() }) }}" class="btn"><span class="icon-arrow-down"></span> {{ translate('Download') }}</a>
                        #}
                    </div>
                {% endif %}

                {{ translate('My Shifts') }}
            </h2>

            {{ _self.displayShifts(entityManager, authenticatedPerson, myShifts, 'myShifts') }}

            <h2>{{ resultString }}</h2>
            {% if searchResults is not null %}
                {{ _self.displayShifts(entityManager, authenticatedPerson, searchResults, 'search') }}
            {% else %}
                <div class="alert alert-warning">
                    {{ translate('There are no shifts to be shown yet; please use the search functions on the left.') }}
                </div>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.responsible').click(function () {
                var button = $(this);
                var count = parseInt(button.data('count'), 10);

                if (!button.hasClass('disabled')) {
                    $('#modalSignInWarning').modal();
                    $('#modalSignInWarning .confirm').one('click', function () {
                        $('#modalSignInWarning').modal('hide');

                        $.post(
                            '{{ url('shift', {"action": "responsible"}) }}',
                            {"id": button.data('id'), "person": "{{ authenticatedPerson.getId() }}"},
                            function (data) {
                                if (data && 'success' == data.status) {
                                    $('.flashmessage').removeClass('in');
                                    $('#responsible_success').addClass('in');

                                    updateButton(button, parseInt(data.ratio, 10), count);
                                } else {
                                    errorSave();
                                }
                            },
                            'json'
                        ).error(errorSave);
                    });
                }

                button.parent().find('button').each(function(i) {
                    $(this).addClass('active disabled');
                });

                $('#modalSignInWarning .deny').one('click', function () {
                    $('#modalSignInWarning').modal('hide');

                    button.parent().find('button').each(function(i) {
                        $(this).removeClass('disabled');
                    });
                });
            });

            $('.volunteer').click(function () {
                var button = $(this);
                var count = parseInt($(this).data('count'));

                if (!button.hasClass('disabled')) {
                    $('#modalSignInWarning').modal();
                    $('#modalSignInWarning .confirm').one('click', function () {
                        $('#modalSignInWarning').modal('hide');

                        $.post(
                            '{{ url('shift', {"action": "volunteer"}) }}',
                            {"id": button.data('id'), "person": "{{ authenticatedPerson.getId() }}"},
                            function (data) {
                                if (data && 'success' == data.status) {
                                    $('.flashmessage').removeClass('in');
                                    $('#responsible_volunteer').addClass('in');

                                    updateButton(button, parseInt(data.ratio, 10), count);
                                } else {
                                    errorSave();
                                }
                            },
                            'json'
                        ).error(errorSave);
                    });
                }

                button.parent().find('button').each(function(i) {
                    $(this).addClass('disabled');
                });

                $('#modalSignInWarning .deny').one('click', function () {
                    $('#modalSignInWarning').modal('hide');

                    button.parent().find('button').each(function(i) {
                        $(this).removeClass('disabled');
                    });
                });
            });

            $('.signout').click(function () {
                var button = $(this);
                button.addClass('disabled');

                $.post(
                    '{{ url('shift', {"action": "signout"}) }}',
                    {"id": $(this).data('id'), "person": "{{ authenticatedPerson.getId() }}"},
                    function (data) {
                        if (data && 'success' == data.status) {
                            $('.flashmessage').removeClass('in');
                            $('#signout').addClass('in');

                            $(button.data('accordion')).fadeOut();
                        } else {
                            errorSave();
                        }
                    },
                    'json'
                ).error(errorSave);
            });
        });

        function updateButton(button, ratio, count) {
            button.removeClass('btn-success btn-warning btn-danger');

            if (ratio < 0.5) {
                button.addClass('btn-success');
            } else if (ratio < 0.75) {
                button.addClass('btn-warning');
            } else if (ratio == 1) {
                button.addClass('btn-danger');
            }

            button.find('.count').text(ratio == 1 ? button.data('max') : ++count);
        }

        function errorSave() {
            $('.flashmessage').removeClass('in');
            $('#error').addClass('in');
        }
    </script>
{% endblock %}

{% macro displayShifts(entityManager, authenticatedPerson, shifts, accordionName) %}
    {% set previousShift = null %}
    
    <div class="accordion" id="shifts-{{ accordionName }}">

        
        
        {% for shift in shifts %}

        {% set currentShiftDate = shift.getStartDate()|date("m/d/Y") %}
        {% set previousShiftDate = previousShift.getStartDate()|date("m/d/Y") %}
        

        {% if previousShiftDate < currentShiftDate %}
                <p> {{ "\n"|nl2br }}</p>
        {% endif %}

        {% set previousShift = shift %}
            <div class="accordion-group" id="group_{{ accordionName }}_shift-{{ shift.getId() }}">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#shifts-{{ accordionName }}" href="#collapse_{{ accordionName }}_shift-{{ shift.getId() }}" style="overflow: hidden;">
                        <span class="pull-right visible-desktop">
                            {{ _self.buttons(entityManager, authenticatedPerson, shift, accordionName) }}
                        </span>
                        {{ dateLocalized(shift.getStartDate(), 'd/M/y HH:mm') }}-{{ dateLocalized(shift.getEndDate(), 'HH:mm') }}&mdash;{{ shift.getName() }}
                    </a>
                </div>
                <div id="collapse_{{ accordionName }}_shift-{{ shift.getId() }}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <span class="pull-right hidden-desktop">
                            {{ _self.buttons(entityManager, authenticatedPerson, shift, accordionName) }}
                        </span>
                        <div class="row-fluid">
                            <span class="span8">
                                <div class="row-fluid">
                                    <span class="span6">
                                        <dl>
                                            <dt>{{ translate('Name') }}</dt>
                                            <dd>{{ shift.getName() }}</dd>
                                            <dt>{{ translate('Start') }}</dt>
                                            <dd>{{ dateLocalized(shift.getStartDate(), 'd/M/y HH:mm') }}</dd>
                                            <dt>{{ translate('End') }}</dt>
                                            <dd>{{ dateLocalized(shift.getEndDate(), 'd/M/y HH:mm') }}</dd>
                                        </dl>
                                    </span>

                                    <span class="span6">
                                        <dl>
                                            <dt>{{ translate('Manager') }}</dt>
                                            <dd>{{ shift.getManager().getFullName() }}</dd>

                                            {% if shift.getEvent() is not null %}
                                                <dt>{{ translate('Event') }}</dt>
                                                <dd>{{ shift.getEvent().getTitle(language) }}</dd>
                                            {% endif %}

                                            <dt>{{ translate('Unit') }}</dt>
                                            <dd>{{ shift.getUnit().getName() }}</dd>
                                        </dl>
                                    </span>
                                </div>
                                <div class="row-fluid">
                                    <span class="span12">
                                        <dl>
                                            <dt>{{ translate('Description') }}</dt>
                                            <dd style="text-align: justify;">{{ shift.getDescription() }}</dd>

                                            <dt>{{ translate('Location') }}</dt>
                                            <dd>
                                                {{ shift.getLocation().getName() }}
                                            </dd>
                                            <dd style="margin-top: 5px;">
                                                <img class="img-rounded" src="{{ staticMap(shift.getLocation(), '367x125', '7a43b6') }}" />
                                            </dd>
                                        </dl>
                                    </span>
                                </div>
                            </span>
                            <span class="span4">
                                {% if 0 != shift.getNbResponsibles() %}
                                    <dl>
                                        <dt>{{ translate('Responsibles') }}</dt>

                                        {% for responsible in shift.getResponsibles() %}
                                            <dd>{{ responsible.getPerson().getFullName() }}</dd>
                                        {% endfor %}
                                    </dl>
                                {% endif %}

                                {% if 0 != shift.getNbVolunteers() %}
                                    <dl>
                                        <dt>{{ translate('Volunteers') }}</dt>

                                        {% for volunteer in shift.getVolunteers() %}
                                            <dd>{{ volunteer.getPerson().getFullName() }}</dd>
                                        {% endfor %}
                                    </dl>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning">
                {% if 'search' == accordionName %}
                    {{ translate('No shifts were found that match the given query.') }}
                {% else %}
                    {{ translate('You have not yet signed up for any shifts. You can use the search functions on the left to look for some!') }}
                {% endif %}
            </div>

        {% set previousShift = shift %}
        {% endfor %}
    </div>
{% endmacro %}

{% macro buttonStyle(shift, type) %}
    {% if 'responsibles' == type %}
        {% set ratio = shift.countResponsibles() / shift.getNbResponsibles() %}
    {% else %}
        {% set ratio = shift.countVolunteers() / shift.getNbVolunteers() %}
    {% endif %}

    {% if ratio < 0.5 %}
        btn-success
    {% elseif ratio < 0.75 %}
        btn-warning
    {% elseif ratio == 1 %}
        btn-danger
    {% endif %}
{% endmacro %}

{% macro buttons(entityManager, authenticatedPerson, shift, accordionName) %}
    {% if 'search' == accordionName %}
        {% if (shift.canHaveAsResponsible(entityManager, authenticatedPerson) and 0 != shift.getNbResponsibles()) or (shift.canHaveAsVolunteer(entityManager, authenticatedPerson) and 0 != shift.getNbVolunteers()) %}
            <i>{{ translate('Sign In') }}:</i>
        {% endif %}

        {% if shift.canHaveAsResponsible(entityManager, authenticatedPerson) and 0 != shift.getNbResponsibles() %}
            <button class="btn btn-mini {{ _self.buttonStyle(shift, 'responsibles') }} responsible" data-id="{{ shift.getId() }}" data-count="{{ shift.countResponsibles() }}" data-max="{{ shift.getNbResponsibles() }}" type="button">
                {{ translate('Responsible') }} (<span class="count">{{ shift.countResponsibles() }}</span>/{{ shift.getNbResponsibles() }})
            </button>
        {% endif %}
        {% if shift.canHaveAsVolunteer(entityManager, authenticatedPerson) and 0 != shift.getNbVolunteers() %}
            <button class="btn btn-mini {{ _self.buttonStyle(shift, 'volunteers') }} volunteer" data-id="{{ shift.getId() }}" data-count="{{ shift.countVolunteers() }}" data-max="{{ shift.getNbVolunteers() }}" type="button">
                {{ translate('Volunteer') }} (<span class="count">{{ shift.countVolunteers() }}</span>/{{ shift.getNbVolunteers() }})
            </button>
        {% endif %}
    {% else %}
        {% if shift.canSignout(entityManager, authenticatedPerson) %}
            <button class="btn btn-mini signout" data-id="{{ shift.getId() }}" data-accordion="#group_{{ accordionName }}_shift-{{ shift.getId() }}" type="button">
                {{ translate('Signout') }}
            </button>
        {% endif %}
    {% endif %}
{% endmacro %}
