{% extends 'site/base.twig' %}
{% block content %}
    <div class="row-fluid page">
        <div class="span12">
            <div class="page-header">
                <h1>{{ translate('CV Book') }}</h1>
            </div>

            {% if not form %}
                {{ translate(message) }}
            {% else %}

                {{ translate('The following data from your account will be used in the CV Book:') }}

                <dl class="dl-horizontal wide">
                    <dt>{{ translate('Name') }}</dt>
                    <dd>{{ authenticatedPerson.getFullName() }}&nbsp;</dd>
                    <dt>{{ translate('Birthday') }}</dt>
                    <dd>{{ dateLocalized(authenticatedPerson.getBirthday(), 'd MMMM y') }}&nbsp;</dd>
                    <dt>{{ translate('Sex') }}</dt>
                    <dd>{{ authenticatedPerson.getSex()|capitalize }}&nbsp;</dd>
                    <dt>{{ translate('Phone Number') }}</dt>
                    <dd>{{ authenticatedPerson.getPhoneNumber() }}&nbsp;</dd>
                    <dt>{{ translate('E-mail') }}</dt>
                    <dd>{{ authenticatedPerson.getPersonalEmail() }}&nbsp;</dd>
                    <dt>{{ translate('Secondary Address&mdash;Home') }}</dt>
                    <dd>
                        {{ authenticatedPerson.getSecondaryAddress().getStreet() }} {{ authenticatedPerson.getSecondaryAddress().getNumber() }}
                        {% if authenticatedPerson.getSecondaryAddress().getMailbox() %}
                            / {{ authenticatedPerson.getSecondaryAddress().getMailbox() }}
                        {% endif %}<br>
                        {{ authenticatedPerson.getSecondaryAddress().getPostal() }} {{ authenticatedPerson.getSecondaryAddress().getCity() }}<br>
                        {{ authenticatedPerson.getSecondaryAddress().getCountry() }}
                    </dd>
                    <dt>{{ translate('Profile Picture') }}</dt>
                    <dd>
                        <img width=200 src="/account/photo/image{{ authenticatedPerson.getPhotoPath() }}" alt=""/>
                    </dd>
                </dl>

                <p><strong>{{ translate('Please update your account data if necessary. Note that the data above will be retrieved immediately after creating the entry, so future updates to your profile will not be reflected.')}}</strong></p>

                {% import 'site/partials/form.twig' as forms %}
                {{ forms.renderForm(form) }}
            {% endif %}


        </div>
    </div>
{% endblock %}

{% block content_script %}

    <script type="text/javascript">

        $(document).ready(function() {

            $('#language_add').click(function() {

                var i = parseInt($('#lang_count').val())

                $('#language_add').before('\
                    <div class="control-group lang_control' + i + '">\
                        <label class="control-label" for="lang_name' + i + '">\
                            Language\
                        </label>\
                        <div class="controls">\
                            <div>\
                                <input type="text" name="lang_name' + i + '" id="lang_name' + i + '" value=""/>\
                                <button type="button" id="lang_delete' + i + '" class="btn btn-danger" value="">Remove Language</button>\
                            </div>\
                        </div>\
                    </div>\
                    <div class="control-group lang_control' + i + '">\
                        <label class="control-label" for="lang_oral' + i + '">\
                            Oral Skills\
                        </label>\
                        <div class="controls">\
                            <div>\
                                <select name="lang_oral' + i + '" id="lang_oral' + i + '">\
                                    <option value="none">None</option>\
                                    <option value="passive">Passive</option>\
                                    <option value="active">Active</option>\
                                </select>\
                            </div>\
                        </div>\
                    </div>\
                    <div class="control-group lang_control' + i + '">\
                        <label class="control-label" for="lang_written' + i + '">\
                            Written Skills\
                        </label>\
                        <div class="controls">\
                            <div>\
                                <select name="lang_written' + i + '" id="lang_written' + i + '">\
                                    <option value="none">None</option>\
                                    <option value="passive">Passive</option>\
                                    <option value="active">Active</option>\
                                </select>\
                            </div>\
                        </div>\
                    </div>'
                );

                var id = '.lang_control' + i;
                $('#lang_delete' + i).click(function() {
                    $(id).remove();
                });

                $('#lang_count').val(i + 1);
            });

        });
    </script>
}

{% endblock %}