{% extends 'career/partials/layout.twig' %}

{% block page_content %}

    <div class="span3">
        {% if company.getLogo() %}
            <img src="{{ url('admin_company', {'action': 'logo', 'id': company.getLogo()}) }}" alt="{{ company.getName() }}">
        {% endif %}

        <hr/>

        <address>
            <strong>{{ translate('Address') }}</strong><br>
            {{ company.getAddress().getStreet() }} {{ company.getAddress().getNumber() }}
                {% if company.getAddress().getMailbox() %}
                    / {{ company.getAddress().getMailbox() }}
                {% endif %}<br>
            {{ company.getAddress().getPostal() }} {{ company.getAddress().getCity() }}<br>
            {{ company.getAddress().getCountry() }}
        </address>
    </div>
    <div class="span8">
        <h1>{{ company.getName() }}</h1>

    </div>
{% endblock %}