{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_section/partials/navigation.twig' %}

	<div id="controller_action">
		{% include 'admin/partials/flashMessenger.twig' %}

	    <table class="full_width">
	        <thead>
	            <tr>
	                <th>Name</th>
	                <th width="150px">Author</th>
	                <th width="75px">Year</th>
	                <th width="120px">Action</th>
	            </tr>
	        </thead>

	        <tbody>
	            {% for section in paginator %}
	                <tr>
	                    <td>{{ section.getName() }}</td>
	                    <td>{{ section.getAuthor().getFullName() }}</td>
	                    <td>{{ section.getYear() }}</td>
	                    <td>
	                        <ul>
	                            <li><a href="{{ url('admin_section', {"action": "edit", "id": section.getId()}) }}" class="edit">Edit</a></li>
	                            <li><a href="{{ url('admin_section', {"action": "delete", "id": section.getId()}) }}" class="delete">Delete</a></li>
	                        </ul>
	                    </td>
	                </tr>
	            {% endfor %}
	        </tbody>
	    </table>

		{% include 'admin/partials/paginationControl.twig' %}
	</div>
{% endblock %}
