{{ doctype() }}

<html lang="en">
<head>
    {% do headLink({'rel': 'shortcut icon', 'href': '/img/favicon.ico'}) %}

    {{ headMeta() }}
    {{ headTitle(translate('Vlaamse Technische Kring'), 'PREPEND') }}

    {{ headLink() }}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-main" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% for item in menu %}
                        {% if 'category' == item.type %}
                            <li class="dropdown {% if item.active %}active{% endif %}">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    {{ item.name }} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for categoryItem in item.items %}
                                        {% if 'page' == categoryItem.type %}
                                            {% if hasAccess('page', 'view') %}
                                                <li><a href="{{ url('page', {"name": categoryItem.name}) }}">{{ categoryItem.title }}</a></li>
                                            {% endif %}
                                        {% endif %}

                                        {% if 'link' == categoryItem.type %}
                                            {% if hasAccess('page_link', 'view') %}
                                                <li><a href="{{ categoryItem.url }}">{{ categoryItem.name }}</a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if authenticatedPerson is not null %}
                        <li class="dropdown hidden-lg hidden-md {% if getParam('controller') == 'common_account' %}active{% endif %}" id="accountDropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Account <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    {% if hasAccess('common_account', 'index') %}
                                        <a href="{{ url('common_account') }}">
                                    {% else %}
                                        <div style="padding: 3px 20px;">
                                    {% endif %}
                                    <b class="fullName">{{ authenticatedPerson.getFullName() }}</b>
                                    <small class="metadata">{{ authenticatedPerson.getUniversityIdentification() }}</small>
                                    {% if hasAccess('common_account', 'index') %}
                                        </a>
                                    {% else %}
                                        </div>
                                    {% endif %}
                                </li>

                                <li class="divider"></li>

                                {% if hasAccess('cudi_booking', 'view') or hasAccess('shift', 'index') %}
                                    <li>
                                        {% if hasAccess('cudi_booking', 'view') %}
                                            <a href="{{ url('cudi_booking') }}">{{ translate('My Bookings') }}</a>
                                        {% endif %}
                                        {% if hasAccess('shift', 'index') %}
                                            <a href="{{ url('shift') }}">{{ translate('My Shifts') }}</a>
                                        {% endif %}
                                    </li>

                                    <li class="divider"></li>
                                {% endif %}

                                {% if hasAccess('common_admin_index', 'index') %}
                                    <li>
                                        <a href="{{ url('common_admin_index') }}">{{ translate('Admin') }}</a>
                                    </li>

                                    <li class="divider"></li>
                                {% endif %}

                                <li>
                                    <a href="{{ url("common_auth", {"action": "logout", "language": language.getAbbrev()}) }}">{{ translate('Logout') }}</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="hidden-lg hidden-md">
                            <a href="{{ shibbolethUrl }}">{{ translate('Login') }}</a>
                        </li>
                    {% endif %}

                    <li class="dropdown hidden-lg hidden-md" id="langDropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Language <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% for language in languages %}
                                <li><a href="{{ url(getParam('controller'), {'language': language.getAbbrev(), 'action': getParam('action'), 'parent': getParam('parent'), 'name': getParam('name'), 'id': getParam('id')}) }}">{{ translate(language.getName()) }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right lang-nav hidden-xs hidden-sm">
                    <li class="dropdown" id="langDropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Language <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            {% for language in languages %}
                                <li><a href="{{ url(getParam('controller'), {'language': language.getAbbrev(), 'action': getParam('action'), 'parent': getParam('parent'), 'name': getParam('name'), 'id': getParam('id')}) }}">{{ translate(language.getName()) }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right auth-nav hidden-xs hidden-sm">
                    {% if authenticatedPerson is not null %}
                        <li class="dropdown {% if getParam('controller') == 'common_account' %}active{% endif %}" id="accountDropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="profile-wrapper">
                                    <i class="profile"></i>
                                </span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    {% if hasAccess('common_account', 'index') %}
                                    <a href="{{ url('common_account') }}">
                                    {% else %}
                                        <div style="padding: 3px 20px;">
                                    {% endif %}
                                        <b class="fullName">{{ authenticatedPerson.getFullName() }}</b>
                                        <small class="metadata">{{ authenticatedPerson.getUniversityIdentification() }}</small>
                                    {% if hasAccess('common_account', 'index') %}
                                    </a>
                                    {% else %}
                                        </div>
                                    {% endif %}
                                </li>
                                <li class="divider"></li>
                                {% if hasAccess('cudi_booking', 'view') or hasAccess('shift', 'index') %}
                                    <li>
                                        {% if hasAccess('cudi_booking', 'view') %}
                                            <a href="{{ url('cudi_booking') }}">{{ translate('My Bookings') }}</a>
                                        {% endif %}
                                        {% if hasAccess('shift', 'index') %}
                                            <a href="{{ url('shift') }}">{{ translate('My Shifts') }}</a>
                                        {% endif %}
                                    </li>

                                    <li class="divider"></li>
                                {% endif %}
                                {% if hasAccess('common_admin_index', 'index') %}
                                    <li>
                                        <a href="{{ url('common_admin_index') }}">{{ translate('Admin') }}</a>
                                    </li>

                                    <li class="divider"></li>
                                {% endif %}
                                <li>
                                    <a href="{{ url("common_auth", {"action": "logout", "language": language.getAbbrev()}) }}">{{ translate('Logout') }}</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ shibbolethUrl }}">{% autoescape false %}{{ translate('Login') }}{% endautoescape %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div class="container">
            <a class="site-link" href="{{ url('common_index') }}">
                <img class="site-logo" src="/_site/img/logo.png" />
                <h1 class="site-name">{{ translate('Vlaamse Technische Kring') }}</h1>
            </a>

            {% if banners|length > 0 %}
                <div id="carouselHeader" class="carousel slide hidden-sm hidden-xs" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for key, banner in banners %}
                            <div class="item item-{{ key }}">
                                {% if banner.getUrl() != '' %}
                                    <a href="{{ banner.getUrl() }}">
                                        {% endif %}
                                            <img src="/banner/view/image{{ banner.getImage() }}" alt="">
                                        {% if banner.getUrl() != '' %}
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>

                    {% if banners|length > 1 %}
                        <a class="left carousel-control" href="#carouselHeader" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carouselHeader" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </header>

    <div id="page">
        <div id="content" class="container">
            {% include 'site/partials/flashMessenger.twig' %}

            {% block content %} {% endblock %}
        </div>
    </div>

    <footer>
        <div class="light">
            <div class="container">
                <div class="row light">
                    <div class="col-md-3">
                        <h3>{{ translate('Links') }}</h3>

                        <ul class="nav-list">
                            <li><a href="http://eng.kuleuven.be">FIrW</a></li>
                            <li><a href="http://www.kuleuven.be">KU Leuven</a></li>
                            <li><a href="http://www.vilv.be">VILV</a></li>
                            <li><a href="http://www.kviv.be">KVIV</a></li>
                        </ul>

                        <ul class="nav-list">
                            <li><a href="http://best.vtk.be">BEST</a></li>
                            <li><a href="http://existenz.be">Existenz</a></li>
                            <li><a href="http://revue.vtk.be">Revue</a></li>
                        </ul>

                        <ul class="nav-list">
                            <li><a href="http://www.loko.be">LOKO</a></li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <h3>{{ translate('Partners') }}</h3>

                        <p class="companies">
                            {% for logo in logos %}
                                <a href="{{ logo.getUrl() }}" target="_blank" style="background-image: url('/{{ logoPath }}/{{ logo.getPath() }}');height: 30px;width: {{ (logo.getWidth()*30/logo.getHeight())|number_format(0) }}px;"></a>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <h3>&copy; {{ 'now'|date('Y') }} {{ translate('Vlaamse Technische Kring vzw') }}</h3>
                    </div>

                    <div class="col-md-2 icons">
                        <a href="http://facebook.com/VTKLeuven"><img src="/_site/img/facebook.png" /></a>
                        <a href="http://twitter.com/VTKLeuven"><img src="/_site/img/twitter.png" /></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {{ inlineScript() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown form').on('click', function (e) {
                e.stopPropagation();
            });

            $('.item-0').addClass('active');

            $('.carousel').carousel();
        });
    </script>

    {% block content_script %} {% endblock %}

    {% if piwik is not null %}
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://{{ piwik['url'] }}/" : "http://{{ piwik['url'] }}/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", {{ piwik['site_id'] }});
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>

        <noscript>
            <p><img src="http://{{ piwik['url'] }}/piwik.php?idsite={{ piwik['site_id'] }}" style="border:0" alt="" /></p>
        </noscript>
    {% endif %}
</body>
</html>
