{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'mail/admin/section/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width entity_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The section/group was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width entity_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete a section/group. Make sure if you try to delete a group, there are no sections attached to it anymore.</p>
        </div>
    </div>

    {# Groups table #}
    <div id="controller_action">
        <div id="normal_page">

            <table class="full_width manage">
                <tr>
                    <th>Name</th>
                    <th width="70px">Action</th>
                </tr>

                {% for group in groups %}
                    <tr class="group group-{{ group.getId() }}">
                        <td>{{ group.getName() }}</td>
                        <td class="actions">
                            {% if hasAccess('mail_admin_section', 'deleteGroup') %}
                                <a href="#" class="deleteGroup delete" data-id="{{ group.getId() }}" data-name="{{ group.getName() }}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}

            </table>

        </div>
    </div>

    {# Sections table #}
    <div id="controller_action" style="margin-top: 30px;">

        <div id="normal_page">

            <table class="full_width manage">
                <tr>
                    <th>Section</th>
                    <th>SIB Attribute</th>
                    <th>Default Preference</th>
                    <th>Group</th>
                    <th width="70px">Action</th>
                </tr>

                {% for section in sections %}
                    <tr class="item item-{{ section.getId() }}">
                        <td>{{ section.getName() }}</td>
                        <td>{{ section.getAttribute() }}</td>
                        <td>{{ section.getDefaultValue() ? "Yes" : "No" }}</td>
                        <td>{{ section.getGroup() ? section.getGroup().getName() : "/" }}</td>
                        <td class="actions">
                            {% if hasAccess('mail_admin_section', 'delete') %}
                                <a href="#" class="delete" data-id="{{ section.getId() }}" data-name="{{ section.getName() }}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}

            </table>

            {% include 'admin/partials/paginationControl.twig' %}
        </div>
    </div>

    <div class="modal fade" id="removeSection" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Section
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following section: <b class="sectionName"></b>!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removeGroup" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Delete Group
                </div>
                <div class="modal-body">
                    <p>
                        You are about to delete the following group: <b class="groupName"></b>!
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $.searchDatabase({
                defaultPage: $('#normal_page'),
                searchDiv: $('#section_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                searchPage: '{{ url('mail_admin_section', {'action': 'manage'}) }}manage/',
                url: '{{ url('mail_admin_section', {'action': 'search'}) }}',
                display: function (data) {
                    $('#section_search table').find('tr.item, tr.group').remove();
                    $(data).each(function () {
                        if (this.type === 'item') {
                            $('#section_search table').append(row = $('<tr>', {class: 'item item-' + this.id}));
                            row.append('<td>' + this.section + '</td>')
                                .append('<td>' + this.attribute + '</td>')
                                .append('<td>' + this.default_value + '</td>')
                                .append('<td>' + this.group + '</td>')
                                .append(
                                    $('<td>', {'class': 'actions'})
                                        .append(deleteButton = $('<a href="#" class="delete">Delete</a>'))
                                );
                            deleteButton.data({
                                id: this.id,
                                sectionName: this.name
                            });
                        }
                        else if (this.type === 'group') {
                            $('#section_search table').append(row = $('<tr>', {class: 'group group-' + this.id}));
                            row.append('<td>' + this.name + '</td>')
                                .append(
                                    $('<td>', {'class': 'actions'})
                                        .append(deleteButton = $('<a href="#" class="deleteGroup">Delete</a>'))
                                );
                            deleteButton.data({
                                id: this.id,
                                groupName: this.name
                            });
                        }
                    });

                    $('.delete').click(openModalSection);
                    $('.deleteGroup').click(openModalGroup);

                    $('#section_search table').change();
                },
                clear: function () {
                    $('#section_search table').find('tr.item, tr.group').remove();
                }
            });

            $('.item .delete').click(openModalSection);
            $('.group .deleteGroup').click(openModalGroup);
        });

        function openModalSection(e) {
            var $this = $(this);
            e.preventDefault();
            var removeSection = $('#removeSection');
            removeSection.find('.sectionName').html($(this).data('name'));
            var id = $this.data('id');
            removeSection.find('.delete').unbind('click').click(function () {
                $.post('{{ url('mail_admin_section', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.entity_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeSection.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeSection.modal();
        }

        function openModalGroup(e) {
            var $this = $(this);
            e.preventDefault();
            var removeGroup = $('#removeGroup');
            removeGroup.find('.groupName').html($(this).data('name'));
            var id = $this.data('id');
            removeGroup.find('.delete').unbind('click').click(function () {
                $.post('{{ url('mail_admin_section', {"action": "deleteGroup"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.entity_removed_success').removeClass('hide');
                        $('.group-' + id).remove();
                        removeGroup.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeGroup.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.entity_removed_error').removeClass('hide');
            $('#removeSection').modal('hide');
            $('#removeGroup').modal('hide');
        }

    </script>
{% endblock %}
