{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'syllabus/admin/study/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    {% include 'syllabus/admin/study/partials/years.twig' %}

    <div id="controller_action">
        <div id="study_search" style="display:none;">
            <div style="padding:4px;text-align:right">
                Search:
                <select id="searchField">
                    <option value="name">Name</option>
                </select>
                is
                <input type="text" id="searchString" size="30" />
            </div>

            <table class="full_width manage">
                <tr>
                    <th>Name</th>
                    <th width="50px">Phase</th>
                    <th width="70px">Actions</th>
                </tr>
            </table>
        </div>

        <div id="default_page">
            <table class="full_width manage">
                <tr>
                    <th>Name</th>
                    <th width="50px">Phase</th>
                    <th width="70px">Actions</th>
                </tr>

                {% for mapping in paginator %}
                    <tr class="item">
                        <td>{{ mapping.getStudy().getFullTitle() }}</td>
                        <td>{{ mapping.getStudy().getPhase() }}</td>
                        <td class="actions">
                            {% if hasAccess('admin_subject', 'manage') %}
                                <a href="{{ url('admin_subject', {"id": mapping.getStudy().getId(), "academicyear": currentAcademicYear.getCode()}) }}" class="view">View</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% include 'admin/partials/paginationControl.twig' %}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if hasAccess('admin_study', 'search') %}
            $.searchDatabase({
                defaultPage: $('#default_page'),
                searchDiv: $('#study_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                searchPage: '{{ url('admin_study', {'action': 'manage', 'academicyear': currentAcademicYear.getCode()}) }}',
                url: '{{ url('admin_study', {'action': 'search', 'academicyear': currentAcademicYear.getCode()}) }}',
                display: function (data) {
                    $('#study_search table').find('tr.item').remove();
                    $(data).each(function () {
                        $('#study_search table').append(row = $('<tr>', {class: 'item'}));
                        row.append('<td>' + this.title + '</td>')
                            .append('<td>' + this.phase + '</td>')
                            .append(
                                actions = $('<td>', {'class': 'actions'})
                            );

                            {% if hasAccess('admin_subject', 'manage') %}
                                actions.append('<a href="{{ url('admin_subject') }}manage/' + this.id + '/{{ currentAcademicYear.getCode() }}" class="view">View</a>')
                            {% endif %}
                    });
                    $('#study_search table').change();
                },
                clear: function () {
                    $('#study_search table').find('tr.item').remove();
                }
            });
            {% endif %}
        });
    </script>
{% endblock %}
