{% extends 'admin/base.twig' %}

{% block content %}
	<header id="controller_header">
	    <div class="title"><span class="dashboard">Dashboard</span></div>
	</header>

	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
        {% if piwik is not null %}
            <h1>Visits Summary</h1>
            <img src="{{ piwik['visitsSummary'].getDataUri(988, 150) }}" alt="Visits Summary" class="full_width" />
        {% endif %}

        {% if registrationGraph is not null and registrationGraph['dataset']|length > 1 %}
            <h1>Registrations</h1>
            <div class="chart full_width">
                <canvas id="registrationGraph" width="988" height="150"></canvas>
            </div>
        {% endif %}

        {% if hasAccess('cudi_admin_prof_action', 'manage') and profActions|length > 0 %}
            <h1>Last Prof Actions</h1>
    	    <table>
    	        <tr>
    	            <th>Person</th>
    	            <th width="160px">Action</th>
    	            <th width="150px">Date</th>
    	            <th width="70px">Actions</th>
    	        </tr>

    	        {% for action in profActions %}
    	            <tr class="item">
    	                <td>{{ action.getPerson().getFullName() }}</td>
    	                <td>{{ action.getEntityName()|capitalize }} {{ action.getAction()|capitalize }}</td>
    	                <td>{{ action.getTimestamp().format('d/m/Y H:i') }}</td>
    	                <td>
    	                    {% if hasAccess('cudi_admin_prof_action', 'view') %}
    	                        <a href="{{ url('cudi_admin_prof_action', {"action": "view", "id": action.getId()}) }}" class="view">View</a>
    	                    {% endif %}
    	                </td>
    	            </tr>
    	        {% endfor %}
    	    </table>
	    {% endif %}

        {% if hasAccess('syllabus_admin_subject_comment', 'manage') and subjectComments|length > 0 %}
            <h1>Last Subject Comments</h1>
            <table class="manage">
                <tr>
                    <th width="100px">Date</th>
                    <th width="140px">Person</th>
                    <th>Summary</th>
                    <th width="70px">Action</th>
                </tr>

                {% for comment in subjectComments %}
                    <tr class="item item-{{ comment.getId() }}">
                        <td>{{ comment.getDate().format('d/m/Y H:i') }}</td>
                        <td>{{ comment.getPerson().getFullName() }}</td>
                        <td>{{ comment.getText() }}</td>
                        <td class="actions">
                            {% if hasAccess('syllabus_admin_subject', 'edit') %}
                                <a href="{{ url('syllabus_admin_subject', {'action': 'edit', 'id': comment.getSubject().getId()}) }}" class="view">View Subject</a>
                            {% endif %}
                            {% if hasAccess('syllabus_admin_subject_comment', 'subject') %}
                                <a href="{{ url('syllabus_admin_subject_comment', {'action': 'subject', 'id': comment.getSubject().getId()}) }}" class="view">View All</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <h1>Last Subject Replies</h1>
            <table class="manage">
                <tr>
                    <th width="100px">Date</th>
                    <th width="140px">Person</th>
                    <th>Summary</th>
                    <th width="70px">Action</th>
                </tr>

                {% for reply in subjectReplies %}
                    <tr class="item item-{{ reply.getId() }}">
                        <td>{{ reply.getDate().format('d/m/Y H:i') }}</td>
                        <td>{{ reply.getPerson().getFullName() }}</td>
                        <td>{{ reply.getText() }}</td>
                        <td class="actions">
                            {% if hasAccess('syllabus_admin_subject', 'edit') %}
                                <a href="{{ url('syllabus_admin_subject', {'action': 'edit', 'id': reply.getSubject().getId()}) }}" class="view">View Subject</a>
                            {% endif %}
                            {% if hasAccess('syllabus_admin_subject_comment', 'subject') %}
                                <a href="{{ url('syllabus_admin_subject_comment', {'action': 'subject', 'id': reply.getSubject().getId()}) }}" class="view">View All</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        <h1>Active Sessions</h1>

        <div class="flashmessage success_message session_expire_success hide three_quarter_width">
            <div class="title">Success</div>
            <div class="content">
                <p>The session was successfully expired!</p>
            </div>
        </div>
        <div class="flashmessage error_message session_expire_error hide three_quarter_width">
            <div class="title">Error</div>
            <div class="content">
                <p>An error occurred while trying to expire the session.</p>
            </div>
        </div>

        <table>
            <tr>
                <th>IP</th>
                <th width="150px">Start Time</th>
                <th width="150px">Expiration Time</th>
                <th width="90px">Shibboleth</th>
                <th width="70px">Action</th>
            </tr>

            {% for session in activeSessions %}
                <tr class="item item-{{ session.getId() }}">
                    <td>{{ session.getIp() }}</td>
                    <td>{{ dateLocalized(session.getStartTime(), 'd/M/y HH:mm') }}</td>
                    <td>{{ dateLocalized(session.getExpirationTime(),'d/M/y HH:mm') }}</td>
                    <td>{% if session.isShibboleth() %}&times;{% endif %}</td>
                    <td class="actions">
                        {% if hasAccess('common_admin_session', 'expire') and session.getId() != currentSession.getId() %}
                            <a href="#" class="delete" data-id="{{ session.getId() }}">Expire</a></li>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
	</div>

	<aside>
        {% if piwik is not null %}
            <div class="sidebox">
                <div class="title">Piwik</div>
                <div class="content">
                    <p>
                        We had <b>{{ piwik['uniqueVisitors'] }}</b> unique visitor{% if piwik['uniqueVisitors'] != 1 %}s{% endif %} in the last week.
                    </p>
                    <p>
                        During the past half hour, we had <b>{{ piwik['liveCounters']['visits'] }}</b> visit{% if piwik['liveCounters']['visits'] != 1 %}s{% endif %} and <b>{{ piwik['liveCounters']['actions'] }}</b> action{% if piwik['liveCounters']['actions'] != 1 %}s{% endif %} were performed.
                    </p>
                </div>
            </div>
        {% endif %}

		<div class="sidebox">
	        <div class="title">Versions</div>
	        <div class="content">
	        	<p>
	        		<b>PHP</b><br />
	        		{{ versions.php }}
	        	</p>
	        	<p>
	            	<b>ZendFramework</b><br />
	            	{{ versions.zf }}
	            </p>
	            <p>
	            	<b>Doctrine</b><br />
	            	{{ versions.doctrine }}
	            </p>
	        </div>
	    </div>
	</aside>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(expireSession);
            drawRegistrationGraph();
        });

        function drawRegistrationGraph() {
            var data = {
                labels : {% autoescape false %}{{ registrationGraph['labels']|json_encode }}{% endautoescape %},
                datasets : [
                    {
                        fillColor : "rgba(98, 207, 252, 0.5)",
                        strokeColor : "rgba(98, 207, 252, 1)",
                        pointColor : "rgba(98, 207, 252, 1)",
                        pointStrokeColor : "#fff",
                        data : {% autoescape false %}{{ registrationGraph['dataset']|json_encode }}{% endautoescape %}
                    }
                ]
            };

            $('#registrationGraph').attr('width', $('#registrationGraph').parent().width());
            new Chart($('#registrationGraph').get(0).getContext('2d')).Line(data);
        }

        function expireSession(e) {
            var $this = $(this);
            e.preventDefault();
            var id = $this.data('id');
            $.get('{{ url('common_admin_session', {"action": "expire"})}}' + id, function (data) {
                if (data && 'success' == data.status) {
                    $('.flashmessage').addClass('hide');
                    $('.session_expire_success').removeClass('hide');
                    $('.item-' + id).remove();
                } else {
                    errorExpire();
                }

                setTimeout(function() {
                    $('.flashmessage').addClass('hide');
                }, 2000);
            }, 'json').error(errorExpire);
        }

        function errorExpire() {
            $('.flashmessage').addClass('hide');
            $('.session_expire_error').removeClass('hide');
        }
    </script>
{% endblock %}
