{{ doctype() }}

<html lang="en">
    <head>
        {{ headMeta() }}
        {{ headTitle('Litus Logistics', 'PREPEND') }}

        {{ headLink() }}
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ organizationUrl }}" class="brand"><img src="/_logistics/img/logo.png" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if hasAccess('logistics_catalog', 'overview') %}
                            <li {% if 'logistics_catalog' == getParam('controller') %}class="active"{% endif %}>
                                <a href="{{ url('logistics_catalog', {"language": language.getAbbrev()}) }}">{{ translate('Material') }}</a>
                            </li>
                        {% endif %}
                        {% if hasAccess('logistics_index', 'index') %}
                            <li {% if 'logistics_index' == getParam('controller') %} class="active" {% endif %}>
                                <a href="{{ url("logistics_index", {"language": language.getAbbrev()}) }}">{{ translate('Van') }}</a>
                            </li>
                        {% endif %}
                        {% if hasAccess('logistics_piano', 'index') %}
                            <li {% if 'logistics_piano' == getParam('controller') %} class="active" {% endif %}>
                                <a href="{{ url("logistics_piano", {"language": language.getAbbrev()}) }}">{{ translate('Piano') }}</a>
                            </li>
                        {% endif %}
{#                        {% if hasAccess('logistics_lease', 'index') %}#}
{#                            <li {% if 'logistics_lease' == getParam('controller') %}class="active"{% endif %}>#}
{#                                <a href="{{ url('logistics_lease', {"language": language.getAbbrev()}) }}">{{ translate('Lease') }}</a>#}
{#                            </li>#}
{#                        {% endif %}#}
                        {% if hasAccess('logistics_inventory', 'index') %}
                            <li {% if 'logistics_inventory' == getParam('controller') %}class="active"{% endif %}>
                                <a href="{{ url('logistics_inventory', {"language": language.getAbbrev()}) }}">{{ translate('Inventory') }}</a>
                            </li>
                        {% endif %}
{#                        {% if hasAccess('logistics_inventory', 'add') %}#}
{#                            <li {% if 'logistics_inventory' == getParam('controller') %}class="active"{% endif %}>#}
{#                                <a href="{{ url('logistics_inventory', {"language": language.getAbbrev(), 'action': 'add'}) }}">{{ translate('Flesserke Form') }}</a>#}
{#                            </li>#}
{#                        {% endif %}#}
                    </ul>
                    <ul class="nav navbar-nav pull-right lang-nav hidden-sm hidden-xs">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Language <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                {% for language in languages %}
                                    <li>
                                        <a href="{{ url(getParam('controller'), {"language": language.getAbbrev()}) }}">{{ translate(language.getName()) }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right auth-nav">
                        {% if authenticatedPerson is not null %}
                            <li class="dropdown" id="accountDropdown">

                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="profile-wrapper">
                                        <i class="profile"></i>
                                    </span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">
                                            <b class="fullName">{{ authenticatedPerson.getFullName() }}</b>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{{ url("logistics_auth", {"action": "logout", "language": language.getAbbrev()}) }}">{{ translate('Logout') }}</a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="dropdown" id="loginDropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    {{ translate('Login') }} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a class="btn btn-info" href="{{ shibbolethUrl }}">{% autoescape false %}
                                            {{ translate('KU Leuven&mdash;Central Login') }}
                                        {% endautoescape %}</a>
                                    </li>
                                    <hr/>

                                    <li>
                                        {% if loginForm is defined %}
                                            {% do loginForm.prepare() %}
                                            {% autoescape false %}
                                                {{ form().openTag(loginForm) }}

                                                {% for element in loginForm.getElements() %}
                                                    {% if element.getAttribute('type') == 'submit' or element.getAttribute('type') == 'reset'or element.getAttribute('type') == 'hidden' %}
                                                        {{ formElement(element) }}
                                                    {% elseif element.getAttribute('type') == 'checkbox' %}
                                                        <div class="remember_me">
                                                            <label>
                                                                {{ formElement(element) }}
                                                                {% if element.getLabel() != '' %}{{ translate(element.getLabel()) }}{% endif %}
                                                            </label>
                                                        </div>
                                                    {% else %}
                                                        <div class="form-group {% if element.getMessages()|length > 0 %}has-error{% endif %}">
                                                            <label class="control-label">{% if element.getLabel() != '' %}{{ translate(element.getLabel()) }}{% endif %}</label>
                                                            <div>{{ formElement(element) }}</div>
                                                            {% if element.getMessages()|length > 0 %}
                                                                <div class="help-block">
                                                                    {{ formElementErrors(element) }}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}

                                                {{ form().closeTag() }}
                                            {% endautoescape %}
                                        {% endif %}
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>

                </div>
            </div>
        </nav>

        <header>
            <div class="container">
                <h1>{{ translate('Logistics') }}</h1>
            </div>
        </header>

        <div class="container">
            {% include 'logistics/partials/flashMessenger.twig' %}

            <div id="content_controller">
                {% block content %} {% endblock %}
            </div>
        </div>

        <footer>
            Litus Logistics | Code by <a href="http://litus.cc">Litus</a>
        </footer>

        {{ inlineScript() }}

        <script type="text/javascript">
            $(document).ready(function () {
                $('.dropdown form').on('click', function (e) {
                    e.stopPropagation()
                });
            });
        </script>

        {% block content_script %}{% endblock %}
    </body>
</html>
