{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/sales/article/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage success_message full_width restriction_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The restriction was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width restriction_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the restriction.</p>
        </div>
    </div>

    <div id="controller_action">
        <h1>Article</h1>

        <p>Title: <b>{{ article.getMainArticle().getTitle() }}</b></p>
        <p>Author: <b>{{ article.getMainArticle().getAuthors() }}</b></p>
        <p>Publisher: <b>{{ article.getMainArticle().getPublishers() }}</b></p>
        <p>Main Barcode: <b>{{ article.getBarcode() }}</b></p>
        <br />

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
        <br style="clear:both"/>

        <table class="full_width manage" id="articleRestrictions">
            <tr>
                <th>Type</th>
                <th width="150px">Value</th>
                <th width="100px">Actions</th>
            </tr>

            {% for restriction in restrictions %}
                <tr class="item item-{{ restriction.getId() }}">
                    <td>{{ restriction.getType() }}</td>
                    <td>{{ restriction.getValue() }}</td>
                    <td class="actions">
                        {% if hasAccess('cudi_admin_sales_article_restriction', 'delete') %}
                            <a href="#" class="delete" data-id="{{ restriction.getId() }}" data-restriction="{{ restriction.getType() }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="modal hide fade" id="removeRestriction">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Delete Restriction
        </div>
        <div class="modal-body">
            <p>
                You are about to delete the following restriction <b class="restriction"></b>!<br />
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <input type="button" class="delete" value="Yes">
                <input type="button" class="cancel" data-dismiss="modal" value="No">
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item .delete').click(openRemoveModal);

            $('#restriction_type').change(function () {
                if ($('#type_' + $(this).find(':selected').val()).val() == 'boolean') {
                    $('#restriction_value_boolean').closest('.row').show();
                    $('#restriction_value_string').closest('.row').hide();
                } else {
                    $('#restriction_value_boolean').closest('.row').hide();
                    $('#restriction_value_string').closest('.row').show();
                }
            }).trigger('change');
        });

        function openRemoveModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeRestriction = $('#removeRestriction');
            removeRestriction.find('.restriction').html($(this).data('restriction'));
            var id = $this.data('id');
            removeRestriction.find('.delete').unbind('click').click(function () {
                $.post('{{ url('cudi_admin_sales_article_restriction', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.restriction_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeRestriction.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeRestriction.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.restriction_removed_error').removeClass('hide');
            $('#removeRestriction').modal('hide');
        }
    </script>
{% endblock %}
