{% extends 'career/partials/layout.twig' %}

{% block page_content %}
    <div class="container">

        <div class="pageTitleHolder">
            <h1>{{ event.getTitle(language) }}: Timetable Busses</h1>
            <div class="pageTitleDeco"></div>
        </div>
        <div class="spacer40"></div>

        <a class="button blue unfilled" href="{{ url('br_career_event',{ 'action': 'view', 'id': event.getId() }) }}">← {{ translate('Return to the event information') }}</a>

        {% if busschema %}
{# TO DO: SHOW PICTURE #}
{#            <div style="height: 750px">#}
{#                <iframe src="{{ publicPdfDir}}{{ event.getGuide() }}#zoom=Fit" width="100%" height="100%"></iframe>#}
{#            </div>#}

            <div style="height: 750px">
                <iframe src="{{ publicPdfDir}}{{ event.getBusschema() }}#zoom=Fit" width="100%" height="100%"></iframe>
            </div>

        {% endif %}

    </div>
{% endblock %}