{% extends 'career/partials/layout.twig' %}

{% block page_content %}
    <div class="container">

        <div class="pageTitleHolder">
            <h1>{{ event.getTitle(language) }}: QR code</h1>
            <div class="pageTitleDeco"></div>
        </div>
        <div class="spacer40"></div>

        <a class="button blue unfilled" href="{{ url('br_career_event',{ 'action': 'view', 'id': event.getId() }) }}">← {{ translate('Return to the event information') }}</a>

        <div style="height: 20px"></div>

        {% if entry is not null %}
            {# In other words, it is either entry or exit #}
            
            <div class="page-header">
                <h1>{{ subscription.getFirstName() }} {{ subscription.getLastName() }}</h1>
            </div>
            {% if entry %}
                <h1>Welcome</h1>
                {% if firstTime %}
                    <h3>This person is entering for the first time</h3>

                {% else %}
                    <h3>This person has entered before</h3>

                {% endif %}
                

                <div class="row" style="height: 100px; justify-content: center; align-items: center;">
                    <div class="col-sm-12" style="background-color: {{color}};border: 1px solid black">
                        <h3 style="color: {{textColor}};"> {{ subscription.getStudyString() }}</h3>
                    </div>
                </div>
            {% else  %}
                <h1>Goodbye</h1>

                <h3>This person should be exiting the building.</h3>

            {% endif %}

        {% elseif match is not null %}
            <div class="page-header">
                <h1>{{ match.getSubscription().getFirstName() }} {{ match.getSubscription().getLastName() }} ({% if duplicate %}Duplicate{% else %}New{% endif %} Match)</h1>
            </div>
            <h3>Study: {{match.getSubscription().getStudyString()}}</h3>
            {% if match.getSubscription().getSpecialization() != '' %}
                <h3>Specialization: {{ match.getSubscription().getSpecialization() }}</h3>
            {% endif %}
            <h3>E-mail: {{match.getSubscription().getEmail()}}</h3>
            {% if match.getSubscription().getPhoneNumber() != '' %}
                <h3>Phone number: {{ match.getSubscription().getPhoneNumber() }}</h3>
            {% endif %}
            <div style="height: 100px"></div>

            <a class="button blue unfilled" href="{{ url('br_career_event',{ 'action': 'overviewMatches', 'id': event.getId() }) }}">{{ translate('View your matches here') }} →</a>
        {% else %}
            <div class="page-header">
                <h1>QR code</h1>
            </div>
            <div class="row">
                
                <div class="col-sm-12">
                    <p>You have arrived on this page after following the link of the QR code. No extra information can be found on this page.</p>
                    <p>If something should happen, check whether you are correctly logged in.If everything seems correct but it still doesn't work, contact our IT team.</p>
                </div>
                <div class="col-sm-4">
                    <img src="{{qrSource}}" alt="QR code of this page generated bij an api of google">
                </div>
            </div>

        {% endif %}


    </div>
{% endblock %}