{% extends 'career/partials/layout.twig' %}

{% block page_content %}
    <div class="container">

        <div class="pageTitleHolder">
            <h1>{{ event.getTitle(language) }}</h1>
            <div class="pageTitleDeco"></div>
        </div>
        <div class="spacer40"></div>

        <div class="markdown">
            {{ hideEmail(markdown(event.getViewInformation(language.getAbbrev())))|raw }}
        </div>

        <div style="height: 100px"></div>

        {% if event.canSubscribe() %}
        <a class="button blue unfilled" href="{{ url('br_career_event',{ 'action': 'subscribe', 'id': event.getId() }) }}">{{ translate('Subscribe to this event here') }} →</a>
        {% endif %}
        {% if event.canViewMap() %}
        <a class="button blue unfilled" href="{{ url('br_career_event',{ 'action': 'companyView', 'id': event.getId() }) }}">{{ translate('Look at the attending companies here') }} →</a>
        {% endif %}
    </div>
{% endblock %}
