{% extends 'career/partials/layout.twig' %}

{% block page_content %}
    {% if not studentJob.isApproved() %}
        <div class="row">
            <div class="col-sm-12">
                <div class="flashmessage alert alert-warning fade in">
                    <a class="close" data-dismiss="alert">&times;</a>
                    {{ translate('This student job is not yet on publicly visible. It will be after it is approved by an admin.') }}
                </div>
            </div>
        </div>
    {% endif %}


    <div class="br-companyTitleHolder">
        <div style="display:inline-block; margin-right: 20px; flex-grow: 1">
            <h1 style="display:inline-block">{{ studentJob.getName() }}</h1>
            <div class="pageTitleDeco"></div>
        </div>

        {% if studentJob.getCompany().getPage().hasYear(currentAcademicYear) %}
            <a href="{{ url('br_career_company',{ 'action': 'view', 'company': studentJob.getCompany().getSlug() }) }}">
                <div class="br-companyLogoHolder">
                    <div class="br-companyLogo" style='background-image: url("/{{ logoPath }}/{{ studentJob.getCompany().getLogo() }}")'></div>
                </div>
            </a>
        {% else %}
            <div class="br-companyLogoHolder">
                <div class="br-companyLogo" style='background-image: url("/{{ logoPath }}/{{ studentJob.getCompany().getLogo() }}")'></div>
            </div>        
        {% endif %}
    </div>

    <div style="height: 40px"></div>

    <div class="br-infoHolder">
        <div class="br-markdown" style="padding: 20px 20px 0px 0px">
            {{ markdown(studentJob.getDescription())|raw }}
        </div>
        <div style="min-width: 50%; padding: 20px; ">

            <div style="display: inline-flex; background-color: whitesmoke; margin-bottom: 30px; padding: 20px" class="br-eventInfoHolder">

                {% if studentJob.getMaster() %}
                    <div style="margin-right: 20px">
                        <h6 style="margin-bottom: 0px; opacity: 0.6">{{ translate('Master') }}</h6>
                        <p class="br-eventInfoTitle">{{ studentJob.getMaster() }}</p>
                    </div>
                {% endif %}

                {% if studentJob.getSector() %}
                    <div style="margin-right: 20px">
                        <h6 style="margin-bottom: 0px; opacity: 0.6">{{ translate('Sector') }}</h6>
                        <p class="br-eventInfoTitle">{{ studentJob.getSector() }}</p>      
                    </div>          
                {% endif %}

                {% if studentJob.getLocation() %}
                    <div style="margin-right: 20px">
                        <h6 style="margin-bottom: 0px; opacity: 0.6">{{ translate('Location') }}</h6>
                        <p class="br-eventInfoTitle">{{ studentJob.getLocation() }}</p>    
                    </div>            
                {% endif %}

                {% if studentJob.getCity() %}
                    <div style="margin-right: 20px">
                        <h6 style="margin-bottom: 0px; opacity: 0.6">{{ translate('City') }}</h6>
                        <p class="br-eventInfoTitle">{{ studentJob.getCity() }}</p>              
                    </div>  
                {% endif %}                                        
            </div>
        
            <div style="background-color: whitesmoke; padding: 20px; margin-bottom: 30px">
                <h5>{{ translate('Benefits') }}</h5>
                {{ markdown(studentJob.getBenefits())|raw }}
            </div>
        
            <div style="background-color: whitesmoke; padding: 20px">
                <h5>{{ translate('Wanted Profile') }}</h5>
                {{ markdown(studentJob.getProfile())|raw }}
            </div>

        </div>
    </div>

    <div style="height: 30px"></div>

    {% if studentJob.getEmail() %}
        <a class="button blue unfilled" href="mailto:{{ (studentJob.getEmail()) }}">{{ translate('Mail') }}</a>
    {% endif %}











    {# <div class="row">
        <div class="col-sm-2">
            {% if studentJob.getCompany().getPage().hasYear(currentAcademicYear) %}
                <a href="{{ url('br_career_company',{ 'action': 'view', 'company': studentJob.getCompany().getSlug() }) }}">
            {% endif %}

            <div style="text-align: center">
                {% if studentJob.getCompany().getLogo() %}
                    <img src="/{{ logoPath }}/{{ studentJob.getCompany().getLogo() }}" alt="{{ studentJob.getCompany().getName() }}" style="width: 100%; max-width: 120px">
                {% else %}
                    <h2><center class="company-name">{{ studentJob.getCompany().getName() }}</center></h2>
                {% endif %}
            </div>

            {% if studentJob.getCompany().getPage().hasYear(currentAcademicYear) %}
                </a>
            {% endif %}

            {% if studentJob.getCompany().getLogo() %}
                <center class="company-name">{{ studentJob.getCompany().getName() }}</center>
            {% endif %}

            {% if studentJob.getMaster() %}
                <hr/>
                <center>
                    <strong>
                        {{ translate('Master') }}: {{ studentJob.getMaster() }}<br/>
                    </strong>
                </center>
            {% endif %}

            {% if studentJob.getSector() %}
                <hr/>
                <center>
                    <strong>
                        {{ translate('Sector') }}: {{ studentJob.getSector() }}<br/>
                    </strong>
                </center>
            {% endif %}

            {% if studentJob.getLocation() %}
                <hr/>
                <center>
                    <strong>
                        {{ translate('Location') }}: {{ studentJob.getLocation() }}<br/>
                    </strong>
                </center>
            {% endif %}

            {% if studentJob.getCity() %}
                <hr/>
                <center>
                    <strong>
                        {{ translate('City') }}: {{ studentJob.getCity() }}<br/>
                    </strong>
                </center>
            {% endif %}
        </div>
        <div class="col-sm-10">
            <h1>{{ studentJob.getName() }}</h1>
            <br/>
            <div class="pull-right hidden-xs" style="margin-top:-35px;">
                {{ translate('Last Updated') }}: <strong>{{ dateLocalized(studentJob.getLastUpdateDate(), 'd  MMMM y') }}</strong>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#about">
                            {{ translate('Description') }}
                        </a>
                    </div>
                    <div id="about" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {{ markdown(studentJob.getDescription())|raw }}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#benefits">
                            {{ translate('Benefits') }}
                        </a>
                    </div>
                    <div id="benefits" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ markdown(studentJob.getBenefits())|raw }}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#profile">
                            {{ translate('Wanted Profile') }}
                        </a>
                    </div>
                    <div id="profile" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ markdown(studentJob.getProfile())|raw }}
                        </div>
                    </div>
                </div>

                {% if studentJob.getEmail() %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="mailto:{{ (studentJob.getEmail()) }}" class="panel-title" data-parent="#accordion">
                                {{ translate('Mail') }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div> #}
{% endblock %}
