{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width registration_cancelled_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The registration was successfully cancelled !</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width registration_cancelled_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to cancel a registration. Is the person a member of praesidium ?</p>
        </div>
    </div>

    {% include 'secretary/admin/registration/partials/navigation.twig' %}

    {% include 'secretary/admin/registration/partials/years.twig' %}

    {% include 'secretary/admin/registration/partials/organizations.twig' %}

    <div id="controller_action">
        <div id="registration_search">
            <div style="padding: 4px; text-align: right;">
                Search:
                <select id="searchField">
                    <option value="university_identification">University Identification</option>
                    <option value="name">Name</option>
                    <option value="barcode">Barcode</option>
                </select>
                is
                <input type="text" id="searchString" size="30" />
            </div>

            <table class="full_width manage">
                <tr>
                    <th width="130px">Identification</th>
                    <th>Name</th>
                    <th width="120px">Date</th>
                    <th width="80px">Payed</th>
                    <th width="80px">Cancelled</th>
                    <th width="100px">Barcode</th>
                    <th width="120px">Organization</th>
                    <th width="70px">Action</th>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal hide fade" id="cancelRegistration">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Cancel Registration
        </div>
        <div class="modal-body">
            <p>
                You are about to cancel the following registration: <b class="registerName"></b>!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <input type="button" class="delete" value="Yes">
                <input type="button" class="cancel" data-dismiss="modal" value="No">
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#searchString').focus();
            {% if hasAccess('secretary_admin_registration', 'search') %}
            $.searchDatabase({
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                url: '{{ url('secretary_admin_registration', {'action': 'search', 'academicyear': activeAcademicYear.getCode(), 'organization': currentOrganization.getId()}) }}',
                display: function (data) {
                    $('#registration_search table').find('tr.item').remove();
                    $(data).each(function () {
                        $('#registration_search table').append(row = $('<tr>', {class: 'item item-' + this.id}));
                        row.append('<td>' + this.universityIdentification + '</td>')
                            .append('<td>' + this.name + '</td>')
                            .append('<td>' + this.date + '</td>')
                            .append('<td>' + (this.payed ? '&times;' : '') + '</td>')
                            .append('<td class="registrationCancelled">' + (this.cancelled ? '&times;' : '') + '</td>')
                            .append('<td>' + this.barcode + '</td>')
                            .append('<td>' + this.organization + '</td>')
                            .append(actions = $('<td>', {'class': 'actions'}));

                        {% if hasAccess('secretary_admin_registration', 'barcode') %}
                            actions.append('<a href="{{ url('secretary_admin_registration', {"action": "barcode"}) }}' + this.id +'/organization/{{ currentOrganization.getId() }}" class="edit">Barcode</a>');
                        {% endif %}
                        {% if hasAccess('secretary_admin_registration', 'edit') %}
                            actions.append('<a href="{{ url('secretary_admin_registration', {"action": "edit"}) }}' + this.id +'/organization/{{ currentOrganization.getId() }}" class="edit">Edit</a>');
                        {% endif %}
                        {% if hasAccess('secretary_admin_registration', 'cancel') %}
                            actions.append(deleteButton = $('<a href="#" class="delete">Cancel</a>'))
                            deleteButton.data({
                                id: this.id,
                                name: this.name,
                            });
                        {% endif %}
                    });
                    $('#registration_search table .delete').click(openCancelModal);
                    $('#registration_search table').change();
                },
                clear: function () {
                    $('#registration_search table').find('tr.item').remove();
                }
            });
            {% endif %}
            $('.delete').click(openModal);
        });

        function openCancelModal(e) {
            var $this = $(this);
            e.preventDefault();
            var cancelRegistration = $('#cancelRegistration');
            var id = $this.data('id');
            cancelRegistration.find('.registerName').html($(this).data('name'));
            cancelRegistration.find('.delete').unbind('click').click(function () {
                $.post('{{ url('secretary_admin_registration', {"action": "cancel"}) }}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.registration_cancelled_success').removeClass('hide');
                        $('tr.item item-'+id).find('td.registrationCancelled').text('&times;');
                        cancelRegistration.modal('hide');
                    } else {
<<<<<<< HEAD
                        errorRemove();
=======
                        errorCancel();
>>>>>>> f0ab568ea9d3c0bfa509387c1f61ae81d465ccfd
                    }
                }, 'json').error(errorCancel);
            });
            cancelRegistration.modal();
        }

<<<<<<< HEAD
        function errorRemove() {
=======
        function errorCancel() {
>>>>>>> f0ab568ea9d3c0bfa509387c1f61ae81d465ccfd
            $('.flashmessage').addClass('hide');
            $('.registration_cancelled_error').removeClass('hide');
            $('#cancelRegistration').modal('hide');
        }

    </script>
{% endblock %}
