{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'br/admin/order/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}

	<div class="flashmessage success_message full_width order_removed_success hide">
		<div class="title">Success</div>
		<div class="content">
			<p>The order was successfully removed!</p>
		</div>
	</div>
	<div class="flashmessage error_message full_width order_removed_error hide">
		<div class="title">Error</div>
		<div class="content">
			<p>An error occurred while trying to delete a order.</p>
		</div>
	</div>

	<div id="controller_action">

		<table class="full_width manage">
            <tr>
                <th>Company</th>
                <th>Description</th>
                <th width="150px">Date</th>
                <th width="150px">Placed By</th>
                <th width="70px">Actions</th>
            </tr>

            {% for order in paginator %}
				<tr class="item item-{{ order.getId() }}">
                    <td>{{ order.getCompany().getName() }}</td>
                    <td>{{ order.getDescription() }}</td>
                    <td>{{ order.getCreationTime().format('d/m/Y H:i') }}</td>
                    <td>{{ order.getCreationPerson().getFullName() }}</td>
                    <td class="actions">
                    	{% if hasAccess('br_admin_order', 'edit') %}
                        	<a href="{{ url('br_admin_order', {"action": "edit", "id": order.getId()}) }}" class="edit">Edit</a>
                        {% endif %}
                        {% if hasAccess('br_admin_order', 'delete') %}
                        	<a href="#" class="delete" data-id="{{ order.getId() }}" data-name="{{ order.getCompany().getName() }} ({{ order.getDescription() }})">Delete</a>
                        {% endif %}
                        {% if hasAccess('br_admin_contract', 'view') %}
                            <a href="{{ url('br_admin_contract', {"action": "view", "id": order.getContract().getId()}) }}" class="contract">Contract</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
	    </table>

		{% include 'admin/partials/paginationControl.twig' %}
	</div>

	<div class="modal hide fade" id="removeOrder">
		<div class="modal-header">
			<span>Litus Admin</span>
			/Delete Order
		</div>
		<div class="modal-body">
			<p>
				You are about to delete the following order: <b class="orderName"></b>!
				Please note that this operation cannot be undone!
			</p>
			<p>
				Are you sure you want to continue?
			</p>
			<div class="footer">
				<input type="button" class="delete" value="Yes">
				<input type="button" class="cancel" data-dismiss="modal" value="No">
			</div>
		</div>
	</div>
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('.item .delete').click(openModal);
		});

		function openModal(e) {
			var $this = $(this);

			e.preventDefault();
			var removeOrder = $('#removeOrder');
			removeOrder.find('.orderName').html($(this).data('name'));
			var id = $this.data('id');
			removeOrder.find('.delete').unbind('click').click(function () {
				$.post('{{ url('br_admin_order', {"action": "delete"})}}' + id, function (data) {
				    if (data && 'success' == data.status) {
    					$('.flashmessage').addClass('hide');
    					$('.order_removed_success').removeClass('hide');
    					$('.item-' + id).remove();
    					removeOrder.modal('hide');
    				} else {
    				    errorRemove();
    				}
				}, 'json').error(errorRemove);
			});
			removeOrder.modal();
		}

		function errorRemove() {
    		$('.flashmessage').addClass('hide');
    		$('.order_removed_error').removeClass('hide');
    		$('#removeOrder').modal('hide');
		}

	</script>
{% endblock %}