{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/order/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">

        <table class="full_width manage">
            <tr>
                <th>Company</th>
                <th>Description</th>
                <th width="80px">Auto Disc.</th>
                <th width="80px">Extra Disc.</th>
                <th width="80px">Price Excl.</th>
                <th width="100px">Date</th>
                <th width="130px">Placed By</th>
                <th width="70px">Actions</th>
            </tr>

            {% for order in paginator %}
                {% if order.getContract().isSigned() %}
                    <tr class="item item-{{ order.getId() }}">
                        <td>{{ order.getCompany().getName() }}</td>
                        <td>{{ order.getDescription() }}</td>
                        <td>{{ order.getAutoDiscountPercentage() }}%</td>
                        <td> &euro; {{ order.getDiscount() |number_format(2) }}</td>
                        <td> &euro; {{ order.getTotalCostExclusive() |number_format(2) }}</td>
                        <td>{{ order.getCreationTime().format('d/m/Y H:i') }}</td>
                        <td>{{ order.getCreationPerson().getPerson().getFullName() }}</td>
                        <td class="actions">
                            {% if hasAccess('br_admin_contract', 'view') %}
                                {% if order.hasContract() %}
                                    <a href="{{ url('br_admin_contract', {"action": "view", "id": order.getContract().getId()}) }}" class="contract">Contract</a>
                                {% else %}
                                    <a href="{{ url('br_admin_order', {"action": "generate", "id": order.getId()}) }}" class="contract">Generate Contract</a>
                                {% endif %}
                            {% endif %}
                            {% if hasAccess('br_admin_invoice', 'view') and order.getInvoice() %}
                                <a href="{{ url('br_admin_invoice', {"action": "view", "id": order.getInvoice().getId()}) }}" class="invoice">Invoice</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>
{% endblock %}
