{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'mail/admin/mailing-list/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width entry_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The entry was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width entry_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete the entry.</p>
        </div>
    </div>

    <div id="controller_action">
        <h1>List</h1>
        <p>Name: <b>{{ list.getName() }}</b></p>

        <h1>Entries</h1>

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(academicForm) }}
        {{ forms.renderForm(externalForm) }}

        <br style="clear:both">

        <table class="manage">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th width="90px">Actions</th>
            </tr>
            {% for entry in entries %}
                {% if '' != entry.getFirstName() and '' != entry.getLastName() %}
                    <tr class="item item-{{ entry.getId() }}">
                        <td>{{ entry.getFirstName() }}</td>
                        <td>{{ entry.getLastName() }}</td>
                        <td>{{ entry.getEmailAddress() }}</td>
                        <td>
                            {% if hasAccess('mail_admin_list', 'deleteEntry') %}
                                <a href="#" data-id="{{ entry.getId() }}" data-name="{{ entry.getFirstName() }} {{ entry.getLastName() }}" class="delete">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        <br />

        {{ forms.renderForm(mailingListForm) }}

        <br style="clear:both">

        <table class="manage">
            <tr>
                <th>Name</th>
                <th width="90px">Actions</th>
            </tr>
            {% for entry in entries %}
                {% if '' != entry.getEntry().getName() %}
                    <tr class="item item-{{ entry.getId() }}">
                        <td>{{ entry.getEntry().getName() }}</td>
                        <td>
                            {% if hasAccess('mail_admin_list', 'deleteEntry') %}
                                <a href="#" data-id="{{ entry.getId() }}" data-name="{{ entry.getName() }}" class="delete">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <div class="modal hide fade" id="removeEntry">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Delete Entry
        </div>
        <div class="modal-body">
            <p>
                You are about to delete the following entry: <b class="entryName"></b>!
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <button class="delete">Yes</button>
                <button class="cancel" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>

    {% if hasAccess('mail_admin_list', 'deleteAllEntries') %}
        <aside>
            <div class="sidebox">
                <div class="title">Delete All Entries</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to delete all entries!</i>
                    </p>
                    <p>
                        <a href="{{ url('mail_admin_list', {"action": "deleteAllEntries", "id": list.getId() }) }}">&rarr; Delete All Entries</a>
                    </p>
                </div>
            </div>
        </aside>
    {% endif %}
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#personSearch').typeaheadRemote(
                {
                    source: '{{ url('common_admin_academic_typeahead', {})}}',
                    items: 20,
                }
            ).change(function (e) {
                if ($(this).data('value')) {
                    $('#personId').val($(this).data('value').id);
                } else {
                    $('#personId').val('');
                }
            });
            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);

            e.preventDefault();
            var removeEntry = $('#removeEntry');
            removeEntry.find('.entryName').html($(this).data('name'));
            var id = $this.data('id');
            removeEntry.find('.delete').unbind('click').click(function () {
                $.post('{{ url('mail_admin_list', {"action": "deleteEntry"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.entry_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeEntry.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeEntry.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.entry_removed_error').removeClass('hide');
            $('#removeEntry').modal('hide');
        }
    </script>
{% endblock %}
