{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'mail/admin/mailing-list/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width list_removed_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The list was successfully removed!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width list_removed_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to delete a list.</p>
        </div>
    </div>

    <div id="controller_action">
        <div id="mail_search" style="display: none;">
            <div style="padding: 4px; text-align: right">
                Search:
                <select id="searchField">
                    <option value="name">Name</option>
                </select>
                is
                <input type="text" id="searchString" size="30" />
            </div>

            <table class="full_width manage">
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </table>
        </div>

        <div id="normal_page">
            <table class="full_width manage">
                <tr>
                    <th>Name</th>
                    <th width="70px">Actions</th>
                </tr>

                {% for list in paginator %}

                    <tr class="item item-{{ list.getId() }}">
                        <td>{{ list.getName() }}</td>
                        <td class="actions">
                            {% if hasAccess('mail_admin_list', 'entries') %}
                                <a href="{{ url('mail_admin_list', {"action": "entries", "id": list.getId()}) }}" class="mailing_list_entry_edit">Entries</a>
                            {% endif %}
                            {% if hasAccess('mail_admin_list', 'admins') and list.canBeEditedBy(person, true) %}
                                <a href="{{ url('mail_admin_list', {"action": "admins", "id": list.getId()}) }}" class="mailing_list_entry_edit">Admins</a>
                            {% endif %}
                            {% if hasAccess('mail_admin_list', 'delete') %}
                                <a href="#" class="delete" data-id="{{ list.getId() }}" data-name="{{ list.getName() }}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}

            </table>

        </div>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>

    <div class="modal hide fade" id="removeList">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Delete List
        </div>
        <div class="modal-body">
            <p>
                You are about to delete the following list: <b class="listName"></b>!
                Please note that this operation cannot be undone!
            </p>
            <p>
                Are you sure you want to continue?
            </p>
            <div class="footer">
                <input type="button" class="delete" value="Yes">
                <input type="button" class="cancel" data-dismiss="modal" value="No">
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if hasAccess('mail_admin_list', 'search') %}
            $.searchDatabase({
                defaultPage: $('#normal_page'),
                searchDiv: $('#mail_search'),
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                searchPage: '{{ url('mail_admin_list', {'action': 'manage'}) }}manage/',
                url: '{{ url('mail_admin_list', {'action': 'search'}) }}',
                display: function (data) {
                    $('#mail_search table').find('tr.item').remove();
                    $(data).each(function () {
                        $('#mail_search table').append(row = $('<tr>', {class: 'item item-' + this.id}));
                        row.append('<td>' + this.name + '</td>')
                            .append(
                                $('<td>', {'class': 'actions'})
                                    .append('<a href="{{ url('mail_admin_list', {"action": "edit"}) }}' + this.id + '" class="edit">Edit</a>')
                                    .append(deleteButton = $('<a href="#" class="delete">Delete</a>'))
                                );
                            deleteButton.data({
                                id: this.id,
                                fullname: this.fullName
                            });
                    });
                    $('#mail_search .delete').click(openModal);
                    $('#mail_search table').change();
                },
                clear: function () {
                    $('#mail_search table').find('tr.item').remove();
                }
            });
            {% endif %}

            $('.item .delete').click(openModal);
        });

        function openModal(e) {
            var $this = $(this);
            e.preventDefault();
            var removeList = $('#removeList');
            removeList.find('.fullname').html($(this).data('fullname'));
            removeList.find('.cancel').one('click', function () {
                removeList.modal('hide');
            });
            var id = $this.data('id');
            removeList.find('.delete').unbind('click').click(function () {
                $.post('{{ url('mail_admin_list', {"action": "delete"})}}' + id, function (data) {
                    if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.list_removed_success').removeClass('hide');
                        $('.item-' + id).remove();
                        removeList.modal('hide');
                    } else {
                        errorRemove();
                    }
                }, 'json').error(errorRemove);
            });
            removeList.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.list_removed_error').removeClass('hide');
            $('#removeList').modal('hide');
        }
    </script>
{% endblock %}