{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/sales/session/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if lastSession %}
                {% for amount in lastSession.getCloseRegister().getMoneyUnitAmounts() %}
                    $('#unit_{{ amount.getUnit().getId() }}').after(
                        $('<span>').css({'margin-left': '10px', 'color': '#999'}).html('({{ amount.getAmount() }})')
                    );
                {% endfor %}
                {% for device in lastSession.getCloseRegister().getBankDeviceAmounts() %}
                    $('#device_{{ device.getDevice().getId() }}').after(
                        $('<span>').css({'margin-left': '10px', 'color': '#999'}).html('({{ (device.getAmount()/100)|number_format(2) }})')
                    );
                {% endfor %}
            {% endif %}
        });
    </script>
{% endblock %}