{% extends 'sale/base.twig' %}

{% block content %}
    <div class="flashmessage alert alert-info fade" id="returnMessage">
        <a class="close">&times;</a>
        {% autoescape false %}{{ translate('You have to return this customer <b class="price"></b>.') }}{% endautoescape %}
    </div>
        <div class="flashmessage alert alert-danger fade" id="returnErrorMessage">
            <a class="close">&times;</a>
            {% autoescape false %}{{ translate('An error occured during requesting the price, maybe this article was never bought by this person.') }}{% endautoescape %}
        </div>

    <div id="return-form-container">
        {% import 'site/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        var previousReturnRequest = '';
        $(document).ready(function () {
            $('.flashmessage .close').click(function () {
                $(this).closest('.flashmessage').removeClass('in');
            });

            $('#person').keyup(function (e) {
                clearPrice();
            }).typeaheadRemote(
                {
                    source: '{{ url("common_admin_academic_typeahead")}}',
                }
            ).change(function (e) {
                if ($(this).data('value')) {
                    var personId = $(this).data('value').id;
                    $('[name="person[id]"]').val(personId);
                    searchPrice();
                    fetchBoughtItems(personId);
                } else {
                    $('[name="person[id]"]').val('');
                    clearPrice();
                }
            });

            $('#article').keyup(function (e) {
                clearPrice();
            }).typeaheadRemote(
                {
                    source: '{{ url("cudi_admin_sales_article_typeahead", {"academicyear": currentAcademicYear.getCode() })}}',
                }
            ).change(function (e) {
                if ($(this).data('value')) {
                    $('[name="article[id]"]').val($(this).data('value').id);
                    searchPrice();
                } else {
                    $('[name="article[id]"]').val('');
                    clearPrice();
                }
            });
        });

        function fetchBoughtItems(personId) {
            console.log('Fetching bought items for person: ', personId);
            let $url = '{{ url('cudi_sale_sale', {'action': 'getBoughtItems'}) }}' + personId;
            console.log('URL: ', $url);
            $.ajax({
                url: $url,
                method: 'GET',
                success: function (data) {
                    const parsedData = JSON.parse(data.trim());
                    const itemsArray = parsedData.items;
                    console.log('Bought items:', itemsArray);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching bought items:', error);
                }
            });
        }

        function searchPrice() {
            if (previousReturnRequest != $('[name="article[id]"]').val() + '_' + $('[name="person[id]"]')) {
                clearPrice();
            }

            {% if hasAccess('cudi_sale_sale', 'returnPrice') %}
            if ($('[name="article[id]"]').val() != '' && $('[name="person[id]"]') != '') {
                $('#return-form-container form').ajaxSubmit({
                    url: '{{ url('cudi_sale_sale', {'action': 'returnPrice', "session": session.getId()}) }}',
                    success: function (data) {
                        if (data !== undefined && data.price) {
                            previousReturnRequest = $('[name="article[id]"]').val() + '_' + $('[name="person[id]"]');
                            $('#returnMessage .price').html('&euro; ' + (data.price/100).toFixed(2));
                            $('#returnMessage').addClass('in');
                            $('#returnErrorMessage').removeClass('in');
                        } else {
                            clearPrice();
                            $('#returnErrorMessage').addClass('in');
                        }
                    },
                    error: function(a, b, c) {
                        clearPrice();
                        $('#returnErrorMessage').addClass('in');
                    },
                    dataType: 'json'
                });
            }
            {% endif %}
        }

        function clearPrice() {
            $('#returnErrorMessage').removeClass('in');
            $('#returnMessage').removeClass('in');
        }
    </script>
{% endblock %}
