<header id="controller_header">
    <div class="title"><span class="event">Corporate Relations Event: {{ event.getTitle() }}</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('br_admin_event', 'edit') %}
                <li><a {% if 'edit' == getParam('action') and not getParam('event') %} class="active" {% endif %} href="{{ url('br_admin_event', {"action": "edit", "id": event.getId()}) }}">Edit Event</a></li>
            {% endif %}
            {% if hasAccess('br_admin_event_company', 'manage') %}
                <li><a {% if getParam('event') and ('manage' == getParam('action') or 'edit' == getParam('action') or 'addAttendee' == getParam('action')) %} class="active" {% endif %} href="{{ url('br_admin_event_company', {"action": "manage", "event": event.getId()}) }}">Companies</a></li>
            {% endif %}
            {% if hasAccess('br_admin_event_location', 'manage') %}
                <li><a {% if getParam('event') and ('manage' == getParam('action')) %} class="active" {% endif %} href="{{ url('br_admin_event_location', {"action": "manage", "event": event.getId()}) }}">Location</a></li>
            {% endif %}
            {% if hasAccess('br_admin_event_subscription', 'overview') %}
                <li><a {% if getParam('event') and ('overview' == getParam('action')) %} class="active" {% endif %} href="{{ url('br_admin_event_subscription', {"action": "overview", "event": event.getId()}) }}">Subscription</a></li>
            {% endif %}
        </ul>
    </nav>
</header>