{% extends 'career/partials/layout.twig' %}

{% block page_content %}
    <h1>{{ translate('Vacancies') }}</h1>
    <div class="row">
        <div class="col-md-4">
            {% do vacancySearchForm.prepare() %}
            {{ form().openTag(vacancySearchForm)|raw }}
                <div class="well">
                    <h4>{{ translate('Arrange By') }}</h4>
                    <div class="form-group">
                        <div class="input-group">
                            {{ translate(formElement(vacancySearchForm.get('searchType')))|raw }}
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">{{ translate('Search') }}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="well">
                    <h4>{{ translate('Sector') }}</h4>
                    <div class="form-group">
                        <div class="input-group">
                            {{ formElement(vacancySearchForm.get('sector'))|raw }}
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">{{ translate('Search') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{ form().closeTag()|raw }}
        </div>
        <div class="col-md-8">
            <table style="cursor:pointer;" data-provides="rowlink" class="table table-hover full-width">
                {% for vacancy in paginator %}
                    <tr>
                        <td width="120">
                            <a href="{{ url('br_career_vacancy', {'action': 'view', 'id': vacancy.getId() }) }}">
                                {% if vacancy.getCompany().getLogo() is not empty %}
                                    <img width="120" src="/{{ logoPath }}/{{ vacancy.getCompany().getLogo() }}" alt="{{ vacancy.getCompany().getName() }}">
                                {% else %}
                                    <center class="company-name">{{ vacancy.getCompany().getName() }}</center>
                                {% endif %}
                            </a>
                        </td>

                        <td>
                            <strong>{{ vacancy.getCompany().getName() }} - {{ vacancy.getName() }}</strong>
                            <br/>
                            <div class="pull-right hidden-xs">{{ translate('Last updated') }}: <strong>{{ dateLocalized(vacancy.getLastUpdateDate(), 'd  MMMM y') }}</strong></div>
                            <br/>{% autoescape false %}{{ vacancy.getSummary(200) }}{% endautoescape %}
                        </td>
                    </tr>
                {% else %}
                    <div class="flashmessage alert alert-warning fade in">
                        <a class="close" data-dismiss="alert">&times;</a>
                        {{ translate('No items found') }}
                    </div>
                {% endfor %}
            </table>

            {% include 'site/partials/paginationControl.twig' %}
        </div>
    </div>
{% endblock %}
