{% extends 'admin/base.twig' %}

{% block content %}
	<header id="controller_header">
	    <div class="title"><span class="dashboard">Dashboard</span></div>
	</header>
	
	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
        {% if hasAccess('admin_prof_action', 'manage') and profActions|length > 0 %}
            <h1>Last Prof Actions</h1>
    	    <table>
    	        <tr>
    	            <th>Person</th>
    	            <th width="160px">Action</th>
    	            <th width="150px">Date</th>
    	            <th width="140px">Actions</th>
    	        </tr>
    	        
    	        {% for action in profActions %}
    	            <tr class="item">
    	                <td>{{ action.getPerson().getFullName() }}</td>
    	                <td>{{ action.getEntityName()|capitalize }} {{ action.getAction()|capitalize }}</td>
    	                <td>{{ action.getTimestamp().format('d/m/Y H:i') }}</td>
    	                <td>
    	                    {% if hasAccess('admin_prof_action', 'edit') %}
    	                        <a href="{{ url('admin_prof_action', {"action": "view", "id": action.getId()}) }}" class="view">View</a>
    	                    {% endif %}
    	                </td>
    	            </tr>
    	        {% endfor %}
    	    </table>
	    {% endif %}
	</div>
	
	<aside>
		<div class="sidebox">
	        <div class="title">Versions</div>
	        <div class="content">
	        	<p>
	        		<b>PHP</b><br />
	        		{{ versions.php }}
	        	</p>
	        	<p>
	            	<b>ZendFramework</b><br />
	            	{{ versions.zf }}
	            </p>
	            <p>
	            	<b>Doctrine</b><br />
	            	{{ versions.doctrine }}
	            </p>
	        </div>
	    </div>
	</aside>
{% endblock %}
