<ul class="nav nav-tabs hidden-xs">
    {% if hasAccess('cudi_retail', 'overview') %}
        <li {% if getParam('action') == 'overview' %}class="active"{% endif %}>
            <a href="{{ url('cudi_retail', {'action': 'overview'}) }}">
                {{ translate('Overview') }}
            </a>
        </li>
    {% endif %}

    {% if hasAccess('cudi_retail', 'myDeals') %}
        <li {% if getParam('action') == 'myDeals' %}class="active"{% endif %}>
            <a href="{{ url('cudi_retail', {'action': 'myDeals'}) }}">
                {{ translate('My deals') }}
            </a>
        </li>
    {% endif %}

    {% if hasAccess('cudi_retail', 'myRetails') %}
        <li {% if getParam('action') == 'myRetails' %}class="active"{% endif %}>
            <a href="{{ url('cudi_retail', {'action': 'myRetails'}) }}">
                {{ translate('My retails') }}
            </a>
        </li>
    {% endif %}
</ul>
