{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'syllabus/admin/subject/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    {% include 'syllabus/admin/subject/comment/partials/years.twig' %}

    <div id="controller_action">
        <table class="full_width manage">
            <tr>
                <th width="100px">Date</th>
                <th width="40px">Read</th>
                <th width="130px">Person</th>
                <th width="220px">Subject</th>
                <th>Summary</th>
                <th width="80px">Type</th>
                <th width="70px">Action</th>
            </tr>

            {% for comment in paginator %}
                <tr class="item item-{{ comment.getId() }}">
                    <td>{{ comment.getDate().format('d/m/Y H:i') }}</td>
                    <td style="text-align: center;">{% if comment.isRead() %}&times;{% endif %}</td>
                    <td>{{ comment.getPerson().getFullName() }}</td>
                    <td>{{ comment.getSubject().getName() }}</td>
                    <td>{{ comment.getText() }}</td>
                    <td>{{ comment.getType()|capitalize }}</td>
                    <td class="actions">
                        {% if hasAccess('syllabus_admin_subject_comment', 'reply') %}
                            <a href="{{ url('syllabus_admin_subject_comment', {'action': 'reply', 'id': comment.getId()}) }}" class="view">View</a>
                        {% endif %}
                        {% if hasAccess('syllabus_admin_subject_comment', 'subject') %}
                            <a href="{{ url('syllabus_admin_subject_comment', {'action': 'subject', 'id': comment.getSubject().getId()}) }}" class="view">View All</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>
{% endblock %}
