{% extends 'common/layout.twig' %}

{% block content %}
    <h1>{{ translator().translate('Gallery') }}</h1>

    <h2>{{ album.getTitle(language) }}</h2>

    <div id="images">
        {% for photo in album.getPhotos() %}
            {% if not photo.isCensored() %}
                <a href="{{ filePath }}/{{ photo.getAlbum().getId() }}{{ photo.getFilePath() }}" class="imageGallery"><img src="{{ filePath }}/{{ photo.getAlbum().getId() }}{{ photo.getThumbPath() }}"></a>
            {% endif %}
        {% endfor %}
    </div>
    <br class="clear" />
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
    	$(document).ready(function () {
    		$('#images').imageGallery({
    		    closeText				: '{{ translator().translate('Close') }}',
    		    previousText			: '{{ translator().translate('Previous') }}',
    		    playText				: '',
    		    pauzeText				: '',
    		    nextText				: '{{ translator().translate('Next') }}',
    			zIndex					: 20000
    		});
    	});
    </script>
{% endblock %}
