{% extends 'corporate/partials/vacancy.twig' %}

{% block content %}
    {#TODO add translations#}
    <h1>Jobs</h1>
    <a class="btn btn-default" href="{{ url('br_corporate_vacancy', {'action': 'add'}) }}">Voeg Andere Job Toe</a>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover full-width">
                {% for vacancy in paginator %}
                    {% if not vacancy.canShow() == false %}
                    <tr>
                        <td width="120">
                            <a href="{{ url('br_career_vacancy', {'action': 'view', 'id': vacancy.getId() }) }}">
                                {% if vacancy.getCompany().getLogo() is not empty %}
                                    <img width="120" src="/{{ logoPath }}/{{ vacancy.getCompany().getLogo() }}" alt="{{ vacancy.getCompany().getName() }}">
                                {% else %}
                                    <center class="company-name">{{ vacancy.getCompany().getName() }}</center>
                                {% endif %}
                            </a>
                        </td>

                        <td>
                            <strong>{{ vacancy.getCompany().getName() }} - {{ vacancy.getName() }}</strong>
                            <br/>
                            <div class="pull-right hidden-xs">{{ translate('Last Updated') }}: <strong>{{ dateLocalized(vacancy.getLastUpdateDate(), 'd  MMMM y') }}</strong></div>
                            <br/>
                            {{ vacancy.getSummary(200)|replace({'<p>': '', '</p>': '', '<br>': '', '<br />': ''})|raw }}
                        </td>
                        <td width="90">
                            <br>
                            <div class="col-md-2">
                                <table>
                                    <tr>
                                        <td><a class="btn btn-default" href="{{ url('br_career_vacancy', {'action': 'view', 'id': vacancy.getId() }) }}">View</a></td>
                                        <td><a class="btn btn-default" href="{{ url('br_corporate_vacancy', {'action': 'edit', 'id': vacancy.getId()}) }}">Edit</a></td>
                                        <td><a class="btn btn-default" href="{{ url('br_corporate_vacancy', {'action': 'delete', 'id': vacancy.getId()}) }}">Delete</a></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endif %}
                {% else %}
                    <div class="flashmessage alert alert-warning fade in">
                        <a class="close" data-dismiss="alert">&times;</a>
                        {{ translate('No items found') }}
                    </div>
                {% endfor %}
            </table>

            {% include 'site/partials/paginationControl.twig' %}
        </div>
    </div>
{% endblock %}
