{% block page_content %}
    <div class="row">
        <div class="col-sm-2">
            {% if vacancy.getCompany().getPage().hasYear(currentAcademicYear) %}
                <a href="{{ url('br_career_company',{ 'action': 'view', 'company': vacancy.getCompany().getSlug() }) }}">
            {% endif %}

            <div style="text-align: center">
                {% if vacancy.getCompany().getLogo() %}
                    <img src="/{{ logoPath }}/{{ vacancy.getCompany().getLogo() }}" alt="{{ vacancy.getCompany().getName() }}" style="width: 100%; max-width: 120px">
                {% else %}
                    <h2><center class="company-name">{{ vacancy.getCompany().getName() }}</center></h2>
                {% endif %}
            </div>

            {% if vacancy.getCompany().getPage().hasYear(currentAcademicYear) %}
                </a>
            {% endif %}

            {% if vacancy.getCompany().getLogo() %}
                <center class="company-name">{{ vacancy.getCompany().getName() }}</center>
            {% endif %}

            {% if vacancy.getSector() %}
                <hr/>
                <center>
                    <strong>
                        {{ translate('Sector') }}: {{ vacancy.getSector() }}<br/>
                    </strong>
                </center>
            {% endif %}

            {% if vacancy.getCity() %}
                <hr/>
                <center>
                    <strong>
                        {{ translate('Location') }}: {{ vacancy.getCity() }}<br/>
                    </strong>
                </center>
            {% endif %}
        </div>
        <div class="col-sm-10">
            <h1>{{ vacancy.getName() }}</h1>
            <br/>
            <div class="pull-right hidden-xs" style="margin-top:-35px;">
                {{ translate('Last Updated') }}: <strong>{{ dateLocalized(vacancy.getLastUpdateDate(), 'd  MMMM y') }}</strong>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#about">
                            {{ translate('Description') }}
                        </a>
                    </div>
                    <div id="about" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {% autoescape false %}
                                {{ markdown(vacancy.getDescription()) }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#benefits">
                            {{ translate('Benefits') }}
                        </a>
                    </div>
                    <div id="benefits" class="panel-collapse collapse">
                        <div class="panel-body">
                            {% autoescape false %}
                                {{ markdown(vacancy.getBenefits()) }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#profile">
                            {{ translate('Wanted Profile') }}
                        </a>
                    </div>
                    <div id="profile" class="panel-collapse collapse">
                        <div class="panel-body">
                            {% autoescape false %}
                                {{ markdown(vacancy.getProfile()) }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#contact">
                            {{ translate('Contact Information') }}
                        </a>
                    </div>
                    <div id="contact" class="panel-collapse collapse">
                        <div class="panel-body">
                            {% autoescape false %}
                                {{ markdown(vacancy.getContact()) }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
