{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_stock/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}
	
	<div id="controller_action">
		{% autoescape false %}
			{{ form }}
		{% endautoescape %}
		
		<br style="clear:both"/>
			
		<h1>Last deliveries</h1>
		<table>
	    
	        <tr>
	            <th>Date</th>
	            <th>Article</th>
	            <th>Number</th>
	            <th>Price</th>
				<th>Actions</th>
	        </tr>
	        
	        {% for delivery in deliveries %}
	
	            <tr>
	                <td>{{ delivery.getDate().format('Y-m-d H:i:s') }}</td>
	                <td>{{ delivery.getArticle().getTitle() }}</td>
	                <td>{{ delivery.getNumber() }}</td>
	                <td>&euro; {{ (delivery.getPrice()/100)|number_format(2) }}</td>
					<td>
					    {% if hasAccess('admin_delivery', 'delete') %}
    						<a href="{{ url("admin_delivery", {"action": "delete", "id": delivery.getId()}) }}" class="delete">Delete</a>
    					{% endif %}
					</td>
	            </tr>
	    
	        {% endfor %}
	    </table>
	</div>
	
	<aside>
		{% if hasAccess('admin_delivery', 'manage') %}
    		<div class="sidebox">
    	        <div class="title">Overview deliveries</div>
    	       	<div class="content">
    		    	<p>
    		        	<i>Please hit the link below to view all deliveries!</i>
    		        </p>
    		        <p>
    		           	<a href="{{ url("admin_delivery", {"action": "manage"}) }}">&rarr; Overview Deliveries</a>
    		        </p>
    		    </div>
    		</div>
		{% endif %}
	</aside>
{% endblock %}