{% extends 'sale/base.twig' %}
{% set showNav = 0 %}

{% block content %}
    <div class="alert alert-danger d-none" id="addQueueError">
        There are no bookings for you.
    </div>
    <div class="alert alert-success d-none" id="addQueueSuccess">
        You have been succesfully added to the queue. Your queue number is: <strong class="queueNumber"></strong>.
    </div>
    <div class="alert alert-danger fade show" id="socketError">
        An error occurred while connecting to the server.
    </div>

    <div class="row">
        <div class="col-sm-8">
            {{ form(form) }}
        </div>
        <div class="col-sm-4">
            <h5 class="page-header" style="margin-top: 0">What if sign in doesn't work?</h5>
            <p>Make sure you are registered on our website and you have made some reservations.</p>
            <p>These reservations have to be assigned to you before you can buy them, the status of your reservations can be viewed on our website.</p>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#username').keypress(function(e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    signIn();
                }
            });
            $('#submit').click(function() {
                signIn();
            });

            $.webSocket(
                {
                    name: 'signInQueue',
                    url: '{{ socketUrl }}',
                    open: function (e) {
                        $('#socketError').addClass('d-none').removeClass('fade show');
                        $.webSocket('send', {name: 'signInQueue', text:
                            JSON.stringify({
                                'command': 'initialize',
                                'session': '{{ session.getId() }}',
                                'key': '{{ key }}',
                                'authSession': '{{ authSession.getId() }}',
                            })
                        });
                    },
                    message: function (e, data) {
                        if (data.queueNumber) {
                            $('#addQueueError').addClass('d-none').removeClass('fade show');
                            $('#addQueueSuccess').addClass('fade show').removeClass('d-none')
                                .find('.queueNumber')
                                .html(data.queueNumber);

                            $('#username').val('');
                        } else if (data.error) {
                            if (data.error == 'person') {
                                $('#addQueueSuccess').addClass('d-none').removeClass('fade show');
                                $('#addQueueError').addClass('fade show').removeClass('d-none')
                                    .html('The person you entered does not exist.');
                            } else if (data.error == 'noBookings') {
                                $('#addQueueSuccess').addClass('d-none').removeClass('fade show');
                                $('#addQueueError').addClass('fade show').removeClass('d-none')
                                    .html('There are no bookings for you.');
                            } else if (data.error == 'rejected') {
                                $('#addQueueSuccess').addClass('d-none').removeClass('fade show');
                                $('#addQueueError').addClass('fade show').removeClass('d-none')
                                    .html('You cannot buy your articles during this sale session.');
                            } else {
                                $('#addQueueSuccess').addClass('d-none').removeClass('fade show');
                                $('#addQueueError').addClass('fade show').removeClass('d-none')
                                    .html('An unexpected error occured.')
                            }

                            $('#username').val('');
                        }

                        $('.alert').each(function () {
                            var $this = $(this);
                            clearTimeout($this.data('timer'));

                            var timer = setTimeout(function () {
                                $this.addClass('d-none').removeClass('fade show');
                            }, 5000);

                            $this.data('timer', timer);
                        });
                    },
                    error: function (e) {
                        $('#socketError').addClass('fade show').removeClass('d-none');
                    }
                }
            );
        });

        function signIn() {
            $.webSocket('send', {name: 'signInQueue', text:
                JSON.stringify({
                    'command': 'action',
                    'action': 'signIn',
                    'universityIdentification': $('#username').val(),
                })
            });

            $('#username').select();
        }
    </script>
{% endblock %}
