{% extends 'sale/base_no_nav.twig' %}

{% block content %}
    <div class="flashmessage alert alert-danger fade" id="add_queue_error">
        <a class="close">&times;</a>
        <div class="content">
            There are no bookings for you.
        </div>
    </div>

    <div class="flashmessage alert alert-success fade" id="add_queue_success">
        <a class="close">&times;</a>
        You have been succesfully added to the queue. Your queue number is: <strong class="queueNumber"></strong>.
    </div>

    <div class="flashmessage alert alert-danger fade" id="socket_error">
        <a class="close">&times;</a>
        <div class="content">
            <p>The connection with the server is down.</p>
        </div>
    </div>

    <div class="fullwidth flashmessage alert alert-danger fade" id="timeslot_error">
        <a class="close">&times;</a>
        <div class="content">
            <p>Not registered to current timeslot!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8">
            {% if form is defined %}
                {% do form.prepare() %}
                {% autoescape false %}
                    {{ form().openTag(form) }}
                    {{ formElement(form.get('csrf')) }}

                    <div class="form-group  required">
                        <label class="col-sm-4 control-label" for="username">
                            {{ form.get('username').getLabel() }}
                        </label>
                        <div class="col-sm-8">
                            {{ formElement(form.get('username')) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            {{ formElement(form.get('submit')) }}
                            {{ formElement(form.get('cancel')) }}
                        </div>
                    </div>

                    {{ form().closeTag() }}
                {% endautoescape %}
            {% endif %}
        </div>
        <div class="col-xs-3">
            <h5 class="page-header" style="margin-top: 0">What if sign in doesn't work?</h5>
            <p>Make sure you are registered on our website and you have made some reservations.</p>
            <p>These reservations have to be assigned to you before you can buy them, the status of your reservations can be viewed on our website.</p>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.flashmessage .close').click(function () {
                $(this).closest('.flashmessage').removeClass('in');
            });

            $('.flashmessage:not(#invalidSession)').autoHideFlashMessages({speed: 0, timeOut: 0});

            $('#username').keypress(function(e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    signIn();
                }
            });
            $('#signin').click(function() {
                signIn();
            });

            $.webSocket(
                {
                    name: 'signInQueue',
                    url: '{{ socketUrl }}',
                    open: function (e) {
                        $('#socket_error').removeClass('in');
                        $.webSocket('send', {name: 'signInQueue', text:
                            JSON.stringify({
                                'command': 'initialize',
                                'session': '{{ session.getId() }}',
                                'key': '{{ key }}',
                                'authSession': '{{ authSession.getId() }}',
                            })
                        });
                    },
                    message: function (e, data) {
                        if (data.queueNumber) {
                            $('#add_queue_error').removeClass('in');
                            $('#add_queue_success').addClass('in')
                                .find('.queueNumber').html(data.queueNumber);
                            $('#username').val('');
                        } else if (data.error) {
                            if ('person' == data.error) {
                                $('#add_queue_success').removeClass('in');
                                $('#add_queue_error').addClass('in')
                                    .find('.content').html('The person you entered does not exist.');
                            } else if ('noBookings' == data.error) {
                                $('#add_queue_success').removeClass('in');
                                $('#add_queue_error').addClass('in')
                                    .find('.content').html('You have a timeslot, but there are currently no articles assigned to you. Please come back later, when your reserved articles are also assigned to you in your VTK profile.');
                            } else if ('rejected' == data.error) {
                                $('#add_queue_success').removeClass('in');
                                $('#add_queue_error').addClass('in')
                                    .find('.content').html('You cannot buy your articles during this sale session.');
                            } else if ('no_timeslot' == data.error) {
                                $('#add_queue_success').removeClass('in');
                                $('#add_queue_error').removeClass('in');
                                $('#timeslot_error').addClass('in')
                                    .find('.content').html('You must register a timeslot!');
                            } else {
                                $('#add_queue_success').removeClass('in');
                                $('#add_queue_error').addClass('in')
                                    .find('.content').html('An unexpected error occured.')
                            }
                            $('#username').val('');
                        }
                        $('.flashmessage').autoHideFlashMessages();
                    },
                    error: function (e) {
                        $('#socket_error').addClass('in');
                    }
                }
            );
        });

        function signIn() {
            $.webSocket('send', {name: 'signInQueue', text:
                JSON.stringify({
                    'command': 'action',
                    'action': 'signIn',
                    'universityIdentification': $('#username').val(),
                })
            });
            $('#username').select();
        }
    </script>
{% endblock %}
