{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_article/partials/navigation.twig' %}
		
	{% include 'admin/partials/flashMessenger.twig' %}
	<div class="flashmessage success_message full_width file_removed_success hide">
		<div class="title">Success</div>
		<div class="content">
			<p>The file was successfully removed!</p>
		</div>
	</div>
	<div class="flashmessage error_message full_width file_removed_error hide">
		<div class="title">Error</div>
		<div class="content">
			<p>An error occurred while trying to delete an file.</p>
		</div>
	</div>
	<div class="flashmessage success_message full_width file_uploaded hide">
		<div class="title">Success</div>
		<div class="content">
			<p>The file was succesfully uploaded.</p>
		</div>
	</div>

	<div id="controller_action">
		<h1>Article</h1>
		
		<p>Title: <b>{{ article.getTitle() }}</b></p>
		<p>Author: <b>{{ article.getAuthors() }}</b></p>
		<p>Publisher: <b>{{ article.getPublishers() }}</b></p>
		<br />
		
		{% if hasAccess('admin_article_file', 'upload') %}
    		{% autoescape false %}
    			{{ form }}
    		{% endautoescape %}
    		<br style="clear:both"/>
    	{% endif %}
		
		<table class="full_width" id="articleFiles">
	        <tr>
	            <th width="200px">Name</th>
	            <th>Description</th>
	            <th width="210px">Action</th>
	        </tr>
	
	        {% for mapping in mappings %}
	            <tr class="item">
	                <td>{{ mapping.getFile().getName() }}</td>
	                <td>{{ mapping.getFile().getDescription() }}</td>
					<td>
					    {% if hasAccess('admin_article_file', 'download') %}
    						<a href="#" class="downloadFile view" data-file="{{ url('admin_article_file', {"action": "download", "id": mapping.getId()}) }}">Download</a>
    					{% endif %}
    					{% if hasAccess('admin_article_file', 'edit') %}
    						<a href="{{ url('admin_article_file', {"action": "edit", "id": mapping.getId()}) }}" class="edit">Edit</a>
    					{% endif %}
    					{% if hasAccess('admin_article_file', 'delete') %}
		                    <a href="#" class="delete" data-id="{{ mapping.getId() }}" data-name="{{ mapping.getFile().getName() }}" data-description="{{ mapping.getFile().getDescription() }}">Delete</a>
		                {% endif %}
	                </td>
	            </tr>
	        {% endfor %}
	    </table>
	</div>
	
	<div class="modal hide fade" id="removeFile">
		<div class="modal-header">
			<span>Litus Admin</span>
			/File Delete
		</div>
		<div class="modal-body">
			<p>
				You are about to delete the following file: <b class="fileName"></b> (<b class="fileDescription"></b>)!
				Please note that this operation cannot be undone!
			</p>
			<p>
				Are you sure you want to continue?
			</p>
			<div class="footer">
				<input type="button" class="delete" value="Yes">
				<input type="button" class="cancel" data-dismiss="modal" value="No">
			</div>
		</div>
	</div>
	
	<div class="modal hide fade" id="progressModal">
		<div class="modal-header">
			<span>Litus Admin</span>
			/File Upload
		</div>
		<div class="modal-body">
			<p>
				Your files are being uploaded.
			</p>
			<p>
				<div class="progress progress-striped active">
				    <div class="bar" style="width: 100%;"></div>
				</div>
			</p>
		</div>
	</div>
{% endblock %}

{% block controller_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('.downloadFile').each(function () {
				$(this).downloadFile($(this).data('file'));
			});
			
			$('#uploadFile').formUploadProgress({
			    url: '{{ url('admin_article_file', {"action": "progress"}) }}',
			    name: '{{ uploadProgressId }}',
			    uploadProgressName: '{{ uploadProgressName }}',
			    interval: 1000,
			    onProgress: function (data) {
			        $('#progressModal').find('.bar').width(((data.bytes_processed / data.content_length) * 100) + '%');
			    },
			    onSubmitted: function (data) {
			        if (data.errors) {
			            $('.file_uploaded').hide();
    			        $('#uploadFile').find('ul.errors').remove();
    			        for(element in data.errors) {
    			            var list = $('<ul>', {class: 'errors'})
    			            for (error in data[element])
    			                list.append($('<li>').html(data[element][error]));
    			            $('#uploadFile').find('#' + element).parent().parent().after(list);
    			        }
    			    } else if (data.info) {
    			        $('#uploadFile').resetForm();
    			        $('.file_uploaded').show();
    			        
    			        var item = $('<tr>', {class: 'item'});
    			        item.append(
    			            $('<td>').html(data.info.name),
    			            $('<td>').html(data.info.description),
    			            actions = $('<td>')
    			        );
    			        
    			        {% if hasAccess('admin_article_file', 'download') %}
    			            actions.append(downloadFile = $('<a>', {class: 'downloadFile view'}).html('Download'));
    			            downloadFile.downloadFile('{{ url('admin_article_file', {"action": "download"}) }}/' + data.info.id);
    			        {% endif %}
    			        {% if hasAccess('admin_article_file', 'delete') %}
    			            actions.append(deleteFile = $('<a>', {class: 'delete'}).html('Delete'));
    			            deleteFile.data(data.info)
    			                .click(openDeleteModal);
    			        {% endif %}
    			        
    			        $('#articleFiles').append(item);
    			    }
    			    var progressModal = $('#progressModal');
    			    progressModal.permanentModal('hide');
			    },
			    onSubmit: function () {
			        $('.file_uploaded').hide();
			        var progressModal = $('#progressModal');
			        progressModal.permanentModal('open');
			    },
			    onError: function () {
			        $('.file_uploaded').hide();
			        var progressModal = $('#progressModal');
			        progressModal.permanentModal('hide');
			    }
			});
			
			$('.item .delete').click(openDeleteModal);
		});
		
		function openDeleteModal(e) {
			var $this = $(this);
			
			e.preventDefault();
			var removeFile = $('#removeFile');
			removeFile.find('.fileName').html($(this).data('name'));
			removeFile.find('.fileDescription').html($(this).data('description'));
			removeFile.find('.delete').unbind('click').click(function () {
				$.post('{{ url('admin_article_file', {"action": "delete"})}}/' + $this.data('id'), function  (data) {
				    if (data && 'success' == data.status) {
    					$('.flashmessage').addClass('hide');
    					$('.file_removed_success').removeClass('hide');
    					$this.parent().parent().remove();
    					removeFile.modal('hide');
    				} else {
    				    errorRemove();
    				}
				}, 'json').error(errorRemove);
			});
			removeFile.modal();
		}
		
		function errorRemove() {
		    $('.flashmessage').addClass('hide');
			$('.file_removed_error').removeClass('hide');
		    $('#removeFile').modal('hide');
		}
	</script>
{% endblock %}