{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'form/admin/form/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="flashmessage success_message full_width entries_cleared_success hide">
        <div class="title">Success</div>
        <div class="content">
            <p>The entries were successfully cleared!</p>
        </div>
    </div>
    <div class="flashmessage error_message full_width entries_cleared_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while trying to clear the entries.</p>
        </div>
    </div>

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>

    <aside>
        {% if hasAccess('form_admin_form_field', 'manage') %}
            <div class="sidebox">
                <div class="title">Manage Fields</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to manage the fields of this form!</i>
                    </p>
                    <p>
                        <a href="{{ url('form_admin_form_field', {"action": "manage", "id": formSpecification.getId()}) }}">&rarr; Edit Fields</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('form_admin_group', 'edit') and group is not null %}
            <div class="sidebox">
                <div class="title">Edit Group</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to edit the group of this form!</i>
                    </p>
                    <p>
                        <a href="{{ url('form_admin_group', {"action": "edit", "id": group.getGroup().getId()}) }}">&rarr; Edit Group</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('form_admin_form_viewer', 'manage') %}
            <div class="sidebox">
                <div class="title">Manage View Access</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to manage who can view the results of this form!</i>
                    </p>
                    <p>
                        <a href="{{ url('form_admin_form_viewer', {"action": "manage", "id": formSpecification.getId()}) }}">&rarr; Edit Result Viewers</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('form_view', 'index') %}
            <div class="sidebox">
                <div class="title">View Form</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to view this form!</i>
                    </p>
                    <p>
                        <a href="{{ url('form_view', {"action": "index", "id": formSpecification.getId()}) }}">&rarr; View Form</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('form_manage', 'view') and formSpecification.canBeViewedBy(authenticatedPerson) %}
            <div class="sidebox">
                <div class="title">View Results</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to view the results of this form!</i>
                    </p>
                    <p>
                        <a href="{{ url('form_manage', {"action": "view", "id": formSpecification.getId()}) }}">&rarr; View Results</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('form_admin_form', 'clear') and formSpecification.canBeViewedBy(authenticatedPerson) %}
            <div class="sidebox">
                <div class="title">Clear Entries</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to clear the entries of this form!</i>
                    </p>
                    <p>
                        <a id="clearEntries" href="#">&rarr; Clear Entries</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>

    <div class="modal fade" id="clearEntriesModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Litus Admin</span>
                    /Clear Entries
                </div>
                <div class="modal-body">
                    <p>
                        You are about to clear all entries of this form...
                        Please note that this operation cannot be undone!
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                    <div class="footer">
                        <button class="delete">Yes</button>
                        <button class="cancel" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#languages a:first').click();
            $('#mail_form\\[languages\\] a:first').click();
            $('#reminder_mail_form\\[languages\\] a:first').click();
            $('textarea.md').gollum();
            $('#mail').bind('click change', toggleMail);
            toggleMail();
            $('#reminder_mail').click(toggleReminder);
            toggleReminder();
            $('#send_guest_login_mail').change(toggleGuestMail);

            $('#clearEntries').click(openModal);
        });

        function openModal(e) {
            e.preventDefault();
            var clearEntriesModal = $('#clearEntriesModal');
            clearEntriesModal.find('.delete').unbind('click').click(function () {
                $.post('{{ url('form_admin_form', {"action": "clear", "id": formSpecification.getId()}) }}', function (data) {
                        if (data && 'success' == data.status) {
                        $('.flashmessage').addClass('hide');
                        $('.entries_cleared_success').removeClass('hide');
                        clearEntriesModal.modal('hide');
                    } else {
                        errorRemove();
                    }
                }
                , 'json'
                ).error(errorRemove);
            });
            clearEntriesModal.modal();
        }

        function errorRemove() {
            $('.flashmessage').addClass('hide');
            $('.entries_cleared_error').removeClass('hide');
            $('#clearEntriesModal').modal('hide');
        }

        function toggleMail() {
            if ($('#mail').is(':checked')) {
                $('#mail_form').show();
            } else {
                $('#mail_form').hide();
                $('#send_guest_login_mail').prop('checked', false);
            }
        }

        function toggleReminder() {
            if ($('#reminder_mail').is(':checked'))
                $('#reminder_mail_form').show();
            else
                $('#reminder_mail_form').hide();
        }

        function toggleGuestMail() {
            if ($(this).is(':checked')) {
                $('#mail').prop('checked', true).change();
            }
        }
    </script>
{% endblock %}
