{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'form/admin/form/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>

    <aside>
        {% if hasAccess('form_admin_form_field', 'manage') %}
            <div class="sidebox">
                <div class="title">Manage Fields</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to manage the fields of this form!</i>
                    </p>
                    <p>
                        <a href="{{ url('form_admin_form_field', {"action": "manage", "id": formSpecification.getId()}) }}">&rarr; Edit Fields</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('form_admin_group', 'edit') and group is not null %}
            <div class="sidebox">
                <div class="title">Edit Group</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to edit the group of this form!</i>
                    </p>
                    <p>
                        <a href="{{ url('form_admin_group', {"action": "edit", "id": group.getGroup().getId()}) }}">&rarr; Edit Group</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('form_admin_form_viewer', 'manage') %}
            <div class="sidebox">
                <div class="title">Manage View Access</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to manage who can view the results of this form!</i>
                    </p>
                    <p>
                        <a href="{{ url('form_admin_form_viewer', {"action": "manage", "id": formSpecification.getId()}) }}">&rarr; Edit Result Viewers</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('form_view', 'view') %}
            <div class="sidebox">
                <div class="title">View Form</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to view this form!</i>
                    </p>
                    <p>
                        <a href="{{ url('form_view', {"action": "view", "id": formSpecification.getId()}) }}">&rarr; View Form</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('form_manage', 'view') and formSpecification.canBeViewedBy(authenticatedPerson) %}
            <div class="sidebox">
                <div class="title">View Results</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to view the results of this form!</i>
                    </p>
                    <p>
                        <a href="{{ url('form_manage', {"action": "view", "id": formSpecification.getId()}) }}">&rarr; View Results</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#languages a:first').click();
            $('#mail_languages a:first').click();
            $('#reminder_mail_languages a:first').click();
            $('textarea.md').gollum({'width': '400px'});
            $('#mail').click(toggleMail);
            toggleMail();
            $('#reminder_mail').click(toggleReminder);
            toggleReminder();
        });

        function toggleMail() {
            if ($('#mail').is(':checked'))
                $('#mail_form').show();
            else
                $('#mail_form').hide();
        }

        function toggleReminder() {
            if ($('#reminder_mail').is(':checked'))
                $('#reminder_mail_form').show();
            else
                $('#reminder_mail_form').hide();
        }
    </script>
{% endblock %}