{% extends 'ticket/base.twig' %}

{% block content %}
    <h2>{{ translate('Sale') }}</h2>
    {% import 'site/partials/form.twig' as forms %}
    {{ forms.renderForm(form) }}

    <div id="saleConfirmModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4>{{ translate('Sale Confirmation') }}</h4>
                </div>
                <div class="modal-body">
                    <div class="flashmessage alert alert-danger fade" id="sale_invalid">
                        <div class="content">
                            {{ translate('The form is not valid.') }}
                        </div>
                    </div>
                    <p>
                        {% autoescape false %}{{ translate('You are going to sell <span class="numberTickets"></span> tickets.') }}{% endautoescape %}
                    </p>
                    <p>
                        {% autoescape false %}{{ translate('Price: <b class="price"></b>') }}{% endautoescape %}
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="sale_confirm">{{ translate('Sale') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ translate('Cancel') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#is_guest').change(function () {
                if ($(this).is(':checked')) {
                    $('#person_form').hide();
                    $('#guest_form').show();
                } else {
                    $('#guest_form').hide();
                    $('#person_form').show();
                }
            }).change();

            $('#payed').change(function () {
                if ($(this).is(':checked')) {
                    $('#payid').closest('.row').show();
                } else {
                    $('#payid').closest('.row').hide();
                }
            }).change();

            $('#person_form\\[person\\]').typeaheadRemote(
                {
                    source: '{{ url("ticket_sale_person_typeahead")}}',
                }
            ).change(function (e) {
                if ($(this).data('value')) {
                    $('[name="person_form[person][id]"]').val($(this).data('value').id);
                } else {
                    $('[name="person_form[person][id]"]').val('');
                }
            });

            $('#sale_tickets').click(function (e) {
                e.preventDefault();

                $('#sale_invalid').removeClass('in');
                $('#sale_confirm').addClass('disabled').prop('disabled');

                var data = {};
                $('#ticket_sale_form input, #ticket_sale_form select').each(function () {
                    if ($(this).attr('type') == 'checkbox')
                        data[$(this).attr('name')] = $(this).is(':checked') ? 1 : 0;
                    else
                        data[$(this).attr('name')] = $(this).val();
                });

                $.ajax({
                    method: 'POST',
                    url: '{{ url('ticket_sale_index', {'action': 'validate', 'id': event.getId()}) }}',
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        if (data.status == 'success') {
                            $('#sale_invalid').removeClass('in');
                            $('#sale_confirm').removeClass('disabled').prop('disabled', false);
                            $('.form-group').removeClass('has-error');
                            $('div.help-block').remove();
                        } else {
                            $('#sale_invalid').addClass('in');
                            $('div.help-block').remove();
                            $('#ticket_sale_form').displayFormErrors(data.errors);
                        }
                    },
                    error: function () {
                        $('#sale_invalid').addClass('in');
                        $('#sale_confirm').addClass('disabled').prop('disabled');
                    }
                });

                var price = 0;
                $('.ticket_option').each(function () {
                    price += $(this).val() * $(this).data('price');
                });

                $('#saleConfirmModal .price').html('&euro; ' + (price/100).toFixed(2));
                $('#saleConfirmModal').modal();
            });

            $('#sale_confirm').click(function (e) {
                if ($(this).hasClass('disabled'))
                    return;

                $('#ticket_sale_form').submit();
            });
        });
    </script>
{% endblock %}
